<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c219e33-2391-4a53-87ab-84bb245591cd" Alias="blog" Level="3">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Tags</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="62e32b1d-d766-46b2-9075-72d5b63f0d76">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3d1bc2d3-0b18-4576-a79e-edfa0e443e6a" SortOrder="0">xMLSitemap</ContentType>
    <ContentType Key="b8cb06b0-d881-4eac-86b6-2eec4fd41551" SortOrder="1">textFile</ContentType>
    <ContentType Key="fc50e401-94b2-4817-9913-e14fe7579570" SortOrder="2">error404</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>37831e2a-7b0d-4af7-886a-aa434cdc5764</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5e8b3774-5e93-49eb-b751-d83353c0fc38</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>31</SortOrder>
    </Tab>
  </Tabs>
</ContentType>