<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d09b0ec-ba6e-4cb3-8e48-1b397b4c0661" Alias="checkOut" Level="3">
  <Info>
    <Name>Checkout</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Basket</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Checkout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="788cfff1-1fad-4f5c-928e-12d42bf13491">Checkout</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f20ec6e5-d2c4-4bc9-b4b7-dbfdf12ae351" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b4bed103-7caf-4fa4-ae7b-6ed02b3ea30c</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>74739508-ff05-407f-8e2c-5d23f1d52683</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>31</SortOrder>
    </Tab>
  </Tabs>
</ContentType>