<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="930321ef-bd32-4711-89d3-bd5abb6b5ae7" Alias="dataFolder" Level="2">
  <Info>
    <Name>Data folder</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions>
      <Composition Key="d25884b7-7963-4b31-8814-cb417d839e87">settingsFolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a8376d5e-7eec-40e0-ad50-04036205f53d" SortOrder="0">cardFolder</ContentType>
    <ContentType Key="e7e12445-580a-4c50-9bc6-99c79ea8b7a1" SortOrder="1">menuFolder</ContentType>
    <ContentType Key="d25884b7-7963-4b31-8814-cb417d839e87" SortOrder="2">settingsFolder</ContentType>
    <ContentType Key="0fe0f7df-c4a4-4876-a46b-8218d06ee017" SortOrder="3">productsFolder</ContentType>
    <ContentType Key="81881646-0313-4e85-908b-abd6a76175bd" SortOrder="4">globalLayoutsFolder</ContentType>
    <ContentType Key="6b5ad370-db6a-43f6-9798-944106577190" SortOrder="5">redirectionsFolder</ContentType>
    <ContentType Key="5fb77915-2e94-477e-b6b4-a0c405ef475e" SortOrder="6">customComponentsFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>