<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a30fcfda-1f61-424a-8197-a612cb9cd3ca" Alias="products" Level="3">
  <Info>
    <Name>Products</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Products</Folder>
    <Compositions>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3af73487-1617-4670-a0d2-d352791af8fa">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f20ec6e5-d2c4-4bc9-b4b7-dbfdf12ae351" SortOrder="0">contentPage</ContentType>
    <ContentType Key="c5ca7aa0-80f8-436c-b48c-edba107a5c8e" SortOrder="1">productCategory</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ad647fc4-ca4d-4027-b850-e240bb36963e</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d322242-aad3-4658-9431-1be03f5a6801</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>31</SortOrder>
    </Tab>
  </Tabs>
</ContentType>