//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------


@import "~bootstrap/scss/functions";
@import "variables";
@import "crolow-variables";
@import "~bootstrap/scss/variables";

//@import "variables";
@import "bootstrap";
@import "fonts";

//@import "crolow-variables";
//If you do not want to load the customized bootstrap version, just use the following line.
//@import "~bootstrap/scss/bootstrap";


//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";

@import "../components/slick.scss";
@import "../components/slick-theme.scss";

.navbar {
    .navbar-brand {
        margin-top: 10px;
        padding-top: 0px;
        line-height: normal;

        .sub {
            font-size: 12px;
            position: relative;
            top: -20px;
        }

        .white {
            color: $white;
            font-size: 50px;
            font-weight: 900;
        }

        .yellow {
            color: $yellow;
            font-size: 50px;
            font-weight: 900;
        }
    }
}

header {
    margin-top: 112px;

    .card-header {
        background-color: $gray-900;
    }
}

.carousel-footer {
    background-color: $gray-900;
}

.card-header {
    background-color: #222;
}

.card-headline .card-header {
    border-bottom: #9e0d0d 3px solid;
}


.card-footer {
    background-color: $gray-900;
}


h1, h2, h3, h4, h5, h6 {
    color: $yellow;
}

h1, h2 {
    border-bottom: $red 3px solid;
    padding-bottom:10px;
}

.bordered h3 {
    border-bottom: $red 3px solid;
    padding-bottom:15px;
}

.btn-primary {
    color: $white;
    background-color: $red;
    font-weight: bold;
}


.card-img-top {
    background-color: $gray-600;
}

.slick-initialized .card-body {
    height: 150px;

    @media screen and (max-width: 767px) {
        height: 180px;
    }
}

.cv-column-1 {
    img {
        margin-top: 20px;
        border-radius: 50%;
        width: 60%;
        margin-left: 20%;
    }
}

.timeline {

    .item {
        .card-header {
            padding-bottom: 0px;
        }

        .time {
            color: $red;
            font-weight: bold;
        }
    }
}


.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: white;
}
