@using Crolow.Cms.Core.Models.ViewModel.Navigation;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MenuItemModel>
@{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-block text-truncate" style="direction: rtl;">
            @foreach (var card in Model.Children.Take(Model.Children.Count - 1))
            {
                <li class="d-inline-block breadcrumb-item @(card.Active) ? " active : "" )>
                    <a href="@card.Url">@card.Title</a>
                </li>
            }
        </ol>
    </nav>
}