<?xml version="1.0" encoding="utf-8"?>
<Domain Key="295147e9-0000-0000-0000-000000000000" Alias="/crolow/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en</Language>
    <Root Key="a203332c-beb0-4246-9524-42778a471bfd">/Crolow/Accueil</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>