<?xml version="1.0" encoding="utf-8"?>
<Domain Key="38458120-0000-0000-0000-000000000000" Alias="/waaw/fr">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>fr</Language>
    <Root Key="a9891a91-3f67-487a-b33d-d262a45c3646">/Waaw/Accueil</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>