@using Crolow.Cms.Core.HtmlHelpers.Dictionary
@using Crolow.Cms.Core.Models.Umbraco
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Footer>
@{
    <div class="container p-3" style="background-color:rgb(39, 43, 48)">
        @await Html.GetBlockGridHtmlAsync(Model.Content)
    </div>
}