<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b66a7f4-769c-4acf-9692-b25e9ec9c463" Alias="A la croisée des chemins" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/ALaCroiseeDesChemins</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="A la croisée des chemins">
      <Name Culture="en">At the Crossroads</Name>
      <Name Culture="fr">A la croisée des chemins</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f465a9bb7bd4cba88e7a5adb0054690"
      },
      {
        "contentUdi": "umb://element/6daeb56ce6824c51a67b9c9c2955b625"
      },
      {
        "contentUdi": "umb://element/53ebc1d6ccb144ab9ae42d280baec048"
      },
      {
        "contentUdi": "umb://element/4c0925a2db994ceca731c3d14740fddb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f465a9bb7bd4cba88e7a5adb0054690",
      "value": "plein air",
      "confidence": "0.9850040674209595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6daeb56ce6824c51a67b9c9c2955b625",
      "value": "arbre",
      "confidence": "0.9843658804893494"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/53ebc1d6ccb144ab9ae42d280baec048",
      "value": "nuage",
      "confidence": "0.9819459915161133"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c0925a2db994ceca731c3d14740fddb",
      "value": "ciel",
      "confidence": "0.9755260944366455"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/818a0cab448a4280b78c3cdf3e6ffa5e"
      },
      {
        "contentUdi": "umb://element/a04efb4ed3ec4301b70f2d33b590a90c"
      },
      {
        "contentUdi": "umb://element/d58199a4fffb4c79a711ba4a88f1274b"
      },
      {
        "contentUdi": "umb://element/a4df462a7d5140c3b6c122c5e043e001"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/818a0cab448a4280b78c3cdf3e6ffa5e",
      "value": "plein air",
      "confidence": "0.9850040674209595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a04efb4ed3ec4301b70f2d33b590a90c",
      "value": "arbre",
      "confidence": "0.9843658804893494"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d58199a4fffb4c79a711ba4a88f1274b",
      "value": "nuage",
      "confidence": "0.9819459915161133"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4df462a7d5140c3b6c122c5e043e001",
      "value": "ciel",
      "confidence": "0.9755260944366455"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Under a sky streaked with airplane trails, the Atomium stands out in a green setting</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Sous un ciel lardé des trainées d'avion, l'atomium s'impose dans un écrin de verdure</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the Atomium, an iconic structure located in Brussels, Belgium. The structure consists of stainless steel spheres connected by tubes, forming an enlarged representation of an iron crystal. The sky is clear with a few streaks of clouds, and trees surround the base of the structure."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'Atomium, une structure emblématique située à Bruxelles, en Belgique. La structure se compose de sphères en acier inoxydable reliées par des tubes, formant une représentation agrandie d'un cristal de fer. Le ciel est dégagé avec quelques traînées de nuages, et des arbres entourent la base de la structure."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Atomium #Brussels #Belgium #landmark #architecture #travel #tourism]]></Value>
      <Value Culture="fr"><![CDATA[#Atomium #Bruxelles #Belgique #architecture #structure #tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1e37bb18-a8b9-494a-a9e7-aa746ecbb559",
    "mediaKey": "3bc9375c-2ea9-4424-90ec-1ae88bb7a2cf"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Sous un ciel lardé des traînées d'avion, l'Atomium s'impose dans un écrin de verdure.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'Atomium : Symbole de Bruxelles sous un Ciel Éclatant]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Atomium: Symbol of Brussels under a Radiant Sky]]></Value>
      <Value Culture="fr"><![CDATA[L'Atomium : Symbole de Bruxelles sous un Ciel Éclatant]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/close-up-on-the-atomium-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/close-up-on-the-atomium-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Atomium",
  "Brussels",
  "Belgium",
  "structure",
  "architecture",
  "spheres",
  "stainless steel",
  "sky",
  "trees"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Atomium",
  "Bruxelles",
  "Belgique",
  "structure",
  "architecture",
  "sphères",
  "acier inoxydable",
  "ciel",
  "arbres"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Sous un ciel lardé des traînées d'avion, l'Atomium s'impose dans un écrin de verdure.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Atomium: Symbol of Brussels under a Radiant Sky]]></Value>
      <Value Culture="fr"><![CDATA[L'Atomium : Symbole de Bruxelles sous un Ciel Éclatant]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>