<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0c5de43-61dd-4e33-b44e-be5fed3f4849" Alias="Accueil" Level="5">
  <Info>
    <Parent Key="45facb9b-358d-488e-8418-25f63214ff3c">Main menu</Parent>
    <Path>/Waaw/Data/Menu/MainMenu/Accueil</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Accueil">
      <Name Culture="fr">Accueil</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[bi bi-house]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[[
  {
    "name": "Accueil",
    "udi": "umb://document/a203332cbeb04246952442778a471bfd"
  }
]]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Accueil]]></Value>
    </title>
  </Properties>
</Content>