<?xml version="1.0" encoding="utf-8"?>
<Content Key="dec9034c-d212-4212-8d35-fd6bab40e6b2" Alias="Acte de présence" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/ActeDePresence</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Acte de présence">
      <Name Culture="en">Act of Presence</Name>
      <Name Culture="fr">Acte de présence</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44057b447a8d4f55aa385f385b6f2f10"
      },
      {
        "contentUdi": "umb://element/55a6caa359c146acbd1193ba7968e613"
      },
      {
        "contentUdi": "umb://element/88c3367e98ac4604a4103baf6c3e89c2"
      },
      {
        "contentUdi": "umb://element/a90fb39bf2384d3cadb423104cf265f7"
      },
      {
        "contentUdi": "umb://element/e4f8f980ecbd48c8a13b22825eff54f8"
      },
      {
        "contentUdi": "umb://element/8807570f8ebf4cf28354d9128bd06870"
      },
      {
        "contentUdi": "umb://element/7b245076dc874220b7dad6a442dd27f3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44057b447a8d4f55aa385f385b6f2f10",
      "value": "plante",
      "confidence": "0.9999955892562866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55a6caa359c146acbd1193ba7968e613",
      "value": "fleur",
      "confidence": "0.9999662637710571"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88c3367e98ac4604a4103baf6c3e89c2",
      "value": "orchidée",
      "confidence": "0.9997895956039429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a90fb39bf2384d3cadb423104cf265f7",
      "value": "pétale",
      "confidence": "0.9461919069290161"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4f8f980ecbd48c8a13b22825eff54f8",
      "value": "Orchidées des Philippines",
      "confidence": "0.9189260601997375"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8807570f8ebf4cf28354d9128bd06870",
      "value": "Plante terrestre",
      "confidence": "0.9033877849578857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7b245076dc874220b7dad6a442dd27f3",
      "value": "Phalaenopsis equestris",
      "confidence": "0.8796535134315491"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a7275c7ec11d4c4596a77d824db64bfc"
      },
      {
        "contentUdi": "umb://element/67e608a23ccf4f3882f8f8f617073e27"
      },
      {
        "contentUdi": "umb://element/41994bef116c4524a14977d02c46ce05"
      },
      {
        "contentUdi": "umb://element/4f4be67bd6ed4102ac91c85cd4c003ad"
      },
      {
        "contentUdi": "umb://element/1e0e85ec69204a84b2e981fe2f5a7d80"
      },
      {
        "contentUdi": "umb://element/f188991ebe034920b0178647e2e00287"
      },
      {
        "contentUdi": "umb://element/4199f3732b2148878158f45c95cb21e8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7275c7ec11d4c4596a77d824db64bfc",
      "value": "plante",
      "confidence": "0.9999955892562866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67e608a23ccf4f3882f8f8f617073e27",
      "value": "fleur",
      "confidence": "0.9999662637710571"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41994bef116c4524a14977d02c46ce05",
      "value": "orchidée",
      "confidence": "0.9997895956039429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f4be67bd6ed4102ac91c85cd4c003ad",
      "value": "pétale",
      "confidence": "0.9461919069290161"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1e0e85ec69204a84b2e981fe2f5a7d80",
      "value": "Orchidées des Philippines",
      "confidence": "0.9189260601997375"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f188991ebe034920b0178647e2e00287",
      "value": "Plante terrestre",
      "confidence": "0.9033877849578857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4199f3732b2148878158f45c95cb21e8",
      "value": "Phalaenopsis equestris",
      "confidence": "0.8796535134315491"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The photo of the orchid farm</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La photo de la ferme des orchidées</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows beautiful pink orchids with spotted patterns, surrounded by lush green leaves. The flowers are in full bloom, revealing their delicate petals and vibrant colors. The photo was taken in Chiang Mai."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre de magnifiques orchidées roses avec des motifs tachetés, entourées de feuilles vertes luxuriantes. Les fleurs sont en pleine floraison, révélant leurs pétales délicats et leurs couleurs vibrantes. La photo a été prise à Chiang Mai."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#orchids #flowers #pink #bloom #greenleaves #ChiangMai #nature]]></Value>
      <Value Culture="fr"><![CDATA[#orchidées #fleurs #nature #ChiangMai #plantes #jardin]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2566a20a-0b31-4134-8493-febe2ffa66a9",
    "mediaKey": "9a305726-65b5-4979-891b-4175c79a09a4"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang mai]]></Value>
      <Value Culture="fr"><![CDATA[Chiang mai]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté envoûtante des orchidées roses en pleine floraison.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté envoûtante des orchidées roses en pleine floraison.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Floral Splendor in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Éclat Floral à Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/orchid-at-the-orchid-farm-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/orchid-at-the-orchid-farm-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "orchids",
  "flowers",
  "nature",
  "Chiang Mai",
  "plants",
  "garden"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "orchidées",
  "fleurs",
  "nature",
  "Chiang Mai",
  "plantes",
  "jardin"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté envoûtante des orchidées roses en pleine floraison.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Floral Splendor in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Éclat Floral à Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>