<?xml version="1.0" encoding="utf-8"?>
<Content Key="558f354d-c7e4-41ce-a261-ae1437cefb7a" Alias="Adriatic Swims" Level="6">
  <Info>
    <Parent Key="ceba3188-9498-43aa-bfb8-d4435dae7562">Albania</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Albania/AdriaticSwims</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-05-06T01:51:45</CreateDate>
    <NodeName Default="Adriatic Swims">
      <Name Culture="en">Adriatic Swims</Name>
      <Name Culture="fr">Baignades adriatiques</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Rows of umbrellas on an Adriatic beach. Swimmers are ready to dive into the water</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Alignement de parasols sur une plage de l'Adriatique. Des baigneurs sont prêts à se lancer à l'eau</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a beach in Albania with blue umbrellas and sun loungers lined up on the white sand. To the left, people stand on rocks near the crystal-clear water, enjoying the sun and the sea. In the background, verdant hills and distant islands can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une plage en Albanie avec des parasols bleus et des chaises longues alignées sur le sable blanc. À gauche, des personnes se tiennent sur des rochers près de l'eau cristalline, profitant du soleil et de la mer. En arrière-plan, on peut voir des collines verdoyantes et des îles au loin."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#beach #Albania #summer #vacation #travel #beautifuldestinations #seaside #nature #scenic #relaxation]]></Value>
      <Value Culture="fr"><![CDATA[#plage #Albanie #vacances #été #mer #soleil #détente]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "745e0f9b-3ce6-44e5-bd2e-48e6131979ce",
    "mediaKey": "6e2826cc-764f-4703-8a89-f897cedc330e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Des parasols bleus et des chaises longues sur une plage immaculée, prêts pour une journée de détente sous le soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Adriatique : Paradis Albanais]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Adriatic Escape: Albanian Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Adriatique : Paradis Albanais]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/having-fun-in-the-adriatic-sea-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/having-fun-in-the-adriatic-sea-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "Albania",
  "umbrellas",
  "sun loungers",
  "sand",
  "rocks",
  "sea",
  "hills",
  "islands"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "Albanie",
  "parasols",
  "chaises longues",
  "sable",
  "rochers",
  "mer",
  "collines",
  "îles"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Des parasols bleus et des chaises longues sur une plage immaculée, prêts pour une journée de détente sous le soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Adriatic Escape: Albanian Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Adriatique : Paradis Albanais]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>