<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ad9811a-8920-4984-9144-6b0788e8884e" Alias="African Village #18" Level="6">
  <Info>
    <Parent Key="ddef7169-2e2f-4533-88e5-f9eee9e1eb17">Hot Sand</Parent>
    <Path>/Crolow/Accueil/TheVirtualWorld/TravelMemories/HotSand/AfricanVillage18</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-06-20T12:21:13</CreateDate>
    <NodeName Default="African Village #18">
      <Name Culture="en">African Village #18</Name>
      <Name Culture="fr">Village africain #18</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-06-20T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a serene coastal village at sunset. The sky is painted with warm hues of orange, pink, and purple as the sun sets over the ocean. Traditional thatched-roof huts are nestled among palm trees, creating a tranquil and picturesque scene. The village is situated on a sandy beach with gentle waves lapping at the shore. A few villagers are seen near the huts, adding a sense of life and community to the peaceful setting."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image représente un village côtier au coucher du soleil. Les maisons sont faites de matériaux naturels avec des toits en chaume. Des palmiers sont dispersés autour des maisons, ajoutant une touche tropicale à la scène. La mer est calme, et les vagues viennent doucement s'échouer sur la plage. Quelques personnes sont visibles, discutant près d'une charrette en bois. Le ciel est peint de nuances de violet, d'orange et de jaune, créant une atmosphère paisible et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #coastalvillage #beachlife #serenity #tropicalparadise #nature #peaceful]]></Value>
      <Value Culture="fr"><![CDATA[#coucherdesoleil #villagecôtier #tropical #plage #mer #sérénité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "32556afc-f465-4ec8-b1bb-6338eb6b912f",
    "mediaKey": "3e072b67-c7da-49c3-a2db-d3f1c64c3d04"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://crolow.pixels.com/featured/12-african-village-at-the-beach-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://crolow.pixels.com/featured/12-african-village-at-the-beach-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "coastal village",
  "sunset",
  "ocean",
  "beach",
  "palm trees",
  "thatched-roof huts",
  "villagers",
  "serene",
  "picturesque"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "village côtier",
  "coucher du soleil",
  "maisons en chaume",
  "palmiers",
  "plage",
  "mer",
  "charrette en bois",
  "personnes",
  "atmosphère paisible"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>