<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd40c2f0-88e4-40f5-ad24-49b0270c9076" Alias="Alerte au naja" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/AlerteAuNaja</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Alerte au naja">
      <Name Culture="en">Naja Alert</Name>
      <Name Culture="fr">Alerte au naja</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/666e298ac6b1405f87887aefcea6f053"
      },
      {
        "contentUdi": "umb://element/6fb78d680f48484aa7611436873d5814"
      },
      {
        "contentUdi": "umb://element/f9a6f6d22ab94803bc0a9e511b9a5e46"
      },
      {
        "contentUdi": "umb://element/eceb4b03502349c581b5617c2f1158ee"
      },
      {
        "contentUdi": "umb://element/18b34cffddee48c9bdf1dd7ab0344c4a"
      },
      {
        "contentUdi": "umb://element/9ccfe3f3d77841b6a58307c3e73ca30c"
      },
      {
        "contentUdi": "umb://element/7c6a5d40f8944e6c8f5b3e5d0635d160"
      },
      {
        "contentUdi": "umb://element/30177032a9354ee1bdc553baa938a09b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/666e298ac6b1405f87887aefcea6f053",
      "value": "ciel",
      "confidence": "0.9912257194519043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fb78d680f48484aa7611436873d5814",
      "value": "plein air",
      "confidence": "0.9857581257820129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f9a6f6d22ab94803bc0a9e511b9a5e46",
      "value": "plante",
      "confidence": "0.9530664682388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eceb4b03502349c581b5617c2f1158ee",
      "value": "nuage",
      "confidence": "0.9445352554321289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/18b34cffddee48c9bdf1dd7ab0344c4a",
      "value": "arbre",
      "confidence": "0.9181196093559265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ccfe3f3d77841b6a58307c3e73ca30c",
      "value": "herbe",
      "confidence": "0.8968594074249268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c6a5d40f8944e6c8f5b3e5d0635d160",
      "value": "statue",
      "confidence": "0.8431824445724487"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/30177032a9354ee1bdc553baa938a09b",
      "value": "parc",
      "confidence": "0.4265627861022949"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b91c8dd4797c41728106323996925026"
      },
      {
        "contentUdi": "umb://element/fc10d9affbf14cef95c54bfe7465cedb"
      },
      {
        "contentUdi": "umb://element/f2ac3b9f8196452c933d8d7d3956fe10"
      },
      {
        "contentUdi": "umb://element/3d4410c2e57e44cc980d5c445ecedeeb"
      },
      {
        "contentUdi": "umb://element/a33ff5aba8c64e678ee6e99354bbfaa9"
      },
      {
        "contentUdi": "umb://element/3fcaf84177734c4daffb7545fb5bf386"
      },
      {
        "contentUdi": "umb://element/36a5fe59ce9d4470a358be0af36a8ebf"
      },
      {
        "contentUdi": "umb://element/04a6c0774e6f4a7da8300f6e68e5dd80"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b91c8dd4797c41728106323996925026",
      "value": "ciel",
      "confidence": "0.9912257194519043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc10d9affbf14cef95c54bfe7465cedb",
      "value": "plein air",
      "confidence": "0.9857581257820129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2ac3b9f8196452c933d8d7d3956fe10",
      "value": "plante",
      "confidence": "0.9530664682388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d4410c2e57e44cc980d5c445ecedeeb",
      "value": "nuage",
      "confidence": "0.9445352554321289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a33ff5aba8c64e678ee6e99354bbfaa9",
      "value": "arbre",
      "confidence": "0.9181196093559265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3fcaf84177734c4daffb7545fb5bf386",
      "value": "herbe",
      "confidence": "0.8968594074249268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36a5fe59ce9d4470a358be0af36a8ebf",
      "value": "statue",
      "confidence": "0.8431824445724487"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04a6c0774e6f4a7da8300f6e68e5dd80",
      "value": "parc",
      "confidence": "0.4265627861022949"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Statue of a naja chasing a young rider.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Statue d'un naja pourchassant une jeune cavalier.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a large, intricately designed statue located in a lush, green park in Bangkok, Thailand. The statue features a multi-headed serpent, likely a Naga, with an elaborate, fan-like hood. In front of the serpent, there is a statue of two figures riding a horse. The park is filled with trees and greenery, and a small pond can be seen in the foreground."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une sculpture impressionnante située à Bangkok, Thaïlande. La sculpture représente un grand serpent à plusieurs têtes, probablement un Naga, une créature mythologique dans la culture asiatique. Devant le serpent, il y a une statue de deux personnes montées sur un cheval. La scène est entourée de verdure avec des arbres et des plantes, et le ciel est bleu avec quelques nuages."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#statue #Naga #serpent #park #Bangkok #Thailand #greenery #sculpture #art]]></Value>
      <Value Culture="fr"><![CDATA[#sculpture #Naga #serpent #mythologie #Thaïlande #Bangkok #nature #statue #cheval]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "6ab1d633-403c-4f91-84a7-bd1f8c7591dc",
    "mediaKey": "10184c60-f60e-4491-9632-2368a05e2f62"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse sculpture d'un Naga pourchassant un jeune cavalier à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse sculpture d'un Naga pourchassant un jeune cavalier à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Naja Alert: A Stunning Sculpture in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Naja Alert : La Sculpture Envoûtante de Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/naja-is-chasing-you-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/naja-is-chasing-you-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "statue",
  "Naga",
  "serpent",
  "figures",
  "horse",
  "park",
  "greenery",
  "pond",
  "Bangkok",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "sculpture",
  "Naga",
  "serpent",
  "mythologie",
  "Thaïlande",
  "Bangkok",
  "nature",
  "statue",
  "cheval"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse sculpture d'un Naga pourchassant un jeune cavalier à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Naja Alert: A Stunning Sculpture in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Naja Alert : La Sculpture Envoûtante de Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>