<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c6c6441-20c6-479f-bfec-3c31b091ace2" Alias="Amen, oh non... Comment dit-on ?" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/AmenOhNonCommentDitOn</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T16:40:30</CreateDate>
    <NodeName Default="Amen, oh non... Comment dit-on ?">
      <Name Culture="en">Amen, oh no... How do you say it?</Name>
      <Name Culture="fr">Amen, oh non... Comment dit-on ?</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/601c33c7173740358d9b3b1c618e6f72"
      },
      {
        "contentUdi": "umb://element/843398072af1403c87a4e8e4973bcab1"
      },
      {
        "contentUdi": "umb://element/dec68e13f30f43de972c95a3ad201ad4"
      },
      {
        "contentUdi": "umb://element/05f33762b7f149779bb06c91e67469ca"
      },
      {
        "contentUdi": "umb://element/38b9d128eb80402da6c283d537dba9c7"
      },
      {
        "contentUdi": "umb://element/2d6dec58ccad4f02a704a68053f5e54a"
      },
      {
        "contentUdi": "umb://element/dfe6bb177be7440bac376439fb18647e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/601c33c7173740358d9b3b1c618e6f72",
      "value": "moine",
      "confidence": "0.9680328965187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/843398072af1403c87a4e8e4973bcab1",
      "value": "temple",
      "confidence": "0.9440999031066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dec68e13f30f43de972c95a3ad201ad4",
      "value": "personne",
      "confidence": "0.9271351099014282"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05f33762b7f149779bb06c91e67469ca",
      "value": "Maître zen",
      "confidence": "0.9083897471427917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38b9d128eb80402da6c283d537dba9c7",
      "value": "Dharma",
      "confidence": "0.8957732915878296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d6dec58ccad4f02a704a68053f5e54a",
      "value": "habits",
      "confidence": "0.8816592693328857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfe6bb177be7440bac376439fb18647e",
      "value": "orange",
      "confidence": "0.8144848346710205"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/601c33c7173740358d9b3b1c618e6f72"
      },
      {
        "contentUdi": "umb://element/843398072af1403c87a4e8e4973bcab1"
      },
      {
        "contentUdi": "umb://element/dec68e13f30f43de972c95a3ad201ad4"
      },
      {
        "contentUdi": "umb://element/05f33762b7f149779bb06c91e67469ca"
      },
      {
        "contentUdi": "umb://element/38b9d128eb80402da6c283d537dba9c7"
      },
      {
        "contentUdi": "umb://element/2d6dec58ccad4f02a704a68053f5e54a"
      },
      {
        "contentUdi": "umb://element/dfe6bb177be7440bac376439fb18647e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/601c33c7173740358d9b3b1c618e6f72",
      "value": "moine",
      "confidence": "0.9680328965187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/843398072af1403c87a4e8e4973bcab1",
      "value": "temple",
      "confidence": "0.9440999031066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dec68e13f30f43de972c95a3ad201ad4",
      "value": "personne",
      "confidence": "0.9271351099014282"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05f33762b7f149779bb06c91e67469ca",
      "value": "Maître zen",
      "confidence": "0.9083897471427917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38b9d128eb80402da6c283d537dba9c7",
      "value": "Dharma",
      "confidence": "0.8957732915878296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d6dec58ccad4f02a704a68053f5e54a",
      "value": "habits",
      "confidence": "0.8816592693328857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfe6bb177be7440bac376439fb18647e",
      "value": "orange",
      "confidence": "0.8144848346710205"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Prayer moment at the Grand Prasat in Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Moment de la prière au grand Prasat de Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a group of Buddhist monks dressed in traditional orange robes, seated on a red carpet inside a temple in Bangkok, Thailand. The background features intricately decorated walls with detailed patterns and artwork."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un groupe de moines bouddhistes vêtus de robes orange, assis à l'intérieur d'un temple richement décoré à Bangkok, Thaïlande. Les moines sont vus de dos, certains tenant des livres, et semblent être en méditation ou en prière. Les murs du temple sont ornés de motifs complexes et colorés."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Buddhism #Monks #Bangkok #Thailand #Tradition #Temple #Meditation #Culture]]></Value>
      <Value Culture="fr"><![CDATA[#moines #bouddhisme #temple #méditation #prière #Bangkok #Thaïlande #robesorange]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "af9add1b-1e88-4633-a03c-5bc978bcc3a9",
    "mediaKey": "0b54efdb-6805-481e-9ee4-09e76463601f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Meditation Moment at the Grand Prasat in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Moment de prière au grand Prasat de Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/pray-time-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/pray-time-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Buddhist monks",
  "orange robes",
  "temple",
  "Bangkok",
  "Thailand",
  "religion",
  "tradition",
  "meditation",
  "decorated walls"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "moines",
  "bouddhisme",
  "temple",
  "méditation",
  "prière",
  "Bangkok",
  "Thaïlande",
  "robes orange"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Meditation Moment at the Grand Prasat in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Moment de prière au grand Prasat de Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>