<?xml version="1.0" encoding="utf-8"?>
<Content Key="57931a09-a018-45a9-9f25-5ca0c24543af" Alias="Amen, oh non... Comment dit-on ?" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/AmenOhNonCommentDitOn</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Amen, oh non... Comment dit-on ?">
      <Name Culture="en">Amen, oh no... How do you say it?</Name>
      <Name Culture="fr">Amen, oh non... Comment dit-on ?</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7e8a9f0426764904858179f86f23955d"
      },
      {
        "contentUdi": "umb://element/11f7a16ede2b4228ab7ee2b4c52d8fd7"
      },
      {
        "contentUdi": "umb://element/b2d78b7f94fc4a4381acdc744cc591b8"
      },
      {
        "contentUdi": "umb://element/27b04bdbacfb460597f287b8766d0c1f"
      },
      {
        "contentUdi": "umb://element/e0b7a76bf7c444f6b907c7616e0b64de"
      },
      {
        "contentUdi": "umb://element/f13a851e23cb422ab8514b78e6230373"
      },
      {
        "contentUdi": "umb://element/6e20d7d343674a70a68fc0ad797281c9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e8a9f0426764904858179f86f23955d",
      "value": "moine",
      "confidence": "0.9680328965187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/11f7a16ede2b4228ab7ee2b4c52d8fd7",
      "value": "temple",
      "confidence": "0.9440999031066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2d78b7f94fc4a4381acdc744cc591b8",
      "value": "personne",
      "confidence": "0.9271351099014282"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27b04bdbacfb460597f287b8766d0c1f",
      "value": "Maître zen",
      "confidence": "0.9083897471427917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0b7a76bf7c444f6b907c7616e0b64de",
      "value": "Dharma",
      "confidence": "0.8957732915878296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f13a851e23cb422ab8514b78e6230373",
      "value": "habits",
      "confidence": "0.8816592693328857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e20d7d343674a70a68fc0ad797281c9",
      "value": "orange",
      "confidence": "0.8144848346710205"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2147fb367b0d4e5ab93a932c115487af"
      },
      {
        "contentUdi": "umb://element/a58934bc0ec94d70aca4006828b11d3e"
      },
      {
        "contentUdi": "umb://element/52e54f7fae6c411e93e2683298fe9d06"
      },
      {
        "contentUdi": "umb://element/1d027b1904374816acc7ae7b73771d8f"
      },
      {
        "contentUdi": "umb://element/0baabbd16a734d688c0cd41b525e09e1"
      },
      {
        "contentUdi": "umb://element/7676106f7b5e40d0a92f9bd9e0e1760d"
      },
      {
        "contentUdi": "umb://element/359129946eaf4101afa2199dfc8633b0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2147fb367b0d4e5ab93a932c115487af",
      "value": "moine",
      "confidence": "0.9680328965187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a58934bc0ec94d70aca4006828b11d3e",
      "value": "temple",
      "confidence": "0.9440999031066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52e54f7fae6c411e93e2683298fe9d06",
      "value": "personne",
      "confidence": "0.9271351099014282"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d027b1904374816acc7ae7b73771d8f",
      "value": "Maître zen",
      "confidence": "0.9083897471427917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0baabbd16a734d688c0cd41b525e09e1",
      "value": "Dharma",
      "confidence": "0.8957732915878296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7676106f7b5e40d0a92f9bd9e0e1760d",
      "value": "habits",
      "confidence": "0.8816592693328857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/359129946eaf4101afa2199dfc8633b0",
      "value": "orange",
      "confidence": "0.8144848346710205"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Prayer moment at the Grand Prasat in Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Moment de la prière au grand Prasat de Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a group of Buddhist monks dressed in traditional orange robes, seated on a red carpet inside a temple in Bangkok, Thailand. The background features intricately decorated walls with detailed patterns and artwork."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un groupe de moines bouddhistes vêtus de robes orange, assis à l'intérieur d'un temple richement décoré à Bangkok, Thaïlande. Les moines sont vus de dos, certains tenant des livres, et semblent être en méditation ou en prière. Les murs du temple sont ornés de motifs complexes et colorés."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Buddhism #Monks #Bangkok #Thailand #Tradition #Temple #Meditation #Culture]]></Value>
      <Value Culture="fr"><![CDATA[#moines #bouddhisme #temple #méditation #prière #Bangkok #Thaïlande #robesorange]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "af9add1b-1e88-4633-a03c-5bc978bcc3a9",
    "mediaKey": "0b54efdb-6805-481e-9ee4-09e76463601f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Meditation Moment at the Grand Prasat in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Moment de prière au grand Prasat de Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/pray-time-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/pray-time-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Buddhist monks",
  "orange robes",
  "temple",
  "Bangkok",
  "Thailand",
  "religion",
  "tradition",
  "meditation",
  "decorated walls"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "moines",
  "bouddhisme",
  "temple",
  "méditation",
  "prière",
  "Bangkok",
  "Thaïlande",
  "robes orange"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un groupe de moines bouddhistes en méditation dans un temple richement décoré à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Meditation Moment at the Grand Prasat in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Moment de prière au grand Prasat de Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>