<?xml version="1.0" encoding="utf-8"?>
<Content Key="3913d4b0-13af-49f2-9018-e5aa13fd48cd" Alias="Artiste de rue" Level="104">
  <Info>
    <Parent Key="8583a9d2-380b-4c47-bec2-6f838f81eed8">Tchéquie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Tchequie/ArtisteDeRue</Path>
    <Trashed Parent="8583a9d2-380b-4c47-bec2-6f838f81eed8">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Artiste de rue">
      <Name Culture="en">Street Artist</Name>
      <Name Culture="fr">Artiste de rue</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Street artist on Charles Bridge</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Artiste de rue sur le pont Charles</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a lively scene on a bridge in Prague, Czech Republic. A street artist is drawing a portrait of a young woman sitting on a red chair. The artist is protected by a large red umbrella and is surrounded by several drawings and caricatures displayed on a panel. In the background, one can see a river, historic buildings, and a green hill. Several passersby and tourists stop to watch the artist at work."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène animée sur un pont à Prague, Tchéquie. Un artiste de rue est en train de dessiner un portrait d'une jeune femme assise sur une chaise rouge. L'artiste est protégé par un grand parapluie rouge et est entouré de plusieurs dessins et caricatures exposés sur un panneau. En arrière-plan, on peut voir une rivière, des bâtiments historiques et une colline verdoyante. Plusieurs passants et touristes s'arrêtent pour observer l'artiste au travail."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Prague #StreetArt #PortraitDrawing #Travel #Tourism #Art]]></Value>
      <Value Culture="fr"><![CDATA[#Prague #ArtDeRue #Tourisme #Portrait #Voyage #Culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "53eba676-b5a0-46ce-a880-1e6fb5916185",
    "mediaKey": "38a8fa79-63b0-4435-b655-bf111df16e58"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Prague, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Prague, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance animée du pont Charles à Prague, où un talentueux artiste de rue capture l'attention des passants avec ses portraits en direct.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Artiste de Rue sur le Pont Charles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Street Artist on Charles Bridge]]></Value>
      <Value Culture="fr"><![CDATA[Artiste de Rue sur le Pont Charles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/street-artist-on-charles-bridge-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/street-artist-on-charles-bridge-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Prague",
  "Czech Republic",
  "street artist",
  "portrait",
  "tourists",
  "river",
  "historic buildings"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Prague",
  "Tchéquie",
  "artiste de rue",
  "portrait",
  "touristes",
  "rivière",
  "bâtiments historiques"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance animée du pont Charles à Prague, où un talentueux artiste de rue capture l'attention des passants avec ses portraits en direct.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Street Artist on Charles Bridge]]></Value>
      <Value Culture="fr"><![CDATA[Artiste de Rue sur le Pont Charles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>