<?xml version="1.0" encoding="utf-8"?>
<Content Key="b08fc27b-e3b4-4881-8eae-64f7caaab869" Alias="Au 3e gong, courez !" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/Au3eGongCourez</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T19:54:11</CreateDate>
    <NodeName Default="Au 3e gong, courez !">
      <Name Culture="en">At the 3rd Gong, Run!</Name>
      <Name Culture="fr">Au 3e gong, courez !</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c22e194ab7e4de89820315f251157e9"
      },
      {
        "contentUdi": "umb://element/dbdca16f32774101ab29aa1a2c847f5c"
      },
      {
        "contentUdi": "umb://element/c9066164f34442ecb789880d9f656feb"
      },
      {
        "contentUdi": "umb://element/020b28b9404f448d924f4480fde50e49"
      },
      {
        "contentUdi": "umb://element/427f2d6eccfd42b3aee1f53c5d809883"
      },
      {
        "contentUdi": "umb://element/6f40da41c3d741c18b1db7ca44ef6785"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c22e194ab7e4de89820315f251157e9",
      "value": "arbre",
      "confidence": "0.9918262958526611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dbdca16f32774101ab29aa1a2c847f5c",
      "value": "plein air",
      "confidence": "0.9579695463180542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9066164f34442ecb789880d9f656feb",
      "value": "terrain de jeux",
      "confidence": "0.8654984831809998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/020b28b9404f448d924f4480fde50e49",
      "value": "art",
      "confidence": "0.8503478765487671"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/427f2d6eccfd42b3aee1f53c5d809883",
      "value": "léger",
      "confidence": "0.6614053249359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f40da41c3d741c18b1db7ca44ef6785",
      "value": "parc",
      "confidence": "0.5498968362808228"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c22e194ab7e4de89820315f251157e9"
      },
      {
        "contentUdi": "umb://element/dbdca16f32774101ab29aa1a2c847f5c"
      },
      {
        "contentUdi": "umb://element/c9066164f34442ecb789880d9f656feb"
      },
      {
        "contentUdi": "umb://element/020b28b9404f448d924f4480fde50e49"
      },
      {
        "contentUdi": "umb://element/427f2d6eccfd42b3aee1f53c5d809883"
      },
      {
        "contentUdi": "umb://element/6f40da41c3d741c18b1db7ca44ef6785"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c22e194ab7e4de89820315f251157e9",
      "value": "arbre",
      "confidence": "0.9918262958526611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dbdca16f32774101ab29aa1a2c847f5c",
      "value": "plein air",
      "confidence": "0.9579695463180542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9066164f34442ecb789880d9f656feb",
      "value": "terrain de jeux",
      "confidence": "0.8654984831809998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/020b28b9404f448d924f4480fde50e49",
      "value": "art",
      "confidence": "0.8503478765487671"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/427f2d6eccfd42b3aee1f53c5d809883",
      "value": "léger",
      "confidence": "0.6614053249359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f40da41c3d741c18b1db7ca44ef6785",
      "value": "parc",
      "confidence": "0.5498968362808228"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Giant Gong</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Gong géant</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a large metal gong with Thai inscriptions, situated in a lush natural setting. The gong is mounted on a green metal structure and is partially illuminated by sunlight filtering through the surrounding trees. The entire scene is bathed in soft, warm light, creating a peaceful and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un grand gong en métal avec des inscriptions en thaï, situé dans un cadre naturel verdoyant. Le gong est monté sur une structure métallique verte et est partiellement éclairé par la lumière du soleil qui filtre à travers les arbres environnants. L'ensemble de la scène est baigné dans une lumière douce et chaleureuse, créant une atmosphère paisible et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#gong #forest #sunlight #ThaiInscriptions #WatPhraThatDoiSuthep #ChiangMai #Thailand]]></Value>
      <Value Culture="fr"><![CDATA[#gong #Thaïlande #nature #WatPhraThatDoiSuthep #ChiangMai #lumièredusoleil #atmosphèrepaisible]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "94dbb021-f541-4156-8077-4dba90b77555",
    "mediaKey": "3e02da94-9db4-440a-949b-3e0824a6cacd"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un gong en métal orné d'inscriptions thaïlandaises, baigné par une lumière douce et chaleureuse.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un gong en métal orné d'inscriptions thaïlandaises, baigné par une lumière douce et chaleureuse.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[At the 3rd Gong, Run!]]></Value>
      <Value Culture="fr"><![CDATA[Le Grand Gong Thaïlandais en Pleine Nature]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/call-to-pray-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/call-to-pray-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "gong",
  "metal",
  "inscriptions",
  "Thai",
  "nature",
  "greenery",
  "sunlight",
  "metal structure",
  "peaceful atmosphere"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "gong",
  "métal",
  "inscriptions",
  "thaï",
  "nature",
  "verdure",
  "lumière du soleil",
  "structure métallique",
  "atmosphère paisible"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un gong en métal orné d'inscriptions thaïlandaises, baigné par une lumière douce et chaleureuse.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[At the 3rd Gong, Run!]]></Value>
      <Value Culture="fr"><![CDATA[Le Grand Gong Thaïlandais en Pleine Nature]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>