<?xml version="1.0" encoding="utf-8"?>
<Content Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185" Alias="Autour de Krabi" Level="5">
  <Info>
    <Parent Key="43217191-b074-4a4f-b183-edfab9dbba8b">La Thaïlande</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaCollectionPage</ContentType>
    <CreateDate>2024-02-29T13:04:59</CreateDate>
    <NodeName Default="Autour de Krabi">
      <Name Culture="en">Around Krabi</Name>
      <Name Culture="fr">Autour de Krabi</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="e992cf13-aa54-43cd-ad5d-9f2090c2eb81">MediaCollectionPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9f8588333fd043baa7a995ac1456fca8",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/9f8588333fd043baa7a995ac1456fca8",
      "title": "",
      "description": {
        "markup": "<p>Southern Thailand offers access to all the paradises of the Andaman Sea, as well as the beauty of the mainland and its characteristic rock formations.</p>\n<p>Everything is magnificent there, even under the almost daily rains, each day brings new colors and new scents.</p>\n<p>And you can stroll peacefully amidst a population of all religions where everyone shares the same sense of hospitality and kindness.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9f8588333fd043baa7a995ac1456fca8",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/9f8588333fd043baa7a995ac1456fca8",
      "title": "",
      "description": {
        "markup": "<p>Le sud de la Thaïlande c'est aussi bien l'accès à tous les paradis de la mer Andaman, ainsi qu'à la beauté du continent et de ses formations rocheuses caractéristiques.</p>\n<p>Tout y est magnifique, même sous les pluies quasi quotidiennes, chaque jour ce sont des nouvelles couleurs, des nouvelles odeurs.</p>\n<p>Et on s'y balade en toute tranquillité au milieu d'une population de toute religion où chacun partage le même sens de l'hospitalité et de la bienveillance.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <defaultMediaTags>
      <Value Culture="en"><![CDATA[[
  "thaïlande"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "thaïlande"
]]]></Value>
    </defaultMediaTags>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="en"><![CDATA[[
  {
    "key": "4373905c-7af6-4fd4-953d-707b0cc1ef27",
    "mediaKey": "d8201ca2-08ec-4a6b-be3b-4d4c1bac6c21"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "4373905c-7af6-4fd4-953d-707b0cc1ef27",
    "mediaKey": "d8201ca2-08ec-4a6b-be3b-4d4c1bac6c21"
  }
]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté époustouflante du sud de la Thaïlande, entre mer Andaman et formations rocheuses uniques.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[Découvrez en images Krabi et la mer Andaman]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté époustouflante du sud de la Thaïlande, entre mer Andaman et formations rocheuses uniques.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[
  {
    "key": "1c1b9e44-6f9c-417c-b570-b82fd120272c",
    "mediaKey": "d8201ca2-08ec-4a6b-be3b-4d4c1bac6c21"
  }
]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Discovering Krabi: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Autour de Krabi]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Le sud de la Thaïlande et ses paradis de la mer Andaman et ses formations rocheuses caractéristiques.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le sud de la Thaïlande et ses paradis de la mer Andaman et ses formations rocheuses caractéristiques.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[[
  "summary_large_image"
]]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[Découvrez en images Krabi et la mer Andaman]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté époustouflante du sud de la Thaïlande, entre mer Andaman et formations rocheuses uniques.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Discovering Krabi: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Autour de Krabi]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>