<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b56afbe-1fe6-4ace-892e-9647a053b405" Alias="bagues" Level="5">
  <Info>
    <Parent Key="2d59be34-cf88-441d-954a-4ed740dc1de6">bijoux</Parent>
    <Path>/Waaw/Accueil/Produits/bijoux/bagues</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2025-08-21T14:47:46</CreateDate>
    <NodeName Default="bagues">
      <Name Culture="fr">bagues</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="3af73487-1617-4670-a0d2-d352791af8fa">ContentPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/fc8805c3b51c491b9aa77cc7b4715add"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/c04eb75dc33249d7bdc8b1bcc5b7ed37"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/1c9584c78d294dd8b99906c05f09e29a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/c655e2c8cae24ef2a8f3b076b799ecf7"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f7cb3da3225544d590026f7e363f1176"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/c655e2c8cae24ef2a8f3b076b799ecf7",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "b42649bc-b4aa-4e34-8e33-ec94dd1275a7",
      "udi": "umb://element/fc8805c3b51c491b9aa77cc7b4715add",
      "template": "HeaderRollup",
      "customProperties": null,
      "customComponentDefinition": "umb://document/480ce40439e14a78a3d8e87105cdb9e5",
      "externalViewComponent": ""
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/c04eb75dc33249d7bdc8b1bcc5b7ed37",
      "customComponentDefinition": "umb://document/dc319fd3f15d4b7a8d21099cee8cf84c"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/1c9584c78d294dd8b99906c05f09e29a",
      "customComponentDefinition": "umb://document/6d257caeec5843c6bcd9682a3a9475dd"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/f7cb3da3225544d590026f7e363f1176",
      "customComponentDefinition": "umb://document/8c0a654202d449a09420d1d4f9195f8a"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value Culture="fr"><![CDATA[]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "43d8b65a-7591-4987-a464-af49c41da218",
    "mediaKey": "09badd26-d694-4cc5-8adc-c00eace671cc"
  }
]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[
  {
    "key": "12dcebca-8027-40c6-ba6a-e538ef7257fb",
    "mediaKey": "09badd26-d694-4cc5-8adc-c00eace671cc"
  }
]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="fr"><![CDATA[Nos bagues]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="fr"><![CDATA[]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>