<?xml version="1.0" encoding="utf-8"?>
<Content Key="707afdd0-9d17-4771-a5e8-c471970ba3b5" Alias="Bagues" Level="5">
  <Info>
    <Parent Key="cce4e4e4-0a6e-475d-b7ce-ec58f0ba2718">Bijoux</Parent>
    <Path>/Waaw/Data/Products/Bijoux/Bagues</Path>
    <Trashed>false</Trashed>
    <ContentType>productsFolder</ContentType>
    <CreateDate>2025-08-21T14:39:03</CreateDate>
    <NodeName Default="Bagues" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>