<?xml version="1.0" encoding="utf-8"?>
<Content Key="afebf6f2-264a-4e3c-869c-4080120d684f" Alias="Base sous-marine" Level="104">
  <Info>
    <Parent Key="23eeceed-1a67-4bf9-bf95-93e46f6687c5">Albanie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Albanie/BaseSousMarine</Path>
    <Trashed Parent="23eeceed-1a67-4bf9-bf95-93e46f6687c5">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Base sous-marine">
      <Name Culture="en">Submarine Base</Name>
      <Name Culture="fr">Base sous-marine</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Remnants of Russia, a former submarine base</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Vestiges de la russie, une ancienne base de sous-marins</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a panoramic view of a coastal region in Albania. Abandoned buildings surrounded by vegetation can be seen, with a brilliant blue sea in the background. The surrounding hills are dotted with bushes and small plants, creating a natural and wild landscape."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue panoramique d'une région côtière en Albanie. On y voit des bâtiments abandonnés entourés de végétation, avec une mer d'un bleu éclatant en arrière-plan. Les collines environnantes sont parsemées de buissons et de petites plantes, créant un paysage naturel et sauvage."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Albania #CoastalView #AbandonedBuildings #Nature #Landscape #Travel #Adventure]]></Value>
      <Value Culture="fr"><![CDATA[#Albanie #côte #bâtimentsabandonnés #mer #collines #végétation]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "8f4bebd4-ce76-47d3-8c7d-146f9df33097",
    "mediaKey": "6b144193-d7f9-40d8-b05d-93efac90d8e0"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une ancienne base de sous-marins russe, aujourd'hui abandonnée et entourée par la nature sauvage albanaise.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Base sous-marine en Albanie : Vestiges d'une époque révolue]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Submarine Base in Albania: Remnants of a Bygone Era]]></Value>
      <Value Culture="fr"><![CDATA[Base sous-marine en Albanie : Vestiges d'une époque révolue]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/old-submarines-base-albania-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/old-submarines-base-albania-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Albania",
  "coast",
  "abandoned buildings",
  "sea",
  "hills",
  "vegetation"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Albanie",
  "côte",
  "bâtiments abandonnés",
  "mer",
  "collines",
  "végétation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une ancienne base de sous-marins russe, aujourd'hui abandonnée et entourée par la nature sauvage albanaise.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Submarine Base in Albania: Remnants of a Bygone Era]]></Value>
      <Value Culture="fr"><![CDATA[Base sous-marine en Albanie : Vestiges d'une époque révolue]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>