<?xml version="1.0" encoding="utf-8"?>
<Content Key="f55259e0-4fdb-4c62-9af9-fa4e45272d54" Alias="Bienvenue à Tour et Taxi" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/BienvenueATourEtTaxi</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Bienvenue à Tour et Taxi">
      <Name Culture="en">Welcome to Tour and Taxi</Name>
      <Name Culture="fr">Bienvenue à Tour et Taxi</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1d81c91eedfb496ea18d90946e5aa41f"
      },
      {
        "contentUdi": "umb://element/089acebeb660422ca5a0a71102c78ef3"
      },
      {
        "contentUdi": "umb://element/c829184a21684a66b9e5f17f8c1bdf9a"
      },
      {
        "contentUdi": "umb://element/dfa3ac1513b24c2dbbccae0a241d0581"
      },
      {
        "contentUdi": "umb://element/97a2cacb7b644876b5352934cf3a23a4"
      },
      {
        "contentUdi": "umb://element/275bb5d53c694165a01b2ad9e356a4f7"
      },
      {
        "contentUdi": "umb://element/3a508f66d79f40a39c8967e62986a406"
      },
      {
        "contentUdi": "umb://element/6e5ffdaed75543e4bcdd3293674637bc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d81c91eedfb496ea18d90946e5aa41f",
      "value": "habits",
      "confidence": "0.9697049856185913"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/089acebeb660422ca5a0a71102c78ef3",
      "value": "bâtiment",
      "confidence": "0.9352251291275024"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c829184a21684a66b9e5f17f8c1bdf9a",
      "value": "plein air",
      "confidence": "0.8816752433776855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfa3ac1513b24c2dbbccae0a241d0581",
      "value": "architecture",
      "confidence": "0.8622743487358093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97a2cacb7b644876b5352934cf3a23a4",
      "value": "homme",
      "confidence": "0.840145468711853"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/275bb5d53c694165a01b2ad9e356a4f7",
      "value": "personnes",
      "confidence": "0.8285290002822876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a508f66d79f40a39c8967e62986a406",
      "value": "personne",
      "confidence": "0.8282814025878906"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e5ffdaed75543e4bcdd3293674637bc",
      "value": "arche",
      "confidence": "0.7742087841033936"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e79ac712606b47d2acb62b31b2764482"
      },
      {
        "contentUdi": "umb://element/f17b3844b1c048929da3532b46fbca79"
      },
      {
        "contentUdi": "umb://element/e549b36047314c0f84caab5fe1ff3edd"
      },
      {
        "contentUdi": "umb://element/bfbc3df0a5c840d58072cafe42ba8cfa"
      },
      {
        "contentUdi": "umb://element/abc3b8d21b904bc891e748d17346c741"
      },
      {
        "contentUdi": "umb://element/f13c40a5c9e74bee849ddade9a274dde"
      },
      {
        "contentUdi": "umb://element/e028d8f8736a428498c13e53c5de0856"
      },
      {
        "contentUdi": "umb://element/303476f389214f2498a1acb8d23fc8b0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e79ac712606b47d2acb62b31b2764482",
      "value": "habits",
      "confidence": "0.9697049856185913"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f17b3844b1c048929da3532b46fbca79",
      "value": "bâtiment",
      "confidence": "0.9352251291275024"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e549b36047314c0f84caab5fe1ff3edd",
      "value": "plein air",
      "confidence": "0.8816752433776855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfbc3df0a5c840d58072cafe42ba8cfa",
      "value": "architecture",
      "confidence": "0.8622743487358093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/abc3b8d21b904bc891e748d17346c741",
      "value": "homme",
      "confidence": "0.840145468711853"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f13c40a5c9e74bee849ddade9a274dde",
      "value": "personnes",
      "confidence": "0.8285290002822876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e028d8f8736a428498c13e53c5de0856",
      "value": "personne",
      "confidence": "0.8282814025878906"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/303476f389214f2498a1acb8d23fc8b0",
      "value": "arche",
      "confidence": "0.7742087841033936"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Wooden gallery, access to the entrance of the halls.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Galerie en bois,&nbsp; accès à l'entrée des halles.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a unique architectural structure in Brussels, Belgium. Two people walk through a series of wooden and metal arches. The design of the place is modern with intertwined wooden elements and metal supports. Natural light illuminates the scene, creating an interesting contrast between the materials."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une structure architecturale unique à Bruxelles, Belgique. Deux personnes marchent à travers une série d'arches en bois et en métal. La conception de l'endroit est moderne avec des éléments de bois entrelacés et des supports métalliques. La lumière naturelle illumine la scène, créant un contraste intéressant entre les matériaux."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #architecture #modernart #woodwork #metalwork #urbanlife]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #modernité #bois #métal #design]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "75a81549-badc-4860-bd80-7c7d1d43471a",
    "mediaKey": "b25d4c7a-af18-43e0-bd11-062a180bdb03"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'architecture unique de Bruxelles à travers une galerie en bois et métal.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une Promenade à Tour et Taxi]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A Walk at Tour and Taxi]]></Value>
      <Value Culture="fr"><![CDATA[Une Promenade à Tour et Taxi]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/welcome-alley-thurn-and-taxi-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/welcome-alley-thurn-and-taxi-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "wood",
  "metal",
  "modernity",
  "structure",
  "people",
  "arches"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "bois",
  "métal",
  "modernité",
  "structure",
  "personnes",
  "arches"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'architecture unique de Bruxelles à travers une galerie en bois et métal.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A Walk at Tour and Taxi]]></Value>
      <Value Culture="fr"><![CDATA[Une Promenade à Tour et Taxi]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>