<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d59be34-cf88-441d-954a-4ed740dc1de6" Alias="bijoux" Level="4">
  <Info>
    <Parent Key="ef44b440-0f02-4ea1-a0f4-7cb31d6cf46c">Produits</Parent>
    <Path>/Waaw/Accueil/Produits/bijoux</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2025-08-21T14:46:49</CreateDate>
    <NodeName Default="bijoux">
      <Name Culture="fr">bijoux</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="3af73487-1617-4670-a0d2-d352791af8fa">ContentPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d65feee7b1bf47c2933632ea3382f55a",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/f37f0b26a88c447490a7cc4ddb86a311"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/102e0b9f1ab44da69db00c5b9ad0e8c8"
              },
              {
                "contentUdi": "umb://element/3f104fa6f2ad4960bf2ac9af390880a4",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7f3be7715f424a2093d705378b742cbf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b42649bc-b4aa-4e34-8e33-ec94dd1275a7",
      "udi": "umb://element/f37f0b26a88c447490a7cc4ddb86a311",
      "template": "HeaderRollup",
      "customProperties": null,
      "customComponentDefinition": "umb://document/480ce40439e14a78a3d8e87105cdb9e5",
      "externalViewComponent": ""
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/102e0b9f1ab44da69db00c5b9ad0e8c8",
      "customComponentDefinition": "umb://document/dc319fd3f15d4b7a8d21099cee8cf84c"
    },
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/d65feee7b1bf47c2933632ea3382f55a",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/3f104fa6f2ad4960bf2ac9af390880a4",
      "customComponentDefinition": "umb://document/6d257caeec5843c6bcd9682a3a9475dd"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/7f3be7715f424a2093d705378b742cbf",
      "customComponentDefinition": "umb://document/8c0a654202d449a09420d1d4f9195f8a"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value Culture="fr"><![CDATA[{
  "markup": "<h3>Bijoux artisanaux – élégance et authenticité</h3>\n<p>Découvrez notre collection de bijoux uniques, créés avec passion par des artisans talentueux. Chaque pièce reflète un savoir-faire authentique et un design original, alliant modernité et tradition. Que vous cherchiez une touche délicate pour le quotidien ou un bijou d’exception pour une occasion spéciale, vous trouverez ici une variété de créations qui sauront vous séduire.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="fr"><![CDATA[[]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="fr"><![CDATA[Nos bijoux]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="fr"><![CDATA[]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>