<?xml version="1.0" encoding="utf-8"?>
<Content Key="942df257-d9f7-4020-9fa4-0574b657a15a" Alias="Blooming Rhododendron" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/BloomingRhododendron</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T19:21:52</CreateDate>
    <NodeName Default="Blooming Rhododendron">
      <Name Culture="en">Blooming Rhododendron</Name>
      <Name Culture="fr">Rhododendron épanoui</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6678b015bf8a4df485fa66945e9b240f"
      },
      {
        "contentUdi": "umb://element/edf3826589c9438f89c34f5ac2d540d0"
      },
      {
        "contentUdi": "umb://element/2b3cdd74dd3a4600b764ff74d9979f55"
      },
      {
        "contentUdi": "umb://element/9a16f25d66e348498d1a1f04bab1c0af"
      },
      {
        "contentUdi": "umb://element/0475a194264b4f3eb9d84a62a14be8f8"
      },
      {
        "contentUdi": "umb://element/e1069ff1f9834331aec49a77c0df2fd2"
      },
      {
        "contentUdi": "umb://element/24b7b5b64f644ef090fbf3bdc9ef6743"
      },
      {
        "contentUdi": "umb://element/15db592ca439472c80e4972708a2d855"
      },
      {
        "contentUdi": "umb://element/ce505997efbc48fcae1894fd78ff912a"
      },
      {
        "contentUdi": "umb://element/726a65739d1840b8ac67ea7d61983845"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6678b015bf8a4df485fa66945e9b240f",
      "value": "arbre",
      "confidence": "0.993063747882843"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/edf3826589c9438f89c34f5ac2d540d0",
      "value": "plante",
      "confidence": "0.9826815128326416"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b3cdd74dd3a4600b764ff74d9979f55",
      "value": "pétale",
      "confidence": "0.9793004989624023"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a16f25d66e348498d1a1f04bab1c0af",
      "value": "plein air",
      "confidence": "0.9435388445854187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0475a194264b4f3eb9d84a62a14be8f8",
      "value": "fleur",
      "confidence": "0.8895848989486694"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1069ff1f9834331aec49a77c0df2fd2",
      "value": "printemps",
      "confidence": "0.8881857395172119"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b7b5b64f644ef090fbf3bdc9ef6743",
      "value": "fleurir",
      "confidence": "0.880907416343689"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15db592ca439472c80e4972708a2d855",
      "value": "rose",
      "confidence": "0.6261386871337891"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce505997efbc48fcae1894fd78ff912a",
      "value": "feuille",
      "confidence": "0.5520825982093811"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/726a65739d1840b8ac67ea7d61983845",
      "value": "rhododendron",
      "confidence": "0.5273229479789734"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6678b015bf8a4df485fa66945e9b240f"
      },
      {
        "contentUdi": "umb://element/edf3826589c9438f89c34f5ac2d540d0"
      },
      {
        "contentUdi": "umb://element/2b3cdd74dd3a4600b764ff74d9979f55"
      },
      {
        "contentUdi": "umb://element/9a16f25d66e348498d1a1f04bab1c0af"
      },
      {
        "contentUdi": "umb://element/0475a194264b4f3eb9d84a62a14be8f8"
      },
      {
        "contentUdi": "umb://element/e1069ff1f9834331aec49a77c0df2fd2"
      },
      {
        "contentUdi": "umb://element/24b7b5b64f644ef090fbf3bdc9ef6743"
      },
      {
        "contentUdi": "umb://element/15db592ca439472c80e4972708a2d855"
      },
      {
        "contentUdi": "umb://element/ce505997efbc48fcae1894fd78ff912a"
      },
      {
        "contentUdi": "umb://element/726a65739d1840b8ac67ea7d61983845"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6678b015bf8a4df485fa66945e9b240f",
      "value": "arbre",
      "confidence": "0.993063747882843"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/edf3826589c9438f89c34f5ac2d540d0",
      "value": "plante",
      "confidence": "0.9826815128326416"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b3cdd74dd3a4600b764ff74d9979f55",
      "value": "pétale",
      "confidence": "0.9793004989624023"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a16f25d66e348498d1a1f04bab1c0af",
      "value": "plein air",
      "confidence": "0.9435388445854187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0475a194264b4f3eb9d84a62a14be8f8",
      "value": "fleur",
      "confidence": "0.8895848989486694"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1069ff1f9834331aec49a77c0df2fd2",
      "value": "printemps",
      "confidence": "0.8881857395172119"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b7b5b64f644ef090fbf3bdc9ef6743",
      "value": "fleurir",
      "confidence": "0.880907416343689"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15db592ca439472c80e4972708a2d855",
      "value": "rose",
      "confidence": "0.6261386871337891"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce505997efbc48fcae1894fd78ff912a",
      "value": "feuille",
      "confidence": "0.5520825982093811"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/726a65739d1840b8ac67ea7d61983845",
      "value": "rhododendron",
      "confidence": "0.5273229479789734"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>In the artist's garden, rhododendrons have a fleeting but dazzling life.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Au jardin de l'artiste, les rhododendrons ont une vie éphémère mais éblouissantes.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows magnificent white flowers in full bloom, surrounded by lush green leaves. The flowers have delicate petals with prominent stamens, adding a touch of natural beauty to the scene. Sunlight illuminates the flowers, highlighting their purity and brilliance. This scene is captured in Brussels, Belgium."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre de magnifiques fleurs blanches en pleine floraison, entourées de feuilles vertes luxuriantes. Les fleurs ont des pétales délicats avec des étamines proéminentes, ajoutant une touche de beauté naturelle à la scène. La lumière du soleil éclaire les fleurs, mettant en valeur leur pureté et leur éclat. Cette scène est capturée à Bruxelles, Belgique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#flowers #nature #blooming #greenery #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#fleurs #nature #Bruxelles #Belgique #floraison #beauté]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "405de21a-e644-4805-8e09-b2b5d85f5c94",
    "mediaKey": "cf94dce9-9b36-4e1d-8ca1-60decef6b7e8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté éphémère mais éblouissante des rhododendrons en pleine floraison dans le jardin de l'artiste.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rhododendron Épanoui : Éclat Fugace au Jardin de l'Artiste]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Blooming Rhododendron: Fleeting Brilliance in the Artist's Garden]]></Value>
      <Value Culture="fr"><![CDATA[Rhododendron Épanoui : Éclat Fugace au Jardin de l'Artiste]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/jardin-de-lartiste-stuyvenbergh-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/jardin-de-lartiste-stuyvenbergh-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "flowers",
  "white",
  "leaves",
  "nature",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "fleurs",
  "blanches",
  "feuilles",
  "nature",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté éphémère mais éblouissante des rhododendrons en pleine floraison dans le jardin de l'artiste.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Blooming Rhododendron: Fleeting Brilliance in the Artist's Garden]]></Value>
      <Value Culture="fr"><![CDATA[Rhododendron Épanoui : Éclat Fugace au Jardin de l'Artiste]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>