<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd4ca451-3029-44b2-9c3f-50830090a316" Alias="Boucles d'oreille" Level="5">
  <Info>
    <Parent Key="cce4e4e4-0a6e-475d-b7ce-ec58f0ba2718">Bijoux</Parent>
    <Path>/Waaw/Data/Products/Bijoux/BouclesDoreille</Path>
    <Trashed>false</Trashed>
    <ContentType>productsFolder</ContentType>
    <CreateDate>2025-08-21T14:44:08</CreateDate>
    <NodeName Default="Boucles d'oreille" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>