<?xml version="1.0" encoding="utf-8"?>
<Content Key="551558d9-0640-4504-8192-b80366e041ae" Alias="Bouddha assis" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/BouddhaAssis</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Bouddha assis">
      <Name Culture="en">Seated Buddha</Name>
      <Name Culture="fr">Bouddha assis</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8feab28eebdc4db8bfc66a73c226faa4"
      },
      {
        "contentUdi": "umb://element/bb4035bc4a384b98a7d676824daeb630"
      },
      {
        "contentUdi": "umb://element/b602e3dcd6f248229933e0c7d4f9ee9d"
      },
      {
        "contentUdi": "umb://element/4a074876cd6b49b7af4c047a627533c2"
      },
      {
        "contentUdi": "umb://element/22cf340186c347a0abc510ad53baf630"
      },
      {
        "contentUdi": "umb://element/fea2ea25380b456288e6eb4b2eea6474"
      },
      {
        "contentUdi": "umb://element/13f495ac2add442fbbe3e74554c9a6bc"
      },
      {
        "contentUdi": "umb://element/37c7a04c73624ea89936153f64a699e6"
      },
      {
        "contentUdi": "umb://element/58a15db275514b74a91b4b0ba27a190d"
      },
      {
        "contentUdi": "umb://element/c66989abf5f540e78300ab433523083f"
      },
      {
        "contentUdi": "umb://element/364bb2a2aa8e4dc09bdfd0059f5dabfb"
      },
      {
        "contentUdi": "umb://element/83b028fdb1e4479193c1f08871c78301"
      },
      {
        "contentUdi": "umb://element/93fff0755fc740478727f7d732326471"
      },
      {
        "contentUdi": "umb://element/5f9b3cc858ff426fb76ae6b81390e963"
      },
      {
        "contentUdi": "umb://element/2d9afc0245dc4de0b545a63a327ba9dc"
      },
      {
        "contentUdi": "umb://element/92fcb41114934533b93901b8ec16c3af"
      },
      {
        "contentUdi": "umb://element/4f34717687284af793c72fdca95c5e71"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8feab28eebdc4db8bfc66a73c226faa4",
      "value": "ciel",
      "confidence": "0.9904861450195312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb4035bc4a384b98a7d676824daeb630",
      "value": "plein air",
      "confidence": "0.9890124797821045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b602e3dcd6f248229933e0c7d4f9ee9d",
      "value": "nuage",
      "confidence": "0.9788391590118408"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4a074876cd6b49b7af4c047a627533c2",
      "value": "arbre",
      "confidence": "0.9739546775817871"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22cf340186c347a0abc510ad53baf630",
      "value": "habits",
      "confidence": "0.938156008720398"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fea2ea25380b456288e6eb4b2eea6474",
      "value": "bâtiment",
      "confidence": "0.9031412601470947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13f495ac2add442fbbe3e74554c9a6bc",
      "value": "lieu de culte",
      "confidence": "0.8806382417678833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37c7a04c73624ea89936153f64a699e6",
      "value": "Ruines",
      "confidence": "0.876395583152771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58a15db275514b74a91b4b0ba27a190d",
      "value": "monument",
      "confidence": "0.8762030005455017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c66989abf5f540e78300ab433523083f",
      "value": "Site historique",
      "confidence": "0.8758285641670227"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/364bb2a2aa8e4dc09bdfd0059f5dabfb",
      "value": "personne",
      "confidence": "0.8521031737327576"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83b028fdb1e4479193c1f08871c78301",
      "value": "ruine",
      "confidence": "0.7732676863670349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/93fff0755fc740478727f7d732326471",
      "value": "sol",
      "confidence": "0.7669950723648071"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f9b3cc858ff426fb76ae6b81390e963",
      "value": "temple",
      "confidence": "0.7168282270431519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d9afc0245dc4de0b545a63a327ba9dc",
      "value": "ville",
      "confidence": "0.6090540885925293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92fcb41114934533b93901b8ec16c3af",
      "value": "personnes",
      "confidence": "0.5895819067955017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f34717687284af793c72fdca95c5e71",
      "value": "rue",
      "confidence": "0.41306012868881226"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/185235b14de64e44a2c6347b19c7487e"
      },
      {
        "contentUdi": "umb://element/324d4a74fd38494f831055ab223cb65e"
      },
      {
        "contentUdi": "umb://element/3f3336fff81b437a8de56a611f52275a"
      },
      {
        "contentUdi": "umb://element/ae3cc7eff0194a848980f206d7341b19"
      },
      {
        "contentUdi": "umb://element/7fd2ee513a5b4902acc6e354783f6224"
      },
      {
        "contentUdi": "umb://element/a8dffee8739f4e5e8953da1692d5c3ee"
      },
      {
        "contentUdi": "umb://element/4059bcd545674350b0b949210128edf5"
      },
      {
        "contentUdi": "umb://element/2369274d621d4db9b757142129d81f51"
      },
      {
        "contentUdi": "umb://element/650547f5982140d6ba2a68ffd17e2b3a"
      },
      {
        "contentUdi": "umb://element/27a4287e84f744a0a8380874399d3d93"
      },
      {
        "contentUdi": "umb://element/00fa670b0d7b4b60a1988320499362c4"
      },
      {
        "contentUdi": "umb://element/71a28e628e6e4dee80cea88b3bac9301"
      },
      {
        "contentUdi": "umb://element/e282a4ecce8b4c59bb45944551cb438c"
      },
      {
        "contentUdi": "umb://element/969f25cd02a74900abe1a9e0d7d853f7"
      },
      {
        "contentUdi": "umb://element/fd0bdee4ba784e3eb3764935ccbb0878"
      },
      {
        "contentUdi": "umb://element/ffffa0667e88441bad497f418a545824"
      },
      {
        "contentUdi": "umb://element/d2d92aa16d384d378e3e2a1781c6345f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/185235b14de64e44a2c6347b19c7487e",
      "value": "ciel",
      "confidence": "0.9904861450195312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/324d4a74fd38494f831055ab223cb65e",
      "value": "plein air",
      "confidence": "0.9890124797821045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f3336fff81b437a8de56a611f52275a",
      "value": "nuage",
      "confidence": "0.9788391590118408"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae3cc7eff0194a848980f206d7341b19",
      "value": "arbre",
      "confidence": "0.9739546775817871"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7fd2ee513a5b4902acc6e354783f6224",
      "value": "habits",
      "confidence": "0.938156008720398"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a8dffee8739f4e5e8953da1692d5c3ee",
      "value": "bâtiment",
      "confidence": "0.9031412601470947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4059bcd545674350b0b949210128edf5",
      "value": "lieu de culte",
      "confidence": "0.8806382417678833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2369274d621d4db9b757142129d81f51",
      "value": "Ruines",
      "confidence": "0.876395583152771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/650547f5982140d6ba2a68ffd17e2b3a",
      "value": "monument",
      "confidence": "0.8762030005455017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27a4287e84f744a0a8380874399d3d93",
      "value": "Site historique",
      "confidence": "0.8758285641670227"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00fa670b0d7b4b60a1988320499362c4",
      "value": "personne",
      "confidence": "0.8521031737327576"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71a28e628e6e4dee80cea88b3bac9301",
      "value": "ruine",
      "confidence": "0.7732676863670349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e282a4ecce8b4c59bb45944551cb438c",
      "value": "sol",
      "confidence": "0.7669950723648071"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/969f25cd02a74900abe1a9e0d7d853f7",
      "value": "temple",
      "confidence": "0.7168282270431519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd0bdee4ba784e3eb3764935ccbb0878",
      "value": "ville",
      "confidence": "0.6090540885925293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ffffa0667e88441bad497f418a545824",
      "value": "personnes",
      "confidence": "0.5895819067955017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2d92aa16d384d378e3e2a1781c6345f",
      "value": "rue",
      "confidence": "0.41306012868881226"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Seated Buddha in the Sukhothai Historical Park</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bouddha assis dans le parc historique de Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a scene in a historical site in Sukhothai, Thailand. In the center, a large statue of Buddha is surrounded by ancient columns. Three people are present, two of whom seem to be praying or paying homage to the statue, while another is bent over, perhaps placing an offering. The sky is blue with a few clouds, and green trees are visible in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène dans un site historique à Sukhothai, Thaïlande. Au centre, une grande statue de Bouddha est entourée de colonnes anciennes. Trois personnes sont présentes, deux d'entre elles semblent prier ou rendre hommage à la statue, tandis qu'une autre est penchée, peut-être en train de déposer une offrande. Le ciel est bleu avec quelques nuages, et des arbres verts sont visibles en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #Buddha #HistoricalSite #AncientRuins #Travel #Tourism #Culture #Heritage]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #Bouddha #Histoire #Culture #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "9e8c7e47-2b03-49b2-8aa1-2a8f131150f4",
    "mediaKey": "9f95b1d9-20e2-4416-904d-64882d9d48e6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue de Bouddha entourée de colonnes anciennes dans le site historique de Sukhothai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue de Bouddha entourée de colonnes anciennes dans le site historique de Sukhothai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Seated Buddha in the Sukhothai Historical Park]]></Value>
      <Value Culture="fr"><![CDATA[Bouddha Assis dans le Parc Historique de Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sitting-buddha-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sitting-buddha-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "Buddha statue",
  "historical site",
  "ancient columns",
  "prayer",
  "offering"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "statue de Bouddha",
  "site historique",
  "colonnes anciennes",
  "prière",
  "offrande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue de Bouddha entourée de colonnes anciennes dans le site historique de Sukhothai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Seated Buddha in the Sukhothai Historical Park]]></Value>
      <Value Culture="fr"><![CDATA[Bouddha Assis dans le Parc Historique de Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>