<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6efcf35-da3a-4959-a0b1-879d08102220" Alias="Bracelets" Level="5">
  <Info>
    <Parent Key="cce4e4e4-0a6e-475d-b7ce-ec58f0ba2718">Bijoux</Parent>
    <Path>/Waaw/Data/Products/Bijoux/Bracelets</Path>
    <Trashed>false</Trashed>
    <ContentType>productsFolder</ContentType>
    <CreateDate>2025-08-21T14:43:53</CreateDate>
    <NodeName Default="Bracelets" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>