<?xml version="1.0" encoding="utf-8"?>
<Content Key="69ce2cbc-cdb4-42c8-9d11-960ed34e4a4c" Alias="Bracelet bois et argent" Level="6">
  <Info>
    <Parent Key="d6efcf35-da3a-4959-a0b1-879d08102220">Bracelets</Parent>
    <Path>/Waaw/Data/Products/Bijoux/Bracelets/BraceletBoisEtArgent</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-21T14:57:57</CreateDate>
    <NodeName Default="Bracelet bois et argent">
      <Name Culture="fr">Bracelet bois et argent</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="fr"><![CDATA[[
  "bracelet"
]]]></Value>
    </categories>
    <description>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Élégance brute et éclat raffiné s’unissent dans ce bracelet unique, où la chaleur du bois rencontre la lumière de l’argent. Une alliance intemporelle entre nature et modernité, pensée pour sublimer votre style avec authenticité et distinction.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[W-C-1]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[
  {
    "key": "88ff3b42-4560-466c-a31e-2fefaf891479",
    "mediaKey": "b4d92d67-ee4d-4b6f-9db6-1c9ed7b2f7f4"
  }
]]]></Value>
    </image>
    <images>
      <Value Culture="fr"><![CDATA[[]]]></Value>
    </images>
    <price>
      <Value><![CDATA[34]]></Value>
    </price>
    <productId>
      <Value><![CDATA[W-B-1]]></Value>
    </productId>
    <productName>
      <Value Culture="fr"><![CDATA[Bracelet bois et argent]]></Value>
    </productName>
    <tags>
      <Value Culture="fr"><![CDATA[[
  "argent",
  "bois"
]]]></Value>
    </tags>
  </Properties>
</Content>