<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc319fd3-f15d-4b7a-8d21-099cee8cf84c" Alias="Breadcrumb" Level="5">
  <Info>
    <Parent Key="c40945f8-9346-4f35-9124-03fbaffd9834">Page elements</Parent>
    <Path>/Waaw/Data/CustomComponents/PageElements/Breadcrumb</Path>
    <Trashed>false</Trashed>
    <ContentType>pageElementComponent</ContentType>
    <CreateDate>2025-08-24T13:32:29</CreateDate>
    <NodeName Default="Breadcrumb">
      <Name Culture="fr">Breadcrumb</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <component>
      <Value><![CDATA[breadcrumb]]></Value>
    </component>
    <customProperties>
      <Value Culture="fr"><![CDATA[]]></Value>
    </customProperties>
    <template>
      <Value><![CDATA[]]></Value>
    </template>
  </Properties>
</Content>