<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec08d178-6920-4248-90f0-cdd9b2beb06c" Alias="Cards" Level="3">
  <Info>
    <Parent Key="b1022f65-4212-4cbe-8f9a-8f884814d134">Data</Parent>
    <Path>/Crolow/Data/Cards</Path>
    <Trashed>false</Trashed>
    <ContentType>cardFolder</ContentType>
    <CreateDate>2024-02-28T23:09:05</CreateDate>
    <NodeName Default="Cards" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>