<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3adfaae-dc7d-4481-850b-2317588a0c62" Alias="Carte de voeu" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CarteDeVoeu</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Carte de voeu">
      <Name Culture="en">Greeting Card</Name>
      <Name Culture="fr">Carte de voeu</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Our greeting cards measure 5\" x 7\" and are produced on digital offset printers using 100 lb paper. Each card is coated with a UV protective film on the outer surface, giving it a semi-gloss finish. The inside of each card has a matte white finish and can be personalized with your own message of up to 500 characters. Each card comes with a white envelope for mailing or gifting.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Nos cartes de vœux mesurent 5\" x 7\" et sont produites sur des imprimantes offset numériques en utilisant du papier de 100 lb. Chaque carte est recouverte d'un film protecteur UV sur la surface extérieure qui produit une finition semi-brillante. L'intérieur de chaque carte a une finition blanc mat et peut être personnalisé avec votre propre message jusqu'à 500 caractères. Chaque carte est livrée avec une enveloppe blanche pour l'envoi postal ou un cadeau.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[greeting-card]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[4]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TGREETING]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Carte de voeu]]></Value>
      <Value Culture="fr"><![CDATA[Carte de voeu]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>