<?xml version="1.0" encoding="utf-8"?>
<Content Key="66286f09-3877-4777-8725-7caf013242c3" Alias="Charles bridge #1" Level="104">
  <Info>
    <Parent Key="8583a9d2-380b-4c47-bec2-6f838f81eed8">Tchéquie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Tchequie/CharlesBridge1</Path>
    <Trashed Parent="8583a9d2-380b-4c47-bec2-6f838f81eed8">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Charles bridge #1">
      <Name Culture="en">Charles Bridge #1</Name>
      <Name Culture="fr">Charles bridge #1</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Iconic place in Prague.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lieu icônique de Prague.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque view of Prague, Czechia. It features the famous Charles Bridge spanning the Vltava River, with its arches and Gothic towers. In the background, you can admire historic buildings with red roofs and domes, whose architecture is typical of the city. The sky is partially cloudy, adding a dramatic touch to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue pittoresque de Prague, en Tchéquie. On y voit le célèbre pont Charles enjambant la rivière Vltava, avec ses arches et ses tours gothiques. En arrière-plan, on peut admirer des bâtiments historiques aux toits rouges et des dômes, dont l'architecture est typique de la ville. Le ciel est partiellement nuageux, ajoutant une touche dramatique à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Prague #CzechRepublic #Architecture #VltavaRiver #CharlesBridge #Travel #Cityscape #HistoricalBuildings]]></Value>
      <Value Culture="fr"><![CDATA[#Prague #Tchéquie #PontCharles #Vltava #Architecture #Histoire #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "ecbd6e92-114c-4f9b-903b-0309f8f7ccb0",
    "mediaKey": "d1b9438b-5a76-4dab-ab1f-15da31000740"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Prague, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Prague, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le pont Charles, un emblème de Prague, avec ses arches majestueuses et ses tours gothiques.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Charles : Joyau Gothique de Prague]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Charles Bridge: Gothic Jewel of Prague]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Charles : Joyau Gothique de Prague]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/charles-bridge-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/charles-bridge-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Prague",
  "Czechia",
  "Charles Bridge",
  "Vltava River",
  "architecture",
  "historic buildings",
  "Gothic towers",
  "domes",
  "red roofs"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Prague",
  "Tchéquie",
  "pont Charles",
  "rivière Vltava",
  "architecture",
  "bâtiments historiques",
  "tours gothiques",
  "dômes",
  "toits rouges"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le pont Charles, un emblème de Prague, avec ses arches majestueuses et ses tours gothiques.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Charles Bridge: Gothic Jewel of Prague]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Charles : Joyau Gothique de Prague]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>