<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1ffad5d-e57c-469f-b92a-3066eba1f2dc" Alias="Charles Bridge #3" Level="6">
  <Info>
    <Parent Key="0c0d5887-9759-4c4e-a9dc-37d86b305b0c">Czechia</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Czechia/CharlesBridge3</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-04-24T14:59:31</CreateDate>
    <NodeName Default="Charles Bridge #3">
      <Name Culture="en">Charles Bridge #3</Name>
      <Name Culture="fr">Charles bridge #3</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panoramic view focusing on Charles Bridge</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Vue panoramique avec comme focus le pont Charles</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a panoramic view of Prague, the capital of the Czech Republic. You can see the famous Charles Bridge crossing the Vltava River, with its distinctive Gothic towers. In the background, the red roofs of historic buildings blend with the city's modern structures. The scene is enlivened by the greenery of the trees and the architectural beauty of the buildings."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue panoramique de Prague, la capitale de la République tchèque. On peut y voir le célèbre pont Charles traversant la rivière Vltava, avec ses tours gothiques distinctives. En arrière-plan, les toits rouges des bâtiments historiques se mêlent aux structures modernes de la ville. La scène est animée par la verdure des arbres et la beauté architecturale des édifices."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Prague #CzechRepublic #CharlesBridge #Historic #Architecture #Cityscape #Travel #VltavaRiver]]></Value>
      <Value Culture="fr"><![CDATA[#Prague #Tchéquie #PontCharles #Vltava #Architecture #VuePanoramique #Histoire #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "af19197d-38ff-4fc8-9818-a741a21b6c45",
    "mediaKey": "6932e794-58e1-4523-bdfb-df02d7ad371e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Prague, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Prague, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majesté du pont Charles au cœur de Prague.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Vue Panoramique du Pont Charles à Prague]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panoramic View of Charles Bridge in Prague]]></Value>
      <Value Culture="fr"><![CDATA[Vue Panoramique du Pont Charles à Prague]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/charles-bridge-from-the-heights-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/charles-bridge-from-the-heights-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Prague",
  "Czech Republic",
  "Charles Bridge",
  "Vltava River",
  "architecture",
  "panoramic view",
  "historic buildings",
  "Gothic towers"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Prague",
  "Tchéquie",
  "pont Charles",
  "rivière Vltava",
  "architecture",
  "vue panoramique",
  "bâtiments historiques",
  "tours gothiques"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majesté du pont Charles au cœur de Prague.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panoramic View of Charles Bridge in Prague]]></Value>
      <Value Culture="fr"><![CDATA[Vue Panoramique du Pont Charles à Prague]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>