<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd6cbc4a-1a99-4abf-8cbb-9a4deaaf70c6" Alias="Christmas Tree in Pai" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/ChristmasTreeInPai</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T17:29:22</CreateDate>
    <NodeName Default="Christmas Tree in Pai">
      <Name Culture="en">Christmas Tree in Pai</Name>
      <Name Culture="fr">Sapin de Noël à la Pai</Name>
    </NodeName>
    <SortOrder>47</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f1071b5770aa48539ff9f6d0852a97a5"
      },
      {
        "contentUdi": "umb://element/5fcfbbab5d4c4ee3be3aa3b35bcc196a"
      },
      {
        "contentUdi": "umb://element/815d02dda3be40f28d90fa9294ffa7f4"
      },
      {
        "contentUdi": "umb://element/87a02cd609e147b7964b199e66b6fc6b"
      },
      {
        "contentUdi": "umb://element/0d1977e4cd97477580082b3bfb8ce957"
      },
      {
        "contentUdi": "umb://element/0b13553d0c2d4e1fb15554995b396418"
      },
      {
        "contentUdi": "umb://element/99f934a9f0214e079e04cfc85eeec9d5"
      },
      {
        "contentUdi": "umb://element/c85a0732ae1549eea20107c64dfa7735"
      },
      {
        "contentUdi": "umb://element/3b44a7d2f4d443848838410a73317561"
      },
      {
        "contentUdi": "umb://element/924120308f9e4f109c33a719c0e061bd"
      },
      {
        "contentUdi": "umb://element/4ae35e7dbd84476098eb8a130014df1e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1071b5770aa48539ff9f6d0852a97a5",
      "value": "plein air",
      "confidence": "0.988808274269104"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fcfbbab5d4c4ee3be3aa3b35bcc196a",
      "value": "arbre",
      "confidence": "0.9231318235397339"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/815d02dda3be40f28d90fa9294ffa7f4",
      "value": "Éclairage paysager",
      "confidence": "0.8945907354354858"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87a02cd609e147b7964b199e66b6fc6b",
      "value": "éclairage",
      "confidence": "0.8829679489135742"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d1977e4cd97477580082b3bfb8ce957",
      "value": "nuit",
      "confidence": "0.8776521682739258"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b13553d0c2d4e1fb15554995b396418",
      "value": "meubles",
      "confidence": "0.8772130012512207"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99f934a9f0214e079e04cfc85eeec9d5",
      "value": "maison",
      "confidence": "0.8517773747444153"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c85a0732ae1549eea20107c64dfa7735",
      "value": "sol",
      "confidence": "0.7966040372848511"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b44a7d2f4d443848838410a73317561",
      "value": "léger",
      "confidence": "0.7852467894554138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/924120308f9e4f109c33a719c0e061bd",
      "value": "hiver",
      "confidence": "0.5461203455924988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ae35e7dbd84476098eb8a130014df1e",
      "value": "Noël",
      "confidence": "0.4791492819786072"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f1071b5770aa48539ff9f6d0852a97a5"
      },
      {
        "contentUdi": "umb://element/5fcfbbab5d4c4ee3be3aa3b35bcc196a"
      },
      {
        "contentUdi": "umb://element/815d02dda3be40f28d90fa9294ffa7f4"
      },
      {
        "contentUdi": "umb://element/87a02cd609e147b7964b199e66b6fc6b"
      },
      {
        "contentUdi": "umb://element/0d1977e4cd97477580082b3bfb8ce957"
      },
      {
        "contentUdi": "umb://element/0b13553d0c2d4e1fb15554995b396418"
      },
      {
        "contentUdi": "umb://element/99f934a9f0214e079e04cfc85eeec9d5"
      },
      {
        "contentUdi": "umb://element/c85a0732ae1549eea20107c64dfa7735"
      },
      {
        "contentUdi": "umb://element/3b44a7d2f4d443848838410a73317561"
      },
      {
        "contentUdi": "umb://element/924120308f9e4f109c33a719c0e061bd"
      },
      {
        "contentUdi": "umb://element/4ae35e7dbd84476098eb8a130014df1e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1071b5770aa48539ff9f6d0852a97a5",
      "value": "plein air",
      "confidence": "0.988808274269104"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fcfbbab5d4c4ee3be3aa3b35bcc196a",
      "value": "arbre",
      "confidence": "0.9231318235397339"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/815d02dda3be40f28d90fa9294ffa7f4",
      "value": "Éclairage paysager",
      "confidence": "0.8945907354354858"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87a02cd609e147b7964b199e66b6fc6b",
      "value": "éclairage",
      "confidence": "0.8829679489135742"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d1977e4cd97477580082b3bfb8ce957",
      "value": "nuit",
      "confidence": "0.8776521682739258"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b13553d0c2d4e1fb15554995b396418",
      "value": "meubles",
      "confidence": "0.8772130012512207"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99f934a9f0214e079e04cfc85eeec9d5",
      "value": "maison",
      "confidence": "0.8517773747444153"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c85a0732ae1549eea20107c64dfa7735",
      "value": "sol",
      "confidence": "0.7966040372848511"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b44a7d2f4d443848838410a73317561",
      "value": "léger",
      "confidence": "0.7852467894554138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/924120308f9e4f109c33a719c0e061bd",
      "value": "hiver",
      "confidence": "0.5461203455924988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ae35e7dbd84476098eb8a130014df1e",
      "value": "Noël",
      "confidence": "0.4791492819786072"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>No tree, we light up as we can</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Pas de sapin, on éclaire comme on peut</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a night camping scene in Pai, Thailand. There is a tent set up on the ground, surrounded by wooden tables and benches. Colorful lanterns are hanging from the trees, creating a warm and festive atmosphere. In the background, illuminated wooden cabins can be seen, adding to the rustic charm of the place."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un camping de nuit à Pai, en Thaïlande. On y voit une tente installée sur un terrain, entourée de tables et de bancs en bois. Des lanternes colorées sont suspendues aux arbres, créant une ambiance chaleureuse et festive. En arrière-plan, on aperçoit des cabanes en bois éclairées, ajoutant au charme rustique du lieu."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#night #campsite #tent #woodencabins #lanterns #trees #Pai #Thailand]]></Value>
      <Value Culture="fr"><![CDATA[#camping #nuit #lanternes #tente #cabanes #bois #ambiancefestive #nature #Pai #Thaïlande]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "9a1e5fb5-0edf-42c0-b722-8f2ed063a06a",
    "mediaKey": "9d9f3e9b-dc04-44f5-95b9-56aef9c0741b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Pas de sapin, on éclaire comme on peut]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Noël sous les lanternes à Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Christmas under the lanterns in Pai]]></Value>
      <Value Culture="fr"><![CDATA[Noël sous les lanternes à Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/xmas-at-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/xmas-at-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "camping",
  "night",
  "lanterns",
  "tent",
  "cabins",
  "wood",
  "festive atmosphere",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "camping",
  "nuit",
  "lanternes",
  "tente",
  "cabanes",
  "bois",
  "ambiance festive",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Pas de sapin, on éclaire comme on peut]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Christmas under the lanterns in Pai]]></Value>
      <Value Culture="fr"><![CDATA[Noël sous les lanternes à Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>