<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ecd1dd5-8ef5-487a-bf0a-b8035d8b77f1" Alias="Circulez !" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/Circulez</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Circulez !">
      <Name Culture="en">Move Along!</Name>
      <Name Culture="fr">Circulez !</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1976b5d7214d4f5eb3f0ce4f30ad076e"
      },
      {
        "contentUdi": "umb://element/0139535075d940dfb464274c07b9c914"
      },
      {
        "contentUdi": "umb://element/460937919fc446578b9427d28caf764d"
      },
      {
        "contentUdi": "umb://element/dfb5b4e477b14c019646809213b2f6ba"
      },
      {
        "contentUdi": "umb://element/04cea1952d3c4a3d95fd9a56ced937b3"
      },
      {
        "contentUdi": "umb://element/326cdc8803e14631b305caeb2b2fca62"
      },
      {
        "contentUdi": "umb://element/e71932e462de462fa71be927b7e4e816"
      },
      {
        "contentUdi": "umb://element/23eccc08fea44f2bb7dedc1faa0f6604"
      },
      {
        "contentUdi": "umb://element/43826bacb1704e2ab90adb0f1dfedab3"
      },
      {
        "contentUdi": "umb://element/a952ec70c45540318320759111ba732f"
      },
      {
        "contentUdi": "umb://element/4d87d5be5d0a4aa799b6821bed6ceefc"
      },
      {
        "contentUdi": "umb://element/ad0996e33962485c81d846fb6a565011"
      },
      {
        "contentUdi": "umb://element/db658810a08a48d3a41ddcd56d039be7"
      },
      {
        "contentUdi": "umb://element/309623f0d76b44088f362df186f32eb9"
      },
      {
        "contentUdi": "umb://element/e379393c13824cc0b32ed1098bf9feeb"
      },
      {
        "contentUdi": "umb://element/7f0d368419b342a1b2cc2890f37f16aa"
      },
      {
        "contentUdi": "umb://element/934887984db44681ba082dd1669da05f"
      },
      {
        "contentUdi": "umb://element/cacd52050e25488d82a73c3267b2de2e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1976b5d7214d4f5eb3f0ce4f30ad076e",
      "value": "plein air",
      "confidence": "0.9979590177536011"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0139535075d940dfb464274c07b9c914",
      "value": "eau",
      "confidence": "0.9949816465377808"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/460937919fc446578b9427d28caf764d",
      "value": "nuage",
      "confidence": "0.993279218673706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfb5b4e477b14c019646809213b2f6ba",
      "value": "ciel",
      "confidence": "0.9837551116943359"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04cea1952d3c4a3d95fd9a56ced937b3",
      "value": "voie navigable",
      "confidence": "0.9651719331741333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/326cdc8803e14631b305caeb2b2fca62",
      "value": "bateau",
      "confidence": "0.9641150236129761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e71932e462de462fa71be927b7e4e816",
      "value": "Canal",
      "confidence": "0.9456913471221924"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23eccc08fea44f2bb7dedc1faa0f6604",
      "value": "coucher de soleil",
      "confidence": "0.9433027505874634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43826bacb1704e2ab90adb0f1dfedab3",
      "value": "bâtiment",
      "confidence": "0.9340583086013794"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a952ec70c45540318320759111ba732f",
      "value": "véhicule",
      "confidence": "0.919572651386261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d87d5be5d0a4aa799b6821bed6ceefc",
      "value": "canal",
      "confidence": "0.9034539461135864"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad0996e33962485c81d846fb6a565011",
      "value": "lac",
      "confidence": "0.8822357058525085"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db658810a08a48d3a41ddcd56d039be7",
      "value": "pont",
      "confidence": "0.8459702730178833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/309623f0d76b44088f362df186f32eb9",
      "value": "rivière",
      "confidence": "0.8346728086471558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e379393c13824cc0b32ed1098bf9feeb",
      "value": "paysage",
      "confidence": "0.8314459919929504"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f0d368419b342a1b2cc2890f37f16aa",
      "value": "embarcation",
      "confidence": "0.7733216881752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/934887984db44681ba082dd1669da05f",
      "value": "ville",
      "confidence": "0.6065369844436646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cacd52050e25488d82a73c3267b2de2e",
      "value": "voyage",
      "confidence": "0.5879860520362854"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d48c76938e4b405aafd0c7958f93124a"
      },
      {
        "contentUdi": "umb://element/1ada00974f8849528d2a0f95e4231cd2"
      },
      {
        "contentUdi": "umb://element/56712ecd396940518f9077cbc7445ce1"
      },
      {
        "contentUdi": "umb://element/a777526ee73a4e2ea288e7f56155493b"
      },
      {
        "contentUdi": "umb://element/068f7e3358bb48a3bef1dd67629d1695"
      },
      {
        "contentUdi": "umb://element/f9a268b8e5dd4b8c9b473c5ab10395b6"
      },
      {
        "contentUdi": "umb://element/e0a746ef480d476c8b83f32fd46760ff"
      },
      {
        "contentUdi": "umb://element/b9db18c11616493d99b5f0e71eafd49d"
      },
      {
        "contentUdi": "umb://element/944ec8f22c1d4f08a3fb249665a9b55a"
      },
      {
        "contentUdi": "umb://element/0a92d7e3ca12482d9b822269af26ffac"
      },
      {
        "contentUdi": "umb://element/0b350d8c870c407d887b655abb73ad1d"
      },
      {
        "contentUdi": "umb://element/ab88b0b9043842ceb42bd361307206ab"
      },
      {
        "contentUdi": "umb://element/2e53c6d8804a4451adfe0fc81fc01493"
      },
      {
        "contentUdi": "umb://element/3b6cad9380a24f95a830761bd9127e5e"
      },
      {
        "contentUdi": "umb://element/6ec8ee853f2f4a9da02a9ed504a4b28f"
      },
      {
        "contentUdi": "umb://element/3a46736b68ca4dd59b6535b5f9bab1aa"
      },
      {
        "contentUdi": "umb://element/9e22080200334ae280bc594ec93ab521"
      },
      {
        "contentUdi": "umb://element/1d1b7c06233a48b3b184fda869a0993d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d48c76938e4b405aafd0c7958f93124a",
      "value": "plein air",
      "confidence": "0.9979590177536011"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ada00974f8849528d2a0f95e4231cd2",
      "value": "eau",
      "confidence": "0.9949816465377808"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56712ecd396940518f9077cbc7445ce1",
      "value": "nuage",
      "confidence": "0.993279218673706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a777526ee73a4e2ea288e7f56155493b",
      "value": "ciel",
      "confidence": "0.9837551116943359"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/068f7e3358bb48a3bef1dd67629d1695",
      "value": "voie navigable",
      "confidence": "0.9651719331741333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f9a268b8e5dd4b8c9b473c5ab10395b6",
      "value": "bateau",
      "confidence": "0.9641150236129761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0a746ef480d476c8b83f32fd46760ff",
      "value": "Canal",
      "confidence": "0.9456913471221924"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9db18c11616493d99b5f0e71eafd49d",
      "value": "coucher de soleil",
      "confidence": "0.9433027505874634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/944ec8f22c1d4f08a3fb249665a9b55a",
      "value": "bâtiment",
      "confidence": "0.9340583086013794"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a92d7e3ca12482d9b822269af26ffac",
      "value": "véhicule",
      "confidence": "0.919572651386261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b350d8c870c407d887b655abb73ad1d",
      "value": "canal",
      "confidence": "0.9034539461135864"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab88b0b9043842ceb42bd361307206ab",
      "value": "lac",
      "confidence": "0.8822357058525085"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e53c6d8804a4451adfe0fc81fc01493",
      "value": "pont",
      "confidence": "0.8459702730178833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b6cad9380a24f95a830761bd9127e5e",
      "value": "rivière",
      "confidence": "0.8346728086471558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ec8ee853f2f4a9da02a9ed504a4b28f",
      "value": "paysage",
      "confidence": "0.8314459919929504"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a46736b68ca4dd59b6535b5f9bab1aa",
      "value": "embarcation",
      "confidence": "0.7733216881752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e22080200334ae280bc594ec93ab521",
      "value": "ville",
      "confidence": "0.6065369844436646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d1b7c06233a48b3b184fda869a0993d",
      "value": "voyage",
      "confidence": "0.5879860520362854"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A barge at sunset on the canal</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Une péniche au coucher de soleil sur le canal</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque scene of a canal in Brussels, Belgium, with a boat peacefully navigating the water. The banks of the canal are lined with urban buildings and industrial structures. The sky is dotted with clouds in golden hues, suggesting a sunset or late afternoon. The soft light reflects on the water, creating a serene and calm atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène pittoresque d'un canal à Bruxelles, Belgique, avec un bateau naviguant paisiblement sur l'eau. Les rives du canal sont bordées de bâtiments urbains et de structures industrielles. Le ciel est parsemé de nuages avec des teintes dorées, suggérant un coucher de soleil ou une fin d'après-midi. La lumière douce se reflète sur l'eau, créant une atmosphère sereine et calme."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #canal #sunset #urban #water #barge #cityscape #reflection]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #canal #bateau #coucherdesoleil #urbain #architecture #serenité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "a6671852-ba64-4682-a740-c2439941eb80",
    "mediaKey": "f9d24396-0da8-49a3-8440-4bc1603fc5ec"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un canal bruxellois au crépuscule.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Circulez ! Une péniche au coucher de soleil]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Move Along! A barge at sunset]]></Value>
      <Value Culture="fr"><![CDATA[Circulez ! Une péniche au coucher de soleil]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/cargo-ship-on-brussels-canal-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/cargo-ship-on-brussels-canal-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "canal",
  "boat",
  "sunset",
  "urban",
  "water",
  "reflection",
  "architecture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "canal",
  "bateau",
  "coucher de soleil",
  "urbain",
  "eau",
  "réflexion",
  "architecture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un canal bruxellois au crépuscule.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Move Along! A barge at sunset]]></Value>
      <Value Culture="fr"><![CDATA[Circulez ! Une péniche au coucher de soleil]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>