<?xml version="1.0" encoding="utf-8"?>
<Content Key="15af39d9-69f6-4038-bb1e-9b01ddb91619" Alias="Cirque de la Galerie Ravenstein" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/CirqueDeLaGalerieRavenstein</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Cirque de la Galerie Ravenstein">
      <Name Culture="en">Cirque de la Galerie Ravenstein</Name>
      <Name Culture="fr">Cirque de la Galerie Ravenstein</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37627f9565904a6ebe8ae7afd1284e41"
      },
      {
        "contentUdi": "umb://element/092a9ad7390d423abf2874d262da052d"
      },
      {
        "contentUdi": "umb://element/1f0ac87d3fed44879966c0139f80760a"
      },
      {
        "contentUdi": "umb://element/ad8874947c2a4254bedb49ab25626b31"
      },
      {
        "contentUdi": "umb://element/e8e01b6601364576955407da2e2d9ab8"
      },
      {
        "contentUdi": "umb://element/a8358132a2e24d5ea5ab71ca7c177d70"
      },
      {
        "contentUdi": "umb://element/eaf78888c11247219c763de8b645059f"
      },
      {
        "contentUdi": "umb://element/bfb1d0478d4a4afcab9744f5e472d6a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37627f9565904a6ebe8ae7afd1284e41",
      "value": "scène",
      "confidence": "0.9838460087776184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/092a9ad7390d423abf2874d262da052d",
      "value": "intérieur",
      "confidence": "0.9511133432388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f0ac87d3fed44879966c0139f80760a",
      "value": "lobby",
      "confidence": "0.9425020217895508"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad8874947c2a4254bedb49ab25626b31",
      "value": "bâtiment",
      "confidence": "0.91703200340271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8e01b6601364576955407da2e2d9ab8",
      "value": "sol",
      "confidence": "0.9114123582839966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a8358132a2e24d5ea5ab71ca7c177d70",
      "value": "Grand magasin",
      "confidence": "0.9024205207824707"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eaf78888c11247219c763de8b645059f",
      "value": "centre commercial",
      "confidence": "0.7263099551200867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfb1d0478d4a4afcab9744f5e472d6a6",
      "value": "grand",
      "confidence": "0.6362118721008301"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/24ea2a75e4284107bfafe02dc774e874"
      },
      {
        "contentUdi": "umb://element/a7958680869b4d3fb75ada2d178cd3e0"
      },
      {
        "contentUdi": "umb://element/a32f4c8dcf6048efbb110d902241eac3"
      },
      {
        "contentUdi": "umb://element/8aaad76ccb39479ba9108c479b4583e5"
      },
      {
        "contentUdi": "umb://element/c764e465a3fc4247a8ec95b03dc4909f"
      },
      {
        "contentUdi": "umb://element/bd0dec253b934e7e80ea2031d5d05eea"
      },
      {
        "contentUdi": "umb://element/263a36222e8c49068e624c0da6cd9a48"
      },
      {
        "contentUdi": "umb://element/2f8f472697e745aebc5e44aae43ee10b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24ea2a75e4284107bfafe02dc774e874",
      "value": "scène",
      "confidence": "0.9838460087776184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7958680869b4d3fb75ada2d178cd3e0",
      "value": "intérieur",
      "confidence": "0.9511133432388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a32f4c8dcf6048efbb110d902241eac3",
      "value": "lobby",
      "confidence": "0.9425020217895508"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8aaad76ccb39479ba9108c479b4583e5",
      "value": "bâtiment",
      "confidence": "0.91703200340271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c764e465a3fc4247a8ec95b03dc4909f",
      "value": "sol",
      "confidence": "0.9114123582839966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd0dec253b934e7e80ea2031d5d05eea",
      "value": "Grand magasin",
      "confidence": "0.9024205207824707"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/263a36222e8c49068e624c0da6cd9a48",
      "value": "centre commercial",
      "confidence": "0.7263099551200867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f8f472697e745aebc5e44aae43ee10b",
      "value": "grand",
      "confidence": "0.6362118721008301"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>It's beautiful and empty</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>C'est beau et vide</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the interior of a building in Brussels, Belgium. It is an open space with circular architecture, columns, and stairs leading to different levels. The ceiling is dome-shaped with openings allowing natural light to enter. You can see signs bearing the name 'Veranneman' on the sides."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'intérieur d'un bâtiment à Bruxelles, Belgique. Il s'agit d'un espace ouvert avec une architecture circulaire, des colonnes et des escaliers menant à différents niveaux. Le plafond est en forme de dôme avec des ouvertures laissant entrer la lumière naturelle. On peut voir des enseignes portant le nom 'Veranneman' sur les côtés."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #Architecture #InteriorDesign #Atrium #PublicSpace #CommercialArea]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #intérieur #bâtiment #espaceouvert #colonnes #escaliers #dôme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f08d6c62-8a4c-41fc-b582-417baf013810",
    "mediaKey": "15c39c9c-d990-4e16-a279-37c7c8c351ee"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté et la sérénité de la Galerie Ravenstein, un espace ouvert au cœur de Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Cirque de la Galerie Ravenstein : Un Joyau Architectural à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Cirque de la Galerie Ravenstein: An Architectural Jewel in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Cirque de la Galerie Ravenstein : Un Joyau Architectural à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/ravenstein-gallery-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/ravenstein-gallery-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "interior",
  "building",
  "open space",
  "columns",
  "stairs",
  "dome"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "intérieur",
  "bâtiment",
  "espace ouvert",
  "colonnes",
  "escaliers",
  "dôme"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté et la sérénité de la Galerie Ravenstein, un espace ouvert au cœur de Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Cirque de la Galerie Ravenstein: An Architectural Jewel in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Cirque de la Galerie Ravenstein : Un Joyau Architectural à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>