<?xml version="1.0" encoding="utf-8"?>
<Content Key="46746327-3ec1-478f-89be-5430201833d9" Alias="Clash de générations" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/ClashDeGenerations</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Clash de générations">
      <Name Culture="en">Generational Clash</Name>
      <Name Culture="fr">Clash de générations</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8d532498de3f422fb504acd08ab4a723"
      },
      {
        "contentUdi": "umb://element/8b151b72993244bc93f3300c627207e9"
      },
      {
        "contentUdi": "umb://element/b4a62e40fcd0413dbc884a6cdefb4c7f"
      },
      {
        "contentUdi": "umb://element/5636e97e267c42e4a9886abce8031f4c"
      },
      {
        "contentUdi": "umb://element/40e5b05a408f453f9317e2bf93e2e2c0"
      },
      {
        "contentUdi": "umb://element/efb1114420ed433491d80f94255ade3e"
      },
      {
        "contentUdi": "umb://element/7d3b0f615a7c4a19a289fb8ca98d070e"
      },
      {
        "contentUdi": "umb://element/7fd5e9e0fdda4ee8b160788972eb2af5"
      },
      {
        "contentUdi": "umb://element/389f1dbd593e4aaea7cc583d82d59e5f"
      },
      {
        "contentUdi": "umb://element/ecaa86cc2b4a4f14af4d64d6e65444e7"
      },
      {
        "contentUdi": "umb://element/3004955267004c11a7749d794eecf6fa"
      },
      {
        "contentUdi": "umb://element/30907e326d594c07b969de8b6fba6421"
      },
      {
        "contentUdi": "umb://element/1a2b5227d3074809819d378864b1ba32"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d532498de3f422fb504acd08ab4a723",
      "value": "plein air",
      "confidence": "0.9963991641998291"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b151b72993244bc93f3300c627207e9",
      "value": "habits",
      "confidence": "0.9872611165046692"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4a62e40fcd0413dbc884a6cdefb4c7f",
      "value": "véhicule",
      "confidence": "0.9754946827888489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5636e97e267c42e4a9886abce8031f4c",
      "value": "Véhicule terrestre",
      "confidence": "0.952751874923706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40e5b05a408f453f9317e2bf93e2e2c0",
      "value": "roue",
      "confidence": "0.9321953058242798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/efb1114420ed433491d80f94255ade3e",
      "value": "voiture",
      "confidence": "0.9288598299026489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d3b0f615a7c4a19a289fb8ca98d070e",
      "value": "personne",
      "confidence": "0.9224147200584412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7fd5e9e0fdda4ee8b160788972eb2af5",
      "value": "pneu",
      "confidence": "0.9059155583381653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/389f1dbd593e4aaea7cc583d82d59e5f",
      "value": "bâtiment",
      "confidence": "0.8801051378250122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ecaa86cc2b4a4f14af4d64d6e65444e7",
      "value": "Plaque d’immatriculation de véhicule",
      "confidence": "0.8467761278152466"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3004955267004c11a7749d794eecf6fa",
      "value": "sol",
      "confidence": "0.691352367401123"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/30907e326d594c07b969de8b6fba6421",
      "value": "femme",
      "confidence": "0.6814454793930054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a2b5227d3074809819d378864b1ba32",
      "value": "rue",
      "confidence": "0.6692018508911133"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9b3e61aba1004b33ba2f91509d84df72"
      },
      {
        "contentUdi": "umb://element/6877e8c04ce346af80e6636ee0cd492e"
      },
      {
        "contentUdi": "umb://element/6e71976b11f94f4f8b9d3aab090018f6"
      },
      {
        "contentUdi": "umb://element/60a9f288c221432397600ec17022e196"
      },
      {
        "contentUdi": "umb://element/911a8c74203a43c9a4cd9d6d8c010f8b"
      },
      {
        "contentUdi": "umb://element/4aaca1b726e3419890c865b4f8350b15"
      },
      {
        "contentUdi": "umb://element/4c82cc86f5e24cb9b67c4ebfa7bbd7a7"
      },
      {
        "contentUdi": "umb://element/698ac913b019409a9ae472053164ab83"
      },
      {
        "contentUdi": "umb://element/d6c8eac5711344bc98f90201e9e9840e"
      },
      {
        "contentUdi": "umb://element/32d195c19e5e4558b8f7bf6d4f9a029f"
      },
      {
        "contentUdi": "umb://element/ffe83355354949b1971f8576dcc72de7"
      },
      {
        "contentUdi": "umb://element/8eda7f4d04054ab9bf2090a264ebec78"
      },
      {
        "contentUdi": "umb://element/a711e25383254774960b6f2d68a1c6e9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b3e61aba1004b33ba2f91509d84df72",
      "value": "plein air",
      "confidence": "0.9963991641998291"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6877e8c04ce346af80e6636ee0cd492e",
      "value": "habits",
      "confidence": "0.9872611165046692"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e71976b11f94f4f8b9d3aab090018f6",
      "value": "véhicule",
      "confidence": "0.9754946827888489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60a9f288c221432397600ec17022e196",
      "value": "Véhicule terrestre",
      "confidence": "0.952751874923706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/911a8c74203a43c9a4cd9d6d8c010f8b",
      "value": "roue",
      "confidence": "0.9321953058242798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4aaca1b726e3419890c865b4f8350b15",
      "value": "voiture",
      "confidence": "0.9288598299026489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c82cc86f5e24cb9b67c4ebfa7bbd7a7",
      "value": "personne",
      "confidence": "0.9224147200584412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/698ac913b019409a9ae472053164ab83",
      "value": "pneu",
      "confidence": "0.9059155583381653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6c8eac5711344bc98f90201e9e9840e",
      "value": "bâtiment",
      "confidence": "0.8801051378250122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32d195c19e5e4558b8f7bf6d4f9a029f",
      "value": "Plaque d’immatriculation de véhicule",
      "confidence": "0.8467761278152466"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ffe83355354949b1971f8576dcc72de7",
      "value": "sol",
      "confidence": "0.691352367401123"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8eda7f4d04054ab9bf2090a264ebec78",
      "value": "femme",
      "confidence": "0.6814454793930054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a711e25383254774960b6f2d68a1c6e9",
      "value": "rue",
      "confidence": "0.6692018508911133"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>An old merchant in traditional clothing deals with a more modern man clutching his fancy phone.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un vieux marchand avec des habits traditionnels deale avec un homme plus moderne agrippé à son joli portable.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a street scene in Ayutthaya, Thailand. Two men are standing near a food cart; one is wearing a straw hat and red shirt, while the other is taking a photo with his phone. A dog is lying on the ground nearby. There is a brick wall in the background and a black car with a visible license plate in the foreground."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre deux hommes debout à côté d'un chariot dans une rue d'Ayutthaya, Thaïlande. L'un des hommes porte un chapeau de paille et des gants blancs, tandis que l'autre semble utiliser un téléphone portable. Un chien est couché sur le sol à côté d'eux. En arrière-plan, on peut voir un mur de briques et un toit de tuiles rouges, ainsi qu'une voiture noire garée à proximité."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Ayutthaya #Thailand #StreetPhotography #FoodCart #LocalLife #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#Ayutthaya #Thaïlande #scèneDeRue #chariot #chapeauDePaille #téléphonePortable #chien #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1856aa62-58c7-4dc5-8ed7-0dfd4ac727c7",
    "mediaKey": "81882315-5b6b-47a4-8dc6-ab0a99767d26"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ayutthaya, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ayutthaya, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un marchand traditionnel et un homme moderne se rencontrent dans une rue d'Ayutthaya, illustrant un contraste saisissant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un marchand traditionnel et un homme moderne se rencontrent dans une rue d'Ayutthaya, illustrant un contraste saisissant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Generational Clash in Ayutthaya]]></Value>
      <Value Culture="fr"><![CDATA[Choc des Générations à Ayutthaya]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/generation-clash-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/generation-clash-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Ayutthaya",
  "Thailand",
  "street scene",
  "food cart",
  "men",
  "dog",
  "brick wall",
  "car"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Ayutthaya",
  "Thaïlande",
  "hommes",
  "chariot",
  "chapeau de paille",
  "téléphone portable",
  "chien",
  "mur de briques",
  "voiture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un marchand traditionnel et un homme moderne se rencontrent dans une rue d'Ayutthaya, illustrant un contraste saisissant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Generational Clash in Ayutthaya]]></Value>
      <Value Culture="fr"><![CDATA[Choc des Générations à Ayutthaya]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>