<?xml version="1.0" encoding="utf-8"?>
<Content Key="935cf20e-9ce2-4df8-91a5-fb2d016af344" Alias="Content Header" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContentHeader</Path>
    <Trashed Parent="f3843d25-ab5d-44d4-8e0b-9e3753cb688e">true</Trashed>
    <ContentType>headerRollup</ContentType>
    <CreateDate>2025-08-22T10:44:38</CreateDate>
    <NodeName Default="Content Header">
      <Name Culture="fr">Content Header</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "750814f0-acad-44c9-a31a-6ddd4691c5a6",
    "mediaKey": "b767d10e-925c-4f9c-81f1-5269772c39e6"
  }
]]]></Value>
    </image>
    <items>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/648a64834a5240c5bf6117e56f5ba636"
      },
      {
        "contentUdi": "umb://element/483439ec1e834fa9841e47e689aba4c8"
      },
      {
        "contentUdi": "umb://element/ce642a81cb4e457083ed39765252d1c7"
      },
      {
        "contentUdi": "umb://element/efea6f514bdc4128878ac17d19dc6306"
      },
      {
        "contentUdi": "umb://element/5aeb6bd2f9ed406da35ac1f42d533ec9"
      },
      {
        "contentUdi": "umb://element/cc59eeb20e364001849dad9d2bb08b8f"
      },
      {
        "contentUdi": "umb://element/e4eda51871014562b385a920f38127a9"
      },
      {
        "contentUdi": "umb://element/2b5a329d259e4852bb6136cdcfe1439b"
      },
      {
        "contentUdi": "umb://element/76f960670a3a4db8a29cd77437469a74"
      },
      {
        "contentUdi": "umb://element/68c975d0de8940cf8b63b6e139b7d405"
      },
      {
        "contentUdi": "umb://element/98e5b3d36ae141e8b494961dea1e8860"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/648a64834a5240c5bf6117e56f5ba636",
      "item": {
        "markup": "<p>«Du Sénégal à votre cœur,<br>des créations qui changent le monde.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/483439ec1e834fa9841e47e689aba4c8",
      "item": {
        "markup": "<p>«Chaque achat, un geste pour la planète.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/ce642a81cb4e457083ed39765252d1c7",
      "item": {
        "markup": "<p>«La beauté qui dure, pour un monde qui perdure.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/efea6f514bdc4128878ac17d19dc6306",
      "item": {
        "markup": "<p>«Mode &amp; artisanat : le futur se porte aujourd’hui.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/5aeb6bd2f9ed406da35ac1f42d533ec9",
      "item": {
        "markup": "<p>Vos bijoux écrivent des histoires...<br>et changent des vies.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/cc59eeb20e364001849dad9d2bb08b8f",
      "item": {
        "markup": "<p>«Quand vous portez l’art, vous soutenez l’artiste.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/e4eda51871014562b385a920f38127a9",
      "item": {
        "markup": "<p>«Offrez plus qu’un objet : offrez un avenir.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/2b5a329d259e4852bb6136cdcfe1439b",
      "item": {
        "markup": "<p>«Du fait-main, fait avec amour,<br>pour un monde meilleur.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/76f960670a3a4db8a29cd77437469a74",
      "item": {
        "markup": "<p>«Chaque pièce est unique… comme vous.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/68c975d0de8940cf8b63b6e139b7d405",
      "item": {
        "markup": "<p>«Pas de production de masse,<br>juste de la passion.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/98e5b3d36ae141e8b494961dea1e8860",
      "item": {
        "markup": "<p>«Des matières nobles,<br>des gestes ancestraux, un style éternel.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </items>
  </Properties>
</Content>