<?xml version="1.0" encoding="utf-8"?>
<Content Key="de446cd5-293d-4b52-ad72-604207ef1821" Alias="Coque IPhone / Galaxy" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CoqueIPhoneGalaxy</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Coque IPhone / Galaxy">
      <Name Culture="en">iPhone / Galaxy Case</Name>
      <Name Culture="fr">Coque IPhone / Galaxy</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Protect your iPhone with a slim, shock-resistant hard case. The image is printed directly onto the case and wraps around the edges for a beautiful presentation. Simply snap the case onto your smartphone for instant protection and direct access to all phone features!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Protégez votre iPhone avec une coque rigide fine et résistante aux chocs. L'image est imprimée directement sur la coque et enroulée sur les bords pour une belle présentation. Enclenchez simplement la coque sur votre Smartphone pour une protection instantanée et un accès direct à toutes les fonctionnalités du téléphone !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[iphone-case-cover]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[25]]></Value>
    </price>
    <productId>
      <Value><![CDATA[T-PHONECASE]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Coque IPhone / Galaxy]]></Value>
      <Value Culture="fr"><![CDATA[Coque IPhone / Galaxy]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>