<?xml version="1.0" encoding="utf-8"?>
<Content Key="221ffb1a-6907-41c3-bd33-70d6982d9c1e" Alias="Coucher de soleil sur Ping River" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/CoucherDeSoleilSurPingRiver</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T13:17:20</CreateDate>
    <NodeName Default="Coucher de soleil sur Ping River">
      <Name Culture="en">Sunset on Ping River</Name>
      <Name Culture="fr">Coucher de soleil sur Ping River</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c49923c87a08418c8dc3df568937fc41"
      },
      {
        "contentUdi": "umb://element/2bba871222b5418883b105761a8e9fbb"
      },
      {
        "contentUdi": "umb://element/ed90fd6321b948faa1e910b4939a241f"
      },
      {
        "contentUdi": "umb://element/d02c0a6892dd404c86ff370a9d30a88d"
      },
      {
        "contentUdi": "umb://element/19168a339683469192a49baf7cc35a02"
      },
      {
        "contentUdi": "umb://element/0123bb46def1471f898befbbc74d8a15"
      },
      {
        "contentUdi": "umb://element/85e4be2441f5409ea1de8ca985a157a7"
      },
      {
        "contentUdi": "umb://element/e797080c0ad848099d43d3634b8c83d7"
      },
      {
        "contentUdi": "umb://element/87e94754d999454eaa32ed09944d724c"
      },
      {
        "contentUdi": "umb://element/5ba33e9d0b054bb4ad4c7ac6271220be"
      },
      {
        "contentUdi": "umb://element/eb4c55d0467b4af29b8577cafd41917a"
      },
      {
        "contentUdi": "umb://element/333b72fce3ff4327a3c7ded1bec66ecb"
      },
      {
        "contentUdi": "umb://element/2345aeef4f934311942c033d840e16fd"
      },
      {
        "contentUdi": "umb://element/67e94ced9f5e4153931472b481081eb0"
      },
      {
        "contentUdi": "umb://element/3cd6a9ba1836434a84ba61b8128a577b"
      },
      {
        "contentUdi": "umb://element/ee4b03223e354958bebf4071e7cba0b3"
      },
      {
        "contentUdi": "umb://element/2552cade20364b47a4826bcb55de37d9"
      },
      {
        "contentUdi": "umb://element/6543e7c8b4cc4425a5861f14f7c477c8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c49923c87a08418c8dc3df568937fc41",
      "value": "plein air",
      "confidence": "0.99893718957901"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bba871222b5418883b105761a8e9fbb",
      "value": "eau",
      "confidence": "0.990952730178833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed90fd6321b948faa1e910b4939a241f",
      "value": "ciel",
      "confidence": "0.9880150556564331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d02c0a6892dd404c86ff370a9d30a88d",
      "value": "nuage",
      "confidence": "0.9842934608459473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/19168a339683469192a49baf7cc35a02",
      "value": "arbre",
      "confidence": "0.9773383736610413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0123bb46def1471f898befbbc74d8a15",
      "value": "coucher de soleil",
      "confidence": "0.9377834796905518"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85e4be2441f5409ea1de8ca985a157a7",
      "value": "plante",
      "confidence": "0.908490777015686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e797080c0ad848099d43d3634b8c83d7",
      "value": "promenade en planches",
      "confidence": "0.8655240535736084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87e94754d999454eaa32ed09944d724c",
      "value": "paysage",
      "confidence": "0.8483443260192871"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ba33e9d0b054bb4ad4c7ac6271220be",
      "value": "reflet",
      "confidence": "0.841323733329773"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb4c55d0467b4af29b8577cafd41917a",
      "value": "jetée",
      "confidence": "0.7970768213272095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/333b72fce3ff4327a3c7ded1bec66ecb",
      "value": "lever de soleil",
      "confidence": "0.7922189235687256"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2345aeef4f934311942c033d840e16fd",
      "value": "en bois",
      "confidence": "0.7050778865814209"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67e94ced9f5e4153931472b481081eb0",
      "value": "quai",
      "confidence": "0.6498939990997314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3cd6a9ba1836434a84ba61b8128a577b",
      "value": "nature",
      "confidence": "0.6437951326370239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee4b03223e354958bebf4071e7cba0b3",
      "value": "lac",
      "confidence": "0.566599428653717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2552cade20364b47a4826bcb55de37d9",
      "value": "rivière",
      "confidence": "0.5609444975852966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6543e7c8b4cc4425a5861f14f7c477c8",
      "value": "soleil",
      "confidence": "0.4628082811832428"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c49923c87a08418c8dc3df568937fc41"
      },
      {
        "contentUdi": "umb://element/2bba871222b5418883b105761a8e9fbb"
      },
      {
        "contentUdi": "umb://element/ed90fd6321b948faa1e910b4939a241f"
      },
      {
        "contentUdi": "umb://element/d02c0a6892dd404c86ff370a9d30a88d"
      },
      {
        "contentUdi": "umb://element/19168a339683469192a49baf7cc35a02"
      },
      {
        "contentUdi": "umb://element/0123bb46def1471f898befbbc74d8a15"
      },
      {
        "contentUdi": "umb://element/85e4be2441f5409ea1de8ca985a157a7"
      },
      {
        "contentUdi": "umb://element/e797080c0ad848099d43d3634b8c83d7"
      },
      {
        "contentUdi": "umb://element/87e94754d999454eaa32ed09944d724c"
      },
      {
        "contentUdi": "umb://element/5ba33e9d0b054bb4ad4c7ac6271220be"
      },
      {
        "contentUdi": "umb://element/eb4c55d0467b4af29b8577cafd41917a"
      },
      {
        "contentUdi": "umb://element/333b72fce3ff4327a3c7ded1bec66ecb"
      },
      {
        "contentUdi": "umb://element/2345aeef4f934311942c033d840e16fd"
      },
      {
        "contentUdi": "umb://element/67e94ced9f5e4153931472b481081eb0"
      },
      {
        "contentUdi": "umb://element/3cd6a9ba1836434a84ba61b8128a577b"
      },
      {
        "contentUdi": "umb://element/ee4b03223e354958bebf4071e7cba0b3"
      },
      {
        "contentUdi": "umb://element/2552cade20364b47a4826bcb55de37d9"
      },
      {
        "contentUdi": "umb://element/6543e7c8b4cc4425a5861f14f7c477c8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c49923c87a08418c8dc3df568937fc41",
      "value": "plein air",
      "confidence": "0.99893718957901"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bba871222b5418883b105761a8e9fbb",
      "value": "eau",
      "confidence": "0.990952730178833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed90fd6321b948faa1e910b4939a241f",
      "value": "ciel",
      "confidence": "0.9880150556564331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d02c0a6892dd404c86ff370a9d30a88d",
      "value": "nuage",
      "confidence": "0.9842934608459473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/19168a339683469192a49baf7cc35a02",
      "value": "arbre",
      "confidence": "0.9773383736610413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0123bb46def1471f898befbbc74d8a15",
      "value": "coucher de soleil",
      "confidence": "0.9377834796905518"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85e4be2441f5409ea1de8ca985a157a7",
      "value": "plante",
      "confidence": "0.908490777015686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e797080c0ad848099d43d3634b8c83d7",
      "value": "promenade en planches",
      "confidence": "0.8655240535736084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87e94754d999454eaa32ed09944d724c",
      "value": "paysage",
      "confidence": "0.8483443260192871"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ba33e9d0b054bb4ad4c7ac6271220be",
      "value": "reflet",
      "confidence": "0.841323733329773"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb4c55d0467b4af29b8577cafd41917a",
      "value": "jetée",
      "confidence": "0.7970768213272095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/333b72fce3ff4327a3c7ded1bec66ecb",
      "value": "lever de soleil",
      "confidence": "0.7922189235687256"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2345aeef4f934311942c033d840e16fd",
      "value": "en bois",
      "confidence": "0.7050778865814209"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67e94ced9f5e4153931472b481081eb0",
      "value": "quai",
      "confidence": "0.6498939990997314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3cd6a9ba1836434a84ba61b8128a577b",
      "value": "nature",
      "confidence": "0.6437951326370239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee4b03223e354958bebf4071e7cba0b3",
      "value": "lac",
      "confidence": "0.566599428653717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2552cade20364b47a4826bcb55de37d9",
      "value": "rivière",
      "confidence": "0.5609444975852966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6543e7c8b4cc4425a5861f14f7c477c8",
      "value": "soleil",
      "confidence": "0.4628082811832428"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Sunset on the Ping River</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Coucher de soleil sur la rivière Ping</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a magnificent sunset over a river in Chiang Mai, Thailand. In the foreground, there is a small wooden pier surrounded by plants and flowers, leading to the river. In the background, on the other side of the river, there are buildings with traditional red roofs, typical of Thai architecture. The sky is slightly cloudy, with warm evening colors reflecting on the water."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un magnifique coucher de soleil sur une rivière à Chiang Mai, Thaïlande. Au premier plan, on voit un petit ponton en bois entouré de plantes et de fleurs, menant à la rivière. En arrière-plan, de l'autre côté de la rivière, se trouvent des bâtiments avec des toits rouges traditionnels, typiques de l'architecture thaïlandaise. Le ciel est légèrement nuageux, avec des couleurs chaudes de fin de journée se reflétant sur l'eau."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#ChiangMai #Thailand #Sunset #Riverside #ScenicView #Travel #Nature #Peaceful #TraditionalArchitecture]]></Value>
      <Value Culture="fr"><![CDATA[#CoucherDeSoleil #Rivière #ChiangMai #Thaïlande #PontonEnBois #Nature #ArchitectureTraditionnelle]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c8ab6d76-e41a-41d0-b8eb-593b367227f4",
    "mediaKey": "d332de32-87db-430c-9228-7c50b9a98b65"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Chiang Mai, où la rivière Ping se pare de couleurs chaudes et envoûtantes.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Chiang Mai, où la rivière Ping se pare de couleurs chaudes et envoûtantes.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Twilight Glows on the Ping River]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur la Rivière Ping]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunset-on-the-ping-river-chiang-mai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunset-on-the-ping-river-chiang-mai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "river",
  "Chiang Mai",
  "Thailand",
  "wooden pier",
  "plants",
  "flowers",
  "traditional buildings",
  "Thai architecture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "coucher de soleil",
  "rivière",
  "Chiang Mai",
  "Thaïlande",
  "ponton en bois",
  "plantes",
  "fleurs",
  "bâtiments traditionnels",
  "architecture thaïlandaise"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Chiang Mai, où la rivière Ping se pare de couleurs chaudes et envoûtantes.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Twilight Glows on the Ping River]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur la Rivière Ping]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>