<?xml version="1.0" encoding="utf-8"?>
<Content Key="20b3ed70-c84b-4a6e-bd20-f67afdad3f84" Alias="coucher de soleil sur les plaines de Pai #2" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/coucherDeSoleilSurLesPlainesDePai2</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="coucher de soleil sur les plaines de Pai #2">
      <Name Culture="en">sunset over the plains of Pai #2</Name>
      <Name Culture="fr">coucher de soleil sur les plaines de Pai #2</Name>
    </NodeName>
    <SortOrder>42</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/937c61eeaead42c0889c60b61b7991c7"
      },
      {
        "contentUdi": "umb://element/f339f06dab50450b923b8cc1d32a7d15"
      },
      {
        "contentUdi": "umb://element/28dd09398663493e8a9d9f24104d714a"
      },
      {
        "contentUdi": "umb://element/22a42f86eff142c99806b6065f5469a5"
      },
      {
        "contentUdi": "umb://element/cf53e8d2681d4af6b3372e38432774d4"
      },
      {
        "contentUdi": "umb://element/fe7b9ed1da5243c091e343447185164a"
      },
      {
        "contentUdi": "umb://element/bd24b832b0c44746b52402e149bb1c12"
      },
      {
        "contentUdi": "umb://element/1beecb5a649c48c8af926ac59000b851"
      },
      {
        "contentUdi": "umb://element/338d9cee3df84660bef1f150ce885e27"
      },
      {
        "contentUdi": "umb://element/84ae196ea71241bd8f2e9955759b3bc0"
      },
      {
        "contentUdi": "umb://element/43d64470f26047b193a93f0dc1bdf5e4"
      },
      {
        "contentUdi": "umb://element/70a32a0940234906a65ceaab3f16b14b"
      },
      {
        "contentUdi": "umb://element/23e480aafd8c4a9bb0fd8b5deef7fa56"
      },
      {
        "contentUdi": "umb://element/31aaea80e5ce4bed8bd8108656b83686"
      },
      {
        "contentUdi": "umb://element/3dc374c8d84648b58c3a9e4d8d5f9940"
      },
      {
        "contentUdi": "umb://element/fae3746a6e5f49528b07fd04b7b70eea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/937c61eeaead42c0889c60b61b7991c7",
      "value": "plein air",
      "confidence": "0.9959346652030945"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f339f06dab50450b923b8cc1d32a7d15",
      "value": "ciel",
      "confidence": "0.9879089593887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28dd09398663493e8a9d9f24104d714a",
      "value": "nuage",
      "confidence": "0.9820904731750488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22a42f86eff142c99806b6065f5469a5",
      "value": "plante",
      "confidence": "0.9778155088424683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf53e8d2681d4af6b3372e38432774d4",
      "value": "herbe",
      "confidence": "0.972996711730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe7b9ed1da5243c091e343447185164a",
      "value": "arbre",
      "confidence": "0.9641396999359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd24b832b0c44746b52402e149bb1c12",
      "value": "montagne",
      "confidence": "0.9632450342178345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1beecb5a649c48c8af926ac59000b851",
      "value": "zone rurale",
      "confidence": "0.9606609344482422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/338d9cee3df84660bef1f150ce885e27",
      "value": "paysage",
      "confidence": "0.9301011562347412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84ae196ea71241bd8f2e9955759b3bc0",
      "value": "coucher de soleil",
      "confidence": "0.9209813475608826"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43d64470f26047b193a93f0dc1bdf5e4",
      "value": "nature",
      "confidence": "0.917273223400116"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/70a32a0940234906a65ceaab3f16b14b",
      "value": "ferme",
      "confidence": "0.8995044827461243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23e480aafd8c4a9bb0fd8b5deef7fa56",
      "value": "agriculture",
      "confidence": "0.8984551429748535"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31aaea80e5ce4bed8bd8108656b83686",
      "value": "lever de soleil",
      "confidence": "0.8436956405639648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3dc374c8d84648b58c3a9e4d8d5f9940",
      "value": "terrain",
      "confidence": "0.7628453969955444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fae3746a6e5f49528b07fd04b7b70eea",
      "value": "soleil",
      "confidence": "0.5934578776359558"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4841a90d1efe434cb2d286fc7a8c8739"
      },
      {
        "contentUdi": "umb://element/ae84f569abb34cdb9473991a77ad9240"
      },
      {
        "contentUdi": "umb://element/d536989c46c14014aece1218c7493a8e"
      },
      {
        "contentUdi": "umb://element/c11e8699930e4ac3b06975e5a53991a4"
      },
      {
        "contentUdi": "umb://element/115eb9d0fa9e4115a174cd09e4425d99"
      },
      {
        "contentUdi": "umb://element/e6ed7c9c6ca5415f9f07d6efb5c8041f"
      },
      {
        "contentUdi": "umb://element/8b0d3f73815848649021daafa3ac067f"
      },
      {
        "contentUdi": "umb://element/ef708750c9dc4982b4e43d7d2abbd342"
      },
      {
        "contentUdi": "umb://element/7648cc2f8dbf4a4d9e62380443713dab"
      },
      {
        "contentUdi": "umb://element/27bdbe5d413143e7a3d5072086ca57c5"
      },
      {
        "contentUdi": "umb://element/5e1c8a26a01c4f28b1a4b92ce9358353"
      },
      {
        "contentUdi": "umb://element/6b8a659e154d42cb8807765fa7764678"
      },
      {
        "contentUdi": "umb://element/479803950ea14ebd97bad9284a82711c"
      },
      {
        "contentUdi": "umb://element/35a7f1bc28364ad3b7bc5a3c83e9f576"
      },
      {
        "contentUdi": "umb://element/9725667bad544519b3864e19e2b3a448"
      },
      {
        "contentUdi": "umb://element/5dd10282af56486c9ba8d0055432450c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4841a90d1efe434cb2d286fc7a8c8739",
      "value": "plein air",
      "confidence": "0.9959346652030945"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae84f569abb34cdb9473991a77ad9240",
      "value": "ciel",
      "confidence": "0.9879089593887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d536989c46c14014aece1218c7493a8e",
      "value": "nuage",
      "confidence": "0.9820904731750488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c11e8699930e4ac3b06975e5a53991a4",
      "value": "plante",
      "confidence": "0.9778155088424683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/115eb9d0fa9e4115a174cd09e4425d99",
      "value": "herbe",
      "confidence": "0.972996711730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e6ed7c9c6ca5415f9f07d6efb5c8041f",
      "value": "arbre",
      "confidence": "0.9641396999359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b0d3f73815848649021daafa3ac067f",
      "value": "montagne",
      "confidence": "0.9632450342178345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef708750c9dc4982b4e43d7d2abbd342",
      "value": "zone rurale",
      "confidence": "0.9606609344482422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7648cc2f8dbf4a4d9e62380443713dab",
      "value": "paysage",
      "confidence": "0.9301011562347412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27bdbe5d413143e7a3d5072086ca57c5",
      "value": "coucher de soleil",
      "confidence": "0.9209813475608826"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e1c8a26a01c4f28b1a4b92ce9358353",
      "value": "nature",
      "confidence": "0.917273223400116"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b8a659e154d42cb8807765fa7764678",
      "value": "ferme",
      "confidence": "0.8995044827461243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/479803950ea14ebd97bad9284a82711c",
      "value": "agriculture",
      "confidence": "0.8984551429748535"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35a7f1bc28364ad3b7bc5a3c83e9f576",
      "value": "lever de soleil",
      "confidence": "0.8436956405639648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9725667bad544519b3864e19e2b3a448",
      "value": "terrain",
      "confidence": "0.7628453969955444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5dd10282af56486c9ba8d0055432450c",
      "value": "soleil",
      "confidence": "0.5934578776359558"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>After the mountain, the plains of Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Après la montagne, les plaines de Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque rural landscape in Pai, Thailand. It features agricultural fields with hay bales and traditional houses in the background. Majestic mountains rise on the horizon under a golden-hued sky, creating a peaceful and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage rural pittoresque à Pai, en Thaïlande. On y voit des champs agricoles avec des bottes de paille et des maisons traditionnelles en arrière-plan. Les montagnes majestueuses se dressent à l'horizon sous un ciel aux teintes dorées, créant une atmosphère paisible et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #RuralLife #Sunset #Nature #Mountains #Countryside]]></Value>
      <Value Culture="fr"><![CDATA[#Thaïlande #Pai #PaysageRural #Agriculture #Nature #Montagnes #CoucherDeSoleil]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "713eae29-15b4-4af4-b717-27ab53210f86",
    "mediaKey": "4fde3d42-b59c-4b35-a0a6-3ea9b25944e2"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Après la montagne, les plaines de Pai]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunset over the plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-fields-in-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-fields-in-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Thailand",
  "Pai",
  "rural landscape",
  "agricultural fields",
  "hay bales",
  "traditional houses",
  "mountains",
  "sunset"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Thaïlande",
  "Pai",
  "paysage rural",
  "champs agricoles",
  "bottes de paille",
  "maisons traditionnelles",
  "montagnes",
  "coucher de soleil"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Après la montagne, les plaines de Pai]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunset over the plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>