<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2161cf7-b94f-4bb5-996b-1669c233b10f" Alias="Coucou, c'est moi Bouddha" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/CoucouCestMoiBouddha</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Coucou, c'est moi Bouddha">
      <Name Culture="en">Hello, it's me Buddha</Name>
      <Name Culture="fr">Coucou, c'est moi Bouddha</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c83669ab90d4f959d092f7f8f083e8e"
      },
      {
        "contentUdi": "umb://element/5915acffa27d4813ad5de4068faf035d"
      },
      {
        "contentUdi": "umb://element/be132923d9534403858891bc5b1543f0"
      },
      {
        "contentUdi": "umb://element/a5fd89f263e34d82ba5ab170faeef315"
      },
      {
        "contentUdi": "umb://element/ebc99464cb6d4a038e21c8a593a055ae"
      },
      {
        "contentUdi": "umb://element/de0afe7463e149d8ba563c5d1fc522b9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2c83669ab90d4f959d092f7f8f083e8e",
      "value": "plante",
      "confidence": "0.9772975444793701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5915acffa27d4813ad5de4068faf035d",
      "value": "arbre",
      "confidence": "0.9453607797622681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be132923d9534403858891bc5b1543f0",
      "value": "Visage humain",
      "confidence": "0.9229527711868286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5fd89f263e34d82ba5ab170faeef315",
      "value": "racine",
      "confidence": "0.9194981455802917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ebc99464cb6d4a038e21c8a593a055ae",
      "value": "figuier des banians",
      "confidence": "0.8859306573867798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de0afe7463e149d8ba563c5d1fc522b9",
      "value": "plein air",
      "confidence": "0.8283153176307678"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/139dd8e924984538b2236cbbdb768eec"
      },
      {
        "contentUdi": "umb://element/5df39e9fa3884583a4ab12f714d22e9c"
      },
      {
        "contentUdi": "umb://element/5743c44c4a7140649853d57e793092fe"
      },
      {
        "contentUdi": "umb://element/fff5ef3679ae4b93acea872a2ce09a17"
      },
      {
        "contentUdi": "umb://element/f2943ea49eb24cd0aad5ad6aaf294843"
      },
      {
        "contentUdi": "umb://element/7f42c6b433704e16bdf81770ad76a2c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/139dd8e924984538b2236cbbdb768eec",
      "value": "plante",
      "confidence": "0.9772975444793701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5df39e9fa3884583a4ab12f714d22e9c",
      "value": "arbre",
      "confidence": "0.9453607797622681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5743c44c4a7140649853d57e793092fe",
      "value": "Visage humain",
      "confidence": "0.9229527711868286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fff5ef3679ae4b93acea872a2ce09a17",
      "value": "racine",
      "confidence": "0.9194981455802917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2943ea49eb24cd0aad5ad6aaf294843",
      "value": "figuier des banians",
      "confidence": "0.8859306573867798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f42c6b433704e16bdf81770ad76a2c4",
      "value": "plein air",
      "confidence": "0.8283153176307678"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Iconic in Ayutthaya, this Buddha head trapped in a tree</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Emblématique à Ayutthaya, cette tête de Bouddha bloquée dans un arbre</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts the famous Buddha head entwined in the roots of a large tree at Wat Mahathat in Ayutthaya, Thailand. The serene face of the Buddha is partially enveloped by the intricate and ancient roots, creating a harmonious blend of nature and spirituality."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une tête de statue de Bouddha en pierre, partiellement enveloppée par les racines d'un arbre. La scène se situe à Ayutthaya, en Thaïlande. Les racines de l'arbre semblent avoir poussé autour de la statue, créant une fusion naturelle et spirituelle entre la nature et l'art."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Buddha #Ayutthaya #Thailand #WatMahathat #Spirituality #Nature #Ancient]]></Value>
      <Value Culture="fr"><![CDATA[#Bouddha #Ayutthaya #Thaïlande #nature #spiritualité #art #histoire]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "4df3584c-5cbf-4049-b111-99aeab25bfad",
    "mediaKey": "94cba58e-d535-4f8f-a0ef-2dcfae8701b9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ayutthaya, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ayutthaya, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'incroyable fusion entre la nature et l'art à Ayutthaya, où une tête de Bouddha en pierre est enveloppée par les racines d'un arbre.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'incroyable fusion entre la nature et l'art à Ayutthaya, où une tête de Bouddha en pierre est enveloppée par les racines d'un arbre.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Hello, it's me Buddha]]></Value>
      <Value Culture="fr"><![CDATA[La Tête de Bouddha Enlacée par les Racines à Ayutthaya]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/iconic-bouddha-locked-up-in-a-tree-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/iconic-bouddha-locked-up-in-a-tree-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Buddha",
  "tree roots",
  "Ayutthaya",
  "Thailand",
  "Wat Mahathat",
  "spirituality",
  "nature",
  "ancient"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bouddha",
  "statue",
  "racines",
  "arbre",
  "Ayutthaya",
  "Thaïlande",
  "nature",
  "spiritualité"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'incroyable fusion entre la nature et l'art à Ayutthaya, où une tête de Bouddha en pierre est enveloppée par les racines d'un arbre.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Hello, it's me Buddha]]></Value>
      <Value Culture="fr"><![CDATA[La Tête de Bouddha Enlacée par les Racines à Ayutthaya]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>