<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bec2737-870e-4bf1-bbdd-0858ecdf8f9f" Alias="Cour de cassation #1" Level="7">
  <Info>
    <Parent Key="b83fd7f1-0f7f-48bd-be20-2051a4df57d1">Dakar</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/Afrique/Senegal/Dakar/CourDeCassation1</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-11-04T23:21:15</CreateDate>
    <NodeName Default="Cour de cassation #1">
      <Name Culture="en">Cour de cassation #1</Name>
      <Name Culture="fr">Cour de cassation #1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Poissons grillés pour tout le monde sur la plage.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-11-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène animée de nuit dans un marché en plein air. Des personnes sont rassemblées autour de plusieurs barbecues où de la nourriture est en train de cuire sur des grilles au-dessus de flammes vives. L'atmosphère est chaleureuse et conviviale, avec des gens discutant et se déplaçant en arrière-plan. Les lumières du marché éclairent la scène, ajoutant à l'ambiance nocturne festive."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[#MarchéDeNuit #Barbecue #AmbianceFestive #CuisineDeRue #VieNocturne]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "fa0433c0-134c-4261-96e4-8a1acdb4edc3",
    "mediaKey": "c39bfe6d-2e18-4052-807f-686183785fef"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Dakar]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance chaleureuse d'un marché nocturne où les flammes des barbecues illuminent les visages et les conversations.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance chaleureuse d'un marché nocturne où les flammes des barbecues illuminent les visages et les conversations.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Night Market Festival: Grilled Fish and Bright Flames]]></Value>
      <Value Culture="fr"><![CDATA[Fête Nocturne au Marché : Poissons Grillés et Flammes Vives]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "night market",
  " barbecue",
  " food",
  " festival",
  " flames",
  " people",
  " nighttime ambiance"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "marché de nuit",
  "barbecue",
  "nourriture",
  "fête",
  "flammes",
  "personnes",
  "ambiance nocturne"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance chaleureuse d'un marché nocturne où les flammes des barbecues illuminent les visages et les conversations.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Night Market Festival: Grilled Fish and Bright Flames]]></Value>
      <Value Culture="fr"><![CDATA[Fête Nocturne au Marché : Poissons Grillés et Flammes Vives]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>