<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fe67768-d35a-4c56-b19a-d6cd7201020c" Alias="Cour de cassation #3" Level="105">
  <Info>
    <Parent Key="7946f4d3-d1a9-4546-901a-9deb292ed58a">Dakar</Parent>
    <Path>/[-20]/VoyagezEnImages/Afrique/Senegal/Dakar/CourDeCassation3</Path>
    <Trashed Parent="7946f4d3-d1a9-4546-901a-9deb292ed58a">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Cour de cassation #3">
      <Name Culture="en">Court of Cassation #3</Name>
      <Name Culture="fr">Cour de cassation #3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-11-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un marché nocturne animé. Un homme, vêtu d'une chemise à motifs, tient un poisson frais à la main, probablement pour le vendre. Un autre homme est assis sur une chaise en plastique à côté, tenant un objet. Autour d'eux, plusieurs personnes sont présentes, certaines assises sur des tabourets rouges. L'éclairage est fourni par des lampes brillantes, et on peut voir de la fumée dans l'air, suggérant des activités de cuisson ou de grillade. Le sol est couvert de pierres rondes, et il y a des étals avec des poissons et d'autres produits. Une tente avec le logo 'Estrella Damm' est visible en arrière-plan.",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "#MarchéNocturne #VenteDePoisson #CuisineDeRue #ActivitéNocturne #Éclairage #VieUrbaine",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d9f6ba4b-44ac-4ac8-89c0-8e4533d9040e",
    "mediaKey": "adeb3f17-d049-491c-9839-5cafde31df1e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Dakar]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Plongez dans l'ambiance animée d'un marché nocturne où un vendeur de poissons attire l'attention sous des lumières éclatantes.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Plongez dans l'ambiance animée d'un marché nocturne où un vendeur de poissons attire l'attention sous des lumières éclatantes.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Scenes of Life in a Night Market]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de Vie dans un Marché Nocturne]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "night market",
  "fish",
  "seller",
  "lighting",
  "night activity",
  "tent",
  "people",
  "smoke",
  "street food"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "marché nocturne",
  "poisson",
  "vendeur",
  "éclairage",
  "activité nocturne",
  "tente",
  "personnes",
  "fumée",
  "cuisine de rue"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Plongez dans l'ambiance animée d'un marché nocturne où un vendeur de poissons attire l'attention sous des lumières éclatantes.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Scenes of Life in a Night Market]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de Vie dans un Marché Nocturne]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>