<?xml version="1.0" encoding="utf-8"?>
<Content Key="aac96e66-0e58-4c99-8b10-c981048ded6d" Alias="Cour de cassation #4" Level="105">
  <Info>
    <Parent Key="7946f4d3-d1a9-4546-901a-9deb292ed58a">Dakar</Parent>
    <Path>/[-20]/VoyagezEnImages/Afrique/Senegal/Dakar/CourDeCassation4</Path>
    <Trashed Parent="7946f4d3-d1a9-4546-901a-9deb292ed58a">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Cour de cassation #4">
      <Name Culture="en">Cour de cassation #4</Name>
      <Name Culture="fr">Cour de cassation #4</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-11-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un marché de nuit animé où plusieurs personnes se tiennent autour d'un stand de nourriture éclairé. Le stand est décoré avec une banderole indiquant 'PAPE THE BEST' et propose des plats tels que du poisson braisé et de l'attieke. L'éclairage met en valeur les produits alimentaires disposés sur le comptoir, tandis que l'arrière-plan est sombre, accentuant l'atmosphère nocturne.",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "#MarchéDeNuit #CuisineDeRue #PoissonBraisé #Attieke #VieNocturne",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d1a3b633-c8b3-4a8e-a680-ce8a32a7b403",
    "mediaKey": "df80b3fa-8e51-4f0d-9a62-ad1a9f209386"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Dakar]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance vibrante d'un marché de nuit où les saveurs du poisson braisé et de l'attieke illuminent la soirée.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance vibrante d'un marché de nuit où les saveurs du poisson braisé et de l'attieke illuminent la soirée.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A Night Market Illuminated by Gastronomy]]></Value>
      <Value Culture="fr"><![CDATA[Un Marché de Nuit Éclairé par la Gastronomie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "night market",
  "food stall",
  "lighting",
  "grilled fish",
  "attieke",
  "nocturnal atmosphere"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "marché de nuit",
  "stand de nourriture",
  "éclairage",
  "poisson braisé",
  "attieke",
  "atmosphère nocturne"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'ambiance vibrante d'un marché de nuit où les saveurs du poisson braisé et de l'attieke illuminent la soirée.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A Night Market Illuminated by Gastronomy]]></Value>
      <Value Culture="fr"><![CDATA[Un Marché de Nuit Éclairé par la Gastronomie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>