<?xml version="1.0" encoding="utf-8"?>
<Content Key="53fbb522-8885-49af-abbd-b7fcd80da9fa" Alias="Crime Scenes" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/CrimeScenes</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T20:13:34</CreateDate>
    <NodeName Default="Crime Scenes">
      <Name Culture="en">Crime Scenes</Name>
      <Name Culture="fr">Scènes de crime</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/837256b907f544c199890d14d631d8a7"
      },
      {
        "contentUdi": "umb://element/2cafbaa563dd42ab8d58d2a0ea2eba74"
      },
      {
        "contentUdi": "umb://element/daf361436a2241bd9e73636486983784"
      },
      {
        "contentUdi": "umb://element/282f70e0b4e649a29903bf87a54831e0"
      },
      {
        "contentUdi": "umb://element/da6d3737113648d0934b76bf0bd13487"
      },
      {
        "contentUdi": "umb://element/4eb1ce2b2b4b4eac85a6e4c0416f29c8"
      },
      {
        "contentUdi": "umb://element/5d03bb9999b448e299b65106e3e11ca0"
      },
      {
        "contentUdi": "umb://element/1fcf9b4060a64d27a9c601a6a1c8f64e"
      },
      {
        "contentUdi": "umb://element/feec65c669a944ea996c86ac1ae1d888"
      },
      {
        "contentUdi": "umb://element/23c05b421a16466a8fb3f2483fecae2f"
      },
      {
        "contentUdi": "umb://element/78c87c4610534276b5e89bf12c0296ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/837256b907f544c199890d14d631d8a7",
      "value": "insecte",
      "confidence": "0.9682644605636597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cafbaa563dd42ab8d58d2a0ea2eba74",
      "value": "herbe",
      "confidence": "0.9048240184783936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/daf361436a2241bd9e73636486983784",
      "value": "plein air",
      "confidence": "0.8923994302749634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/282f70e0b4e649a29903bf87a54831e0",
      "value": "animal",
      "confidence": "0.8873400092124939"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da6d3737113648d0934b76bf0bd13487",
      "value": "invertébré",
      "confidence": "0.8566462397575378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4eb1ce2b2b4b4eac85a6e4c0416f29c8",
      "value": "fleur",
      "confidence": "0.7295671105384827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d03bb9999b448e299b65106e3e11ca0",
      "value": "scarabée",
      "confidence": "0.7036340236663818"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fcf9b4060a64d27a9c601a6a1c8f64e",
      "value": "coccinelle",
      "confidence": "0.6335276365280151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/feec65c669a944ea996c86ac1ae1d888",
      "value": "plante",
      "confidence": "0.579990029335022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23c05b421a16466a8fb3f2483fecae2f",
      "value": "flore",
      "confidence": "0.4947894215583801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/78c87c4610534276b5e89bf12c0296ed",
      "value": "rosacées",
      "confidence": "0.4022102653980255"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/837256b907f544c199890d14d631d8a7"
      },
      {
        "contentUdi": "umb://element/2cafbaa563dd42ab8d58d2a0ea2eba74"
      },
      {
        "contentUdi": "umb://element/daf361436a2241bd9e73636486983784"
      },
      {
        "contentUdi": "umb://element/282f70e0b4e649a29903bf87a54831e0"
      },
      {
        "contentUdi": "umb://element/da6d3737113648d0934b76bf0bd13487"
      },
      {
        "contentUdi": "umb://element/4eb1ce2b2b4b4eac85a6e4c0416f29c8"
      },
      {
        "contentUdi": "umb://element/5d03bb9999b448e299b65106e3e11ca0"
      },
      {
        "contentUdi": "umb://element/1fcf9b4060a64d27a9c601a6a1c8f64e"
      },
      {
        "contentUdi": "umb://element/feec65c669a944ea996c86ac1ae1d888"
      },
      {
        "contentUdi": "umb://element/23c05b421a16466a8fb3f2483fecae2f"
      },
      {
        "contentUdi": "umb://element/78c87c4610534276b5e89bf12c0296ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/837256b907f544c199890d14d631d8a7",
      "value": "insecte",
      "confidence": "0.9682644605636597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cafbaa563dd42ab8d58d2a0ea2eba74",
      "value": "herbe",
      "confidence": "0.9048240184783936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/daf361436a2241bd9e73636486983784",
      "value": "plein air",
      "confidence": "0.8923994302749634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/282f70e0b4e649a29903bf87a54831e0",
      "value": "animal",
      "confidence": "0.8873400092124939"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da6d3737113648d0934b76bf0bd13487",
      "value": "invertébré",
      "confidence": "0.8566462397575378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4eb1ce2b2b4b4eac85a6e4c0416f29c8",
      "value": "fleur",
      "confidence": "0.7295671105384827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d03bb9999b448e299b65106e3e11ca0",
      "value": "scarabée",
      "confidence": "0.7036340236663818"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fcf9b4060a64d27a9c601a6a1c8f64e",
      "value": "coccinelle",
      "confidence": "0.6335276365280151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/feec65c669a944ea996c86ac1ae1d888",
      "value": "plante",
      "confidence": "0.579990029335022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23c05b421a16466a8fb3f2483fecae2f",
      "value": "flore",
      "confidence": "0.4947894215583801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/78c87c4610534276b5e89bf12c0296ed",
      "value": "rosacées",
      "confidence": "0.4022102653980255"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Mrs. Bee and Miss Ladybug have found a good spot</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a bee perched on a white flower, busy collecting nectar. To the left of the flower, a ladybug is visible on a stem. The background consists of green leaves, giving the scene a natural and fresh appearance."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une abeille posée sur une fleur blanche, en train de butiner. À gauche de la fleur, une coccinelle est visible sur une tige. Le fond est composé de feuilles vertes, ce qui donne un aspect naturel et frais à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#bee #flower #ladybug #nature #greenleaves #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#abeille #fleur #coccinelle #nature #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "b3e917a9-0bfb-4ce0-a62c-a7ec247ff2bc",
    "mediaKey": "2f8a15ef-6b8c-4b04-962b-707aacef9f69"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Crime Scenes]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "bee",
  "flower",
  "ladybug",
  "nature",
  "leaves",
  "nectar collection",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "abeille",
  "fleur",
  "coccinelle",
  "nature",
  "feuilles",
  "butinage",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Crime Scenes]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>