<?xml version="1.0" encoding="utf-8"?>
<Content Key="22365d51-b819-4153-9c75-e23b468e4eb5" Alias="Crolow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Crolow</Path>
    <Trashed>false</Trashed>
    <ContentType>webSite</ContentType>
    <CreateDate>2024-02-28T23:02:43</CreateDate>
    <NodeName Default="Crolow" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <themre>
      <Value><![CDATA[waaw]]></Value>
    </themre>
  </Properties>
</Content>