<?xml version="1.0" encoding="utf-8"?>
<Content Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396" Alias="D'Ayutthaya à Ban Rak Thai" Level="103">
  <Info>
    <Parent Key="e42ff97d-0731-4a10-8b2f-786b9f6b561e">La Thaïlande</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai</Path>
    <Trashed Parent="e42ff97d-0731-4a10-8b2f-786b9f6b561e">true</Trashed>
    <ContentType>mediaCollectionPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="D'Ayutthaya à Ban Rak Thai">
      <Name Culture="en">From Ayutthaya to Ban Rak Thai</Name>
      <Name Culture="fr">D'Ayutthaya à Ban Rak Thai</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="e992cf13-aa54-43cd-ad5d-9f2090c2eb81">MediaCollectionPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3c740f0d75ab44658318a9805adb92df",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/3c740f0d75ab44658318a9805adb92df",
      "title": "",
      "description": {
        "markup": "<p>From central Thailand to the far north at the Myanmar border. A mix of rural life, architectural discoveries, and tourist activities. Guaranteed change of scenery, especially when the use of English becomes completely nonexistent.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a48e100f1e9f4b9182dcd11c10481ba3",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/a48e100f1e9f4b9182dcd11c10481ba3",
      "title": "",
      "description": {
        "markup": "<p>La Thaïlande du centre jusqu'au bout du bout au nord à la frontière du Myanmar. Mélange entre vie rurale,&nbsp; découvertes architecturales, et acitvités touristiques. Dépaysement garanti, surtout quand l'usage de l'anglais devient totalement inexistant.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <defaultMediaTags>
      <Value Culture="en"><![CDATA[[
  "thaïlande"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "thaïlande"
]]]></Value>
    </defaultMediaTags>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="en"><![CDATA[[
  {
    "key": "85c42291-7bc0-4390-bdf2-9f3fe8a9cfe9",
    "mediaKey": "4409a613-ca66-4c85-8461-773baf5b1ad4"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "85c42291-7bc0-4390-bdf2-9f3fe8a9cfe9",
    "mediaKey": "4409a613-ca66-4c85-8461-773baf5b1ad4"
  }
]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Explorez la Thaïlande centrale jusqu'à ses confins nordiques, à la frontière du Myanmar.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Explorez la Thaïlande centrale jusqu'à ses confins nordiques, à la frontière du Myanmar.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[From Ayutthaya to Ban Rak Thai: A Journey to the Heart of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[De Ayutthaya à Ban Rak Thai : Voyage au Cœur de la Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>La Thaïlande du centre jusqu'au bout du bout au nord à la frontière du Myanmar. Mélange entre vie rurale,&nbsp; découvertes architecturales, et acitvités touristiques. Dépaysement garanti, surtout quand l'usage de l'anglais devient totalement inexistant.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La Thaïlande du centre jusqu'au bout du bout au nord à la frontière du Myanmar. Mélange entre vie rurale,&nbsp; découvertes architecturales, et acitvités touristiques. Dépaysement garanti, surtout quand l'usage de l'anglais devient totalement inexistant.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Explorez la Thaïlande centrale jusqu'à ses confins nordiques, à la frontière du Myanmar.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[From Ayutthaya to Ban Rak Thai: A Journey to the Heart of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[De Ayutthaya à Ban Rak Thai : Voyage au Cœur de la Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>