<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d820b3e-2873-4f1f-a9d9-bbe910abe5ba" Alias="Dent-de-lion en chambre noire" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/DentDeLionEnChambreNoire</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Dent-de-lion en chambre noire">
      <Name Culture="en">Dandelion in the Darkroom</Name>
      <Name Culture="fr">Dent-de-lion en chambre noire</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7889196ca1094ab68a31d4e30b1816f9"
      },
      {
        "contentUdi": "umb://element/fb6f31aabb0d40d0b1d10c41de704a60"
      },
      {
        "contentUdi": "umb://element/c12233bb127a4468a5242a62bbc817ad"
      },
      {
        "contentUdi": "umb://element/77a5239340f044c49f28b99014634762"
      },
      {
        "contentUdi": "umb://element/3cc9e9e251e54b4e89e0487737d36451"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7889196ca1094ab68a31d4e30b1816f9",
      "value": "racine de pissenlit",
      "confidence": "0.9685077667236328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fb6f31aabb0d40d0b1d10c41de704a60",
      "value": "pissenlit",
      "confidence": "0.9411821365356445"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c12233bb127a4468a5242a62bbc817ad",
      "value": "plante",
      "confidence": "0.9341948628425598"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77a5239340f044c49f28b99014634762",
      "value": "plein air",
      "confidence": "0.7468576431274414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3cc9e9e251e54b4e89e0487737d36451",
      "value": "fleur",
      "confidence": "0.681734025478363"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8a395fc1329d4eb5b74c3515f7507c48"
      },
      {
        "contentUdi": "umb://element/fbbfab3059504b7d9dd227b38490d554"
      },
      {
        "contentUdi": "umb://element/2c12bf22fcc044f182a95b5b829c4113"
      },
      {
        "contentUdi": "umb://element/44d5daa3d20649e4aaadc92705b9ee3e"
      },
      {
        "contentUdi": "umb://element/2f88c44220004fe5a5e73ac10acbdcec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a395fc1329d4eb5b74c3515f7507c48",
      "value": "racine de pissenlit",
      "confidence": "0.9685077667236328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbbfab3059504b7d9dd227b38490d554",
      "value": "pissenlit",
      "confidence": "0.9411821365356445"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2c12bf22fcc044f182a95b5b829c4113",
      "value": "plante",
      "confidence": "0.9341948628425598"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44d5daa3d20649e4aaadc92705b9ee3e",
      "value": "plein air",
      "confidence": "0.7468576431274414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f88c44220004fe5a5e73ac10acbdcec",
      "value": "fleur",
      "confidence": "0.681734025478363"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>It's spring, pollen in sight</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>C'est le printemps, pollen en vue</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a close-up of a dandelion in seed, with its fine white tufts ready to be dispersed by the wind. The background is blurred, highlighting the delicate texture and complex structure of the dandelion."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un gros plan d'un pissenlit en graines, avec ses fines aigrettes blanches prêtes à être dispersées par le vent. L'arrière-plan est flou, mettant en valeur la texture délicate et la structure complexe du pissenlit."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#dandelion #nature #macro #closeup #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#pissenlit #nature #macro #Bruxelles #Belgique #photographie #graines]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d90ea930-d61e-4f4d-9f2a-521dcf0a3173",
    "mediaKey": "0f10c988-fd15-4bc6-972d-1e3741919299"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[C'est le printemps, pollen en vue !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Dent-de-lion en chambre noire : La poésie du printemps]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Dandelion in the Darkroom: The Poetry of Spring]]></Value>
      <Value Culture="fr"><![CDATA[Dent-de-lion en chambre noire : La poésie du printemps]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/blossom-time-in-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/blossom-time-in-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "dandelion",
  "close-up",
  "nature",
  "seeds",
  "blur",
  "macro",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "pissenlit",
  "gros plan",
  "nature",
  "graines",
  "flou",
  "macro",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[C'est le printemps, pollen en vue !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Dandelion in the Darkroom: The Poetry of Spring]]></Value>
      <Value Culture="fr"><![CDATA[Dent-de-lion en chambre noire : La poésie du printemps]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>