<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdb42224-48b9-4239-a4d4-9c3385d749b4" Alias="Des lagons pour tous dans la mer andaman" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/DesLagonsPourTousDansLaMerAndaman</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Des lagons pour tous dans la mer andaman">
      <Name Culture="en">Lagoons for Everyone in the Andaman Sea</Name>
      <Name Culture="fr">Des lagons pour tous dans la mer andaman</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Gathering of canoes! All that's missing is for them to be tuned up</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Rassemblement de pirogues ! On manquerait plus qu'elles soient tunées</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a scenic view of Koh Phi Phi in Thailand. Traditional long-tail boats are floating on the turquoise water near a towering limestone cliff covered with lush green vegetation. The serene and picturesque landscape highlights the natural beauty of this popular tourist destination."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre plusieurs bateaux traditionnels thaïlandais amarrés près d'une falaise imposante et verdoyante à Koh Phi Phi, en Thaïlande. L'eau est d'un bleu-vert clair et les falaises sont recouvertes de végétation luxuriante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#KohPhiPhi #Thailand #LongTailBoats #LimestoneCliffs #TurquoiseWater #Nature #Travel #Tourism]]></Value>
      <Value Culture="fr"><![CDATA[#KohPhiPhi #Thaïlande #Bateaux #Nature #Voyage #Aventure #Paysage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "e93eaef4-3ad3-4bc4-839c-7e323de093ba",
    "mediaKey": "92326fe7-ed46-42bd-9db3-1b9869bdf791"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rassemblement de pirogues ! On manquerait plus qu'elles soient tunées]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rassemblement de pirogues ! On manquerait plus qu'elles soient tunées]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Lagoons for Everyone in the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Lagoons for Everyone in the Andaman Sea]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-lagoon-in-the-andaman-sea-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-lagoon-in-the-andaman-sea-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Koh Phi Phi",
  "Thailand",
  "long-tail boats",
  "limestone cliffs",
  "turquoise water",
  "lush vegetation",
  "scenic",
  "tourist destination"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Koh Phi Phi",
  "Thaïlande",
  "bateaux",
  "falaise",
  "végétation",
  "eau",
  "traditionnel"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rassemblement de pirogues ! On manquerait plus qu'elles soient tunées]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Lagoons for Everyone in the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Lagoons for Everyone in the Andaman Sea]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>