<?xml version="1.0" encoding="utf-8"?>
<Content Key="a42626d7-82e8-4c98-ae02-0f4fa2ee35c8" Alias="Dessine moi un mouton !" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/DessineMoiUnMouton</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Dessine moi un mouton !">
      <Name Culture="en">Draw me a sheep!</Name>
      <Name Culture="fr">Dessine moi un mouton !</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8801e5ededee4419837a472bdcd01e12"
      },
      {
        "contentUdi": "umb://element/00613a29728a4a6bb65d7e8fa61dc802"
      },
      {
        "contentUdi": "umb://element/4f7de3b7b6214608b13f57b55994d9ac"
      },
      {
        "contentUdi": "umb://element/832571654af04d6e9e733705a128f1c2"
      },
      {
        "contentUdi": "umb://element/add228cdc76a464fa456ae10508d1166"
      },
      {
        "contentUdi": "umb://element/0cb51bcb18ee4d148e0bbc49aa310cc6"
      },
      {
        "contentUdi": "umb://element/a6b411e6266e4a78a269fa521704ca49"
      },
      {
        "contentUdi": "umb://element/131660f0b3a042e4aa56951123270b5a"
      },
      {
        "contentUdi": "umb://element/ecb0c53dca044421be4ec6e353169f6e"
      },
      {
        "contentUdi": "umb://element/b961a3a8c0b141b5aa1dccbd41b850c3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8801e5ededee4419837a472bdcd01e12",
      "value": "habits",
      "confidence": "0.989502489566803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00613a29728a4a6bb65d7e8fa61dc802",
      "value": "personne",
      "confidence": "0.9601777791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f7de3b7b6214608b13f57b55994d9ac",
      "value": "art",
      "confidence": "0.9012200236320496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/832571654af04d6e9e733705a128f1c2",
      "value": "chaussures",
      "confidence": "0.8573284149169922"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/add228cdc76a464fa456ae10508d1166",
      "value": "dessin",
      "confidence": "0.8452117443084717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0cb51bcb18ee4d148e0bbc49aa310cc6",
      "value": "intérieur",
      "confidence": "0.7432102560997009"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6b411e6266e4a78a269fa521704ca49",
      "value": "trépied",
      "confidence": "0.6725552082061768"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/131660f0b3a042e4aa56951123270b5a",
      "value": "magasin",
      "confidence": "0.6436947584152222"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ecb0c53dca044421be4ec6e353169f6e",
      "value": "sol",
      "confidence": "0.621862530708313"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b961a3a8c0b141b5aa1dccbd41b850c3",
      "value": "peinture",
      "confidence": "0.5366971492767334"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cfabf580d1ee44718fa62c813f874d56"
      },
      {
        "contentUdi": "umb://element/abb381242dd942799a99dbe459e1bd60"
      },
      {
        "contentUdi": "umb://element/767d32e0293b44f48d9b77fa4376743a"
      },
      {
        "contentUdi": "umb://element/3ae2cbd3590c436b9dc706f87dca0bad"
      },
      {
        "contentUdi": "umb://element/d5ec18cfaef24d3d9aa63672f7f8abe9"
      },
      {
        "contentUdi": "umb://element/afe9a44506214bcfb9cda8f51812880d"
      },
      {
        "contentUdi": "umb://element/21a665b5e94d49aa838b9b1d2cbd77d1"
      },
      {
        "contentUdi": "umb://element/5853dadc34f848ada7a8bb5d5a3345a6"
      },
      {
        "contentUdi": "umb://element/8afe212376c44557b401af01f2dbf6cf"
      },
      {
        "contentUdi": "umb://element/0458bb08998e479d9c75ee097dd39beb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfabf580d1ee44718fa62c813f874d56",
      "value": "habits",
      "confidence": "0.989502489566803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/abb381242dd942799a99dbe459e1bd60",
      "value": "personne",
      "confidence": "0.9601777791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/767d32e0293b44f48d9b77fa4376743a",
      "value": "art",
      "confidence": "0.9012200236320496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ae2cbd3590c436b9dc706f87dca0bad",
      "value": "chaussures",
      "confidence": "0.8573284149169922"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d5ec18cfaef24d3d9aa63672f7f8abe9",
      "value": "dessin",
      "confidence": "0.8452117443084717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afe9a44506214bcfb9cda8f51812880d",
      "value": "intérieur",
      "confidence": "0.7432102560997009"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/21a665b5e94d49aa838b9b1d2cbd77d1",
      "value": "trépied",
      "confidence": "0.6725552082061768"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5853dadc34f848ada7a8bb5d5a3345a6",
      "value": "magasin",
      "confidence": "0.6436947584152222"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8afe212376c44557b401af01f2dbf6cf",
      "value": "sol",
      "confidence": "0.621862530708313"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0458bb08998e479d9c75ee097dd39beb",
      "value": "peinture",
      "confidence": "0.5366971492767334"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>One of the many artists working at the Chiang Mai market</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un des nombreux artistes travaillant sur le marché de Chiang Mai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an artist painting in a studio in Chiang Mai, Thailand. The artist, seen from the back, is wearing a blue t-shirt with a turtle pattern. He is sitting on a chair and working on a canvas depicting a tiger. Next to him, there is a paint palette with mixed colors and various painting tools. In the background, another painting depicting a detailed face of an elderly person can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un artiste en train de peindre dans un atelier à Chiang Mai, Thaïlande. L'artiste, vu de dos, porte un t-shirt bleu avec un motif de tortues. Il est assis sur une chaise et travaille sur une toile représentant un tigre. À côté de lui, il y a une palette de peinture avec des couleurs mélangées et divers outils de peinture. En arrière-plan, on peut voir un autre tableau représentant un visage détaillé d'une personne âgée."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#art #painting #artist #ChiangMai #Thailand #artstudio #tigerart]]></Value>
      <Value Culture="fr"><![CDATA[#artiste #peinture #ChiangMai #Thaïlande #atelier #art #toile #tigre]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "5e16c0f7-a7b9-426f-97b4-2f7be78a1d9e",
    "mediaKey": "59fea2cc-2ce0-4660-a9c0-030d54668096"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un artiste talentueux en plein travail dans un atelier vibrant de Chiang Mai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un artiste talentueux en plein travail dans un atelier vibrant de Chiang Mai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Artist in Action in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Un Artiste à l'Œuvre à Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/artist-painting-a-tiger-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/artist-painting-a-tiger-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "artist",
  "painting",
  "studio",
  "Chiang Mai",
  "Thailand",
  "canvas",
  "tiger",
  "palette",
  "painting tools"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "artiste",
  "peinture",
  "atelier",
  "Chiang Mai",
  "Thaïlande",
  "toile",
  "tigre",
  "palette",
  "outils de peinture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un artiste talentueux en plein travail dans un atelier vibrant de Chiang Mai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Artist in Action in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Un Artiste à l'Œuvre à Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>