<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0d170ca-081f-4a72-801e-5b2265dcac52" Alias="Dog angels" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/DogAngels</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-04T11:41:00</CreateDate>
    <NodeName Default="Dog angels">
      <Name Culture="en">Dog angels</Name>
      <Name Culture="fr">Dog angels</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a26581c451164236b207fe16cb85e8b2"
      },
      {
        "contentUdi": "umb://element/bca33ad1035643778098d33639b4e502"
      },
      {
        "contentUdi": "umb://element/8d9fb2be80424553b43dc4d99f7a2262"
      },
      {
        "contentUdi": "umb://element/bdcfd360ce294d24abde6f1b6ef97578"
      },
      {
        "contentUdi": "umb://element/1defd773216846679490d4120540af5a"
      },
      {
        "contentUdi": "umb://element/adad95aece3b41c6ba6eec3dbaf2fc5c"
      },
      {
        "contentUdi": "umb://element/2f2097c6fa3c4e259f24f99b8ee04f1e"
      },
      {
        "contentUdi": "umb://element/4fcd18d1c34e4676b10806a05fcdeaa9"
      },
      {
        "contentUdi": "umb://element/a6687b44df8d49b28a159b0eaf928090"
      },
      {
        "contentUdi": "umb://element/1ec2325db0474504a3ee7f46ef292b8d"
      },
      {
        "contentUdi": "umb://element/98e6947525ae40cb8be3b328c9ee4f68"
      },
      {
        "contentUdi": "umb://element/29835b5b3f6e46b0ac02f97b3e5f6f93"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a26581c451164236b207fe16cb85e8b2",
      "value": "roue",
      "confidence": "0.9938576221466064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bca33ad1035643778098d33639b4e502",
      "value": "plein air",
      "confidence": "0.9860052466392517"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d9fb2be80424553b43dc4d99f7a2262",
      "value": "véhicule",
      "confidence": "0.9617875814437866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdcfd360ce294d24abde6f1b6ef97578",
      "value": "pneu",
      "confidence": "0.9534730315208435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1defd773216846679490d4120540af5a",
      "value": "Véhicule terrestre",
      "confidence": "0.9315717220306396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adad95aece3b41c6ba6eec3dbaf2fc5c",
      "value": "route",
      "confidence": "0.9307483434677124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f2097c6fa3c4e259f24f99b8ee04f1e",
      "value": "animal",
      "confidence": "0.8999979496002197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4fcd18d1c34e4676b10806a05fcdeaa9",
      "value": "sol",
      "confidence": "0.8944652676582336"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6687b44df8d49b28a159b0eaf928090",
      "value": "chien",
      "confidence": "0.8793851137161255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ec2325db0474504a3ee7f46ef292b8d",
      "value": "charrette",
      "confidence": "0.7193506360054016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98e6947525ae40cb8be3b328c9ee4f68",
      "value": "rue",
      "confidence": "0.6621675491333008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29835b5b3f6e46b0ac02f97b3e5f6f93",
      "value": "voiture",
      "confidence": "0.5286912322044373"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a26581c451164236b207fe16cb85e8b2"
      },
      {
        "contentUdi": "umb://element/bca33ad1035643778098d33639b4e502"
      },
      {
        "contentUdi": "umb://element/8d9fb2be80424553b43dc4d99f7a2262"
      },
      {
        "contentUdi": "umb://element/bdcfd360ce294d24abde6f1b6ef97578"
      },
      {
        "contentUdi": "umb://element/1defd773216846679490d4120540af5a"
      },
      {
        "contentUdi": "umb://element/adad95aece3b41c6ba6eec3dbaf2fc5c"
      },
      {
        "contentUdi": "umb://element/2f2097c6fa3c4e259f24f99b8ee04f1e"
      },
      {
        "contentUdi": "umb://element/4fcd18d1c34e4676b10806a05fcdeaa9"
      },
      {
        "contentUdi": "umb://element/a6687b44df8d49b28a159b0eaf928090"
      },
      {
        "contentUdi": "umb://element/1ec2325db0474504a3ee7f46ef292b8d"
      },
      {
        "contentUdi": "umb://element/98e6947525ae40cb8be3b328c9ee4f68"
      },
      {
        "contentUdi": "umb://element/29835b5b3f6e46b0ac02f97b3e5f6f93"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a26581c451164236b207fe16cb85e8b2",
      "value": "roue",
      "confidence": "0.9938576221466064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bca33ad1035643778098d33639b4e502",
      "value": "plein air",
      "confidence": "0.9860052466392517"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d9fb2be80424553b43dc4d99f7a2262",
      "value": "véhicule",
      "confidence": "0.9617875814437866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdcfd360ce294d24abde6f1b6ef97578",
      "value": "pneu",
      "confidence": "0.9534730315208435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1defd773216846679490d4120540af5a",
      "value": "Véhicule terrestre",
      "confidence": "0.9315717220306396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adad95aece3b41c6ba6eec3dbaf2fc5c",
      "value": "route",
      "confidence": "0.9307483434677124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f2097c6fa3c4e259f24f99b8ee04f1e",
      "value": "animal",
      "confidence": "0.8999979496002197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4fcd18d1c34e4676b10806a05fcdeaa9",
      "value": "sol",
      "confidence": "0.8944652676582336"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6687b44df8d49b28a159b0eaf928090",
      "value": "chien",
      "confidence": "0.8793851137161255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ec2325db0474504a3ee7f46ef292b8d",
      "value": "charrette",
      "confidence": "0.7193506360054016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98e6947525ae40cb8be3b328c9ee4f68",
      "value": "rue",
      "confidence": "0.6621675491333008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29835b5b3f6e46b0ac02f97b3e5f6f93",
      "value": "voiture",
      "confidence": "0.5286912322044373"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Well, it's doggie break time for grannies.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bon c'est la pause chienchien pour mamies.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a blue motorbike with a sidecar parked on the side of a road. Inside the sidecar, there are two puppies, one brown and one white, sitting and looking around. The sidecar is decorated with various posters and advertisements. A car is seen driving on the road in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre deux chiots assis dans un side-car attaché à une moto bleue. Le side-car est décoré avec des affiches et des publicités. La moto est stationnée sur une route, et on peut voir une voiture en mouvement en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#motorbike #puppies #dogs #sidecar #roadtrip #travel #cuteanimals]]></Value>
      <Value Culture="fr"><![CDATA[#chiots #moto #sidecar #route #publicité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c0592590-49c0-4d89-b8a2-d92481354f35",
    "mediaKey": "0b225e6a-9e21-4b00-b910-4fb4a861f32e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Puppies in a Sidecar: Canine Break for Grannies]]></Value>
      <Value Culture="fr"><![CDATA[Chiots en Side-Car : Une Pause pour Mamies]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/dogs-bike-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/dogs-bike-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "motorbike",
  "sidecar",
  "puppies",
  "dogs",
  "road",
  "posters",
  "advertisements",
  "vehicle"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "chiots",
  "moto",
  "side-car",
  "route",
  "publicité"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Puppies in a Sidecar: Canine Break for Grannies]]></Value>
      <Value Culture="fr"><![CDATA[Chiots en Side-Car : Une Pause pour Mamies]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>