<?xml version="1.0" encoding="utf-8"?>
<Content Key="a806efab-afe0-4efd-94ee-ba74d9b74cae" Alias="Dog angels" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/DogAngels</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Dog angels">
      <Name Culture="en">Dog angels</Name>
      <Name Culture="fr">Dog angels</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2922e93da7844f4db1b990077727727f"
      },
      {
        "contentUdi": "umb://element/bab67922dbc342d9acbc4331df9c16b6"
      },
      {
        "contentUdi": "umb://element/59d7b054dd6744e3bc5a16f771ed768f"
      },
      {
        "contentUdi": "umb://element/f30a3b9503eb4a03993c0aa0e0286d14"
      },
      {
        "contentUdi": "umb://element/52341b32e35346839e95cb1ae34a100d"
      },
      {
        "contentUdi": "umb://element/672350d2fbd14e3d872a90919192876d"
      },
      {
        "contentUdi": "umb://element/28492d6fe5ad446fad87182bc3fefd7d"
      },
      {
        "contentUdi": "umb://element/68a43d55ceeb48688e78b0f375f6fcde"
      },
      {
        "contentUdi": "umb://element/41c2f395adec45d3a1386ce74550be56"
      },
      {
        "contentUdi": "umb://element/efd79cdf4ce340148e67e57d9d0e67c2"
      },
      {
        "contentUdi": "umb://element/b6d17aec515c4d6382ebe34c9f60960d"
      },
      {
        "contentUdi": "umb://element/551742f18b6a431c9039b9d051c54ed1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2922e93da7844f4db1b990077727727f",
      "value": "roue",
      "confidence": "0.9938576221466064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bab67922dbc342d9acbc4331df9c16b6",
      "value": "plein air",
      "confidence": "0.9860052466392517"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59d7b054dd6744e3bc5a16f771ed768f",
      "value": "véhicule",
      "confidence": "0.9617875814437866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f30a3b9503eb4a03993c0aa0e0286d14",
      "value": "pneu",
      "confidence": "0.9534730315208435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52341b32e35346839e95cb1ae34a100d",
      "value": "Véhicule terrestre",
      "confidence": "0.9315717220306396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/672350d2fbd14e3d872a90919192876d",
      "value": "route",
      "confidence": "0.9307483434677124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28492d6fe5ad446fad87182bc3fefd7d",
      "value": "animal",
      "confidence": "0.8999979496002197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68a43d55ceeb48688e78b0f375f6fcde",
      "value": "sol",
      "confidence": "0.8944652676582336"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41c2f395adec45d3a1386ce74550be56",
      "value": "chien",
      "confidence": "0.8793851137161255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/efd79cdf4ce340148e67e57d9d0e67c2",
      "value": "charrette",
      "confidence": "0.7193506360054016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6d17aec515c4d6382ebe34c9f60960d",
      "value": "rue",
      "confidence": "0.6621675491333008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/551742f18b6a431c9039b9d051c54ed1",
      "value": "voiture",
      "confidence": "0.5286912322044373"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3648e06814a6416ab995d9f029a2359e"
      },
      {
        "contentUdi": "umb://element/43fc5fdf534c450b96b0d0a3278fcfeb"
      },
      {
        "contentUdi": "umb://element/2452aa9fb4234c9fb0b0bab2023249b6"
      },
      {
        "contentUdi": "umb://element/ec56516ebaa14892ad1fed07872ff5ef"
      },
      {
        "contentUdi": "umb://element/f41be9283b9f404cab396fbee50cd40d"
      },
      {
        "contentUdi": "umb://element/66de3e5661c148719efca2f40b6b0513"
      },
      {
        "contentUdi": "umb://element/af86a70272a849a4bef2041e1e7fd408"
      },
      {
        "contentUdi": "umb://element/63eb4b5b59d7483987d166749842ff22"
      },
      {
        "contentUdi": "umb://element/a4761c9c3dd84daaa92ebfc7aa1cbd53"
      },
      {
        "contentUdi": "umb://element/fce237247d3e4d8aa09d73d12077699c"
      },
      {
        "contentUdi": "umb://element/f3ab90e964df4c31859d52d33a1c05cb"
      },
      {
        "contentUdi": "umb://element/44ab84fbe86142e68b22d923a231e890"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3648e06814a6416ab995d9f029a2359e",
      "value": "roue",
      "confidence": "0.9938576221466064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43fc5fdf534c450b96b0d0a3278fcfeb",
      "value": "plein air",
      "confidence": "0.9860052466392517"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2452aa9fb4234c9fb0b0bab2023249b6",
      "value": "véhicule",
      "confidence": "0.9617875814437866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec56516ebaa14892ad1fed07872ff5ef",
      "value": "pneu",
      "confidence": "0.9534730315208435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f41be9283b9f404cab396fbee50cd40d",
      "value": "Véhicule terrestre",
      "confidence": "0.9315717220306396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66de3e5661c148719efca2f40b6b0513",
      "value": "route",
      "confidence": "0.9307483434677124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/af86a70272a849a4bef2041e1e7fd408",
      "value": "animal",
      "confidence": "0.8999979496002197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63eb4b5b59d7483987d166749842ff22",
      "value": "sol",
      "confidence": "0.8944652676582336"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4761c9c3dd84daaa92ebfc7aa1cbd53",
      "value": "chien",
      "confidence": "0.8793851137161255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fce237247d3e4d8aa09d73d12077699c",
      "value": "charrette",
      "confidence": "0.7193506360054016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3ab90e964df4c31859d52d33a1c05cb",
      "value": "rue",
      "confidence": "0.6621675491333008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44ab84fbe86142e68b22d923a231e890",
      "value": "voiture",
      "confidence": "0.5286912322044373"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Well, it's doggie break time for grannies.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bon c'est la pause chienchien pour mamies.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a blue motorbike with a sidecar parked on the side of a road. Inside the sidecar, there are two puppies, one brown and one white, sitting and looking around. The sidecar is decorated with various posters and advertisements. A car is seen driving on the road in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre deux chiots assis dans un side-car attaché à une moto bleue. Le side-car est décoré avec des affiches et des publicités. La moto est stationnée sur une route, et on peut voir une voiture en mouvement en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#motorbike #puppies #dogs #sidecar #roadtrip #travel #cuteanimals]]></Value>
      <Value Culture="fr"><![CDATA[#chiots #moto #sidecar #route #publicité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c0592590-49c0-4d89-b8a2-d92481354f35",
    "mediaKey": "0b225e6a-9e21-4b00-b910-4fb4a861f32e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Puppies in a Sidecar: Canine Break for Grannies]]></Value>
      <Value Culture="fr"><![CDATA[Chiots en Side-Car : Une Pause pour Mamies]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/dogs-bike-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/dogs-bike-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "motorbike",
  "sidecar",
  "puppies",
  "dogs",
  "road",
  "posters",
  "advertisements",
  "vehicle"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "chiots",
  "moto",
  "side-car",
  "route",
  "publicité"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez deux adorables chiots dans un side-car décoré, offrant une pause douce et amusante pour tous.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Puppies in a Sidecar: Canine Break for Grannies]]></Value>
      <Value Culture="fr"><![CDATA[Chiots en Side-Car : Une Pause pour Mamies]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>