<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f29a62a-9f0e-4909-81a6-725afa96ad84" Alias="Don't cry" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/DontCry</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Don't cry">
      <Name Culture="en">Don't cry</Name>
      <Name Culture="fr">Don't cry</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c884096e008a420298ae27665f0f98a7"
      },
      {
        "contentUdi": "umb://element/b90e483356e94bb3939a1edbeeb37634"
      },
      {
        "contentUdi": "umb://element/a428ad69f9e84be29c10179ece17d505"
      },
      {
        "contentUdi": "umb://element/0376d078b598400f9f49e9523cc45771"
      },
      {
        "contentUdi": "umb://element/fdeefa21bc984002ac93f2456468582b"
      },
      {
        "contentUdi": "umb://element/592b8d0fcef9487c9643591e0326fb5a"
      },
      {
        "contentUdi": "umb://element/81e6022d153d4d3f93109fb78e5fabf8"
      },
      {
        "contentUdi": "umb://element/4abd37339347480e80e0817179b57666"
      },
      {
        "contentUdi": "umb://element/d0af3df654c449b2b0de9394c6df53c7"
      },
      {
        "contentUdi": "umb://element/016aefb0d34642e4aed6a5e71552db14"
      },
      {
        "contentUdi": "umb://element/a8a45b193b5449919b682ff4775a6275"
      },
      {
        "contentUdi": "umb://element/925c5a0a4cc94d74963c807bbd75be00"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c884096e008a420298ae27665f0f98a7",
      "value": "plein air",
      "confidence": "0.997702956199646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b90e483356e94bb3939a1edbeeb37634",
      "value": "herbe",
      "confidence": "0.9944185614585876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a428ad69f9e84be29c10179ece17d505",
      "value": "eau",
      "confidence": "0.9923688769340515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0376d078b598400f9f49e9523cc45771",
      "value": "habits",
      "confidence": "0.9683133959770203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fdeefa21bc984002ac93f2456468582b",
      "value": "plante",
      "confidence": "0.9466047883033752"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/592b8d0fcef9487c9643591e0326fb5a",
      "value": "personne",
      "confidence": "0.9359040856361389"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/81e6022d153d4d3f93109fb78e5fabf8",
      "value": "chaussures",
      "confidence": "0.8422499895095825"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4abd37339347480e80e0817179b57666",
      "value": "nature",
      "confidence": "0.8349251747131348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d0af3df654c449b2b0de9394c6df53c7",
      "value": "lac",
      "confidence": "0.8224817514419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/016aefb0d34642e4aed6a5e71552db14",
      "value": "s’asseoir",
      "confidence": "0.7080898284912109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a8a45b193b5449919b682ff4775a6275",
      "value": "été",
      "confidence": "0.5909097790718079"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/925c5a0a4cc94d74963c807bbd75be00",
      "value": "rivière",
      "confidence": "0.5537535548210144"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74e21386d2ac4c3780615f9b6a9d6ae9"
      },
      {
        "contentUdi": "umb://element/c57ec0c1ba8d4e24b437230c0c5b90a6"
      },
      {
        "contentUdi": "umb://element/d764c0a6042a43e08dc74d8033651772"
      },
      {
        "contentUdi": "umb://element/3b572bd74bb840959e4152ababf7ed9d"
      },
      {
        "contentUdi": "umb://element/aa048065a6004ed3a3b1dc3f3115e42b"
      },
      {
        "contentUdi": "umb://element/66cc7dde0b0240d1be08ea9abdb5f654"
      },
      {
        "contentUdi": "umb://element/b88b29bfcf9b4ab1849d2b8ef3301aba"
      },
      {
        "contentUdi": "umb://element/12dc5c84833a4b4caf5b489c493b72aa"
      },
      {
        "contentUdi": "umb://element/50720d85e2f642f1a801ed77adf934d3"
      },
      {
        "contentUdi": "umb://element/c75daf0b6e964c82a5fe61c662bf07d3"
      },
      {
        "contentUdi": "umb://element/683977a704134c7cafb8294f0acb0b6d"
      },
      {
        "contentUdi": "umb://element/3643f17fd1cd483292a16c99a40a0de0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74e21386d2ac4c3780615f9b6a9d6ae9",
      "value": "plein air",
      "confidence": "0.997702956199646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c57ec0c1ba8d4e24b437230c0c5b90a6",
      "value": "herbe",
      "confidence": "0.9944185614585876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d764c0a6042a43e08dc74d8033651772",
      "value": "eau",
      "confidence": "0.9923688769340515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b572bd74bb840959e4152ababf7ed9d",
      "value": "habits",
      "confidence": "0.9683133959770203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa048065a6004ed3a3b1dc3f3115e42b",
      "value": "plante",
      "confidence": "0.9466047883033752"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66cc7dde0b0240d1be08ea9abdb5f654",
      "value": "personne",
      "confidence": "0.9359040856361389"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b88b29bfcf9b4ab1849d2b8ef3301aba",
      "value": "chaussures",
      "confidence": "0.8422499895095825"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12dc5c84833a4b4caf5b489c493b72aa",
      "value": "nature",
      "confidence": "0.8349251747131348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50720d85e2f642f1a801ed77adf934d3",
      "value": "lac",
      "confidence": "0.8224817514419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c75daf0b6e964c82a5fe61c662bf07d3",
      "value": "s’asseoir",
      "confidence": "0.7080898284912109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/683977a704134c7cafb8294f0acb0b6d",
      "value": "été",
      "confidence": "0.5909097790718079"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3643f17fd1cd483292a16c99a40a0de0",
      "value": "rivière",
      "confidence": "0.5537535548210144"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A bit of reading under a weeping willow, at the Ixelles ponds</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un peu de lecture sous un saule pleureur, aux étangs d'Ixelles</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "A man is sitting on the grass by a lake in Brussels, Belgium. He is reading a book under a tree whose branches hang over the water. The scene is peaceful, with wildflowers in the foreground and the calm water of the lake in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Un homme est assis sur l'herbe au bord d'un lac à Bruxelles, Belgique. Il lit un livre sous un arbre dont les branches se penchent au-dessus de l'eau. La scène est paisible, avec des fleurs sauvages en avant-plan et l'eau calme du lac en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #Nature #Reading #Relaxation #Outdoors #Peaceful #Serene #Greenery #River]]></Value>
      <Value Culture="fr"><![CDATA[#lecture #nature #Bruxelles #Belgique #détente #pleinair]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "e9d430b9-f301-45df-aaf9-759258aefff3",
    "mediaKey": "0cde5630-643d-4467-85c7-a013b136a0a8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un homme plongé dans un livre, bercé par le calme des étangs d'Ixelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Lecture Tranquille sous un Saule Pleureur]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Peaceful Reading under a Weeping Willow]]></Value>
      <Value Culture="fr"><![CDATA[Lecture Tranquille sous un Saule Pleureur]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "man",
  "reading",
  "lake",
  "nature",
  "Brussels",
  "Belgium",
  "relaxation",
  "outdoors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "homme",
  "lecture",
  "lac",
  "nature",
  "Bruxelles",
  "Belgique",
  "détente",
  "plein air"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un homme plongé dans un livre, bercé par le calme des étangs d'Ixelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Peaceful Reading under a Weeping Willow]]></Value>
      <Value Culture="fr"><![CDATA[Lecture Tranquille sous un Saule Pleureur]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>