<?xml version="1.0" encoding="utf-8"?>
<Content Key="24cb697d-db56-452c-b39a-7b3bbd781586" Alias="Dreaming Cambodia" Level="5">
  <Info>
    <Parent Key="3a2e3794-358f-4a46-aaee-fd7f3bdd33dc">Travel Memories</Parent>
    <Path>/Crolow/Accueil/TheVirtualWorld/TravelMemories/DreamingCambodia</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-06-16T19:43:08</CreateDate>
    <NodeName Default="Dreaming Cambodia">
      <Name Culture="en">Dreaming Cambodia</Name>
      <Name Culture="fr">Dreaming Cambodge</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Dreaming of Khmer Temples</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les temples khmers en rêve</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-06-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This is a beautiful watercolor painting depicting a serene scene in Cambodia. The painting features the iconic Angkor Wat temple complex at sunrise, with its distinctive spires silhouetted against the colorful sky. In the foreground, vibrant pink lotus flowers float on a tranquil body of water, adding to the peaceful ambiance. The misty atmosphere and soft pastel colors enhance the dreamlike quality of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image est une magnifique aquarelle représentant un paysage emblématique du Cambodge. On y voit un temple majestueux, probablement Angkor Wat, au lever du soleil. Le temple est entouré de palmiers et de végétation luxuriante. Au premier plan, des fleurs de lotus roses flottent gracieusement sur l'eau, ajoutant une touche de sérénité et de beauté naturelle à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Cambodia #AngkorWat #WatercolorPainting #Sunrise #Temple #LotusFlowers #Serene #MistyMorning #Art #PastelColors]]></Value>
      <Value Culture="fr"><![CDATA[#Cambodge #AngkorWat #LeverDuSoleil #Lotus #Aquarelle #Paysage #Nature]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "65d7de2b-2928-4040-95ce-0f90809a6c62",
    "mediaKey": "ac6e3aa4-d0f1-4fe2-93b8-482d9f8a5ea6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Cambodge]]></Value>
      <Value Culture="fr"><![CDATA[Cambodge]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://crolow.pixels.com/featured/dreaming-cambodge-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://crolow.pixels.com/featured/dreaming-cambodge-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Cambodia",
  "Angkor Wat",
  "watercolor",
  "painting",
  "sunrise",
  "temple",
  "lotus flowers",
  "serene",
  "misty",
  "pastel colors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Cambodge",
  "temple",
  "Angkor Wat",
  "lever du soleil",
  "lotus",
  "aquarelle",
  "paysage",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>