<?xml version="1.0" encoding="utf-8"?>
<Content Key="21391c80-edcf-4865-9497-037eae431fb2" Alias="Du riz au jasmin ? Remplissez mes paniers" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/DuRizAuJasminRemplissezMesPaniers</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T16:46:15</CreateDate>
    <NodeName Default="Du riz au jasmin ? Remplissez mes paniers">
      <Name Culture="en">Jasmine rice? Fill my baskets</Name>
      <Name Culture="fr">Du riz au jasmin ? Remplissez mes paniers</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68f4acbf43b34c13b69e0297f8541e9b"
      },
      {
        "contentUdi": "umb://element/7882fe64c8eb4ae5b7cd15fce095adaf"
      },
      {
        "contentUdi": "umb://element/5c96c9e33df64e6fa3f9cc1b045e1619"
      },
      {
        "contentUdi": "umb://element/f9150e5f00e54ae78b7152a81fbdffdd"
      },
      {
        "contentUdi": "umb://element/f89907380f8f48dc832841387cf36c42"
      },
      {
        "contentUdi": "umb://element/2fe9e174afeb4cd3b90703b6f447e900"
      },
      {
        "contentUdi": "umb://element/34f3527acba544a2842ce0e88a76d58a"
      },
      {
        "contentUdi": "umb://element/b27228fd7e8d41ffa5003c25f336906b"
      },
      {
        "contentUdi": "umb://element/3324a500f5db4af6b9294d734aefe059"
      },
      {
        "contentUdi": "umb://element/8fd9c15207584bf8ba654a44200aa67a"
      },
      {
        "contentUdi": "umb://element/adb111395464455db532339a6940deab"
      },
      {
        "contentUdi": "umb://element/06e9a2489fff4c458666401b6b3cf58b"
      },
      {
        "contentUdi": "umb://element/e0b7bdab51274935810402266107f14b"
      },
      {
        "contentUdi": "umb://element/489538f976f5472bbc533a939af56670"
      },
      {
        "contentUdi": "umb://element/d9c1b87cb4ac428b86ca310d5ab2756e"
      },
      {
        "contentUdi": "umb://element/87caee996eaf42448f101af24dcf65b3"
      },
      {
        "contentUdi": "umb://element/88a6ee9688864222bf30e782c0499494"
      },
      {
        "contentUdi": "umb://element/00cc29d4566c4df49024dad9aabb7ec8"
      },
      {
        "contentUdi": "umb://element/5c0ccebe425841e9a3d9592201bbcee0"
      },
      {
        "contentUdi": "umb://element/6ba709a5ae814e63aaf30d3e9ca2f2cb"
      },
      {
        "contentUdi": "umb://element/8f06b694a5e24b86906c9027b3073d79"
      },
      {
        "contentUdi": "umb://element/b1a82a72494048358f903d93e879a4c8"
      },
      {
        "contentUdi": "umb://element/e5e3757cee4d4f2aa101aa7b47708fc5"
      },
      {
        "contentUdi": "umb://element/47b915db02484c3da8c3a2dde3deba2a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68f4acbf43b34c13b69e0297f8541e9b",
      "value": "herbe",
      "confidence": "0.9986985921859741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7882fe64c8eb4ae5b7cd15fce095adaf",
      "value": "plein air",
      "confidence": "0.9978660345077515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c96c9e33df64e6fa3f9cc1b045e1619",
      "value": "nuage",
      "confidence": "0.9957000017166138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f9150e5f00e54ae78b7152a81fbdffdd",
      "value": "ciel",
      "confidence": "0.992931604385376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f89907380f8f48dc832841387cf36c42",
      "value": "nature",
      "confidence": "0.9852185249328613"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fe9e174afeb4cd3b90703b6f447e900",
      "value": "plante",
      "confidence": "0.9821672439575195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f3527acba544a2842ce0e88a76d58a",
      "value": "Prairie",
      "confidence": "0.975047767162323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b27228fd7e8d41ffa5003c25f336906b",
      "value": "agriculture",
      "confidence": "0.9699536561965942"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3324a500f5db4af6b9294d734aefe059",
      "value": "prairie",
      "confidence": "0.9603053331375122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fd9c15207584bf8ba654a44200aa67a",
      "value": "Rizière",
      "confidence": "0.9542399048805237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adb111395464455db532339a6940deab",
      "value": "plantation",
      "confidence": "0.9406678080558777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06e9a2489fff4c458666401b6b3cf58b",
      "value": "récolte",
      "confidence": "0.9375614523887634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0b7bdab51274935810402266107f14b",
      "value": "ferme",
      "confidence": "0.9355567693710327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/489538f976f5472bbc533a939af56670",
      "value": "plaine",
      "confidence": "0.9321407079696655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9c1b87cb4ac428b86ca310d5ab2756e",
      "value": "Culture commerciale",
      "confidence": "0.9152257442474365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87caee996eaf42448f101af24dcf65b3",
      "value": "zone rurale",
      "confidence": "0.9133027791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88a6ee9688864222bf30e782c0499494",
      "value": "arbre",
      "confidence": "0.881792426109314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00cc29d4566c4df49024dad9aabb7ec8",
      "value": "steppe",
      "confidence": "0.8461945652961731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c0ccebe425841e9a3d9592201bbcee0",
      "value": "paysage",
      "confidence": "0.8420029878616333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ba709a5ae814e63aaf30d3e9ca2f2cb",
      "value": "montagne",
      "confidence": "0.6760877370834351"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f06b694a5e24b86906c9027b3073d79",
      "value": "terrain",
      "confidence": "0.6250604391098022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1a82a72494048358f903d93e879a4c8",
      "value": "printemps",
      "confidence": "0.5809102058410645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5e3757cee4d4f2aa101aa7b47708fc5",
      "value": "été",
      "confidence": "0.4107059836387634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/47b915db02484c3da8c3a2dde3deba2a",
      "value": "riz",
      "confidence": "0.41027650237083435"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68f4acbf43b34c13b69e0297f8541e9b"
      },
      {
        "contentUdi": "umb://element/7882fe64c8eb4ae5b7cd15fce095adaf"
      },
      {
        "contentUdi": "umb://element/5c96c9e33df64e6fa3f9cc1b045e1619"
      },
      {
        "contentUdi": "umb://element/f9150e5f00e54ae78b7152a81fbdffdd"
      },
      {
        "contentUdi": "umb://element/f89907380f8f48dc832841387cf36c42"
      },
      {
        "contentUdi": "umb://element/2fe9e174afeb4cd3b90703b6f447e900"
      },
      {
        "contentUdi": "umb://element/34f3527acba544a2842ce0e88a76d58a"
      },
      {
        "contentUdi": "umb://element/b27228fd7e8d41ffa5003c25f336906b"
      },
      {
        "contentUdi": "umb://element/3324a500f5db4af6b9294d734aefe059"
      },
      {
        "contentUdi": "umb://element/8fd9c15207584bf8ba654a44200aa67a"
      },
      {
        "contentUdi": "umb://element/adb111395464455db532339a6940deab"
      },
      {
        "contentUdi": "umb://element/06e9a2489fff4c458666401b6b3cf58b"
      },
      {
        "contentUdi": "umb://element/e0b7bdab51274935810402266107f14b"
      },
      {
        "contentUdi": "umb://element/489538f976f5472bbc533a939af56670"
      },
      {
        "contentUdi": "umb://element/d9c1b87cb4ac428b86ca310d5ab2756e"
      },
      {
        "contentUdi": "umb://element/87caee996eaf42448f101af24dcf65b3"
      },
      {
        "contentUdi": "umb://element/88a6ee9688864222bf30e782c0499494"
      },
      {
        "contentUdi": "umb://element/00cc29d4566c4df49024dad9aabb7ec8"
      },
      {
        "contentUdi": "umb://element/5c0ccebe425841e9a3d9592201bbcee0"
      },
      {
        "contentUdi": "umb://element/6ba709a5ae814e63aaf30d3e9ca2f2cb"
      },
      {
        "contentUdi": "umb://element/8f06b694a5e24b86906c9027b3073d79"
      },
      {
        "contentUdi": "umb://element/b1a82a72494048358f903d93e879a4c8"
      },
      {
        "contentUdi": "umb://element/e5e3757cee4d4f2aa101aa7b47708fc5"
      },
      {
        "contentUdi": "umb://element/47b915db02484c3da8c3a2dde3deba2a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68f4acbf43b34c13b69e0297f8541e9b",
      "value": "herbe",
      "confidence": "0.9986985921859741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7882fe64c8eb4ae5b7cd15fce095adaf",
      "value": "plein air",
      "confidence": "0.9978660345077515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c96c9e33df64e6fa3f9cc1b045e1619",
      "value": "nuage",
      "confidence": "0.9957000017166138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f9150e5f00e54ae78b7152a81fbdffdd",
      "value": "ciel",
      "confidence": "0.992931604385376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f89907380f8f48dc832841387cf36c42",
      "value": "nature",
      "confidence": "0.9852185249328613"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fe9e174afeb4cd3b90703b6f447e900",
      "value": "plante",
      "confidence": "0.9821672439575195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f3527acba544a2842ce0e88a76d58a",
      "value": "Prairie",
      "confidence": "0.975047767162323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b27228fd7e8d41ffa5003c25f336906b",
      "value": "agriculture",
      "confidence": "0.9699536561965942"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3324a500f5db4af6b9294d734aefe059",
      "value": "prairie",
      "confidence": "0.9603053331375122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fd9c15207584bf8ba654a44200aa67a",
      "value": "Rizière",
      "confidence": "0.9542399048805237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adb111395464455db532339a6940deab",
      "value": "plantation",
      "confidence": "0.9406678080558777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06e9a2489fff4c458666401b6b3cf58b",
      "value": "récolte",
      "confidence": "0.9375614523887634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0b7bdab51274935810402266107f14b",
      "value": "ferme",
      "confidence": "0.9355567693710327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/489538f976f5472bbc533a939af56670",
      "value": "plaine",
      "confidence": "0.9321407079696655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9c1b87cb4ac428b86ca310d5ab2756e",
      "value": "Culture commerciale",
      "confidence": "0.9152257442474365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87caee996eaf42448f101af24dcf65b3",
      "value": "zone rurale",
      "confidence": "0.9133027791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88a6ee9688864222bf30e782c0499494",
      "value": "arbre",
      "confidence": "0.881792426109314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00cc29d4566c4df49024dad9aabb7ec8",
      "value": "steppe",
      "confidence": "0.8461945652961731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c0ccebe425841e9a3d9592201bbcee0",
      "value": "paysage",
      "confidence": "0.8420029878616333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ba709a5ae814e63aaf30d3e9ca2f2cb",
      "value": "montagne",
      "confidence": "0.6760877370834351"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f06b694a5e24b86906c9027b3073d79",
      "value": "terrain",
      "confidence": "0.6250604391098022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1a82a72494048358f903d93e879a4c8",
      "value": "printemps",
      "confidence": "0.5809102058410645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5e3757cee4d4f2aa101aa7b47708fc5",
      "value": "été",
      "confidence": "0.4107059836387634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/47b915db02484c3da8c3a2dde3deba2a",
      "value": "riz",
      "confidence": "0.41027650237083435"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Arriving at night in a lost village, what a pleasure to wake up with this panorama</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a rural landscape in Sukhothai, Thailand. You can see green fields under a blue sky with a few clouds. In the background, there are mountains and a house with a red roof."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage rural à Sukhothai, en Thaïlande. On y voit des champs verdoyants sous un ciel bleu avec quelques nuages. À l'arrière-plan, il y a des montagnes et une maison avec un toit rouge."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #RiceField #Nature #Landscape #Agriculture #Mountains #Scenic]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #paysage #rural #champs #montagnes #nature]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "5e144254-3c94-498a-bcda-edcc043a3abe",
    "mediaKey": "fc5162a7-2fbb-418a-93d5-e98e2f2ddb7c"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Awakening in Sukhothai: The Rural Charm of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Éveil Matinal à Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/jasmine-rice-field-fill-in-my-bags-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/jasmine-rice-field-fill-in-my-bags-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "landscape",
  "rural",
  "fields",
  "mountains",
  "house",
  "blue sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "paysage",
  "rural",
  "champs",
  "montagnes",
  "maison",
  "ciel bleu"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Awakening in Sukhothai: The Rural Charm of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Éveil Matinal à Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>