<?xml version="1.0" encoding="utf-8"?>
<Content Key="657c5969-67c7-4a9a-a1e4-572dd7ee1aa3" Alias="Du riz au jasmin ? Remplissez mes paniers" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/DuRizAuJasminRemplissezMesPaniers</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Du riz au jasmin ? Remplissez mes paniers">
      <Name Culture="en">Jasmine rice? Fill my baskets</Name>
      <Name Culture="fr">Du riz au jasmin ? Remplissez mes paniers</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e04c5d3d537435993842ec3f8614783"
      },
      {
        "contentUdi": "umb://element/9bb40c6514a24ac9a4645d322ca45059"
      },
      {
        "contentUdi": "umb://element/4587ce3284974dc5a34d579938e32773"
      },
      {
        "contentUdi": "umb://element/043625f69f644ebdac7ede373744f228"
      },
      {
        "contentUdi": "umb://element/fce05f8f69754d3896e6ffd4b3c47fc4"
      },
      {
        "contentUdi": "umb://element/f8281324c25e4957911edadd4270d90e"
      },
      {
        "contentUdi": "umb://element/7c039d412d98400eb929fa84c996f428"
      },
      {
        "contentUdi": "umb://element/8e6572b5e9c34a0387dd882cfde938a8"
      },
      {
        "contentUdi": "umb://element/10005ef0eb19489a9de96ef361f1263e"
      },
      {
        "contentUdi": "umb://element/626995ba36bd47fab435c34eb4b2eba5"
      },
      {
        "contentUdi": "umb://element/cfe2c66d5407435aadfa00200418ad72"
      },
      {
        "contentUdi": "umb://element/0d15110f6d574c9fa0ab1d6478c692a1"
      },
      {
        "contentUdi": "umb://element/da5a31ece681424eb7fa4f0cd37b434d"
      },
      {
        "contentUdi": "umb://element/ffdbd792e1f34fc6960fd197bfc494f6"
      },
      {
        "contentUdi": "umb://element/852e68d875a14ceab15805b50178cd01"
      },
      {
        "contentUdi": "umb://element/bcad97f116214eef9b124fdd5056c289"
      },
      {
        "contentUdi": "umb://element/24630a8bec58413eb1bc6e2aa140364f"
      },
      {
        "contentUdi": "umb://element/9410df1fd2064cc682f9e666a8b1884f"
      },
      {
        "contentUdi": "umb://element/b18659cc7ff84b3fa747b9d9082a22b1"
      },
      {
        "contentUdi": "umb://element/c21f385248954985ba6c9b5d63f3043f"
      },
      {
        "contentUdi": "umb://element/2d0d4abb92ac438f9bca1c9a30c9a1f0"
      },
      {
        "contentUdi": "umb://element/74c1845a97c54a1ea70844a6ed99cf8a"
      },
      {
        "contentUdi": "umb://element/4227d01e7c004693a89923254458abc5"
      },
      {
        "contentUdi": "umb://element/362999701eec4433ab06042c763b4da0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e04c5d3d537435993842ec3f8614783",
      "value": "herbe",
      "confidence": "0.9986985921859741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9bb40c6514a24ac9a4645d322ca45059",
      "value": "plein air",
      "confidence": "0.9978660345077515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4587ce3284974dc5a34d579938e32773",
      "value": "nuage",
      "confidence": "0.9957000017166138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/043625f69f644ebdac7ede373744f228",
      "value": "ciel",
      "confidence": "0.992931604385376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fce05f8f69754d3896e6ffd4b3c47fc4",
      "value": "nature",
      "confidence": "0.9852185249328613"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8281324c25e4957911edadd4270d90e",
      "value": "plante",
      "confidence": "0.9821672439575195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c039d412d98400eb929fa84c996f428",
      "value": "Prairie",
      "confidence": "0.975047767162323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e6572b5e9c34a0387dd882cfde938a8",
      "value": "agriculture",
      "confidence": "0.9699536561965942"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/10005ef0eb19489a9de96ef361f1263e",
      "value": "prairie",
      "confidence": "0.9603053331375122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/626995ba36bd47fab435c34eb4b2eba5",
      "value": "Rizière",
      "confidence": "0.9542399048805237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfe2c66d5407435aadfa00200418ad72",
      "value": "plantation",
      "confidence": "0.9406678080558777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d15110f6d574c9fa0ab1d6478c692a1",
      "value": "récolte",
      "confidence": "0.9375614523887634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da5a31ece681424eb7fa4f0cd37b434d",
      "value": "ferme",
      "confidence": "0.9355567693710327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ffdbd792e1f34fc6960fd197bfc494f6",
      "value": "plaine",
      "confidence": "0.9321407079696655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/852e68d875a14ceab15805b50178cd01",
      "value": "Culture commerciale",
      "confidence": "0.9152257442474365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcad97f116214eef9b124fdd5056c289",
      "value": "zone rurale",
      "confidence": "0.9133027791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24630a8bec58413eb1bc6e2aa140364f",
      "value": "arbre",
      "confidence": "0.881792426109314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9410df1fd2064cc682f9e666a8b1884f",
      "value": "steppe",
      "confidence": "0.8461945652961731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b18659cc7ff84b3fa747b9d9082a22b1",
      "value": "paysage",
      "confidence": "0.8420029878616333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c21f385248954985ba6c9b5d63f3043f",
      "value": "montagne",
      "confidence": "0.6760877370834351"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d0d4abb92ac438f9bca1c9a30c9a1f0",
      "value": "terrain",
      "confidence": "0.6250604391098022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74c1845a97c54a1ea70844a6ed99cf8a",
      "value": "printemps",
      "confidence": "0.5809102058410645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4227d01e7c004693a89923254458abc5",
      "value": "été",
      "confidence": "0.4107059836387634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/362999701eec4433ab06042c763b4da0",
      "value": "riz",
      "confidence": "0.41027650237083435"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d4fd456a53b4c64b11dbbbccb823b95"
      },
      {
        "contentUdi": "umb://element/1159a77145d1470f8434d45c1c476770"
      },
      {
        "contentUdi": "umb://element/d6de9091ab034d0f8f0067ced8d91764"
      },
      {
        "contentUdi": "umb://element/254b97ad2b2e4719b1195029cbe3ff1c"
      },
      {
        "contentUdi": "umb://element/79b83301572b406d99bbf6aa3fc7900d"
      },
      {
        "contentUdi": "umb://element/3d6ead68d49a46b3be82a80ce3ceaa75"
      },
      {
        "contentUdi": "umb://element/50d91505a9874c43adbdf309c5b8d80d"
      },
      {
        "contentUdi": "umb://element/5f075167b4fe411f86b587056e512eab"
      },
      {
        "contentUdi": "umb://element/ac685ef662264e1fa30116283caafa3b"
      },
      {
        "contentUdi": "umb://element/6ae84c9b40af4c33ae8c79d7d7f69b85"
      },
      {
        "contentUdi": "umb://element/a85f35418e8241e3b12fbe3cb7869185"
      },
      {
        "contentUdi": "umb://element/4c28cb4a557d4c5985627e8680a9231c"
      },
      {
        "contentUdi": "umb://element/6d95b90396d240f0a93237c24d446d70"
      },
      {
        "contentUdi": "umb://element/12ed202f655f460889cfc7dfb71e88a1"
      },
      {
        "contentUdi": "umb://element/0a01823d30ee4366a685f4a9a8a76273"
      },
      {
        "contentUdi": "umb://element/0262a8d47f9d49d7b1ec223609a09694"
      },
      {
        "contentUdi": "umb://element/25a23945a8ad45d7b4ccb6d62cc3e0b7"
      },
      {
        "contentUdi": "umb://element/88b884e88e664abc87a6b6419c72b43e"
      },
      {
        "contentUdi": "umb://element/63769e589a414201b04caafdea38479e"
      },
      {
        "contentUdi": "umb://element/4e89a30d00124aba8b6209b65e1fd441"
      },
      {
        "contentUdi": "umb://element/59ced51c42a843d591c85a7ad87bc54a"
      },
      {
        "contentUdi": "umb://element/7085712df3e54ea4ad46aed53ec92ea0"
      },
      {
        "contentUdi": "umb://element/ccba2b851dd14f2b9fa6aff54ed344e2"
      },
      {
        "contentUdi": "umb://element/92b647c081d84d1a93352125c4b86767"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d4fd456a53b4c64b11dbbbccb823b95",
      "value": "herbe",
      "confidence": "0.9986985921859741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1159a77145d1470f8434d45c1c476770",
      "value": "plein air",
      "confidence": "0.9978660345077515"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6de9091ab034d0f8f0067ced8d91764",
      "value": "nuage",
      "confidence": "0.9957000017166138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/254b97ad2b2e4719b1195029cbe3ff1c",
      "value": "ciel",
      "confidence": "0.992931604385376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/79b83301572b406d99bbf6aa3fc7900d",
      "value": "nature",
      "confidence": "0.9852185249328613"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d6ead68d49a46b3be82a80ce3ceaa75",
      "value": "plante",
      "confidence": "0.9821672439575195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50d91505a9874c43adbdf309c5b8d80d",
      "value": "Prairie",
      "confidence": "0.975047767162323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f075167b4fe411f86b587056e512eab",
      "value": "agriculture",
      "confidence": "0.9699536561965942"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac685ef662264e1fa30116283caafa3b",
      "value": "prairie",
      "confidence": "0.9603053331375122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ae84c9b40af4c33ae8c79d7d7f69b85",
      "value": "Rizière",
      "confidence": "0.9542399048805237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a85f35418e8241e3b12fbe3cb7869185",
      "value": "plantation",
      "confidence": "0.9406678080558777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c28cb4a557d4c5985627e8680a9231c",
      "value": "récolte",
      "confidence": "0.9375614523887634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d95b90396d240f0a93237c24d446d70",
      "value": "ferme",
      "confidence": "0.9355567693710327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12ed202f655f460889cfc7dfb71e88a1",
      "value": "plaine",
      "confidence": "0.9321407079696655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a01823d30ee4366a685f4a9a8a76273",
      "value": "Culture commerciale",
      "confidence": "0.9152257442474365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0262a8d47f9d49d7b1ec223609a09694",
      "value": "zone rurale",
      "confidence": "0.9133027791976929"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25a23945a8ad45d7b4ccb6d62cc3e0b7",
      "value": "arbre",
      "confidence": "0.881792426109314"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88b884e88e664abc87a6b6419c72b43e",
      "value": "steppe",
      "confidence": "0.8461945652961731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63769e589a414201b04caafdea38479e",
      "value": "paysage",
      "confidence": "0.8420029878616333"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4e89a30d00124aba8b6209b65e1fd441",
      "value": "montagne",
      "confidence": "0.6760877370834351"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59ced51c42a843d591c85a7ad87bc54a",
      "value": "terrain",
      "confidence": "0.6250604391098022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7085712df3e54ea4ad46aed53ec92ea0",
      "value": "printemps",
      "confidence": "0.5809102058410645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ccba2b851dd14f2b9fa6aff54ed344e2",
      "value": "été",
      "confidence": "0.4107059836387634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92b647c081d84d1a93352125c4b86767",
      "value": "riz",
      "confidence": "0.41027650237083435"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Arriving at night in a lost village, what a pleasure to wake up with this panorama</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a rural landscape in Sukhothai, Thailand. You can see green fields under a blue sky with a few clouds. In the background, there are mountains and a house with a red roof."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage rural à Sukhothai, en Thaïlande. On y voit des champs verdoyants sous un ciel bleu avec quelques nuages. À l'arrière-plan, il y a des montagnes et une maison avec un toit rouge."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #RiceField #Nature #Landscape #Agriculture #Mountains #Scenic]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #paysage #rural #champs #montagnes #nature]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "5e144254-3c94-498a-bcda-edcc043a3abe",
    "mediaKey": "fc5162a7-2fbb-418a-93d5-e98e2f2ddb7c"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Awakening in Sukhothai: The Rural Charm of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Éveil Matinal à Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/jasmine-rice-field-fill-in-my-bags-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/jasmine-rice-field-fill-in-my-bags-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "landscape",
  "rural",
  "fields",
  "mountains",
  "house",
  "blue sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "paysage",
  "rural",
  "champs",
  "montagnes",
  "maison",
  "ciel bleu"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Arrivé de nuit dans un bled perdu, quel plaisir de me réveiller avec ce panorama]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Awakening in Sukhothai: The Rural Charm of Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Éveil Matinal à Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>