<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bd0b1e5-db04-4220-8a34-ee7b03d981c9" Alias="Duck with style" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/DuckWithStyle</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T19:48:03</CreateDate>
    <NodeName Default="Duck with style">
      <Name Culture="en">Duck with style</Name>
      <Name Culture="fr">Canard with style</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c788bc64f79b4d05b97665251ea7dfe6"
      },
      {
        "contentUdi": "umb://element/5988c42fb2b84c898e8e5e91177df01d"
      },
      {
        "contentUdi": "umb://element/0c620cfeeac64708a909c178c5bb2bbf"
      },
      {
        "contentUdi": "umb://element/44dadcecf374430c94df6ebc1ba25857"
      },
      {
        "contentUdi": "umb://element/83c2e1b1a8c44cdc98ab7e29575314b3"
      },
      {
        "contentUdi": "umb://element/4c5db308a669409091536bf6d0980a07"
      },
      {
        "contentUdi": "umb://element/98650b8474e546878ec23b98db35b25a"
      },
      {
        "contentUdi": "umb://element/8a113fb8b53a47f7a25b07d027fc688c"
      },
      {
        "contentUdi": "umb://element/2ed4046858914c3eb35e1905fc85eafb"
      },
      {
        "contentUdi": "umb://element/9d84ce0b93dc4a078733af7fd5c6fa20"
      },
      {
        "contentUdi": "umb://element/f515cfab75b942c59e700b8fd1c8d237"
      },
      {
        "contentUdi": "umb://element/d58a197de7f14950b620d39d26981397"
      },
      {
        "contentUdi": "umb://element/a64ede3892e94895a4e8b140154e43ac"
      },
      {
        "contentUdi": "umb://element/4b7d6393a3ae4ee196433e2bd2f4c785"
      },
      {
        "contentUdi": "umb://element/a7a120d5c198406a94c2d5aef9667cbd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c788bc64f79b4d05b97665251ea7dfe6",
      "value": "oiseau",
      "confidence": "0.9999294877052307"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5988c42fb2b84c898e8e5e91177df01d",
      "value": "oiseau aquatique",
      "confidence": "0.9998072981834412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c620cfeeac64708a909c178c5bb2bbf",
      "value": "animal",
      "confidence": "0.9996140003204346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44dadcecf374430c94df6ebc1ba25857",
      "value": "canard",
      "confidence": "0.993698000907898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83c2e1b1a8c44cdc98ab7e29575314b3",
      "value": "plein air",
      "confidence": "0.9813014268875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c5db308a669409091536bf6d0980a07",
      "value": "eau",
      "confidence": "0.9812659025192261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98650b8474e546878ec23b98db35b25a",
      "value": "Sauvagine",
      "confidence": "0.9780262112617493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a113fb8b53a47f7a25b07d027fc688c",
      "value": "Canards",
      "confidence": "0.939988374710083"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ed4046858914c3eb35e1905fc85eafb",
      "value": "bec",
      "confidence": "0.91029292345047"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d84ce0b93dc4a078733af7fd5c6fa20",
      "value": "colvert",
      "confidence": "0.8421494960784912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f515cfab75b942c59e700b8fd1c8d237",
      "value": "bassin",
      "confidence": "0.7324350476264954"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d58a197de7f14950b620d39d26981397",
      "value": "natation",
      "confidence": "0.7071881294250488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a64ede3892e94895a4e8b140154e43ac",
      "value": "faune",
      "confidence": "0.6251506209373474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b7d6393a3ae4ee196433e2bd2f4c785",
      "value": "lac",
      "confidence": "0.5532583594322205"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7a120d5c198406a94c2d5aef9667cbd",
      "value": "nature",
      "confidence": "0.527346134185791"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c788bc64f79b4d05b97665251ea7dfe6"
      },
      {
        "contentUdi": "umb://element/5988c42fb2b84c898e8e5e91177df01d"
      },
      {
        "contentUdi": "umb://element/0c620cfeeac64708a909c178c5bb2bbf"
      },
      {
        "contentUdi": "umb://element/44dadcecf374430c94df6ebc1ba25857"
      },
      {
        "contentUdi": "umb://element/83c2e1b1a8c44cdc98ab7e29575314b3"
      },
      {
        "contentUdi": "umb://element/4c5db308a669409091536bf6d0980a07"
      },
      {
        "contentUdi": "umb://element/98650b8474e546878ec23b98db35b25a"
      },
      {
        "contentUdi": "umb://element/8a113fb8b53a47f7a25b07d027fc688c"
      },
      {
        "contentUdi": "umb://element/2ed4046858914c3eb35e1905fc85eafb"
      },
      {
        "contentUdi": "umb://element/9d84ce0b93dc4a078733af7fd5c6fa20"
      },
      {
        "contentUdi": "umb://element/f515cfab75b942c59e700b8fd1c8d237"
      },
      {
        "contentUdi": "umb://element/d58a197de7f14950b620d39d26981397"
      },
      {
        "contentUdi": "umb://element/a64ede3892e94895a4e8b140154e43ac"
      },
      {
        "contentUdi": "umb://element/4b7d6393a3ae4ee196433e2bd2f4c785"
      },
      {
        "contentUdi": "umb://element/a7a120d5c198406a94c2d5aef9667cbd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c788bc64f79b4d05b97665251ea7dfe6",
      "value": "oiseau",
      "confidence": "0.9999294877052307"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5988c42fb2b84c898e8e5e91177df01d",
      "value": "oiseau aquatique",
      "confidence": "0.9998072981834412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c620cfeeac64708a909c178c5bb2bbf",
      "value": "animal",
      "confidence": "0.9996140003204346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44dadcecf374430c94df6ebc1ba25857",
      "value": "canard",
      "confidence": "0.993698000907898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83c2e1b1a8c44cdc98ab7e29575314b3",
      "value": "plein air",
      "confidence": "0.9813014268875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c5db308a669409091536bf6d0980a07",
      "value": "eau",
      "confidence": "0.9812659025192261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98650b8474e546878ec23b98db35b25a",
      "value": "Sauvagine",
      "confidence": "0.9780262112617493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a113fb8b53a47f7a25b07d027fc688c",
      "value": "Canards",
      "confidence": "0.939988374710083"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ed4046858914c3eb35e1905fc85eafb",
      "value": "bec",
      "confidence": "0.91029292345047"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d84ce0b93dc4a078733af7fd5c6fa20",
      "value": "colvert",
      "confidence": "0.8421494960784912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f515cfab75b942c59e700b8fd1c8d237",
      "value": "bassin",
      "confidence": "0.7324350476264954"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d58a197de7f14950b620d39d26981397",
      "value": "natation",
      "confidence": "0.7071881294250488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a64ede3892e94895a4e8b140154e43ac",
      "value": "faune",
      "confidence": "0.6251506209373474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b7d6393a3ae4ee196433e2bd2f4c785",
      "value": "lac",
      "confidence": "0.5532583594322205"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7a120d5c198406a94c2d5aef9667cbd",
      "value": "nature",
      "confidence": "0.527346134185791"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>This is the duck dance, which by jumping into the pond, makes small circles, very small circles in the water</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>C'est la danse du canard qui en sautant dans la marre, fait des petits ronds, des tout petits ronds dans l'eau</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a duck swimming in a pond in Brussels, Belgium. The duck appears to be grooming itself, dipping its beak into its feathers. The water around it is calm, with circular ripples and green reflections from the surrounding trees."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un canard nageant dans un étang à Bruxelles, Belgique. Le canard semble se toiletter, plongeant son bec dans ses plumes. L'eau autour de lui est calme, avec des ondulations circulaires et des reflets verts des arbres environnants."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#duck #nature #Bruxelles #Belgique #pond #wildlife #serene]]></Value>
      <Value Culture="fr"><![CDATA[#canard #Bruxelles #Belgique #nature #étang #eau #toilettage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "2737b827-bf2f-4ba8-a432-9172fb5eedd3",
    "mediaKey": "6cc30111-caa2-4143-894c-3eb65584d299"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la danse envoûtante du canard qui crée des petits ronds dans l'eau en sautant dans la marre.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[La Danse Gracieuse du Canard]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Graceful Dance of the Duck]]></Value>
      <Value Culture="fr"><![CDATA[La Danse Gracieuse du Canard]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/duckish-ballet-des-cygnes-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/duckish-ballet-des-cygnes-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "duck",
  "pond",
  "Brussels",
  "Belgium",
  "nature",
  "water",
  "grooming"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "canard",
  "étang",
  "Bruxelles",
  "Belgique",
  "nature",
  "eau",
  "toilettage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la danse envoûtante du canard qui crée des petits ronds dans l'eau en sautant dans la marre.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Graceful Dance of the Duck]]></Value>
      <Value Culture="fr"><![CDATA[La Danse Gracieuse du Canard]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>