<?xml version="1.0" encoding="utf-8"?>
<Content Key="073f6086-7486-4f1e-bef4-ac7526d25f78" Alias="Dutch" Level="7">
  <Info>
    <Parent Key="cd09b044-072d-4a1a-9f10-5e0c88053514">Votre langue</Parent>
    <Path>/Waaw/Data/Menu/MainMenu/Vous/VotreLangue/Dutch</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-19T16:35:52</CreateDate>
    <NodeName Default="Dutch">
      <Name Culture="fr">Dutch</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[flag-icon flag-icon-nl]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Dutch]]></Value>
    </title>
  </Properties>
</Content>