<?xml version="1.0" encoding="utf-8"?>
<Content Key="697f329e-63d7-439a-93aa-8b1689c7fef0" Alias="Découverte printanière" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/DecouvertePrintaniere</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Découverte printanière">
      <Name Culture="en">Spring Discovery</Name>
      <Name Culture="fr">Découverte printanière</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9cfbab7e8b754e4f8dd9c7328826bc29"
      },
      {
        "contentUdi": "umb://element/3080f99bdf3c48e0826992bbd3395446"
      },
      {
        "contentUdi": "umb://element/1d5f28e8605a44899ceb5fdd94046fbd"
      },
      {
        "contentUdi": "umb://element/0a8e86d8ac6a417a91ec5a0c71d3cd38"
      },
      {
        "contentUdi": "umb://element/8562f6e488cd4c40998362b4fd7b8f3f"
      },
      {
        "contentUdi": "umb://element/0109e60006ed493cbc5f9eb1f4fde01c"
      },
      {
        "contentUdi": "umb://element/4abbe3c3af2a49498da7f567002bb09c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9cfbab7e8b754e4f8dd9c7328826bc29",
      "value": "plante",
      "confidence": "0.9956988096237183"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3080f99bdf3c48e0826992bbd3395446",
      "value": "plein air",
      "confidence": "0.9838266968727112"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d5f28e8605a44899ceb5fdd94046fbd",
      "value": "violet",
      "confidence": "0.909907341003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a8e86d8ac6a417a91ec5a0c71d3cd38",
      "value": "fleur",
      "confidence": "0.8845843076705933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8562f6e488cd4c40998362b4fd7b8f3f",
      "value": "phacélie",
      "confidence": "0.878219723701477"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0109e60006ed493cbc5f9eb1f4fde01c",
      "value": "flore",
      "confidence": "0.7493010759353638"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4abbe3c3af2a49498da7f567002bb09c",
      "value": "herbe",
      "confidence": "0.6859367489814758"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5cd29efb317c49a69145dd86cfa57acd"
      },
      {
        "contentUdi": "umb://element/7edfbff084d941a5a1efd9318baf651e"
      },
      {
        "contentUdi": "umb://element/3986655cb5ae488ba5d768643f7fdd78"
      },
      {
        "contentUdi": "umb://element/2585469f31b64673abecec70df234308"
      },
      {
        "contentUdi": "umb://element/49264414ff5e49f880e9679e85e6733a"
      },
      {
        "contentUdi": "umb://element/28112a35e2d54c1194b2acc47a1ed318"
      },
      {
        "contentUdi": "umb://element/3ffab72035134a7aa717666215157278"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5cd29efb317c49a69145dd86cfa57acd",
      "value": "plante",
      "confidence": "0.9956988096237183"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7edfbff084d941a5a1efd9318baf651e",
      "value": "plein air",
      "confidence": "0.9838266968727112"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3986655cb5ae488ba5d768643f7fdd78",
      "value": "violet",
      "confidence": "0.909907341003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2585469f31b64673abecec70df234308",
      "value": "fleur",
      "confidence": "0.8845843076705933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49264414ff5e49f880e9679e85e6733a",
      "value": "phacélie",
      "confidence": "0.878219723701477"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28112a35e2d54c1194b2acc47a1ed318",
      "value": "flore",
      "confidence": "0.7493010759353638"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ffab72035134a7aa717666215157278",
      "value": "herbe",
      "confidence": "0.6859367489814758"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bumblebee who knows more about flower names than I do</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bourdon qui s'y connait mieux que moi en nom de fleurs</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a plant with bell-shaped purple flowers, which appear to be comfrey flowers. The flowers are surrounded by green, hairy leaves. A bee is visible, foraging one of the flowers. The background is blurred, showing a natural environment with grass."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plante avec des fleurs violettes en forme de cloche, qui semblent être des fleurs de consoude. Les fleurs sont entourées de feuilles vertes et velues. Une abeille est visible, butinant l'une des fleurs. L'arrière-plan est flou, montrant un environnement naturel avec de l'herbe."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#flower #bee #nature #closeup #purple #plant #outdoors #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#plante #fleurs #consoude #abeille #nature #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "71fb7205-543f-463f-bade-e375c245e243",
    "mediaKey": "47746fec-b8f5-44b5-ae0f-f6ba5789f913"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un bourdon expert en botanique explore des fleurs violettes de consoude.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Bourdon et Fleurs de Consoude : Une Rencontre Printanière]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Bumblebee and Comfrey Flowers: A Spring Encounter]]></Value>
      <Value Culture="fr"><![CDATA[Bourdon et Fleurs de Consoude : Une Rencontre Printanière]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bumblebee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bumblebee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "plant",
  "flowers",
  "purple",
  "comfrey",
  "bee",
  "nature",
  "leaves",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plante",
  "fleurs",
  "violet",
  "consoude",
  "abeille",
  "nature",
  "feuilles",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un bourdon expert en botanique explore des fleurs violettes de consoude.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Bumblebee and Comfrey Flowers: A Spring Encounter]]></Value>
      <Value Culture="fr"><![CDATA[Bourdon et Fleurs de Consoude : Une Rencontre Printanière]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>