<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fe7b44b-00fc-4a04-8a80-763a4a8467af" Alias="Encore un bouffeur de frites" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/EncoreUnBouffeurDeFrites</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Encore un bouffeur de frites">
      <Name Culture="en">Another Fry Eater</Name>
      <Name Culture="fr">Encore un bouffeur de frites</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0094e58c9f164e03bd9387b832669836"
      },
      {
        "contentUdi": "umb://element/55e227e87e634aaa98082513490e3fb3"
      },
      {
        "contentUdi": "umb://element/bdacce052f5340978a0e4e91c5c7c49b"
      },
      {
        "contentUdi": "umb://element/4bc9d9066a464a8fbb67a85304daea95"
      },
      {
        "contentUdi": "umb://element/8b0cb2dde240443ab16462cb83969e63"
      },
      {
        "contentUdi": "umb://element/b30a71bb01794b8b8397712636bd2389"
      },
      {
        "contentUdi": "umb://element/ddbd99a7ab7d47a3bc41800f8f0fb547"
      },
      {
        "contentUdi": "umb://element/c6f29579df2c4ca98c40929eead94231"
      },
      {
        "contentUdi": "umb://element/5bbf1c846b0a49a98ceb667309fe1859"
      },
      {
        "contentUdi": "umb://element/9027dd9272614793842012517c9bbb40"
      },
      {
        "contentUdi": "umb://element/5987c63f10d044cd8cca5632c5af7da2"
      },
      {
        "contentUdi": "umb://element/4d772e6828ab487aa08489f090362041"
      },
      {
        "contentUdi": "umb://element/d46ec9b73e704553931035b0e69b40c6"
      },
      {
        "contentUdi": "umb://element/d047421b75c643759b0401c83dbe9498"
      },
      {
        "contentUdi": "umb://element/9b6e15d232544debb84e8faf8af94df2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0094e58c9f164e03bd9387b832669836",
      "value": "plein air",
      "confidence": "0.9984760284423828"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55e227e87e634aaa98082513490e3fb3",
      "value": "habits",
      "confidence": "0.9960871338844299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdacce052f5340978a0e4e91c5c7c49b",
      "value": "sol",
      "confidence": "0.9927787780761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4bc9d9066a464a8fbb67a85304daea95",
      "value": "personne",
      "confidence": "0.9879082441329956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b0cb2dde240443ab16462cb83969e63",
      "value": "chaussures",
      "confidence": "0.9715336561203003"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b30a71bb01794b8b8397712636bd2389",
      "value": "plante",
      "confidence": "0.9636260271072388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ddbd99a7ab7d47a3bc41800f8f0fb547",
      "value": "arbre",
      "confidence": "0.9629305601119995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c6f29579df2c4ca98c40929eead94231",
      "value": "Poubelle",
      "confidence": "0.9579133987426758"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5bbf1c846b0a49a98ceb667309fe1859",
      "value": "meubles",
      "confidence": "0.9450662136077881"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9027dd9272614793842012517c9bbb40",
      "value": "s’asseoir",
      "confidence": "0.9277791976928711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5987c63f10d044cd8cca5632c5af7da2",
      "value": "Banc extérieur",
      "confidence": "0.9085718393325806"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d772e6828ab487aa08489f090362041",
      "value": "homme",
      "confidence": "0.8439874649047852"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d46ec9b73e704553931035b0e69b40c6",
      "value": "parc",
      "confidence": "0.833281397819519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d047421b75c643759b0401c83dbe9498",
      "value": "banc",
      "confidence": "0.8288859128952026"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b6e15d232544debb84e8faf8af94df2",
      "value": "rue",
      "confidence": "0.6549897193908691"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0830152417f847249dcb5c7f542795e2"
      },
      {
        "contentUdi": "umb://element/06aa5fd6bb664c0983f39e60ae31c2bd"
      },
      {
        "contentUdi": "umb://element/7ad5b8fb2b4d43ad85623853f2a12748"
      },
      {
        "contentUdi": "umb://element/0d7857231d064c7d8666e8bff1301b9f"
      },
      {
        "contentUdi": "umb://element/400254b689974ead9a78080b90652b67"
      },
      {
        "contentUdi": "umb://element/00d2b62006464aeea61e215427867e3b"
      },
      {
        "contentUdi": "umb://element/44b9b3b1882444048f4d86990e679384"
      },
      {
        "contentUdi": "umb://element/3bc480d46395474d902faa4ee2800bb1"
      },
      {
        "contentUdi": "umb://element/342d06089ca14e7891ab7e4ebe79db11"
      },
      {
        "contentUdi": "umb://element/8eb8c8e830f34677885a1f9902b73fad"
      },
      {
        "contentUdi": "umb://element/c9dd0a6099c44421ac45e1810f5e95e3"
      },
      {
        "contentUdi": "umb://element/88af6d23fcf94eae90ee77a7594672b3"
      },
      {
        "contentUdi": "umb://element/03af5156248a4b52ab683f1e670870d1"
      },
      {
        "contentUdi": "umb://element/9f86209de44141edae0f3f579e56ae4f"
      },
      {
        "contentUdi": "umb://element/095cde9a5cee4b19a3d438410e0a3461"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0830152417f847249dcb5c7f542795e2",
      "value": "plein air",
      "confidence": "0.9984760284423828"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06aa5fd6bb664c0983f39e60ae31c2bd",
      "value": "habits",
      "confidence": "0.9960871338844299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ad5b8fb2b4d43ad85623853f2a12748",
      "value": "sol",
      "confidence": "0.9927787780761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d7857231d064c7d8666e8bff1301b9f",
      "value": "personne",
      "confidence": "0.9879082441329956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/400254b689974ead9a78080b90652b67",
      "value": "chaussures",
      "confidence": "0.9715336561203003"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00d2b62006464aeea61e215427867e3b",
      "value": "plante",
      "confidence": "0.9636260271072388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44b9b3b1882444048f4d86990e679384",
      "value": "arbre",
      "confidence": "0.9629305601119995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3bc480d46395474d902faa4ee2800bb1",
      "value": "Poubelle",
      "confidence": "0.9579133987426758"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/342d06089ca14e7891ab7e4ebe79db11",
      "value": "meubles",
      "confidence": "0.9450662136077881"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8eb8c8e830f34677885a1f9902b73fad",
      "value": "s’asseoir",
      "confidence": "0.9277791976928711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9dd0a6099c44421ac45e1810f5e95e3",
      "value": "Banc extérieur",
      "confidence": "0.9085718393325806"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88af6d23fcf94eae90ee77a7594672b3",
      "value": "homme",
      "confidence": "0.8439874649047852"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03af5156248a4b52ab683f1e670870d1",
      "value": "parc",
      "confidence": "0.833281397819519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f86209de44141edae0f3f579e56ae4f",
      "value": "banc",
      "confidence": "0.8288859128952026"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/095cde9a5cee4b19a3d438410e0a3461",
      "value": "rue",
      "confidence": "0.6549897193908691"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Nothing beats a park, a bench, and a cone of fries to enjoy your lunch break</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Rien de tel qu'un parc, un banc, et un cornet de frites pour profiter de sa pause de midi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a man sitting on a bench in a park in Brussels, Belgium. He is wearing a blue polo shirt and jeans, and seems focused on a document he is holding in his hands. The park is lush with bushes and trees in the background. There are also trash cans and other empty benches visible nearby."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un homme assis sur un banc dans un parc à Bruxelles, Belgique. Il porte un polo bleu et un jean, et semble concentré sur un document qu'il tient dans ses mains. Le parc est verdoyant avec des buissons et des arbres en arrière-plan. Il y a également des poubelles et d'autres bancs vides visibles à proximité."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#park #Brussels #Belgium #reading #greenery #outdoors #relaxation]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #parc #lecture #détente #nature]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "6282ff9a-7b13-4656-9b5b-4f4f55317c31",
    "mediaKey": "c8b5d835-6f69-43b9-9499-a433bb04823a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rien de tel qu'un parc, un banc, et un cornet de frites pour profiter de sa pause de midi.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à Bruxelles : Un homme et son cornet de frites]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Lunch Break in Brussels: A Man and His Cone of Fries]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à Bruxelles : Un homme et son cornet de frites]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "man",
  "bench",
  "park",
  "Brussels",
  "Belgium",
  "document",
  "blue clothes",
  "greenery",
  "trash cans"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "homme",
  "banc",
  "parc",
  "Bruxelles",
  "Belgique",
  "document",
  "vêtements bleus",
  "verdure",
  "poubelles"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Rien de tel qu'un parc, un banc, et un cornet de frites pour profiter de sa pause de midi.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Lunch Break in Brussels: A Man and His Cone of Fries]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à Bruxelles : Un homme et son cornet de frites]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>