<?xml version="1.0" encoding="utf-8"?>
<Content Key="5910a51d-6ade-476b-a906-c2298505f8cb" Alias="fin de série à Railay beach" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/finDeSerieARailayBeach</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="fin de série à Railay beach">
      <Name Culture="en">end of series at Railay beach</Name>
      <Name Culture="fr">fin de série à Railay beach</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9f9909b1454e4774902fdaaaf511be0d"
      },
      {
        "contentUdi": "umb://element/6a8dc05d7ac144808570fe484cde7a57"
      },
      {
        "contentUdi": "umb://element/c0906aa7b4f94553823bb2f162e588f7"
      },
      {
        "contentUdi": "umb://element/01167f424387472086eadf3fbde9e153"
      },
      {
        "contentUdi": "umb://element/51ff9165b3174b11bc3d2eb5e29be077"
      },
      {
        "contentUdi": "umb://element/1b2170613f154916954a5244cc6ae52b"
      },
      {
        "contentUdi": "umb://element/26c404906df44924b5d7cbd1649a8473"
      },
      {
        "contentUdi": "umb://element/c0d6074fc52a4deab43aa486c7c5ed66"
      },
      {
        "contentUdi": "umb://element/a3ca0c9ca5e546edbefd0b4ad1f8819b"
      },
      {
        "contentUdi": "umb://element/35f25bb226c04a70b50c43d32fcb1f32"
      },
      {
        "contentUdi": "umb://element/9eba41772dec435aa7b04f9a4e41a98f"
      },
      {
        "contentUdi": "umb://element/3db1fa3e4b004259bdce45b5c772a94d"
      },
      {
        "contentUdi": "umb://element/1220a97ff8b8413eac076a955beadc1f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f9909b1454e4774902fdaaaf511be0d",
      "value": "nuage",
      "confidence": "0.9976968765258789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a8dc05d7ac144808570fe484cde7a57",
      "value": "plein air",
      "confidence": "0.9959498643875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c0906aa7b4f94553823bb2f162e588f7",
      "value": "ciel",
      "confidence": "0.994112491607666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01167f424387472086eadf3fbde9e153",
      "value": "eau",
      "confidence": "0.9834247827529907"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51ff9165b3174b11bc3d2eb5e29be077",
      "value": "personnes",
      "confidence": "0.9580864906311035"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b2170613f154916954a5244cc6ae52b",
      "value": "plage",
      "confidence": "0.9427002668380737"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26c404906df44924b5d7cbd1649a8473",
      "value": "personne",
      "confidence": "0.9303370714187622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c0d6074fc52a4deab43aa486c7c5ed66",
      "value": "groupe",
      "confidence": "0.8916416168212891"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3ca0c9ca5e546edbefd0b4ad1f8819b",
      "value": "coucher de soleil",
      "confidence": "0.848585307598114"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35f25bb226c04a70b50c43d32fcb1f32",
      "value": "bateau",
      "confidence": "0.8409041166305542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9eba41772dec435aa7b04f9a4e41a98f",
      "value": "debout",
      "confidence": "0.6952486038208008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3db1fa3e4b004259bdce45b5c772a94d",
      "value": "embarcation",
      "confidence": "0.671256422996521"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1220a97ff8b8413eac076a955beadc1f",
      "value": "sol",
      "confidence": "0.664236307144165"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f2740378513542079d50723ac7330027"
      },
      {
        "contentUdi": "umb://element/85c540031f2e41fc8047da3e5406592e"
      },
      {
        "contentUdi": "umb://element/0d7918611f5b4073a67e79095eaa3e16"
      },
      {
        "contentUdi": "umb://element/f9f0891c767c4620b07c9d63cc3b2c7e"
      },
      {
        "contentUdi": "umb://element/b785ced70cac4947822523a614356869"
      },
      {
        "contentUdi": "umb://element/2773737c4d484ac5a8d124657ce5de68"
      },
      {
        "contentUdi": "umb://element/41ea6e3e15054342b2e8b971e58cd138"
      },
      {
        "contentUdi": "umb://element/5366c15a8bb54c92ab4b8b9409e79da4"
      },
      {
        "contentUdi": "umb://element/2cfb230cfaad4f8d86cdc1a2b2d45430"
      },
      {
        "contentUdi": "umb://element/de27e3978e704e90ac8b638646699774"
      },
      {
        "contentUdi": "umb://element/8fadbe8c4e3948cda3db4d3ca57c646c"
      },
      {
        "contentUdi": "umb://element/6c6f2c06c4004c75ba1e01970a002191"
      },
      {
        "contentUdi": "umb://element/31588d238d8d49fd8a990fea13e2cf08"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2740378513542079d50723ac7330027",
      "value": "nuage",
      "confidence": "0.9976968765258789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85c540031f2e41fc8047da3e5406592e",
      "value": "plein air",
      "confidence": "0.9959498643875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d7918611f5b4073a67e79095eaa3e16",
      "value": "ciel",
      "confidence": "0.994112491607666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f9f0891c767c4620b07c9d63cc3b2c7e",
      "value": "eau",
      "confidence": "0.9834247827529907"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b785ced70cac4947822523a614356869",
      "value": "personnes",
      "confidence": "0.9580864906311035"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2773737c4d484ac5a8d124657ce5de68",
      "value": "plage",
      "confidence": "0.9427002668380737"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41ea6e3e15054342b2e8b971e58cd138",
      "value": "personne",
      "confidence": "0.9303370714187622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5366c15a8bb54c92ab4b8b9409e79da4",
      "value": "groupe",
      "confidence": "0.8916416168212891"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cfb230cfaad4f8d86cdc1a2b2d45430",
      "value": "coucher de soleil",
      "confidence": "0.848585307598114"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de27e3978e704e90ac8b638646699774",
      "value": "bateau",
      "confidence": "0.8409041166305542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fadbe8c4e3948cda3db4d3ca57c646c",
      "value": "debout",
      "confidence": "0.6952486038208008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c6f2c06c4004c75ba1e01970a002191",
      "value": "embarcation",
      "confidence": "0.671256422996521"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31588d238d8d49fd8a990fea13e2cf08",
      "value": "sol",
      "confidence": "0.664236307144165"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>End of the day at Railay beach, return to Ao Nang for everyone</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Fin de journée à Railay beach, retour à Ao Nang pour tous</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a stunning sunset at Railay Beach in Thailand. The sky is painted with vibrant hues of orange, yellow, and purple as the sun sets behind scattered clouds. Several traditional long-tail boats are anchored in the shallow waters, and a group of people is seen wading through the water towards the boats. The scene exudes a serene and picturesque atmosphere, typical of a tropical beach setting."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un groupe de personnes marchant dans l'eau vers des bateaux traditionnels thaïlandais au coucher du soleil sur la plage de Railay en Thaïlande. Le ciel est rempli de nuages colorés par les teintes dorées et orangées du soleil couchant, créant une atmosphère sereine et pittoresque."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #RailayBeach #travel #boats #nature #vacation]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #Thaïlande #Railay #voyage #mer #bateaux #tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "034dceae-8e26-4d58-b1ba-ec81846fd9f9",
    "mediaKey": "6f356b26-f828-48f5-ae61-407f8f690ec6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/6-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/6-railay-beach-serie-crolow-pix.html]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Retour à Ao Nang pour tous après une journée inoubliable à Railay Beach.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Retour à Ao Nang pour tous après une journée inoubliable à Railay Beach.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Enchanting twilight at Railay Beach]]></Value>
      <Value Culture="fr"><![CDATA[Fin de journée à Railay Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/6-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/6-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Thailand",
  "Railay Beach",
  "boats",
  "people",
  "water",
  "clouds",
  "sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "bateaux",
  "Thaïlande",
  "Railay",
  "mer",
  "nuages",
  "touristes"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Retour à Ao Nang pour tous après une journée inoubliable à Railay Beach.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Enchanting twilight at Railay Beach]]></Value>
      <Value Culture="fr"><![CDATA[Fin de journée à Railay Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>