<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4e969d0-e905-4fa3-a78b-0c2add9575d9" Alias="FineArt America" Level="4">
  <Info>
    <Parent Key="3a326d41-76ca-416a-90c0-f925b76050b9">Redirections</Parent>
    <Path>/Crolow/Accueil/Redirections/FineArtAmerica</Path>
    <Trashed>false</Trashed>
    <ContentType>redirection</ContentType>
    <CreateDate>2024-03-06T18:02:04</CreateDate>
    <NodeName Default="FineArt America" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a68ec65-6e76-46e5-83be-f9da269a7192">Redirection</Template>
  </Info>
  <Properties>
    <redirectUrl>
      <Value><![CDATA[[
  {
    "name": "Crolow.Pix at FineArt America",
    "target": "_blank",
    "url": "https://crolow.pixels.com"
  }
]]]></Value>
    </redirectUrl>
  </Properties>
</Content>