<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb867b15-37e1-47ca-97d2-3747cdd84e48" Alias="First Flowers of Spring" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/FirstFlowersOfSpring</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T18:37:37</CreateDate>
    <NodeName Default="First Flowers of Spring">
      <Name Culture="en">First Flowers of Spring</Name>
      <Name Culture="fr">Premières fleurs du printemps</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84885c3ea9334baca1fda47a15cc899a"
      },
      {
        "contentUdi": "umb://element/9943be09f1b847cb90cb2df402c54c36"
      },
      {
        "contentUdi": "umb://element/894463eb52894519bb766bf03ee22194"
      },
      {
        "contentUdi": "umb://element/1a21aa25b7c74f86aba044e5bd4f4cce"
      },
      {
        "contentUdi": "umb://element/96fa26effb2749178a5cc88b699e9760"
      },
      {
        "contentUdi": "umb://element/b6013ac8abbf4988a9f238947ab1f4a7"
      },
      {
        "contentUdi": "umb://element/0dfaf6d8fc7c43bab0d512c9f53b6483"
      },
      {
        "contentUdi": "umb://element/d484324966d44ae598d69c377f9a6c78"
      },
      {
        "contentUdi": "umb://element/ddd65b38601144d4ac2fff2e731281e2"
      },
      {
        "contentUdi": "umb://element/660a8abfbae6462bbfbf8a3968d19f9e"
      },
      {
        "contentUdi": "umb://element/022ff71f658c43b7adc1925e57f68c33"
      },
      {
        "contentUdi": "umb://element/d63c2a4fee21429e91211f6a1a2c68d8"
      },
      {
        "contentUdi": "umb://element/6fae861650774dedaf19497ef9e395d9"
      },
      {
        "contentUdi": "umb://element/31f9972c56c54d63b2461829cb25cbf7"
      },
      {
        "contentUdi": "umb://element/db4124d71a1e478da98d757b0a3b36d4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84885c3ea9334baca1fda47a15cc899a",
      "value": "plante",
      "confidence": "0.9996621608734131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9943be09f1b847cb90cb2df402c54c36",
      "value": "fleur",
      "confidence": "0.9984602928161621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/894463eb52894519bb766bf03ee22194",
      "value": "herbe",
      "confidence": "0.9898766279220581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a21aa25b7c74f86aba044e5bd4f4cce",
      "value": "pétale",
      "confidence": "0.9560410976409912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96fa26effb2749178a5cc88b699e9760",
      "value": "plein air",
      "confidence": "0.9287375807762146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6013ac8abbf4988a9f238947ab1f4a7",
      "value": "plante herbacée",
      "confidence": "0.9215279817581177"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0dfaf6d8fc7c43bab0d512c9f53b6483",
      "value": "Crocus Tommie",
      "confidence": "0.8956302404403687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d484324966d44ae598d69c377f9a6c78",
      "value": "Crocus de printemps",
      "confidence": "0.8813807964324951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ddd65b38601144d4ac2fff2e731281e2",
      "value": "Crocus botanique",
      "confidence": "0.8807916641235352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/660a8abfbae6462bbfbf8a3968d19f9e",
      "value": "crocus",
      "confidence": "0.869050145149231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/022ff71f658c43b7adc1925e57f68c33",
      "value": "Crocus",
      "confidence": "0.8689828515052795"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d63c2a4fee21429e91211f6a1a2c68d8",
      "value": "Crocus de Crête",
      "confidence": "0.8444105386734009"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fae861650774dedaf19497ef9e395d9",
      "value": "printemps",
      "confidence": "0.8366308212280273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31f9972c56c54d63b2461829cb25cbf7",
      "value": "orchidée",
      "confidence": "0.8198438882827759"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db4124d71a1e478da98d757b0a3b36d4",
      "value": "terrain",
      "confidence": "0.6461307406425476"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84885c3ea9334baca1fda47a15cc899a"
      },
      {
        "contentUdi": "umb://element/9943be09f1b847cb90cb2df402c54c36"
      },
      {
        "contentUdi": "umb://element/894463eb52894519bb766bf03ee22194"
      },
      {
        "contentUdi": "umb://element/1a21aa25b7c74f86aba044e5bd4f4cce"
      },
      {
        "contentUdi": "umb://element/96fa26effb2749178a5cc88b699e9760"
      },
      {
        "contentUdi": "umb://element/b6013ac8abbf4988a9f238947ab1f4a7"
      },
      {
        "contentUdi": "umb://element/0dfaf6d8fc7c43bab0d512c9f53b6483"
      },
      {
        "contentUdi": "umb://element/d484324966d44ae598d69c377f9a6c78"
      },
      {
        "contentUdi": "umb://element/ddd65b38601144d4ac2fff2e731281e2"
      },
      {
        "contentUdi": "umb://element/660a8abfbae6462bbfbf8a3968d19f9e"
      },
      {
        "contentUdi": "umb://element/022ff71f658c43b7adc1925e57f68c33"
      },
      {
        "contentUdi": "umb://element/d63c2a4fee21429e91211f6a1a2c68d8"
      },
      {
        "contentUdi": "umb://element/6fae861650774dedaf19497ef9e395d9"
      },
      {
        "contentUdi": "umb://element/31f9972c56c54d63b2461829cb25cbf7"
      },
      {
        "contentUdi": "umb://element/db4124d71a1e478da98d757b0a3b36d4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84885c3ea9334baca1fda47a15cc899a",
      "value": "plante",
      "confidence": "0.9996621608734131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9943be09f1b847cb90cb2df402c54c36",
      "value": "fleur",
      "confidence": "0.9984602928161621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/894463eb52894519bb766bf03ee22194",
      "value": "herbe",
      "confidence": "0.9898766279220581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a21aa25b7c74f86aba044e5bd4f4cce",
      "value": "pétale",
      "confidence": "0.9560410976409912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96fa26effb2749178a5cc88b699e9760",
      "value": "plein air",
      "confidence": "0.9287375807762146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6013ac8abbf4988a9f238947ab1f4a7",
      "value": "plante herbacée",
      "confidence": "0.9215279817581177"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0dfaf6d8fc7c43bab0d512c9f53b6483",
      "value": "Crocus Tommie",
      "confidence": "0.8956302404403687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d484324966d44ae598d69c377f9a6c78",
      "value": "Crocus de printemps",
      "confidence": "0.8813807964324951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ddd65b38601144d4ac2fff2e731281e2",
      "value": "Crocus botanique",
      "confidence": "0.8807916641235352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/660a8abfbae6462bbfbf8a3968d19f9e",
      "value": "crocus",
      "confidence": "0.869050145149231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/022ff71f658c43b7adc1925e57f68c33",
      "value": "Crocus",
      "confidence": "0.8689828515052795"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d63c2a4fee21429e91211f6a1a2c68d8",
      "value": "Crocus de Crête",
      "confidence": "0.8444105386734009"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fae861650774dedaf19497ef9e395d9",
      "value": "printemps",
      "confidence": "0.8366308212280273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31f9972c56c54d63b2461829cb25cbf7",
      "value": "orchidée",
      "confidence": "0.8198438882827759"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db4124d71a1e478da98d757b0a3b36d4",
      "value": "terrain",
      "confidence": "0.6461307406425476"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Emergence of crocuses</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Emergence de crocus</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a group of colorful crocus flowers, mainly purple with some white flowers, growing in a green lawn in Brussels, Belgium. The flowers are in full bloom, with delicate petals and bright orange stamens."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un groupe de fleurs de crocus colorées, principalement violettes avec quelques fleurs blanches, poussant dans une pelouse verte à Bruxelles, Belgique. Les fleurs sont en pleine floraison, avec des pétales délicats et des étamines orange vif."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#flowers #crocus #nature #Bruxelles #Belgique #spring #bloom #garden]]></Value>
      <Value Culture="fr"><![CDATA[#fleurs #crocus #nature #Bruxelles #Belgique #printemps #jardin]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "8d288403-9e9a-40bd-9233-86c4be37da70",
    "mediaKey": "75caab3d-9036-4cd9-8fe2-288030f9b23b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'émergence des crocus colorés à Bruxelles, Belgique.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Premières Fleurs du Printemps : Les Crocus Éclatants]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[First Flowers of Spring: The Radiant Crocuses]]></Value>
      <Value Culture="fr"><![CDATA[Premières Fleurs du Printemps : Les Crocus Éclatants]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/first-flowers-of-the-year-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/first-flowers-of-the-year-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "flowers",
  "crocus",
  "purple",
  "white",
  "lawn",
  "nature",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "fleurs",
  "crocus",
  "violet",
  "blanc",
  "pelouse",
  "nature",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'émergence des crocus colorés à Bruxelles, Belgique.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[First Flowers of Spring: The Radiant Crocuses]]></Value>
      <Value Culture="fr"><![CDATA[Premières Fleurs du Printemps : Les Crocus Éclatants]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>