<?xml version="1.0" encoding="utf-8"?>
<Content Key="8312e466-b0a6-4971-965c-3966dd4a9f83" Alias="First rays of sunshine of the season" Level="7">
  <Info>
    <Parent Key="88deeb96-7ce1-4b5b-b3e1-97cd1b8e0879">Street life</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/StreetLife/FirstRaysOfSunshineOfTheSeason</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-16T11:54:30</CreateDate>
    <NodeName Default="First rays of sunshine of the season">
      <Name Culture="en">First rays of sunshine of the season</Name>
      <Name Culture="fr">Premiers rayons de soleil de la saison</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1b8c545339fc42e181ba63373d98100c"
      },
      {
        "contentUdi": "umb://element/d42936ad47074449bc704e1de94af3b4"
      },
      {
        "contentUdi": "umb://element/a7fa41b5f86146869452b117c80e3fe8"
      },
      {
        "contentUdi": "umb://element/bbddf8a9dfbd4501a4753b5f31ff58e9"
      },
      {
        "contentUdi": "umb://element/2f5add95f1664e67ab3cdafdeeda57d8"
      },
      {
        "contentUdi": "umb://element/b98a18e73ccb4a85b0888d1562cd9c94"
      },
      {
        "contentUdi": "umb://element/741fbbe4e6584639b56c926d7fd4a191"
      },
      {
        "contentUdi": "umb://element/51e7ed63d5ed488ab537d9bd4fe528cf"
      },
      {
        "contentUdi": "umb://element/243ef9237c9149fbb3d916d7487ab8a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b8c545339fc42e181ba63373d98100c",
      "value": "bâtiment",
      "confidence": "0.9966003894805908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d42936ad47074449bc704e1de94af3b4",
      "value": "plein air",
      "confidence": "0.9949827194213867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7fa41b5f86146869452b117c80e3fe8",
      "value": "rue",
      "confidence": "0.915069580078125"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bbddf8a9dfbd4501a4753b5f31ff58e9",
      "value": "Espace public",
      "confidence": "0.9084049463272095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f5add95f1664e67ab3cdafdeeda57d8",
      "value": "personnes",
      "confidence": "0.8720084428787231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b98a18e73ccb4a85b0888d1562cd9c94",
      "value": "ville",
      "confidence": "0.8476499319076538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/741fbbe4e6584639b56c926d7fd4a191",
      "value": "sol",
      "confidence": "0.8280822038650513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51e7ed63d5ed488ab537d9bd4fe528cf",
      "value": "orange",
      "confidence": "0.7724071741104126"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/243ef9237c9149fbb3d916d7487ab8a6",
      "value": "personne",
      "confidence": "0.7108426094055176"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1b8c545339fc42e181ba63373d98100c"
      },
      {
        "contentUdi": "umb://element/d42936ad47074449bc704e1de94af3b4"
      },
      {
        "contentUdi": "umb://element/a7fa41b5f86146869452b117c80e3fe8"
      },
      {
        "contentUdi": "umb://element/bbddf8a9dfbd4501a4753b5f31ff58e9"
      },
      {
        "contentUdi": "umb://element/2f5add95f1664e67ab3cdafdeeda57d8"
      },
      {
        "contentUdi": "umb://element/b98a18e73ccb4a85b0888d1562cd9c94"
      },
      {
        "contentUdi": "umb://element/741fbbe4e6584639b56c926d7fd4a191"
      },
      {
        "contentUdi": "umb://element/51e7ed63d5ed488ab537d9bd4fe528cf"
      },
      {
        "contentUdi": "umb://element/243ef9237c9149fbb3d916d7487ab8a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b8c545339fc42e181ba63373d98100c",
      "value": "bâtiment",
      "confidence": "0.9966003894805908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d42936ad47074449bc704e1de94af3b4",
      "value": "plein air",
      "confidence": "0.9949827194213867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7fa41b5f86146869452b117c80e3fe8",
      "value": "rue",
      "confidence": "0.915069580078125"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bbddf8a9dfbd4501a4753b5f31ff58e9",
      "value": "Espace public",
      "confidence": "0.9084049463272095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f5add95f1664e67ab3cdafdeeda57d8",
      "value": "personnes",
      "confidence": "0.8720084428787231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b98a18e73ccb4a85b0888d1562cd9c94",
      "value": "ville",
      "confidence": "0.8476499319076538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/741fbbe4e6584639b56c926d7fd4a191",
      "value": "sol",
      "confidence": "0.8280822038650513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51e7ed63d5ed488ab537d9bd4fe528cf",
      "value": "orange",
      "confidence": "0.7724071741104126"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/243ef9237c9149fbb3d916d7487ab8a6",
      "value": "personne",
      "confidence": "0.7108426094055176"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A few rays of sunshine, and the city center comes alive, and the terraces fill up.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Quelques rayons de soleil, et le centre ville s'enflamme, et les terrasses se remplissent.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a lively street scene in Brussels, Belgium. People are seen walking and enjoying the sunny day. In the background, an old-style architectural building houses a café or restaurant with outdoor tables. Potted trees and street lamps add to the charm of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une scène de rue animée à Bruxelles, Belgique. On y voit des gens marchant et profitant de la journée ensoleillée. À l'arrière-plan, un bâtiment au style architectural ancien abrite un café ou un restaurant avec des tables en terrasse. Des arbres en pots et des lampadaires ajoutent au charme de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #StreetScene #HistoricBuilding #OutdoorSeating #Vibrant #Tourists]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #café #terrasse #scènederue #voyage #tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "6aa103ab-2022-4e5b-8ff5-9d8277b7b3aa",
    "mediaKey": "026346d7-bea6-4027-940d-7db664bf2fb5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quelques rayons de soleil, et le centre ville s'enflamme, et les terrasses se remplissent.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles en Lumière : Premiers Rayons de Soleil]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Brussels in Light: First Rays of Sunshine]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles en Lumière : Premiers Rayons de Soleil]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunny-day-in-brussels-center-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunny-day-in-brussels-center-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "street",
  "architecture",
  "café",
  "terrace",
  "people",
  "building",
  "sun"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "rue",
  "architecture",
  "café",
  "terrasse",
  "gens",
  "bâtiment",
  "soleil"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quelques rayons de soleil, et le centre ville s'enflamme, et les terrasses se remplissent.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Brussels in Light: First Rays of Sunshine]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles en Lumière : Premiers Rayons de Soleil]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>