<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3ece159-0ac7-4eb8-9d0d-fbeba3a0ed4c" Alias="First Bee of Spring" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/FirstBeeOfSpring</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T18:45:39</CreateDate>
    <NodeName Default="First Bee of Spring">
      <Name Culture="en">First Bee of Spring</Name>
      <Name Culture="fr">Première abeille du printemps</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8a8da0ba57a44b56b3af5888470375b4"
      },
      {
        "contentUdi": "umb://element/a37550c8cf804f9e8a146429b98ea259"
      },
      {
        "contentUdi": "umb://element/fed4cb51a3964aababad4bd060f76831"
      },
      {
        "contentUdi": "umb://element/d67995e70e25427887e63e888d85f612"
      },
      {
        "contentUdi": "umb://element/7cd7c64391104680b64d01653d1e43c7"
      },
      {
        "contentUdi": "umb://element/644bdb6951a44476a345af5c1d608b62"
      },
      {
        "contentUdi": "umb://element/6e2b1916bae74c0d84a3493d7d26c6ce"
      },
      {
        "contentUdi": "umb://element/4cf56a3ded4445708d2f9eb9cd36acf3"
      },
      {
        "contentUdi": "umb://element/234cc1f6b6bc4f29a756274daa8937c6"
      },
      {
        "contentUdi": "umb://element/88d3076eb1ba4715a9ff640f709d7162"
      },
      {
        "contentUdi": "umb://element/071fd5c5ebee4e94a9fa6ae9538389c4"
      },
      {
        "contentUdi": "umb://element/2fe5d67be5eb40d7b4193181471f919b"
      },
      {
        "contentUdi": "umb://element/e656aa95b0524510a38ed58f16d58383"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a8da0ba57a44b56b3af5888470375b4",
      "value": "plante",
      "confidence": "0.9984611868858337"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a37550c8cf804f9e8a146429b98ea259",
      "value": "herbe",
      "confidence": "0.9922516345977783"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fed4cb51a3964aababad4bd060f76831",
      "value": "pétale",
      "confidence": "0.9700896143913269"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d67995e70e25427887e63e888d85f612",
      "value": "plein air",
      "confidence": "0.9336224794387817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7cd7c64391104680b64d01653d1e43c7",
      "value": "plante herbacée",
      "confidence": "0.933479905128479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/644bdb6951a44476a345af5c1d608b62",
      "value": "printemps",
      "confidence": "0.8777236938476562"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e2b1916bae74c0d84a3493d7d26c6ce",
      "value": "Crocus Tommie",
      "confidence": "0.872895359992981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4cf56a3ded4445708d2f9eb9cd36acf3",
      "value": "Crocus botanique",
      "confidence": "0.8607916831970215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/234cc1f6b6bc4f29a756274daa8937c6",
      "value": "Crocus de printemps",
      "confidence": "0.8588122725486755"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88d3076eb1ba4715a9ff640f709d7162",
      "value": "orchidée",
      "confidence": "0.8368470072746277"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/071fd5c5ebee4e94a9fa6ae9538389c4",
      "value": "fleur",
      "confidence": "0.827222466468811"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fe5d67be5eb40d7b4193181471f919b",
      "value": "crocus",
      "confidence": "0.7084190249443054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e656aa95b0524510a38ed58f16d58383",
      "value": "terrain",
      "confidence": "0.6843371987342834"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8a8da0ba57a44b56b3af5888470375b4"
      },
      {
        "contentUdi": "umb://element/a37550c8cf804f9e8a146429b98ea259"
      },
      {
        "contentUdi": "umb://element/fed4cb51a3964aababad4bd060f76831"
      },
      {
        "contentUdi": "umb://element/d67995e70e25427887e63e888d85f612"
      },
      {
        "contentUdi": "umb://element/7cd7c64391104680b64d01653d1e43c7"
      },
      {
        "contentUdi": "umb://element/644bdb6951a44476a345af5c1d608b62"
      },
      {
        "contentUdi": "umb://element/6e2b1916bae74c0d84a3493d7d26c6ce"
      },
      {
        "contentUdi": "umb://element/4cf56a3ded4445708d2f9eb9cd36acf3"
      },
      {
        "contentUdi": "umb://element/234cc1f6b6bc4f29a756274daa8937c6"
      },
      {
        "contentUdi": "umb://element/88d3076eb1ba4715a9ff640f709d7162"
      },
      {
        "contentUdi": "umb://element/071fd5c5ebee4e94a9fa6ae9538389c4"
      },
      {
        "contentUdi": "umb://element/2fe5d67be5eb40d7b4193181471f919b"
      },
      {
        "contentUdi": "umb://element/e656aa95b0524510a38ed58f16d58383"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a8da0ba57a44b56b3af5888470375b4",
      "value": "plante",
      "confidence": "0.9984611868858337"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a37550c8cf804f9e8a146429b98ea259",
      "value": "herbe",
      "confidence": "0.9922516345977783"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fed4cb51a3964aababad4bd060f76831",
      "value": "pétale",
      "confidence": "0.9700896143913269"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d67995e70e25427887e63e888d85f612",
      "value": "plein air",
      "confidence": "0.9336224794387817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7cd7c64391104680b64d01653d1e43c7",
      "value": "plante herbacée",
      "confidence": "0.933479905128479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/644bdb6951a44476a345af5c1d608b62",
      "value": "printemps",
      "confidence": "0.8777236938476562"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e2b1916bae74c0d84a3493d7d26c6ce",
      "value": "Crocus Tommie",
      "confidence": "0.872895359992981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4cf56a3ded4445708d2f9eb9cd36acf3",
      "value": "Crocus botanique",
      "confidence": "0.8607916831970215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/234cc1f6b6bc4f29a756274daa8937c6",
      "value": "Crocus de printemps",
      "confidence": "0.8588122725486755"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88d3076eb1ba4715a9ff640f709d7162",
      "value": "orchidée",
      "confidence": "0.8368470072746277"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/071fd5c5ebee4e94a9fa6ae9538389c4",
      "value": "fleur",
      "confidence": "0.827222466468811"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fe5d67be5eb40d7b4193181471f919b",
      "value": "crocus",
      "confidence": "0.7084190249443054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e656aa95b0524510a38ed58f16d58383",
      "value": "terrain",
      "confidence": "0.6843371987342834"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The bees from the botanical garden are out early. Strange winter.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les abeilles du jardin botanique sont de sortie précocément. Drôle d'hiver.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows white flowers, probably crocuses, with yellow and orange stamens in the center. A bee is visible on one of the flowers, collecting nectar. The flowers are in a grassy environment, with green grass and a few dead leaves around."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre des fleurs blanches, probablement des crocus, avec des étamines jaunes et orange au centre. Une abeille est visible sur l'une des fleurs, en train de butiner. Les fleurs se trouvent dans un environnement herbeux, avec de l'herbe verte et quelques feuilles mortes autour."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#crocus #flowers #bee #nature #whiteflowers #spring #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#fleurs #crocus #abeille #nature #herbe #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "6bd8a7c4-0ba2-42ba-8e79-0bdb2e50cdd1",
    "mediaKey": "c8a41404-44b5-4469-ae3e-8f2ed40a729b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les abeilles du jardin botanique sont de sortie précocément. Drôle d'hiver.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Première abeille du printemps]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[First Bee of Spring]]></Value>
      <Value Culture="fr"><![CDATA[Première abeille du printemps]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/flowers-of-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/flowers-of-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "flowers",
  "crocus",
  "bee",
  "nature",
  "grass",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "fleurs",
  "crocus",
  "abeille",
  "nature",
  "herbe",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les abeilles du jardin botanique sont de sortie précocément. Drôle d'hiver.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[First Bee of Spring]]></Value>
      <Value Culture="fr"><![CDATA[Première abeille du printemps]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>