<?xml version="1.0" encoding="utf-8"?>
<Content Key="43b116c5-265e-495f-b0da-4cab4a614a12" Alias="Fitness sans style" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/FitnessSansStyle</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Fitness sans style">
      <Name Culture="en">Style-Free Fitness</Name>
      <Name Culture="fr">Fitness sans style</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3abeb0c7884e4c02aae12004736792fe"
      },
      {
        "contentUdi": "umb://element/d138cf9d907a48438331bcd6cf3e7752"
      },
      {
        "contentUdi": "umb://element/d7d1edd7fb5245859d70cb0244425083"
      },
      {
        "contentUdi": "umb://element/172a1da93294445b91740fcfe4b6ef25"
      },
      {
        "contentUdi": "umb://element/14ecf0df7fde4d43bec81d79b03252f7"
      },
      {
        "contentUdi": "umb://element/b2668d4ce0604d6ca21ca413cb8b9762"
      },
      {
        "contentUdi": "umb://element/ce7189aea8194b2db79887dd7c28f57a"
      },
      {
        "contentUdi": "umb://element/3efb213d0945440a96de66402cd5952c"
      },
      {
        "contentUdi": "umb://element/6ef4ee6ae42846f5a75101ea50dc0e27"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3abeb0c7884e4c02aae12004736792fe",
      "value": "plein air",
      "confidence": "0.988406240940094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d138cf9d907a48438331bcd6cf3e7752",
      "value": "barrière",
      "confidence": "0.9832009673118591"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7d1edd7fb5245859d70cb0244425083",
      "value": "bâtiment",
      "confidence": "0.9297195672988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/172a1da93294445b91740fcfe4b6ef25",
      "value": "sol",
      "confidence": "0.915911078453064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14ecf0df7fde4d43bec81d79b03252f7",
      "value": "Poubelle",
      "confidence": "0.8858996629714966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2668d4ce0604d6ca21ca413cb8b9762",
      "value": "noir",
      "confidence": "0.845232367515564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce7189aea8194b2db79887dd7c28f57a",
      "value": "rue",
      "confidence": "0.5788613557815552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3efb213d0945440a96de66402cd5952c",
      "value": "portail",
      "confidence": "0.5602121949195862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ef4ee6ae42846f5a75101ea50dc0e27",
      "value": "trottoir",
      "confidence": "0.5591228604316711"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a24885ee9ef747a88c185dcee30cf813"
      },
      {
        "contentUdi": "umb://element/f474c62b9b484185bbf772d9af98cb41"
      },
      {
        "contentUdi": "umb://element/88e6bd05a97d4a74985027d1067b0655"
      },
      {
        "contentUdi": "umb://element/5d61a1683b4c474db7c4ef9cc42dc41f"
      },
      {
        "contentUdi": "umb://element/77a8e33da24d40e699fabc8b48de8648"
      },
      {
        "contentUdi": "umb://element/cd3f046a633e458f8f29942ada1ae845"
      },
      {
        "contentUdi": "umb://element/c849d940e000463e9c597181ac4ba5b3"
      },
      {
        "contentUdi": "umb://element/56c672f8fd0d4a73ad5f691a79a5873c"
      },
      {
        "contentUdi": "umb://element/119ced63de1b488c81803aa217f242b7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a24885ee9ef747a88c185dcee30cf813",
      "value": "plein air",
      "confidence": "0.988406240940094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f474c62b9b484185bbf772d9af98cb41",
      "value": "barrière",
      "confidence": "0.9832009673118591"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88e6bd05a97d4a74985027d1067b0655",
      "value": "bâtiment",
      "confidence": "0.9297195672988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d61a1683b4c474db7c4ef9cc42dc41f",
      "value": "sol",
      "confidence": "0.915911078453064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77a8e33da24d40e699fabc8b48de8648",
      "value": "Poubelle",
      "confidence": "0.8858996629714966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd3f046a633e458f8f29942ada1ae845",
      "value": "noir",
      "confidence": "0.845232367515564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c849d940e000463e9c597181ac4ba5b3",
      "value": "rue",
      "confidence": "0.5788613557815552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56c672f8fd0d4a73ad5f691a79a5873c",
      "value": "portail",
      "confidence": "0.5602121949195862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/119ced63de1b488c81803aa217f242b7",
      "value": "trottoir",
      "confidence": "0.5591228604316711"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Every square meter is suitable for sports practice. Here, the Esplanade of the Unknown Soldier</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Chaque mètre carré est propice à la pratique sportive. Ici, L'esplanade du Soldat Inconnu</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a person doing plank exercises on a sidewalk in Brussels, Belgium. The person is wearing a black jacket, black pants, and white sneakers. They are lying on the ground, supported by their forearms and feet. In the background, you can see a metal barrier and a blurred urban space."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une personne en train de faire des exercices de planche sur un trottoir à Bruxelles, Belgique. La personne porte une veste noire, un pantalon noir et des baskets blanches. Elle est allongée sur le sol, soutenue par ses avant-bras et ses pieds. En arrière-plan, on peut voir une barrière métallique et un espace urbain flou."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#exercise #plank #urbanfitness #Bruxelles #Belgique #graffiti]]></Value>
      <Value Culture="fr"><![CDATA[#exercice #planche #sport #Bruxelles #Belgique #fitness #urbain]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "3db05a49-be0b-4472-88fa-974059fea75c",
    "mediaKey": "b9b04a35-4848-4c03-bdb2-2ba0c5aa9b78"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quand chaque coin de rue devient une salle de sport improvisée...]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Urban Sport in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/fitness-place-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/fitness-place-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "exercise",
  "plank",
  "sport",
  "Brussels",
  "Belgium",
  "black clothing",
  "white sneakers",
  "metal barrier",
  "urban space"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "exercice",
  "planche",
  "sport",
  "Bruxelles",
  "Belgique",
  "vêtements noirs",
  "baskets blanches",
  "barrière métallique",
  "espace urbain"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quand chaque coin de rue devient une salle de sport improvisée...]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Urban Sport in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>