<?xml version="1.0" encoding="utf-8"?>
<Content Key="78847b2f-7ffa-4b7e-896b-ff1b48216a77" Alias="Follow the Circles" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/FollowTheCircles</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T14:25:25</CreateDate>
    <NodeName Default="Follow the Circles">
      <Name Culture="en">Follow the Circles</Name>
      <Name Culture="fr">Suivez les ronds</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c15c69d0086b41b5813166b2de4c9900"
      },
      {
        "contentUdi": "umb://element/b1cdebce95b445d6b022c3d12b8bd6be"
      },
      {
        "contentUdi": "umb://element/e29a2f582d6f4279b0b104d2ab9810d4"
      },
      {
        "contentUdi": "umb://element/e4c29be290df4b5da807f26424c2efcf"
      },
      {
        "contentUdi": "umb://element/afcbe7abd0ef46e9b547c92ea6761a77"
      },
      {
        "contentUdi": "umb://element/b2689a9aa42d458487854e26db6d2797"
      },
      {
        "contentUdi": "umb://element/3a48791c0ca843e3a9eea6e69721a905"
      },
      {
        "contentUdi": "umb://element/e9ebf212b03f49f796fb923e2b0dd4a0"
      },
      {
        "contentUdi": "umb://element/180cecffa8814cde8e41e3b4e5e0c893"
      },
      {
        "contentUdi": "umb://element/4f6c74fc9e74464e99e358999db0e559"
      },
      {
        "contentUdi": "umb://element/1f2ff4615d574289a9e4b7cc8ca09c95"
      },
      {
        "contentUdi": "umb://element/fc20e9280785425e9c13b378959fac6a"
      },
      {
        "contentUdi": "umb://element/99f2a19bfb594cabb6b8f48742160a1e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c15c69d0086b41b5813166b2de4c9900",
      "value": "plafond",
      "confidence": "0.9726471900939941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1cdebce95b445d6b022c3d12b8bd6be",
      "value": "intérieur",
      "confidence": "0.9503861665725708"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e29a2f582d6f4279b0b104d2ab9810d4",
      "value": "Plafonnier",
      "confidence": "0.8900371789932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4c29be290df4b5da807f26424c2efcf",
      "value": "lobby",
      "confidence": "0.8847018480300903"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afcbe7abd0ef46e9b547c92ea6761a77",
      "value": "Revêtement de sol",
      "confidence": "0.8700013756752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2689a9aa42d458487854e26db6d2797",
      "value": "éclairage",
      "confidence": "0.8650695085525513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a48791c0ca843e3a9eea6e69721a905",
      "value": "aménagement",
      "confidence": "0.8586205244064331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9ebf212b03f49f796fb923e2b0dd4a0",
      "value": "Éclairage sur rail",
      "confidence": "0.8551345467567444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/180cecffa8814cde8e41e3b4e5e0c893",
      "value": "mur",
      "confidence": "0.8286159038543701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f6c74fc9e74464e99e358999db0e559",
      "value": "sol",
      "confidence": "0.804716169834137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f2ff4615d574289a9e4b7cc8ca09c95",
      "value": "hall",
      "confidence": "0.7224798202514648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc20e9280785425e9c13b378959fac6a",
      "value": "vide",
      "confidence": "0.6351994872093201"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99f2a19bfb594cabb6b8f48742160a1e",
      "value": "léger",
      "confidence": "0.5762431025505066"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c15c69d0086b41b5813166b2de4c9900"
      },
      {
        "contentUdi": "umb://element/b1cdebce95b445d6b022c3d12b8bd6be"
      },
      {
        "contentUdi": "umb://element/e29a2f582d6f4279b0b104d2ab9810d4"
      },
      {
        "contentUdi": "umb://element/e4c29be290df4b5da807f26424c2efcf"
      },
      {
        "contentUdi": "umb://element/afcbe7abd0ef46e9b547c92ea6761a77"
      },
      {
        "contentUdi": "umb://element/b2689a9aa42d458487854e26db6d2797"
      },
      {
        "contentUdi": "umb://element/3a48791c0ca843e3a9eea6e69721a905"
      },
      {
        "contentUdi": "umb://element/e9ebf212b03f49f796fb923e2b0dd4a0"
      },
      {
        "contentUdi": "umb://element/180cecffa8814cde8e41e3b4e5e0c893"
      },
      {
        "contentUdi": "umb://element/4f6c74fc9e74464e99e358999db0e559"
      },
      {
        "contentUdi": "umb://element/1f2ff4615d574289a9e4b7cc8ca09c95"
      },
      {
        "contentUdi": "umb://element/fc20e9280785425e9c13b378959fac6a"
      },
      {
        "contentUdi": "umb://element/99f2a19bfb594cabb6b8f48742160a1e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c15c69d0086b41b5813166b2de4c9900",
      "value": "plafond",
      "confidence": "0.9726471900939941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1cdebce95b445d6b022c3d12b8bd6be",
      "value": "intérieur",
      "confidence": "0.9503861665725708"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e29a2f582d6f4279b0b104d2ab9810d4",
      "value": "Plafonnier",
      "confidence": "0.8900371789932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4c29be290df4b5da807f26424c2efcf",
      "value": "lobby",
      "confidence": "0.8847018480300903"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afcbe7abd0ef46e9b547c92ea6761a77",
      "value": "Revêtement de sol",
      "confidence": "0.8700013756752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2689a9aa42d458487854e26db6d2797",
      "value": "éclairage",
      "confidence": "0.8650695085525513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a48791c0ca843e3a9eea6e69721a905",
      "value": "aménagement",
      "confidence": "0.8586205244064331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9ebf212b03f49f796fb923e2b0dd4a0",
      "value": "Éclairage sur rail",
      "confidence": "0.8551345467567444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/180cecffa8814cde8e41e3b4e5e0c893",
      "value": "mur",
      "confidence": "0.8286159038543701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f6c74fc9e74464e99e358999db0e559",
      "value": "sol",
      "confidence": "0.804716169834137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f2ff4615d574289a9e4b7cc8ca09c95",
      "value": "hall",
      "confidence": "0.7224798202514648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc20e9280785425e9c13b378959fac6a",
      "value": "vide",
      "confidence": "0.6351994872093201"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99f2a19bfb594cabb6b8f48742160a1e",
      "value": "léger",
      "confidence": "0.5762431025505066"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Cosmic architecture at Pannenhuis metro</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Architecture cosmique au métro Pannenhuis</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a metro station in Brussels, Belgium. The station is characterized by its modern design with circular luminous structures suspended from the ceiling, creating a futuristic ambiance. There are escalators in the center leading to another part of the station. The walls are decorated with posters and information panels."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une station de métro à Bruxelles, Belgique. La station est caractérisée par son design moderne avec des structures circulaires lumineuses suspendues au plafond, créant une ambiance futuriste. Il y a des escalators au centre menant à une autre partie de la station. Les murs sont décorés avec des affiches et des panneaux d'information."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #MetroStation #ModernDesign #PublicTransportation]]></Value>
      <Value Culture="fr"><![CDATA[#métro #Bruxelles #Belgique #station #designmoderne #lumièrescirculaires]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "6c5b9c28-df0e-4b06-963b-03d96736df8b",
    "mediaKey": "b0088cd8-7a41-44c5-8b8c-05738fa9d64b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la station de métro Pannenhuis à Bruxelles, où des structures circulaires lumineuses créent une ambiance futuriste.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Follow the Circles: A Dive into the Cosmic Architecture of Pannenhuis]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/pannenhuis-metro-station-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/pannenhuis-metro-station-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "metro",
  "Brussels",
  "Belgium",
  "station",
  "escalators",
  "modern design",
  "circular lights"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "métro",
  "Bruxelles",
  "Belgique",
  "station",
  "escalators",
  "design moderne",
  "lumières circulaires"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la station de métro Pannenhuis à Bruxelles, où des structures circulaires lumineuses créent une ambiance futuriste.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Follow the Circles: A Dive into the Cosmic Architecture of Pannenhuis]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>