<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed365510-8a80-4196-9d7f-84b1f4f44da1" Alias="Footer" Level="4">
  <Info>
    <Parent Key="3e3a5695-c749-491f-9cc9-bd70691a806a">Common layouts</Parent>
    <Path>/Waaw/Data/CommonLayouts/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/50263892b7b94b4184bdf96b1115fc75",
        "areas": [
          {
            "key": "4ec379f0-889f-4cb8-b718-9eacfed941e5",
            "items": []
          },
          {
            "key": "90ecad5e-8207-455b-a389-fe8fe7354627",
            "items": []
          },
          {
            "key": "8bc687d2-be8e-464d-94cb-f06589a7d0ef",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/265f705767d54aa6900860c0b522a8f5",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5078c49f-3946-43c6-bb96-034f9a0ca77a",
      "udi": "umb://element/50263892b7b94b4184bdf96b1115fc75",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/265f705767d54aa6900860c0b522a8f5",
      "title": "",
      "description": {
        "markup": "<p>Ce site est toujours en cours de développement, et d'approvisionnement d'images. Je revois la qualité de chacune des photos publiées pour m'assurer que le résultat final soit à la hauteur.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
  </Properties>
</Content>