<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d645634-5a77-41b4-aa57-d571c4310662" Alias="Footer" Level="4">
  <Info>
    <Parent Key="003f89aa-522a-422a-a911-506a0820dd5d">Common layouts</Parent>
    <Path>/Crolow/Data/CommonLayouts/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2024-03-02T12:18:56</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2e1dddc16c59414c983c3c673a4b02e3",
        "areas": [
          {
            "key": "4ec379f0-889f-4cb8-b718-9eacfed941e5",
            "items": []
          },
          {
            "key": "90ecad5e-8207-455b-a389-fe8fe7354627",
            "items": []
          },
          {
            "key": "8bc687d2-be8e-464d-94cb-f06589a7d0ef",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/aa481974983e40c0ab88bae0ba873adb",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5078c49f-3946-43c6-bb96-034f9a0ca77a",
      "udi": "umb://element/2e1dddc16c59414c983c3c673a4b02e3",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/aa481974983e40c0ab88bae0ba873adb",
      "title": "",
      "description": {
        "markup": "<p>Ce site est toujours en cours de développement, et d'approvisionnement d'images. Je revois la qualité de chacune des photos publiées pour m'assurer que le résultat final soit à la hauteur.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
  </Properties>
</Content>