<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a68bef5-eedf-4857-be2c-920eb573762b" Alias="For a Little Tower" Level="6">
  <Info>
    <Parent Key="ceba3188-9498-43aa-bfb8-d4435dae7562">Albania</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Albania/ForALittleTower</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-05-05T13:53:01</CreateDate>
    <NodeName Default="For a Little Tower">
      <Name Culture="en">For a Little Tower</Name>
      <Name Culture="fr">Pour une petite tour</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A tower of the Gjirokaster castle</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Une tour du château de Gjirokaster</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a historic stone castle located in Gjirokastër, Albania. The imposing building, with its characteristic clock tower, stands majestically under a bright blue sky. The stone walls and arches add to the medieval charm of the structure. In the background, mountains can be seen, accentuating the natural beauty of the site."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un château historique en pierre situé à Gjirokastër, en Albanie. Le bâtiment imposant, avec sa tour d'horloge caractéristique, se dresse majestueusement sous un ciel bleu vif. Les murs de pierre et les arches ajoutent au charme médiéval de la structure. En arrière-plan, on peut apercevoir des montagnes, accentuant la beauté naturelle du site."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Gjirokaster #Albania #ClockTower #HistoricSite #Architecture #Landmark]]></Value>
      <Value Culture="fr"><![CDATA[#château #Gjirokastër #Albanie #architecture #historique #tour #pierre #médiéval]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "68c29436-f938-42ac-8354-630b9b2facb3",
    "mediaKey": "fc496296-5440-4ddd-b866-e2048eb12837"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Gjirokaster, Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokaster, Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la tour d'horloge emblématique du château de Gjirokastër, une merveille architecturale sous un ciel azur.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Majesté Médiévale à Gjirokastër]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Medieval Majesty in Gjirokastër]]></Value>
      <Value Culture="fr"><![CDATA[Majesté Médiévale à Gjirokastër]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/gjirokaster-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/gjirokaster-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "castle",
  "clock tower",
  "stone",
  "historic",
  "Gjirokastër",
  "Albania",
  "architecture",
  "medieval"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "château",
  "tour d'horloge",
  "pierre",
  "historique",
  "Gjirokastër",
  "Albanie",
  "architecture",
  "médiéval"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la tour d'horloge emblématique du château de Gjirokastër, une merveille architecturale sous un ciel azur.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Medieval Majesty in Gjirokastër]]></Value>
      <Value Culture="fr"><![CDATA[Majesté Médiévale à Gjirokastër]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>