<?xml version="1.0" encoding="utf-8"?>
<Content Key="86021b21-7459-4485-970f-dd3bb74c9b86" Alias="Galeries royales de Bruxelles" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/GaleriesRoyalesDeBruxelles</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Galeries royales de Bruxelles">
      <Name Culture="en">Royal Galleries of Brussels</Name>
      <Name Culture="fr">Galeries royales de Bruxelles</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b69001952a4f4dfcb982f9e62e1a5233"
      },
      {
        "contentUdi": "umb://element/9095be83f7354f49a56a3a2a56d79add"
      },
      {
        "contentUdi": "umb://element/94400b7bf6f9495caef2b5d94de7970b"
      },
      {
        "contentUdi": "umb://element/6fa552bc623a4978b7c3482f3ad9aaab"
      },
      {
        "contentUdi": "umb://element/695f0a01c932412d94112fbabc89ec01"
      },
      {
        "contentUdi": "umb://element/7ba2c24772534a1aa07145acb2915a2a"
      },
      {
        "contentUdi": "umb://element/01111cab56244b75a1d64f8e642334c1"
      },
      {
        "contentUdi": "umb://element/bd44b509fb6a491b8ced859a3891915a"
      },
      {
        "contentUdi": "umb://element/f22eb9d901cf4012a0c4b8bee8077b47"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b69001952a4f4dfcb982f9e62e1a5233",
      "value": "bâtiment",
      "confidence": "0.9801744222640991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9095be83f7354f49a56a3a2a56d79add",
      "value": "ville",
      "confidence": "0.9457383155822754"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94400b7bf6f9495caef2b5d94de7970b",
      "value": "ciel",
      "confidence": "0.9409492015838623"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fa552bc623a4978b7c3482f3ad9aaab",
      "value": "plein air",
      "confidence": "0.874772846698761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/695f0a01c932412d94112fbabc89ec01",
      "value": "piste",
      "confidence": "0.6266453862190247"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ba2c24772534a1aa07145acb2915a2a",
      "value": "rue",
      "confidence": "0.5881015658378601"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01111cab56244b75a1d64f8e642334c1",
      "value": "sol",
      "confidence": "0.5607936382293701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd44b509fb6a491b8ced859a3891915a",
      "value": "voyage",
      "confidence": "0.546691358089447"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f22eb9d901cf4012a0c4b8bee8077b47",
      "value": "hiver",
      "confidence": "0.48020225763320923"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c75162336e64144869515691fc6b57e"
      },
      {
        "contentUdi": "umb://element/a3199ef200614c54a684399a8c6420fc"
      },
      {
        "contentUdi": "umb://element/e10ac9c19c8a417286f030de37f50742"
      },
      {
        "contentUdi": "umb://element/5c1f6561b8264dae807d7dfb88bb7e4c"
      },
      {
        "contentUdi": "umb://element/d044e9670dfb4ba889738f023483852e"
      },
      {
        "contentUdi": "umb://element/a0ad49ac497547d99eb4326c6e905100"
      },
      {
        "contentUdi": "umb://element/6ce3a94f82414934a9a885f1ea91bce1"
      },
      {
        "contentUdi": "umb://element/e5ce9b9f7a2548ac9ecae370ae2e8616"
      },
      {
        "contentUdi": "umb://element/6893bd7a96b04f9086ca76de92ceedb0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c75162336e64144869515691fc6b57e",
      "value": "bâtiment",
      "confidence": "0.9801744222640991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3199ef200614c54a684399a8c6420fc",
      "value": "ville",
      "confidence": "0.9457383155822754"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e10ac9c19c8a417286f030de37f50742",
      "value": "ciel",
      "confidence": "0.9409492015838623"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c1f6561b8264dae807d7dfb88bb7e4c",
      "value": "plein air",
      "confidence": "0.874772846698761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d044e9670dfb4ba889738f023483852e",
      "value": "piste",
      "confidence": "0.6266453862190247"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a0ad49ac497547d99eb4326c6e905100",
      "value": "rue",
      "confidence": "0.5881015658378601"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ce3a94f82414934a9a885f1ea91bce1",
      "value": "sol",
      "confidence": "0.5607936382293701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5ce9b9f7a2548ac9ecae370ae2e8616",
      "value": "voyage",
      "confidence": "0.546691358089447"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6893bd7a96b04f9086ca76de92ceedb0",
      "value": "hiver",
      "confidence": "0.48020225763320923"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Luminous attack in the royal galleries</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Attaque lumineuse dans les galeries royales</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an elegant and covered shopping arcade in Brussels, Belgium. The gallery is lined with luxurious shops with illuminated windows. The ceiling is adorned with a glass roof that lets in natural light, creating a bright and welcoming atmosphere. People walk along the gallery, adding a touch of life to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une galerie marchande élégante et couverte à Bruxelles, Belgique. La galerie est bordée de boutiques luxueuses avec des vitrines illuminées. Le plafond est orné d'une verrière qui laisse entrer la lumière naturelle, créant une atmosphère lumineuse et accueillante. Des personnes marchent le long de la galerie, ajoutant une touche de vie à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #ShoppingGallery #Architecture #Boutiques #Travel #Explore #CityLife #Historic #Indoor]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #GalerieMarchande #Architecture #Shopping #LumièreNaturelle]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c30446d2-539d-4f15-b2b8-1128d4d73cb3",
    "mediaKey": "5eb88e58-3b9d-489c-b244-b383d5d6b203"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Attaque lumineuse dans les galeries royales]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Splendeur des Galeries Royales de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Splendor of the Royal Galleries of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Splendeur des Galeries Royales de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/royal-galleries-in-center-of-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/royal-galleries-in-center-of-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "shopping arcade",
  "Brussels",
  "Belgium",
  "architecture",
  "shops",
  "windows",
  "natural light",
  "people"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "galerie marchande",
  "Bruxelles",
  "Belgique",
  "architecture",
  "boutiques",
  "vitrines",
  "lumière naturelle",
  "personnes"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Attaque lumineuse dans les galeries royales]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Splendor of the Royal Galleries of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Splendeur des Galeries Royales de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>