<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3843d25-ab5d-44d4-8e0b-9e3753cb688e" Alias="Generic" Level="4">
  <Info>
    <Parent Key="913b04e9-d0b8-4b44-9d72-2baa6efb8420">Cards</Parent>
    <Path>/Waaw/Data/Cards/Generic</Path>
    <Trashed>false</Trashed>
    <ContentType>cardFolder</ContentType>
    <CreateDate>2025-08-20T12:41:59</CreateDate>
    <NodeName Default="Generic" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>