<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0a662dc-afe7-4d32-bc4d-f1be33a7bc4c" Alias="Generic" Level="4">
  <Info>
    <Parent Key="cb4120a1-dc64-400c-9326-49696ee54ad5">Custom components</Parent>
    <Path>/Waaw/Data/CustomComponents/Generic</Path>
    <Trashed>false</Trashed>
    <ContentType>customComponentsFolder</ContentType>
    <CreateDate>2025-08-22T10:39:39</CreateDate>
    <NodeName Default="Generic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>