<?xml version="1.0" encoding="utf-8"?>
<Content Key="8598d390-caec-40af-aa33-1655f8d267b9" Alias="Good morning Bangkok" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/GoodMorningBangkok</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Good morning Bangkok">
      <Name Culture="en">Good morning Bangkok</Name>
      <Name Culture="fr">Good morning Bangkok</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6760cb58c05e42b98ccca95c800a0330"
      },
      {
        "contentUdi": "umb://element/6d6b357916bc454b9a912dc3d499d20e"
      },
      {
        "contentUdi": "umb://element/6d79f078c7294fcfbfc4e6452697e1e6"
      },
      {
        "contentUdi": "umb://element/3b8222aad66448d5b1c9e46696915b92"
      },
      {
        "contentUdi": "umb://element/c15ec99601944a409aef087a7ff80f04"
      },
      {
        "contentUdi": "umb://element/892197fd77a04ef39648755b62863e99"
      },
      {
        "contentUdi": "umb://element/9aa59b97e1a34b44b53ad6b031a4f668"
      },
      {
        "contentUdi": "umb://element/5ec34ec5e2644e81b92fc3afb3443301"
      },
      {
        "contentUdi": "umb://element/f785d02c804e486498903be4fb688533"
      },
      {
        "contentUdi": "umb://element/bab4cc16abd84a77b4e053b189abe957"
      },
      {
        "contentUdi": "umb://element/ad01fa1358be42b08b435728fe0ee954"
      },
      {
        "contentUdi": "umb://element/f0d19aa263f6473fa87d86f97c1addba"
      },
      {
        "contentUdi": "umb://element/73867871a5304574adeb27e4ce64e700"
      },
      {
        "contentUdi": "umb://element/bf8aefca0fea4c1b8067b6d416487406"
      },
      {
        "contentUdi": "umb://element/6e1683168ae54199b03007ea99df0fd6"
      },
      {
        "contentUdi": "umb://element/80950bfbcf14459fa098e41be7cdeb2f"
      },
      {
        "contentUdi": "umb://element/e13d978ed0d5490d9c94b60dbf3a770c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6760cb58c05e42b98ccca95c800a0330",
      "value": "nuage",
      "confidence": "0.9982572793960571"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d6b357916bc454b9a912dc3d499d20e",
      "value": "ciel",
      "confidence": "0.9801644682884216"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d79f078c7294fcfbfc4e6452697e1e6",
      "value": "horizon",
      "confidence": "0.978026807308197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b8222aad66448d5b1c9e46696915b92",
      "value": "bâtiment",
      "confidence": "0.9687681198120117"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c15ec99601944a409aef087a7ff80f04",
      "value": "paysage urbain",
      "confidence": "0.9681212902069092"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/892197fd77a04ef39648755b62863e99",
      "value": "ville",
      "confidence": "0.9552451968193054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9aa59b97e1a34b44b53ad6b031a4f668",
      "value": "Métropole",
      "confidence": "0.9510077238082886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ec34ec5e2644e81b92fc3afb3443301",
      "value": "Zone métropolitaine",
      "confidence": "0.949695348739624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f785d02c804e486498903be4fb688533",
      "value": "plein air",
      "confidence": "0.9456590414047241"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bab4cc16abd84a77b4e053b189abe957",
      "value": "Tour de grande hauteur",
      "confidence": "0.9437501430511475"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad01fa1358be42b08b435728fe0ee954",
      "value": "Zone urbaine",
      "confidence": "0.9401353597640991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0d19aa263f6473fa87d86f97c1addba",
      "value": "gratte-ciel",
      "confidence": "0.9186885356903076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/73867871a5304574adeb27e4ce64e700",
      "value": "centre-ville",
      "confidence": "0.8947659730911255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf8aefca0fea4c1b8067b6d416487406",
      "value": "coucher de soleil",
      "confidence": "0.880031168460846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e1683168ae54199b03007ea99df0fd6",
      "value": "tour",
      "confidence": "0.8720980882644653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80950bfbcf14459fa098e41be7cdeb2f",
      "value": "paysage",
      "confidence": "0.8203966617584229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e13d978ed0d5490d9c94b60dbf3a770c",
      "value": "nuit",
      "confidence": "0.6243250370025635"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/217ced7ffb1d46ba895f9d1eec289255"
      },
      {
        "contentUdi": "umb://element/35bf34ab364b4a9e8f5d04a2295a2035"
      },
      {
        "contentUdi": "umb://element/162858440c634d42975e7e963c93f3e4"
      },
      {
        "contentUdi": "umb://element/42c1d7ef47504c6ba701bf7e88c44acb"
      },
      {
        "contentUdi": "umb://element/cde76e06a9774a21aee7f3f8c5b95452"
      },
      {
        "contentUdi": "umb://element/92f0f1b121f3482f86b9a70cdad19c7f"
      },
      {
        "contentUdi": "umb://element/79498bac0ad849cbaea57fc9c19eef7a"
      },
      {
        "contentUdi": "umb://element/e2d9fb435cef4a22b00e911c7f7ab24c"
      },
      {
        "contentUdi": "umb://element/21941bfda10c4de09c4a395d2f8bbc2c"
      },
      {
        "contentUdi": "umb://element/7bf6faff3233422dbc3be916057be839"
      },
      {
        "contentUdi": "umb://element/1d5536c5847b4fdca1ce29d5da053acc"
      },
      {
        "contentUdi": "umb://element/8314e38eb20f403cad73827306ddc41c"
      },
      {
        "contentUdi": "umb://element/5f20951cf33540058a7893bc53b05a02"
      },
      {
        "contentUdi": "umb://element/113e1ff445e64ffa9ea89308b98743b6"
      },
      {
        "contentUdi": "umb://element/26c963c12c9f492aa8902294f52ccc5f"
      },
      {
        "contentUdi": "umb://element/7686e53ecba1413d83ae8e3f1489fd3a"
      },
      {
        "contentUdi": "umb://element/0d0c416a11a04648a9b7580e943de345"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/217ced7ffb1d46ba895f9d1eec289255",
      "value": "nuage",
      "confidence": "0.9982572793960571"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35bf34ab364b4a9e8f5d04a2295a2035",
      "value": "ciel",
      "confidence": "0.9801644682884216"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/162858440c634d42975e7e963c93f3e4",
      "value": "horizon",
      "confidence": "0.978026807308197"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42c1d7ef47504c6ba701bf7e88c44acb",
      "value": "bâtiment",
      "confidence": "0.9687681198120117"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cde76e06a9774a21aee7f3f8c5b95452",
      "value": "paysage urbain",
      "confidence": "0.9681212902069092"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92f0f1b121f3482f86b9a70cdad19c7f",
      "value": "ville",
      "confidence": "0.9552451968193054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/79498bac0ad849cbaea57fc9c19eef7a",
      "value": "Métropole",
      "confidence": "0.9510077238082886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2d9fb435cef4a22b00e911c7f7ab24c",
      "value": "Zone métropolitaine",
      "confidence": "0.949695348739624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/21941bfda10c4de09c4a395d2f8bbc2c",
      "value": "plein air",
      "confidence": "0.9456590414047241"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bf6faff3233422dbc3be916057be839",
      "value": "Tour de grande hauteur",
      "confidence": "0.9437501430511475"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d5536c5847b4fdca1ce29d5da053acc",
      "value": "Zone urbaine",
      "confidence": "0.9401353597640991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8314e38eb20f403cad73827306ddc41c",
      "value": "gratte-ciel",
      "confidence": "0.9186885356903076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f20951cf33540058a7893bc53b05a02",
      "value": "centre-ville",
      "confidence": "0.8947659730911255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/113e1ff445e64ffa9ea89308b98743b6",
      "value": "coucher de soleil",
      "confidence": "0.880031168460846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26c963c12c9f492aa8902294f52ccc5f",
      "value": "tour",
      "confidence": "0.8720980882644653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7686e53ecba1413d83ae8e3f1489fd3a",
      "value": "paysage",
      "confidence": "0.8203966617584229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d0c416a11a04648a9b7580e943de345",
      "value": "nuit",
      "confidence": "0.6243250370025635"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Dusk over Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Crépuscule sur Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a stunning cityscape of Bangkok, Thailand, during dusk. The skyline is filled with numerous high-rise buildings and skyscrapers, illuminated by city lights. The sky is adorned with scattered clouds, and the overall ambiance is serene yet vibrant."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue panoramique de la ville de Bangkok, en Thaïlande, au crépuscule. On peut voir de nombreux gratte-ciel et bâtiments modernes s'élevant au-dessus de la ville, avec des lumières de la ville qui commencent à s'allumer. Le ciel est partiellement nuageux avec des teintes de coucher de soleil, créant une atmosphère urbaine et dynamique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Cityscape #Dusk #Skyline #UrbanPhotography #CityLights]]></Value>
      <Value Culture="fr"><![CDATA[#Bangkok #Thaïlande #Ville #GratteCiel #Crépuscule #CoucherDeSoleil #Panorama #Urbain]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "4fef1dfd-2102-4f6b-978e-8693bf1354ef",
    "mediaKey": "c3415c5c-b449-4701-9ec0-d3ca3f9182e8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Bangkok au crépuscule, où les gratte-ciel s'illuminent sous un ciel aux teintes de coucher de soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Bangkok au crépuscule, où les gratte-ciel s'illuminent sous un ciel aux teintes de coucher de soleil.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Dusk over Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Crépuscule sur Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/early-time-in-bangkok-time-to-move-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/early-time-in-bangkok-time-to-move-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Bangkok",
  "Thailand",
  "cityscape",
  "dusk",
  "skyline",
  "buildings",
  "skyscrapers",
  "city lights",
  "urban"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bangkok",
  "Thaïlande",
  "ville",
  "gratte-ciel",
  "crépuscule",
  "coucher de soleil",
  "panorama",
  "urbain"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Bangkok au crépuscule, où les gratte-ciel s'illuminent sous un ciel aux teintes de coucher de soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Dusk over Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Crépuscule sur Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>