<?xml version="1.0" encoding="utf-8"?>
<Content Key="60dd5f66-6d02-4e3c-a877-ea2e917a0259" Alias="Grand magasin de bricolage" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/GrandMagasinDeBricolage</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Grand magasin de bricolage">
      <Name Culture="en">DIY Superstore</Name>
      <Name Culture="fr">Grand magasin de bricolage</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d30fe7efaa1f4cac8129fb048a532b50"
      },
      {
        "contentUdi": "umb://element/9a63edc31e524d50ae488a18fcec2361"
      },
      {
        "contentUdi": "umb://element/5a711e42dc07462fa1b48a3def0e6537"
      },
      {
        "contentUdi": "umb://element/17b05986eac347e8a4ae33bd03b03736"
      },
      {
        "contentUdi": "umb://element/a5e72ad663784abf87408d2bd985d1eb"
      },
      {
        "contentUdi": "umb://element/9e4552d59c10490f9b9fabe13b857040"
      },
      {
        "contentUdi": "umb://element/1ad5835c817645acbe2bfa1db54d3354"
      },
      {
        "contentUdi": "umb://element/980b28d3376241739bc3e01d3e972c90"
      },
      {
        "contentUdi": "umb://element/cd96193abb1c41c2ae4c620a78e4aa4a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d30fe7efaa1f4cac8129fb048a532b50",
      "value": "plein air",
      "confidence": "0.9872826337814331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a63edc31e524d50ae488a18fcec2361",
      "value": "ciel",
      "confidence": "0.9866569638252258"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a711e42dc07462fa1b48a3def0e6537",
      "value": "bâtiment",
      "confidence": "0.9858199954032898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17b05986eac347e8a4ae33bd03b03736",
      "value": "nuage",
      "confidence": "0.9768052101135254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5e72ad663784abf87408d2bd985d1eb",
      "value": "barrière",
      "confidence": "0.9421372413635254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e4552d59c10490f9b9fabe13b857040",
      "value": "arbre",
      "confidence": "0.9148377776145935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ad5835c817645acbe2bfa1db54d3354",
      "value": "ville",
      "confidence": "0.9028416872024536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/980b28d3376241739bc3e01d3e972c90",
      "value": "architecture",
      "confidence": "0.6487290859222412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd96193abb1c41c2ae4c620a78e4aa4a",
      "value": "hiver",
      "confidence": "0.5869483351707458"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/04f0a0510aa644ccb027a995615050cf"
      },
      {
        "contentUdi": "umb://element/aee9a7d3f59246f8bfbac4fff386e348"
      },
      {
        "contentUdi": "umb://element/b5da6c488e194742b9d354e5a734f308"
      },
      {
        "contentUdi": "umb://element/e2e41152af3f4daa9c87b50365065693"
      },
      {
        "contentUdi": "umb://element/a78cf520a7814a7b98fdd0fe24bf2869"
      },
      {
        "contentUdi": "umb://element/a2b3d0a46ce04d938471c5e907eecf21"
      },
      {
        "contentUdi": "umb://element/97976644f2bf4e769c48b806373b4420"
      },
      {
        "contentUdi": "umb://element/f992f02808c5459baa6bc08264651810"
      },
      {
        "contentUdi": "umb://element/7122bb18a68743e28ddbb8c04c23a779"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04f0a0510aa644ccb027a995615050cf",
      "value": "plein air",
      "confidence": "0.9872826337814331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aee9a7d3f59246f8bfbac4fff386e348",
      "value": "ciel",
      "confidence": "0.9866569638252258"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5da6c488e194742b9d354e5a734f308",
      "value": "bâtiment",
      "confidence": "0.9858199954032898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2e41152af3f4daa9c87b50365065693",
      "value": "nuage",
      "confidence": "0.9768052101135254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a78cf520a7814a7b98fdd0fe24bf2869",
      "value": "barrière",
      "confidence": "0.9421372413635254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a2b3d0a46ce04d938471c5e907eecf21",
      "value": "arbre",
      "confidence": "0.9148377776145935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97976644f2bf4e769c48b806373b4420",
      "value": "ville",
      "confidence": "0.9028416872024536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f992f02808c5459baa6bc08264651810",
      "value": "architecture",
      "confidence": "0.6487290859222412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7122bb18a68743e28ddbb8c04c23a779",
      "value": "hiver",
      "confidence": "0.5869483351707458"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>You build! We sell and take your money...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>You build ! we sell and take your money...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a large industrial building with the 'YouBuild' logo and 'Building Materials' written in red on the facade. The building appears to be a warehouse for construction materials. Pallets and materials can be seen stacked outside. In the background, there are taller buildings, suggesting an urban environment. The image was taken in Brussels, Belgium."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un grand bâtiment industriel avec le logo 'YouBuild' et 'Building Materials' écrit en rouge sur la façade. Le bâtiment semble être un entrepôt de matériaux de construction. On peut voir des palettes et des matériaux empilés à l'extérieur. En arrière-plan, il y a des bâtiments plus hauts, suggérant un environnement urbain. L'image a été prise à Bruxelles, Belgique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#YouBuild #BuildingMaterials #Warehouse #Bruxelles #Belgique #Urban]]></Value>
      <Value Culture="fr"><![CDATA[#bâtiment #entrepôt #matériauxdeconstruction #Bruxelles #Belgique #urbain]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "9c84d61d-2120-4799-a343-3d89928a06b5",
    "mediaKey": "6e133e35-f97e-4c57-9a13-5c4a528bcc41"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez 'YouBuild', votre destination ultime pour tous vos besoins en matériaux de construction.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Grand Magasin de Bricolage à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[DIY Superstore in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Grand Magasin de Bricolage à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/brico-shop-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/brico-shop-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "building",
  "warehouse",
  "construction materials",
  "Brussels",
  "Belgium",
  "urban"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bâtiment",
  "entrepôt",
  "matériaux de construction",
  "Bruxelles",
  "Belgique",
  "urbain"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez 'YouBuild', votre destination ultime pour tous vos besoins en matériaux de construction.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[DIY Superstore in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Grand Magasin de Bricolage à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>