<?xml version="1.0" encoding="utf-8"?>
<Content Key="f88a2298-e586-402e-855c-a4089a75ce8f" Alias="He Coco !" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/HeCoco</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T19:47:10</CreateDate>
    <NodeName Default="He Coco !">
      <Name Culture="en">Hey Coco!</Name>
      <Name Culture="fr">He Coco !</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/064d76c41fdc4636ab188a3e005b03ba"
      },
      {
        "contentUdi": "umb://element/a48e11d1dadb406ca11c26e334227933"
      },
      {
        "contentUdi": "umb://element/0b888312c20d4723929224a266490dcf"
      },
      {
        "contentUdi": "umb://element/e89ce80702364e4ea88961d8868d4236"
      },
      {
        "contentUdi": "umb://element/49d795970ced42b88e2d7ecaff058254"
      },
      {
        "contentUdi": "umb://element/5e9c0adb848e4ffc9bafaabc015087d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/064d76c41fdc4636ab188a3e005b03ba",
      "value": "animal",
      "confidence": "0.9996769428253174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a48e11d1dadb406ca11c26e334227933",
      "value": "oiseau",
      "confidence": "0.9995140433311462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b888312c20d4723929224a266490dcf",
      "value": "perroquet",
      "confidence": "0.9954557418823242"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e89ce80702364e4ea88961d8868d4236",
      "value": "plein air",
      "confidence": "0.8745390772819519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49d795970ced42b88e2d7ecaff058254",
      "value": "branche",
      "confidence": "0.6682806015014648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e9c0adb848e4ffc9bafaabc015087d0",
      "value": "rouge",
      "confidence": "0.6154688000679016"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/064d76c41fdc4636ab188a3e005b03ba"
      },
      {
        "contentUdi": "umb://element/a48e11d1dadb406ca11c26e334227933"
      },
      {
        "contentUdi": "umb://element/0b888312c20d4723929224a266490dcf"
      },
      {
        "contentUdi": "umb://element/e89ce80702364e4ea88961d8868d4236"
      },
      {
        "contentUdi": "umb://element/49d795970ced42b88e2d7ecaff058254"
      },
      {
        "contentUdi": "umb://element/5e9c0adb848e4ffc9bafaabc015087d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/064d76c41fdc4636ab188a3e005b03ba",
      "value": "animal",
      "confidence": "0.9996769428253174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a48e11d1dadb406ca11c26e334227933",
      "value": "oiseau",
      "confidence": "0.9995140433311462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b888312c20d4723929224a266490dcf",
      "value": "perroquet",
      "confidence": "0.9954557418823242"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e89ce80702364e4ea88961d8868d4236",
      "value": "plein air",
      "confidence": "0.8745390772819519"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49d795970ced42b88e2d7ecaff058254",
      "value": "branche",
      "confidence": "0.6682806015014648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e9c0adb848e4ffc9bafaabc015087d0",
      "value": "rouge",
      "confidence": "0.6154688000679016"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A grey parrot with a red tail from the crocodile farm</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un perroquet gris à queue rouge de la ferme des crocodiles</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a parrot perched on a branch in what appears to be an aviary or bird sanctuary in Bangkok, Thailand. The parrot has predominantly grey feathers with a striking red tail. It is seen grooming itself, using its beak to clean its claws. The background is slightly blurred, showing a colorful and well-lit environment with more branches and possibly other birds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un perroquet gris avec des plumes rouges sur la queue, perché sur une branche dans un environnement de type volière. L'oiseau semble être en train de se gratter la tête avec sa patte. En arrière-plan, on peut voir des structures en bois et un filet de protection, ainsi que des couleurs floues suggérant un environnement extérieur."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#parrot #bird #aviary #sanctuary #Bangkok #Thailand #wildlife #nature]]></Value>
      <Value Culture="fr"><![CDATA[#perroquet #oiseau #volière #Bangkok #Thaïlande #nature]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "e1400cee-d73a-48c7-8918-3e3c76c4b50e",
    "mediaKey": "74cf6b56-77da-4a9b-95e3-e7ac9009864e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le perroquet gris à queue rouge de la ferme des crocodiles, perché et se grattant la tête dans une volière.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le perroquet gris à queue rouge de la ferme des crocodiles, perché et se grattant la tête dans une volière.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Hey Coco! The parrot from the crocodile farm]]></Value>
      <Value Culture="fr"><![CDATA[Hey Coco! - Un perroquet gris à queue rouge]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/coco-where-are-you--crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/coco-where-are-you--crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "parrot",
  "bird",
  "aviary",
  "sanctuary",
  "Bangkok",
  "Thailand",
  "grey feathers",
  "red tail"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "perroquet",
  "oiseau",
  "volière",
  "branche",
  "plumes",
  "environnement extérieur"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le perroquet gris à queue rouge de la ferme des crocodiles, perché et se grattant la tête dans une volière.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Hey Coco! The parrot from the crocodile farm]]></Value>
      <Value Culture="fr"><![CDATA[Hey Coco! - Un perroquet gris à queue rouge]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>