<?xml version="1.0" encoding="utf-8"?>
<Content Key="69f18e33-1499-4c14-b008-7fbb0633ec58" Alias="Header" Level="5">
  <Info>
    <Parent Key="f3843d25-ab5d-44d4-8e0b-9e3753cb688e">Generic</Parent>
    <Path>/Waaw/Data/Cards/Generic/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>headerRollup</ContentType>
    <CreateDate>2025-08-20T12:46:58</CreateDate>
    <NodeName Default="Header">
      <Name Culture="fr">Header</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "750814f0-acad-44c9-a31a-6ddd4691c5a6",
    "mediaKey": "b767d10e-925c-4f9c-81f1-5269772c39e6"
  }
]]]></Value>
    </image>
    <items>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/757f6f98a54a4790986ab42f5f0ffaa1"
      },
      {
        "contentUdi": "umb://element/ab2ad139e9b0411981c5c5fde745687c"
      },
      {
        "contentUdi": "umb://element/114810c563954a57bab12819891ebcdf"
      },
      {
        "contentUdi": "umb://element/e17254e211464d48a2c0232e7492e07b"
      },
      {
        "contentUdi": "umb://element/0dba37e2c11f474683e6996beaab3e80"
      },
      {
        "contentUdi": "umb://element/ea3bf7941e4649afa9275d62efa6a0d3"
      },
      {
        "contentUdi": "umb://element/82fa12247b6149f683fb4a48964cb450"
      },
      {
        "contentUdi": "umb://element/08232a0d0ec34765ae7a63213e298284"
      },
      {
        "contentUdi": "umb://element/77dbd7c5112643cbb9f6be5dd292fd76"
      },
      {
        "contentUdi": "umb://element/6c687b626ad44e92a19f33c9e188ddb6"
      },
      {
        "contentUdi": "umb://element/32b756c7ae384d28bc1f5802b511aa00"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/757f6f98a54a4790986ab42f5f0ffaa1",
      "item": {
        "markup": "<p>«Du Sénégal à votre cœur,<br>des créations qui changent le monde.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/ab2ad139e9b0411981c5c5fde745687c",
      "item": {
        "markup": "<p>«Chaque achat, un geste pour la planète.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/114810c563954a57bab12819891ebcdf",
      "item": {
        "markup": "<p>«La beauté qui dure, pour un monde qui perdure.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/e17254e211464d48a2c0232e7492e07b",
      "item": {
        "markup": "<p>«Mode &amp; artisanat : le futur se porte aujourd’hui.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/0dba37e2c11f474683e6996beaab3e80",
      "item": {
        "markup": "<p>Vos bijoux écrivent des histoires...<br>et changent des vies.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/ea3bf7941e4649afa9275d62efa6a0d3",
      "item": {
        "markup": "<p>«Quand vous portez l’art, vous soutenez l’artiste.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/82fa12247b6149f683fb4a48964cb450",
      "item": {
        "markup": "<p>«Offrez plus qu’un objet : offrez un avenir.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/08232a0d0ec34765ae7a63213e298284",
      "item": {
        "markup": "<p>«Du fait-main, fait avec amour,<br>pour un monde meilleur.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/77dbd7c5112643cbb9f6be5dd292fd76",
      "item": {
        "markup": "<p>«Chaque pièce est unique… comme vous.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/6c687b626ad44e92a19f33c9e188ddb6",
      "item": {
        "markup": "<p>«Pas de production de masse,<br>juste de la passion.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "539ab361-e60b-480a-b3ff-f4eadd6481c0",
      "udi": "umb://element/32b756c7ae384d28bc1f5802b511aa00",
      "item": {
        "markup": "<p>«Des matières nobles,<br>des gestes ancestraux, un style éternel.»</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </items>
  </Properties>
</Content>