<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ea1bfb0-8ba7-42b9-b4d3-60dc861e6d2f" Alias="Ho j'ai un petit coup de chaud !" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/HoJaiUnPetitCoupDeChaud</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Ho j'ai un petit coup de chaud !">
      <Name Culture="en">Wow, I'm feeling a bit hot!</Name>
      <Name Culture="fr">Ho j'ai un petit coup de chaud !</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/126914e10885435f8725695c2328ade5"
      },
      {
        "contentUdi": "umb://element/f66178b4cea748f8bcef38a12e9f74f0"
      },
      {
        "contentUdi": "umb://element/6eba78ebb5554931bcd5fe7858d2c4e8"
      },
      {
        "contentUdi": "umb://element/7ddd48d88770410bb0ece25fcab059ee"
      },
      {
        "contentUdi": "umb://element/3a734e705aec4b4a8f75aa54fb024572"
      },
      {
        "contentUdi": "umb://element/ecd38b559e05410ea6b40a9fefbf5370"
      },
      {
        "contentUdi": "umb://element/0f56676836a6472e942219be8eb23b57"
      },
      {
        "contentUdi": "umb://element/ccc8b10fd98b4ec1996e776e7c7d5a77"
      },
      {
        "contentUdi": "umb://element/66f6b2958acb4c7ab5aa4c5f2b7f7400"
      },
      {
        "contentUdi": "umb://element/25b4331e868d4c738b31056180fddf22"
      },
      {
        "contentUdi": "umb://element/5131313b5b5b421791efbda7052b0d9d"
      },
      {
        "contentUdi": "umb://element/6d69578e63a047b28475246adee8ac4b"
      },
      {
        "contentUdi": "umb://element/642a0ab01caa4852bbeb63fbfc494b7b"
      },
      {
        "contentUdi": "umb://element/acf0b8c390b347d8b4938122a41da71e"
      },
      {
        "contentUdi": "umb://element/2d1cdcc360e945248af9cb24da8840b3"
      },
      {
        "contentUdi": "umb://element/4d3f083445524d9e8c04bbd959f12e25"
      },
      {
        "contentUdi": "umb://element/54909ddadeba43d496429ca69323e136"
      },
      {
        "contentUdi": "umb://element/0687d650edbb41b39a6907e8a9a9d63d"
      },
      {
        "contentUdi": "umb://element/2aa836195074450692ba5ba5946bc242"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/126914e10885435f8725695c2328ade5",
      "value": "Véhicule terrestre",
      "confidence": "0.9989198446273804"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f66178b4cea748f8bcef38a12e9f74f0",
      "value": "plein air",
      "confidence": "0.998885452747345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6eba78ebb5554931bcd5fe7858d2c4e8",
      "value": "roue",
      "confidence": "0.9981964826583862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ddd48d88770410bb0ece25fcab059ee",
      "value": "véhicule",
      "confidence": "0.9981797933578491"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a734e705aec4b4a8f75aa54fb024572",
      "value": "pneu",
      "confidence": "0.9850950241088867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ecd38b559e05410ea6b40a9fefbf5370",
      "value": "habits",
      "confidence": "0.9791770577430725"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f56676836a6472e942219be8eb23b57",
      "value": "motocyclette",
      "confidence": "0.9734148979187012"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ccc8b10fd98b4ec1996e776e7c7d5a77",
      "value": "route",
      "confidence": "0.965591549873352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66f6b2958acb4c7ab5aa4c5f2b7f7400",
      "value": "voiture",
      "confidence": "0.9598352313041687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25b4331e868d4c738b31056180fddf22",
      "value": "rue",
      "confidence": "0.9479660391807556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5131313b5b5b421791efbda7052b0d9d",
      "value": "personne",
      "confidence": "0.9446284770965576"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d69578e63a047b28475246adee8ac4b",
      "value": "Pièce auto",
      "confidence": "0.9234497547149658"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/642a0ab01caa4852bbeb63fbfc494b7b",
      "value": "Cyclomoteur",
      "confidence": "0.86692875623703"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/acf0b8c390b347d8b4938122a41da71e",
      "value": "femme",
      "confidence": "0.8549048900604248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d1cdcc360e945248af9cb24da8840b3",
      "value": "scooter",
      "confidence": "0.8456674814224243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d3f083445524d9e8c04bbd959f12e25",
      "value": "parapluie",
      "confidence": "0.8445382118225098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54909ddadeba43d496429ca69323e136",
      "value": "sol",
      "confidence": "0.8002274036407471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0687d650edbb41b39a6907e8a9a9d63d",
      "value": "moto",
      "confidence": "0.7200719714164734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2aa836195074450692ba5ba5946bc242",
      "value": "ville",
      "confidence": "0.560874879360199"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e19beba4886f492b8aceb4e152e98304"
      },
      {
        "contentUdi": "umb://element/c7478a53225045b880518d4c9f9dbbe9"
      },
      {
        "contentUdi": "umb://element/f8daac16e1014bb5920ec8dc1840d416"
      },
      {
        "contentUdi": "umb://element/3f6e605d13104a2ba88381bb8fc41585"
      },
      {
        "contentUdi": "umb://element/e096dd652c2540c190b9a25491269b73"
      },
      {
        "contentUdi": "umb://element/9c99c1d107c4468dae009fa88e7d9992"
      },
      {
        "contentUdi": "umb://element/8bbab380fcf249d5af74c42987badd53"
      },
      {
        "contentUdi": "umb://element/c459616b61b1408f82a36e5cf59bbe69"
      },
      {
        "contentUdi": "umb://element/22b91716646c4c78874b577e5f16a5a5"
      },
      {
        "contentUdi": "umb://element/414b126c1f8442769a810655bff48b1d"
      },
      {
        "contentUdi": "umb://element/297d060ba54449389e32e1062d43bfe6"
      },
      {
        "contentUdi": "umb://element/beaea54021244f1ab1bb271d07d82208"
      },
      {
        "contentUdi": "umb://element/37df999613784a28922e2d54b7941cb5"
      },
      {
        "contentUdi": "umb://element/62cb0ecef13b49b3bf31421d61a00bf4"
      },
      {
        "contentUdi": "umb://element/1bafbae1ceed4c2490c0887b884d9ca4"
      },
      {
        "contentUdi": "umb://element/493e70f7d5034e69a410b7e0f94cd1ee"
      },
      {
        "contentUdi": "umb://element/619198625d854408bcc64ab4f7acb1b4"
      },
      {
        "contentUdi": "umb://element/e8c3d374f6e04c32b7764abe1299946a"
      },
      {
        "contentUdi": "umb://element/395849e2ff9b47d88ca580d6d2115182"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e19beba4886f492b8aceb4e152e98304",
      "value": "Véhicule terrestre",
      "confidence": "0.9989198446273804"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c7478a53225045b880518d4c9f9dbbe9",
      "value": "plein air",
      "confidence": "0.998885452747345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8daac16e1014bb5920ec8dc1840d416",
      "value": "roue",
      "confidence": "0.9981964826583862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f6e605d13104a2ba88381bb8fc41585",
      "value": "véhicule",
      "confidence": "0.9981797933578491"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e096dd652c2540c190b9a25491269b73",
      "value": "pneu",
      "confidence": "0.9850950241088867"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9c99c1d107c4468dae009fa88e7d9992",
      "value": "habits",
      "confidence": "0.9791770577430725"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8bbab380fcf249d5af74c42987badd53",
      "value": "motocyclette",
      "confidence": "0.9734148979187012"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c459616b61b1408f82a36e5cf59bbe69",
      "value": "route",
      "confidence": "0.965591549873352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22b91716646c4c78874b577e5f16a5a5",
      "value": "voiture",
      "confidence": "0.9598352313041687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/414b126c1f8442769a810655bff48b1d",
      "value": "rue",
      "confidence": "0.9479660391807556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/297d060ba54449389e32e1062d43bfe6",
      "value": "personne",
      "confidence": "0.9446284770965576"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/beaea54021244f1ab1bb271d07d82208",
      "value": "Pièce auto",
      "confidence": "0.9234497547149658"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37df999613784a28922e2d54b7941cb5",
      "value": "Cyclomoteur",
      "confidence": "0.86692875623703"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/62cb0ecef13b49b3bf31421d61a00bf4",
      "value": "femme",
      "confidence": "0.8549048900604248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bafbae1ceed4c2490c0887b884d9ca4",
      "value": "scooter",
      "confidence": "0.8456674814224243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/493e70f7d5034e69a410b7e0f94cd1ee",
      "value": "parapluie",
      "confidence": "0.8445382118225098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/619198625d854408bcc64ab4f7acb1b4",
      "value": "sol",
      "confidence": "0.8002274036407471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8c3d374f6e04c32b7764abe1299946a",
      "value": "moto",
      "confidence": "0.7200719714164734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/395849e2ff9b47d88ca580d6d2115182",
      "value": "ville",
      "confidence": "0.560874879360199"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Embarrassment won't kill you, even in the middle of the street. The sun, on the other hand, might!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le ridicule ne tue pas, même en pleine rue. Le soleil par contre !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a person sitting on a red Yamaha motorcycle, holding a yellow umbrella with colorful patterns. The person is wearing sunglasses and seems to be talking or eating something. The scene takes place at a street intersection in Sukhothai, with cars and buildings in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une personne assise sur une moto rouge de marque Yamaha, tenant un parapluie jaune avec des motifs colorés. La personne porte des lunettes de soleil et semble être en train de parler ou de manger quelque chose. La scène se déroule à une intersection de rue à Sukhothai, avec des voitures et des bâtiments en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#motorbike #Yamaha #Sukhothai #urbanlife #streetview]]></Value>
      <Value Culture="fr"><![CDATA[#moto #parapluie #Sukhothai #rue #voyage #Thaïlande]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "984d7739-3b5d-4e9a-90fe-cc4453533e51",
    "mediaKey": "cab74766-b806-4e62-a676-56092d8b6be5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le ridicule ne tue pas, même en pleine rue. Le soleil par contre !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le ridicule ne tue pas, même en pleine rue. Le soleil par contre !]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A Colorful Umbrella Under the Sukhothai Sun]]></Value>
      <Value Culture="fr"><![CDATA[Un Parapluie Sous le Soleil de Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/im-hot-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/im-hot-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "motorcycle",
  "umbrella",
  "Sukhothai",
  "street",
  "vehicles",
  "buildings"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "moto",
  "parapluie",
  "Sukhothai",
  "rue",
  "véhicules",
  "bâtiments"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le ridicule ne tue pas, même en pleine rue. Le soleil par contre !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A Colorful Umbrella Under the Sukhothai Sun]]></Value>
      <Value Culture="fr"><![CDATA[Un Parapluie Sous le Soleil de Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>