<?xml version="1.0" encoding="utf-8"?>
<Content Key="25004b6f-27b4-425f-b240-f486f7db4f62" Alias="Home page" Level="4">
  <Info>
    <Parent Key="913b04e9-d0b8-4b44-9d72-2baa6efb8420">Cards</Parent>
    <Path>/Waaw/Data/Cards/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>cardFolder</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Home page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>