<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6021c1c-19df-40ab-bf6c-530fb7c3c548" Alias="I eat fries" Level="7">
  <Info>
    <Parent Key="88deeb96-7ce1-4b5b-b3e1-97cd1b8e0879">Street life</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/StreetLife/IEatFries</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-16T11:48:17</CreateDate>
    <NodeName Default="I eat fries">
      <Name Culture="en">I eat fries</Name>
      <Name Culture="fr">Moi je mange des frites</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1963b0bc2be5412f882b92714ccb30c9"
      },
      {
        "contentUdi": "umb://element/b51bece6bd3d47d0aefbc7459d13ab41"
      },
      {
        "contentUdi": "umb://element/92a1783685de4991b90b4ebf96de71ca"
      },
      {
        "contentUdi": "umb://element/38c90011b9374afd912245a6e7cfb4f6"
      },
      {
        "contentUdi": "umb://element/1262d12b556d4c4a91e47a7c25ed7e22"
      },
      {
        "contentUdi": "umb://element/7575535e503d43719082a5002d7caddf"
      },
      {
        "contentUdi": "umb://element/dd560a202b494df2a6582734939a5caa"
      },
      {
        "contentUdi": "umb://element/263ca3d613f64ee1bab26d8b8237da24"
      },
      {
        "contentUdi": "umb://element/0b52c038bb254699a5798507d340c7a3"
      },
      {
        "contentUdi": "umb://element/0d19f50d021241e3a27198f32e5b9a55"
      },
      {
        "contentUdi": "umb://element/383bdcb9dfa04cf5b86c4a8ced66b5bb"
      },
      {
        "contentUdi": "umb://element/808a083ff53144328673a7420ef33447"
      },
      {
        "contentUdi": "umb://element/d38e4cdb2e9549ee925a03b1083588d1"
      },
      {
        "contentUdi": "umb://element/eacea9316ae0450280e83599c0c71c1d"
      },
      {
        "contentUdi": "umb://element/647cd1ea67634f1996eb52989552227f"
      },
      {
        "contentUdi": "umb://element/913a9a41ffa24bf6b24dc9391390c878"
      },
      {
        "contentUdi": "umb://element/d6fe6facfeba408fb0b62c02892cb104"
      },
      {
        "contentUdi": "umb://element/2883ed6f5ae7473086f54692c0719065"
      },
      {
        "contentUdi": "umb://element/f0e1c0df33c74beca6d7ace4c87a7fbf"
      },
      {
        "contentUdi": "umb://element/ca62cb2f609c4697913c8dfd39c45726"
      },
      {
        "contentUdi": "umb://element/b365244ac75b4c7d821705f68b99eb45"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1963b0bc2be5412f882b92714ccb30c9",
      "value": "habits",
      "confidence": "0.9950063228607178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b51bece6bd3d47d0aefbc7459d13ab41",
      "value": "plein air",
      "confidence": "0.9791337847709656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92a1783685de4991b90b4ebf96de71ca",
      "value": "meubles",
      "confidence": "0.975469708442688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38c90011b9374afd912245a6e7cfb4f6",
      "value": "personne",
      "confidence": "0.9743564128875732"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1262d12b556d4c4a91e47a7c25ed7e22",
      "value": "homme",
      "confidence": "0.9699468612670898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7575535e503d43719082a5002d7caddf",
      "value": "personnes",
      "confidence": "0.9560643434524536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd560a202b494df2a6582734939a5caa",
      "value": "chaussures",
      "confidence": "0.952419638633728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/263ca3d613f64ee1bab26d8b8237da24",
      "value": "bâtiment",
      "confidence": "0.9343297481536865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b52c038bb254699a5798507d340c7a3",
      "value": "s’asseoir",
      "confidence": "0.9029527306556702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d19f50d021241e3a27198f32e5b9a55",
      "value": "plante",
      "confidence": "0.8738367557525635"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/383bdcb9dfa04cf5b86c4a8ced66b5bb",
      "value": "rue",
      "confidence": "0.8636437654495239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/808a083ff53144328673a7420ef33447",
      "value": "Table d’extérieur",
      "confidence": "0.8579171895980835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d38e4cdb2e9549ee925a03b1083588d1",
      "value": "table",
      "confidence": "0.8523030281066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eacea9316ae0450280e83599c0c71c1d",
      "value": "femme",
      "confidence": "0.8500329852104187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/647cd1ea67634f1996eb52989552227f",
      "value": "groupe",
      "confidence": "0.8315237760543823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/913a9a41ffa24bf6b24dc9391390c878",
      "value": "sol",
      "confidence": "0.8225561380386353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6fe6facfeba408fb0b62c02892cb104",
      "value": "chaise",
      "confidence": "0.7750198841094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2883ed6f5ae7473086f54692c0719065",
      "value": "trottoir",
      "confidence": "0.5524570941925049"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0e1c0df33c74beca6d7ace4c87a7fbf",
      "value": "marché",
      "confidence": "0.5297228693962097"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca62cb2f609c4697913c8dfd39c45726",
      "value": "ville",
      "confidence": "0.46089664101600647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b365244ac75b4c7d821705f68b99eb45",
      "value": "restaurant",
      "confidence": "0.4248376786708832"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1963b0bc2be5412f882b92714ccb30c9"
      },
      {
        "contentUdi": "umb://element/b51bece6bd3d47d0aefbc7459d13ab41"
      },
      {
        "contentUdi": "umb://element/92a1783685de4991b90b4ebf96de71ca"
      },
      {
        "contentUdi": "umb://element/38c90011b9374afd912245a6e7cfb4f6"
      },
      {
        "contentUdi": "umb://element/1262d12b556d4c4a91e47a7c25ed7e22"
      },
      {
        "contentUdi": "umb://element/7575535e503d43719082a5002d7caddf"
      },
      {
        "contentUdi": "umb://element/dd560a202b494df2a6582734939a5caa"
      },
      {
        "contentUdi": "umb://element/263ca3d613f64ee1bab26d8b8237da24"
      },
      {
        "contentUdi": "umb://element/0b52c038bb254699a5798507d340c7a3"
      },
      {
        "contentUdi": "umb://element/0d19f50d021241e3a27198f32e5b9a55"
      },
      {
        "contentUdi": "umb://element/383bdcb9dfa04cf5b86c4a8ced66b5bb"
      },
      {
        "contentUdi": "umb://element/808a083ff53144328673a7420ef33447"
      },
      {
        "contentUdi": "umb://element/d38e4cdb2e9549ee925a03b1083588d1"
      },
      {
        "contentUdi": "umb://element/eacea9316ae0450280e83599c0c71c1d"
      },
      {
        "contentUdi": "umb://element/647cd1ea67634f1996eb52989552227f"
      },
      {
        "contentUdi": "umb://element/913a9a41ffa24bf6b24dc9391390c878"
      },
      {
        "contentUdi": "umb://element/d6fe6facfeba408fb0b62c02892cb104"
      },
      {
        "contentUdi": "umb://element/2883ed6f5ae7473086f54692c0719065"
      },
      {
        "contentUdi": "umb://element/f0e1c0df33c74beca6d7ace4c87a7fbf"
      },
      {
        "contentUdi": "umb://element/ca62cb2f609c4697913c8dfd39c45726"
      },
      {
        "contentUdi": "umb://element/b365244ac75b4c7d821705f68b99eb45"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1963b0bc2be5412f882b92714ccb30c9",
      "value": "habits",
      "confidence": "0.9950063228607178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b51bece6bd3d47d0aefbc7459d13ab41",
      "value": "plein air",
      "confidence": "0.9791337847709656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92a1783685de4991b90b4ebf96de71ca",
      "value": "meubles",
      "confidence": "0.975469708442688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38c90011b9374afd912245a6e7cfb4f6",
      "value": "personne",
      "confidence": "0.9743564128875732"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1262d12b556d4c4a91e47a7c25ed7e22",
      "value": "homme",
      "confidence": "0.9699468612670898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7575535e503d43719082a5002d7caddf",
      "value": "personnes",
      "confidence": "0.9560643434524536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd560a202b494df2a6582734939a5caa",
      "value": "chaussures",
      "confidence": "0.952419638633728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/263ca3d613f64ee1bab26d8b8237da24",
      "value": "bâtiment",
      "confidence": "0.9343297481536865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b52c038bb254699a5798507d340c7a3",
      "value": "s’asseoir",
      "confidence": "0.9029527306556702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d19f50d021241e3a27198f32e5b9a55",
      "value": "plante",
      "confidence": "0.8738367557525635"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/383bdcb9dfa04cf5b86c4a8ced66b5bb",
      "value": "rue",
      "confidence": "0.8636437654495239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/808a083ff53144328673a7420ef33447",
      "value": "Table d’extérieur",
      "confidence": "0.8579171895980835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d38e4cdb2e9549ee925a03b1083588d1",
      "value": "table",
      "confidence": "0.8523030281066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eacea9316ae0450280e83599c0c71c1d",
      "value": "femme",
      "confidence": "0.8500329852104187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/647cd1ea67634f1996eb52989552227f",
      "value": "groupe",
      "confidence": "0.8315237760543823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/913a9a41ffa24bf6b24dc9391390c878",
      "value": "sol",
      "confidence": "0.8225561380386353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6fe6facfeba408fb0b62c02892cb104",
      "value": "chaise",
      "confidence": "0.7750198841094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2883ed6f5ae7473086f54692c0719065",
      "value": "trottoir",
      "confidence": "0.5524570941925049"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0e1c0df33c74beca6d7ace4c87a7fbf",
      "value": "marché",
      "confidence": "0.5297228693962097"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca62cb2f609c4697913c8dfd39c45726",
      "value": "ville",
      "confidence": "0.46089664101600647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b365244ac75b4c7d821705f68b99eb45",
      "value": "restaurant",
      "confidence": "0.4248376786708832"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>City center terrace of a fries vendor where everyone is eating fries</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Terrasse du centre ville d'un marchand de frites où tout le monde mange de la frite</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a café terrace in Brussels, Belgium, where several people are sitting at tables chatting and eating. The chairs are wicker and the tables are wooden. A waiter is serving fries to a table. In the background, you can see passersby and a busy street with cars and bicycles."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une terrasse de café à Bruxelles, Belgique, où plusieurs personnes sont assises à des tables en train de discuter et de manger. Les chaises sont en osier et les tables en bois. Un serveur est en train de servir des frites à une table. En arrière-plan, on peut voir des passants et une rue animée avec des voitures et des vélos."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #CafeLife #OutdoorSeating #CityLife #FoodAndDrinks #UrbanScene]]></Value>
      <Value Culture="fr"><![CDATA[#terrasse #café #Bruxelles #Belgique #discussion #manger #serveur #frites #rueanimée]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "5f5d18c7-092f-498c-8a15-41ad5c365385",
    "mediaKey": "33109c87-6ab8-4bcb-969c-b84f1cadb68f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un coin animé de Bruxelles où les frites sont à l'honneur.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Belgian Delight on the Terrace]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/french-fries-eaters-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/french-fries-eaters-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "terrace",
  "café",
  "Brussels",
  "Belgium",
  "people",
  "chatting",
  "eating",
  "waiter",
  "fries",
  "street",
  "passersby"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "terrasse",
  "café",
  "Bruxelles",
  "Belgique",
  "gens",
  "discussion",
  "manger",
  "serveur",
  "frites",
  "rue",
  "passants"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un coin animé de Bruxelles où les frites sont à l'honneur.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Belgian Delight on the Terrace]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>