<?xml version="1.0" encoding="utf-8"?>
<Content Key="3044a98b-c5c0-4da4-985a-9bade1135d47" Alias="Impression sur bois" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ImpressionSurBois</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Impression sur bois">
      <Name Culture="en">Wood Print</Name>
      <Name Culture="fr">Impression sur bois</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bring your artwork to life with the texture and added depth of a wood print. Your image is printed directly onto a 3/4\" thick maple wood sheet. There are D-clips on the back of the print for mounting it on your wall using mounting hooks and nails (included).</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Donnez vie à vos œuvres d’art avec la texture et la profondeur supplémentaire d’une impression sur bois. Votre image est imprimée directement sur une feuille de bois d'érable de 3/4\" d'épaisseur. Il y a des clips en D au dos de l'impression pour la monter sur votre mur à l'aide de crochets de montage et de clous (inclus).</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[wood-print]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[34]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TWOOD]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Impression sur bois]]></Value>
      <Value Culture="fr"><![CDATA[Impression sur bois]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>