<?xml version="1.0" encoding="utf-8"?>
<Content Key="c527e8aa-bf1f-48ff-8c5c-5b0b98aab0e6" Alias="Impression sur métal" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ImpressionSurMetal</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Impression sur métal">
      <Name Culture="en">Metal Print</Name>
      <Name Culture="fr">Impression sur métal</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bring your artwork to life with the sleek lines and added depth of a metal print. Your image is printed directly onto a 1/16\" thick sheet of aluminum. The aluminum sheet is offset from the wall by a 3/4\" thick wooden frame that is attached to the back. The high gloss of the aluminum sheet enhances the rich colors of any image to produce stunning results.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Donnez vie à vos œuvres d'art avec les lignes élégantes et la profondeur supplémentaire d'une impression métallique. Votre image est imprimée directement sur une feuille d'aluminium de 1/16\" d'épaisseur. La feuille d'aluminium est décalée du mur par un cadre en bois de 3/4\" d'épaisseur qui est fixé au dos. La haute brillance de la feuille d'aluminium complète les riches couleurs de n'importe quelle image pour produire des résultats époustouflants.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[metal]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[51]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TMETAL]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Impression sur métal]]></Value>
      <Value Culture="fr"><![CDATA[Impression sur métal]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>