<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a2bbf16-30cc-4d17-bed2-7d7a39fde5ce" Alias="Impression sur bois" Level="4">
  <Info>
    <Parent Key="a7f86834-789d-423a-bacb-568c6115a2c0">Products</Parent>
    <Path>/Crolow/Data/Products/ImpressionSurBois</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-29T21:55:52</CreateDate>
    <NodeName Default="Impression sur bois">
      <Name Culture="en">Wood Print</Name>
      <Name Culture="fr">Impression sur bois</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bring your artwork to life with the texture and added depth of a wood print. Your image is printed directly onto a 3/4\" thick maple wood sheet. There are D-clips on the back of the print for mounting it on your wall using mounting hooks and nails (included).</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Donnez vie à vos œuvres d’art avec la texture et la profondeur supplémentaire d’une impression sur bois. Votre image est imprimée directement sur une feuille de bois d'érable de 3/4\" d'épaisseur. Il y a des clips en D au dos de l'impression pour la monter sur votre mur à l'aide de crochets de montage et de clous (inclus).</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[wood-print]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[34]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TWOOD]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Impression sur bois]]></Value>
      <Value Culture="fr"><![CDATA[Impression sur bois]]></Value>
    </productName>
  </Properties>
</Content>