<?xml version="1.0" encoding="utf-8"?>
<Content Key="339c29d4-05e7-4c18-9fa9-6e30babc854e" Alias="Inconsolables!" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/Inconsolables</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T18:47:36</CreateDate>
    <NodeName Default="Inconsolables!">
      <Name Culture="en">Inconsolables!</Name>
      <Name Culture="fr">Inconsolables!</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1e59036b1934f71bd0c76a589289243"
      },
      {
        "contentUdi": "umb://element/1bfaecf5444b4fba86dedda1befa6198"
      },
      {
        "contentUdi": "umb://element/0059bcde442a4fb8a864810cf576c676"
      },
      {
        "contentUdi": "umb://element/ed0d28274c854fda8ee6b57a107bafc3"
      },
      {
        "contentUdi": "umb://element/c23090d45ea24922a7fb9cbcb2b25a65"
      },
      {
        "contentUdi": "umb://element/3f9bd8a02f6e4703966530f92d836313"
      },
      {
        "contentUdi": "umb://element/59788564b18148cb867f2ddbfc390e34"
      },
      {
        "contentUdi": "umb://element/ef85ebe90b714c10a416af7a2dce2438"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1e59036b1934f71bd0c76a589289243",
      "value": "grave",
      "confidence": "0.9815567135810852"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bfaecf5444b4fba86dedda1befa6198",
      "value": "herbe",
      "confidence": "0.9599690437316895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0059bcde442a4fb8a864810cf576c676",
      "value": "plein air",
      "confidence": "0.9579612016677856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed0d28274c854fda8ee6b57a107bafc3",
      "value": "cimetière",
      "confidence": "0.9480285048484802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c23090d45ea24922a7fb9cbcb2b25a65",
      "value": "arbre",
      "confidence": "0.9380208849906921"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f9bd8a02f6e4703966530f92d836313",
      "value": "plante",
      "confidence": "0.9330391883850098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59788564b18148cb867f2ddbfc390e34",
      "value": "art",
      "confidence": "0.9057834148406982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef85ebe90b714c10a416af7a2dce2438",
      "value": "statue",
      "confidence": "0.8566306233406067"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1e59036b1934f71bd0c76a589289243"
      },
      {
        "contentUdi": "umb://element/1bfaecf5444b4fba86dedda1befa6198"
      },
      {
        "contentUdi": "umb://element/0059bcde442a4fb8a864810cf576c676"
      },
      {
        "contentUdi": "umb://element/ed0d28274c854fda8ee6b57a107bafc3"
      },
      {
        "contentUdi": "umb://element/c23090d45ea24922a7fb9cbcb2b25a65"
      },
      {
        "contentUdi": "umb://element/3f9bd8a02f6e4703966530f92d836313"
      },
      {
        "contentUdi": "umb://element/59788564b18148cb867f2ddbfc390e34"
      },
      {
        "contentUdi": "umb://element/ef85ebe90b714c10a416af7a2dce2438"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1e59036b1934f71bd0c76a589289243",
      "value": "grave",
      "confidence": "0.9815567135810852"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bfaecf5444b4fba86dedda1befa6198",
      "value": "herbe",
      "confidence": "0.9599690437316895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0059bcde442a4fb8a864810cf576c676",
      "value": "plein air",
      "confidence": "0.9579612016677856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed0d28274c854fda8ee6b57a107bafc3",
      "value": "cimetière",
      "confidence": "0.9480285048484802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c23090d45ea24922a7fb9cbcb2b25a65",
      "value": "arbre",
      "confidence": "0.9380208849906921"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f9bd8a02f6e4703966530f92d836313",
      "value": "plante",
      "confidence": "0.9330391883850098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59788564b18148cb867f2ddbfc390e34",
      "value": "art",
      "confidence": "0.9057834148406982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef85ebe90b714c10a416af7a2dce2438",
      "value": "statue",
      "confidence": "0.8566306233406067"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Weeping women of the Laeken Cemetery</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Femmes éplorées du cimetière de Laeken</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a cemetery in Brussels, Belgium. Several graves adorned with sculptures can be seen, with one in particular drawing attention. This grave is topped with a bronze statue depicting a mourning female figure, leaning and resting on the tombstone. The grave is made of red granite with a white cross engraved at the top. In the background, other graves and funerary monuments can be seen, surrounded by greenery and trees."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un cimetière à Bruxelles, Belgique. On y voit plusieurs tombes ornées de sculptures, dont une en particulier qui attire l'attention. Cette tombe est surmontée d'une statue en bronze représentant une figure féminine en deuil, penchée et appuyée sur la pierre tombale. La tombe est faite de granit rouge avec une croix blanche gravée au sommet. En arrière-plan, on aperçoit d'autres tombes et monuments funéraires, entourés de verdure et d'arbres."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#cemetery #Brussels #Belgium #tombstone #statue #mourning #greenery #monuments]]></Value>
      <Value Culture="fr"><![CDATA[#cimetière #Bruxelles #Belgique #sculptures #deuil #monumentsfunéraires]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "63f51d46-fac6-4388-9eab-74d7c9033546",
    "mediaKey": "357b1da7-03b9-4066-af03-dc3fd0b92434"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une statue en bronze d'une femme en deuil attire l'attention parmi les tombes ornées de sculptures.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Inconsolables au Cimetière de Laeken]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Inconsolables at Laeken Cemetery]]></Value>
      <Value Culture="fr"><![CDATA[Inconsolables au Cimetière de Laeken]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/royal-cemetery-of-laeken-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/royal-cemetery-of-laeken-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "cemetery",
  "graves",
  "sculptures",
  "statue",
  "mourning",
  "Brussels",
  "Belgium",
  "funerary monuments"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "cimetière",
  "tombes",
  "sculptures",
  "statue",
  "deuil",
  "Bruxelles",
  "Belgique",
  "monuments funéraires"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une statue en bronze d'une femme en deuil attire l'attention parmi les tombes ornées de sculptures.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Inconsolables at Laeken Cemetery]]></Value>
      <Value Culture="fr"><![CDATA[Inconsolables au Cimetière de Laeken]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>