<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d257cae-ec58-43c6-bcd9-682a3a9475dd" Alias="Introduction" Level="5">
  <Info>
    <Parent Key="c40945f8-9346-4f35-9124-03fbaffd9834">Page elements</Parent>
    <Path>/Waaw/Data/CustomComponents/PageElements/Introduction</Path>
    <Trashed>false</Trashed>
    <ContentType>pageElementComponent</ContentType>
    <CreateDate>2025-08-28T12:05:45</CreateDate>
    <NodeName Default="Introduction">
      <Name Culture="fr">Introduction</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <component>
      <Value><![CDATA[introduction]]></Value>
    </component>
    <customProperties>
      <Value Culture="fr"><![CDATA[]]></Value>
    </customProperties>
    <template>
      <Value><![CDATA[]]></Value>
    </template>
  </Properties>
</Content>