<?xml version="1.0" encoding="utf-8"?>
<Content Key="f100f644-c675-4d3a-8052-114b508edb73" Alias="J'ai perdu ma tête de stupa !" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/JaiPerduMaTeteDeStupa</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T18:14:38</CreateDate>
    <NodeName Default="J'ai perdu ma tête de stupa !">
      <Name Culture="en">I lost my stupa head!</Name>
      <Name Culture="fr">J'ai perdu ma tête de stupa !</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44418227ab564dd1a007fb7b19d8caf2"
      },
      {
        "contentUdi": "umb://element/b84708a9fd60445082f650f4a82b426e"
      },
      {
        "contentUdi": "umb://element/15fcb8d5104040e2ab91c994cf47edcd"
      },
      {
        "contentUdi": "umb://element/86bd4c1be80d437993bd4f5ca23c0b75"
      },
      {
        "contentUdi": "umb://element/3765f89686b840b6ad5c01b2e4d2b08d"
      },
      {
        "contentUdi": "umb://element/389d70b672734ea684d192b637caf175"
      },
      {
        "contentUdi": "umb://element/12f9fbfb263d4bd5bf68a2fc4b031c73"
      },
      {
        "contentUdi": "umb://element/58e284b02ae04c2e98980831e307a35c"
      },
      {
        "contentUdi": "umb://element/5a59e6ffe48c4e54a1bf754e715de457"
      },
      {
        "contentUdi": "umb://element/63374522d22840a7a044344959362e67"
      },
      {
        "contentUdi": "umb://element/1a12233c92d34a77a75320b1e97f346b"
      },
      {
        "contentUdi": "umb://element/6923c948ed3f4e85b656ca293d6c08ec"
      },
      {
        "contentUdi": "umb://element/562f63adfa944b07a93cd07659f07f4a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44418227ab564dd1a007fb7b19d8caf2",
      "value": "ciel",
      "confidence": "0.9976459741592407"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b84708a9fd60445082f650f4a82b426e",
      "value": "plein air",
      "confidence": "0.9933221340179443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15fcb8d5104040e2ab91c994cf47edcd",
      "value": "bâtiment",
      "confidence": "0.9901560544967651"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86bd4c1be80d437993bd4f5ca23c0b75",
      "value": "tour",
      "confidence": "0.939069390296936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3765f89686b840b6ad5c01b2e4d2b08d",
      "value": "repère",
      "confidence": "0.9390683770179749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/389d70b672734ea684d192b637caf175",
      "value": "architecture",
      "confidence": "0.8823640942573547"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12f9fbfb263d4bd5bf68a2fc4b031c73",
      "value": "Site historique",
      "confidence": "0.8760755658149719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58e284b02ae04c2e98980831e307a35c",
      "value": "Architecture médiévale",
      "confidence": "0.8650014400482178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a59e6ffe48c4e54a1bf754e715de457",
      "value": "église",
      "confidence": "0.8029346466064453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63374522d22840a7a044344959362e67",
      "value": "lieu de culte",
      "confidence": "0.7792048454284668"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a12233c92d34a77a75320b1e97f346b",
      "value": "grand",
      "confidence": "0.7313132882118225"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6923c948ed3f4e85b656ca293d6c08ec",
      "value": "temple",
      "confidence": "0.543641209602356"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/562f63adfa944b07a93cd07659f07f4a",
      "value": "ville",
      "confidence": "0.5324881672859192"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44418227ab564dd1a007fb7b19d8caf2"
      },
      {
        "contentUdi": "umb://element/b84708a9fd60445082f650f4a82b426e"
      },
      {
        "contentUdi": "umb://element/15fcb8d5104040e2ab91c994cf47edcd"
      },
      {
        "contentUdi": "umb://element/86bd4c1be80d437993bd4f5ca23c0b75"
      },
      {
        "contentUdi": "umb://element/3765f89686b840b6ad5c01b2e4d2b08d"
      },
      {
        "contentUdi": "umb://element/389d70b672734ea684d192b637caf175"
      },
      {
        "contentUdi": "umb://element/12f9fbfb263d4bd5bf68a2fc4b031c73"
      },
      {
        "contentUdi": "umb://element/58e284b02ae04c2e98980831e307a35c"
      },
      {
        "contentUdi": "umb://element/5a59e6ffe48c4e54a1bf754e715de457"
      },
      {
        "contentUdi": "umb://element/63374522d22840a7a044344959362e67"
      },
      {
        "contentUdi": "umb://element/1a12233c92d34a77a75320b1e97f346b"
      },
      {
        "contentUdi": "umb://element/6923c948ed3f4e85b656ca293d6c08ec"
      },
      {
        "contentUdi": "umb://element/562f63adfa944b07a93cd07659f07f4a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44418227ab564dd1a007fb7b19d8caf2",
      "value": "ciel",
      "confidence": "0.9976459741592407"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b84708a9fd60445082f650f4a82b426e",
      "value": "plein air",
      "confidence": "0.9933221340179443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15fcb8d5104040e2ab91c994cf47edcd",
      "value": "bâtiment",
      "confidence": "0.9901560544967651"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86bd4c1be80d437993bd4f5ca23c0b75",
      "value": "tour",
      "confidence": "0.939069390296936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3765f89686b840b6ad5c01b2e4d2b08d",
      "value": "repère",
      "confidence": "0.9390683770179749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/389d70b672734ea684d192b637caf175",
      "value": "architecture",
      "confidence": "0.8823640942573547"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12f9fbfb263d4bd5bf68a2fc4b031c73",
      "value": "Site historique",
      "confidence": "0.8760755658149719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58e284b02ae04c2e98980831e307a35c",
      "value": "Architecture médiévale",
      "confidence": "0.8650014400482178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a59e6ffe48c4e54a1bf754e715de457",
      "value": "église",
      "confidence": "0.8029346466064453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63374522d22840a7a044344959362e67",
      "value": "lieu de culte",
      "confidence": "0.7792048454284668"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a12233c92d34a77a75320b1e97f346b",
      "value": "grand",
      "confidence": "0.7313132882118225"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6923c948ed3f4e85b656ca293d6c08ec",
      "value": "temple",
      "confidence": "0.543641209602356"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/562f63adfa944b07a93cd07659f07f4a",
      "value": "ville",
      "confidence": "0.5324881672859192"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stupa, a bit decapitated</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Stupa, un peu décapité</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an ancient brick temple located in Sukhothai, Thailand. The temple features impressive architecture with stone elephant sculptures around its base. The top of the temple appears partially in ruins, adding to the historical charm of the structure. The sky is clear, offering beautiful natural light that highlights the architectural details."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un ancien temple en briques situé à Sukhothai, en Thaïlande. Le temple présente une architecture impressionnante avec des sculptures d'éléphants en pierre autour de sa base. Le sommet du temple semble partiellement en ruine, ajoutant au charme historique de la structure. Le ciel est dégagé, offrant une belle lumière naturelle qui met en valeur les détails architecturaux."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #AncientTemple #HistoricalArchitecture #ElephantStatues #Travel #Heritage]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Sukhothai #Thaïlande #architecture #histoire #ruines #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "8ca049c1-35b9-478e-9668-c0535408f39e",
    "mediaKey": "749990c9-b516-42b4-89c4-561e974aaa49"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un ancien temple en briques à Sukhothai, Thaïlande, avec des sculptures d'éléphants et un sommet en ruine.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un ancien temple en briques à Sukhothai, Thaïlande, avec des sculptures d'éléphants et un sommet en ruine.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[I lost my stupa head!]]></Value>
      <Value Culture="fr"><![CDATA[Stupa, un peu décapité]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/unheaded-stupa-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/unheaded-stupa-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Sukhothai",
  "Thailand",
  "architecture",
  "bricks",
  "sculptures",
  "elephants",
  "ruins",
  "historical"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Sukhothai",
  "Thaïlande",
  "architecture",
  "briques",
  "sculptures",
  "éléphants",
  "ruines",
  "historique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un ancien temple en briques à Sukhothai, Thaïlande, avec des sculptures d'éléphants et un sommet en ruine.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[I lost my stupa head!]]></Value>
      <Value Culture="fr"><![CDATA[Stupa, un peu décapité]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>