<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb9f8abd-1c12-499c-b73c-4ca63b517809" Alias="Kost Castle" Level="6">
  <Info>
    <Parent Key="0c0d5887-9759-4c4e-a9dc-37d86b305b0c">Czechia</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Czechia/KostCastle</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-04-24T14:22:18</CreateDate>
    <NodeName Default="Kost Castle">
      <Name Culture="en">Kost Castle</Name>
      <Name Culture="fr">Le château de Kost</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows Kost Castle in the Czech Republic, an impressive medieval structure surrounded by greenery. The castle is built of stone and features towers and fortified walls, reflecting its historical architecture. The sky is slightly cloudy, adding a dramatic atmosphere to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre le château de Kost en Tchéquie, un impressionnant édifice médiéval entouré de verdure. Le château est construit en pierre et présente des tours et des murs fortifiés, reflétant son architecture historique. Le ciel est légèrement nuageux, ajoutant une ambiance dramatique à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#KostCastle #CzechRepublic #MedievalFortress #HistoricalArchitecture #Castle #Travel #Nature #History]]></Value>
      <Value Culture="fr"><![CDATA[#ChâteauDeKost #Tchéquie #ArchitectureMédiévale #Histoire #Voyage #Patrimoine]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "6c169c33-2fe7-4c16-bd9c-1b8d1fb84039",
    "mediaKey": "3e92e90a-026f-4da3-9d5c-47241ef98e88"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Kost, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Kost, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le château de Kost, un édifice médiéval en Tchéquie entouré de verdure et empreint d'histoire.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Kost : Joyau Médiéval en Tchéquie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Kost Castle: Medieval Jewel in the Czech Republic]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Kost : Joyau Médiéval en Tchéquie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "castle",
  "Kost",
  "Czech Republic",
  "medieval architecture",
  "landscape",
  "history"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "château",
  "Kost",
  "Tchéquie",
  "architecture médiévale",
  "paysage",
  "histoire"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le château de Kost, un édifice médiéval en Tchéquie entouré de verdure et empreint d'histoire.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Kost Castle: Medieval Jewel in the Czech Republic]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Kost : Joyau Médiéval en Tchéquie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>