<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed8bcf73-7e14-4392-ae8e-4b5bd777b314" Alias="Krabi et ses tours jumelles" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/KrabiEtSesToursJumelles</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Krabi et ses tours jumelles">
      <Name Culture="en">Krabi and its Twin Towers</Name>
      <Name Culture="fr">Krabi et ses tours jumelles</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The twin rocks, symbol of Krabi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les rochers jumeaux, symbole de Krabi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene and picturesque landscape in Krabi, Thailand. It features two prominent limestone cliffs covered in lush greenery, rising majestically from the water. The sky is painted with warm hues of yellow and orange as the sun sets, casting a golden glow over the scene. The calm water in the foreground reflects the beauty of the surroundings, adding to the tranquil atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage pittoresque de Krabi, en Thaïlande. On y voit deux formations rocheuses imposantes couvertes de végétation luxuriante, entourées d'une forêt dense. Le ciel est partiellement couvert de nuages, avec des teintes dorées et orangées, suggérant un coucher de soleil. Au premier plan, une étendue d'eau calme reflète les couleurs du ciel."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Krabi #Thailand #NaturePhotography #Sunset #LimestoneCliffs #ScenicView #Travel #BeautifulDestinations #Tranquil #Wanderlust]]></Value>
      <Value Culture="fr"><![CDATA[#Krabi #Thaïlande #Paysage #Nature #CoucherDeSoleil #Voyage #Aventure]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "a0ca02f0-ff59-457c-abd3-eb2f19dd19b7",
    "mediaKey": "d8201ca2-08ec-4a6b-be3b-4d4c1bac6c21"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Krabi, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Krabi, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les majestueuses formations rocheuses de Krabi, en Thaïlande, symboles emblématiques de la région.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les majestueuses formations rocheuses de Krabi, en Thaïlande, symboles emblématiques de la région.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Krabi and its Twin Rocks: A Natural Symbol]]></Value>
      <Value Culture="fr"><![CDATA[Les Rochers Jumeaux de Krabi]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/krabi-iconi-rocks-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/krabi-iconi-rocks-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Krabi",
  "Thailand",
  "landscape",
  "nature",
  "sunset",
  "limestone cliffs",
  "water",
  "greenery",
  "serene",
  "picturesque"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Krabi",
  "Thaïlande",
  "paysage",
  "rochers",
  "végétation",
  "forêt",
  "coucher de soleil",
  "eau"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les majestueuses formations rocheuses de Krabi, en Thaïlande, symboles emblématiques de la région.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Krabi and its Twin Rocks: A Natural Symbol]]></Value>
      <Value Culture="fr"><![CDATA[Les Rochers Jumeaux de Krabi]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>