<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9f96feb-0951-4636-b666-4230d59476e6" Alias="Krabi et ses villages de pécheurs" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/KrabiEtSesVillagesDePecheurs</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-07T12:50:29</CreateDate>
    <NodeName Default="Krabi et ses villages de pécheurs">
      <Name Culture="en">Krabi and its fishing villages</Name>
      <Name Culture="fr">Krabi et ses villages de pécheurs</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Fisherman's house made of odds and ends.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Maison de pêcheurs faite de bric et de broc.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts traditional wooden houses built on stilts over water in Krabi, Thailand. The houses have thatched roofs and are surrounded by lush green palm trees and other vegetation. The water is calm, and the sky is partly cloudy with a warm, golden hue from the setting or rising sun."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre des maisons traditionnelles en bois et en chaume situées au bord de l'eau à Krabi, en Thaïlande. Les maisons sont sur pilotis, entourées de végétation luxuriante et de palmiers. Le ciel est partiellement nuageux avec des teintes de coucher de soleil, créant une atmosphère paisible et pittoresque."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Krabi #Thailand #TraditionalHouses #StiltHouses #Waterfront #Nature #Sunset #Sunrise #Travel #Scenic]]></Value>
      <Value Culture="fr"><![CDATA[#Krabi #Thaïlande #MaisonsTraditionnelles #Pilotis #Nature #CoucherDeSoleil #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "8997c085-4de8-4e1a-8535-78e19af27334",
    "mediaKey": "78ce550b-6371-45f3-b2d5-23b22a065924"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Krabi, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Krabi, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les maisons traditionnelles en bois et en chaume sur pilotis, entourées de végétation luxuriante à Krabi, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les maisons traditionnelles en bois et en chaume sur pilotis, entourées de végétation luxuriante à Krabi, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Krabi and its Fishing Villages]]></Value>
      <Value Culture="fr"><![CDATA[Krabi et ses villages de pêcheurs]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/fisher-house-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/fisher-house-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Krabi",
  "Thailand",
  "traditional houses",
  "stilts",
  "water",
  "thatched roofs",
  "palm trees",
  "vegetation",
  "sunset",
  "sunrise"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Krabi",
  "Thaïlande",
  "maisons traditionnelles",
  "pilotis",
  "eau",
  "végétation",
  "palmiers",
  "coucher de soleil"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les maisons traditionnelles en bois et en chaume sur pilotis, entourées de végétation luxuriante à Krabi, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Krabi and its Fishing Villages]]></Value>
      <Value Culture="fr"><![CDATA[Krabi et ses villages de pêcheurs]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>