<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1c0c4d0-ad02-4148-9e3a-111a845ff9c2" Alias="La Belgique" Level="102">
  <Info>
    <Parent Key="ff347512-fcf2-4018-b795-e18d07bef2b8">Voyagez en images</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique</Path>
    <Trashed Parent="ff347512-fcf2-4018-b795-e18d07bef2b8">true</Trashed>
    <ContentType>mediaCollectionPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="La Belgique">
      <Name Culture="en">Belgium</Name>
      <Name Culture="fr">La Belgique</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="e992cf13-aa54-43cd-ad5d-9f2090c2eb81">MediaCollectionPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c5ef5fcba4354556928a900073059cbe",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/c5ef5fcba4354556928a900073059cbe",
      "title": "",
      "description": {
        "markup": "<p>A visual tour of Belgium. It's my country, but I haven't captured it yet. Here, Brussels will be highlighted the most.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c7436f8bdfc24c86a83c3984c0dd8fd4",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/c7436f8bdfc24c86a83c3984c0dd8fd4",
      "title": "",
      "description": {
        "markup": "<p>Un tour en images de la Belgique. C'est mon pays, mais je ne l'ai pas encore mise en boîte. Ici surtout Bruxelles sera mis à l'avant.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <defaultMediaTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </defaultMediaTags>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="en"><![CDATA[[
  {
    "key": "1ccada62-835f-427e-9204-9d89bbaa096c",
    "mediaKey": "07b17bd2-4b46-48e2-a1b9-918ab26c33cc"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "1ccada62-835f-427e-9204-9d89bbaa096c",
    "mediaKey": "07b17bd2-4b46-48e2-a1b9-918ab26c33cc"
  }
]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Explorez la Belgique à travers un voyage visuel, avec un focus particulier sur Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découverte de la Belgique en Images]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Discovering Belgium in Images]]></Value>
      <Value Culture="fr"><![CDATA[Découverte de la Belgique en Images]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Un tour en images de la Belgique. C'est mon pays, mais je ne l'ai pas encore mise en boîte. Ici surtout Bruxelles sera mis à l'avant.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un tour en images de la Belgique. C'est mon pays, mais je ne l'ai pas encore mise en boîte. Ici surtout Bruxelles sera mis à l'avant.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Explorez la Belgique à travers un voyage visuel, avec un focus particulier sur Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Discovering Belgium in Images]]></Value>
      <Value Culture="fr"><![CDATA[Découverte de la Belgique en Images]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>