<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d8ce66c-1428-4a30-a983-57aab44e29b2" Alias="La cité ancienne" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/LaCiteAncienne</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T19:57:31</CreateDate>
    <NodeName Default="La cité ancienne">
      <Name Culture="en">The Ancient City</Name>
      <Name Culture="fr">La cité ancienne</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1dbd99928bf4e40b236cb8c85e1ccaa"
      },
      {
        "contentUdi": "umb://element/b102b2ffc6b148a49b6ed0c4339739ae"
      },
      {
        "contentUdi": "umb://element/467bea97ca864bc9abfe76f816e8fca1"
      },
      {
        "contentUdi": "umb://element/94255d011700418394f73e6005912a03"
      },
      {
        "contentUdi": "umb://element/a3eb400106ff49a5ad06382ac7740036"
      },
      {
        "contentUdi": "umb://element/be00aa041e4640f9897cde28c93acafd"
      },
      {
        "contentUdi": "umb://element/8292f1b5172a439db6efe889199a7f61"
      },
      {
        "contentUdi": "umb://element/ab98cdaba2ff43a491e607e2b3c8d5e6"
      },
      {
        "contentUdi": "umb://element/f206561eadc94d55b71cebfdb30eede3"
      },
      {
        "contentUdi": "umb://element/5e691ca74c2a4e1f962558bcc4cfee7b"
      },
      {
        "contentUdi": "umb://element/8414b4b6b42248ba88928a979b77c172"
      },
      {
        "contentUdi": "umb://element/c54c3e6b2cdf4e8fb244218f5f1b5b3a"
      },
      {
        "contentUdi": "umb://element/aeaef48d55da45e486fed558013edffc"
      },
      {
        "contentUdi": "umb://element/0a1935255f774c538a732444d26f50da"
      },
      {
        "contentUdi": "umb://element/6c20339e8fc5474b9df54a9ea762c0e3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1dbd99928bf4e40b236cb8c85e1ccaa",
      "value": "plein air",
      "confidence": "0.9949352741241455"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b102b2ffc6b148a49b6ed0c4339739ae",
      "value": "ciel",
      "confidence": "0.9937726259231567"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/467bea97ca864bc9abfe76f816e8fca1",
      "value": "nuage",
      "confidence": "0.9934631586074829"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94255d011700418394f73e6005912a03",
      "value": "bâtiment",
      "confidence": "0.9689042568206787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3eb400106ff49a5ad06382ac7740036",
      "value": "monument",
      "confidence": "0.9625968933105469"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be00aa041e4640f9897cde28c93acafd",
      "value": "statue",
      "confidence": "0.9597623348236084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8292f1b5172a439db6efe889199a7f61",
      "value": "arbre",
      "confidence": "0.9204380512237549"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab98cdaba2ff43a491e607e2b3c8d5e6",
      "value": "plante",
      "confidence": "0.9113680720329285"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f206561eadc94d55b71cebfdb30eede3",
      "value": "sculpture",
      "confidence": "0.901543378829956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e691ca74c2a4e1f962558bcc4cfee7b",
      "value": "mémorial",
      "confidence": "0.8660119771957397"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8414b4b6b42248ba88928a979b77c172",
      "value": "art",
      "confidence": "0.8401495814323425"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c54c3e6b2cdf4e8fb244218f5f1b5b3a",
      "value": "herbe",
      "confidence": "0.8198387622833252"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aeaef48d55da45e486fed558013edffc",
      "value": "tour",
      "confidence": "0.7073188424110413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a1935255f774c538a732444d26f50da",
      "value": "temple",
      "confidence": "0.58141028881073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c20339e8fc5474b9df54a9ea762c0e3",
      "value": "ruine",
      "confidence": "0.5022445917129517"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1dbd99928bf4e40b236cb8c85e1ccaa"
      },
      {
        "contentUdi": "umb://element/b102b2ffc6b148a49b6ed0c4339739ae"
      },
      {
        "contentUdi": "umb://element/467bea97ca864bc9abfe76f816e8fca1"
      },
      {
        "contentUdi": "umb://element/94255d011700418394f73e6005912a03"
      },
      {
        "contentUdi": "umb://element/a3eb400106ff49a5ad06382ac7740036"
      },
      {
        "contentUdi": "umb://element/be00aa041e4640f9897cde28c93acafd"
      },
      {
        "contentUdi": "umb://element/8292f1b5172a439db6efe889199a7f61"
      },
      {
        "contentUdi": "umb://element/ab98cdaba2ff43a491e607e2b3c8d5e6"
      },
      {
        "contentUdi": "umb://element/f206561eadc94d55b71cebfdb30eede3"
      },
      {
        "contentUdi": "umb://element/5e691ca74c2a4e1f962558bcc4cfee7b"
      },
      {
        "contentUdi": "umb://element/8414b4b6b42248ba88928a979b77c172"
      },
      {
        "contentUdi": "umb://element/c54c3e6b2cdf4e8fb244218f5f1b5b3a"
      },
      {
        "contentUdi": "umb://element/aeaef48d55da45e486fed558013edffc"
      },
      {
        "contentUdi": "umb://element/0a1935255f774c538a732444d26f50da"
      },
      {
        "contentUdi": "umb://element/6c20339e8fc5474b9df54a9ea762c0e3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1dbd99928bf4e40b236cb8c85e1ccaa",
      "value": "plein air",
      "confidence": "0.9949352741241455"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b102b2ffc6b148a49b6ed0c4339739ae",
      "value": "ciel",
      "confidence": "0.9937726259231567"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/467bea97ca864bc9abfe76f816e8fca1",
      "value": "nuage",
      "confidence": "0.9934631586074829"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94255d011700418394f73e6005912a03",
      "value": "bâtiment",
      "confidence": "0.9689042568206787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3eb400106ff49a5ad06382ac7740036",
      "value": "monument",
      "confidence": "0.9625968933105469"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be00aa041e4640f9897cde28c93acafd",
      "value": "statue",
      "confidence": "0.9597623348236084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8292f1b5172a439db6efe889199a7f61",
      "value": "arbre",
      "confidence": "0.9204380512237549"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab98cdaba2ff43a491e607e2b3c8d5e6",
      "value": "plante",
      "confidence": "0.9113680720329285"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f206561eadc94d55b71cebfdb30eede3",
      "value": "sculpture",
      "confidence": "0.901543378829956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e691ca74c2a4e1f962558bcc4cfee7b",
      "value": "mémorial",
      "confidence": "0.8660119771957397"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8414b4b6b42248ba88928a979b77c172",
      "value": "art",
      "confidence": "0.8401495814323425"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c54c3e6b2cdf4e8fb244218f5f1b5b3a",
      "value": "herbe",
      "confidence": "0.8198387622833252"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aeaef48d55da45e486fed558013edffc",
      "value": "tour",
      "confidence": "0.7073188424110413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a1935255f774c538a732444d26f50da",
      "value": "temple",
      "confidence": "0.58141028881073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c20339e8fc5474b9df54a9ea762c0e3",
      "value": "ruine",
      "confidence": "0.5022445917129517"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Buddha at the end of a row of ruined columns.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bouddha se trouvant au bout d'une rangée de colonnes en ruine.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases a serene and majestic Buddha statue surrounded by ancient brick ruins and columns. The statue stands tall amidst the remnants of historical architecture, with lush green trees in the background and a vibrant blue sky overhead. The scene is tranquil and evocative of a rich cultural heritage."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une grande statue de Bouddha blanche entourée de ruines de colonnes en briques rouges. La statue se dresse majestueusement au milieu de la végétation luxuriante, avec un ciel bleu et quelques nuages en arrière-plan. Cette scène se trouve à Bangkok, en Thaïlande."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Buddha #AncientRuins #HistoricalArchitecture #Bangkok #Thailand #CulturalHeritage #Serenity #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#statue #Bouddha #ruines #Bangkok #Thaïlande #voyage #patrimoine #culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "4e80e41b-e287-478c-a6f7-90b4afe82e4b",
    "mediaKey": "a05e2bdf-8e0b-4f63-b4dc-c2aee48f9533"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la grandeur intemporelle d'une statue de Bouddha entourée de ruines anciennes à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la grandeur intemporelle d'une statue de Bouddha entourée de ruines anciennes à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Majestic Ancient City of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[La Majestueuse Statue de Bouddha à Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/ancient-city-bangkok-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/ancient-city-bangkok-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Buddha statue",
  "ancient ruins",
  "brick columns",
  "historical architecture",
  "trees",
  "blue sky",
  "Bangkok",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "statue",
  "Bouddha",
  "ruines",
  "colonnes",
  "briques",
  "végétation",
  "ciel bleu",
  "Bangkok",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la grandeur intemporelle d'une statue de Bouddha entourée de ruines anciennes à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Majestic Ancient City of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[La Majestueuse Statue de Bouddha à Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>