<?xml version="1.0" encoding="utf-8"?>
<Content Key="af52421a-ca0b-4da2-b3cc-c1624c9b6b37" Alias="La fièvre des stupas" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/LaFievreDesStupas</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T18:20:50</CreateDate>
    <NodeName Default="La fièvre des stupas">
      <Name Culture="en">The Stupa Fever</Name>
      <Name Culture="fr">La fièvre des stupas</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4746ce0562204b04914a6817b1cd6c62"
      },
      {
        "contentUdi": "umb://element/a14ed8d01aab4b28b6de638ad8df7bc3"
      },
      {
        "contentUdi": "umb://element/c77c48b41ef540d9afb3d0853f52a545"
      },
      {
        "contentUdi": "umb://element/09d7f99b1872472194fe766af0e67b07"
      },
      {
        "contentUdi": "umb://element/3ac0e62366a94de0ab891a3e872c150d"
      },
      {
        "contentUdi": "umb://element/3bdabe830d794339a64098512e4417ea"
      },
      {
        "contentUdi": "umb://element/b130de3d63bb43fe9199657606267093"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4746ce0562204b04914a6817b1cd6c62",
      "value": "arbre",
      "confidence": "0.998557448387146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a14ed8d01aab4b28b6de638ad8df7bc3",
      "value": "plein air",
      "confidence": "0.9911928772926331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c77c48b41ef540d9afb3d0853f52a545",
      "value": "bâtiment",
      "confidence": "0.9637969136238098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09d7f99b1872472194fe766af0e67b07",
      "value": "ciel",
      "confidence": "0.9607843160629272"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ac0e62366a94de0ab891a3e872c150d",
      "value": "tour",
      "confidence": "0.7186187505722046"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3bdabe830d794339a64098512e4417ea",
      "value": "lieu de culte",
      "confidence": "0.6871609091758728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b130de3d63bb43fe9199657606267093",
      "value": "temple",
      "confidence": "0.5132424831390381"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4746ce0562204b04914a6817b1cd6c62"
      },
      {
        "contentUdi": "umb://element/a14ed8d01aab4b28b6de638ad8df7bc3"
      },
      {
        "contentUdi": "umb://element/c77c48b41ef540d9afb3d0853f52a545"
      },
      {
        "contentUdi": "umb://element/09d7f99b1872472194fe766af0e67b07"
      },
      {
        "contentUdi": "umb://element/3ac0e62366a94de0ab891a3e872c150d"
      },
      {
        "contentUdi": "umb://element/3bdabe830d794339a64098512e4417ea"
      },
      {
        "contentUdi": "umb://element/b130de3d63bb43fe9199657606267093"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4746ce0562204b04914a6817b1cd6c62",
      "value": "arbre",
      "confidence": "0.998557448387146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a14ed8d01aab4b28b6de638ad8df7bc3",
      "value": "plein air",
      "confidence": "0.9911928772926331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c77c48b41ef540d9afb3d0853f52a545",
      "value": "bâtiment",
      "confidence": "0.9637969136238098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09d7f99b1872472194fe766af0e67b07",
      "value": "ciel",
      "confidence": "0.9607843160629272"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ac0e62366a94de0ab891a3e872c150d",
      "value": "tour",
      "confidence": "0.7186187505722046"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3bdabe830d794339a64098512e4417ea",
      "value": "lieu de culte",
      "confidence": "0.6871609091758728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b130de3d63bb43fe9199657606267093",
      "value": "temple",
      "confidence": "0.5132424831390381"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>They are everywhere.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Ils sont partout.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an ancient brick stupa located in Sukhothai, Thailand. The stupa is surrounded by lush vegetation and is decorated with yellow and orange fabrics. Buddha statues can be seen inside the structure. The architecture and sculpted details testify to the rich history and culture of the region."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un ancien stupa en briques situé à Sukhothai, en Thaïlande. Le stupa est entouré de végétation luxuriante et est décoré de tissus jaunes et orange. On peut voir des statues de Bouddha à l'intérieur de la structure. L'architecture et les détails sculptés témoignent de l'histoire et de la culture riche de la région."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #AncientArchitecture #BuddhistStupa #HistoricalSite #Nature #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #stupa #bouddhisme #architecture #histoire #culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "8702cd29-0fe5-440f-9d2d-26312cf45e64",
    "mediaKey": "57600c0d-64cc-4115-8049-729d5671046e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Ils sont partout.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Ils sont partout.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Stupa Fever]]></Value>
      <Value Culture="fr"><![CDATA[L'Enchantement des Stupas de Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/stupa-fever-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/stupa-fever-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "stupa",
  "Sukhothai",
  "Thailand",
  "architecture",
  "Buddhism",
  "statues",
  "vegetation",
  "history"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "stupa",
  "Sukhothai",
  "Thaïlande",
  "architecture",
  "bouddhisme",
  "statues",
  "végétation",
  "histoire"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Ils sont partout.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Stupa Fever]]></Value>
      <Value Culture="fr"><![CDATA[L'Enchantement des Stupas de Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>