<?xml version="1.0" encoding="utf-8"?>
<Content Key="77606262-55e2-463c-919e-1bbabcb35177" Alias="La jeunesse vibrante" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/LaJeunesseVibrante</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T14:46:37</CreateDate>
    <NodeName Default="La jeunesse vibrante">
      <Name Culture="en">The Vibrant Youth</Name>
      <Name Culture="fr">La jeunesse vibrante</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1745824007f346cd8aa43a9cedca33f7"
      },
      {
        "contentUdi": "umb://element/da122a94901343e7b1d30218f7ea00f9"
      },
      {
        "contentUdi": "umb://element/63f7919ed4de4403aba5b0a0ac150711"
      },
      {
        "contentUdi": "umb://element/6cb3fc29c0fe466a87240a88d752db3c"
      },
      {
        "contentUdi": "umb://element/725b26e8277e40a5b95dc7bd32b77c5d"
      },
      {
        "contentUdi": "umb://element/10fba8305420458b94aabd0da569b163"
      },
      {
        "contentUdi": "umb://element/455797fe67ad4e25901a114e539c7004"
      },
      {
        "contentUdi": "umb://element/53457f9f65ac453aae779b3ae1a4e85d"
      },
      {
        "contentUdi": "umb://element/a4d4557362cc43a483aca981b81c5d1f"
      },
      {
        "contentUdi": "umb://element/b46ea076bf2a4b32973e3490f7b81fbe"
      },
      {
        "contentUdi": "umb://element/52f9f0b4d96347a6a7bf9ed71b0a65b1"
      },
      {
        "contentUdi": "umb://element/b596f04ad4c14da18361de299fb7dcf8"
      },
      {
        "contentUdi": "umb://element/00853eab562b404ba118f4af994b7e5a"
      },
      {
        "contentUdi": "umb://element/2a15c67b6c8e4930b383cb469b5fd983"
      },
      {
        "contentUdi": "umb://element/380e39478ae344e1a9f7f9cac3915150"
      },
      {
        "contentUdi": "umb://element/232fb3138243432f91352bcc440f6034"
      },
      {
        "contentUdi": "umb://element/2b87058891e74c3b89ed567514ac7a22"
      },
      {
        "contentUdi": "umb://element/5131c22fac024b729ee7989f99ba7c92"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1745824007f346cd8aa43a9cedca33f7",
      "value": "habits",
      "confidence": "0.9958063960075378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da122a94901343e7b1d30218f7ea00f9",
      "value": "personne",
      "confidence": "0.9848897457122803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63f7919ed4de4403aba5b0a0ac150711",
      "value": "Véhicule terrestre",
      "confidence": "0.9833993315696716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6cb3fc29c0fe466a87240a88d752db3c",
      "value": "véhicule",
      "confidence": "0.9787038564682007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/725b26e8277e40a5b95dc7bd32b77c5d",
      "value": "jeune enfant",
      "confidence": "0.9699748754501343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/10fba8305420458b94aabd0da569b163",
      "value": "plein air",
      "confidence": "0.9692851305007935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/455797fe67ad4e25901a114e539c7004",
      "value": "roue",
      "confidence": "0.9598642587661743"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/53457f9f65ac453aae779b3ae1a4e85d",
      "value": "Visage humain",
      "confidence": "0.9262608885765076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4d4557362cc43a483aca981b81c5d1f",
      "value": "enfant",
      "confidence": "0.9118295907974243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b46ea076bf2a4b32973e3490f7b81fbe",
      "value": "voiture",
      "confidence": "0.8663644790649414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52f9f0b4d96347a6a7bf9ed71b0a65b1",
      "value": "pneu",
      "confidence": "0.8620507121086121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b596f04ad4c14da18361de299fb7dcf8",
      "value": "sol",
      "confidence": "0.8616973161697388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00853eab562b404ba118f4af994b7e5a",
      "value": "route",
      "confidence": "0.8186789751052856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a15c67b6c8e4930b383cb469b5fd983",
      "value": "jeune",
      "confidence": "0.8053438663482666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/380e39478ae344e1a9f7f9cac3915150",
      "value": "garçon",
      "confidence": "0.7682576179504395"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/232fb3138243432f91352bcc440f6034",
      "value": "debout",
      "confidence": "0.6986625790596008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b87058891e74c3b89ed567514ac7a22",
      "value": "bébé",
      "confidence": "0.6883181929588318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5131c22fac024b729ee7989f99ba7c92",
      "value": "rue",
      "confidence": "0.5276281833648682"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1745824007f346cd8aa43a9cedca33f7"
      },
      {
        "contentUdi": "umb://element/da122a94901343e7b1d30218f7ea00f9"
      },
      {
        "contentUdi": "umb://element/63f7919ed4de4403aba5b0a0ac150711"
      },
      {
        "contentUdi": "umb://element/6cb3fc29c0fe466a87240a88d752db3c"
      },
      {
        "contentUdi": "umb://element/725b26e8277e40a5b95dc7bd32b77c5d"
      },
      {
        "contentUdi": "umb://element/10fba8305420458b94aabd0da569b163"
      },
      {
        "contentUdi": "umb://element/455797fe67ad4e25901a114e539c7004"
      },
      {
        "contentUdi": "umb://element/53457f9f65ac453aae779b3ae1a4e85d"
      },
      {
        "contentUdi": "umb://element/a4d4557362cc43a483aca981b81c5d1f"
      },
      {
        "contentUdi": "umb://element/b46ea076bf2a4b32973e3490f7b81fbe"
      },
      {
        "contentUdi": "umb://element/52f9f0b4d96347a6a7bf9ed71b0a65b1"
      },
      {
        "contentUdi": "umb://element/b596f04ad4c14da18361de299fb7dcf8"
      },
      {
        "contentUdi": "umb://element/00853eab562b404ba118f4af994b7e5a"
      },
      {
        "contentUdi": "umb://element/2a15c67b6c8e4930b383cb469b5fd983"
      },
      {
        "contentUdi": "umb://element/380e39478ae344e1a9f7f9cac3915150"
      },
      {
        "contentUdi": "umb://element/232fb3138243432f91352bcc440f6034"
      },
      {
        "contentUdi": "umb://element/2b87058891e74c3b89ed567514ac7a22"
      },
      {
        "contentUdi": "umb://element/5131c22fac024b729ee7989f99ba7c92"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1745824007f346cd8aa43a9cedca33f7",
      "value": "habits",
      "confidence": "0.9958063960075378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da122a94901343e7b1d30218f7ea00f9",
      "value": "personne",
      "confidence": "0.9848897457122803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63f7919ed4de4403aba5b0a0ac150711",
      "value": "Véhicule terrestre",
      "confidence": "0.9833993315696716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6cb3fc29c0fe466a87240a88d752db3c",
      "value": "véhicule",
      "confidence": "0.9787038564682007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/725b26e8277e40a5b95dc7bd32b77c5d",
      "value": "jeune enfant",
      "confidence": "0.9699748754501343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/10fba8305420458b94aabd0da569b163",
      "value": "plein air",
      "confidence": "0.9692851305007935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/455797fe67ad4e25901a114e539c7004",
      "value": "roue",
      "confidence": "0.9598642587661743"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/53457f9f65ac453aae779b3ae1a4e85d",
      "value": "Visage humain",
      "confidence": "0.9262608885765076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4d4557362cc43a483aca981b81c5d1f",
      "value": "enfant",
      "confidence": "0.9118295907974243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b46ea076bf2a4b32973e3490f7b81fbe",
      "value": "voiture",
      "confidence": "0.8663644790649414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52f9f0b4d96347a6a7bf9ed71b0a65b1",
      "value": "pneu",
      "confidence": "0.8620507121086121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b596f04ad4c14da18361de299fb7dcf8",
      "value": "sol",
      "confidence": "0.8616973161697388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00853eab562b404ba118f4af994b7e5a",
      "value": "route",
      "confidence": "0.8186789751052856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a15c67b6c8e4930b383cb469b5fd983",
      "value": "jeune",
      "confidence": "0.8053438663482666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/380e39478ae344e1a9f7f9cac3915150",
      "value": "garçon",
      "confidence": "0.7682576179504395"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/232fb3138243432f91352bcc440f6034",
      "value": "debout",
      "confidence": "0.6986625790596008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b87058891e74c3b89ed567514ac7a22",
      "value": "bébé",
      "confidence": "0.6883181929588318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5131c22fac024b729ee7989f99ba7c92",
      "value": "rue",
      "confidence": "0.5276281833648682"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Three young boys in a remote village, curious and happy about my visit</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Trois jeunes garçons dans un village perdu, curieux et content de mon passage</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows three young children joyfully playing with a yellow toy truck outside a wooden house in Pai. Two of the children are smiling broadly, while the third, in the center, appears more serious. Behind them, a parked car can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre trois jeunes enfants jouant joyeusement avec un camion jouet jaune à l'extérieur d'une maison en bois à Pai. Deux des enfants sourient largement, tandis que le troisième, au centre, semble plus sérieux. Derrière eux, on peut voir une voiture garée."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#children #playtime #toys #outdoors #Pai #colorful #happiness #cartooncharacters]]></Value>
      <Value Culture="fr"><![CDATA[#enfants #jeu #bonheur #famille #aventure #enfance #sourire #village]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "0cceeca4-cc22-4315-a1b5-156d62222a60",
    "mediaKey": "adda4990-89f0-47e9-8ad1-5e16d9b5dd5a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai]]></Value>
      <Value Culture="fr"><![CDATA[Pai]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Trois jeunes garçons dans un village perdu, curieux et contents de mon passage.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Trois jeunes garçons dans un village perdu, curieux et contents de mon passage.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Vibrant Youth]]></Value>
      <Value Culture="fr"><![CDATA[Les Jeunes Curieux de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/funny-little-family-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/funny-little-family-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "children",
  "playing",
  "toy truck",
  "outside",
  "wooden house",
  "car",
  "smile",
  "colorful clothes"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "enfants",
  "jouer",
  "camion jouet",
  "extérieur",
  "maison en bois",
  "voiture",
  "sourire",
  "vêtements colorés"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Trois jeunes garçons dans un village perdu, curieux et contents de mon passage.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Vibrant Youth]]></Value>
      <Value Culture="fr"><![CDATA[Les Jeunes Curieux de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>