<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e3c92a9-7d88-4c3c-96dd-053599eae77e" Alias="La mer Andaman et ses pirogues" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/LaMerAndamanEtSesPirogues</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-07T15:42:56</CreateDate>
    <NodeName Default="La mer Andaman et ses pirogues">
      <Name Culture="en">The Andaman Sea and Its Canoes</Name>
      <Name Culture="fr">La mer Andaman et ses pirogues</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3a7f722dec442f1976841ea56673fbe"
      },
      {
        "contentUdi": "umb://element/f546136f5ee348e282274b97e4c9adab"
      },
      {
        "contentUdi": "umb://element/db5faf7b7d044d74bab2be6bec820268"
      },
      {
        "contentUdi": "umb://element/36e199130bf54d3994949d9a256d4bab"
      },
      {
        "contentUdi": "umb://element/ed51a27ab3084dbc9f0e5896dda2cd98"
      },
      {
        "contentUdi": "umb://element/9d5cfd9652af417bb55650705dd8d4d1"
      },
      {
        "contentUdi": "umb://element/051b29ff433740139780c30c7b6d6fb4"
      },
      {
        "contentUdi": "umb://element/84fb59604e114087b2e444a5e49f7ff9"
      },
      {
        "contentUdi": "umb://element/6eb19873f3214e3088966b9a57852b24"
      },
      {
        "contentUdi": "umb://element/094c9888e52f4a65a6d002755001af3f"
      },
      {
        "contentUdi": "umb://element/d4d014bc0874401e98b2b5127f304970"
      },
      {
        "contentUdi": "umb://element/e29db4a5ccab421682970be95130a9aa"
      },
      {
        "contentUdi": "umb://element/5554863285da4593adfe9dabd8cb11a6"
      },
      {
        "contentUdi": "umb://element/f3d8419527f349cdabb7a307a89f98cf"
      },
      {
        "contentUdi": "umb://element/1f8674c562824fdf8a57554d4bfc1d76"
      },
      {
        "contentUdi": "umb://element/2e930eb27be8433c9cb94ae63eb1a831"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3a7f722dec442f1976841ea56673fbe",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f546136f5ee348e282274b97e4c9adab",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db5faf7b7d044d74bab2be6bec820268",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36e199130bf54d3994949d9a256d4bab",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed51a27ab3084dbc9f0e5896dda2cd98",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d5cfd9652af417bb55650705dd8d4d1",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/051b29ff433740139780c30c7b6d6fb4",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84fb59604e114087b2e444a5e49f7ff9",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6eb19873f3214e3088966b9a57852b24",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/094c9888e52f4a65a6d002755001af3f",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d4d014bc0874401e98b2b5127f304970",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e29db4a5ccab421682970be95130a9aa",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5554863285da4593adfe9dabd8cb11a6",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3d8419527f349cdabb7a307a89f98cf",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f8674c562824fdf8a57554d4bfc1d76",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e930eb27be8433c9cb94ae63eb1a831",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3a7f722dec442f1976841ea56673fbe"
      },
      {
        "contentUdi": "umb://element/f546136f5ee348e282274b97e4c9adab"
      },
      {
        "contentUdi": "umb://element/db5faf7b7d044d74bab2be6bec820268"
      },
      {
        "contentUdi": "umb://element/36e199130bf54d3994949d9a256d4bab"
      },
      {
        "contentUdi": "umb://element/ed51a27ab3084dbc9f0e5896dda2cd98"
      },
      {
        "contentUdi": "umb://element/9d5cfd9652af417bb55650705dd8d4d1"
      },
      {
        "contentUdi": "umb://element/051b29ff433740139780c30c7b6d6fb4"
      },
      {
        "contentUdi": "umb://element/84fb59604e114087b2e444a5e49f7ff9"
      },
      {
        "contentUdi": "umb://element/6eb19873f3214e3088966b9a57852b24"
      },
      {
        "contentUdi": "umb://element/094c9888e52f4a65a6d002755001af3f"
      },
      {
        "contentUdi": "umb://element/d4d014bc0874401e98b2b5127f304970"
      },
      {
        "contentUdi": "umb://element/e29db4a5ccab421682970be95130a9aa"
      },
      {
        "contentUdi": "umb://element/5554863285da4593adfe9dabd8cb11a6"
      },
      {
        "contentUdi": "umb://element/f3d8419527f349cdabb7a307a89f98cf"
      },
      {
        "contentUdi": "umb://element/1f8674c562824fdf8a57554d4bfc1d76"
      },
      {
        "contentUdi": "umb://element/2e930eb27be8433c9cb94ae63eb1a831"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3a7f722dec442f1976841ea56673fbe",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f546136f5ee348e282274b97e4c9adab",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db5faf7b7d044d74bab2be6bec820268",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36e199130bf54d3994949d9a256d4bab",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed51a27ab3084dbc9f0e5896dda2cd98",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d5cfd9652af417bb55650705dd8d4d1",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/051b29ff433740139780c30c7b6d6fb4",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84fb59604e114087b2e444a5e49f7ff9",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6eb19873f3214e3088966b9a57852b24",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/094c9888e52f4a65a6d002755001af3f",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d4d014bc0874401e98b2b5127f304970",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e29db4a5ccab421682970be95130a9aa",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5554863285da4593adfe9dabd8cb11a6",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3d8419527f349cdabb7a307a89f98cf",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f8674c562824fdf8a57554d4bfc1d76",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e930eb27be8433c9cb94ae63eb1a831",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Move along... I'm enjoying the beach alone!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Passe ton chemin... Je profite seul de la plage !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a serene scene at Mer Andaman, Thailand. A traditional long-tail boat floats on calm waters near a rocky outcrop. The sky is painted with warm hues of orange and yellow, suggesting either sunrise or sunset. A single cloud is illuminated by the sunlight, adding to the tranquil atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un bateau traditionnel thaïlandais flottant paisiblement sur la mer Andaman au coucher du soleil. À gauche, une formation rocheuse se dresse, ajoutant un contraste saisissant avec le ciel doré et les eaux calmes."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#MerAndaman #Thailand #Sunset #Sunrise #LongTailBoat #Tranquility #Nature #ScenicView #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#MerAndaman #Thaïlande #CoucherDeSoleil #Paysage #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "143946ca-41b7-4684-98ab-c4fdf4d13359",
    "mediaKey": "2ca2ebe1-de6a-4311-94d5-caa0c05a9163"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Mer Andaman, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Mer Andaman, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Serenity of the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Mer d'Andaman]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/passing-by-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/passing-by-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Mer Andaman",
  "Thailand",
  "long-tail boat",
  "sunset",
  "sunrise",
  "rocky outcrop",
  "calm waters",
  "serene",
  "traditional boat"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bateau",
  "mer",
  "coucher de soleil",
  "rocher",
  "Thaïlande",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Serenity of the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Mer d'Andaman]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>