<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5ca2016-35a8-4df4-8bd7-47f64579fbc8" Alias="La mer Andaman et ses pirogues" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/LaMerAndamanEtSesPirogues</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="La mer Andaman et ses pirogues">
      <Name Culture="en">The Andaman Sea and Its Canoes</Name>
      <Name Culture="fr">La mer Andaman et ses pirogues</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/41c7d444fa3e4dabb521a924eea56535"
      },
      {
        "contentUdi": "umb://element/75cb5766a30f46568a44eaeeeeed88e3"
      },
      {
        "contentUdi": "umb://element/bc5ffa2e521e4af1ab4dbbd2f4d8de16"
      },
      {
        "contentUdi": "umb://element/74d20745208342c5ab78f3f03f08d868"
      },
      {
        "contentUdi": "umb://element/2876cc6b72334f538a6cc120d44f2c21"
      },
      {
        "contentUdi": "umb://element/5b453f95b3ea4c7298ae5e60e5ed5174"
      },
      {
        "contentUdi": "umb://element/a89db8a117ad4cce9e04a9872d377853"
      },
      {
        "contentUdi": "umb://element/e09995f3857841209a12a2c8caf74263"
      },
      {
        "contentUdi": "umb://element/4713b5766cc14c969b4e658ebce1a818"
      },
      {
        "contentUdi": "umb://element/f99dc561c0fe46069c650c76d9890960"
      },
      {
        "contentUdi": "umb://element/1c2c6bfb47824251b655aa928ea5dcf1"
      },
      {
        "contentUdi": "umb://element/0aa2272bcb214a83ade8a1f6966c072c"
      },
      {
        "contentUdi": "umb://element/e5c628f8d58d4b8c9a949305f59e44e9"
      },
      {
        "contentUdi": "umb://element/a1b8cdf0750c417dbbe28c48a8235e7b"
      },
      {
        "contentUdi": "umb://element/ca657c914a6e428a8d869fbb28aef80e"
      },
      {
        "contentUdi": "umb://element/593b82fc077140fba3c4f9851274cb72"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41c7d444fa3e4dabb521a924eea56535",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75cb5766a30f46568a44eaeeeeed88e3",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc5ffa2e521e4af1ab4dbbd2f4d8de16",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74d20745208342c5ab78f3f03f08d868",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2876cc6b72334f538a6cc120d44f2c21",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b453f95b3ea4c7298ae5e60e5ed5174",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a89db8a117ad4cce9e04a9872d377853",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e09995f3857841209a12a2c8caf74263",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4713b5766cc14c969b4e658ebce1a818",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f99dc561c0fe46069c650c76d9890960",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1c2c6bfb47824251b655aa928ea5dcf1",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0aa2272bcb214a83ade8a1f6966c072c",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5c628f8d58d4b8c9a949305f59e44e9",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1b8cdf0750c417dbbe28c48a8235e7b",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca657c914a6e428a8d869fbb28aef80e",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/593b82fc077140fba3c4f9851274cb72",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cd6a9a3695b440bfaba1bf4d9b640d5e"
      },
      {
        "contentUdi": "umb://element/ae1f5b1e304e4e24874a176286fae193"
      },
      {
        "contentUdi": "umb://element/f3a18dd8c35946e284630101185becbc"
      },
      {
        "contentUdi": "umb://element/0734db0d88d8432aa2b974ecc5e8d16f"
      },
      {
        "contentUdi": "umb://element/0bad1617435142698f016ba56a53c753"
      },
      {
        "contentUdi": "umb://element/6c516b68dcb54bd09da0dfd54db25e68"
      },
      {
        "contentUdi": "umb://element/5c3036e30c934f8fb9b953e29e6ef8b9"
      },
      {
        "contentUdi": "umb://element/ce973bbc947c46428ab33ae430c00cbe"
      },
      {
        "contentUdi": "umb://element/a2156e5c90bc4b7195aa24ab723e4396"
      },
      {
        "contentUdi": "umb://element/a5436d277b5f43c684a1b1aa3e879588"
      },
      {
        "contentUdi": "umb://element/a857d0d890d64c8bbb1082c0dbafbdd1"
      },
      {
        "contentUdi": "umb://element/a284da2796d04124b9934cb0401fcf5a"
      },
      {
        "contentUdi": "umb://element/0e21184451434db1944c77fe23b6663e"
      },
      {
        "contentUdi": "umb://element/7d02a59e0ea34ad9984f902656fce06a"
      },
      {
        "contentUdi": "umb://element/c2e31cfee4c24053b1f72b4ecae6e85f"
      },
      {
        "contentUdi": "umb://element/c088a26447994e6fa875f9e22a275245"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd6a9a3695b440bfaba1bf4d9b640d5e",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae1f5b1e304e4e24874a176286fae193",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3a18dd8c35946e284630101185becbc",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0734db0d88d8432aa2b974ecc5e8d16f",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bad1617435142698f016ba56a53c753",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c516b68dcb54bd09da0dfd54db25e68",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c3036e30c934f8fb9b953e29e6ef8b9",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce973bbc947c46428ab33ae430c00cbe",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a2156e5c90bc4b7195aa24ab723e4396",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5436d277b5f43c684a1b1aa3e879588",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a857d0d890d64c8bbb1082c0dbafbdd1",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a284da2796d04124b9934cb0401fcf5a",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e21184451434db1944c77fe23b6663e",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d02a59e0ea34ad9984f902656fce06a",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2e31cfee4c24053b1f72b4ecae6e85f",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c088a26447994e6fa875f9e22a275245",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Move along... I'm enjoying the beach alone!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Passe ton chemin... Je profite seul de la plage !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a serene scene at Mer Andaman, Thailand. A traditional long-tail boat floats on calm waters near a rocky outcrop. The sky is painted with warm hues of orange and yellow, suggesting either sunrise or sunset. A single cloud is illuminated by the sunlight, adding to the tranquil atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un bateau traditionnel thaïlandais flottant paisiblement sur la mer Andaman au coucher du soleil. À gauche, une formation rocheuse se dresse, ajoutant un contraste saisissant avec le ciel doré et les eaux calmes."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#MerAndaman #Thailand #Sunset #Sunrise #LongTailBoat #Tranquility #Nature #ScenicView #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#MerAndaman #Thaïlande #CoucherDeSoleil #Paysage #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "143946ca-41b7-4684-98ab-c4fdf4d13359",
    "mediaKey": "2ca2ebe1-de6a-4311-94d5-caa0c05a9163"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Mer Andaman, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Mer Andaman, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Serenity of the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Mer d'Andaman]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/passing-by-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/passing-by-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Mer Andaman",
  "Thailand",
  "long-tail boat",
  "sunset",
  "sunrise",
  "rocky outcrop",
  "calm waters",
  "serene",
  "traditional boat"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bateau",
  "mer",
  "coucher de soleil",
  "rocher",
  "Thaïlande",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Passe ton chemin... Je profite seul de la plage !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Serenity of the Andaman Sea]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Mer d'Andaman]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>