<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e743ba5-aea0-49aa-a92d-8e0055e56395" Alias="La place Rogier" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LaPlaceRogier</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="La place Rogier">
      <Name Culture="en">Rogier Square</Name>
      <Name Culture="fr">La place Rogier</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/91ac2bb7d56e4328acc628d0a17bb4db"
      },
      {
        "contentUdi": "umb://element/5e3dca1773de465d823afba641ebb6db"
      },
      {
        "contentUdi": "umb://element/7c7b9e6f7c294c53a7e1f40af4103459"
      },
      {
        "contentUdi": "umb://element/781267954b7c40b2987e4504d532b7aa"
      },
      {
        "contentUdi": "umb://element/934883ff4e8c4a42a03af0e0bcb74073"
      },
      {
        "contentUdi": "umb://element/c2a8f825f9914b1da5647fa811273775"
      },
      {
        "contentUdi": "umb://element/203ef4a4271f4f779335005d79d7623c"
      },
      {
        "contentUdi": "umb://element/fbf3dd395278472aad214cd2e5be6da1"
      },
      {
        "contentUdi": "umb://element/1ca34916ac804fd6912898f65188fa2f"
      },
      {
        "contentUdi": "umb://element/a1f2fa2e665d49cf8a45342db2906700"
      },
      {
        "contentUdi": "umb://element/2477ebbb30c049029be5a0dde35a035e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91ac2bb7d56e4328acc628d0a17bb4db",
      "value": "ciel",
      "confidence": "0.9982564449310303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e3dca1773de465d823afba641ebb6db",
      "value": "bâtiment",
      "confidence": "0.9931541681289673"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c7b9e6f7c294c53a7e1f40af4103459",
      "value": "nuage",
      "confidence": "0.9899234771728516"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/781267954b7c40b2987e4504d532b7aa",
      "value": "plein air",
      "confidence": "0.9777985215187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/934883ff4e8c4a42a03af0e0bcb74073",
      "value": "gratte-ciel",
      "confidence": "0.8547689914703369"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2a8f825f9914b1da5647fa811273775",
      "value": "Bâtiment commercial",
      "confidence": "0.8512200117111206"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/203ef4a4271f4f779335005d79d7623c",
      "value": "ville",
      "confidence": "0.8486095666885376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbf3dd395278472aad214cd2e5be6da1",
      "value": "sol",
      "confidence": "0.7880676984786987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ca34916ac804fd6912898f65188fa2f",
      "value": "rue",
      "confidence": "0.7692192792892456"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1f2fa2e665d49cf8a45342db2906700",
      "value": "personne",
      "confidence": "0.6809792518615723"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2477ebbb30c049029be5a0dde35a035e",
      "value": "architecture",
      "confidence": "0.5948461890220642"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4d78f65ee2624c189b3dae1bcab5a354"
      },
      {
        "contentUdi": "umb://element/50532ab855f548d8b0184e90c20de58b"
      },
      {
        "contentUdi": "umb://element/31961b39c8dc4fc89401035c8a00f51c"
      },
      {
        "contentUdi": "umb://element/c5c30c3bb7464cd1af5d7fff987244cf"
      },
      {
        "contentUdi": "umb://element/5fe6a5cb86b847768ed3261b3a06c195"
      },
      {
        "contentUdi": "umb://element/0c35ec19efa3475e83c31bdd11790839"
      },
      {
        "contentUdi": "umb://element/3b8ac7342a614c769c6b74bc35ab70af"
      },
      {
        "contentUdi": "umb://element/c806950c744f4d8f932b20e3721a2a11"
      },
      {
        "contentUdi": "umb://element/a0339308096a451baa0bd5187c20b21e"
      },
      {
        "contentUdi": "umb://element/a58a973dd39243bb8705832515a52b44"
      },
      {
        "contentUdi": "umb://element/630b60508e41438982f118d1ebb6cd17"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d78f65ee2624c189b3dae1bcab5a354",
      "value": "ciel",
      "confidence": "0.9982564449310303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50532ab855f548d8b0184e90c20de58b",
      "value": "bâtiment",
      "confidence": "0.9931541681289673"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31961b39c8dc4fc89401035c8a00f51c",
      "value": "nuage",
      "confidence": "0.9899234771728516"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c5c30c3bb7464cd1af5d7fff987244cf",
      "value": "plein air",
      "confidence": "0.9777985215187073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fe6a5cb86b847768ed3261b3a06c195",
      "value": "gratte-ciel",
      "confidence": "0.8547689914703369"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c35ec19efa3475e83c31bdd11790839",
      "value": "Bâtiment commercial",
      "confidence": "0.8512200117111206"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b8ac7342a614c769c6b74bc35ab70af",
      "value": "ville",
      "confidence": "0.8486095666885376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c806950c744f4d8f932b20e3721a2a11",
      "value": "sol",
      "confidence": "0.7880676984786987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a0339308096a451baa0bd5187c20b21e",
      "value": "rue",
      "confidence": "0.7692192792892456"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a58a973dd39243bb8705832515a52b44",
      "value": "personne",
      "confidence": "0.6809792518615723"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/630b60508e41438982f118d1ebb6cd17",
      "value": "architecture",
      "confidence": "0.5948461890220642"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Urban UFO, it's a bit more stylish in the sun.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>OVNI urbain, au soleil c'est un peu plus stylé.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a modern, circular architectural structure located in Brussels, Belgium. The sun shines brightly, creating luminous reflections on the structure and surrounding buildings. People can be seen moving around the square, adding a touch of life to the urban scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une structure architecturale moderne et circulaire située à Bruxelles, Belgique. Le soleil brille intensément, créant des reflets lumineux sur la structure et les bâtiments environnants. On peut voir des personnes se déplaçant autour de la place, ajoutant une touche de vie à la scène urbaine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #architecture #modern #urban #geometric]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #moderne #structurecirculaire #soleil #scèneurbaine]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "72b21425-20e1-4937-b523-120be0453253",
    "mediaKey": "8469b787-c399-467a-942a-2c0eb56ff49a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[OVNI urbain, au soleil c'est un peu plus stylé.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier : Un OVNI urbain à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Rogier Square: An Urban UFO in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier : Un OVNI urbain à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/place-rogier-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/place-rogier-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "modern",
  "circular structure",
  "sun",
  "luminous reflections",
  "urban scene"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "moderne",
  "structure circulaire",
  "soleil",
  "reflets lumineux",
  "scène urbaine"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[OVNI urbain, au soleil c'est un peu plus stylé.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Rogier Square: An Urban UFO in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier : Un OVNI urbain à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>