<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cbb5d9a-c0b5-42ce-997b-5d7e3ed9a0af" Alias="Lagon à Koh Phi Phi" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/LagonAKohPhiPhi</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-07T15:16:08</CreateDate>
    <NodeName Default="Lagon à Koh Phi Phi">
      <Name Culture="en">Lagoon at Koh Phi Phi</Name>
      <Name Culture="fr">Lagon à Koh Phi Phi</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A lagoon at Koh Phi Phi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un lagon de Koh Phi&nbsp; Phi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-07T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases a stunning view of Koh Phi Phi in Thailand. It features towering limestone cliffs covered in lush greenery, flanking a narrow passage of crystal-clear turquoise water. A traditional long-tail boat with a few people on board is seen navigating the serene waters, adding a touch of local culture to the picturesque landscape."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un paysage spectaculaire de Koh Phi Phi en Thaïlande. On y voit une mer turquoise cristalline entourée de falaises imposantes couvertes de végétation luxuriante. Une petite embarcation traditionnelle thaïlandaise flotte paisiblement sur l'eau."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#KohPhiPhi #Thailand #Nature #ScenicView #Travel #LimestoneCliffs #CrystalClearWater #LongTailBoat]]></Value>
      <Value Culture="fr"><![CDATA[#KohPhiPhi #Thaïlande #Nature #Paysage #Voyage #Aventure #Mer #Falaises]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "30f15332-0cef-4356-9e43-a209400d18ad",
    "mediaKey": "33d33a17-e4d8-44a9-816f-c709d8485918"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le lagon enchanteur de Koh Phi Phi avec ses eaux turquoise et ses falaises majestueuses.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le lagon enchanteur de Koh Phi Phi avec ses eaux turquoise et ses falaises majestueuses.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Escape to the Lagoon of Koh Phi Phi]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Tropicale à Koh Phi Phi]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/lagoon-in-the-andaman-sea-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/lagoon-in-the-andaman-sea-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Koh Phi Phi",
  "Thailand",
  "limestone cliffs",
  "lush greenery",
  "crystal-clear water",
  "long-tail boat",
  "serene",
  "nature",
  "scenic"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Koh Phi Phi",
  "Thaïlande",
  "mer",
  "falaises",
  "végétation",
  "bateau",
  "paysage",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le lagon enchanteur de Koh Phi Phi avec ses eaux turquoise et ses falaises majestueuses.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Escape to the Lagoon of Koh Phi Phi]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Tropicale à Koh Phi Phi]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>