<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ae96599-5660-4d5a-9a4b-a10749d414e3" Alias="Layout" Level="4">
  <Info>
    <Parent Key="de4e87e8-fd7b-4234-acd1-fbac73b81910">Settings</Parent>
    <Path>/Waaw/Data/Settings/Layout</Path>
    <Trashed>false</Trashed>
    <ContentType>layoutSettings</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Layout" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <theme>
      <Value><![CDATA[waaw]]></Value>
    </theme>
  </Properties>
</Content>