<?xml version="1.0" encoding="utf-8"?>
<Content Key="33e59055-f7b8-487f-86eb-88058e411d6d" Alias="Le Bouddha couché" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/LeBouddhaCouche</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T19:33:00</CreateDate>
    <NodeName Default="Le Bouddha couché">
      <Name Culture="en">The Reclining Buddha</Name>
      <Name Culture="fr">Le Bouddha couché</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c7621f9932b04e67a4988bb21feed3b7"
      },
      {
        "contentUdi": "umb://element/650cc3b652ae42cebb63ac21bff4db0d"
      },
      {
        "contentUdi": "umb://element/505f7703760848f4bda0525a7092c336"
      },
      {
        "contentUdi": "umb://element/270061b263b64117a92cc1f141d281c5"
      },
      {
        "contentUdi": "umb://element/36286e897e474afcb5ab918751b957fe"
      },
      {
        "contentUdi": "umb://element/a485f5aa9563460dafab9e3249df1331"
      },
      {
        "contentUdi": "umb://element/be1257d995764358af78e2a7a8edd901"
      },
      {
        "contentUdi": "umb://element/43ccfc4c2b6747c0bf714d7e9075f289"
      },
      {
        "contentUdi": "umb://element/74ce896856944847a8b37a7e9d69b64c"
      },
      {
        "contentUdi": "umb://element/aae1f02245a1400c8b45dc6a75c28e38"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c7621f9932b04e67a4988bb21feed3b7",
      "value": "statue",
      "confidence": "0.9885486364364624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/650cc3b652ae42cebb63ac21bff4db0d",
      "value": "art",
      "confidence": "0.9193993806838989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/505f7703760848f4bda0525a7092c336",
      "value": "sculpture",
      "confidence": "0.9152921438217163"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/270061b263b64117a92cc1f141d281c5",
      "value": "jaune",
      "confidence": "0.9134514331817627"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36286e897e474afcb5ab918751b957fe",
      "value": "bronze",
      "confidence": "0.913108766078949"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a485f5aa9563460dafab9e3249df1331",
      "value": "Siddhartha Gautama",
      "confidence": "0.856526255607605"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be1257d995764358af78e2a7a8edd901",
      "value": "laiton",
      "confidence": "0.8467609882354736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43ccfc4c2b6747c0bf714d7e9075f289",
      "value": "bâtiment",
      "confidence": "0.8153086304664612"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74ce896856944847a8b37a7e9d69b64c",
      "value": "temple",
      "confidence": "0.7751802802085876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aae1f02245a1400c8b45dc6a75c28e38",
      "value": "or",
      "confidence": "0.7460321187973022"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c7621f9932b04e67a4988bb21feed3b7"
      },
      {
        "contentUdi": "umb://element/650cc3b652ae42cebb63ac21bff4db0d"
      },
      {
        "contentUdi": "umb://element/505f7703760848f4bda0525a7092c336"
      },
      {
        "contentUdi": "umb://element/270061b263b64117a92cc1f141d281c5"
      },
      {
        "contentUdi": "umb://element/36286e897e474afcb5ab918751b957fe"
      },
      {
        "contentUdi": "umb://element/a485f5aa9563460dafab9e3249df1331"
      },
      {
        "contentUdi": "umb://element/be1257d995764358af78e2a7a8edd901"
      },
      {
        "contentUdi": "umb://element/43ccfc4c2b6747c0bf714d7e9075f289"
      },
      {
        "contentUdi": "umb://element/74ce896856944847a8b37a7e9d69b64c"
      },
      {
        "contentUdi": "umb://element/aae1f02245a1400c8b45dc6a75c28e38"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c7621f9932b04e67a4988bb21feed3b7",
      "value": "statue",
      "confidence": "0.9885486364364624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/650cc3b652ae42cebb63ac21bff4db0d",
      "value": "art",
      "confidence": "0.9193993806838989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/505f7703760848f4bda0525a7092c336",
      "value": "sculpture",
      "confidence": "0.9152921438217163"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/270061b263b64117a92cc1f141d281c5",
      "value": "jaune",
      "confidence": "0.9134514331817627"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36286e897e474afcb5ab918751b957fe",
      "value": "bronze",
      "confidence": "0.913108766078949"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a485f5aa9563460dafab9e3249df1331",
      "value": "Siddhartha Gautama",
      "confidence": "0.856526255607605"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be1257d995764358af78e2a7a8edd901",
      "value": "laiton",
      "confidence": "0.8467609882354736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43ccfc4c2b6747c0bf714d7e9075f289",
      "value": "bâtiment",
      "confidence": "0.8153086304664612"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74ce896856944847a8b37a7e9d69b64c",
      "value": "temple",
      "confidence": "0.7751802802085876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aae1f02245a1400c8b45dc6a75c28e38",
      "value": "or",
      "confidence": "0.7460321187973022"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The reclining Buddha of the Grand Temple of Bangkok (Wat Pho)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le bouddha couché du grand temple de Bangkok (Wat Pho)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the Reclining Buddha statue in Wat Pho, Bangkok, Thailand. The statue is massive and golden, lying on its side with intricate detailing on its head and body. The surrounding walls are adorned with ornate patterns and decorations, enhancing the grandeur of the statue."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue rapprochée de la tête et du haut du torse d'une statue dorée de Bouddha couché, située à Bangkok, Thaïlande. La statue est entourée de murs richement décorés avec des motifs complexes et colorés."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RecliningBuddha #WatPho #Bangkok #Thailand #Buddhism #Temple #GoldenStatue #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#Bouddha #Statue #Bangkok #Thaïlande #Temple #Art #Culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "b8434000-895a-43da-8fb0-f6471fa46d97",
    "mediaKey": "6228917a-8cd7-4f87-bbb0-92ebd0970366"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue dorée du Bouddha couché à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue dorée du Bouddha couché à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Reclining Buddha of Wat Pho]]></Value>
      <Value Culture="fr"><![CDATA[Le Bouddha Couché de Wat Pho]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/the-lying-bouddha-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/the-lying-bouddha-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Reclining Buddha",
  "Wat Pho",
  "Bangkok",
  "Thailand",
  "statue",
  "golden",
  "Buddhism",
  "temple",
  "ornate"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bouddha",
  "statue",
  "doré",
  "Bangkok",
  "Thaïlande",
  "temple",
  "décoration",
  "motifs"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la majestueuse statue dorée du Bouddha couché à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Reclining Buddha of Wat Pho]]></Value>
      <Value Culture="fr"><![CDATA[Le Bouddha Couché de Wat Pho]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>