<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0d3533b-d09f-4152-a2c3-1eb937ee6147" Alias="Le château de Prague #2" Level="104">
  <Info>
    <Parent Key="8583a9d2-380b-4c47-bec2-6f838f81eed8">Tchéquie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Tchequie/LeChateauDePrague2</Path>
    <Trashed Parent="8583a9d2-380b-4c47-bec2-6f838f81eed8">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Le château de Prague #2">
      <Name Culture="en">Prague Castle #2</Name>
      <Name Culture="fr">Le château de Prague #2</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Sunset over Prague Castle</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Coucher de soleil sur le château de Prague</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a panoramic view of Prague, the capital of the Czech Republic, at sunset. You can see the famous Prague Castle dominating the city with its Gothic towers. Below, the Vltava River flows through the city, with several boats moored and a bridge bustling with trams and cars. The historic buildings with red roofs and green spaces add to the beauty of this picturesque urban scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue panoramique de Prague, la capitale de la Tchéquie, au coucher du soleil. On peut voir le célèbre château de Prague dominant la ville avec ses tours gothiques. En dessous, la rivière Vltava traverse la ville, avec plusieurs bateaux amarrés et un pont animé par des tramways et des voitures. Les bâtiments historiques aux toits rouges et les espaces verts ajoutent à la beauté de cette scène urbaine pittoresque."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Prague #CzechRepublic #sunset #river #historicalbuildings #travel #architecture #beautifuldestinations]]></Value>
      <Value Culture="fr"><![CDATA[#Prague #Tchéquie #CoucherDeSoleil #ChâteauDePrague #RivièreVltava #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "88d6a6f6-e571-4c74-b1b8-f03c7847af21",
    "mediaKey": "ef924b92-86c5-41f1-9df8-0f8c2f0c339e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Prague, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Prague, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du château de Prague au crépuscule, avec ses tours gothiques et la rivière Vltava scintillante.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur le Château de Prague]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunset over Prague Castle]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur le Château de Prague]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-sunset-on-prague-castle-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-sunset-on-prague-castle-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Prague",
  "Czech Republic",
  "castle",
  "Vltava River",
  "sunset",
  "historic buildings",
  "bridge",
  "boats"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Prague",
  "Tchéquie",
  "château",
  "rivière Vltava",
  "coucher de soleil",
  "bâtiments historiques",
  "pont",
  "bateaux"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du château de Prague au crépuscule, avec ses tours gothiques et la rivière Vltava scintillante.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunset over Prague Castle]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur le Château de Prague]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>