<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5e9aec0-cf56-4ba2-ad83-7f0a08923705" Alias="Le centre de l'univers" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/LeCentreDeLunivers</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T20:04:00</CreateDate>
    <NodeName Default="Le centre de l'univers">
      <Name Culture="en">The Center of the Universe</Name>
      <Name Culture="fr">Le centre de l'univers</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5208956601754fb9beac2cffc235fe40"
      },
      {
        "contentUdi": "umb://element/e797dc298a90481da01eebc738d525ed"
      },
      {
        "contentUdi": "umb://element/bd8ac0b4229b441ca3a032338ae75293"
      },
      {
        "contentUdi": "umb://element/aaf59da90009418ab1fcb1cac4eef033"
      },
      {
        "contentUdi": "umb://element/3ce784bfa0d847f78531cacebf63598c"
      },
      {
        "contentUdi": "umb://element/15b78977bd634c548f50e11cab8f6563"
      },
      {
        "contentUdi": "umb://element/fceb4c6f34c74490b15093b28de8037a"
      },
      {
        "contentUdi": "umb://element/9a8dd3dcada24cd89033c974bbc6faf8"
      },
      {
        "contentUdi": "umb://element/42110d9d4afd40a397d209f18f765d09"
      },
      {
        "contentUdi": "umb://element/7d5bce0806ce44d4abbc0d3c8c662730"
      },
      {
        "contentUdi": "umb://element/88a0da751e3840b9964747b17c9ecca5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5208956601754fb9beac2cffc235fe40",
      "value": "plein air",
      "confidence": "0.9923033714294434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e797dc298a90481da01eebc738d525ed",
      "value": "nuage",
      "confidence": "0.9920870065689087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd8ac0b4229b441ca3a032338ae75293",
      "value": "ciel",
      "confidence": "0.9881724119186401"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aaf59da90009418ab1fcb1cac4eef033",
      "value": "arbre",
      "confidence": "0.9796832799911499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ce784bfa0d847f78531cacebf63598c",
      "value": "plante",
      "confidence": "0.9318109750747681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15b78977bd634c548f50e11cab8f6563",
      "value": "lac",
      "confidence": "0.9211022853851318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fceb4c6f34c74490b15093b28de8037a",
      "value": "eau",
      "confidence": "0.9119930863380432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a8dd3dcada24cd89033c974bbc6faf8",
      "value": "Attraction touristique",
      "confidence": "0.8634951114654541"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42110d9d4afd40a397d209f18f765d09",
      "value": "parc à thème",
      "confidence": "0.6502296924591064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d5bce0806ce44d4abbc0d3c8c662730",
      "value": "parc",
      "confidence": "0.5569896101951599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88a0da751e3840b9964747b17c9ecca5",
      "value": "art",
      "confidence": "0.40897756814956665"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5208956601754fb9beac2cffc235fe40"
      },
      {
        "contentUdi": "umb://element/e797dc298a90481da01eebc738d525ed"
      },
      {
        "contentUdi": "umb://element/bd8ac0b4229b441ca3a032338ae75293"
      },
      {
        "contentUdi": "umb://element/aaf59da90009418ab1fcb1cac4eef033"
      },
      {
        "contentUdi": "umb://element/3ce784bfa0d847f78531cacebf63598c"
      },
      {
        "contentUdi": "umb://element/15b78977bd634c548f50e11cab8f6563"
      },
      {
        "contentUdi": "umb://element/fceb4c6f34c74490b15093b28de8037a"
      },
      {
        "contentUdi": "umb://element/9a8dd3dcada24cd89033c974bbc6faf8"
      },
      {
        "contentUdi": "umb://element/42110d9d4afd40a397d209f18f765d09"
      },
      {
        "contentUdi": "umb://element/7d5bce0806ce44d4abbc0d3c8c662730"
      },
      {
        "contentUdi": "umb://element/88a0da751e3840b9964747b17c9ecca5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5208956601754fb9beac2cffc235fe40",
      "value": "plein air",
      "confidence": "0.9923033714294434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e797dc298a90481da01eebc738d525ed",
      "value": "nuage",
      "confidence": "0.9920870065689087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd8ac0b4229b441ca3a032338ae75293",
      "value": "ciel",
      "confidence": "0.9881724119186401"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aaf59da90009418ab1fcb1cac4eef033",
      "value": "arbre",
      "confidence": "0.9796832799911499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ce784bfa0d847f78531cacebf63598c",
      "value": "plante",
      "confidence": "0.9318109750747681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15b78977bd634c548f50e11cab8f6563",
      "value": "lac",
      "confidence": "0.9211022853851318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fceb4c6f34c74490b15093b28de8037a",
      "value": "eau",
      "confidence": "0.9119930863380432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a8dd3dcada24cd89033c974bbc6faf8",
      "value": "Attraction touristique",
      "confidence": "0.8634951114654541"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42110d9d4afd40a397d209f18f765d09",
      "value": "parc à thème",
      "confidence": "0.6502296924591064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d5bce0806ce44d4abbc0d3c8c662730",
      "value": "parc",
      "confidence": "0.5569896101951599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88a0da751e3840b9964747b17c9ecca5",
      "value": "art",
      "confidence": "0.40897756814956665"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The ancient city - Magnificent colorful construction, believed to be the center of the universe</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La cité ancienne - Magnifique construction tout en couleurs, qui serait le centre de l'univers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a stunning architectural structure in Bangkok, Thailand. The scene features a beautifully ornate temple with intricate designs and a multi-tiered roof. In the foreground, there is a golden bridge leading to the temple, crossing over a body of water. A large, colorful sculpture resembling a fish with its mouth wide open is situated in the water, adding a mythical and artistic element to the scene. The lush greenery and clear sky enhance the serene and majestic atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un temple traditionnel thaïlandais situé à Bangkok, Thaïlande. Le temple est orné de détails architecturaux complexes et se trouve au bord d'un plan d'eau. Un pont doré mène au temple, et à droite, une sculpture géante représentant une créature mythologique avec une bouche ouverte est visible."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Architecture #Bridge #Water #Sculpture #Fish #Mythical #Ornate #Greenery #Sky]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Thaïlande #Bangkok #architecture #pont #sculpture #eau #mythologie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "e64ad14c-23df-4166-9aaa-b501d940d69b",
    "mediaKey": "43876164-0edf-4f57-98d4-c4e0f6ab109c"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une cité ancienne aux couleurs éclatantes, prétendue être le centre de l'univers.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une cité ancienne aux couleurs éclatantes, prétendue être le centre de l'univers.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: A Breathtaking Thai Temple]]></Value>
      <Value Culture="fr"><![CDATA[Le Centre de l'Univers]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/world-is-mine-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/world-is-mine-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Bangkok",
  "Thailand",
  "temple",
  "architecture",
  "bridge",
  "water",
  "sculpture",
  "fish",
  "mythical",
  "ornate",
  "greenery",
  "sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Thaïlande",
  "Bangkok",
  "architecture",
  "pont",
  "sculpture",
  "eau",
  "mythologie"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une cité ancienne aux couleurs éclatantes, prétendue être le centre de l'univers.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: A Breathtaking Thai Temple]]></Value>
      <Value Culture="fr"><![CDATA[Le Centre de l'Univers]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>