<?xml version="1.0" encoding="utf-8"?>
<Content Key="21b9205f-6439-4909-9607-04643d240328" Alias="Le canal de Bruxelles #1" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LeCanalDeBruxelles1</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Le canal de Bruxelles #1">
      <Name Culture="en">The Brussels Canal #1</Name>
      <Name Culture="fr">Le canal de Bruxelles #1</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b1feae8b05d940e8b0a2527a4a3ceebe"
      },
      {
        "contentUdi": "umb://element/21d68059eb2b4bd4a6efc19da3e3d359"
      },
      {
        "contentUdi": "umb://element/58fd5a4b6f1d413b80a57e158a448b2d"
      },
      {
        "contentUdi": "umb://element/7d13e1697f4c46f8b3d8c14e875d56b4"
      },
      {
        "contentUdi": "umb://element/cfa53abbf4c04fcf8ae6a0d2a6f0fde3"
      },
      {
        "contentUdi": "umb://element/1c8d7a38ebf54ba9a29c1062e0d5c662"
      },
      {
        "contentUdi": "umb://element/2939c19361e94f5e8e46e5437a672961"
      },
      {
        "contentUdi": "umb://element/ba6894218c6847c5be4da07be2bfb0e3"
      },
      {
        "contentUdi": "umb://element/24f8c7476300484c9b86c3f5782a16f8"
      },
      {
        "contentUdi": "umb://element/ebd26fa57e51472d83364e9533d1b914"
      },
      {
        "contentUdi": "umb://element/db9e685809aa4befa8d9a843b2338c96"
      },
      {
        "contentUdi": "umb://element/996004b1c187408c800945415ed1971d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1feae8b05d940e8b0a2527a4a3ceebe",
      "value": "plein air",
      "confidence": "0.9977205991744995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/21d68059eb2b4bd4a6efc19da3e3d359",
      "value": "ciel",
      "confidence": "0.9900562763214111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58fd5a4b6f1d413b80a57e158a448b2d",
      "value": "nuage",
      "confidence": "0.9700886011123657"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d13e1697f4c46f8b3d8c14e875d56b4",
      "value": "eau",
      "confidence": "0.9350171089172363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfa53abbf4c04fcf8ae6a0d2a6f0fde3",
      "value": "bâtiment",
      "confidence": "0.920945942401886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1c8d7a38ebf54ba9a29c1062e0d5c662",
      "value": "pont",
      "confidence": "0.9107064008712769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2939c19361e94f5e8e46e5437a672961",
      "value": "lac",
      "confidence": "0.9079844951629639"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba6894218c6847c5be4da07be2bfb0e3",
      "value": "arbre",
      "confidence": "0.9020044803619385"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24f8c7476300484c9b86c3f5782a16f8",
      "value": "rivière",
      "confidence": "0.7623566389083862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ebd26fa57e51472d83364e9533d1b914",
      "value": "hiver",
      "confidence": "0.7232246398925781"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db9e685809aa4befa8d9a843b2338c96",
      "value": "ville",
      "confidence": "0.6606349349021912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/996004b1c187408c800945415ed1971d",
      "value": "tour",
      "confidence": "0.5151726007461548"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fe87fcaf61994165a098dce097b5148e"
      },
      {
        "contentUdi": "umb://element/f33e7ca64d384d91b40615df21276372"
      },
      {
        "contentUdi": "umb://element/583624885ef9404f84bcad34d86378a2"
      },
      {
        "contentUdi": "umb://element/eb2e35c48a9b463faf51ddf6ed87b1ee"
      },
      {
        "contentUdi": "umb://element/15893835f717425ba32852b03764de82"
      },
      {
        "contentUdi": "umb://element/01d281c0cc35439e976b149fd6d479e5"
      },
      {
        "contentUdi": "umb://element/1716f425f39b4b3ab66c7b551c01225c"
      },
      {
        "contentUdi": "umb://element/57e0258c0eee4b17acb2fc1cf56c208b"
      },
      {
        "contentUdi": "umb://element/bc53226b428f43fb99ddc08cd568da05"
      },
      {
        "contentUdi": "umb://element/7077110e0fe84c6fa0cfd1b45cbf9a74"
      },
      {
        "contentUdi": "umb://element/fcb325935b644377a8f449d2d3a05fb3"
      },
      {
        "contentUdi": "umb://element/ebedf769ffc44fe4b11ad46a13213e8f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe87fcaf61994165a098dce097b5148e",
      "value": "plein air",
      "confidence": "0.9977205991744995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f33e7ca64d384d91b40615df21276372",
      "value": "ciel",
      "confidence": "0.9900562763214111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/583624885ef9404f84bcad34d86378a2",
      "value": "nuage",
      "confidence": "0.9700886011123657"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb2e35c48a9b463faf51ddf6ed87b1ee",
      "value": "eau",
      "confidence": "0.9350171089172363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15893835f717425ba32852b03764de82",
      "value": "bâtiment",
      "confidence": "0.920945942401886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01d281c0cc35439e976b149fd6d479e5",
      "value": "pont",
      "confidence": "0.9107064008712769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1716f425f39b4b3ab66c7b551c01225c",
      "value": "lac",
      "confidence": "0.9079844951629639"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/57e0258c0eee4b17acb2fc1cf56c208b",
      "value": "arbre",
      "confidence": "0.9020044803619385"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc53226b428f43fb99ddc08cd568da05",
      "value": "rivière",
      "confidence": "0.7623566389083862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7077110e0fe84c6fa0cfd1b45cbf9a74",
      "value": "hiver",
      "confidence": "0.7232246398925781"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fcb325935b644377a8f449d2d3a05fb3",
      "value": "ville",
      "confidence": "0.6606349349021912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ebedf769ffc44fe4b11ad46a13213e8f",
      "value": "tour",
      "confidence": "0.5151726007461548"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>View of the Brussels canal from the Trooz bridge.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Vue sur le canal de Bruxelles depuis le pont de Trooz.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an urban view of Brussels, Belgium, with a canal in the center. On the right, there are stacked shipping containers adorned with colorful graffiti. In the background, modern buildings can be seen, including a tall residential tower. The sky is cloudy, creating a gray and cold atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue urbaine de Bruxelles, Belgique, avec un canal au centre. À droite, il y a des conteneurs maritimes empilés, ornés de graffitis colorés. À l'arrière-plan, on peut voir des bâtiments modernes, y compris une tour résidentielle haute. Le ciel est nuageux, créant une atmosphère grise et froide."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #UrbanArt #Graffiti #Industrial #RiverView #Cityscape]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #canal #graffitis #urbain #architecture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "deeb4fbc-4f01-481e-ab15-5fe6674c4733",
    "mediaKey": "af5a41a0-c42a-4187-a40e-f8d1aea1e54e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue saisissante du canal de Bruxelles, encadrée par des conteneurs colorés et des bâtiments modernes.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Brussels Canal: An Urban Window]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "canal",
  "containers",
  "graffiti",
  "buildings",
  "tower",
  "urban",
  "cloudy"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "canal",
  "conteneurs",
  "graffitis",
  "bâtiments",
  "tour",
  "urbain",
  "nuageux"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue saisissante du canal de Bruxelles, encadrée par des conteneurs colorés et des bâtiments modernes.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Brussels Canal: An Urban Window]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>