<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce30830e-21a3-4ecb-9496-cbf17416f0f4" Alias="Le centre de l'univers #2" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LeCentreDeLunivers2</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Le centre de l'univers #2">
      <Name Culture="en">The Center of the Universe #2</Name>
      <Name Culture="fr">Le centre de l'univers #2</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a2a0facbd9944378a42409ee1df60f6e"
      },
      {
        "contentUdi": "umb://element/cfc91153b9eb4e5a9a514462da1e00e7"
      },
      {
        "contentUdi": "umb://element/99a5a4a2f091400a9405f6d8808e5413"
      },
      {
        "contentUdi": "umb://element/a84a7af72a5d4377b2621a6006a85286"
      },
      {
        "contentUdi": "umb://element/98c8d1abf76a48bbb85ec3777ca6300d"
      },
      {
        "contentUdi": "umb://element/fec91abd131f454aa0f430efd9050e36"
      },
      {
        "contentUdi": "umb://element/d740b8d4a532431780fbe3d4ace01be1"
      },
      {
        "contentUdi": "umb://element/1760694fecf44089a85503f9ef4eb105"
      },
      {
        "contentUdi": "umb://element/06215b1fee5e47b29850b1f6b795a502"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a2a0facbd9944378a42409ee1df60f6e",
      "value": "ciel",
      "confidence": "0.9919857382774353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfc91153b9eb4e5a9a514462da1e00e7",
      "value": "nuage",
      "confidence": "0.9704521894454956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99a5a4a2f091400a9405f6d8808e5413",
      "value": "bâtiment",
      "confidence": "0.9532321691513062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a84a7af72a5d4377b2621a6006a85286",
      "value": "sanctuaire",
      "confidence": "0.9492343664169312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98c8d1abf76a48bbb85ec3777ca6300d",
      "value": "lieu de culte",
      "confidence": "0.9397664666175842"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fec91abd131f454aa0f430efd9050e36",
      "value": "plein air",
      "confidence": "0.8972657918930054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d740b8d4a532431780fbe3d4ace01be1",
      "value": "Architecture chinoise",
      "confidence": "0.8927158713340759"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1760694fecf44089a85503f9ef4eb105",
      "value": "temple",
      "confidence": "0.8745418787002563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06215b1fee5e47b29850b1f6b795a502",
      "value": "art",
      "confidence": "0.8506624102592468"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bc16af15bf6a4bcb9bdb2d943eadd052"
      },
      {
        "contentUdi": "umb://element/29f200051a1546019be235a8783a4889"
      },
      {
        "contentUdi": "umb://element/babcb020faab407e9dcd24c5ed75715d"
      },
      {
        "contentUdi": "umb://element/8accee6f56d041d89d49dfc50c86dded"
      },
      {
        "contentUdi": "umb://element/cca5e556e6e5471e9e0e2b7581afab06"
      },
      {
        "contentUdi": "umb://element/bbac1ff3df65457f98f1b543eea64aa6"
      },
      {
        "contentUdi": "umb://element/542537aa8cb34090ba1768ea19b4df7e"
      },
      {
        "contentUdi": "umb://element/5b980a093d3b49eaa2761f8541a3c366"
      },
      {
        "contentUdi": "umb://element/99c9c8a9ff2e4aa994cc8866fef8b7fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc16af15bf6a4bcb9bdb2d943eadd052",
      "value": "ciel",
      "confidence": "0.9919857382774353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29f200051a1546019be235a8783a4889",
      "value": "nuage",
      "confidence": "0.9704521894454956"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/babcb020faab407e9dcd24c5ed75715d",
      "value": "bâtiment",
      "confidence": "0.9532321691513062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8accee6f56d041d89d49dfc50c86dded",
      "value": "sanctuaire",
      "confidence": "0.9492343664169312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cca5e556e6e5471e9e0e2b7581afab06",
      "value": "lieu de culte",
      "confidence": "0.9397664666175842"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bbac1ff3df65457f98f1b543eea64aa6",
      "value": "plein air",
      "confidence": "0.8972657918930054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/542537aa8cb34090ba1768ea19b4df7e",
      "value": "Architecture chinoise",
      "confidence": "0.8927158713340759"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b980a093d3b49eaa2761f8541a3c366",
      "value": "temple",
      "confidence": "0.8745418787002563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99c9c8a9ff2e4aa994cc8866fef8b7fa",
      "value": "art",
      "confidence": "0.8506624102592468"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Ancient City - A magnificent construction full of colors, believed to be the center of the universe</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La cité ancienne - Magnifique construction tout en couleurs, qui serait le centre de l'univers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the intricate and ornate architecture of a traditional Thai temple in Bangkok, Thailand. The temple features elaborate carvings, vibrant colors, and statues of Buddha. The roof is adorned with detailed patterns and mythical creatures, reflecting the rich cultural heritage and craftsmanship of Thai architecture."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une partie d'un temple bouddhiste à Bangkok, Thaïlande. Le toit du temple est orné de sculptures complexes et de motifs colorés, typiques de l'architecture thaïlandaise. On peut voir des statues de Bouddha nichées dans les structures du toit, entourées de détails artistiques minutieux."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#ThaiTemple #Bangkok #Thailand #Architecture #CulturalHeritage #Buddha #OrnateDesign]]></Value>
      <Value Culture="fr"><![CDATA[#temple #bouddhiste #Bangkok #Thaïlande #architecture #sculptures #motifs #statues #Bouddha]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c86e03bc-3f30-4cfc-8fdc-bde5b85625e4",
    "mediaKey": "f52f37dc-0f38-4496-a055-ef640b2e39f2"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, orné de sculptures et de motifs colorés.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, orné de sculptures et de motifs colorés.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: The Ancient City]]></Value>
      <Value Culture="fr"><![CDATA[La Cité Ancienne : Centre de l'Univers]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/a-piece-of-art-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/a-piece-of-art-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Thai temple",
  "architecture",
  "Bangkok",
  "Thailand",
  "Buddha statues",
  "ornate design",
  "cultural heritage"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "bouddhiste",
  "Bangkok",
  "Thaïlande",
  "architecture",
  "sculptures",
  "motifs",
  "statues",
  "Bouddha"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, orné de sculptures et de motifs colorés.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: The Ancient City]]></Value>
      <Value Culture="fr"><![CDATA[La Cité Ancienne : Centre de l'Univers]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>