<?xml version="1.0" encoding="utf-8"?>
<Content Key="163ddb0c-4eab-41f9-b990-32c56393190e" Alias="Le centre de l'univers #3" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LeCentreDeLunivers3</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Le centre de l'univers #3">
      <Name Culture="en">The Center of the Universe #3</Name>
      <Name Culture="fr">Le centre de l'univers #3</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2284b34e7fae44a3a8a8ec7fbe814fba"
      },
      {
        "contentUdi": "umb://element/604e80f6b54940c8a19478416a7c64be"
      },
      {
        "contentUdi": "umb://element/e87bef12bf3f4a819552c95e03f14af8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2284b34e7fae44a3a8a8ec7fbe814fba",
      "value": "art",
      "confidence": "0.9655594825744629"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/604e80f6b54940c8a19478416a7c64be",
      "value": "bâtiment",
      "confidence": "0.8965170979499817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e87bef12bf3f4a819552c95e03f14af8",
      "value": "Symétrie",
      "confidence": "0.8425877094268799"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0005319fbb0746288ee21106003fa462"
      },
      {
        "contentUdi": "umb://element/4b290d2239104f2495954495cdb4b09d"
      },
      {
        "contentUdi": "umb://element/5fe333a610974af3bb517e7f6bb2f343"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0005319fbb0746288ee21106003fa462",
      "value": "art",
      "confidence": "0.9655594825744629"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b290d2239104f2495954495cdb4b09d",
      "value": "bâtiment",
      "confidence": "0.8965170979499817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fe333a610974af3bb517e7f6bb2f343",
      "value": "Symétrie",
      "confidence": "0.8425877094268799"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Ancient City - A magnificent, colorful construction that is said to be the center of the universe</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La cité ancienne - Magnifique construction tout en couleurs, qui serait le centre de l'univers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a beautifully ornate ceiling in a temple located in Bangkok, Thailand. The ceiling features intricate carvings and vibrant colors, with a central peacock motif surrounded by various mythological figures and detailed patterns. The craftsmanship and attention to detail are evident in the elaborate designs and rich hues."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un plafond richement décoré d'un temple à Bangkok, Thaïlande. Le centre de l'image est dominé par une grande sculpture d'un paon avec ses plumes déployées. Autour du paon, il y a plusieurs statues de divinités et de figures mythologiques, toutes richement ornées et colorées. Les détails complexes et les couleurs vives créent une scène visuellement impressionnante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#temple #Bangkok #Thailand #art #culture #peacock #mythology #architecture #intricate #vibrant]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Bangkok #Thaïlande #paon #sculpture #art #culture #décoration]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "117cd704-4178-4add-9886-f97a3ff3ac59",
    "mediaKey": "edf884cc-d89f-427e-901c-d14ac43f6c62"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur colorée et mythologique d'un temple à Bangkok, où un paon majestueux règne au centre d'un plafond richement décoré.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur colorée et mythologique d'un temple à Bangkok, où un paon majestueux règne au centre d'un plafond richement décoré.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: A Colorful Ancient City]]></Value>
      <Value Culture="fr"><![CDATA[La Cité Ancienne: Centre de l'Univers]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/the-very-center-of-the-universe-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/the-very-center-of-the-universe-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Bangkok",
  "Thailand",
  "ceiling",
  "ornate",
  "carvings",
  "peacock",
  "mythological figures",
  "patterns",
  "vibrant colors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Bangkok",
  "Thaïlande",
  "paon",
  "sculpture",
  "plafond",
  "décoration",
  "divinités",
  "figures mythologiques"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur colorée et mythologique d'un temple à Bangkok, où un paon majestueux règne au centre d'un plafond richement décoré.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Center of the Universe: A Colorful Ancient City]]></Value>
      <Value Culture="fr"><![CDATA[La Cité Ancienne: Centre de l'Univers]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>