<?xml version="1.0" encoding="utf-8"?>
<Content Key="669aca50-6ff9-4afe-a90a-0bc76c3e0b7b" Alias="Le grand palais de Bangkok" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LeGrandPalaisDeBangkok</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Le grand palais de Bangkok">
      <Name Culture="en">The Grand Palace of Bangkok</Name>
      <Name Culture="fr">Le grand palais de Bangkok</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aab7b9df95524022a2fe76d7d69816f5"
      },
      {
        "contentUdi": "umb://element/439357d062d04dac9dc8823228d17456"
      },
      {
        "contentUdi": "umb://element/2175323b0f1846929ec2a8e45a9ed564"
      },
      {
        "contentUdi": "umb://element/ff865f0683a84a5b888f8dc36decf092"
      },
      {
        "contentUdi": "umb://element/2ae1d6d09fdd4a99a633b84b8d009ae0"
      },
      {
        "contentUdi": "umb://element/a53125f6d5fe4624b0f33dc057bce9c1"
      },
      {
        "contentUdi": "umb://element/ddcfc5eee326449290864b760257b5d9"
      },
      {
        "contentUdi": "umb://element/f6bc0e2c51cb4cda92d7c89c7a970a2a"
      },
      {
        "contentUdi": "umb://element/ba1d4dc399f84e29be4883c96ca60881"
      },
      {
        "contentUdi": "umb://element/67b9bbb5a10f41d7a7af0a477e7e4d15"
      },
      {
        "contentUdi": "umb://element/f86405e596394c63bc35b3ce60474190"
      },
      {
        "contentUdi": "umb://element/c40919e06f304424a1af227f157723aa"
      },
      {
        "contentUdi": "umb://element/cafad08e2e60472bbf8315c57a32226c"
      },
      {
        "contentUdi": "umb://element/8bc24bd4280849468137eb10fe7e2d9b"
      },
      {
        "contentUdi": "umb://element/20bcaeae0fb544dcac0e3e8f7306ec4f"
      },
      {
        "contentUdi": "umb://element/1f841678089d4905a6d4a953feb2ac29"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aab7b9df95524022a2fe76d7d69816f5",
      "value": "nuage",
      "confidence": "0.9978458881378174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/439357d062d04dac9dc8823228d17456",
      "value": "bâtiment",
      "confidence": "0.9935430288314819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2175323b0f1846929ec2a8e45a9ed564",
      "value": "lieu de culte",
      "confidence": "0.9921211004257202"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ff865f0683a84a5b888f8dc36decf092",
      "value": "ciel",
      "confidence": "0.9915961623191833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ae1d6d09fdd4a99a633b84b8d009ae0",
      "value": "plein air",
      "confidence": "0.9871425628662109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a53125f6d5fe4624b0f33dc057bce9c1",
      "value": "sanctuaire",
      "confidence": "0.9669051766395569"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ddcfc5eee326449290864b760257b5d9",
      "value": "Wat",
      "confidence": "0.9140785932540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6bc0e2c51cb4cda92d7c89c7a970a2a",
      "value": "repère",
      "confidence": "0.88627028465271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba1d4dc399f84e29be4883c96ca60881",
      "value": "Dharma",
      "confidence": "0.8851199150085449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67b9bbb5a10f41d7a7af0a477e7e4d15",
      "value": "Lieux sacrés",
      "confidence": "0.8846493363380432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f86405e596394c63bc35b3ce60474190",
      "value": "Temple hindou",
      "confidence": "0.8721097707748413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c40919e06f304424a1af227f157723aa",
      "value": "Architecture chinoise",
      "confidence": "0.8684018850326538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cafad08e2e60472bbf8315c57a32226c",
      "value": "pagode",
      "confidence": "0.8654517531394958"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8bc24bd4280849468137eb10fe7e2d9b",
      "value": "temple",
      "confidence": "0.857758641242981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20bcaeae0fb544dcac0e3e8f7306ec4f",
      "value": "stupa",
      "confidence": "0.7699577808380127"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f841678089d4905a6d4a953feb2ac29",
      "value": "jaune",
      "confidence": "0.6915198564529419"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9ea9e5acb7b14845b0b4956790880558"
      },
      {
        "contentUdi": "umb://element/eae25559bf5f456d88203d96f0fda3a1"
      },
      {
        "contentUdi": "umb://element/df71aac4582448ab889f021c7a4e91e0"
      },
      {
        "contentUdi": "umb://element/98779af64fdb43daa1e86527546eb8f6"
      },
      {
        "contentUdi": "umb://element/50f9e9cfa3c74732ac2e3b4276c5f10b"
      },
      {
        "contentUdi": "umb://element/94514c261b114f71a77ba7c65d05ac53"
      },
      {
        "contentUdi": "umb://element/8fe8fb0f847c417aba22d3c21bfd5460"
      },
      {
        "contentUdi": "umb://element/1a5c388960d24a9994ef31f2ea56dfcc"
      },
      {
        "contentUdi": "umb://element/d4713bdc4e734f8d9cf3b92560dd372c"
      },
      {
        "contentUdi": "umb://element/727d76bf471948fb8f2822150341e5be"
      },
      {
        "contentUdi": "umb://element/18de064a34ba4dc987a8d7be4f18431f"
      },
      {
        "contentUdi": "umb://element/24c8d9e336394f3ba306672707e53ae0"
      },
      {
        "contentUdi": "umb://element/e7b982cc57f64f828793f291ed6a6d77"
      },
      {
        "contentUdi": "umb://element/cbc52b26b478481eb6edc5d5ba4d53fb"
      },
      {
        "contentUdi": "umb://element/994e6733a06343f89e9f51061f721396"
      },
      {
        "contentUdi": "umb://element/75e89165a2a746d682fdb64ba9c93047"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ea9e5acb7b14845b0b4956790880558",
      "value": "nuage",
      "confidence": "0.9978458881378174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eae25559bf5f456d88203d96f0fda3a1",
      "value": "bâtiment",
      "confidence": "0.9935430288314819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df71aac4582448ab889f021c7a4e91e0",
      "value": "lieu de culte",
      "confidence": "0.9921211004257202"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98779af64fdb43daa1e86527546eb8f6",
      "value": "ciel",
      "confidence": "0.9915961623191833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50f9e9cfa3c74732ac2e3b4276c5f10b",
      "value": "plein air",
      "confidence": "0.9871425628662109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94514c261b114f71a77ba7c65d05ac53",
      "value": "sanctuaire",
      "confidence": "0.9669051766395569"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fe8fb0f847c417aba22d3c21bfd5460",
      "value": "Wat",
      "confidence": "0.9140785932540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a5c388960d24a9994ef31f2ea56dfcc",
      "value": "repère",
      "confidence": "0.88627028465271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d4713bdc4e734f8d9cf3b92560dd372c",
      "value": "Dharma",
      "confidence": "0.8851199150085449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/727d76bf471948fb8f2822150341e5be",
      "value": "Lieux sacrés",
      "confidence": "0.8846493363380432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/18de064a34ba4dc987a8d7be4f18431f",
      "value": "Temple hindou",
      "confidence": "0.8721097707748413"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24c8d9e336394f3ba306672707e53ae0",
      "value": "Architecture chinoise",
      "confidence": "0.8684018850326538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7b982cc57f64f828793f291ed6a6d77",
      "value": "pagode",
      "confidence": "0.8654517531394958"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cbc52b26b478481eb6edc5d5ba4d53fb",
      "value": "temple",
      "confidence": "0.857758641242981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/994e6733a06343f89e9f51061f721396",
      "value": "stupa",
      "confidence": "0.7699577808380127"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75e89165a2a746d682fdb64ba9c93047",
      "value": "jaune",
      "confidence": "0.6915198564529419"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Roof of the Grand Palace of Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Toiture du grand palais de Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the intricate architecture of traditional Thai temples in Bangkok, Thailand. The structures are adorned with colorful, ornate details and elaborate designs, set against a partly cloudy sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre des toits ornés et colorés de temples traditionnels à Bangkok, Thaïlande. Les structures sont richement décorées avec des motifs complexes et des couleurs vives, typiques de l'architecture thaïlandaise. Le ciel est partiellement nuageux, ajoutant une belle toile de fond à ces magnifiques édifices."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Architecture #OrnateDesign #Traditional #Travel #Culture]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Bangkok #Thaïlande #architecture #traditionnel #voyage #culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "4fe8980b-fe64-4c0a-89d1-7aa36942c9da",
    "mediaKey": "de5289cc-9c85-4705-b928-24201ed97286"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les toits colorés et ornés des temples traditionnels de Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les toits colorés et ornés des temples traditionnels de Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Architectural Splendor at the Grand Palace of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Le Grand Palais de Bangkok : Un Joyau Architectural]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/the-grand-palace-bangkok-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/the-grand-palace-bangkok-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Bangkok",
  "Thailand",
  "temple",
  "architecture",
  "ornate",
  "traditional",
  "sky",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Bangkok",
  "Thaïlande",
  "architecture",
  "traditionnel",
  "toit",
  "ornement"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les toits colorés et ornés des temples traditionnels de Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Architectural Splendor at the Grand Palace of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Le Grand Palais de Bangkok : Un Joyau Architectural]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>