<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddb3037d-5b8e-4ca0-bf6d-20b88203592b" Alias="Le jardin botanique" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LeJardinBotanique</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Le jardin botanique">
      <Name Culture="en">The Botanical Garden</Name>
      <Name Culture="fr">Le jardin botanique</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ac8fc6f515234f33a2f578bd4b512f0b"
      },
      {
        "contentUdi": "umb://element/f8293992d8764cf7974980c64e8cdcbd"
      },
      {
        "contentUdi": "umb://element/3340bee1e03c4ee089cd9a2b219301a1"
      },
      {
        "contentUdi": "umb://element/0ba7919787da45c2bc2f34cd945059f5"
      },
      {
        "contentUdi": "umb://element/dbdcab58871e4a45aa2d471865a2ee7b"
      },
      {
        "contentUdi": "umb://element/67f67331312b4b9b99d46fbecab4bd06"
      },
      {
        "contentUdi": "umb://element/f7385c0bc14447a084945c855ef8189c"
      },
      {
        "contentUdi": "umb://element/5c5c96556ffa46c28669e984c1c7793a"
      },
      {
        "contentUdi": "umb://element/7c1220e999204a89a364441416aff61c"
      },
      {
        "contentUdi": "umb://element/e38df32c61774fb692fd4edaec2529fb"
      },
      {
        "contentUdi": "umb://element/039397c9d7f14d69a908fc5628584972"
      },
      {
        "contentUdi": "umb://element/6b6e9b28f5634ec8a68e0b5582771444"
      },
      {
        "contentUdi": "umb://element/01c6d9c8dfa94e10879b99bec047ac25"
      },
      {
        "contentUdi": "umb://element/1618a9d38be44b7a9cf3537e64fd9c7e"
      },
      {
        "contentUdi": "umb://element/65c5afbb8e774ba6a91a9e7b3521bd26"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac8fc6f515234f33a2f578bd4b512f0b",
      "value": "nuage",
      "confidence": "0.9976615905761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8293992d8764cf7974980c64e8cdcbd",
      "value": "plein air",
      "confidence": "0.9920153021812439"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3340bee1e03c4ee089cd9a2b219301a1",
      "value": "plante",
      "confidence": "0.9893299341201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ba7919787da45c2bc2f34cd945059f5",
      "value": "ciel",
      "confidence": "0.968001663684845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dbdcab58871e4a45aa2d471865a2ee7b",
      "value": "arbre",
      "confidence": "0.9528238773345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67f67331312b4b9b99d46fbecab4bd06",
      "value": "ville",
      "confidence": "0.9116013646125793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f7385c0bc14447a084945c855ef8189c",
      "value": "bâtiment",
      "confidence": "0.8750011920928955"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c5c96556ffa46c28669e984c1c7793a",
      "value": "Aménagement paysager",
      "confidence": "0.8631234169006348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c1220e999204a89a364441416aff61c",
      "value": "gratte-ciel",
      "confidence": "0.8627735376358032"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e38df32c61774fb692fd4edaec2529fb",
      "value": "parc",
      "confidence": "0.8414666652679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/039397c9d7f14d69a908fc5628584972",
      "value": "herbe",
      "confidence": "0.8314844369888306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b6e9b28f5634ec8a68e0b5582771444",
      "value": "architecture",
      "confidence": "0.7161413431167603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01c6d9c8dfa94e10879b99bec047ac25",
      "value": "jardin",
      "confidence": "0.6022726893424988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1618a9d38be44b7a9cf3537e64fd9c7e",
      "value": "paysage",
      "confidence": "0.5945351719856262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65c5afbb8e774ba6a91a9e7b3521bd26",
      "value": "sol",
      "confidence": "0.5672827959060669"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a7294ea9c8ec4723be5169a39cc7a817"
      },
      {
        "contentUdi": "umb://element/3f116e475e1f42829bc7cd133e979c5b"
      },
      {
        "contentUdi": "umb://element/fa24c815032a44b1bb877bda999d586e"
      },
      {
        "contentUdi": "umb://element/333af6bb04cf4f52a1ec16105ffe2c4b"
      },
      {
        "contentUdi": "umb://element/e5356a62136d47d78a6b862f3ec60066"
      },
      {
        "contentUdi": "umb://element/9ea5ab1a46364f1ba22d00dd16710bd5"
      },
      {
        "contentUdi": "umb://element/95e26a0bf48f4a52acd712776f882b0b"
      },
      {
        "contentUdi": "umb://element/709dacbce4ea4be08b851472dfce5ae8"
      },
      {
        "contentUdi": "umb://element/2790a29a4fa44a709225ec9e006a7df1"
      },
      {
        "contentUdi": "umb://element/12af7b4c8da24b0b82a62ae87040789f"
      },
      {
        "contentUdi": "umb://element/0b13d0be1bd94b10ad880dfbf4a78a5d"
      },
      {
        "contentUdi": "umb://element/9d26e49e9b234fd3aa16f345ae9ccd71"
      },
      {
        "contentUdi": "umb://element/13b3b6d159fc4d8a853c8b293e4171f6"
      },
      {
        "contentUdi": "umb://element/9e51015bca5148a78ffc0b4106a25d93"
      },
      {
        "contentUdi": "umb://element/d93a29c357ff4f5cb36aa617899c832c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7294ea9c8ec4723be5169a39cc7a817",
      "value": "nuage",
      "confidence": "0.9976615905761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f116e475e1f42829bc7cd133e979c5b",
      "value": "plein air",
      "confidence": "0.9920153021812439"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa24c815032a44b1bb877bda999d586e",
      "value": "plante",
      "confidence": "0.9893299341201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/333af6bb04cf4f52a1ec16105ffe2c4b",
      "value": "ciel",
      "confidence": "0.968001663684845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5356a62136d47d78a6b862f3ec60066",
      "value": "arbre",
      "confidence": "0.9528238773345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ea5ab1a46364f1ba22d00dd16710bd5",
      "value": "ville",
      "confidence": "0.9116013646125793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/95e26a0bf48f4a52acd712776f882b0b",
      "value": "bâtiment",
      "confidence": "0.8750011920928955"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/709dacbce4ea4be08b851472dfce5ae8",
      "value": "Aménagement paysager",
      "confidence": "0.8631234169006348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2790a29a4fa44a709225ec9e006a7df1",
      "value": "gratte-ciel",
      "confidence": "0.8627735376358032"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12af7b4c8da24b0b82a62ae87040789f",
      "value": "parc",
      "confidence": "0.8414666652679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b13d0be1bd94b10ad880dfbf4a78a5d",
      "value": "herbe",
      "confidence": "0.8314844369888306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d26e49e9b234fd3aa16f345ae9ccd71",
      "value": "architecture",
      "confidence": "0.7161413431167603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13b3b6d159fc4d8a853c8b293e4171f6",
      "value": "jardin",
      "confidence": "0.6022726893424988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e51015bca5148a78ffc0b4106a25d93",
      "value": "paysage",
      "confidence": "0.5945351719856262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d93a29c357ff4f5cb36aa617899c832c",
      "value": "sol",
      "confidence": "0.5672827959060669"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Lost amidst skyscrapers, the botanical garden is a place for a peaceful stroll.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Perdu au milieu de gratte-ciel, le jardin botanique est un lieu de promenade tranquille.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a well-maintained garden with paved paths and statues, located in Brussels, Belgium. In the background, you can see modern glass and steel buildings, as well as a historic building with a glass dome. The sky is cloudy, giving a dramatic ambiance to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un jardin bien entretenu avec des allées pavées et des statues, situé à Bruxelles, Belgique. En arrière-plan, on peut voir des bâtiments modernes en verre et en acier, ainsi qu'un bâtiment historique avec un dôme en verre. Le ciel est nuageux, ce qui donne une ambiance dramatique à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #garden #architecture #modern #historic #scenic #greenery #overcast]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #jardin #architecture #histoire #modernité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c0f5d915-88f7-459a-bf6a-746e4361ad69",
    "mediaKey": "c4dea833-a116-4796-a9cd-1a0befacad4f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un havre de paix au cœur de la ville.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Botanical Garden of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "garden",
  "statues",
  "modern buildings",
  "historic building",
  "dome",
  "cloudy sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "jardin",
  "statues",
  "bâtiments modernes",
  "bâtiment historique",
  "dôme",
  "ciel nuageux"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un havre de paix au cœur de la ville.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Botanical Garden of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>