<?xml version="1.0" encoding="utf-8"?>
<Content Key="f61c0f7a-3881-4b8a-8748-44f8eb660cbe" Alias="Le marché flottant d'Ayutthaya" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/LeMarcheFlottantDAyutthaya</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Le marché flottant d'Ayutthaya">
      <Name Culture="en">The Ayutthaya Floating Market</Name>
      <Name Culture="fr">Le marché flottant d'Ayutthaya</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73f34b7f53ad48b3a5ee16b3c5763424"
      },
      {
        "contentUdi": "umb://element/d37f93a1a3df4ca69aa3e103f873f76c"
      },
      {
        "contentUdi": "umb://element/ca3a12e00d1c44509945f1c643c565e8"
      },
      {
        "contentUdi": "umb://element/54c4b3a501b443aaabda3824ce9e8465"
      },
      {
        "contentUdi": "umb://element/89deca3f99314b7d838aa0c7c7dec311"
      },
      {
        "contentUdi": "umb://element/3bc4844cb769435082f86c2db8738dfd"
      },
      {
        "contentUdi": "umb://element/178b98ed54d04265b30253a2d8d84dcb"
      },
      {
        "contentUdi": "umb://element/8e4613f3aba94e639b525de7d5380b95"
      },
      {
        "contentUdi": "umb://element/556d3fc8fc8b44d39fd6dd223e5d7ab0"
      },
      {
        "contentUdi": "umb://element/860533f6fe5e46a09392e4432ed5a792"
      },
      {
        "contentUdi": "umb://element/8bffddfffc7648fd863748d6db7ea7ef"
      },
      {
        "contentUdi": "umb://element/b6bb2bbba0bf4da8a31716eb37b9a6d2"
      },
      {
        "contentUdi": "umb://element/6b0470aaf8ba4b078b04a6a5a6c9afdc"
      },
      {
        "contentUdi": "umb://element/bd78653928744fbda8e8b2d663cb511a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/73f34b7f53ad48b3a5ee16b3c5763424",
      "value": "plein air",
      "confidence": "0.9853277206420898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d37f93a1a3df4ca69aa3e103f873f76c",
      "value": "personne",
      "confidence": "0.9610103368759155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca3a12e00d1c44509945f1c643c565e8",
      "value": "habits",
      "confidence": "0.949865460395813"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54c4b3a501b443aaabda3824ce9e8465",
      "value": "eau",
      "confidence": "0.9417394995689392"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89deca3f99314b7d838aa0c7c7dec311",
      "value": "Vente",
      "confidence": "0.9077332019805908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3bc4844cb769435082f86c2db8738dfd",
      "value": "nourriture",
      "confidence": "0.9016327857971191"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/178b98ed54d04265b30253a2d8d84dcb",
      "value": "Colporteur",
      "confidence": "0.8875554800033569"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e4613f3aba94e639b525de7d5380b95",
      "value": "marché",
      "confidence": "0.8595737218856812"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/556d3fc8fc8b44d39fd6dd223e5d7ab0",
      "value": "femme",
      "confidence": "0.6641287803649902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/860533f6fe5e46a09392e4432ed5a792",
      "value": "légume",
      "confidence": "0.635032057762146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8bffddfffc7648fd863748d6db7ea7ef",
      "value": "place de marché",
      "confidence": "0.6307797431945801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6bb2bbba0bf4da8a31716eb37b9a6d2",
      "value": "sol",
      "confidence": "0.5582470893859863"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b0470aaf8ba4b078b04a6a5a6c9afdc",
      "value": "rue",
      "confidence": "0.5471871495246887"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd78653928744fbda8e8b2d663cb511a",
      "value": "rivière",
      "confidence": "0.4034305214881897"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fcea6be65a0d41eba35194dd7dce17ce"
      },
      {
        "contentUdi": "umb://element/20f719e44e934f82a85e7227fea0104e"
      },
      {
        "contentUdi": "umb://element/23b5cc309a2a4ccb9f123d9caa385808"
      },
      {
        "contentUdi": "umb://element/446de849137b4d2490c500b5868b65c0"
      },
      {
        "contentUdi": "umb://element/07ebfd78bd694f36a873d00307fb8094"
      },
      {
        "contentUdi": "umb://element/0d06f05e1f2a45f1988f650cf7bf0b90"
      },
      {
        "contentUdi": "umb://element/02d78ac156b34caeb7cd7b064de691c7"
      },
      {
        "contentUdi": "umb://element/02fd22eea84a45eb90c48795f43ecd28"
      },
      {
        "contentUdi": "umb://element/cca42a3713b34701a73e5c5136dccaf4"
      },
      {
        "contentUdi": "umb://element/c93e5932a2a7444c8758d0ab092938ba"
      },
      {
        "contentUdi": "umb://element/ec9461c85f4a4d50b2801c788feeaed4"
      },
      {
        "contentUdi": "umb://element/beb17e2f622348d68d397821a0ae72b7"
      },
      {
        "contentUdi": "umb://element/58853df8beaa4e69b4e7a01502f3fa6b"
      },
      {
        "contentUdi": "umb://element/3daac107a0a54e43a783f8845390a8fc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fcea6be65a0d41eba35194dd7dce17ce",
      "value": "plein air",
      "confidence": "0.9853277206420898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20f719e44e934f82a85e7227fea0104e",
      "value": "personne",
      "confidence": "0.9610103368759155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23b5cc309a2a4ccb9f123d9caa385808",
      "value": "habits",
      "confidence": "0.949865460395813"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/446de849137b4d2490c500b5868b65c0",
      "value": "eau",
      "confidence": "0.9417394995689392"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07ebfd78bd694f36a873d00307fb8094",
      "value": "Vente",
      "confidence": "0.9077332019805908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d06f05e1f2a45f1988f650cf7bf0b90",
      "value": "nourriture",
      "confidence": "0.9016327857971191"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/02d78ac156b34caeb7cd7b064de691c7",
      "value": "Colporteur",
      "confidence": "0.8875554800033569"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/02fd22eea84a45eb90c48795f43ecd28",
      "value": "marché",
      "confidence": "0.8595737218856812"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cca42a3713b34701a73e5c5136dccaf4",
      "value": "femme",
      "confidence": "0.6641287803649902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c93e5932a2a7444c8758d0ab092938ba",
      "value": "légume",
      "confidence": "0.635032057762146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec9461c85f4a4d50b2801c788feeaed4",
      "value": "place de marché",
      "confidence": "0.6307797431945801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/beb17e2f622348d68d397821a0ae72b7",
      "value": "sol",
      "confidence": "0.5582470893859863"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58853df8beaa4e69b4e7a01502f3fa6b",
      "value": "rue",
      "confidence": "0.5471871495246887"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3daac107a0a54e43a783f8845390a8fc",
      "value": "rivière",
      "confidence": "0.4034305214881897"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Fast food at the Ayutthaya Floating Market</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Fastfood au marché flottant d'Ayutthaya</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a woman preparing food on a boat in Ayutthaya, Thailand. She is surrounded by various cooking ingredients and utensils, including a large pot of noodles, eggs, and fresh vegetables. The boat is docked on a river, and a colorful banner with Thai writing is displayed behind her. The scene depicts a typical floating market setup, where vendors sell food directly from their boats."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une femme préparant de la nourriture sur un bateau flottant à Ayutthaya, en Thaïlande. Elle est entourée de divers ingrédients et ustensiles de cuisine, avec un grand panneau en thaïlandais en arrière-plan. Le bateau est amarré sur une rivière calme."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Ayutthaya #Thailand #FloatingMarket #FoodVendor #ThaiFood #RiverLife #StreetFood #CulturalExperience]]></Value>
      <Value Culture="fr"><![CDATA[#Ayutthaya #Thaïlande #MarchéFlottant #CuisineThaïlandaise #Voyage #Culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "bd8ec13d-536e-44e3-9d5b-c84c0f446104",
    "mediaKey": "0cf3e33d-6dad-4d07-b6b1-28ae5bdc8724"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ayutthaya, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ayutthaya, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme du marché flottant d'Ayutthaya, où la cuisine thaïlandaise prend vie sur l'eau.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme du marché flottant d'Ayutthaya, où la cuisine thaïlandaise prend vie sur l'eau.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Ayutthaya Floating Market: A Feast on the Water]]></Value>
      <Value Culture="fr"><![CDATA[Le Marché Flottant d'Ayutthaya]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/floating-market-at-ayutthaya-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/floating-market-at-ayutthaya-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Ayutthaya",
  "Thailand",
  "floating market",
  "boat",
  "food vendor",
  "cooking",
  "river",
  "noodles",
  "vegetables",
  "Thai culture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Ayutthaya",
  "Thaïlande",
  "bateau",
  "marché flottant",
  "cuisine",
  "nourriture",
  "rivière"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme du marché flottant d'Ayutthaya, où la cuisine thaïlandaise prend vie sur l'eau.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Ayutthaya Floating Market: A Feast on the Water]]></Value>
      <Value Culture="fr"><![CDATA[Le Marché Flottant d'Ayutthaya]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>