<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bbe5b38-ed3e-46ab-a1c4-6904aa89706f" Alias="Le musée Erawan" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LeMuseeErawan</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Le musée Erawan">
      <Name Culture="en">The Erawan Museum</Name>
      <Name Culture="fr">Le musée Erawan</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c6ba6d7a4ed9478e91ba3735bd7ef2d7"
      },
      {
        "contentUdi": "umb://element/867df2ae0f5f4a4fa2a1984a4c6c36aa"
      },
      {
        "contentUdi": "umb://element/07cada10348a4ad9ab89c70b7069dcba"
      },
      {
        "contentUdi": "umb://element/9f0c5c77f5cf4ae9a768c803a05a31e5"
      },
      {
        "contentUdi": "umb://element/04084511161749e980c4f05a6c59c608"
      },
      {
        "contentUdi": "umb://element/7aba7a723b064a83b52c9a63ec37c7e1"
      },
      {
        "contentUdi": "umb://element/a87c7cfa12af431fb4faf5c9af8cf201"
      },
      {
        "contentUdi": "umb://element/7139fe60454743c4ba0abf46d309220b"
      },
      {
        "contentUdi": "umb://element/e99cebed659b4c22a4f9b6f1f34d7773"
      },
      {
        "contentUdi": "umb://element/7e3b051b2d264add831f8183acab90e5"
      },
      {
        "contentUdi": "umb://element/b01aa724a08746f58975fccc66353a31"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c6ba6d7a4ed9478e91ba3735bd7ef2d7",
      "value": "ciel",
      "confidence": "0.9935404062271118"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/867df2ae0f5f4a4fa2a1984a4c6c36aa",
      "value": "animal",
      "confidence": "0.9933488368988037"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07cada10348a4ad9ab89c70b7069dcba",
      "value": "mammifère",
      "confidence": "0.987460732460022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f0c5c77f5cf4ae9a768c803a05a31e5",
      "value": "plein air",
      "confidence": "0.9863659143447876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04084511161749e980c4f05a6c59c608",
      "value": "nuage",
      "confidence": "0.986150860786438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7aba7a723b064a83b52c9a63ec37c7e1",
      "value": "arbre",
      "confidence": "0.9291160106658936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a87c7cfa12af431fb4faf5c9af8cf201",
      "value": "statue",
      "confidence": "0.9165409207344055"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7139fe60454743c4ba0abf46d309220b",
      "value": "Éléphants et mammouths",
      "confidence": "0.8984017372131348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e99cebed659b4c22a4f9b6f1f34d7773",
      "value": "sculpture",
      "confidence": "0.8786570429801941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e3b051b2d264add831f8183acab90e5",
      "value": "Éléphant indien",
      "confidence": "0.8635388612747192"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b01aa724a08746f58975fccc66353a31",
      "value": "éléphant",
      "confidence": "0.5779604315757751"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ea2a12380c7a40dba24f5af6b3d9257f"
      },
      {
        "contentUdi": "umb://element/d2cd9129066c40c0ab8c1b5f7ce1d93b"
      },
      {
        "contentUdi": "umb://element/d89600bde473471bad3bd3fa0ca47bc1"
      },
      {
        "contentUdi": "umb://element/416a16f74b0748c280c00595f3aa1445"
      },
      {
        "contentUdi": "umb://element/b0bda95d9b5d4f56b1837182f772ce85"
      },
      {
        "contentUdi": "umb://element/bcba88725c29497e8c37793f7e41dd51"
      },
      {
        "contentUdi": "umb://element/1ccc9807c2844f61b2757f18994f93cc"
      },
      {
        "contentUdi": "umb://element/2859d9e6b6cc435b80eb7ba0f3c084fc"
      },
      {
        "contentUdi": "umb://element/b0efc02cd5d14c7a810e45cfc2120444"
      },
      {
        "contentUdi": "umb://element/ae670e4fd2984020ba82948ad200675d"
      },
      {
        "contentUdi": "umb://element/6949e0c262634a699645f20c09a70157"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea2a12380c7a40dba24f5af6b3d9257f",
      "value": "ciel",
      "confidence": "0.9935404062271118"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2cd9129066c40c0ab8c1b5f7ce1d93b",
      "value": "animal",
      "confidence": "0.9933488368988037"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d89600bde473471bad3bd3fa0ca47bc1",
      "value": "mammifère",
      "confidence": "0.987460732460022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/416a16f74b0748c280c00595f3aa1445",
      "value": "plein air",
      "confidence": "0.9863659143447876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0bda95d9b5d4f56b1837182f772ce85",
      "value": "nuage",
      "confidence": "0.986150860786438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcba88725c29497e8c37793f7e41dd51",
      "value": "arbre",
      "confidence": "0.9291160106658936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ccc9807c2844f61b2757f18994f93cc",
      "value": "statue",
      "confidence": "0.9165409207344055"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2859d9e6b6cc435b80eb7ba0f3c084fc",
      "value": "Éléphants et mammouths",
      "confidence": "0.8984017372131348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0efc02cd5d14c7a810e45cfc2120444",
      "value": "sculpture",
      "confidence": "0.8786570429801941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae670e4fd2984020ba82948ad200675d",
      "value": "Éléphant indien",
      "confidence": "0.8635388612747192"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6949e0c262634a699645f20c09a70157",
      "value": "éléphant",
      "confidence": "0.5779604315757751"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Erawan Museum and its three-headed elephant</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le musée Erawan et son éléphant à 3 têtes</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a massive statue of a three-headed elephant against a bright blue sky with scattered clouds. The statue is surrounded by lush green foliage, and the intricate details of the elephant's trunks and heads are clearly visible. This impressive structure is located in Bangkok, Thailand."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une immense statue de trois éléphants entrelacés, située à Bangkok, Thaïlande. La statue est entourée de végétation et se détache sur un ciel bleu avec quelques nuages. Les éléphants sont représentés avec leurs trompes levées, créant une scène impressionnante et majestueuse."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#statue #elephant #Bangkok #Thailand #art #architecture #travel]]></Value>
      <Value Culture="fr"><![CDATA[#statue #éléphants #Bangkok #Thaïlande #sculpture #art #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "b0914338-1509-4399-b801-b2b7210407c2",
    "mediaKey": "39369b5c-90a6-40d3-aeab-8b8484986079"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'imposante statue des trois éléphants entrelacés à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'imposante statue des trois éléphants entrelacés à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Erawan Museum: A Three-Headed Marvel]]></Value>
      <Value Culture="fr"><![CDATA[Le Musée Erawan et son Éléphant à Trois Têtes]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/erawan-museum-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/erawan-museum-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "statue",
  "elephant",
  "three-headed",
  "Bangkok",
  "Thailand",
  "sky",
  "clouds",
  "foliage"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "statue",
  "éléphants",
  "Bangkok",
  "Thaïlande",
  "sculpture",
  "ciel",
  "végétation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'imposante statue des trois éléphants entrelacés à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Erawan Museum: A Three-Headed Marvel]]></Value>
      <Value Culture="fr"><![CDATA[Le Musée Erawan et son Éléphant à Trois Têtes]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>