<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0caa77c-2ff6-4b4a-9815-02961a05274f" Alias="Le Naja court toujours" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/LeNajaCourtToujours</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T20:02:01</CreateDate>
    <NodeName Default="Le Naja court toujours">
      <Name Culture="en">The Naja Still Runs</Name>
      <Name Culture="fr">Le Naja court toujours</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d67bce36cc7e471b99f4d6b54e4a18d1"
      },
      {
        "contentUdi": "umb://element/0158159c768e4ba8909d5e26048d438e"
      },
      {
        "contentUdi": "umb://element/6c78a356336e47aab270dd460fe6e26c"
      },
      {
        "contentUdi": "umb://element/660ef4206aa2424da027582b2f474ea0"
      },
      {
        "contentUdi": "umb://element/c88f6274af8b4b7688277355b6e9f2bf"
      },
      {
        "contentUdi": "umb://element/a96584a7a98844dea04a029e85365825"
      },
      {
        "contentUdi": "umb://element/d71c731bbaa54c8694e6bd4fa3ca7877"
      },
      {
        "contentUdi": "umb://element/ee3d072e71264b578e744d44d4b2b8da"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d67bce36cc7e471b99f4d6b54e4a18d1",
      "value": "ciel",
      "confidence": "0.9912257194519043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0158159c768e4ba8909d5e26048d438e",
      "value": "plein air",
      "confidence": "0.9857581257820129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c78a356336e47aab270dd460fe6e26c",
      "value": "plante",
      "confidence": "0.9530664682388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/660ef4206aa2424da027582b2f474ea0",
      "value": "nuage",
      "confidence": "0.9445352554321289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c88f6274af8b4b7688277355b6e9f2bf",
      "value": "arbre",
      "confidence": "0.9181196093559265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a96584a7a98844dea04a029e85365825",
      "value": "herbe",
      "confidence": "0.8968594074249268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d71c731bbaa54c8694e6bd4fa3ca7877",
      "value": "statue",
      "confidence": "0.8431824445724487"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3d072e71264b578e744d44d4b2b8da",
      "value": "parc",
      "confidence": "0.4265627861022949"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d67bce36cc7e471b99f4d6b54e4a18d1"
      },
      {
        "contentUdi": "umb://element/0158159c768e4ba8909d5e26048d438e"
      },
      {
        "contentUdi": "umb://element/6c78a356336e47aab270dd460fe6e26c"
      },
      {
        "contentUdi": "umb://element/660ef4206aa2424da027582b2f474ea0"
      },
      {
        "contentUdi": "umb://element/c88f6274af8b4b7688277355b6e9f2bf"
      },
      {
        "contentUdi": "umb://element/a96584a7a98844dea04a029e85365825"
      },
      {
        "contentUdi": "umb://element/d71c731bbaa54c8694e6bd4fa3ca7877"
      },
      {
        "contentUdi": "umb://element/ee3d072e71264b578e744d44d4b2b8da"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d67bce36cc7e471b99f4d6b54e4a18d1",
      "value": "ciel",
      "confidence": "0.9912257194519043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0158159c768e4ba8909d5e26048d438e",
      "value": "plein air",
      "confidence": "0.9857581257820129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c78a356336e47aab270dd460fe6e26c",
      "value": "plante",
      "confidence": "0.9530664682388306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/660ef4206aa2424da027582b2f474ea0",
      "value": "nuage",
      "confidence": "0.9445352554321289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c88f6274af8b4b7688277355b6e9f2bf",
      "value": "arbre",
      "confidence": "0.9181196093559265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a96584a7a98844dea04a029e85365825",
      "value": "herbe",
      "confidence": "0.8968594074249268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d71c731bbaa54c8694e6bd4fa3ca7877",
      "value": "statue",
      "confidence": "0.8431824445724487"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3d072e71264b578e744d44d4b2b8da",
      "value": "parc",
      "confidence": "0.4265627861022949"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Two lovers flee on horseback to escape a giant naja.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Deux amoureux s'enfuient à cheval pour échapper à un naja géant.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a large, intricate statue in a lush, green park in Bangkok, Thailand. The statue features a multi-headed serpent with a large, hooded cobra head at the center. In front of the serpent, there is a sculpture of two figures riding a horse. The surrounding area is filled with greenery, trees, and a small pond, creating a serene and natural environment."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une sculpture impressionnante située à Bangkok, Thaïlande. La sculpture représente un grand serpent à plusieurs têtes, probablement un Naga, une créature mythologique dans la culture asiatique. Devant le serpent, il y a une statue de deux personnes montées sur un cheval. La scène est entourée de verdure avec des arbres et des plantes, et le ciel est bleu avec quelques nuages."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#statue #serpent #cobra #sculpture #park #Bangkok #Thailand #nature #art]]></Value>
      <Value Culture="fr"><![CDATA[#sculpture #Naga #serpent #mythologie #Thaïlande #Bangkok #nature #statue #cheval]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f3ea5d5a-675e-4f4a-b30f-d5446d1c5332",
    "mediaKey": "10184c60-f60e-4491-9632-2368a05e2f62"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux amoureux s'enfuient à cheval pour échapper à un naja géant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux amoureux s'enfuient à cheval pour échapper à un naja géant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Naja Still Runs: A Mythological Escape]]></Value>
      <Value Culture="fr"><![CDATA[L'Évasion Équestre face au Naja Géant]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/lovers-escaping-the-big-naja-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/lovers-escaping-the-big-naja-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "statue",
  "serpent",
  "cobra",
  "sculpture",
  "figures",
  "horse",
  "park",
  "greenery",
  "trees",
  "pond",
  "Bangkok",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "sculpture",
  "Naga",
  "serpent",
  "mythologie",
  "Thaïlande",
  "Bangkok",
  "nature",
  "statue",
  "cheval"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux amoureux s'enfuient à cheval pour échapper à un naja géant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Naja Still Runs: A Mythological Escape]]></Value>
      <Value Culture="fr"><![CDATA[L'Évasion Équestre face au Naja Géant]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>