<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e8b4c0f-4214-4fe7-9441-ed01fb33d093" Alias="Le parc du cinquantenaire" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LeParcDuCinquantenaire</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Le parc du cinquantenaire">
      <Name Culture="en">The Cinquantenaire Park</Name>
      <Name Culture="fr">Le parc du cinquantenaire</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7a69a9571c79451d9cea81cd5746ac4b"
      },
      {
        "contentUdi": "umb://element/9c640db3f3204f3cb3b69680d8c8268c"
      },
      {
        "contentUdi": "umb://element/82db83f7419e48ba94a7d84e9ff4a992"
      },
      {
        "contentUdi": "umb://element/40d04c2b04e548d888668bc401605426"
      },
      {
        "contentUdi": "umb://element/e8b1e88b844a4d51b280873f89af045e"
      },
      {
        "contentUdi": "umb://element/8b886c4b012042648f6e2ba551a52c40"
      },
      {
        "contentUdi": "umb://element/13d82c5d69f24461854b8dd004b39a2f"
      },
      {
        "contentUdi": "umb://element/72e362ebb1314966bc756f07af041426"
      },
      {
        "contentUdi": "umb://element/50ae037f7fe6447899d13e067f727d0d"
      },
      {
        "contentUdi": "umb://element/89f21003a9e64cf1be65236ed7e6a4ac"
      },
      {
        "contentUdi": "umb://element/c8a1e08676a949519af4d0d6b1f74dbf"
      },
      {
        "contentUdi": "umb://element/934009178aed4fbe8283536aca6e1836"
      },
      {
        "contentUdi": "umb://element/5494705c22b64512bb90034cb6a1982d"
      },
      {
        "contentUdi": "umb://element/98a87debcf0943c2abbe070e90adaa69"
      },
      {
        "contentUdi": "umb://element/aae282c38b2b432b960001aff4085579"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7a69a9571c79451d9cea81cd5746ac4b",
      "value": "plein air",
      "confidence": "0.9980936050415039"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9c640db3f3204f3cb3b69680d8c8268c",
      "value": "nuage",
      "confidence": "0.9932812452316284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82db83f7419e48ba94a7d84e9ff4a992",
      "value": "ciel",
      "confidence": "0.9864799976348877"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40d04c2b04e548d888668bc401605426",
      "value": "bâtiment",
      "confidence": "0.9823694229125977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8b1e88b844a4d51b280873f89af045e",
      "value": "eau",
      "confidence": "0.9746240377426147"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b886c4b012042648f6e2ba551a52c40",
      "value": "arbre",
      "confidence": "0.9668740034103394"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13d82c5d69f24461854b8dd004b39a2f",
      "value": "fontaine",
      "confidence": "0.9304390549659729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72e362ebb1314966bc756f07af041426",
      "value": "Bassin réfléchissant",
      "confidence": "0.8915611505508423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50ae037f7fe6447899d13e067f727d0d",
      "value": "automne",
      "confidence": "0.8760436773300171"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89f21003a9e64cf1be65236ed7e6a4ac",
      "value": "lac",
      "confidence": "0.8716332912445068"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8a1e08676a949519af4d0d6b1f74dbf",
      "value": "chute",
      "confidence": "0.7654392719268799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/934009178aed4fbe8283536aca6e1836",
      "value": "reflet",
      "confidence": "0.5847581624984741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5494705c22b64512bb90034cb6a1982d",
      "value": "ville",
      "confidence": "0.5069501399993896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/98a87debcf0943c2abbe070e90adaa69",
      "value": "parc",
      "confidence": "0.4840567708015442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aae282c38b2b432b960001aff4085579",
      "value": "paysage",
      "confidence": "0.4575080871582031"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/083422b62539410fa6db44b573abe5c6"
      },
      {
        "contentUdi": "umb://element/5b38c4aea5b24963906cc7fdb0a3bb51"
      },
      {
        "contentUdi": "umb://element/fc825ae3918f4460ba75db3a0a2ea297"
      },
      {
        "contentUdi": "umb://element/3137d35a352f40218bdf58ed02ea9ed2"
      },
      {
        "contentUdi": "umb://element/28430d69b9cd4a57a299f4d354177263"
      },
      {
        "contentUdi": "umb://element/b15d9141e5294badbcfb2ab2537df36c"
      },
      {
        "contentUdi": "umb://element/49d654c600014ce2a2365f34749330b2"
      },
      {
        "contentUdi": "umb://element/4d2e26d9059e4eb28672b0db104e3818"
      },
      {
        "contentUdi": "umb://element/9339559fc7ca4a7eb963aab42741d319"
      },
      {
        "contentUdi": "umb://element/88301ed1c1314c69a933bde5012d56be"
      },
      {
        "contentUdi": "umb://element/609a304658ef4bb783129874cded1ad7"
      },
      {
        "contentUdi": "umb://element/1ff06dc65700469bae1bbeb6b01b0b9e"
      },
      {
        "contentUdi": "umb://element/4713843bb0b44b0cbda81aa16c98c4f7"
      },
      {
        "contentUdi": "umb://element/2ee18fb3e81f45b7ba4b1fcc0d473d30"
      },
      {
        "contentUdi": "umb://element/ea64729891604b9abedb46c9952d1089"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/083422b62539410fa6db44b573abe5c6",
      "value": "plein air",
      "confidence": "0.9980936050415039"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b38c4aea5b24963906cc7fdb0a3bb51",
      "value": "nuage",
      "confidence": "0.9932812452316284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc825ae3918f4460ba75db3a0a2ea297",
      "value": "ciel",
      "confidence": "0.9864799976348877"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3137d35a352f40218bdf58ed02ea9ed2",
      "value": "bâtiment",
      "confidence": "0.9823694229125977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28430d69b9cd4a57a299f4d354177263",
      "value": "eau",
      "confidence": "0.9746240377426147"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b15d9141e5294badbcfb2ab2537df36c",
      "value": "arbre",
      "confidence": "0.9668740034103394"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49d654c600014ce2a2365f34749330b2",
      "value": "fontaine",
      "confidence": "0.9304390549659729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d2e26d9059e4eb28672b0db104e3818",
      "value": "Bassin réfléchissant",
      "confidence": "0.8915611505508423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9339559fc7ca4a7eb963aab42741d319",
      "value": "automne",
      "confidence": "0.8760436773300171"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88301ed1c1314c69a933bde5012d56be",
      "value": "lac",
      "confidence": "0.8716332912445068"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/609a304658ef4bb783129874cded1ad7",
      "value": "chute",
      "confidence": "0.7654392719268799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ff06dc65700469bae1bbeb6b01b0b9e",
      "value": "reflet",
      "confidence": "0.5847581624984741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4713843bb0b44b0cbda81aa16c98c4f7",
      "value": "ville",
      "confidence": "0.5069501399993896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ee18fb3e81f45b7ba4b1fcc0d473d30",
      "value": "parc",
      "confidence": "0.4840567708015442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea64729891604b9abedb46c9952d1089",
      "value": "paysage",
      "confidence": "0.4575080871582031"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Historical and walking place, the Cinquantenaire Park</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lieu historique et de promenade, le parc du Cinquantenaire</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows the Cinquantenaire Park in Brussels, Belgium. It features the Cinquantenaire Arch, an iconic monument of the city, with its three majestic arches and the quadriga sculpture at the top. In front of the arch is a large fountain surrounded by a basin, and trees with autumn leaves frame the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre le Parc du Cinquantenaire à Bruxelles, Belgique. On y voit l'Arc de Triomphe du Cinquantenaire, un monument emblématique de la ville, avec ses trois arches majestueuses et la sculpture de quadrige au sommet. Devant l'arc se trouve une grande fontaine entourée d'un bassin, et des arbres aux feuilles d'automne encadrent la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #Cinquantenaire #Fountain #Architecture #HistoricalBuildings #Autumn #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #ParcDuCinquantenaire #ArcDeTriomphe #fontaine #architecture #automne]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "ebddecd9-2a0e-4aaa-995a-18d494f6a1c8",
    "mediaKey": "a54b6b7e-fe75-4db4-b9ef-0cc4ed788d2b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le Parc du Cinquantenaire, un lieu historique et de promenade emblématique à Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Parc du Cinquantenaire : Un Joyau Bruxellois]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire Park: A Brussels Jewel]]></Value>
      <Value Culture="fr"><![CDATA[Le Parc du Cinquantenaire : Un Joyau Bruxellois]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/cinquantenaire-brussels-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/cinquantenaire-brussels-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "Cinquantenaire Park",
  "Triumphal Arch",
  "fountain",
  "basin",
  "autumn",
  "architecture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "Parc du Cinquantenaire",
  "Arc de Triomphe",
  "fontaine",
  "bassin",
  "automne",
  "architecture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le Parc du Cinquantenaire, un lieu historique et de promenade emblématique à Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire Park: A Brussels Jewel]]></Value>
      <Value Culture="fr"><![CDATA[Le Parc du Cinquantenaire : Un Joyau Bruxellois]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>