<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ca9eb70-2818-4c73-beaf-9d11c11e25cb" Alias="Le soleil joue à cache-cache" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/LeSoleilJoueACacheCache</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-06T13:24:39</CreateDate>
    <NodeName Default="Le soleil joue à cache-cache">
      <Name Culture="en">The sun plays hide and seek</Name>
      <Name Culture="fr">Le soleil joue à cache-cache</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31f9d345a40d44159bca6df5fa78deef"
      },
      {
        "contentUdi": "umb://element/085171a92e9a45499b54e776f173fda3"
      },
      {
        "contentUdi": "umb://element/b57e0c4d0eae4fd3a240a1f7565a18a4"
      },
      {
        "contentUdi": "umb://element/88fea6c6b2234ef4be2eae81ff5dee72"
      },
      {
        "contentUdi": "umb://element/44a08502ee6b40bf9e20e54b13bbbc21"
      },
      {
        "contentUdi": "umb://element/439bbf2d848b4dfea70a71c12de9b4d5"
      },
      {
        "contentUdi": "umb://element/d8794037b49342258e45c8e60e646bcd"
      },
      {
        "contentUdi": "umb://element/6d2bb57ecf86483a9282e85897bd75ee"
      },
      {
        "contentUdi": "umb://element/8b8951ee688a4ba08dcdc452cd224fe4"
      },
      {
        "contentUdi": "umb://element/c2e7eb881c0a44069827b8592f28be0f"
      },
      {
        "contentUdi": "umb://element/ad4f63a150c540fa916652a8369ca4ab"
      },
      {
        "contentUdi": "umb://element/d293ba31d3154dc8ac5ff32617f65bbb"
      },
      {
        "contentUdi": "umb://element/c9a7590d4e464c049b94f43685a503ae"
      },
      {
        "contentUdi": "umb://element/6417ed16f81644f5aac9e600caa34856"
      },
      {
        "contentUdi": "umb://element/f937580025534d668ed43a6c814aec89"
      },
      {
        "contentUdi": "umb://element/00461deaa2e345f2b98d321456bab8ef"
      },
      {
        "contentUdi": "umb://element/51d45701e08b47588e7bdfc48f301499"
      },
      {
        "contentUdi": "umb://element/068c8b5b07ab4d3299d7330e24192cb2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31f9d345a40d44159bca6df5fa78deef",
      "value": "plein air",
      "confidence": "0.9977991580963135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/085171a92e9a45499b54e776f173fda3",
      "value": "ciel",
      "confidence": "0.9764876365661621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b57e0c4d0eae4fd3a240a1f7565a18a4",
      "value": "nuage",
      "confidence": "0.9744892120361328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88fea6c6b2234ef4be2eae81ff5dee72",
      "value": "lac",
      "confidence": "0.957785427570343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44a08502ee6b40bf9e20e54b13bbbc21",
      "value": "arbre",
      "confidence": "0.9524285793304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/439bbf2d848b4dfea70a71c12de9b4d5",
      "value": "eau",
      "confidence": "0.9354239106178284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8794037b49342258e45c8e60e646bcd",
      "value": "lumière du jour",
      "confidence": "0.9096429347991943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d2bb57ecf86483a9282e85897bd75ee",
      "value": "Rétroéclairage",
      "confidence": "0.8879461288452148"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b8951ee688a4ba08dcdc452cd224fe4",
      "value": "soleil",
      "confidence": "0.883522629737854"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2e7eb881c0a44069827b8592f28be0f",
      "value": "lever de soleil",
      "confidence": "0.8766357898712158"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad4f63a150c540fa916652a8369ca4ab",
      "value": "horizon",
      "confidence": "0.8573896884918213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d293ba31d3154dc8ac5ff32617f65bbb",
      "value": "matin",
      "confidence": "0.8524575233459473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9a7590d4e464c049b94f43685a503ae",
      "value": "soirée",
      "confidence": "0.8429074883460999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6417ed16f81644f5aac9e600caa34856",
      "value": "sol",
      "confidence": "0.8291353583335876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f937580025534d668ed43a6c814aec89",
      "value": "nature",
      "confidence": "0.8249901533126831"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00461deaa2e345f2b98d321456bab8ef",
      "value": "paysage",
      "confidence": "0.8204065561294556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51d45701e08b47588e7bdfc48f301499",
      "value": "plage",
      "confidence": "0.7993693947792053"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/068c8b5b07ab4d3299d7330e24192cb2",
      "value": "coucher de soleil",
      "confidence": "0.785859227180481"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31f9d345a40d44159bca6df5fa78deef"
      },
      {
        "contentUdi": "umb://element/085171a92e9a45499b54e776f173fda3"
      },
      {
        "contentUdi": "umb://element/b57e0c4d0eae4fd3a240a1f7565a18a4"
      },
      {
        "contentUdi": "umb://element/88fea6c6b2234ef4be2eae81ff5dee72"
      },
      {
        "contentUdi": "umb://element/44a08502ee6b40bf9e20e54b13bbbc21"
      },
      {
        "contentUdi": "umb://element/439bbf2d848b4dfea70a71c12de9b4d5"
      },
      {
        "contentUdi": "umb://element/d8794037b49342258e45c8e60e646bcd"
      },
      {
        "contentUdi": "umb://element/6d2bb57ecf86483a9282e85897bd75ee"
      },
      {
        "contentUdi": "umb://element/8b8951ee688a4ba08dcdc452cd224fe4"
      },
      {
        "contentUdi": "umb://element/c2e7eb881c0a44069827b8592f28be0f"
      },
      {
        "contentUdi": "umb://element/ad4f63a150c540fa916652a8369ca4ab"
      },
      {
        "contentUdi": "umb://element/d293ba31d3154dc8ac5ff32617f65bbb"
      },
      {
        "contentUdi": "umb://element/c9a7590d4e464c049b94f43685a503ae"
      },
      {
        "contentUdi": "umb://element/6417ed16f81644f5aac9e600caa34856"
      },
      {
        "contentUdi": "umb://element/f937580025534d668ed43a6c814aec89"
      },
      {
        "contentUdi": "umb://element/00461deaa2e345f2b98d321456bab8ef"
      },
      {
        "contentUdi": "umb://element/51d45701e08b47588e7bdfc48f301499"
      },
      {
        "contentUdi": "umb://element/068c8b5b07ab4d3299d7330e24192cb2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/31f9d345a40d44159bca6df5fa78deef",
      "value": "plein air",
      "confidence": "0.9977991580963135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/085171a92e9a45499b54e776f173fda3",
      "value": "ciel",
      "confidence": "0.9764876365661621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b57e0c4d0eae4fd3a240a1f7565a18a4",
      "value": "nuage",
      "confidence": "0.9744892120361328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88fea6c6b2234ef4be2eae81ff5dee72",
      "value": "lac",
      "confidence": "0.957785427570343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44a08502ee6b40bf9e20e54b13bbbc21",
      "value": "arbre",
      "confidence": "0.9524285793304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/439bbf2d848b4dfea70a71c12de9b4d5",
      "value": "eau",
      "confidence": "0.9354239106178284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8794037b49342258e45c8e60e646bcd",
      "value": "lumière du jour",
      "confidence": "0.9096429347991943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d2bb57ecf86483a9282e85897bd75ee",
      "value": "Rétroéclairage",
      "confidence": "0.8879461288452148"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b8951ee688a4ba08dcdc452cd224fe4",
      "value": "soleil",
      "confidence": "0.883522629737854"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2e7eb881c0a44069827b8592f28be0f",
      "value": "lever de soleil",
      "confidence": "0.8766357898712158"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad4f63a150c540fa916652a8369ca4ab",
      "value": "horizon",
      "confidence": "0.8573896884918213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d293ba31d3154dc8ac5ff32617f65bbb",
      "value": "matin",
      "confidence": "0.8524575233459473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9a7590d4e464c049b94f43685a503ae",
      "value": "soirée",
      "confidence": "0.8429074883460999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6417ed16f81644f5aac9e600caa34856",
      "value": "sol",
      "confidence": "0.8291353583335876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f937580025534d668ed43a6c814aec89",
      "value": "nature",
      "confidence": "0.8249901533126831"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00461deaa2e345f2b98d321456bab8ef",
      "value": "paysage",
      "confidence": "0.8204065561294556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51d45701e08b47588e7bdfc48f301499",
      "value": "plage",
      "confidence": "0.7993693947792053"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/068c8b5b07ab4d3299d7330e24192cb2",
      "value": "coucher de soleil",
      "confidence": "0.785859227180481"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The sun hides at Nopharat Thara Beach</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le soleil se cache à Nopharat Thara Beach</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene sunset at Nopharat Thara Beach. The sun is partially hidden behind a rocky outcrop, casting a warm golden glow across the sky and water. The beach is dotted with small rocks and the calm waves gently lap against the shore. In the distance, another rocky formation covered with greenery can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une plage pittoresque au coucher du soleil à Nopharat Thara Beach. Le soleil se couche derrière une formation rocheuse, créant un effet de halo lumineux. La plage est bordée de sable et de petites pierres, et on peut voir une autre formation rocheuse au loin, entourée de végétation. Le ciel est teinté de nuances chaudes d'orange et de jaune, ajoutant à la beauté sereine de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #nature #landscape #NopharatTharaBeach #serene #travel]]></Value>
      <Value Culture="fr"><![CDATA[#NopharatTharaBeach #coucherdesoleil #plage #nature #paysage #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "4bb1afe4-9941-4e8d-b549-7be7438ff46a",
    "mediaKey": "cac84e71-2115-48e8-a4c4-2290e00b0e81"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Nopharat Thara Beach, où le soleil se cache derrière des formations rocheuses, créant un spectacle lumineux époustouflant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Nopharat Thara Beach, où le soleil se cache derrière des formations rocheuses, créant un spectacle lumineux époustouflant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The sun plays hide and seek at Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Le Soleil Joue à Cache-Cache à Nopharat Thara Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/3-nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/3-nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "rocks",
  "ocean",
  "sky",
  "Nopharat Thara Beach",
  "nature",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "formation rocheuse",
  "sable",
  "mer",
  "nature",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil à Nopharat Thara Beach, où le soleil se cache derrière des formations rocheuses, créant un spectacle lumineux époustouflant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The sun plays hide and seek at Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Le Soleil Joue à Cache-Cache à Nopharat Thara Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>