<?xml version="1.0" encoding="utf-8"?>
<Content Key="f727439a-0f77-4f8d-88c5-92123df193c5" Alias="Le temple bleu d'Erawan" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LeTempleBleuDErawan</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="Le temple bleu d'Erawan">
      <Name Culture="en">The Blue Temple of Erawan</Name>
      <Name Culture="fr">Le temple bleu d'Erawan</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/525409df229c492db28bd5423345778f"
      },
      {
        "contentUdi": "umb://element/c92ba33c537a4f868b3fd8618cf49bb0"
      },
      {
        "contentUdi": "umb://element/e67558b5bb7f47c78956eff88d915910"
      },
      {
        "contentUdi": "umb://element/29d0c65d96f34a3696740328e9f5a95b"
      },
      {
        "contentUdi": "umb://element/9a676d11d0f44741a78807fcd0606d46"
      },
      {
        "contentUdi": "umb://element/e9fc47d9a68e4eb6afa4dca01bae28e0"
      },
      {
        "contentUdi": "umb://element/7b6337bb391c45e6a5bb49f0810f3229"
      },
      {
        "contentUdi": "umb://element/942579808d494764815537b88a968a62"
      },
      {
        "contentUdi": "umb://element/05abc7e3b0cd4f1198a487b190fcef9a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/525409df229c492db28bd5423345778f",
      "value": "peinture",
      "confidence": "0.9550890922546387"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c92ba33c537a4f868b3fd8618cf49bb0",
      "value": "art",
      "confidence": "0.9468837976455688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e67558b5bb7f47c78956eff88d915910",
      "value": "lieu de culte",
      "confidence": "0.9175047874450684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29d0c65d96f34a3696740328e9f5a95b",
      "value": "sanctuaire",
      "confidence": "0.9016331434249878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a676d11d0f44741a78807fcd0606d46",
      "value": "Lieux sacrés",
      "confidence": "0.8746923804283142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9fc47d9a68e4eb6afa4dca01bae28e0",
      "value": "fleur",
      "confidence": "0.8719954490661621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7b6337bb391c45e6a5bb49f0810f3229",
      "value": "bâtiment",
      "confidence": "0.8353351950645447"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/942579808d494764815537b88a968a62",
      "value": "intérieur",
      "confidence": "0.8108534812927246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05abc7e3b0cd4f1198a487b190fcef9a",
      "value": "autel",
      "confidence": "0.6777641773223877"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d7cf1390e5ca40deb6340e67d88e2af5"
      },
      {
        "contentUdi": "umb://element/4894e2e9eef24f84996cf9e0fd5be726"
      },
      {
        "contentUdi": "umb://element/f046d8f9b59e4ad0af42342245e20576"
      },
      {
        "contentUdi": "umb://element/d7e25f018afb453d8abedc25f9fa1a64"
      },
      {
        "contentUdi": "umb://element/bb413d6084874eefa2925b84f9774a0a"
      },
      {
        "contentUdi": "umb://element/52c84e1a2a6849ca92b163db81d70145"
      },
      {
        "contentUdi": "umb://element/ad7197fecd3240a289d330753ba8e13d"
      },
      {
        "contentUdi": "umb://element/f714e89d88f9436ab80ca1368cf8495f"
      },
      {
        "contentUdi": "umb://element/f2d4bb0149094dafb8985b476ce1bb65"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7cf1390e5ca40deb6340e67d88e2af5",
      "value": "peinture",
      "confidence": "0.9550890922546387"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4894e2e9eef24f84996cf9e0fd5be726",
      "value": "art",
      "confidence": "0.9468837976455688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f046d8f9b59e4ad0af42342245e20576",
      "value": "lieu de culte",
      "confidence": "0.9175047874450684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7e25f018afb453d8abedc25f9fa1a64",
      "value": "sanctuaire",
      "confidence": "0.9016331434249878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb413d6084874eefa2925b84f9774a0a",
      "value": "Lieux sacrés",
      "confidence": "0.8746923804283142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52c84e1a2a6849ca92b163db81d70145",
      "value": "fleur",
      "confidence": "0.8719954490661621"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad7197fecd3240a289d330753ba8e13d",
      "value": "bâtiment",
      "confidence": "0.8353351950645447"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f714e89d88f9436ab80ca1368cf8495f",
      "value": "intérieur",
      "confidence": "0.8108534812927246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2d4bb0149094dafb8985b476ce1bb65",
      "value": "autel",
      "confidence": "0.6777641773223877"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Beautiful small temple located in the Erawan Museum</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Magnifique petit temple se trouvant dans le musée Erawan</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts an ornate and colorful interior of a temple in Bangkok, Thailand. The central focus is a golden Buddha statue surrounded by intricate architectural details and vibrant decorations. The ceiling is adorned with celestial patterns and constellations, creating a serene and mystical atmosphere. The floor is polished and reflective, enhancing the grandeur of the space. Floral arrangements and offerings are placed around the statue, adding to the spiritual ambiance."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'intérieur d'un temple bouddhiste à Bangkok, Thaïlande. Au centre, il y a une statue de Bouddha dorée entourée de décorations florales et de vases. Le plafond est magnifiquement peint avec des motifs colorés, incluant des constellations et des formes abstraites en bleu, jaune et orange. Le sol est en bois poli, ajoutant une touche de chaleur à l'atmosphère sacrée du lieu."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Buddha #Spiritual #Architecture #Decorations]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Bouddha #Bangkok #Thaïlande #décorations #statue #peintureMurale #religion #bouddhisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f393a06f-a380-4610-98cb-2d93d944294a",
    "mediaKey": "f54744c5-5e2f-4f88-bb20-4e21d8dd1720"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme enchanteur du Temple Bleu d'Erawan, niché au cœur du musée Erawan à Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme enchanteur du Temple Bleu d'Erawan, niché au cœur du musée Erawan à Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Blue Temple of Erawan: A Hidden Gem in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Le Temple Bleu d'Erawan]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/small-temple-erawan-museum-bangkok-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/small-temple-erawan-museum-bangkok-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Buddha",
  "Bangkok",
  "Thailand",
  "architecture",
  "interior",
  "spiritual",
  "decorations"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Bouddha",
  "Bangkok",
  "Thaïlande",
  "décorations",
  "statue",
  "peinture murale",
  "religion",
  "bouddhisme"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme enchanteur du Temple Bleu d'Erawan, niché au cœur du musée Erawan à Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Blue Temple of Erawan: A Hidden Gem in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Le Temple Bleu d'Erawan]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>