<?xml version="1.0" encoding="utf-8"?>
<Content Key="719bc3fe-e3d0-4993-a139-9b43ec77c117" Alias="Lecture bucolique" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/LectureBucolique</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Lecture bucolique">
      <Name Culture="en">Bucolic Reading</Name>
      <Name Culture="fr">Lecture bucolique</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/14ab3fd8a2334badbe8e64217eb3940b"
      },
      {
        "contentUdi": "umb://element/2ba78ef0cd354dcfa54be7b463866e78"
      },
      {
        "contentUdi": "umb://element/9606df4c637b42f9b0f7523ac4c3c301"
      },
      {
        "contentUdi": "umb://element/aa8849935ddc4f3d9264312f5f66fd29"
      },
      {
        "contentUdi": "umb://element/e68e96678af2427a9021c42b12b87e2d"
      },
      {
        "contentUdi": "umb://element/9969701b4e7e47bf84c36d05b7d44eb5"
      },
      {
        "contentUdi": "umb://element/c4a81c07964c4a5588b331f801cc171c"
      },
      {
        "contentUdi": "umb://element/8bcf9beafb8343ac95c456a4287d4e38"
      },
      {
        "contentUdi": "umb://element/e3e1ba186f77464588ddb5c049739f04"
      },
      {
        "contentUdi": "umb://element/9b0f7f392d6a4cae9d0e46dc7454eb07"
      },
      {
        "contentUdi": "umb://element/610d912c386a40889849161c68aa20f3"
      },
      {
        "contentUdi": "umb://element/bcf333902415498e8a50dc0968c86d3f"
      },
      {
        "contentUdi": "umb://element/9582962cc22e404ebef7d0e183faaeeb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14ab3fd8a2334badbe8e64217eb3940b",
      "value": "habits",
      "confidence": "0.9919105768203735"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ba78ef0cd354dcfa54be7b463866e78",
      "value": "plein air",
      "confidence": "0.990208625793457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9606df4c637b42f9b0f7523ac4c3c301",
      "value": "herbe",
      "confidence": "0.9825929999351501"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa8849935ddc4f3d9264312f5f66fd29",
      "value": "eau",
      "confidence": "0.9802827835083008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e68e96678af2427a9021c42b12b87e2d",
      "value": "personne",
      "confidence": "0.9760215282440186"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9969701b4e7e47bf84c36d05b7d44eb5",
      "value": "lac",
      "confidence": "0.9648441076278687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4a81c07964c4a5588b331f801cc171c",
      "value": "chaussures",
      "confidence": "0.9431854486465454"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8bcf9beafb8343ac95c456a4287d4e38",
      "value": "plante",
      "confidence": "0.9175704717636108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3e1ba186f77464588ddb5c049739f04",
      "value": "s’asseoir",
      "confidence": "0.7171435356140137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b0f7f392d6a4cae9d0e46dc7454eb07",
      "value": "été",
      "confidence": "0.6563707590103149"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/610d912c386a40889849161c68aa20f3",
      "value": "sol",
      "confidence": "0.5612025856971741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcf333902415498e8a50dc0968c86d3f",
      "value": "fleur",
      "confidence": "0.5336669683456421"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9582962cc22e404ebef7d0e183faaeeb",
      "value": "plage",
      "confidence": "0.4802154004573822"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d1f0c99c3a334d2b80a46e9f50ef9038"
      },
      {
        "contentUdi": "umb://element/c973789541144cb38cd4ca0866ad269a"
      },
      {
        "contentUdi": "umb://element/24203d6c24244bb5a9b25706593a15f9"
      },
      {
        "contentUdi": "umb://element/2ef00acf26a340cc83b2386f92191128"
      },
      {
        "contentUdi": "umb://element/5d8e565700f84895ae563c094700cf72"
      },
      {
        "contentUdi": "umb://element/fd3f64dfd63340d484c1213cd35d0fdc"
      },
      {
        "contentUdi": "umb://element/fe1e1b07cc1b45cbbf8a29d13cedd29a"
      },
      {
        "contentUdi": "umb://element/2bc4fde321f34e44bbe1457266a584f7"
      },
      {
        "contentUdi": "umb://element/45768bf3718e429985f17f962c8d5f57"
      },
      {
        "contentUdi": "umb://element/5b30f54b9e8d49ff9d5d21ed6acaea84"
      },
      {
        "contentUdi": "umb://element/b1876411319546609cfcae943c472ef1"
      },
      {
        "contentUdi": "umb://element/2bc19190bcba4ac38c3a53820284e714"
      },
      {
        "contentUdi": "umb://element/3ddf9f09411c472bb7472a9f1089218a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d1f0c99c3a334d2b80a46e9f50ef9038",
      "value": "habits",
      "confidence": "0.9919105768203735"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c973789541144cb38cd4ca0866ad269a",
      "value": "plein air",
      "confidence": "0.990208625793457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24203d6c24244bb5a9b25706593a15f9",
      "value": "herbe",
      "confidence": "0.9825929999351501"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ef00acf26a340cc83b2386f92191128",
      "value": "eau",
      "confidence": "0.9802827835083008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d8e565700f84895ae563c094700cf72",
      "value": "personne",
      "confidence": "0.9760215282440186"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd3f64dfd63340d484c1213cd35d0fdc",
      "value": "lac",
      "confidence": "0.9648441076278687"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe1e1b07cc1b45cbbf8a29d13cedd29a",
      "value": "chaussures",
      "confidence": "0.9431854486465454"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bc4fde321f34e44bbe1457266a584f7",
      "value": "plante",
      "confidence": "0.9175704717636108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45768bf3718e429985f17f962c8d5f57",
      "value": "s’asseoir",
      "confidence": "0.7171435356140137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b30f54b9e8d49ff9d5d21ed6acaea84",
      "value": "été",
      "confidence": "0.6563707590103149"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1876411319546609cfcae943c472ef1",
      "value": "sol",
      "confidence": "0.5612025856971741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bc19190bcba4ac38c3a53820284e714",
      "value": "fleur",
      "confidence": "0.5336669683456421"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ddf9f09411c472bb7472a9f1089218a",
      "value": "plage",
      "confidence": "0.4802154004573822"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Some eat fries, this gentleman enjoys his break with a bit of reading</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Certains mangent des frites, monsieur profite de sa pause pour un peu de lecture</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "A man is sitting by a body of water in Brussels, Belgium. He is reading a book, dressed in a striped shirt and denim shorts. Around him, there is green grass and white flowers. The atmosphere is peaceful and relaxing."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Un homme est assis au bord d'un plan d'eau à Bruxelles, Belgique. Il est en train de lire un livre, vêtu d'une chemise à rayures et d'un short en jean. Autour de lui, il y a de l'herbe verte et des fleurs blanches. L'ambiance est paisible et relaxante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #reading #nature #outdoors #relaxation #peaceful #flowers]]></Value>
      <Value Culture="fr"><![CDATA[#lecture #nature #Bruxelles #Belgique #détente #pleinair]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "adc082d7-f2d1-4ee8-86fd-12b00e918342",
    "mediaKey": "62509d86-ef4c-4e8b-b8bb-35d550873ac9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Certains mangent des frites, monsieur profite de sa pause pour un peu de lecture.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Lecture bucolique au bord de l'eau]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Bucolic Reading by the Water]]></Value>
      <Value Culture="fr"><![CDATA[Lecture bucolique au bord de l'eau]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-relaxing-time-etangs-dixelles-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "man",
  "reading",
  "nature",
  "water",
  "flowers",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "homme",
  "lecture",
  "nature",
  "eau",
  "fleurs",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Certains mangent des frites, monsieur profite de sa pause pour un peu de lecture.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Bucolic Reading by the Water]]></Value>
      <Value Culture="fr"><![CDATA[Lecture bucolique au bord de l'eau]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>