<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e0ca217-a484-435a-ab54-f192e7b8b237" Alias="L'entrée du musée Erawan" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/LentreeDuMuseeErawan</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T20:14:27</CreateDate>
    <NodeName Default="L'entrée du musée Erawan">
      <Name Culture="en">The Entrance of the Erawan Museum</Name>
      <Name Culture="fr">L'entrée du musée Erawan</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/25bbc6f70e0e4cd9b465ff5727f9bbc1"
      },
      {
        "contentUdi": "umb://element/05043d2e7a9b433995364330932ff24d"
      },
      {
        "contentUdi": "umb://element/74e0029371c645a9baeddcb239794d22"
      },
      {
        "contentUdi": "umb://element/a81cb580861648e5a0c3c565b4d5abec"
      },
      {
        "contentUdi": "umb://element/418ca55fd5694324941267ba73eac1ef"
      },
      {
        "contentUdi": "umb://element/dc4ccc83a2b64dc8a37ec6deb9f0a6bc"
      },
      {
        "contentUdi": "umb://element/ba849c2a7d5a4a7586908b3771c1a56a"
      },
      {
        "contentUdi": "umb://element/c672e1296f0a422db609c201418b4799"
      },
      {
        "contentUdi": "umb://element/1f0ebb24b3324ed883a0d5a167870552"
      },
      {
        "contentUdi": "umb://element/5d1ee7deb70d46a38bd38750ef1d6da6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25bbc6f70e0e4cd9b465ff5727f9bbc1",
      "value": "Lieux sacrés",
      "confidence": "0.9726723432540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05043d2e7a9b433995364330932ff24d",
      "value": "sanctuaire",
      "confidence": "0.9725853204727173"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74e0029371c645a9baeddcb239794d22",
      "value": "église",
      "confidence": "0.9591845273971558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a81cb580861648e5a0c3c565b4d5abec",
      "value": "bâtiment",
      "confidence": "0.9579623341560364"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/418ca55fd5694324941267ba73eac1ef",
      "value": "statue",
      "confidence": "0.9558843374252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc4ccc83a2b64dc8a37ec6deb9f0a6bc",
      "value": "art",
      "confidence": "0.937718391418457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba849c2a7d5a4a7586908b3771c1a56a",
      "value": "temple",
      "confidence": "0.8795326948165894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c672e1296f0a422db609c201418b4799",
      "value": "chapelle",
      "confidence": "0.8556555509567261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f0ebb24b3324ed883a0d5a167870552",
      "value": "intérieur",
      "confidence": "0.7746356725692749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d1ee7deb70d46a38bd38750ef1d6da6",
      "value": "lieu de culte",
      "confidence": "0.5457179546356201"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/25bbc6f70e0e4cd9b465ff5727f9bbc1"
      },
      {
        "contentUdi": "umb://element/05043d2e7a9b433995364330932ff24d"
      },
      {
        "contentUdi": "umb://element/74e0029371c645a9baeddcb239794d22"
      },
      {
        "contentUdi": "umb://element/a81cb580861648e5a0c3c565b4d5abec"
      },
      {
        "contentUdi": "umb://element/418ca55fd5694324941267ba73eac1ef"
      },
      {
        "contentUdi": "umb://element/dc4ccc83a2b64dc8a37ec6deb9f0a6bc"
      },
      {
        "contentUdi": "umb://element/ba849c2a7d5a4a7586908b3771c1a56a"
      },
      {
        "contentUdi": "umb://element/c672e1296f0a422db609c201418b4799"
      },
      {
        "contentUdi": "umb://element/1f0ebb24b3324ed883a0d5a167870552"
      },
      {
        "contentUdi": "umb://element/5d1ee7deb70d46a38bd38750ef1d6da6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25bbc6f70e0e4cd9b465ff5727f9bbc1",
      "value": "Lieux sacrés",
      "confidence": "0.9726723432540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05043d2e7a9b433995364330932ff24d",
      "value": "sanctuaire",
      "confidence": "0.9725853204727173"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74e0029371c645a9baeddcb239794d22",
      "value": "église",
      "confidence": "0.9591845273971558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a81cb580861648e5a0c3c565b4d5abec",
      "value": "bâtiment",
      "confidence": "0.9579623341560364"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/418ca55fd5694324941267ba73eac1ef",
      "value": "statue",
      "confidence": "0.9558843374252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc4ccc83a2b64dc8a37ec6deb9f0a6bc",
      "value": "art",
      "confidence": "0.937718391418457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba849c2a7d5a4a7586908b3771c1a56a",
      "value": "temple",
      "confidence": "0.8795326948165894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c672e1296f0a422db609c201418b4799",
      "value": "chapelle",
      "confidence": "0.8556555509567261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f0ebb24b3324ed883a0d5a167870552",
      "value": "intérieur",
      "confidence": "0.7746356725692749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d1ee7deb70d46a38bd38750ef1d6da6",
      "value": "lieu de culte",
      "confidence": "0.5457179546356201"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the interior of a richly decorated temple in Bangkok, Thailand. The temple features intricate carvings, ornate sculptures, and a vibrant stained glass ceiling. At the center, there is a prominent statue surrounded by elaborate architectural details, including mythical figures and elaborate patterns."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'intérieur richement décoré du musée Erawan à Bangkok, Thaïlande. On peut voir une statue centrale entourée de sculptures détaillées et de motifs ornementaux complexes. Le plafond est orné de vitraux colorés, ajoutant une touche de lumière et de couleur à l'ensemble de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Architecture #StainedGlass #Sculptures #OrnateDesign #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#Bangkok #Thaïlande #MuséeErawan #Statue #Sculptures #Décoration #Vitraux #Architecture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1be0a027-56e0-4e71-99a8-26aaf56c1e23",
    "mediaKey": "e9fd58f0-dc2c-4532-a32e-e5e8d7936acb"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Entrance of the Erawan Museum: A Masterpiece of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[L'Entrée du Musée Erawan à Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/entrance-of-the-erewan-museum-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/entrance-of-the-erewan-museum-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Bangkok",
  "Thailand",
  "architecture",
  "stained glass",
  "sculptures",
  "carvings",
  "ornate",
  "mythical figures"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bangkok",
  "Thaïlande",
  "musée Erawan",
  "statue",
  "sculptures",
  "décoration",
  "vitraux",
  "architecture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Entrance of the Erawan Museum: A Masterpiece of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[L'Entrée du Musée Erawan à Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>