<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4555833-670a-4c97-9c3f-8b6f75210e4a" Alias="L'entrée du musée Erawan" Level="104">
  <Info>
    <Parent Key="b7d1e6d3-9812-4139-8134-71bca74b1e73">Bangkok</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/Bangkok/LentreeDuMuseeErawan</Path>
    <Trashed Parent="b7d1e6d3-9812-4139-8134-71bca74b1e73">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:08</CreateDate>
    <NodeName Default="L'entrée du musée Erawan">
      <Name Culture="en">The Entrance of the Erawan Museum</Name>
      <Name Culture="fr">L'entrée du musée Erawan</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e1540dd18fab457c87a3434f4d5c9bb5"
      },
      {
        "contentUdi": "umb://element/ae9bf2fdddf74ca8be1bb1eac78784de"
      },
      {
        "contentUdi": "umb://element/e5d4baca71ab40b48bb62e29d0841c7e"
      },
      {
        "contentUdi": "umb://element/de6f535777e341d690e23eaab7f84d1d"
      },
      {
        "contentUdi": "umb://element/f204866faf404e6f869c1c25104685b3"
      },
      {
        "contentUdi": "umb://element/b400407186fe4563833990b8b77fa0aa"
      },
      {
        "contentUdi": "umb://element/c8ac1163c16f4678aea7c2a3349b5771"
      },
      {
        "contentUdi": "umb://element/c8d96f18d8024199bc971cd45188891c"
      },
      {
        "contentUdi": "umb://element/6e32010df37b4f438538c7b04f830370"
      },
      {
        "contentUdi": "umb://element/c0a673feca814209b7b6159434138b55"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1540dd18fab457c87a3434f4d5c9bb5",
      "value": "Lieux sacrés",
      "confidence": "0.9726723432540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae9bf2fdddf74ca8be1bb1eac78784de",
      "value": "sanctuaire",
      "confidence": "0.9725853204727173"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5d4baca71ab40b48bb62e29d0841c7e",
      "value": "église",
      "confidence": "0.9591845273971558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de6f535777e341d690e23eaab7f84d1d",
      "value": "bâtiment",
      "confidence": "0.9579623341560364"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f204866faf404e6f869c1c25104685b3",
      "value": "statue",
      "confidence": "0.9558843374252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b400407186fe4563833990b8b77fa0aa",
      "value": "art",
      "confidence": "0.937718391418457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8ac1163c16f4678aea7c2a3349b5771",
      "value": "temple",
      "confidence": "0.8795326948165894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8d96f18d8024199bc971cd45188891c",
      "value": "chapelle",
      "confidence": "0.8556555509567261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e32010df37b4f438538c7b04f830370",
      "value": "intérieur",
      "confidence": "0.7746356725692749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c0a673feca814209b7b6159434138b55",
      "value": "lieu de culte",
      "confidence": "0.5457179546356201"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9116fff1fe2d4405af52375e9df93ec5"
      },
      {
        "contentUdi": "umb://element/376e4bf444ed4f9a967e5a3dd2668cec"
      },
      {
        "contentUdi": "umb://element/6a351426f3df47c9847fe8eed0dae959"
      },
      {
        "contentUdi": "umb://element/043075c925204c6b97b3e32fd8f2256e"
      },
      {
        "contentUdi": "umb://element/ce8d3be1585342ca8dbadf0d0153bec7"
      },
      {
        "contentUdi": "umb://element/bb117ee03afb4ce9a7c00282d349ee3e"
      },
      {
        "contentUdi": "umb://element/f240b9aeb972496ba0e14066d0e470ef"
      },
      {
        "contentUdi": "umb://element/27d9787c8fba49d881d781c7b73cb9ad"
      },
      {
        "contentUdi": "umb://element/5097762ea76541ea91517fa98b348c29"
      },
      {
        "contentUdi": "umb://element/91435e4400c747659396da027da74435"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9116fff1fe2d4405af52375e9df93ec5",
      "value": "Lieux sacrés",
      "confidence": "0.9726723432540894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/376e4bf444ed4f9a967e5a3dd2668cec",
      "value": "sanctuaire",
      "confidence": "0.9725853204727173"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a351426f3df47c9847fe8eed0dae959",
      "value": "église",
      "confidence": "0.9591845273971558"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/043075c925204c6b97b3e32fd8f2256e",
      "value": "bâtiment",
      "confidence": "0.9579623341560364"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce8d3be1585342ca8dbadf0d0153bec7",
      "value": "statue",
      "confidence": "0.9558843374252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb117ee03afb4ce9a7c00282d349ee3e",
      "value": "art",
      "confidence": "0.937718391418457"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f240b9aeb972496ba0e14066d0e470ef",
      "value": "temple",
      "confidence": "0.8795326948165894"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27d9787c8fba49d881d781c7b73cb9ad",
      "value": "chapelle",
      "confidence": "0.8556555509567261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5097762ea76541ea91517fa98b348c29",
      "value": "intérieur",
      "confidence": "0.7746356725692749"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91435e4400c747659396da027da74435",
      "value": "lieu de culte",
      "confidence": "0.5457179546356201"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the interior of a richly decorated temple in Bangkok, Thailand. The temple features intricate carvings, ornate sculptures, and a vibrant stained glass ceiling. At the center, there is a prominent statue surrounded by elaborate architectural details, including mythical figures and elaborate patterns."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'intérieur richement décoré du musée Erawan à Bangkok, Thaïlande. On peut voir une statue centrale entourée de sculptures détaillées et de motifs ornementaux complexes. Le plafond est orné de vitraux colorés, ajoutant une touche de lumière et de couleur à l'ensemble de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Architecture #StainedGlass #Sculptures #OrnateDesign #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#Bangkok #Thaïlande #MuséeErawan #Statue #Sculptures #Décoration #Vitraux #Architecture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1be0a027-56e0-4e71-99a8-26aaf56c1e23",
    "mediaKey": "e9fd58f0-dc2c-4532-a32e-e5e8d7936acb"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Entrance of the Erawan Museum: A Masterpiece of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[L'Entrée du Musée Erawan à Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/entrance-of-the-erewan-museum-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/entrance-of-the-erewan-museum-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Bangkok",
  "Thailand",
  "architecture",
  "stained glass",
  "sculptures",
  "carvings",
  "ornate",
  "mythical figures"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bangkok",
  "Thaïlande",
  "musée Erawan",
  "statue",
  "sculptures",
  "décoration",
  "vitraux",
  "architecture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur somptueux du musée Erawan, un trésor architectural au cœur de Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Entrance of the Erawan Museum: A Masterpiece of Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[L'Entrée du Musée Erawan à Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>