<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c03fb7e-555a-44a6-a1c9-a9e2ce990ae8" Alias="Les galeries royales" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LesGaleriesRoyales</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Les galeries royales">
      <Name Culture="en">The Royal Galleries</Name>
      <Name Culture="fr">Les galeries royales</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c9d62e54e3d34b868d6b8200a376c3a7"
      },
      {
        "contentUdi": "umb://element/5543fb6146184f259b29e2c3340bec5b"
      },
      {
        "contentUdi": "umb://element/1425949d05de4ad7ae386437ee2f51da"
      },
      {
        "contentUdi": "umb://element/0f69b7c8e2e94b0b9533bd17c0fea66b"
      },
      {
        "contentUdi": "umb://element/3ce7b6f8fd124a9caec898564ed54756"
      },
      {
        "contentUdi": "umb://element/2170fec6ccf947a3954a8d301abde7da"
      },
      {
        "contentUdi": "umb://element/8cf1831b8dfd437d90a4d8b5eba6644e"
      },
      {
        "contentUdi": "umb://element/fd8b8513bec544458ef63f07eb79fe68"
      },
      {
        "contentUdi": "umb://element/58d462d42fc4438488c268575a933771"
      },
      {
        "contentUdi": "umb://element/afb40831567248d0b1e6fc7cfd7c1f86"
      },
      {
        "contentUdi": "umb://element/f533a4ee9c5c493d9c8e4dd9309d1846"
      },
      {
        "contentUdi": "umb://element/779e6aef64114675b2a906a7399b8344"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9d62e54e3d34b868d6b8200a376c3a7",
      "value": "bâtiment",
      "confidence": "0.9985162615776062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5543fb6146184f259b29e2c3340bec5b",
      "value": "plein air",
      "confidence": "0.9795657992362976"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1425949d05de4ad7ae386437ee2f51da",
      "value": "habits",
      "confidence": "0.9647661447525024"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f69b7c8e2e94b0b9533bd17c0fea66b",
      "value": "chaussures",
      "confidence": "0.9576680660247803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ce7b6f8fd124a9caec898564ed54756",
      "value": "personne",
      "confidence": "0.9401838779449463"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2170fec6ccf947a3954a8d301abde7da",
      "value": "personnes",
      "confidence": "0.8985251188278198"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8cf1831b8dfd437d90a4d8b5eba6644e",
      "value": "jeans",
      "confidence": "0.8869131207466125"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd8b8513bec544458ef63f07eb79fe68",
      "value": "piéton",
      "confidence": "0.882668137550354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58d462d42fc4438488c268575a933771",
      "value": "rue",
      "confidence": "0.8420138359069824"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afb40831567248d0b1e6fc7cfd7c1f86",
      "value": "marche",
      "confidence": "0.7466360330581665"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f533a4ee9c5c493d9c8e4dd9309d1846",
      "value": "ville",
      "confidence": "0.7042311429977417"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/779e6aef64114675b2a906a7399b8344",
      "value": "sol",
      "confidence": "0.7039633393287659"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/11014d841094418bb5100c6495d56833"
      },
      {
        "contentUdi": "umb://element/72e8def0c2c94a159f6d4250c7d99b27"
      },
      {
        "contentUdi": "umb://element/6e3d5e0ba7bc404481f4c29b4b88763f"
      },
      {
        "contentUdi": "umb://element/80700ea2a1d74c91ad34e5542ff2c96a"
      },
      {
        "contentUdi": "umb://element/1239433679684fa9911b06b8822e0fb7"
      },
      {
        "contentUdi": "umb://element/c1eb63aa594d44a8a02c22f68286a3ea"
      },
      {
        "contentUdi": "umb://element/05750530dda14853b1e817de3f2a1fcd"
      },
      {
        "contentUdi": "umb://element/be3030138c584da9b08c3af68597f6c4"
      },
      {
        "contentUdi": "umb://element/d5a026ecd5e7439484b536ab8d3a40f0"
      },
      {
        "contentUdi": "umb://element/48329150540a4df890928fda72620018"
      },
      {
        "contentUdi": "umb://element/4426697445e54b008536830c4df8ce07"
      },
      {
        "contentUdi": "umb://element/60cbc5270e1a4bce8a077ddcfec0ea05"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/11014d841094418bb5100c6495d56833",
      "value": "bâtiment",
      "confidence": "0.9985162615776062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72e8def0c2c94a159f6d4250c7d99b27",
      "value": "plein air",
      "confidence": "0.9795657992362976"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e3d5e0ba7bc404481f4c29b4b88763f",
      "value": "habits",
      "confidence": "0.9647661447525024"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80700ea2a1d74c91ad34e5542ff2c96a",
      "value": "chaussures",
      "confidence": "0.9576680660247803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1239433679684fa9911b06b8822e0fb7",
      "value": "personne",
      "confidence": "0.9401838779449463"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1eb63aa594d44a8a02c22f68286a3ea",
      "value": "personnes",
      "confidence": "0.8985251188278198"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05750530dda14853b1e817de3f2a1fcd",
      "value": "jeans",
      "confidence": "0.8869131207466125"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be3030138c584da9b08c3af68597f6c4",
      "value": "piéton",
      "confidence": "0.882668137550354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d5a026ecd5e7439484b536ab8d3a40f0",
      "value": "rue",
      "confidence": "0.8420138359069824"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/48329150540a4df890928fda72620018",
      "value": "marche",
      "confidence": "0.7466360330581665"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4426697445e54b008536830c4df8ce07",
      "value": "ville",
      "confidence": "0.7042311429977417"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60cbc5270e1a4bce8a077ddcfec0ea05",
      "value": "sol",
      "confidence": "0.7039633393287659"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Welcome to the wealthy tourists!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bienvenue chez les riches touristes !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the entrance of the Royal Galleries Saint-Hubert in Brussels, Belgium. It is a historic shopping arcade with elegant architecture, imposing columns, and shop windows. Several people are walking or strolling in front of the entrance, creating a lively and vibrant atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'entrée des Galeries Royales Saint-Hubert à Bruxelles, Belgique. C'est une galerie marchande historique avec une architecture élégante, des colonnes imposantes et des vitrines de magasins. Plusieurs personnes sont en train de marcher ou de se promener devant l'entrée, créant une atmosphère animée et vivante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #GaleriesRoyalesSaintHubert #architecture #shopping #tourism]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #GaleriesRoyalesSaintHubert #architecture #shopping #histoire #tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "598b9c73-fa43-4ae2-a10e-8456d811edd1",
    "mediaKey": "2428a582-b5b6-4c4a-8ac8-faa283133ee8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Bienvenue chez les riches touristes !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les Galeries Royales : Un Joyau Bruxellois]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Royal Galleries: A Brussels Gem]]></Value>
      <Value Culture="fr"><![CDATA[Les Galeries Royales : Un Joyau Bruxellois]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/well-know-entrance-of-the-royal-galleries-in-center-of-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/well-know-entrance-of-the-royal-galleries-in-center-of-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "Royal Galleries Saint-Hubert",
  "architecture",
  "shopping arcade",
  "people",
  "shop windows",
  "columns"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "Galeries Royales Saint-Hubert",
  "architecture",
  "galerie marchande",
  "personnes",
  "vitrine",
  "colonnes"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Bienvenue chez les riches touristes !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Royal Galleries: A Brussels Gem]]></Value>
      <Value Culture="fr"><![CDATA[Les Galeries Royales : Un Joyau Bruxellois]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>