<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d6e422a-57b5-4e02-8469-5bc8396197d1" Alias="Les bureaux de BNP #2" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LesBureauxDeBNP2</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Les bureaux de BNP #2">
      <Name Culture="en">BNP Offices #2</Name>
      <Name Culture="fr">Les bureaux de BNP #2</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1884f2eea6fc46db830c851a8bb59919"
      },
      {
        "contentUdi": "umb://element/bc920bc3bc4b46e3ac1c8544e51c8c02"
      },
      {
        "contentUdi": "umb://element/6a55426b2e5947999da605c9128468fc"
      },
      {
        "contentUdi": "umb://element/832fb269bdea433195315e4903321fb0"
      },
      {
        "contentUdi": "umb://element/eda0805f78b543b086fbc821c60d1de0"
      },
      {
        "contentUdi": "umb://element/e2f92cd941ca4b17a1fc3f7b8ce3162d"
      },
      {
        "contentUdi": "umb://element/96ac70f2b910454faf25ce286bea928a"
      },
      {
        "contentUdi": "umb://element/9b82a87e17524079a12dfbdfb486408a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1884f2eea6fc46db830c851a8bb59919",
      "value": "fenêtre",
      "confidence": "0.9155789613723755"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc920bc3bc4b46e3ac1c8544e51c8c02",
      "value": "architecture",
      "confidence": "0.9010732173919678"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a55426b2e5947999da605c9128468fc",
      "value": "Biens immobiliers",
      "confidence": "0.867773711681366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/832fb269bdea433195315e4903321fb0",
      "value": "bâtiment",
      "confidence": "0.8455033302307129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eda0805f78b543b086fbc821c60d1de0",
      "value": "aménagement",
      "confidence": "0.8442865610122681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2f92cd941ca4b17a1fc3f7b8ce3162d",
      "value": "plein air",
      "confidence": "0.704305112361908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96ac70f2b910454faf25ce286bea928a",
      "value": "intérieur",
      "confidence": "0.6454085111618042"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b82a87e17524079a12dfbdfb486408a",
      "value": "ville",
      "confidence": "0.49485689401626587"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/45854f685b8947acbdd30050a01d39e5"
      },
      {
        "contentUdi": "umb://element/9cd225ab2ef1484881e4fdd3c5889a3e"
      },
      {
        "contentUdi": "umb://element/3e8f814780ed4ef3b02d23867f98dde7"
      },
      {
        "contentUdi": "umb://element/12c7072db0d549339ee94dcb1f274e2e"
      },
      {
        "contentUdi": "umb://element/e8faac49c3c14d248c6e45d3c5db22eb"
      },
      {
        "contentUdi": "umb://element/7d5f1fdf554b499084d26b957ba5c033"
      },
      {
        "contentUdi": "umb://element/b8bf46c742b94436bf0a639436d7ade2"
      },
      {
        "contentUdi": "umb://element/e40a938b262c42319e61920ffbd155e8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45854f685b8947acbdd30050a01d39e5",
      "value": "fenêtre",
      "confidence": "0.9155789613723755"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9cd225ab2ef1484881e4fdd3c5889a3e",
      "value": "architecture",
      "confidence": "0.9010732173919678"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e8f814780ed4ef3b02d23867f98dde7",
      "value": "Biens immobiliers",
      "confidence": "0.867773711681366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12c7072db0d549339ee94dcb1f274e2e",
      "value": "bâtiment",
      "confidence": "0.8455033302307129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8faac49c3c14d248c6e45d3c5db22eb",
      "value": "aménagement",
      "confidence": "0.8442865610122681"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d5f1fdf554b499084d26b957ba5c033",
      "value": "plein air",
      "confidence": "0.704305112361908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8bf46c742b94436bf0a639436d7ade2",
      "value": "intérieur",
      "confidence": "0.6454085111618042"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e40a938b262c42319e61920ffbd155e8",
      "value": "ville",
      "confidence": "0.49485689401626587"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Immersion in real estate accounts</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Immersion dans les comptes immobiliers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a modern inner courtyard in Brussels, Belgium, surrounded by buildings with glass and curved facades. The courtyard is lined with plants and windows, and a sign reading 'Good Food Makes You Feel Good' can be seen on the left. Daylight illuminates the space, creating a welcoming and bright atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une cour intérieure moderne à Bruxelles, Belgique, entourée de bâtiments aux façades vitrées et incurvées. La cour est bordée de plantes et de fenêtres, et on peut voir un panneau indiquant 'Good Food Makes You Feel Good' sur la gauche. La lumière du jour illumine l'espace, créant une atmosphère accueillante et lumineuse."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#architecture #modernbuilding #Bruxelles #Belgique #urban #design]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #modernité #courintérieure #façadesvitrées]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "3d058e51-1830-44af-9b8c-936b0e945eec",
    "mediaKey": "4dbf1200-111b-4ba9-b399-8645cc339234"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une cour intérieure moderne et lumineuse au cœur de Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Immersion dans les bureaux de BNP à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Immersion in BNP offices in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Immersion dans les bureaux de BNP à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-bnp-offices-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-bnp-offices-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "inner courtyard",
  "modern buildings",
  "glass facades",
  "daylight"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "cour intérieure",
  "bâtiments modernes",
  "façades vitrées",
  "lumière du jour"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une cour intérieure moderne et lumineuse au cœur de Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Immersion in BNP offices in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Immersion dans les bureaux de BNP à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>