<?xml version="1.0" encoding="utf-8"?>
<Content Key="656a80ea-00ce-4611-9853-a0b098c85d41" Alias="Les bureaux de BNP #3" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/LesBureauxDeBNP3</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Les bureaux de BNP #3">
      <Name Culture="en">The BNP Offices #3</Name>
      <Name Culture="fr">Les bureaux de BNP #3</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ef016709c7ea469f8373833f9f16ff51"
      },
      {
        "contentUdi": "umb://element/b41d4b8e51154acb854a9d4a314af5ba"
      },
      {
        "contentUdi": "umb://element/f201f87a0f2a4aecbe5ad78c0719c6b2"
      },
      {
        "contentUdi": "umb://element/027a52e66ea540c3b8c098e416313716"
      },
      {
        "contentUdi": "umb://element/9dc6bd3bc94549acb2359b8777330105"
      },
      {
        "contentUdi": "umb://element/1892a8709329484b84ed6aa1677539c7"
      },
      {
        "contentUdi": "umb://element/dd323fa384c74936938c3eff9820344d"
      },
      {
        "contentUdi": "umb://element/74cb1f8059f94be79d9145031643faee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef016709c7ea469f8373833f9f16ff51",
      "value": "fenêtre",
      "confidence": "0.9769208431243896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b41d4b8e51154acb854a9d4a314af5ba",
      "value": "ville",
      "confidence": "0.9127745628356934"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f201f87a0f2a4aecbe5ad78c0719c6b2",
      "value": "Bâtiment commercial",
      "confidence": "0.9024422764778137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/027a52e66ea540c3b8c098e416313716",
      "value": "architecture",
      "confidence": "0.897651195526123"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9dc6bd3bc94549acb2359b8777330105",
      "value": "façade",
      "confidence": "0.849600076675415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1892a8709329484b84ed6aa1677539c7",
      "value": "bâtiment",
      "confidence": "0.7725715637207031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd323fa384c74936938c3eff9820344d",
      "value": "plein air",
      "confidence": "0.7498664855957031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74cb1f8059f94be79d9145031643faee",
      "value": "rue",
      "confidence": "0.4913487732410431"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1fe0ff09c66424baecaf0b71c5de1fe"
      },
      {
        "contentUdi": "umb://element/d9017a88c44e4364b803f68e4bd9c635"
      },
      {
        "contentUdi": "umb://element/3e0852eda7cd4b38ab09b0fd51390261"
      },
      {
        "contentUdi": "umb://element/cacc0181c4a142eea42cd1ebc1c810b3"
      },
      {
        "contentUdi": "umb://element/d7dc9856b14b4b698e98920907c12a08"
      },
      {
        "contentUdi": "umb://element/6adfe6529bac48718d792190d70f1c87"
      },
      {
        "contentUdi": "umb://element/7e12ac1a67a44a189e9743e1feb61dbb"
      },
      {
        "contentUdi": "umb://element/8698381b64d14a398f5dd7690c244505"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1fe0ff09c66424baecaf0b71c5de1fe",
      "value": "fenêtre",
      "confidence": "0.9769208431243896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9017a88c44e4364b803f68e4bd9c635",
      "value": "ville",
      "confidence": "0.9127745628356934"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e0852eda7cd4b38ab09b0fd51390261",
      "value": "Bâtiment commercial",
      "confidence": "0.9024422764778137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cacc0181c4a142eea42cd1ebc1c810b3",
      "value": "architecture",
      "confidence": "0.897651195526123"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7dc9856b14b4b698e98920907c12a08",
      "value": "façade",
      "confidence": "0.849600076675415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6adfe6529bac48718d792190d70f1c87",
      "value": "bâtiment",
      "confidence": "0.7725715637207031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e12ac1a67a44a189e9743e1feb61dbb",
      "value": "plein air",
      "confidence": "0.7498664855957031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8698381b64d14a398f5dd7690c244505",
      "value": "rue",
      "confidence": "0.4913487732410431"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Let's stay modern, let's embrace the \"vaginism\" trend</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Restons moderne, embrassons le courant \"vaginisme\"</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a modern building in Brussels, Belgium. The structure features curved lines and glass windows that reflect light, creating an impressive visual effect. The building appears to surround an inner courtyard, offering an open space in the center."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un bâtiment moderne à Bruxelles, Belgique. La structure présente des lignes courbes et des fenêtres en verre qui reflètent la lumière, créant un effet visuel impressionnant. Le bâtiment semble entourer une cour intérieure, offrant un espace ouvert au centre."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#architecture #modernbuilding #Bruxelles #Belgique #curveddesign #urban]]></Value>
      <Value Culture="fr"><![CDATA[#architecture #Bruxelles #Belgique #moderne #bâtiment]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "443aa423-0947-462a-abcd-5abbe8a7fe2d",
    "mediaKey": "5eb5c4e9-2c95-4f2f-96da-dffe1632bb39"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'architecture innovante des bureaux de BNP à Bruxelles, où courbes élégantes et verre réfléchissant se marient harmonieusement.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP à Bruxelles : Un Chef-d'œuvre Moderne]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The BNP Offices in Brussels: A Modern Masterpiece]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP à Bruxelles : Un Chef-d'œuvre Moderne]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/2-bnp-offices-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/2-bnp-offices-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "building",
  "architecture",
  "modern",
  "windows",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bâtiment",
  "architecture",
  "moderne",
  "fenêtres",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'architecture innovante des bureaux de BNP à Bruxelles, où courbes élégantes et verre réfléchissant se marient harmonieusement.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The BNP Offices in Brussels: A Modern Masterpiece]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP à Bruxelles : Un Chef-d'œuvre Moderne]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>