<?xml version="1.0" encoding="utf-8"?>
<Content Key="280197c3-e9ad-4e2c-ae8c-539d03be4250" Alias="Les canyons de Pai" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/LesCanyonsDePai</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Les canyons de Pai">
      <Name Culture="en">The Canyons of Pai</Name>
      <Name Culture="fr">Les canyons de Pai</Name>
    </NodeName>
    <SortOrder>46</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bba387910a364ae385958275449cf771"
      },
      {
        "contentUdi": "umb://element/a9647381d61e4e0f9170f534d10d5a30"
      },
      {
        "contentUdi": "umb://element/145bb9f209bd4ded9e03b8e1848e06ef"
      },
      {
        "contentUdi": "umb://element/55357a26a8554b4795810d8f35ce013e"
      },
      {
        "contentUdi": "umb://element/950819ab54a64d2bb49f5a34b069f688"
      },
      {
        "contentUdi": "umb://element/94e6407f7c6c4553a20dc3dc015f2200"
      },
      {
        "contentUdi": "umb://element/5f23ba00b09d4a7fbe3ef849619caa9c"
      },
      {
        "contentUdi": "umb://element/0de444472b584de088c0e05fd7bab307"
      },
      {
        "contentUdi": "umb://element/4e11bbdf14024e7fbadea4d87369b2ab"
      },
      {
        "contentUdi": "umb://element/e1b1abd290ca4e84916e58fd2aa3389f"
      },
      {
        "contentUdi": "umb://element/46fddc9f3b3b4f468e42844b8e88497f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bba387910a364ae385958275449cf771",
      "value": "plein air",
      "confidence": "0.9995332956314087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9647381d61e4e0f9170f534d10d5a30",
      "value": "ciel",
      "confidence": "0.986079216003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/145bb9f209bd4ded9e03b8e1848e06ef",
      "value": "nuage",
      "confidence": "0.9815791845321655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55357a26a8554b4795810d8f35ce013e",
      "value": "plante",
      "confidence": "0.9798531532287598"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/950819ab54a64d2bb49f5a34b069f688",
      "value": "nature",
      "confidence": "0.9650429487228394"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94e6407f7c6c4553a20dc3dc015f2200",
      "value": "arbre",
      "confidence": "0.9532122611999512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f23ba00b09d4a7fbe3ef849619caa9c",
      "value": "paysage",
      "confidence": "0.9467858076095581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0de444472b584de088c0e05fd7bab307",
      "value": "Communauté végétale",
      "confidence": "0.9049451947212219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4e11bbdf14024e7fbadea4d87369b2ab",
      "value": "végétation",
      "confidence": "0.8991979360580444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1b1abd290ca4e84916e58fd2aa3389f",
      "value": "montagne",
      "confidence": "0.8231335878372192"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/46fddc9f3b3b4f468e42844b8e88497f",
      "value": "vignoble",
      "confidence": "0.4779125154018402"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/faa72b34813b4f2a9facab884a937876"
      },
      {
        "contentUdi": "umb://element/c5df8bc8b3334ec88cabb081947ad4aa"
      },
      {
        "contentUdi": "umb://element/a85ca00ea59a4cab80d1aa4ae25dcffe"
      },
      {
        "contentUdi": "umb://element/151cbda298ac4671aaed25891e5c5aac"
      },
      {
        "contentUdi": "umb://element/9c66a50529a141f79835749404c47012"
      },
      {
        "contentUdi": "umb://element/85710ae958034a43ac94eed8200c5156"
      },
      {
        "contentUdi": "umb://element/68545dfa5cad401ab4382cd852537fc0"
      },
      {
        "contentUdi": "umb://element/ca45138f192d4f2388ceaa4c0e85526d"
      },
      {
        "contentUdi": "umb://element/784b7ab70c5f4f908618fa0c39080840"
      },
      {
        "contentUdi": "umb://element/d0724c600a52423e818b0dfb0cd01e39"
      },
      {
        "contentUdi": "umb://element/81bab45bebe14275a5a9252fade8945a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/faa72b34813b4f2a9facab884a937876",
      "value": "plein air",
      "confidence": "0.9995332956314087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c5df8bc8b3334ec88cabb081947ad4aa",
      "value": "ciel",
      "confidence": "0.986079216003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a85ca00ea59a4cab80d1aa4ae25dcffe",
      "value": "nuage",
      "confidence": "0.9815791845321655"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/151cbda298ac4671aaed25891e5c5aac",
      "value": "plante",
      "confidence": "0.9798531532287598"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9c66a50529a141f79835749404c47012",
      "value": "nature",
      "confidence": "0.9650429487228394"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85710ae958034a43ac94eed8200c5156",
      "value": "arbre",
      "confidence": "0.9532122611999512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68545dfa5cad401ab4382cd852537fc0",
      "value": "paysage",
      "confidence": "0.9467858076095581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca45138f192d4f2388ceaa4c0e85526d",
      "value": "Communauté végétale",
      "confidence": "0.9049451947212219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/784b7ab70c5f4f908618fa0c39080840",
      "value": "végétation",
      "confidence": "0.8991979360580444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d0724c600a52423e818b0dfb0cd01e39",
      "value": "montagne",
      "confidence": "0.8231335878372192"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/81bab45bebe14275a5a9252fade8945a",
      "value": "vignoble",
      "confidence": "0.4779125154018402"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Canyons of Pai, athletic moments to traverse the narrow paths surrounded by emptiness!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les canyons de Pai, moments athlétiques pour parcourir les maigres sentiers entourés de vide !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque landscape in Pai, Thailand. It features a narrow path that crosses a rocky ridge surrounded by lush vegetation. The green trees and surrounding hills add to the natural beauty of the place. The sky is blue with a few scattered clouds, creating a serene and peaceful atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage pittoresque à Pai, en Thaïlande. On y voit un sentier étroit qui traverse une crête rocheuse entourée de végétation luxuriante. Les arbres verts et les collines environnantes ajoutent à la beauté naturelle de l'endroit. Le ciel est bleu avec quelques nuages épars, créant une atmosphère sereine et paisible."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#PaiCanyon #Thailand #Nature #ScenicView #Hiking #Adventure #Travel #Landscape]]></Value>
      <Value Culture="fr"><![CDATA[#Paysage #Nature #Thaïlande #Voyage #Aventure #Randonnée]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d657b8be-17a1-4bb1-b47a-2493f164479d",
    "mediaKey": "fc8c9f49-1fc6-41d2-b159-fb566ae40cb5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les canyons de Pai, moments athlétiques pour parcourir les maigres sentiers entourés de vide !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les canyons de Pai : Aventure au cœur de la nature]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Canyons of Pai: Adventure in the Heart of Nature]]></Value>
      <Value Culture="fr"><![CDATA[Les canyons de Pai : Aventure au cœur de la nature]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/canyon-of-pay-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/canyon-of-pay-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Landscape",
  "Nature",
  "Trail",
  "Rocks",
  "Vegetation",
  "Hills",
  "Blue Sky",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Paysage",
  "Nature",
  "Sentier",
  "Roches",
  "Végétation",
  "Collines",
  "Ciel bleu",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les canyons de Pai, moments athlétiques pour parcourir les maigres sentiers entourés de vide !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Canyons of Pai: Adventure in the Heart of Nature]]></Value>
      <Value Culture="fr"><![CDATA[Les canyons de Pai : Aventure au cœur de la nature]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>