<?xml version="1.0" encoding="utf-8"?>
<Content Key="02c66e12-aa32-4317-81a3-8ebeb66ca0bc" Alias="L'espadon, l'emblême d'Ao Nang" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/LespadonLemblemeDAoNang</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="L'espadon, l'emblême d'Ao Nang">
      <Name Culture="en">El Pez Espada, el Emblema de Ao Nang</Name>
      <Name Culture="fr">L'espadon, l'emblême d'Ao Nang</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4788280d2bbc4ae7a4797bf5f4655878"
      },
      {
        "contentUdi": "umb://element/63358adfb5b14188bfa0698da8dbd84a"
      },
      {
        "contentUdi": "umb://element/f220ef794ac74ce0a7d6e056a7452977"
      },
      {
        "contentUdi": "umb://element/ea37a20ed8a946699b51c8d540720de4"
      },
      {
        "contentUdi": "umb://element/537d975f22574b6daa0539d379a51c19"
      },
      {
        "contentUdi": "umb://element/5852f838534647e3b4783adac57ba151"
      },
      {
        "contentUdi": "umb://element/599302ec41ae41dd9d31112fcd85abe2"
      },
      {
        "contentUdi": "umb://element/139d0715919d4bba86396a530c2a8a11"
      },
      {
        "contentUdi": "umb://element/eabb9c9c5f7340908124ed7958f5e486"
      },
      {
        "contentUdi": "umb://element/eb06e0478eff4fb99737d7bc1ba1dbbf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4788280d2bbc4ae7a4797bf5f4655878",
      "value": "ciel",
      "confidence": "0.9947352409362793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63358adfb5b14188bfa0698da8dbd84a",
      "value": "plein air",
      "confidence": "0.9882444143295288"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f220ef794ac74ce0a7d6e056a7452977",
      "value": "nuage",
      "confidence": "0.9778710603713989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea37a20ed8a946699b51c8d540720de4",
      "value": "arbre",
      "confidence": "0.8678853511810303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/537d975f22574b6daa0539d379a51c19",
      "value": "eau",
      "confidence": "0.8639843463897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5852f838534647e3b4783adac57ba151",
      "value": "sculpture",
      "confidence": "0.8420130014419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/599302ec41ae41dd9d31112fcd85abe2",
      "value": "art",
      "confidence": "0.7897392511367798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/139d0715919d4bba86396a530c2a8a11",
      "value": "plage",
      "confidence": "0.7796149253845215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eabb9c9c5f7340908124ed7958f5e486",
      "value": "sol",
      "confidence": "0.7347633838653564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb06e0478eff4fb99737d7bc1ba1dbbf",
      "value": "statue",
      "confidence": "0.5557190775871277"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bdbca1d8d1cc42b0a903f219d485eff1"
      },
      {
        "contentUdi": "umb://element/6a8e2662c8074cd2bb24fc0606785eda"
      },
      {
        "contentUdi": "umb://element/a0d52f8f3e46497aa061cb17db01fe16"
      },
      {
        "contentUdi": "umb://element/55c905417e4c41d5b0a3e359f156f888"
      },
      {
        "contentUdi": "umb://element/8eaa3888f7f143d08ffbd6d1da597e7a"
      },
      {
        "contentUdi": "umb://element/27e7960668b94558a675dc983aacdef3"
      },
      {
        "contentUdi": "umb://element/5648e89bb1884bd2a74ebe5033195aee"
      },
      {
        "contentUdi": "umb://element/f4be7323d68c4e959a8372372317dfba"
      },
      {
        "contentUdi": "umb://element/79618a0e90d14499a6d960f0a430254b"
      },
      {
        "contentUdi": "umb://element/4a82c32d4ca748e19d19d3271542f8bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdbca1d8d1cc42b0a903f219d485eff1",
      "value": "ciel",
      "confidence": "0.9947352409362793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a8e2662c8074cd2bb24fc0606785eda",
      "value": "plein air",
      "confidence": "0.9882444143295288"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a0d52f8f3e46497aa061cb17db01fe16",
      "value": "nuage",
      "confidence": "0.9778710603713989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55c905417e4c41d5b0a3e359f156f888",
      "value": "arbre",
      "confidence": "0.8678853511810303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8eaa3888f7f143d08ffbd6d1da597e7a",
      "value": "eau",
      "confidence": "0.8639843463897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27e7960668b94558a675dc983aacdef3",
      "value": "sculpture",
      "confidence": "0.8420130014419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5648e89bb1884bd2a74ebe5033195aee",
      "value": "art",
      "confidence": "0.7897392511367798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4be7323d68c4e959a8372372317dfba",
      "value": "plage",
      "confidence": "0.7796149253845215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/79618a0e90d14499a6d960f0a430254b",
      "value": "sol",
      "confidence": "0.7347633838653564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4a82c32d4ca748e19d19d3271542f8bf",
      "value": "statue",
      "confidence": "0.5557190775871277"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>¡El emblema de Ao Nang, el pez espada! Aquí está petrificado.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'emblême d'Ao Nang, l'espadon ! Le voici pétrifié.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "Esta imagen muestra una gran escultura al aire libre ubicada en Ao Niang, Tailandia. La escultura representa un pez vela saltando fuera del agua, con detalles impresionantes y realistas. La escultura está colocada sobre una plataforma de concreto con escaleras que conducen a ella. En el fondo, se puede ver el mar azul y un cielo parcialmente nublado, así como un árbol a la derecha de la imagen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une grande sculpture en plein air située à Ao Niang, Thaïlande. La sculpture représente un poisson voilier en plein saut hors de l'eau, avec des détails impressionnants et réalistes. La sculpture est placée sur une plateforme en béton avec des escaliers menant à elle. En arrière-plan, on peut voir la mer bleue et un ciel partiellement nuageux, ainsi qu'un arbre sur la droite de l'image."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sculpture #Marlin #Seagulls #OceanView #Thailand #AoNiang #Art #Nature]]></Value>
      <Value Culture="fr"><![CDATA[#sculpture #poissonvoilier #mer #Thaïlande #AoNiang #artpublic #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "a2c162da-2888-4a78-9c8f-a51c361c79f3",
    "mediaKey": "a72ff135-6a1a-427f-bd21-feb1ee7eb4b7"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ao Niang, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ao Niang, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[El Pez Espada Petrificado de Ao Nang]]></Value>
      <Value Culture="fr"><![CDATA[L'Espadon de Ao Nang : Une Sculpture Majestueuse]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/city-of-ao-nang-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/city-of-ao-nang-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "escultura",
  "pez vela",
  "mar",
  "cielo",
  "al aire libre",
  "Tailandia",
  "Ao Niang"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "sculpture",
  "poisson voilier",
  "mer",
  "ciel",
  "plein air",
  "Thaïlande",
  "Ao Niang"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[El Pez Espada Petrificado de Ao Nang]]></Value>
      <Value Culture="fr"><![CDATA[L'Espadon de Ao Nang : Une Sculpture Majestueuse]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>