<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb1f1f08-7ed2-4f13-9627-76b4d19a0908" Alias="L'espadon, l'emblême d'Ao Nang" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/LespadonLemblemeDAoNang</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-02T21:30:36</CreateDate>
    <NodeName Default="L'espadon, l'emblême d'Ao Nang">
      <Name Culture="en">El Pez Espada, el Emblema de Ao Nang</Name>
      <Name Culture="fr">L'espadon, l'emblême d'Ao Nang</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e13b13bae2e547e69a47143003ee56c5"
      },
      {
        "contentUdi": "umb://element/b575e6dcc37d43a8b6fe46627549e33a"
      },
      {
        "contentUdi": "umb://element/42959e366d1e4fcc8f4460fb9290ff69"
      },
      {
        "contentUdi": "umb://element/ef12315a96d646e2a406b068d4f48ec7"
      },
      {
        "contentUdi": "umb://element/b9075964abb440f087b9de8493b2418e"
      },
      {
        "contentUdi": "umb://element/e1fca5d9f5b442b4bc429c68dee15756"
      },
      {
        "contentUdi": "umb://element/ee3eea72263643f8808192637a9354a7"
      },
      {
        "contentUdi": "umb://element/03880f21a3924d8cb132d70147da663d"
      },
      {
        "contentUdi": "umb://element/326f6ac96048471e99748260c4b77481"
      },
      {
        "contentUdi": "umb://element/6e623972252547e3ad1bce2f8b5874f5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e13b13bae2e547e69a47143003ee56c5",
      "value": "ciel",
      "confidence": "0.9947352409362793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b575e6dcc37d43a8b6fe46627549e33a",
      "value": "plein air",
      "confidence": "0.9882444143295288"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42959e366d1e4fcc8f4460fb9290ff69",
      "value": "nuage",
      "confidence": "0.9778710603713989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef12315a96d646e2a406b068d4f48ec7",
      "value": "arbre",
      "confidence": "0.8678853511810303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9075964abb440f087b9de8493b2418e",
      "value": "eau",
      "confidence": "0.8639843463897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1fca5d9f5b442b4bc429c68dee15756",
      "value": "sculpture",
      "confidence": "0.8420130014419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3eea72263643f8808192637a9354a7",
      "value": "art",
      "confidence": "0.7897392511367798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03880f21a3924d8cb132d70147da663d",
      "value": "plage",
      "confidence": "0.7796149253845215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/326f6ac96048471e99748260c4b77481",
      "value": "sol",
      "confidence": "0.7347633838653564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e623972252547e3ad1bce2f8b5874f5",
      "value": "statue",
      "confidence": "0.5557190775871277"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e13b13bae2e547e69a47143003ee56c5"
      },
      {
        "contentUdi": "umb://element/b575e6dcc37d43a8b6fe46627549e33a"
      },
      {
        "contentUdi": "umb://element/42959e366d1e4fcc8f4460fb9290ff69"
      },
      {
        "contentUdi": "umb://element/ef12315a96d646e2a406b068d4f48ec7"
      },
      {
        "contentUdi": "umb://element/b9075964abb440f087b9de8493b2418e"
      },
      {
        "contentUdi": "umb://element/e1fca5d9f5b442b4bc429c68dee15756"
      },
      {
        "contentUdi": "umb://element/ee3eea72263643f8808192637a9354a7"
      },
      {
        "contentUdi": "umb://element/03880f21a3924d8cb132d70147da663d"
      },
      {
        "contentUdi": "umb://element/326f6ac96048471e99748260c4b77481"
      },
      {
        "contentUdi": "umb://element/6e623972252547e3ad1bce2f8b5874f5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e13b13bae2e547e69a47143003ee56c5",
      "value": "ciel",
      "confidence": "0.9947352409362793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b575e6dcc37d43a8b6fe46627549e33a",
      "value": "plein air",
      "confidence": "0.9882444143295288"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42959e366d1e4fcc8f4460fb9290ff69",
      "value": "nuage",
      "confidence": "0.9778710603713989"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef12315a96d646e2a406b068d4f48ec7",
      "value": "arbre",
      "confidence": "0.8678853511810303"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9075964abb440f087b9de8493b2418e",
      "value": "eau",
      "confidence": "0.8639843463897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1fca5d9f5b442b4bc429c68dee15756",
      "value": "sculpture",
      "confidence": "0.8420130014419556"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3eea72263643f8808192637a9354a7",
      "value": "art",
      "confidence": "0.7897392511367798"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03880f21a3924d8cb132d70147da663d",
      "value": "plage",
      "confidence": "0.7796149253845215"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/326f6ac96048471e99748260c4b77481",
      "value": "sol",
      "confidence": "0.7347633838653564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e623972252547e3ad1bce2f8b5874f5",
      "value": "statue",
      "confidence": "0.5557190775871277"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>¡El emblema de Ao Nang, el pez espada! Aquí está petrificado.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'emblême d'Ao Nang, l'espadon ! Le voici pétrifié.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "Esta imagen muestra una gran escultura al aire libre ubicada en Ao Niang, Tailandia. La escultura representa un pez vela saltando fuera del agua, con detalles impresionantes y realistas. La escultura está colocada sobre una plataforma de concreto con escaleras que conducen a ella. En el fondo, se puede ver el mar azul y un cielo parcialmente nublado, así como un árbol a la derecha de la imagen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une grande sculpture en plein air située à Ao Niang, Thaïlande. La sculpture représente un poisson voilier en plein saut hors de l'eau, avec des détails impressionnants et réalistes. La sculpture est placée sur une plateforme en béton avec des escaliers menant à elle. En arrière-plan, on peut voir la mer bleue et un ciel partiellement nuageux, ainsi qu'un arbre sur la droite de l'image."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sculpture #Marlin #Seagulls #OceanView #Thailand #AoNiang #Art #Nature]]></Value>
      <Value Culture="fr"><![CDATA[#sculpture #poissonvoilier #mer #Thaïlande #AoNiang #artpublic #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "a2c162da-2888-4a78-9c8f-a51c361c79f3",
    "mediaKey": "a72ff135-6a1a-427f-bd21-feb1ee7eb4b7"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ao Niang, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ao Niang, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[El Pez Espada Petrificado de Ao Nang]]></Value>
      <Value Culture="fr"><![CDATA[L'Espadon de Ao Nang : Une Sculpture Majestueuse]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/city-of-ao-nang-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/city-of-ao-nang-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "escultura",
  "pez vela",
  "mar",
  "cielo",
  "al aire libre",
  "Tailandia",
  "Ao Niang"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "sculpture",
  "poisson voilier",
  "mer",
  "ciel",
  "plein air",
  "Thaïlande",
  "Ao Niang"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'emblème d'Ao Nang, un poisson voilier magnifiquement sculpté, figé en plein saut.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[El Pez Espada Petrificado de Ao Nang]]></Value>
      <Value Culture="fr"><![CDATA[L'Espadon de Ao Nang : Une Sculpture Majestueuse]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>