<?xml version="1.0" encoding="utf-8"?>
<Content Key="956d3156-95d9-493c-9ab0-100f4da47d99" Alias="Let's Reflect, Am I Truly Dead?" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/LetsReflectAmITrulyDead</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T18:58:40</CreateDate>
    <NodeName Default="Let's Reflect, Am I Truly Dead?">
      <Name Culture="en">Let's Reflect, Am I Truly Dead?</Name>
      <Name Culture="fr">Réfléchissons, suis-je bien mort?</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f7ccb41c1e144089d0dfed65c4ec0ac"
      },
      {
        "contentUdi": "umb://element/83c41e116c20491f892365a3adbddfb5"
      },
      {
        "contentUdi": "umb://element/a89f5f8b1b284f1ca931a4cf2a95f4a1"
      },
      {
        "contentUdi": "umb://element/5aad2cc77fb1472e9884cdad6e0e272a"
      },
      {
        "contentUdi": "umb://element/ce79c67ee3f94f68b50c1516a840e4f8"
      },
      {
        "contentUdi": "umb://element/3814dbaadc444844926b3e7e070e1ef6"
      },
      {
        "contentUdi": "umb://element/5e37faf667b8408f8eb4c44cdb4d52ca"
      },
      {
        "contentUdi": "umb://element/644549d3e73440adb80dd9f109f84d34"
      },
      {
        "contentUdi": "umb://element/7f9a4423261f4995989c3665202752be"
      },
      {
        "contentUdi": "umb://element/c584be043a1b459886924b5845611f50"
      },
      {
        "contentUdi": "umb://element/75115db32d8f40c487ce70161ac39754"
      },
      {
        "contentUdi": "umb://element/9f8c03b9c1a04f67abc2229ec856f84e"
      },
      {
        "contentUdi": "umb://element/796750e94c274116a53982fbd31672c8"
      },
      {
        "contentUdi": "umb://element/3b8db50ef6564c5ab50c384c0ba2bd1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f7ccb41c1e144089d0dfed65c4ec0ac",
      "value": "plein air",
      "confidence": "0.9975368976593018"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83c41e116c20491f892365a3adbddfb5",
      "value": "nuage",
      "confidence": "0.9975272417068481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a89f5f8b1b284f1ca931a4cf2a95f4a1",
      "value": "ciel",
      "confidence": "0.9831392765045166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5aad2cc77fb1472e9884cdad6e0e272a",
      "value": "bâtiment",
      "confidence": "0.9662766456604004"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce79c67ee3f94f68b50c1516a840e4f8",
      "value": "sculpture",
      "confidence": "0.965861976146698"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3814dbaadc444844926b3e7e070e1ef6",
      "value": "monument",
      "confidence": "0.9567159414291382"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e37faf667b8408f8eb4c44cdb4d52ca",
      "value": "arbre",
      "confidence": "0.9521183967590332"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/644549d3e73440adb80dd9f109f84d34",
      "value": "plante",
      "confidence": "0.948395848274231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f9a4423261f4995989c3665202752be",
      "value": "mémorial",
      "confidence": "0.9445393681526184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c584be043a1b459886924b5845611f50",
      "value": "herbe",
      "confidence": "0.9116363525390625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75115db32d8f40c487ce70161ac39754",
      "value": "cimetière",
      "confidence": "0.8936306834220886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f8c03b9c1a04f67abc2229ec856f84e",
      "value": "grave",
      "confidence": "0.8904963135719299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/796750e94c274116a53982fbd31672c8",
      "value": "statue",
      "confidence": "0.5414066314697266"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b8db50ef6564c5ab50c384c0ba2bd1a",
      "value": "jardin",
      "confidence": "0.5182809233665466"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f7ccb41c1e144089d0dfed65c4ec0ac"
      },
      {
        "contentUdi": "umb://element/83c41e116c20491f892365a3adbddfb5"
      },
      {
        "contentUdi": "umb://element/a89f5f8b1b284f1ca931a4cf2a95f4a1"
      },
      {
        "contentUdi": "umb://element/5aad2cc77fb1472e9884cdad6e0e272a"
      },
      {
        "contentUdi": "umb://element/ce79c67ee3f94f68b50c1516a840e4f8"
      },
      {
        "contentUdi": "umb://element/3814dbaadc444844926b3e7e070e1ef6"
      },
      {
        "contentUdi": "umb://element/5e37faf667b8408f8eb4c44cdb4d52ca"
      },
      {
        "contentUdi": "umb://element/644549d3e73440adb80dd9f109f84d34"
      },
      {
        "contentUdi": "umb://element/7f9a4423261f4995989c3665202752be"
      },
      {
        "contentUdi": "umb://element/c584be043a1b459886924b5845611f50"
      },
      {
        "contentUdi": "umb://element/75115db32d8f40c487ce70161ac39754"
      },
      {
        "contentUdi": "umb://element/9f8c03b9c1a04f67abc2229ec856f84e"
      },
      {
        "contentUdi": "umb://element/796750e94c274116a53982fbd31672c8"
      },
      {
        "contentUdi": "umb://element/3b8db50ef6564c5ab50c384c0ba2bd1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f7ccb41c1e144089d0dfed65c4ec0ac",
      "value": "plein air",
      "confidence": "0.9975368976593018"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83c41e116c20491f892365a3adbddfb5",
      "value": "nuage",
      "confidence": "0.9975272417068481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a89f5f8b1b284f1ca931a4cf2a95f4a1",
      "value": "ciel",
      "confidence": "0.9831392765045166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5aad2cc77fb1472e9884cdad6e0e272a",
      "value": "bâtiment",
      "confidence": "0.9662766456604004"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce79c67ee3f94f68b50c1516a840e4f8",
      "value": "sculpture",
      "confidence": "0.965861976146698"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3814dbaadc444844926b3e7e070e1ef6",
      "value": "monument",
      "confidence": "0.9567159414291382"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e37faf667b8408f8eb4c44cdb4d52ca",
      "value": "arbre",
      "confidence": "0.9521183967590332"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/644549d3e73440adb80dd9f109f84d34",
      "value": "plante",
      "confidence": "0.948395848274231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f9a4423261f4995989c3665202752be",
      "value": "mémorial",
      "confidence": "0.9445393681526184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c584be043a1b459886924b5845611f50",
      "value": "herbe",
      "confidence": "0.9116363525390625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75115db32d8f40c487ce70161ac39754",
      "value": "cimetière",
      "confidence": "0.8936306834220886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f8c03b9c1a04f67abc2229ec856f84e",
      "value": "grave",
      "confidence": "0.8904963135719299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/796750e94c274116a53982fbd31672c8",
      "value": "statue",
      "confidence": "0.5414066314697266"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b8db50ef6564c5ab50c384c0ba2bd1a",
      "value": "jardin",
      "confidence": "0.5182809233665466"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Rodin's Thinker at Laeken Cemetery</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le penseur de Rodin du cimétière de Laeken</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an iconic statue in a cemetery in Brussels, Belgium. The statue depicts a pensive man sitting on a stone pedestal. Around the statue, one can see several graves and funerary monuments, as well as trees and bushes. The sky is partially covered with dark clouds, adding a melancholic atmosphere to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une statue emblématique dans un cimetière à Bruxelles, Belgique. La statue représente un homme pensif assis sur un socle en pierre. Autour de la statue, on peut voir plusieurs tombes et monuments funéraires, ainsi que des arbres et des buissons. Le ciel est partiellement couvert de nuages sombres, ajoutant une atmosphère mélancolique à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#cemetery #Brussels #Belgium #statue #tombstones #mausoleum #nature #cloudy #reflection]]></Value>
      <Value Culture="fr"><![CDATA[#statue #cimetière #Bruxelles #Belgique #monument #mélancolie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "124c52ac-263e-4b1b-a5b4-25b1a9c170a0",
    "mediaKey": "02863af8-0cb3-4830-bd14-68810fe69ab6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'atmosphère poignante du cimetière de Laeken à travers la statue emblématique du penseur de Rodin.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Mélancoliques au Cimetière de Laeken]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Melancholic Reflections at Laeken Cemetery]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Mélancoliques au Cimetière de Laeken]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/le-penseur-de-rodin-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/le-penseur-de-rodin-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "statue",
  "cemetery",
  "Brussels",
  "Belgium",
  "monument",
  "trees",
  "graves",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "statue",
  "cimetière",
  "Bruxelles",
  "Belgique",
  "monument",
  "arbres",
  "tombes",
  "nuages"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'atmosphère poignante du cimetière de Laeken à travers la statue emblématique du penseur de Rodin.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Melancholic Reflections at Laeken Cemetery]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Mélancoliques au Cimetière de Laeken]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>