<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e0f0cb3-0f1b-4e50-a197-87a96c253fda" Alias="Love is in the air" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/LoveIsInTheAir</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Love is in the air">
      <Name Culture="en">Love is in the air</Name>
      <Name Culture="fr">Love is in the air</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84f9c4699fa147c29fb3295a48e12ee7"
      },
      {
        "contentUdi": "umb://element/b312aacae1264509a2c22bea6356c5c4"
      },
      {
        "contentUdi": "umb://element/03ec56239b3b4afe98b3eebf1038f112"
      },
      {
        "contentUdi": "umb://element/6e8f3e718c9743da8998518feaccbfc9"
      },
      {
        "contentUdi": "umb://element/85c7d1c765624b6ab35ea11ccb6dc17c"
      },
      {
        "contentUdi": "umb://element/4f819aea062241ea8f1f34aa9531ad52"
      },
      {
        "contentUdi": "umb://element/b902aed96b9540f49a596e8d10378a44"
      },
      {
        "contentUdi": "umb://element/0c2fa8ab3216443ab305ae7a9adf66bb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84f9c4699fa147c29fb3295a48e12ee7",
      "value": "plein air",
      "confidence": "0.9791477918624878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b312aacae1264509a2c22bea6356c5c4",
      "value": "feuille",
      "confidence": "0.8889552354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03ec56239b3b4afe98b3eebf1038f112",
      "value": "Macrophotographie",
      "confidence": "0.8843593001365662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e8f3e718c9743da8998518feaccbfc9",
      "value": "vert",
      "confidence": "0.8631371259689331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85c7d1c765624b6ab35ea11ccb6dc17c",
      "value": "Tige",
      "confidence": "0.8594762682914734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f819aea062241ea8f1f34aa9531ad52",
      "value": "Pathologie végétale",
      "confidence": "0.8568901419639587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b902aed96b9540f49a596e8d10378a44",
      "value": "mildiou de la pomme de terre",
      "confidence": "0.7681414484977722"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c2fa8ab3216443ab305ae7a9adf66bb",
      "value": "plante",
      "confidence": "0.6475027203559875"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c543eb312354651bb985b893cb13b6a"
      },
      {
        "contentUdi": "umb://element/64a3b109d2884ac4b012882f18fa1d0a"
      },
      {
        "contentUdi": "umb://element/545d0e4712e5458d955cc4f30fdf1a0c"
      },
      {
        "contentUdi": "umb://element/e471bd595078419a8013ff51dfa6d156"
      },
      {
        "contentUdi": "umb://element/984e56625ffd49ba82b4441431940fec"
      },
      {
        "contentUdi": "umb://element/357c0b346902458aaa496cdcb7b111c6"
      },
      {
        "contentUdi": "umb://element/784b8bf47ed847faba8e8b1611736aaf"
      },
      {
        "contentUdi": "umb://element/afcdd8331f254c06931436becf8aa7b6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2c543eb312354651bb985b893cb13b6a",
      "value": "plein air",
      "confidence": "0.9791477918624878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/64a3b109d2884ac4b012882f18fa1d0a",
      "value": "feuille",
      "confidence": "0.8889552354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/545d0e4712e5458d955cc4f30fdf1a0c",
      "value": "Macrophotographie",
      "confidence": "0.8843593001365662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e471bd595078419a8013ff51dfa6d156",
      "value": "vert",
      "confidence": "0.8631371259689331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/984e56625ffd49ba82b4441431940fec",
      "value": "Tige",
      "confidence": "0.8594762682914734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/357c0b346902458aaa496cdcb7b111c6",
      "value": "Pathologie végétale",
      "confidence": "0.8568901419639587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/784b8bf47ed847faba8e8b1611736aaf",
      "value": "mildiou de la pomme de terre",
      "confidence": "0.7681414484977722"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afcdd8331f254c06931436becf8aa7b6",
      "value": "plante",
      "confidence": "0.6475027203559875"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Union of two buds</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Union de deux bourgeons</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a close-up of green buds with leaves opening. You can see an insect, probably a bee, on one of the buds. The background is blurred, highlighting the details of the buds and leaves."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un gros plan de bourgeons verts avec des feuilles en train de s'ouvrir. On peut voir un insecte, probablement une abeille, sur l'un des bourgeons. L'arrière-plan est flou, mettant en valeur les détails des bourgeons et des feuilles."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#nature #plants #greenery #botany #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#bourgeons #feuilles #insecte #nature #grosplan #vert #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "0ba4a071-aa7d-4ef8-a2e2-9650be01b290",
    "mediaKey": "0655b9cd-d26c-4804-8996-1a3e82f867c9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Union de deux bourgeons]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Love in Bloom]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "buds",
  "leaves",
  "insect",
  "nature",
  "close-up",
  "green"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bourgeons",
  "feuilles",
  "insecte",
  "nature",
  "gros plan",
  "vert"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Union de deux bourgeons]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Love in Bloom]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>