<?xml version="1.0" encoding="utf-8"?>
<Content Key="d99b3c0d-419a-43fe-ae3c-47f3985cd8f9" Alias="Love is in the air" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/LoveIsInTheAir</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T20:10:07</CreateDate>
    <NodeName Default="Love is in the air">
      <Name Culture="en">Love is in the air</Name>
      <Name Culture="fr">Love is in the air</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/18d1487f468442919878cf74a25cc483"
      },
      {
        "contentUdi": "umb://element/aeaddc8004e446ebac8886d5d406a202"
      },
      {
        "contentUdi": "umb://element/4725ec7cbcce48ee92d751a0f2537757"
      },
      {
        "contentUdi": "umb://element/3dea514c8fb44f0dbb9a08599c86e2f1"
      },
      {
        "contentUdi": "umb://element/cc170a02065945cf9c523ec1f22335ca"
      },
      {
        "contentUdi": "umb://element/15e09fce373d4ef79cd507bd832839c0"
      },
      {
        "contentUdi": "umb://element/b566e24a8cca4432b952bfbc663f9836"
      },
      {
        "contentUdi": "umb://element/df882f6dd8094bdf8590c59f469d1953"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/18d1487f468442919878cf74a25cc483",
      "value": "plein air",
      "confidence": "0.9791477918624878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aeaddc8004e446ebac8886d5d406a202",
      "value": "feuille",
      "confidence": "0.8889552354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4725ec7cbcce48ee92d751a0f2537757",
      "value": "Macrophotographie",
      "confidence": "0.8843593001365662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3dea514c8fb44f0dbb9a08599c86e2f1",
      "value": "vert",
      "confidence": "0.8631371259689331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc170a02065945cf9c523ec1f22335ca",
      "value": "Tige",
      "confidence": "0.8594762682914734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15e09fce373d4ef79cd507bd832839c0",
      "value": "Pathologie végétale",
      "confidence": "0.8568901419639587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b566e24a8cca4432b952bfbc663f9836",
      "value": "mildiou de la pomme de terre",
      "confidence": "0.7681414484977722"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df882f6dd8094bdf8590c59f469d1953",
      "value": "plante",
      "confidence": "0.6475027203559875"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/18d1487f468442919878cf74a25cc483"
      },
      {
        "contentUdi": "umb://element/aeaddc8004e446ebac8886d5d406a202"
      },
      {
        "contentUdi": "umb://element/4725ec7cbcce48ee92d751a0f2537757"
      },
      {
        "contentUdi": "umb://element/3dea514c8fb44f0dbb9a08599c86e2f1"
      },
      {
        "contentUdi": "umb://element/cc170a02065945cf9c523ec1f22335ca"
      },
      {
        "contentUdi": "umb://element/15e09fce373d4ef79cd507bd832839c0"
      },
      {
        "contentUdi": "umb://element/b566e24a8cca4432b952bfbc663f9836"
      },
      {
        "contentUdi": "umb://element/df882f6dd8094bdf8590c59f469d1953"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/18d1487f468442919878cf74a25cc483",
      "value": "plein air",
      "confidence": "0.9791477918624878"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aeaddc8004e446ebac8886d5d406a202",
      "value": "feuille",
      "confidence": "0.8889552354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4725ec7cbcce48ee92d751a0f2537757",
      "value": "Macrophotographie",
      "confidence": "0.8843593001365662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3dea514c8fb44f0dbb9a08599c86e2f1",
      "value": "vert",
      "confidence": "0.8631371259689331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc170a02065945cf9c523ec1f22335ca",
      "value": "Tige",
      "confidence": "0.8594762682914734"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15e09fce373d4ef79cd507bd832839c0",
      "value": "Pathologie végétale",
      "confidence": "0.8568901419639587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b566e24a8cca4432b952bfbc663f9836",
      "value": "mildiou de la pomme de terre",
      "confidence": "0.7681414484977722"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df882f6dd8094bdf8590c59f469d1953",
      "value": "plante",
      "confidence": "0.6475027203559875"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Union of two buds</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Union de deux bourgeons</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a close-up of green buds with leaves opening. You can see an insect, probably a bee, on one of the buds. The background is blurred, highlighting the details of the buds and leaves."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un gros plan de bourgeons verts avec des feuilles en train de s'ouvrir. On peut voir un insecte, probablement une abeille, sur l'un des bourgeons. L'arrière-plan est flou, mettant en valeur les détails des bourgeons et des feuilles."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#nature #plants #greenery #botany #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#bourgeons #feuilles #insecte #nature #grosplan #vert #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "0ba4a071-aa7d-4ef8-a2e2-9650be01b290",
    "mediaKey": "0655b9cd-d26c-4804-8996-1a3e82f867c9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Union de deux bourgeons]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Love in Bloom]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "buds",
  "leaves",
  "insect",
  "nature",
  "close-up",
  "green"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bourgeons",
  "feuilles",
  "insecte",
  "nature",
  "gros plan",
  "vert"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Union de deux bourgeons]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Love in Bloom]]></Value>
      <Value Culture="fr"><![CDATA[L'Amour en Éclosion]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>