<?xml version="1.0" encoding="utf-8"?>
<Content Key="a57eb5d8-2fba-44d5-afaf-bfd16f20dc8b" Alias="l'épeire de 4 pattes" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/lepeireDe4Pattes</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="l'épeire de 4 pattes">
      <Name Culture="en">the four-legged spider</Name>
      <Name Culture="fr">l'épeire de 4 pattes</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4045f28865a6490897c0ee4b5d81a0c0"
      },
      {
        "contentUdi": "umb://element/66afdba9e17a4173a14e858e038a7e8f"
      },
      {
        "contentUdi": "umb://element/83f89653b7354d1e8f70ab5cdf03db88"
      },
      {
        "contentUdi": "umb://element/64175d640bea4580a1a0bc5ae9d7609c"
      },
      {
        "contentUdi": "umb://element/207d73fb49094c3bbd0a76c1786148f0"
      },
      {
        "contentUdi": "umb://element/f271a025fca04e6babe220ccf7090bf4"
      },
      {
        "contentUdi": "umb://element/a04caa8db90849d88c7afb557fd4bb45"
      },
      {
        "contentUdi": "umb://element/cf70205f139d4565a0706c26c56f7896"
      },
      {
        "contentUdi": "umb://element/14433a5a7f554cf28a26aa160317c9e0"
      },
      {
        "contentUdi": "umb://element/a7699e1c2ae7412aa6b1861920389700"
      },
      {
        "contentUdi": "umb://element/446ee4388746483f9be41a78f95466b7"
      },
      {
        "contentUdi": "umb://element/16e2b8fc3e344a05b5d672d45f0d5b62"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4045f28865a6490897c0ee4b5d81a0c0",
      "value": "animal",
      "confidence": "0.9991639852523804"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66afdba9e17a4173a14e858e038a7e8f",
      "value": "invertébré",
      "confidence": "0.9986646771430969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83f89653b7354d1e8f70ab5cdf03db88",
      "value": "araignée",
      "confidence": "0.997331976890564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/64175d640bea4580a1a0bc5ae9d7609c",
      "value": "insecte",
      "confidence": "0.9624113440513611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/207d73fb49094c3bbd0a76c1786148f0",
      "value": "arthropode",
      "confidence": "0.9572031497955322"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f271a025fca04e6babe220ccf7090bf4",
      "value": "Toile d’araignée",
      "confidence": "0.9379945993423462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a04caa8db90849d88c7afb557fd4bb45",
      "value": "Araneidae",
      "confidence": "0.931061327457428"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf70205f139d4565a0706c26c56f7896",
      "value": "Macrophotographie",
      "confidence": "0.8744835257530212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14433a5a7f554cf28a26aa160317c9e0",
      "value": "Argiope aurantia",
      "confidence": "0.8690290451049805"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7699e1c2ae7412aa6b1861920389700",
      "value": "vermine",
      "confidence": "0.8454486131668091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/446ee4388746483f9be41a78f95466b7",
      "value": "plein air",
      "confidence": "0.6425415277481079"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16e2b8fc3e344a05b5d672d45f0d5b62",
      "value": "toile",
      "confidence": "0.6196387410163879"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/091ceda88ff144b4921e325593e36175"
      },
      {
        "contentUdi": "umb://element/0cb59620198c4984bed52edf019345e0"
      },
      {
        "contentUdi": "umb://element/77891e9765f84c25a243deb6e442d15c"
      },
      {
        "contentUdi": "umb://element/22334d6c56ca454e9ea60d86bb54028d"
      },
      {
        "contentUdi": "umb://element/2dcba252618544449bd6a88f91351452"
      },
      {
        "contentUdi": "umb://element/b0850b322fcb4ed3bcaf4b46b2297bb4"
      },
      {
        "contentUdi": "umb://element/fe10803f76b9400385df22e9525b4160"
      },
      {
        "contentUdi": "umb://element/1802b47bb4f54653b8dedd9600d5c277"
      },
      {
        "contentUdi": "umb://element/d1996105d48a4e9fb69971a8fc2efd82"
      },
      {
        "contentUdi": "umb://element/67127bbd29b940a7aa1647358ccee392"
      },
      {
        "contentUdi": "umb://element/dca961eb1c4b4b14a91e54441a6f5fc8"
      },
      {
        "contentUdi": "umb://element/a90ba8fed3c848b78a7ea4d2dcaab4a2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/091ceda88ff144b4921e325593e36175",
      "value": "animal",
      "confidence": "0.9991639852523804"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0cb59620198c4984bed52edf019345e0",
      "value": "invertébré",
      "confidence": "0.9986646771430969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77891e9765f84c25a243deb6e442d15c",
      "value": "araignée",
      "confidence": "0.997331976890564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22334d6c56ca454e9ea60d86bb54028d",
      "value": "insecte",
      "confidence": "0.9624113440513611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2dcba252618544449bd6a88f91351452",
      "value": "arthropode",
      "confidence": "0.9572031497955322"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0850b322fcb4ed3bcaf4b46b2297bb4",
      "value": "Toile d’araignée",
      "confidence": "0.9379945993423462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe10803f76b9400385df22e9525b4160",
      "value": "Araneidae",
      "confidence": "0.931061327457428"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1802b47bb4f54653b8dedd9600d5c277",
      "value": "Macrophotographie",
      "confidence": "0.8744835257530212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d1996105d48a4e9fb69971a8fc2efd82",
      "value": "Argiope aurantia",
      "confidence": "0.8690290451049805"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67127bbd29b940a7aa1647358ccee392",
      "value": "vermine",
      "confidence": "0.8454486131668091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dca961eb1c4b4b14a91e54441a6f5fc8",
      "value": "plein air",
      "confidence": "0.6425415277481079"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a90ba8fed3c848b78a7ea4d2dcaab4a2",
      "value": "toile",
      "confidence": "0.6196387410163879"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Everyone bears their own cross, especially the diadem spider</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Chacun porte sa croix en particulier l'épeire diadème</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a spider hanging from its web. The spider is prominently displayed against a blurred green vegetation background. The spider's web is visible with its delicate and fine threads."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une araignée suspendue à sa toile. L'araignée est bien mise en évidence avec un arrière-plan flou de végétation verte. La toile de l'araignée est visible avec ses fils délicats et fins."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#spider #nature #wildlife #arachnid #Bruxelles #Belgique #closeup #outdoors]]></Value>
      <Value Culture="fr"><![CDATA[#araignée #toile #insecte #nature #macro #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "59298596-5baf-4602-b8e4-781c57a7cc1b",
    "mediaKey": "054bb002-2034-4a9f-b7e6-3e2f911f70ad"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Chacun porte sa croix en particulier l'épeire diadème.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'épeire diadème : la reine des toiles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The diadem spider: the queen of webs]]></Value>
      <Value Culture="fr"><![CDATA[L'épeire diadème : la reine des toiles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/personal-garden-guard-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/personal-garden-guard-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "spider",
  "web",
  "insect",
  "nature",
  "macro",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "araignée",
  "toile",
  "insecte",
  "nature",
  "macro",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Chacun porte sa croix en particulier l'épeire diadème.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The diadem spider: the queen of webs]]></Value>
      <Value Culture="fr"><![CDATA[L'épeire diadème : la reine des toiles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>