<?xml version="1.0" encoding="utf-8"?>
<Content Key="649479c4-87f5-4a08-915f-89940777baa4" Alias="L'Île Robinson au bois de la Cambre" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/LIleRobinsonAuBoisDeLaCambre</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="L'Île Robinson au bois de la Cambre">
      <Name Culture="en">Robinson Island at Bois de la Cambre</Name>
      <Name Culture="fr">L'Île Robinson au bois de la Cambre</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb8f334f790f466a917fc8b4adb99053"
      },
      {
        "contentUdi": "umb://element/f19878a2d4a94c7d880976d0bb4482fd"
      },
      {
        "contentUdi": "umb://element/88e63c86d72c48569b79bb3b46df3419"
      },
      {
        "contentUdi": "umb://element/e95b4e54631b4b69ae8e3723c8db0582"
      },
      {
        "contentUdi": "umb://element/42fa8446294c4d3c9243d9d257b7284b"
      },
      {
        "contentUdi": "umb://element/00981382466047c0abeb926c61b8ce17"
      },
      {
        "contentUdi": "umb://element/7b72379d0de9438da494bbf880bd83ea"
      },
      {
        "contentUdi": "umb://element/39659dda871146cc9c899837f0d043fa"
      },
      {
        "contentUdi": "umb://element/9ffcab361c194044bb4d25e9470f18b8"
      },
      {
        "contentUdi": "umb://element/69b5c765df7a4c00a7de20991f75ae5d"
      },
      {
        "contentUdi": "umb://element/cf44f5a58e5f496798ecbe64bc25649b"
      },
      {
        "contentUdi": "umb://element/6d9bec643c83473fbd0b260869303953"
      },
      {
        "contentUdi": "umb://element/362288ed4fa443ed939a583f36e17e21"
      },
      {
        "contentUdi": "umb://element/d4e3932cadb240218445474608a5176e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fb8f334f790f466a917fc8b4adb99053",
      "value": "plein air",
      "confidence": "0.9986585974693298"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f19878a2d4a94c7d880976d0bb4482fd",
      "value": "eau",
      "confidence": "0.9946478605270386"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88e63c86d72c48569b79bb3b46df3419",
      "value": "nuage",
      "confidence": "0.981158971786499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e95b4e54631b4b69ae8e3723c8db0582",
      "value": "ciel",
      "confidence": "0.9687258005142212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42fa8446294c4d3c9243d9d257b7284b",
      "value": "arbre",
      "confidence": "0.96861332654953"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00981382466047c0abeb926c61b8ce17",
      "value": "reflet",
      "confidence": "0.9454572200775146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7b72379d0de9438da494bbf880bd83ea",
      "value": "lever de soleil",
      "confidence": "0.8015183806419373"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39659dda871146cc9c899837f0d043fa",
      "value": "nature",
      "confidence": "0.7617087364196777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ffcab361c194044bb4d25e9470f18b8",
      "value": "coucher de soleil",
      "confidence": "0.755720317363739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/69b5c765df7a4c00a7de20991f75ae5d",
      "value": "lac",
      "confidence": "0.7349782586097717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf44f5a58e5f496798ecbe64bc25649b",
      "value": "paysage",
      "confidence": "0.7092357277870178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d9bec643c83473fbd0b260869303953",
      "value": "flottant",
      "confidence": "0.665458083152771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/362288ed4fa443ed939a583f36e17e21",
      "value": "maison",
      "confidence": "0.5515596270561218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d4e3932cadb240218445474608a5176e",
      "value": "rivière",
      "confidence": "0.4074096083641052"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7381de8e661a4b5e9856875c76d721c8"
      },
      {
        "contentUdi": "umb://element/7482e247adb74d07867aee5895396c5e"
      },
      {
        "contentUdi": "umb://element/ab390396e5f040a8b40ffef26ac92792"
      },
      {
        "contentUdi": "umb://element/8dcce51431564db2ae1e9df8c9671511"
      },
      {
        "contentUdi": "umb://element/9ee57ae8286c4fbf937393f4fdbfa779"
      },
      {
        "contentUdi": "umb://element/30e695b4f7544c62993163e570fe332e"
      },
      {
        "contentUdi": "umb://element/d3364fc96d47433fbe9d94fecce268ea"
      },
      {
        "contentUdi": "umb://element/072720d9e42e40ca9b16f00b32930fb2"
      },
      {
        "contentUdi": "umb://element/e9102addaf5f4f9eb4e7e06cf9500ea4"
      },
      {
        "contentUdi": "umb://element/01aa0ee7cb4143638be540f724a765cf"
      },
      {
        "contentUdi": "umb://element/0305a295b156463dba1d937d9d52c178"
      },
      {
        "contentUdi": "umb://element/64e960822d6b4645a5ca28434dc5ec17"
      },
      {
        "contentUdi": "umb://element/50ae44d0435a4bf78f02398b530d35c0"
      },
      {
        "contentUdi": "umb://element/04d93a7216914beaa571f491221b8c48"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7381de8e661a4b5e9856875c76d721c8",
      "value": "plein air",
      "confidence": "0.9986585974693298"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7482e247adb74d07867aee5895396c5e",
      "value": "eau",
      "confidence": "0.9946478605270386"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab390396e5f040a8b40ffef26ac92792",
      "value": "nuage",
      "confidence": "0.981158971786499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8dcce51431564db2ae1e9df8c9671511",
      "value": "ciel",
      "confidence": "0.9687258005142212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ee57ae8286c4fbf937393f4fdbfa779",
      "value": "arbre",
      "confidence": "0.96861332654953"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/30e695b4f7544c62993163e570fe332e",
      "value": "reflet",
      "confidence": "0.9454572200775146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d3364fc96d47433fbe9d94fecce268ea",
      "value": "lever de soleil",
      "confidence": "0.8015183806419373"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/072720d9e42e40ca9b16f00b32930fb2",
      "value": "nature",
      "confidence": "0.7617087364196777"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9102addaf5f4f9eb4e7e06cf9500ea4",
      "value": "coucher de soleil",
      "confidence": "0.755720317363739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01aa0ee7cb4143638be540f724a765cf",
      "value": "lac",
      "confidence": "0.7349782586097717"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0305a295b156463dba1d937d9d52c178",
      "value": "paysage",
      "confidence": "0.7092357277870178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/64e960822d6b4645a5ca28434dc5ec17",
      "value": "flottant",
      "confidence": "0.665458083152771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50ae44d0435a4bf78f02398b530d35c0",
      "value": "maison",
      "confidence": "0.5515596270561218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04d93a7216914beaa571f491221b8c48",
      "value": "rivière",
      "confidence": "0.4074096083641052"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Winter sunrise over Robinson Island and its frozen pond.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lever de soleil hivernal sur l'ile Robinson et son étang gelé.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a magnificent sunset landscape in Brussels, Belgium. A large wooden building stands at the edge of a calm lake, surrounded by trees stripped bare by winter. The reflection of the setting sun illuminates the surface of the water, where several ducks swim peacefully. The atmosphere is serene and soothing, with warm shades of yellow and orange in the sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un magnifique paysage au coucher du soleil à Bruxelles, Belgique. Un grand bâtiment en bois se trouve au bord d'un lac calme, entouré d'arbres dénudés par l'hiver. Le reflet du soleil couchant illumine la surface de l'eau, où nagent paisiblement plusieurs canards. L'ambiance est sereine et apaisante, avec des teintes chaudes de jaune et d'orange dans le ciel."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #sunset #nature #lakeside #woodenhouse #ducks #swan #reflection #serene]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #CoucherDeSoleil #Lac #Nature #Paysage #Hiver #Reflet #Canards]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "902373f7-e635-4549-8bd2-e7f14752f546",
    "mediaKey": "99ed83d7-4e84-4521-80c2-bf9d556720e5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine de l'Île Robinson au bois de la Cambre, capturée lors d'un lever de soleil hivernal.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil Hivernal sur l'Île Robinson]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Winter Sunrise over Robinson Island]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil Hivernal sur l'Île Robinson]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/robinson-island-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/robinson-island-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "sunset",
  "lake",
  "wooden building",
  "trees",
  "winter",
  "ducks",
  "reflection",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "coucher de soleil",
  "lac",
  "bâtiment en bois",
  "arbres",
  "hiver",
  "canards",
  "reflet",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine de l'Île Robinson au bois de la Cambre, capturée lors d'un lever de soleil hivernal.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Winter Sunrise over Robinson Island]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil Hivernal sur l'Île Robinson]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>