<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aa0b515-ad51-4556-aaad-ed651fb6a588" Alias="Ma petite pagode de campagne" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/MaPetitePagodeDeCampagne</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T20:10:35</CreateDate>
    <NodeName Default="Ma petite pagode de campagne">
      <Name Culture="en">My Little Country Pagoda</Name>
      <Name Culture="fr">Ma petite pagode de campagne</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f26792fb92e44b989fdb46ded720b536"
      },
      {
        "contentUdi": "umb://element/5f9b5300f5c74fba81f52e6ddd0b9e42"
      },
      {
        "contentUdi": "umb://element/3f6599a91e3949d484adcee29e468442"
      },
      {
        "contentUdi": "umb://element/26825edb718640798dbefbb0d449daee"
      },
      {
        "contentUdi": "umb://element/74ae67787e4642fd90f13fb7635e118f"
      },
      {
        "contentUdi": "umb://element/636e03e9a7ad406f8025e408f580df56"
      },
      {
        "contentUdi": "umb://element/fa43005ec2fb4e8d9366b844cf74dc22"
      },
      {
        "contentUdi": "umb://element/444cfce5ee3e41558cc55752e91dfb28"
      },
      {
        "contentUdi": "umb://element/6f5734ef80a447a1a2915f531ab060a7"
      },
      {
        "contentUdi": "umb://element/85b17d45882f477d86737af95f24ed0a"
      },
      {
        "contentUdi": "umb://element/bd5ae34ccbc0434198d05e1ef201cb8b"
      },
      {
        "contentUdi": "umb://element/35d86ee95589405895d70e5c06c5ba4f"
      },
      {
        "contentUdi": "umb://element/d124cb4c9916430e8019713c8cb19e67"
      },
      {
        "contentUdi": "umb://element/3789a9fecdba48f1a67c9622a5bab2dc"
      },
      {
        "contentUdi": "umb://element/1d3ecf7974c0446ea4696848754246c2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f26792fb92e44b989fdb46ded720b536",
      "value": "plein air",
      "confidence": "0.9979739189147949"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f9b5300f5c74fba81f52e6ddd0b9e42",
      "value": "nuage",
      "confidence": "0.996945321559906"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f6599a91e3949d484adcee29e468442",
      "value": "bâtiment",
      "confidence": "0.9934791326522827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26825edb718640798dbefbb0d449daee",
      "value": "ciel",
      "confidence": "0.9889412522315979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74ae67787e4642fd90f13fb7635e118f",
      "value": "plante",
      "confidence": "0.9803327322006226"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/636e03e9a7ad406f8025e408f580df56",
      "value": "lieu de culte",
      "confidence": "0.9629359245300293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa43005ec2fb4e8d9366b844cf74dc22",
      "value": "arbre",
      "confidence": "0.942298173904419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/444cfce5ee3e41558cc55752e91dfb28",
      "value": "Architecture chinoise",
      "confidence": "0.9206596612930298"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f5734ef80a447a1a2915f531ab060a7",
      "value": "sanctuaire",
      "confidence": "0.9192267060279846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85b17d45882f477d86737af95f24ed0a",
      "value": "Architecture japonaise",
      "confidence": "0.8947734832763672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd5ae34ccbc0434198d05e1ef201cb8b",
      "value": "pagode",
      "confidence": "0.8859671950340271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35d86ee95589405895d70e5c06c5ba4f",
      "value": "repère",
      "confidence": "0.8702331781387329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d124cb4c9916430e8019713c8cb19e67",
      "value": "temple",
      "confidence": "0.8040652275085449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3789a9fecdba48f1a67c9622a5bab2dc",
      "value": "herbe",
      "confidence": "0.7880062460899353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d3ecf7974c0446ea4696848754246c2",
      "value": "paysage",
      "confidence": "0.4227159321308136"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f26792fb92e44b989fdb46ded720b536"
      },
      {
        "contentUdi": "umb://element/5f9b5300f5c74fba81f52e6ddd0b9e42"
      },
      {
        "contentUdi": "umb://element/3f6599a91e3949d484adcee29e468442"
      },
      {
        "contentUdi": "umb://element/26825edb718640798dbefbb0d449daee"
      },
      {
        "contentUdi": "umb://element/74ae67787e4642fd90f13fb7635e118f"
      },
      {
        "contentUdi": "umb://element/636e03e9a7ad406f8025e408f580df56"
      },
      {
        "contentUdi": "umb://element/fa43005ec2fb4e8d9366b844cf74dc22"
      },
      {
        "contentUdi": "umb://element/444cfce5ee3e41558cc55752e91dfb28"
      },
      {
        "contentUdi": "umb://element/6f5734ef80a447a1a2915f531ab060a7"
      },
      {
        "contentUdi": "umb://element/85b17d45882f477d86737af95f24ed0a"
      },
      {
        "contentUdi": "umb://element/bd5ae34ccbc0434198d05e1ef201cb8b"
      },
      {
        "contentUdi": "umb://element/35d86ee95589405895d70e5c06c5ba4f"
      },
      {
        "contentUdi": "umb://element/d124cb4c9916430e8019713c8cb19e67"
      },
      {
        "contentUdi": "umb://element/3789a9fecdba48f1a67c9622a5bab2dc"
      },
      {
        "contentUdi": "umb://element/1d3ecf7974c0446ea4696848754246c2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f26792fb92e44b989fdb46ded720b536",
      "value": "plein air",
      "confidence": "0.9979739189147949"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f9b5300f5c74fba81f52e6ddd0b9e42",
      "value": "nuage",
      "confidence": "0.996945321559906"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f6599a91e3949d484adcee29e468442",
      "value": "bâtiment",
      "confidence": "0.9934791326522827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26825edb718640798dbefbb0d449daee",
      "value": "ciel",
      "confidence": "0.9889412522315979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74ae67787e4642fd90f13fb7635e118f",
      "value": "plante",
      "confidence": "0.9803327322006226"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/636e03e9a7ad406f8025e408f580df56",
      "value": "lieu de culte",
      "confidence": "0.9629359245300293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa43005ec2fb4e8d9366b844cf74dc22",
      "value": "arbre",
      "confidence": "0.942298173904419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/444cfce5ee3e41558cc55752e91dfb28",
      "value": "Architecture chinoise",
      "confidence": "0.9206596612930298"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f5734ef80a447a1a2915f531ab060a7",
      "value": "sanctuaire",
      "confidence": "0.9192267060279846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85b17d45882f477d86737af95f24ed0a",
      "value": "Architecture japonaise",
      "confidence": "0.8947734832763672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd5ae34ccbc0434198d05e1ef201cb8b",
      "value": "pagode",
      "confidence": "0.8859671950340271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35d86ee95589405895d70e5c06c5ba4f",
      "value": "repère",
      "confidence": "0.8702331781387329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d124cb4c9916430e8019713c8cb19e67",
      "value": "temple",
      "confidence": "0.8040652275085449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3789a9fecdba48f1a67c9622a5bab2dc",
      "value": "herbe",
      "confidence": "0.7880062460899353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d3ecf7974c0446ea4696848754246c2",
      "value": "paysage",
      "confidence": "0.4227159321308136"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Another beauty of the ancient city</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Encore une beauté de la cité ancienne</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a traditional Thai temple in Bangkok, Thailand. The temple features intricate architectural details with multiple tiers and ornate decorations. A beautiful arched bridge crosses over a pond filled with lily pads, leading to the temple. The surrounding area is lush with greenery and trees, creating a serene and picturesque scene under a clear blue sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un magnifique temple traditionnel asiatique situé à Bangkok, Thaïlande. Le temple est orné de toits en tuiles rouges et de détails architecturaux complexes. Un pont en arc traverse un étang rempli de nénuphars, menant à l'entrée du temple. La végétation luxuriante entoure le temple, ajoutant à la sérénité et à la beauté de l'endroit."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#temple #ThaiArchitecture #Bangkok #Thailand #Serene #BeautifulScene #Travel #Culture #Nature #Heritage]]></Value>
      <Value Culture="fr"><![CDATA[#temple #architecture #Bangkok #Thaïlande #végétation #nénuphars]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "233c841e-30fb-4194-8c16-b47a76981ce7",
    "mediaKey": "8a53d517-9f0c-4aae-b653-34a018965ecd"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple traditionnel asiatique niché au cœur de Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple traditionnel asiatique niché au cœur de Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[My Little Country Pagoda]]></Value>
      <Value Culture="fr"><![CDATA[Un Joyau Caché de Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/a-building-of-the-ancient-city-in-bangkok-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/a-building-of-the-ancient-city-in-bangkok-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "architecture",
  "Thai",
  "Bangkok",
  "Thailand",
  "bridge",
  "pond",
  "lily pads",
  "greenery",
  "trees",
  "blue sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "architecture",
  "pont",
  "étang",
  "nénuphars",
  "végétation",
  "Bangkok",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple traditionnel asiatique niché au cœur de Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[My Little Country Pagoda]]></Value>
      <Value Culture="fr"><![CDATA[Un Joyau Caché de Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>