<?xml version="1.0" encoding="utf-8"?>
<Content Key="45facb9b-358d-488e-8418-25f63214ff3c" Alias="Main menu" Level="4">
  <Info>
    <Parent Key="16884b5f-87ed-4d41-8dbd-85bfc6444470">Menu</Parent>
    <Path>/Waaw/Data/Menu/MainMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>menuDefinition</ContentType>
    <CreateDate>2025-08-20T09:32:55</CreateDate>
    <NodeName Default="Main menu" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <Code>
      <Value><![CDATA[main]]></Value>
    </Code>
  </Properties>
</Content>