<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbdbdba0-00d0-41f7-9a6d-a550432ac383" Alias="Mieux qu'un apéro, quelques pas sous le soleil" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/MieuxQuunAperoQuelquesPasSousLeSoleil</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-03T22:19:22</CreateDate>
    <NodeName Default="Mieux qu'un apéro, quelques pas sous le soleil">
      <Name Culture="en">Better than a drink, a few steps under the sun</Name>
      <Name Culture="fr">Mieux qu'un apéro, quelques pas sous le soleil</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6327b25875e54517aaad0542bf881913"
      },
      {
        "contentUdi": "umb://element/cad3e4776d7e44eb8b05d0dd61684bc3"
      },
      {
        "contentUdi": "umb://element/9d65b220ef0941309e2e967481cf4a55"
      },
      {
        "contentUdi": "umb://element/c9eb26030616492997dadd51ab74f200"
      },
      {
        "contentUdi": "umb://element/ef8eadc9fe1c401d9bc5b7a6288e0b37"
      },
      {
        "contentUdi": "umb://element/292be27365af47cea8e84e3114eea5c5"
      },
      {
        "contentUdi": "umb://element/e3c3f3b85a7742d58d8a40859b1c7b60"
      },
      {
        "contentUdi": "umb://element/83acc4b39426481aac15141e26b8b77b"
      },
      {
        "contentUdi": "umb://element/e0afcd45fa9a4c48a80d486198910cbf"
      },
      {
        "contentUdi": "umb://element/a4ad909e475a4fb590c47428b6d154dc"
      },
      {
        "contentUdi": "umb://element/a3376e0da4204926a098f1a8aa8fe229"
      },
      {
        "contentUdi": "umb://element/de703e932b894cd685f59557d9dcd324"
      },
      {
        "contentUdi": "umb://element/39814a43a05a49aaa660897c50587d27"
      },
      {
        "contentUdi": "umb://element/6adf4a9a088b4b95834db4d1f03b7d5d"
      },
      {
        "contentUdi": "umb://element/49dcfd173dda497c80309c5228343beb"
      },
      {
        "contentUdi": "umb://element/fbb58b7b0643410299e0625287c3bd6b"
      },
      {
        "contentUdi": "umb://element/4ab59f7d7ba34bdf8051ceffa49fd946"
      },
      {
        "contentUdi": "umb://element/0e4694607a5c423d8d0d5ee64a7cd665"
      },
      {
        "contentUdi": "umb://element/a119329ec67d4fb985268ea76aa5f39d"
      },
      {
        "contentUdi": "umb://element/c4aed80a41e143d49d7559418b063ab4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6327b25875e54517aaad0542bf881913",
      "value": "plein air",
      "confidence": "0.9983576536178589"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cad3e4776d7e44eb8b05d0dd61684bc3",
      "value": "nuage",
      "confidence": "0.9973344206809998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d65b220ef0941309e2e967481cf4a55",
      "value": "eau",
      "confidence": "0.9919173717498779"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9eb26030616492997dadd51ab74f200",
      "value": "ciel",
      "confidence": "0.9894357919692993"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef8eadc9fe1c401d9bc5b7a6288e0b37",
      "value": "horizon",
      "confidence": "0.9746777415275574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/292be27365af47cea8e84e3114eea5c5",
      "value": "nature",
      "confidence": "0.9719878435134888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3c3f3b85a7742d58d8a40859b1c7b60",
      "value": "Dernières lueurs",
      "confidence": "0.937768816947937"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83acc4b39426481aac15141e26b8b77b",
      "value": "crépuscule",
      "confidence": "0.9366663098335266"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0afcd45fa9a4c48a80d486198910cbf",
      "value": "soirée",
      "confidence": "0.9344706535339355"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4ad909e475a4fb590c47428b6d154dc",
      "value": "lever de soleil",
      "confidence": "0.9279497861862183"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3376e0da4204926a098f1a8aa8fe229",
      "value": "Quiétude",
      "confidence": "0.9077681303024292"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de703e932b894cd685f59557d9dcd324",
      "value": "Ciel rouge au matin",
      "confidence": "0.9068639278411865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39814a43a05a49aaa660897c50587d27",
      "value": "paysage",
      "confidence": "0.9020240306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6adf4a9a088b4b95834db4d1f03b7d5d",
      "value": "plage",
      "confidence": "0.8797492980957031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49dcfd173dda497c80309c5228343beb",
      "value": "aube",
      "confidence": "0.8629410266876221"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbb58b7b0643410299e0625287c3bd6b",
      "value": "matin",
      "confidence": "0.8546783924102783"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ab59f7d7ba34bdf8051ceffa49fd946",
      "value": "coucher de soleil",
      "confidence": "0.8371759653091431"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e4694607a5c423d8d0d5ee64a7cd665",
      "value": "soleil",
      "confidence": "0.7629912495613098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a119329ec67d4fb985268ea76aa5f39d",
      "value": "rive",
      "confidence": "0.7467755675315857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4aed80a41e143d49d7559418b063ab4",
      "value": "sol",
      "confidence": "0.7193737030029297"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6327b25875e54517aaad0542bf881913"
      },
      {
        "contentUdi": "umb://element/cad3e4776d7e44eb8b05d0dd61684bc3"
      },
      {
        "contentUdi": "umb://element/9d65b220ef0941309e2e967481cf4a55"
      },
      {
        "contentUdi": "umb://element/c9eb26030616492997dadd51ab74f200"
      },
      {
        "contentUdi": "umb://element/ef8eadc9fe1c401d9bc5b7a6288e0b37"
      },
      {
        "contentUdi": "umb://element/292be27365af47cea8e84e3114eea5c5"
      },
      {
        "contentUdi": "umb://element/e3c3f3b85a7742d58d8a40859b1c7b60"
      },
      {
        "contentUdi": "umb://element/83acc4b39426481aac15141e26b8b77b"
      },
      {
        "contentUdi": "umb://element/e0afcd45fa9a4c48a80d486198910cbf"
      },
      {
        "contentUdi": "umb://element/a4ad909e475a4fb590c47428b6d154dc"
      },
      {
        "contentUdi": "umb://element/a3376e0da4204926a098f1a8aa8fe229"
      },
      {
        "contentUdi": "umb://element/de703e932b894cd685f59557d9dcd324"
      },
      {
        "contentUdi": "umb://element/39814a43a05a49aaa660897c50587d27"
      },
      {
        "contentUdi": "umb://element/6adf4a9a088b4b95834db4d1f03b7d5d"
      },
      {
        "contentUdi": "umb://element/49dcfd173dda497c80309c5228343beb"
      },
      {
        "contentUdi": "umb://element/fbb58b7b0643410299e0625287c3bd6b"
      },
      {
        "contentUdi": "umb://element/4ab59f7d7ba34bdf8051ceffa49fd946"
      },
      {
        "contentUdi": "umb://element/0e4694607a5c423d8d0d5ee64a7cd665"
      },
      {
        "contentUdi": "umb://element/a119329ec67d4fb985268ea76aa5f39d"
      },
      {
        "contentUdi": "umb://element/c4aed80a41e143d49d7559418b063ab4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6327b25875e54517aaad0542bf881913",
      "value": "plein air",
      "confidence": "0.9983576536178589"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cad3e4776d7e44eb8b05d0dd61684bc3",
      "value": "nuage",
      "confidence": "0.9973344206809998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d65b220ef0941309e2e967481cf4a55",
      "value": "eau",
      "confidence": "0.9919173717498779"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9eb26030616492997dadd51ab74f200",
      "value": "ciel",
      "confidence": "0.9894357919692993"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef8eadc9fe1c401d9bc5b7a6288e0b37",
      "value": "horizon",
      "confidence": "0.9746777415275574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/292be27365af47cea8e84e3114eea5c5",
      "value": "nature",
      "confidence": "0.9719878435134888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3c3f3b85a7742d58d8a40859b1c7b60",
      "value": "Dernières lueurs",
      "confidence": "0.937768816947937"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83acc4b39426481aac15141e26b8b77b",
      "value": "crépuscule",
      "confidence": "0.9366663098335266"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0afcd45fa9a4c48a80d486198910cbf",
      "value": "soirée",
      "confidence": "0.9344706535339355"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4ad909e475a4fb590c47428b6d154dc",
      "value": "lever de soleil",
      "confidence": "0.9279497861862183"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3376e0da4204926a098f1a8aa8fe229",
      "value": "Quiétude",
      "confidence": "0.9077681303024292"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de703e932b894cd685f59557d9dcd324",
      "value": "Ciel rouge au matin",
      "confidence": "0.9068639278411865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39814a43a05a49aaa660897c50587d27",
      "value": "paysage",
      "confidence": "0.9020240306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6adf4a9a088b4b95834db4d1f03b7d5d",
      "value": "plage",
      "confidence": "0.8797492980957031"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49dcfd173dda497c80309c5228343beb",
      "value": "aube",
      "confidence": "0.8629410266876221"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbb58b7b0643410299e0625287c3bd6b",
      "value": "matin",
      "confidence": "0.8546783924102783"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ab59f7d7ba34bdf8051ceffa49fd946",
      "value": "coucher de soleil",
      "confidence": "0.8371759653091431"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e4694607a5c423d8d0d5ee64a7cd665",
      "value": "soleil",
      "confidence": "0.7629912495613098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a119329ec67d4fb985268ea76aa5f39d",
      "value": "rive",
      "confidence": "0.7467755675315857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4aed80a41e143d49d7559418b063ab4",
      "value": "sol",
      "confidence": "0.7193737030029297"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>You are never alone at sunset</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>On n'est jamais seul à l'heure du coucher de soleil</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene sunset at Ao Nang Beach in Thailand. The sky is painted with vibrant hues of yellow, orange, and blue as the sun sets behind distant hills. The beach reflects the golden light, creating a mirror-like effect on the wet sand. Silhouettes of people and boats can be seen in the distance, adding a sense of scale and tranquility to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un magnifique coucher de soleil à Ao Nang, Thaïlande. Le ciel est teinté de nuances dorées et orangées, avec des nuages épars. La lumière du soleil se reflète sur la surface de l'eau, créant une scène sereine et paisible. Quelques personnes peuvent être vues au loin, marchant le long de la plage ou se tenant dans l'eau peu profonde."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #AoNang #landscape #serenity #goldenhour #travel]]></Value>
      <Value Culture="fr"><![CDATA[#coucherdesoleil #plage #mer #Thaïlande #AoNang #paysage #nature #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "9ded48b1-eebe-4389-a5cf-95f063212c1d",
    "mediaKey": "1ef5ee10-aa3a-4db3-ad71-47deb68e2399"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ao Niang, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ao Niang, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[On n'est jamais seul à l'heure du coucher de soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[On n'est jamais seul à l'heure du coucher de soleil.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Better than a drink, a few steps under the sun]]></Value>
      <Value Culture="fr"><![CDATA[Un Coucher de Soleil à Ao Nang : Sérénité Dorée]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunset-on-ao-nang-beacj-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunset-on-ao-nang-beacj-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Ao Nang",
  "Thailand",
  "reflection",
  "silhouettes",
  "boats",
  "serene",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "coucher de soleil",
  "plage",
  "mer",
  "Thaïlande",
  "Ao Nang",
  "reflet",
  "nuages",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[On n'est jamais seul à l'heure du coucher de soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Better than a drink, a few steps under the sun]]></Value>
      <Value Culture="fr"><![CDATA[Un Coucher de Soleil à Ao Nang : Sérénité Dorée]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>