<?xml version="1.0" encoding="utf-8"?>
<Content Key="420e154a-0ade-4dee-b757-bd51523e5b6c" Alias="Moi je mange des frites" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/MoiJeMangeDesFrites</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Moi je mange des frites">
      <Name Culture="en">I eat fries</Name>
      <Name Culture="fr">Moi je mange des frites</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/61034d6f3cc54d439e5facea353aa0b6"
      },
      {
        "contentUdi": "umb://element/73515140bf1d466b8a016ba8400db651"
      },
      {
        "contentUdi": "umb://element/d2f66b5353f541f5976797a574c21e04"
      },
      {
        "contentUdi": "umb://element/2d1db637ddd34c3bb9b31b302047bae1"
      },
      {
        "contentUdi": "umb://element/accde13e40694be7adbc49d903402062"
      },
      {
        "contentUdi": "umb://element/023b04f15e984628b4097f675773077e"
      },
      {
        "contentUdi": "umb://element/68b3e04b2d07413db91bac637667124e"
      },
      {
        "contentUdi": "umb://element/00b117f13c2143aba9ebfc401a3bf2e5"
      },
      {
        "contentUdi": "umb://element/51a057534ca34fa5b8528355d1821f8f"
      },
      {
        "contentUdi": "umb://element/b029886d827543349bdca53a23e147bb"
      },
      {
        "contentUdi": "umb://element/db2527f9ff8e4a46a28ab0da7292fc1b"
      },
      {
        "contentUdi": "umb://element/81c499fa944d4a38b77cc5f98c2762ac"
      },
      {
        "contentUdi": "umb://element/ac8a6b35157e4d96af1f11d799a93a62"
      },
      {
        "contentUdi": "umb://element/9e522508ad83420495dfdad215495648"
      },
      {
        "contentUdi": "umb://element/1ca93653735e4b598f22306dc5d2f7c1"
      },
      {
        "contentUdi": "umb://element/4b825d96619947e98b0635f942a6e2c3"
      },
      {
        "contentUdi": "umb://element/0d7280023ff74889b3d5393854bb0e06"
      },
      {
        "contentUdi": "umb://element/71efe3a9c3124d078df78b8014fa0380"
      },
      {
        "contentUdi": "umb://element/49f0dd7bebe6434ebf58dc18374d60e5"
      },
      {
        "contentUdi": "umb://element/be1592ee47d44afab291a35153d1e065"
      },
      {
        "contentUdi": "umb://element/8b4b0c324e8b47a18f4e8ce8b6473609"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/61034d6f3cc54d439e5facea353aa0b6",
      "value": "habits",
      "confidence": "0.9950063228607178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/73515140bf1d466b8a016ba8400db651",
      "value": "plein air",
      "confidence": "0.9791337847709656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2f66b5353f541f5976797a574c21e04",
      "value": "meubles",
      "confidence": "0.975469708442688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d1db637ddd34c3bb9b31b302047bae1",
      "value": "personne",
      "confidence": "0.9743564128875732"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/accde13e40694be7adbc49d903402062",
      "value": "homme",
      "confidence": "0.9699468612670898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/023b04f15e984628b4097f675773077e",
      "value": "personnes",
      "confidence": "0.9560643434524536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68b3e04b2d07413db91bac637667124e",
      "value": "chaussures",
      "confidence": "0.952419638633728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00b117f13c2143aba9ebfc401a3bf2e5",
      "value": "bâtiment",
      "confidence": "0.9343297481536865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51a057534ca34fa5b8528355d1821f8f",
      "value": "s’asseoir",
      "confidence": "0.9029527306556702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b029886d827543349bdca53a23e147bb",
      "value": "plante",
      "confidence": "0.8738367557525635"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db2527f9ff8e4a46a28ab0da7292fc1b",
      "value": "rue",
      "confidence": "0.8636437654495239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/81c499fa944d4a38b77cc5f98c2762ac",
      "value": "Table d’extérieur",
      "confidence": "0.8579171895980835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac8a6b35157e4d96af1f11d799a93a62",
      "value": "table",
      "confidence": "0.8523030281066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e522508ad83420495dfdad215495648",
      "value": "femme",
      "confidence": "0.8500329852104187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ca93653735e4b598f22306dc5d2f7c1",
      "value": "groupe",
      "confidence": "0.8315237760543823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b825d96619947e98b0635f942a6e2c3",
      "value": "sol",
      "confidence": "0.8225561380386353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d7280023ff74889b3d5393854bb0e06",
      "value": "chaise",
      "confidence": "0.7750198841094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71efe3a9c3124d078df78b8014fa0380",
      "value": "trottoir",
      "confidence": "0.5524570941925049"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49f0dd7bebe6434ebf58dc18374d60e5",
      "value": "marché",
      "confidence": "0.5297228693962097"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be1592ee47d44afab291a35153d1e065",
      "value": "ville",
      "confidence": "0.46089664101600647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b4b0c324e8b47a18f4e8ce8b6473609",
      "value": "restaurant",
      "confidence": "0.4248376786708832"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fd1f3f5f817b4b079aa72cdfba5db133"
      },
      {
        "contentUdi": "umb://element/daea896a659842b8b88cbd75926615ab"
      },
      {
        "contentUdi": "umb://element/95ed6d036b0142e883ae7fc73f54428d"
      },
      {
        "contentUdi": "umb://element/1759cc9bc12b406ba7a290b10085afbc"
      },
      {
        "contentUdi": "umb://element/9903bef7759443499c33b46e80cc5e02"
      },
      {
        "contentUdi": "umb://element/ea04942eb4174d0ca877673bca072f5f"
      },
      {
        "contentUdi": "umb://element/87df45d084a24248abf76914d1b80f09"
      },
      {
        "contentUdi": "umb://element/4c99958f8cd9455e8951bc1d17d83a2e"
      },
      {
        "contentUdi": "umb://element/237ed13390ae456cbe1ae3af4fbacbdc"
      },
      {
        "contentUdi": "umb://element/6642b2111b924278b8470fc95649d77e"
      },
      {
        "contentUdi": "umb://element/50715acb230448c2ac91db82520a1203"
      },
      {
        "contentUdi": "umb://element/09bcecb57cf0493c8af5b243676392b2"
      },
      {
        "contentUdi": "umb://element/aef580a4289348279aa1bb37e757cce0"
      },
      {
        "contentUdi": "umb://element/bd834fdf752f4fdeb6ebd70e3652c154"
      },
      {
        "contentUdi": "umb://element/1152af7916fe40e8816d9c84729d945e"
      },
      {
        "contentUdi": "umb://element/4aeca6b5b54d4f1193184a6bea0d0a22"
      },
      {
        "contentUdi": "umb://element/afe2060b7ac34dacb56225e68722b042"
      },
      {
        "contentUdi": "umb://element/7788d5cfc6544dc3a447e1af3719cb95"
      },
      {
        "contentUdi": "umb://element/fec0aa5c59d245b795e74aea4c992992"
      },
      {
        "contentUdi": "umb://element/c21182782e45425ba54ae6dcb812c729"
      },
      {
        "contentUdi": "umb://element/07b7e47d526e44d6b7dfa5af36bb43ca"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd1f3f5f817b4b079aa72cdfba5db133",
      "value": "habits",
      "confidence": "0.9950063228607178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/daea896a659842b8b88cbd75926615ab",
      "value": "plein air",
      "confidence": "0.9791337847709656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/95ed6d036b0142e883ae7fc73f54428d",
      "value": "meubles",
      "confidence": "0.975469708442688"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1759cc9bc12b406ba7a290b10085afbc",
      "value": "personne",
      "confidence": "0.9743564128875732"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9903bef7759443499c33b46e80cc5e02",
      "value": "homme",
      "confidence": "0.9699468612670898"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea04942eb4174d0ca877673bca072f5f",
      "value": "personnes",
      "confidence": "0.9560643434524536"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87df45d084a24248abf76914d1b80f09",
      "value": "chaussures",
      "confidence": "0.952419638633728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c99958f8cd9455e8951bc1d17d83a2e",
      "value": "bâtiment",
      "confidence": "0.9343297481536865"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/237ed13390ae456cbe1ae3af4fbacbdc",
      "value": "s’asseoir",
      "confidence": "0.9029527306556702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6642b2111b924278b8470fc95649d77e",
      "value": "plante",
      "confidence": "0.8738367557525635"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50715acb230448c2ac91db82520a1203",
      "value": "rue",
      "confidence": "0.8636437654495239"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09bcecb57cf0493c8af5b243676392b2",
      "value": "Table d’extérieur",
      "confidence": "0.8579171895980835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aef580a4289348279aa1bb37e757cce0",
      "value": "table",
      "confidence": "0.8523030281066895"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd834fdf752f4fdeb6ebd70e3652c154",
      "value": "femme",
      "confidence": "0.8500329852104187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1152af7916fe40e8816d9c84729d945e",
      "value": "groupe",
      "confidence": "0.8315237760543823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4aeca6b5b54d4f1193184a6bea0d0a22",
      "value": "sol",
      "confidence": "0.8225561380386353"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afe2060b7ac34dacb56225e68722b042",
      "value": "chaise",
      "confidence": "0.7750198841094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7788d5cfc6544dc3a447e1af3719cb95",
      "value": "trottoir",
      "confidence": "0.5524570941925049"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fec0aa5c59d245b795e74aea4c992992",
      "value": "marché",
      "confidence": "0.5297228693962097"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c21182782e45425ba54ae6dcb812c729",
      "value": "ville",
      "confidence": "0.46089664101600647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07b7e47d526e44d6b7dfa5af36bb43ca",
      "value": "restaurant",
      "confidence": "0.4248376786708832"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>City center terrace of a fries vendor where everyone is eating fries</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Terrasse du centre ville d'un marchand de frites où tout le monde mange de la frite</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a café terrace in Brussels, Belgium, where several people are sitting at tables chatting and eating. The chairs are wicker and the tables are wooden. A waiter is serving fries to a table. In the background, you can see passersby and a busy street with cars and bicycles."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une terrasse de café à Bruxelles, Belgique, où plusieurs personnes sont assises à des tables en train de discuter et de manger. Les chaises sont en osier et les tables en bois. Un serveur est en train de servir des frites à une table. En arrière-plan, on peut voir des passants et une rue animée avec des voitures et des vélos."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #CafeLife #OutdoorSeating #CityLife #FoodAndDrinks #UrbanScene]]></Value>
      <Value Culture="fr"><![CDATA[#terrasse #café #Bruxelles #Belgique #discussion #manger #serveur #frites #rueanimée]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "5f5d18c7-092f-498c-8a15-41ad5c365385",
    "mediaKey": "33109c87-6ab8-4bcb-969c-b84f1cadb68f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un coin animé de Bruxelles où les frites sont à l'honneur.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Belgian Delight on the Terrace]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/french-fries-eaters-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/french-fries-eaters-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "terrace",
  "café",
  "Brussels",
  "Belgium",
  "people",
  "chatting",
  "eating",
  "waiter",
  "fries",
  "street",
  "passersby"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "terrasse",
  "café",
  "Bruxelles",
  "Belgique",
  "gens",
  "discussion",
  "manger",
  "serveur",
  "frites",
  "rue",
  "passants"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un coin animé de Bruxelles où les frites sont à l'honneur.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Belgian Delight on the Terrace]]></Value>
      <Value Culture="fr"><![CDATA[Délice Belge en Terrasse]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>