<?xml version="1.0" encoding="utf-8"?>
<Content Key="08fd0119-dd53-4dfd-90a9-14ec371cf87c" Alias="Morceau de temple" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/MorceauDeTemple</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T19:36:23</CreateDate>
    <NodeName Default="Morceau de temple">
      <Name Culture="en">Piece of Temple</Name>
      <Name Culture="fr">Morceau de temple</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/45422d9cd6e54fb488bd200569d285be"
      },
      {
        "contentUdi": "umb://element/f10b80ee67624aa1adce6a0946510050"
      },
      {
        "contentUdi": "umb://element/9ec081c793d747078376129dd3f1832e"
      },
      {
        "contentUdi": "umb://element/5ed8b53c18df40d693e128827bd58d70"
      },
      {
        "contentUdi": "umb://element/2927ba95b77c4187967f8ef647d70232"
      },
      {
        "contentUdi": "umb://element/bd3d5dbd2bea4e2a80b6167e61fb2e09"
      },
      {
        "contentUdi": "umb://element/13cf4fd88cdc4015983407dcd961b455"
      },
      {
        "contentUdi": "umb://element/44f38fe36b5f4cc49372278995468ab0"
      },
      {
        "contentUdi": "umb://element/34f6f868a4c2428896bfced7cc6520a7"
      },
      {
        "contentUdi": "umb://element/2bef3f79eec4472da83e43515dff26df"
      },
      {
        "contentUdi": "umb://element/5f755ac9eb8343dc9bf4bada49e44ee7"
      },
      {
        "contentUdi": "umb://element/6191b52088cd4a4984df4b43519a2f79"
      },
      {
        "contentUdi": "umb://element/77215718b8884107a585d8f10e8cc79e"
      },
      {
        "contentUdi": "umb://element/a672252f702a4c03b2b9c5d5fe5648dd"
      },
      {
        "contentUdi": "umb://element/49a4532c49cd4a449e70a71b7a78661d"
      },
      {
        "contentUdi": "umb://element/83d295e8579a4bb3a153d8957a11ad91"
      },
      {
        "contentUdi": "umb://element/14a1563cdd1e4ea6bfda90f064289747"
      },
      {
        "contentUdi": "umb://element/4ee7eca9674a4966b574ec76c6de04f1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45422d9cd6e54fb488bd200569d285be",
      "value": "nuage",
      "confidence": "0.9952327609062195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f10b80ee67624aa1adce6a0946510050",
      "value": "bâtiment",
      "confidence": "0.9945360422134399"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ec081c793d747078376129dd3f1832e",
      "value": "plein air",
      "confidence": "0.994376540184021"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ed8b53c18df40d693e128827bd58d70",
      "value": "lieu de culte",
      "confidence": "0.9938969612121582"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2927ba95b77c4187967f8ef647d70232",
      "value": "ciel",
      "confidence": "0.9919997453689575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd3d5dbd2bea4e2a80b6167e61fb2e09",
      "value": "arbre",
      "confidence": "0.9704645872116089"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13cf4fd88cdc4015983407dcd961b455",
      "value": "sanctuaire",
      "confidence": "0.9622710943222046"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44f38fe36b5f4cc49372278995468ab0",
      "value": "Wat",
      "confidence": "0.8956640362739563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f6f868a4c2428896bfced7cc6520a7",
      "value": "temple",
      "confidence": "0.8876091241836548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bef3f79eec4472da83e43515dff26df",
      "value": "Architecture chinoise",
      "confidence": "0.8763653039932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f755ac9eb8343dc9bf4bada49e44ee7",
      "value": "pagode",
      "confidence": "0.8727485537528992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6191b52088cd4a4984df4b43519a2f79",
      "value": "Dharma",
      "confidence": "0.8702271580696106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77215718b8884107a585d8f10e8cc79e",
      "value": "repère",
      "confidence": "0.8685200214385986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a672252f702a4c03b2b9c5d5fe5648dd",
      "value": "Lieux sacrés",
      "confidence": "0.8583842515945435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49a4532c49cd4a449e70a71b7a78661d",
      "value": "Temple hindou",
      "confidence": "0.8493627309799194"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83d295e8579a4bb3a153d8957a11ad91",
      "value": "Architecture japonaise",
      "confidence": "0.8444952964782715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14a1563cdd1e4ea6bfda90f064289747",
      "value": "stupa",
      "confidence": "0.7064869403839111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee7eca9674a4966b574ec76c6de04f1",
      "value": "jaune",
      "confidence": "0.6506431102752686"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/45422d9cd6e54fb488bd200569d285be"
      },
      {
        "contentUdi": "umb://element/f10b80ee67624aa1adce6a0946510050"
      },
      {
        "contentUdi": "umb://element/9ec081c793d747078376129dd3f1832e"
      },
      {
        "contentUdi": "umb://element/5ed8b53c18df40d693e128827bd58d70"
      },
      {
        "contentUdi": "umb://element/2927ba95b77c4187967f8ef647d70232"
      },
      {
        "contentUdi": "umb://element/bd3d5dbd2bea4e2a80b6167e61fb2e09"
      },
      {
        "contentUdi": "umb://element/13cf4fd88cdc4015983407dcd961b455"
      },
      {
        "contentUdi": "umb://element/44f38fe36b5f4cc49372278995468ab0"
      },
      {
        "contentUdi": "umb://element/34f6f868a4c2428896bfced7cc6520a7"
      },
      {
        "contentUdi": "umb://element/2bef3f79eec4472da83e43515dff26df"
      },
      {
        "contentUdi": "umb://element/5f755ac9eb8343dc9bf4bada49e44ee7"
      },
      {
        "contentUdi": "umb://element/6191b52088cd4a4984df4b43519a2f79"
      },
      {
        "contentUdi": "umb://element/77215718b8884107a585d8f10e8cc79e"
      },
      {
        "contentUdi": "umb://element/a672252f702a4c03b2b9c5d5fe5648dd"
      },
      {
        "contentUdi": "umb://element/49a4532c49cd4a449e70a71b7a78661d"
      },
      {
        "contentUdi": "umb://element/83d295e8579a4bb3a153d8957a11ad91"
      },
      {
        "contentUdi": "umb://element/14a1563cdd1e4ea6bfda90f064289747"
      },
      {
        "contentUdi": "umb://element/4ee7eca9674a4966b574ec76c6de04f1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45422d9cd6e54fb488bd200569d285be",
      "value": "nuage",
      "confidence": "0.9952327609062195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f10b80ee67624aa1adce6a0946510050",
      "value": "bâtiment",
      "confidence": "0.9945360422134399"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ec081c793d747078376129dd3f1832e",
      "value": "plein air",
      "confidence": "0.994376540184021"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ed8b53c18df40d693e128827bd58d70",
      "value": "lieu de culte",
      "confidence": "0.9938969612121582"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2927ba95b77c4187967f8ef647d70232",
      "value": "ciel",
      "confidence": "0.9919997453689575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd3d5dbd2bea4e2a80b6167e61fb2e09",
      "value": "arbre",
      "confidence": "0.9704645872116089"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13cf4fd88cdc4015983407dcd961b455",
      "value": "sanctuaire",
      "confidence": "0.9622710943222046"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44f38fe36b5f4cc49372278995468ab0",
      "value": "Wat",
      "confidence": "0.8956640362739563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f6f868a4c2428896bfced7cc6520a7",
      "value": "temple",
      "confidence": "0.8876091241836548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bef3f79eec4472da83e43515dff26df",
      "value": "Architecture chinoise",
      "confidence": "0.8763653039932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f755ac9eb8343dc9bf4bada49e44ee7",
      "value": "pagode",
      "confidence": "0.8727485537528992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6191b52088cd4a4984df4b43519a2f79",
      "value": "Dharma",
      "confidence": "0.8702271580696106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77215718b8884107a585d8f10e8cc79e",
      "value": "repère",
      "confidence": "0.8685200214385986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a672252f702a4c03b2b9c5d5fe5648dd",
      "value": "Lieux sacrés",
      "confidence": "0.8583842515945435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/49a4532c49cd4a449e70a71b7a78661d",
      "value": "Temple hindou",
      "confidence": "0.8493627309799194"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83d295e8579a4bb3a153d8957a11ad91",
      "value": "Architecture japonaise",
      "confidence": "0.8444952964782715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14a1563cdd1e4ea6bfda90f064289747",
      "value": "stupa",
      "confidence": "0.7064869403839111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee7eca9674a4966b574ec76c6de04f1",
      "value": "jaune",
      "confidence": "0.6506431102752686"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A piece of the grand temple</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un morceau du grand temple</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases a beautifully ornate temple in Bangkok, Thailand. The temple features intricate and colorful architectural details, with a prominent spire reaching towards the sky. The vibrant roof decorations include dragon motifs, adding to the temple's majestic appearance. The sky is clear with a few wispy clouds, and there is lush greenery visible to the side."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un magnifique temple bouddhiste à Bangkok, Thaïlande. Le temple est richement décoré avec des motifs complexes et des couleurs vives. Le ciel bleu clair en arrière-plan met en valeur l'architecture détaillée et les ornements du temple."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Temple #Architecture #CulturalHeritage #Travel #Tourism]]></Value>
      <Value Culture="fr"><![CDATA[#temple #bouddhiste #Bangkok #Thaïlande #architecture #décoration #cielbleu]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "18332540-a550-4143-b1b6-eff0d15f4ef0",
    "mediaKey": "d44a83a8-acc8-48e2-a1af-5e32c27fd667"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, richement décoré et baigné de lumière sous un ciel bleu éclatant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, richement décoré et baigné de lumière sous un ciel bleu éclatant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Piece of Temple in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Un morceau du grand temple]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/a-piece-of-the-grand-palace-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/a-piece-of-the-grand-palace-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Bangkok",
  "Thailand",
  "architecture",
  "spires",
  "dragons",
  "ornate",
  "cultural",
  "heritage"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "bouddhiste",
  "Bangkok",
  "Thaïlande",
  "architecture",
  "décoration",
  "ciel bleu"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la splendeur d'un temple bouddhiste à Bangkok, richement décoré et baigné de lumière sous un ciel bleu éclatant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Piece of Temple in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Un morceau du grand temple]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>