<?xml version="1.0" encoding="utf-8"?>
<Content Key="c39b625c-f151-4ddc-8f50-201212a94fa5" Alias="My Faithful Tenant" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/MyFaithfulTenant</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T20:04:01</CreateDate>
    <NodeName Default="My Faithful Tenant">
      <Name Culture="en">My Faithful Tenant</Name>
      <Name Culture="fr">Ma fidèle locataire</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c019de82207f4ea49106978ae236cc78"
      },
      {
        "contentUdi": "umb://element/7666090c74aa45ba9e5e1faad945d9fb"
      },
      {
        "contentUdi": "umb://element/3d6bcbcb17a545c8b50cf1affc003855"
      },
      {
        "contentUdi": "umb://element/15b761001db648369efb5fcb35a5d4da"
      },
      {
        "contentUdi": "umb://element/d9bc3dcf0d6549a59351821252634b1e"
      },
      {
        "contentUdi": "umb://element/dc30fd7d65a84d18ac0ffe9538beaf08"
      },
      {
        "contentUdi": "umb://element/bde250ecda5b4e43924d3e261c14db62"
      },
      {
        "contentUdi": "umb://element/02140ceabc6d4f259e99e289caed9b66"
      },
      {
        "contentUdi": "umb://element/86defb154a224d47bf32b9d37b795cb6"
      },
      {
        "contentUdi": "umb://element/6755314f63054fc087b53b85338d0136"
      },
      {
        "contentUdi": "umb://element/14001dbd82f34d91816c67dc52171739"
      },
      {
        "contentUdi": "umb://element/00c3c9d2ef92486cb02fd4e05036062d"
      },
      {
        "contentUdi": "umb://element/d524933063ea425cb2d51d0bdc92313f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c019de82207f4ea49106978ae236cc78",
      "value": "animal",
      "confidence": "0.9942024946212769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7666090c74aa45ba9e5e1faad945d9fb",
      "value": "invertébré",
      "confidence": "0.9928693771362305"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d6bcbcb17a545c8b50cf1affc003855",
      "value": "araignée",
      "confidence": "0.9792195558547974"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15b761001db648369efb5fcb35a5d4da",
      "value": "insecte",
      "confidence": "0.9598774909973145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9bc3dcf0d6549a59351821252634b1e",
      "value": "Toile d’araignée",
      "confidence": "0.9576302766799927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc30fd7d65a84d18ac0ffe9538beaf08",
      "value": "arthropode",
      "confidence": "0.9564550518989563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bde250ecda5b4e43924d3e261c14db62",
      "value": "Macrophotographie",
      "confidence": "0.9334115982055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/02140ceabc6d4f259e99e289caed9b66",
      "value": "Araneidae",
      "confidence": "0.9013757109642029"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86defb154a224d47bf32b9d37b795cb6",
      "value": "Argiope aurantia",
      "confidence": "0.8596233129501343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6755314f63054fc087b53b85338d0136",
      "value": "vermine",
      "confidence": "0.8452349305152893"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14001dbd82f34d91816c67dc52171739",
      "value": "plein air",
      "confidence": "0.7863609194755554"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00c3c9d2ef92486cb02fd4e05036062d",
      "value": "toile",
      "confidence": "0.6706754565238953"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d524933063ea425cb2d51d0bdc92313f",
      "value": "nature",
      "confidence": "0.5218203663825989"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c019de82207f4ea49106978ae236cc78"
      },
      {
        "contentUdi": "umb://element/7666090c74aa45ba9e5e1faad945d9fb"
      },
      {
        "contentUdi": "umb://element/3d6bcbcb17a545c8b50cf1affc003855"
      },
      {
        "contentUdi": "umb://element/15b761001db648369efb5fcb35a5d4da"
      },
      {
        "contentUdi": "umb://element/d9bc3dcf0d6549a59351821252634b1e"
      },
      {
        "contentUdi": "umb://element/dc30fd7d65a84d18ac0ffe9538beaf08"
      },
      {
        "contentUdi": "umb://element/bde250ecda5b4e43924d3e261c14db62"
      },
      {
        "contentUdi": "umb://element/02140ceabc6d4f259e99e289caed9b66"
      },
      {
        "contentUdi": "umb://element/86defb154a224d47bf32b9d37b795cb6"
      },
      {
        "contentUdi": "umb://element/6755314f63054fc087b53b85338d0136"
      },
      {
        "contentUdi": "umb://element/14001dbd82f34d91816c67dc52171739"
      },
      {
        "contentUdi": "umb://element/00c3c9d2ef92486cb02fd4e05036062d"
      },
      {
        "contentUdi": "umb://element/d524933063ea425cb2d51d0bdc92313f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c019de82207f4ea49106978ae236cc78",
      "value": "animal",
      "confidence": "0.9942024946212769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7666090c74aa45ba9e5e1faad945d9fb",
      "value": "invertébré",
      "confidence": "0.9928693771362305"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d6bcbcb17a545c8b50cf1affc003855",
      "value": "araignée",
      "confidence": "0.9792195558547974"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15b761001db648369efb5fcb35a5d4da",
      "value": "insecte",
      "confidence": "0.9598774909973145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9bc3dcf0d6549a59351821252634b1e",
      "value": "Toile d’araignée",
      "confidence": "0.9576302766799927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc30fd7d65a84d18ac0ffe9538beaf08",
      "value": "arthropode",
      "confidence": "0.9564550518989563"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bde250ecda5b4e43924d3e261c14db62",
      "value": "Macrophotographie",
      "confidence": "0.9334115982055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/02140ceabc6d4f259e99e289caed9b66",
      "value": "Araneidae",
      "confidence": "0.9013757109642029"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86defb154a224d47bf32b9d37b795cb6",
      "value": "Argiope aurantia",
      "confidence": "0.8596233129501343"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6755314f63054fc087b53b85338d0136",
      "value": "vermine",
      "confidence": "0.8452349305152893"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14001dbd82f34d91816c67dc52171739",
      "value": "plein air",
      "confidence": "0.7863609194755554"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00c3c9d2ef92486cb02fd4e05036062d",
      "value": "toile",
      "confidence": "0.6706754565238953"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d524933063ea425cb2d51d0bdc92313f",
      "value": "nature",
      "confidence": "0.5218203663825989"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The European garden spider is alone, waiting on its web. I'm waiting with my camera to capture and post it on my web.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'épeire diadème est seule à l'affût sur sa toile. Moi à l'affût avec mon appareil et la poster sur ma toile</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a spider hanging from its web. The spider is at the center of the image and the web is visible in the background. The background is blurred with shades of green and brown, highlighting the spider and its web."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une araignée suspendue à sa toile. L'araignée est au centre de l'image et la toile est visible en arrière-plan. Le fond est flou avec des nuances de vert et de brun, ce qui met en valeur l'araignée et sa toile."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#spider #web #nature #arachnid #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#araignée #toile #nature #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "fd22d591-3e41-4f29-84aa-734a390f1f4f",
    "mediaKey": "d3658171-068b-4ec8-bfe1-6933650a7a8b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'épeire diadème est seule à l'affût sur sa toile. Moi à l'affût avec mon appareil et la poster sur ma toile.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Ma fidèle locataire]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[My Faithful Tenant]]></Value>
      <Value Culture="fr"><![CDATA[Ma fidèle locataire]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-personal-garden-guard-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-personal-garden-guard-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "spider",
  "web",
  "insect",
  "nature",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "araignée",
  "toile",
  "insecte",
  "nature",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'épeire diadème est seule à l'affût sur sa toile. Moi à l'affût avec mon appareil et la poster sur ma toile.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[My Faithful Tenant]]></Value>
      <Value Culture="fr"><![CDATA[Ma fidèle locataire]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>