<?xml version="1.0" encoding="utf-8"?>
<Content Key="29ea738e-1a30-40a6-8e36-dd94b119618f" Alias="Ne frappez pas  à la porte!" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/NeFrappezPasALaPorte</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T16:26:49</CreateDate>
    <NodeName Default="Ne frappez pas  à la porte!">
      <Name Culture="en">Do not knock on the door!</Name>
      <Name Culture="fr">Ne frappez pas  à la porte!</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ca4f2d2b96504281ab35938a27c886ad"
      },
      {
        "contentUdi": "umb://element/3ebd2af832b24a0fbea09b3c6ea1f194"
      },
      {
        "contentUdi": "umb://element/70bfe42d9d4441e68e4c4e0126507d69"
      },
      {
        "contentUdi": "umb://element/1446a4f6b23e4930b73e785093da5243"
      },
      {
        "contentUdi": "umb://element/f2959944c5b44a4f9a6a735000d9e2f7"
      },
      {
        "contentUdi": "umb://element/0c080074995f4851bb9b0d9f27ca42f1"
      },
      {
        "contentUdi": "umb://element/27eb01b63e9146a780d378f6c373d396"
      },
      {
        "contentUdi": "umb://element/a47ad257e8794307a4104041c5603748"
      },
      {
        "contentUdi": "umb://element/d49dae1033a44223964f676a03d4f915"
      },
      {
        "contentUdi": "umb://element/27875a8230de4aed84cac79a1593f9e9"
      },
      {
        "contentUdi": "umb://element/32e68de07f2e49a7b1b58763e0f1afe0"
      },
      {
        "contentUdi": "umb://element/3e228cd2bf7d439aa1258f8681753938"
      },
      {
        "contentUdi": "umb://element/5d67e6ffcf2648e4b5b4423cabf68a32"
      },
      {
        "contentUdi": "umb://element/6da608cdd2d242bdbf4e410cd4bc35da"
      },
      {
        "contentUdi": "umb://element/7c8c6e46b0a64655bf90f8c22b4795dd"
      },
      {
        "contentUdi": "umb://element/6f7783e0aa944d33b8c977de9143bc6c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca4f2d2b96504281ab35938a27c886ad",
      "value": "ciel",
      "confidence": "0.9950288534164429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ebd2af832b24a0fbea09b3c6ea1f194",
      "value": "bâtiment",
      "confidence": "0.9806947708129883"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/70bfe42d9d4441e68e4c4e0126507d69",
      "value": "nuage",
      "confidence": "0.9800480008125305"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1446a4f6b23e4930b73e785093da5243",
      "value": "plein air",
      "confidence": "0.9638566970825195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2959944c5b44a4f9a6a735000d9e2f7",
      "value": "Ruines",
      "confidence": "0.9337061643600464"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c080074995f4851bb9b0d9f27ca42f1",
      "value": "Site historique",
      "confidence": "0.926733136177063"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27eb01b63e9146a780d378f6c373d396",
      "value": "repère",
      "confidence": "0.8938344717025757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a47ad257e8794307a4104041c5603748",
      "value": "monument",
      "confidence": "0.8902715444564819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d49dae1033a44223964f676a03d4f915",
      "value": "arbre",
      "confidence": "0.883301317691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27875a8230de4aed84cac79a1593f9e9",
      "value": "lieu de culte",
      "confidence": "0.8526637554168701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32e68de07f2e49a7b1b58763e0f1afe0",
      "value": "Histoire",
      "confidence": "0.8524986505508423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e228cd2bf7d439aa1258f8681753938",
      "value": "Histoire antique",
      "confidence": "0.8517345190048218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d67e6ffcf2648e4b5b4423cabf68a32",
      "value": "ruine",
      "confidence": "0.827247142791748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6da608cdd2d242bdbf4e410cd4bc35da",
      "value": "temple",
      "confidence": "0.6896686553955078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c8c6e46b0a64655bf90f8c22b4795dd",
      "value": "pierre",
      "confidence": "0.5689706206321716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f7783e0aa944d33b8c977de9143bc6c",
      "value": "église",
      "confidence": "0.42857494950294495"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ca4f2d2b96504281ab35938a27c886ad"
      },
      {
        "contentUdi": "umb://element/3ebd2af832b24a0fbea09b3c6ea1f194"
      },
      {
        "contentUdi": "umb://element/70bfe42d9d4441e68e4c4e0126507d69"
      },
      {
        "contentUdi": "umb://element/1446a4f6b23e4930b73e785093da5243"
      },
      {
        "contentUdi": "umb://element/f2959944c5b44a4f9a6a735000d9e2f7"
      },
      {
        "contentUdi": "umb://element/0c080074995f4851bb9b0d9f27ca42f1"
      },
      {
        "contentUdi": "umb://element/27eb01b63e9146a780d378f6c373d396"
      },
      {
        "contentUdi": "umb://element/a47ad257e8794307a4104041c5603748"
      },
      {
        "contentUdi": "umb://element/d49dae1033a44223964f676a03d4f915"
      },
      {
        "contentUdi": "umb://element/27875a8230de4aed84cac79a1593f9e9"
      },
      {
        "contentUdi": "umb://element/32e68de07f2e49a7b1b58763e0f1afe0"
      },
      {
        "contentUdi": "umb://element/3e228cd2bf7d439aa1258f8681753938"
      },
      {
        "contentUdi": "umb://element/5d67e6ffcf2648e4b5b4423cabf68a32"
      },
      {
        "contentUdi": "umb://element/6da608cdd2d242bdbf4e410cd4bc35da"
      },
      {
        "contentUdi": "umb://element/7c8c6e46b0a64655bf90f8c22b4795dd"
      },
      {
        "contentUdi": "umb://element/6f7783e0aa944d33b8c977de9143bc6c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca4f2d2b96504281ab35938a27c886ad",
      "value": "ciel",
      "confidence": "0.9950288534164429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ebd2af832b24a0fbea09b3c6ea1f194",
      "value": "bâtiment",
      "confidence": "0.9806947708129883"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/70bfe42d9d4441e68e4c4e0126507d69",
      "value": "nuage",
      "confidence": "0.9800480008125305"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1446a4f6b23e4930b73e785093da5243",
      "value": "plein air",
      "confidence": "0.9638566970825195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2959944c5b44a4f9a6a735000d9e2f7",
      "value": "Ruines",
      "confidence": "0.9337061643600464"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c080074995f4851bb9b0d9f27ca42f1",
      "value": "Site historique",
      "confidence": "0.926733136177063"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27eb01b63e9146a780d378f6c373d396",
      "value": "repère",
      "confidence": "0.8938344717025757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a47ad257e8794307a4104041c5603748",
      "value": "monument",
      "confidence": "0.8902715444564819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d49dae1033a44223964f676a03d4f915",
      "value": "arbre",
      "confidence": "0.883301317691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27875a8230de4aed84cac79a1593f9e9",
      "value": "lieu de culte",
      "confidence": "0.8526637554168701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32e68de07f2e49a7b1b58763e0f1afe0",
      "value": "Histoire",
      "confidence": "0.8524986505508423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e228cd2bf7d439aa1258f8681753938",
      "value": "Histoire antique",
      "confidence": "0.8517345190048218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d67e6ffcf2648e4b5b4423cabf68a32",
      "value": "ruine",
      "confidence": "0.827247142791748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6da608cdd2d242bdbf4e410cd4bc35da",
      "value": "temple",
      "confidence": "0.6896686553955078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c8c6e46b0a64655bf90f8c22b4795dd",
      "value": "pierre",
      "confidence": "0.5689706206321716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f7783e0aa944d33b8c977de9143bc6c",
      "value": "église",
      "confidence": "0.42857494950294495"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>One of the main stupas of Ayutthaya, seen through the lens of a red brick gate</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un des principaux stupas d'Ayutthaya, sous la lorgnette d'un portail en brique rouge</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases the ancient ruins of a temple in Ayutthaya, Thailand. The central focus is on a large, intricately designed doorway made of red bricks, which frames a tall, ornate stupa in the background. The sky is clear and blue, adding to the serene and historical atmosphere of the site."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une ancienne structure en briques rouges avec une grande ouverture centrale, encadrant une vue sur un temple ou une pagode en arrière-plan. Le ciel est bleu et clair, ajoutant une touche de contraste à la scène historique. Cette photo a été prise à Ayutthaya, en Thaïlande, un site connu pour ses ruines historiques et ses temples."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Ayutthaya #Thailand #AncientRuins #Temple #HistoricalSite #Travel #Architecture #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#Ayutthaya #Thaïlande #ruines #temple #histoire #architecture #patrimoine]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "96fdcda4-5bfd-4421-b83a-8c15f0571d78",
    "mediaKey": "e06ecee7-f796-41c3-baf9-658866f7a1ec"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ayutthaya, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ayutthaya, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'un des principaux stupas d'Ayutthaya à travers l'ouverture d'un portail en briques rouges, offrant une vue captivante sur un temple historique.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'un des principaux stupas d'Ayutthaya à travers l'ouverture d'un portail en briques rouges, offrant une vue captivante sur un temple historique.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Journey through the ruins of Ayutthaya]]></Value>
      <Value Culture="fr"><![CDATA[Sous la Lorgnette d'un Portail en Brique Rouge à Ayutthaya]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/gate-to-stupa-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/gate-to-stupa-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Ayutthaya",
  "Thailand",
  "ancient ruins",
  "temple",
  "doorway",
  "stupa",
  "red bricks",
  "historical site"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Ayutthaya",
  "Thaïlande",
  "ruines",
  "temple",
  "briques",
  "histoire",
  "architecture",
  "patrimoine"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'un des principaux stupas d'Ayutthaya à travers l'ouverture d'un portail en briques rouges, offrant une vue captivante sur un temple historique.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Journey through the ruins of Ayutthaya]]></Value>
      <Value Culture="fr"><![CDATA[Sous la Lorgnette d'un Portail en Brique Rouge à Ayutthaya]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>