<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea50e267-3315-4120-b2de-9ad5565b8150" Alias="New Year's Eve in Pai" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/NewYearsEveInPai</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T17:32:58</CreateDate>
    <NodeName Default="New Year's Eve in Pai">
      <Name Culture="en">New Year's Eve in Pai</Name>
      <Name Culture="fr">Réveillon à Pai</Name>
    </NodeName>
    <SortOrder>48</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ed69e63f0c3a4645b082e528c9bc9200"
      },
      {
        "contentUdi": "umb://element/d8de46a904724dd48b30264fcce6ac21"
      },
      {
        "contentUdi": "umb://element/f3d5cf06fda14bed9513f6d6e7653497"
      },
      {
        "contentUdi": "umb://element/b392fb317cda41cc8bb8959b393e6819"
      },
      {
        "contentUdi": "umb://element/389f7ee588f447f4b51a78da6efea507"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed69e63f0c3a4645b082e528c9bc9200",
      "value": "plein air",
      "confidence": "0.9569977521896362"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8de46a904724dd48b30264fcce6ac21",
      "value": "chaleur",
      "confidence": "0.8710153102874756"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3d5cf06fda14bed9513f6d6e7653497",
      "value": "sol",
      "confidence": "0.6051794290542603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b392fb317cda41cc8bb8959b393e6819",
      "value": "nuit",
      "confidence": "0.5789042711257935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/389f7ee588f447f4b51a78da6efea507",
      "value": "feu",
      "confidence": "0.559042751789093"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ed69e63f0c3a4645b082e528c9bc9200"
      },
      {
        "contentUdi": "umb://element/d8de46a904724dd48b30264fcce6ac21"
      },
      {
        "contentUdi": "umb://element/f3d5cf06fda14bed9513f6d6e7653497"
      },
      {
        "contentUdi": "umb://element/b392fb317cda41cc8bb8959b393e6819"
      },
      {
        "contentUdi": "umb://element/389f7ee588f447f4b51a78da6efea507"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed69e63f0c3a4645b082e528c9bc9200",
      "value": "plein air",
      "confidence": "0.9569977521896362"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8de46a904724dd48b30264fcce6ac21",
      "value": "chaleur",
      "confidence": "0.8710153102874756"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3d5cf06fda14bed9513f6d6e7653497",
      "value": "sol",
      "confidence": "0.6051794290542603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b392fb317cda41cc8bb8959b393e6819",
      "value": "nuit",
      "confidence": "0.5789042711257935"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/389f7ee588f447f4b51a78da6efea507",
      "value": "feu",
      "confidence": "0.559042751789093"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>New Year's Eve in Pai, let it all go!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Réveillon à Pai, on lâche tout !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a nighttime scene in Pai, Thailand, where people are participating in an activity around a campfire. Two people are holding illuminated sky lanterns, ready to be released into the sky. In the background, a group of people stands on a wooden bridge, observing the scene. The atmosphere is warm and festive, with soft lights and a friendly ambiance."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène nocturne à Pai, en Thaïlande, où des personnes participent à une activité autour d'un feu de camp. Deux personnes tiennent des lanternes célestes illuminées, prêtes à être lâchées dans le ciel. En arrière-plan, un groupe de personnes se tient sur une passerelle en bois, observant la scène. L'ambiance est chaleureuse et festive, avec des lumières douces et une atmosphère conviviale."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #NightScene #SkyLanterns #Festival #Gathering]]></Value>
      <Value Culture="fr"><![CDATA[#nuit #feudecamp #lanternescélestes #activitédegroupe #ambiancefestive #Thaïlande]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "75569133-994a-4d64-b399-b65c069c6c2c",
    "mediaKey": "ee187e59-c32c-4cbd-b975-59d40a9799d7"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Plongez dans l'ambiance festive de Pai, où les lanternes célestes illuminent le ciel nocturne.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Réveillon à Pai : Une Nuit Magique en Thaïlande]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[New Year's Eve in Pai: A Magical Night in Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Réveillon à Pai : Une Nuit Magique en Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/new-year-eve-at-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/new-year-eve-at-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "night",
  "campfire",
  "sky lanterns",
  "group activity",
  "festive atmosphere",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "nuit",
  "feu de camp",
  "lanternes célestes",
  "activité de groupe",
  "ambiance festive",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Plongez dans l'ambiance festive de Pai, où les lanternes célestes illuminent le ciel nocturne.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[New Year's Eve in Pai: A Magical Night in Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Réveillon à Pai : Une Nuit Magique en Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>