<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f59e3bc-9e30-4db2-8ac2-bd8f58df1237" Alias="Nopharat Thara Beach - balade apéritive" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/NopharatTharaBeachBaladeAperitive</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-06T13:29:48</CreateDate>
    <NodeName Default="Nopharat Thara Beach - balade apéritive">
      <Name Culture="en">Nopharat Thara Beach - evening stroll</Name>
      <Name Culture="fr">Nopharat Thara Beach - balade apéritive</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/32ea5c4050b146fb9b0a8e3a33299de2"
      },
      {
        "contentUdi": "umb://element/e11fcbcf62774d7c83ef0510a211d131"
      },
      {
        "contentUdi": "umb://element/e9a18e675f6d4fa5834fce7d72bcd8fe"
      },
      {
        "contentUdi": "umb://element/f1ae9e1d42b44927808e1651982000e0"
      },
      {
        "contentUdi": "umb://element/745a4de3d8024e8995a692fb8dbee0c9"
      },
      {
        "contentUdi": "umb://element/e2907adecae24fb5a2307414fc26c0a4"
      },
      {
        "contentUdi": "umb://element/ed9d99cb922b4fda863ace4bc1169d88"
      },
      {
        "contentUdi": "umb://element/9bca9890dc524f74b1918f062741c4dc"
      },
      {
        "contentUdi": "umb://element/bd173f73491f491cb7e50a8edc1fefac"
      },
      {
        "contentUdi": "umb://element/5a8bc47b755d4430b83327af433bbe37"
      },
      {
        "contentUdi": "umb://element/326bf921c91f4ac2bb5088594bb5084e"
      },
      {
        "contentUdi": "umb://element/b64b9c3e4d704eb38fc80b73367b5e49"
      },
      {
        "contentUdi": "umb://element/bfd5c0645da94df6b982ab0ffee0d70c"
      },
      {
        "contentUdi": "umb://element/dd44e409072e472fbc7ddeceb576451d"
      },
      {
        "contentUdi": "umb://element/e2dd0a82804b42eca38984bf64950fa4"
      },
      {
        "contentUdi": "umb://element/474e47e99a79458487fe509419059417"
      },
      {
        "contentUdi": "umb://element/06182e9d027a49b3a86b6fbde459775f"
      },
      {
        "contentUdi": "umb://element/56ac2725685449f7a0b97de422f61797"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32ea5c4050b146fb9b0a8e3a33299de2",
      "value": "plein air",
      "confidence": "0.9965415000915527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e11fcbcf62774d7c83ef0510a211d131",
      "value": "ciel",
      "confidence": "0.9878754615783691"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9a18e675f6d4fa5834fce7d72bcd8fe",
      "value": "eau",
      "confidence": "0.9796311855316162"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1ae9e1d42b44927808e1651982000e0",
      "value": "arbre",
      "confidence": "0.9737775325775146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/745a4de3d8024e8995a692fb8dbee0c9",
      "value": "lac",
      "confidence": "0.9623724222183228"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2907adecae24fb5a2307414fc26c0a4",
      "value": "nuage",
      "confidence": "0.9523074626922607"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed9d99cb922b4fda863ace4bc1169d88",
      "value": "Rétroéclairage",
      "confidence": "0.9135562181472778"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9bca9890dc524f74b1918f062741c4dc",
      "value": "soirée",
      "confidence": "0.9020967483520508"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd173f73491f491cb7e50a8edc1fefac",
      "value": "horizon",
      "confidence": "0.9018692374229431"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a8bc47b755d4430b83327af433bbe37",
      "value": "crépuscule",
      "confidence": "0.8970063924789429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/326bf921c91f4ac2bb5088594bb5084e",
      "value": "matin",
      "confidence": "0.8907275795936584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b64b9c3e4d704eb38fc80b73367b5e49",
      "value": "lever de soleil",
      "confidence": "0.8888410329818726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfd5c0645da94df6b982ab0ffee0d70c",
      "value": "lumière du jour",
      "confidence": "0.8740596771240234"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd44e409072e472fbc7ddeceb576451d",
      "value": "phare",
      "confidence": "0.8717951774597168"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2dd0a82804b42eca38984bf64950fa4",
      "value": "Dernières lueurs",
      "confidence": "0.8660837411880493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/474e47e99a79458487fe509419059417",
      "value": "soleil",
      "confidence": "0.7704419493675232"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06182e9d027a49b3a86b6fbde459775f",
      "value": "coucher de soleil",
      "confidence": "0.6635008454322815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56ac2725685449f7a0b97de422f61797",
      "value": "paysage",
      "confidence": "0.6622068881988525"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/32ea5c4050b146fb9b0a8e3a33299de2"
      },
      {
        "contentUdi": "umb://element/e11fcbcf62774d7c83ef0510a211d131"
      },
      {
        "contentUdi": "umb://element/e9a18e675f6d4fa5834fce7d72bcd8fe"
      },
      {
        "contentUdi": "umb://element/f1ae9e1d42b44927808e1651982000e0"
      },
      {
        "contentUdi": "umb://element/745a4de3d8024e8995a692fb8dbee0c9"
      },
      {
        "contentUdi": "umb://element/e2907adecae24fb5a2307414fc26c0a4"
      },
      {
        "contentUdi": "umb://element/ed9d99cb922b4fda863ace4bc1169d88"
      },
      {
        "contentUdi": "umb://element/9bca9890dc524f74b1918f062741c4dc"
      },
      {
        "contentUdi": "umb://element/bd173f73491f491cb7e50a8edc1fefac"
      },
      {
        "contentUdi": "umb://element/5a8bc47b755d4430b83327af433bbe37"
      },
      {
        "contentUdi": "umb://element/326bf921c91f4ac2bb5088594bb5084e"
      },
      {
        "contentUdi": "umb://element/b64b9c3e4d704eb38fc80b73367b5e49"
      },
      {
        "contentUdi": "umb://element/bfd5c0645da94df6b982ab0ffee0d70c"
      },
      {
        "contentUdi": "umb://element/dd44e409072e472fbc7ddeceb576451d"
      },
      {
        "contentUdi": "umb://element/e2dd0a82804b42eca38984bf64950fa4"
      },
      {
        "contentUdi": "umb://element/474e47e99a79458487fe509419059417"
      },
      {
        "contentUdi": "umb://element/06182e9d027a49b3a86b6fbde459775f"
      },
      {
        "contentUdi": "umb://element/56ac2725685449f7a0b97de422f61797"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32ea5c4050b146fb9b0a8e3a33299de2",
      "value": "plein air",
      "confidence": "0.9965415000915527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e11fcbcf62774d7c83ef0510a211d131",
      "value": "ciel",
      "confidence": "0.9878754615783691"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9a18e675f6d4fa5834fce7d72bcd8fe",
      "value": "eau",
      "confidence": "0.9796311855316162"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1ae9e1d42b44927808e1651982000e0",
      "value": "arbre",
      "confidence": "0.9737775325775146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/745a4de3d8024e8995a692fb8dbee0c9",
      "value": "lac",
      "confidence": "0.9623724222183228"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2907adecae24fb5a2307414fc26c0a4",
      "value": "nuage",
      "confidence": "0.9523074626922607"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed9d99cb922b4fda863ace4bc1169d88",
      "value": "Rétroéclairage",
      "confidence": "0.9135562181472778"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9bca9890dc524f74b1918f062741c4dc",
      "value": "soirée",
      "confidence": "0.9020967483520508"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd173f73491f491cb7e50a8edc1fefac",
      "value": "horizon",
      "confidence": "0.9018692374229431"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a8bc47b755d4430b83327af433bbe37",
      "value": "crépuscule",
      "confidence": "0.8970063924789429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/326bf921c91f4ac2bb5088594bb5084e",
      "value": "matin",
      "confidence": "0.8907275795936584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b64b9c3e4d704eb38fc80b73367b5e49",
      "value": "lever de soleil",
      "confidence": "0.8888410329818726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfd5c0645da94df6b982ab0ffee0d70c",
      "value": "lumière du jour",
      "confidence": "0.8740596771240234"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd44e409072e472fbc7ddeceb576451d",
      "value": "phare",
      "confidence": "0.8717951774597168"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2dd0a82804b42eca38984bf64950fa4",
      "value": "Dernières lueurs",
      "confidence": "0.8660837411880493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/474e47e99a79458487fe509419059417",
      "value": "soleil",
      "confidence": "0.7704419493675232"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06182e9d027a49b3a86b6fbde459775f",
      "value": "coucher de soleil",
      "confidence": "0.6635008454322815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56ac2725685449f7a0b97de422f61797",
      "value": "paysage",
      "confidence": "0.6622068881988525"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stroll at Nopharat Thara Beach</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Balade à Nopharat Thara Beach</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene sunset at Nopharat Thara Beach. The sky is painted with hues of orange and yellow as the sun sets behind a cluster of trees. The beach is calm, with the water reflecting the warm colors of the sky. Two silhouettes of people can be seen walking along the shore, adding a sense of tranquility to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage au coucher du soleil, avec des rayons de lumière dorée illuminant le paysage. Deux personnes se tiennent sur le rivage, profitant de la vue sereine. Les arbres et la végétation sont visibles à l'arrière-plan, ajoutant une touche de nature à la scène paisible. La plage est Nopharat Thara Beach."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #NopharatTharaBeach #nature #serene #reflection #silhouettes]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #nature #NopharatTharaBeach #paysage #sérénité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "db3801ef-fc82-40cf-90ac-6b3ffa134a40",
    "mediaKey": "5a821140-8683-463d-9248-cc0c65473d8e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de Nopharat Thara Beach au crépuscule, où les rayons dorés du soleil illuminent le paysage.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de Nopharat Thara Beach au crépuscule, où les rayons dorés du soleil illuminent le paysage.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach - evening stroll]]></Value>
      <Value Culture="fr"><![CDATA[Balade au Coucher de Soleil à Nopharat Thara Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Nopharat Thara Beach",
  "silhouettes",
  "trees",
  "water",
  "reflection",
  "serene",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "rayons de lumière",
  "personnes",
  "nature",
  "Nopharat Thara Beach"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de Nopharat Thara Beach au crépuscule, où les rayons dorés du soleil illuminent le paysage.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach - evening stroll]]></Value>
      <Value Culture="fr"><![CDATA[Balade au Coucher de Soleil à Nopharat Thara Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>