<?xml version="1.0" encoding="utf-8"?>
<Content Key="72729712-0613-44e9-80ef-cfffe15398ea" Alias="Nopharat Thara Beach shut down" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/NopharatTharaBeachShutDown</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-06T13:33:37</CreateDate>
    <NodeName Default="Nopharat Thara Beach shut down">
      <Name Culture="en">Nopharat Thara Beach shut down</Name>
      <Name Culture="fr">Nopharat Thara Beach shut down</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/062888e00baa46fdb8b2e3d23812fc48"
      },
      {
        "contentUdi": "umb://element/7c7c5ccf3fcf4790830985c8e99f084b"
      },
      {
        "contentUdi": "umb://element/42371cc791e54a5f95833d3916deac6a"
      },
      {
        "contentUdi": "umb://element/ec63253304304ee38cbc0a49db2269b3"
      },
      {
        "contentUdi": "umb://element/d599cd1bc1944b5099e38ccbdf024c5f"
      },
      {
        "contentUdi": "umb://element/e0d5ef87e57848dc994c6831750538ac"
      },
      {
        "contentUdi": "umb://element/1bafa2d308e7422a962dacb86cca9ecc"
      },
      {
        "contentUdi": "umb://element/9a7cd45279954ae6ad8f84df691c17c8"
      },
      {
        "contentUdi": "umb://element/4dbebae7b9df4f6dafdf46efb14b47d6"
      },
      {
        "contentUdi": "umb://element/7fde672c30074d49aae8ec21237dd545"
      },
      {
        "contentUdi": "umb://element/d908ad0ceb864babbb2ef3fc8801b8f7"
      },
      {
        "contentUdi": "umb://element/de293ead399a407ea2b7f59a39458089"
      },
      {
        "contentUdi": "umb://element/b2ca4618843c4b8f92ac45ff86fa34d0"
      },
      {
        "contentUdi": "umb://element/a68923d1693d40e2864a47a6eb168f4a"
      },
      {
        "contentUdi": "umb://element/8e68472bece343b5bd81c1c4569435f9"
      },
      {
        "contentUdi": "umb://element/15c756eed3334a53bca65a3791acd963"
      },
      {
        "contentUdi": "umb://element/bfd31213fc694ffaa84d1a8250ea1cf6"
      },
      {
        "contentUdi": "umb://element/5073d5900b6749519b30af929a738eb3"
      },
      {
        "contentUdi": "umb://element/81322f670cb54d9aa6037144fb9ad57e"
      },
      {
        "contentUdi": "umb://element/f4c8d72d15df481da72844b4be9ca0c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/062888e00baa46fdb8b2e3d23812fc48",
      "value": "plein air",
      "confidence": "0.9973830580711365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c7c5ccf3fcf4790830985c8e99f084b",
      "value": "eau",
      "confidence": "0.9828218221664429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42371cc791e54a5f95833d3916deac6a",
      "value": "arbre",
      "confidence": "0.9755496382713318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec63253304304ee38cbc0a49db2269b3",
      "value": "ciel",
      "confidence": "0.9700815081596375"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d599cd1bc1944b5099e38ccbdf024c5f",
      "value": "paysage",
      "confidence": "0.961896538734436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0d5ef87e57848dc994c6831750538ac",
      "value": "nuage",
      "confidence": "0.9578917026519775"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bafa2d308e7422a962dacb86cca9ecc",
      "value": "lac",
      "confidence": "0.9516956806182861"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a7cd45279954ae6ad8f84df691c17c8",
      "value": "hiver",
      "confidence": "0.9318845272064209"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4dbebae7b9df4f6dafdf46efb14b47d6",
      "value": "lever de soleil",
      "confidence": "0.900572657585144"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7fde672c30074d49aae8ec21237dd545",
      "value": "Quiétude",
      "confidence": "0.8972280621528625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d908ad0ceb864babbb2ef3fc8801b8f7",
      "value": "horizon",
      "confidence": "0.8952316045761108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de293ead399a407ea2b7f59a39458089",
      "value": "lumière du jour",
      "confidence": "0.8714210391044617"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2ca4618843c4b8f92ac45ff86fa34d0",
      "value": "matin",
      "confidence": "0.8713364601135254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a68923d1693d40e2864a47a6eb168f4a",
      "value": "crépuscule",
      "confidence": "0.8668621182441711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e68472bece343b5bd81c1c4569435f9",
      "value": "coucher de soleil",
      "confidence": "0.8623436093330383"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15c756eed3334a53bca65a3791acd963",
      "value": "Dernières lueurs",
      "confidence": "0.8605455160140991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfd31213fc694ffaa84d1a8250ea1cf6",
      "value": "soirée",
      "confidence": "0.8602145910263062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5073d5900b6749519b30af929a738eb3",
      "value": "nature",
      "confidence": "0.7744302749633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/81322f670cb54d9aa6037144fb9ad57e",
      "value": "soleil",
      "confidence": "0.7699254751205444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4c8d72d15df481da72844b4be9ca0c4",
      "value": "sol",
      "confidence": "0.6108866333961487"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/062888e00baa46fdb8b2e3d23812fc48"
      },
      {
        "contentUdi": "umb://element/7c7c5ccf3fcf4790830985c8e99f084b"
      },
      {
        "contentUdi": "umb://element/42371cc791e54a5f95833d3916deac6a"
      },
      {
        "contentUdi": "umb://element/ec63253304304ee38cbc0a49db2269b3"
      },
      {
        "contentUdi": "umb://element/d599cd1bc1944b5099e38ccbdf024c5f"
      },
      {
        "contentUdi": "umb://element/e0d5ef87e57848dc994c6831750538ac"
      },
      {
        "contentUdi": "umb://element/1bafa2d308e7422a962dacb86cca9ecc"
      },
      {
        "contentUdi": "umb://element/9a7cd45279954ae6ad8f84df691c17c8"
      },
      {
        "contentUdi": "umb://element/4dbebae7b9df4f6dafdf46efb14b47d6"
      },
      {
        "contentUdi": "umb://element/7fde672c30074d49aae8ec21237dd545"
      },
      {
        "contentUdi": "umb://element/d908ad0ceb864babbb2ef3fc8801b8f7"
      },
      {
        "contentUdi": "umb://element/de293ead399a407ea2b7f59a39458089"
      },
      {
        "contentUdi": "umb://element/b2ca4618843c4b8f92ac45ff86fa34d0"
      },
      {
        "contentUdi": "umb://element/a68923d1693d40e2864a47a6eb168f4a"
      },
      {
        "contentUdi": "umb://element/8e68472bece343b5bd81c1c4569435f9"
      },
      {
        "contentUdi": "umb://element/15c756eed3334a53bca65a3791acd963"
      },
      {
        "contentUdi": "umb://element/bfd31213fc694ffaa84d1a8250ea1cf6"
      },
      {
        "contentUdi": "umb://element/5073d5900b6749519b30af929a738eb3"
      },
      {
        "contentUdi": "umb://element/81322f670cb54d9aa6037144fb9ad57e"
      },
      {
        "contentUdi": "umb://element/f4c8d72d15df481da72844b4be9ca0c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/062888e00baa46fdb8b2e3d23812fc48",
      "value": "plein air",
      "confidence": "0.9973830580711365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c7c5ccf3fcf4790830985c8e99f084b",
      "value": "eau",
      "confidence": "0.9828218221664429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42371cc791e54a5f95833d3916deac6a",
      "value": "arbre",
      "confidence": "0.9755496382713318"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec63253304304ee38cbc0a49db2269b3",
      "value": "ciel",
      "confidence": "0.9700815081596375"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d599cd1bc1944b5099e38ccbdf024c5f",
      "value": "paysage",
      "confidence": "0.961896538734436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0d5ef87e57848dc994c6831750538ac",
      "value": "nuage",
      "confidence": "0.9578917026519775"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bafa2d308e7422a962dacb86cca9ecc",
      "value": "lac",
      "confidence": "0.9516956806182861"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a7cd45279954ae6ad8f84df691c17c8",
      "value": "hiver",
      "confidence": "0.9318845272064209"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4dbebae7b9df4f6dafdf46efb14b47d6",
      "value": "lever de soleil",
      "confidence": "0.900572657585144"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7fde672c30074d49aae8ec21237dd545",
      "value": "Quiétude",
      "confidence": "0.8972280621528625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d908ad0ceb864babbb2ef3fc8801b8f7",
      "value": "horizon",
      "confidence": "0.8952316045761108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de293ead399a407ea2b7f59a39458089",
      "value": "lumière du jour",
      "confidence": "0.8714210391044617"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2ca4618843c4b8f92ac45ff86fa34d0",
      "value": "matin",
      "confidence": "0.8713364601135254"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a68923d1693d40e2864a47a6eb168f4a",
      "value": "crépuscule",
      "confidence": "0.8668621182441711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e68472bece343b5bd81c1c4569435f9",
      "value": "coucher de soleil",
      "confidence": "0.8623436093330383"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15c756eed3334a53bca65a3791acd963",
      "value": "Dernières lueurs",
      "confidence": "0.8605455160140991"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfd31213fc694ffaa84d1a8250ea1cf6",
      "value": "soirée",
      "confidence": "0.8602145910263062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5073d5900b6749519b30af929a738eb3",
      "value": "nature",
      "confidence": "0.7744302749633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/81322f670cb54d9aa6037144fb9ad57e",
      "value": "soleil",
      "confidence": "0.7699254751205444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4c8d72d15df481da72844b4be9ca0c4",
      "value": "sol",
      "confidence": "0.6108866333961487"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Last walk on Nopharat Thara Beach&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Dernière balade sur Nopharat Thara Beach&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a serene sunset at Nopharat Thara Beach in Thailand. The sun is setting behind a line of trees, casting a warm golden glow across the sky and reflecting on the calm waters. Two people are seen walking along the beach, adding a sense of scale and tranquility to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un magnifique coucher de soleil à la plage de Nopharat Thara en Thaïlande. Deux personnes marchent sur le rivage, créant des silhouettes contre la lumière dorée du soleil. Le ciel est partiellement nuageux, et les rayons du soleil se reflètent sur l'eau calme, créant une atmosphère paisible et sereine. En arrière-plan, une ligne d'arbres se dresse à l'horizon."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #NopharatTharaBeach #nature #reflection #serene #travel #scenic #wanderlust]]></Value>
      <Value Culture="fr"><![CDATA[#coucherdesoleil #plage #Thaïlande #NopharatThara #nature #paysage #mer]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "ed05a798-a411-4492-a881-5032b4df4a6d",
    "mediaKey": "57d9c01b-02b5-4372-9407-cd1283c04fd5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un coucher de soleil à Nopharat Thara Beach, où les silhouettes se dessinent contre une lumière dorée.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un coucher de soleil à Nopharat Thara Beach, où les silhouettes se dessinent contre une lumière dorée.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Last Walk on Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Dernière Balade sur Nopharat Thara Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/4-nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/4-nopharat-thara-beach-thailande-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Thailand",
  "Nopharat Thara Beach",
  "nature",
  "reflection",
  "trees",
  "water",
  "serene",
  "people"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "coucher de soleil",
  "plage",
  "Thaïlande",
  "Nopharat Thara",
  "silhouettes",
  "nature",
  "paysage",
  "mer"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un coucher de soleil à Nopharat Thara Beach, où les silhouettes se dessinent contre une lumière dorée.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Last Walk on Nopharat Thara Beach]]></Value>
      <Value Culture="fr"><![CDATA[Dernière Balade sur Nopharat Thara Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>