<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6f69863-e27f-428c-a3d2-082f27da202b" Alias="Northern Thailand" Level="6">
  <Info>
    <Parent Key="1d18f52c-453f-4598-a5f6-1a341276ed1d">Carousel 1st Line</Parent>
    <Path>/Crolow/Data/Cards/HomePage/Carousel1stLine/NorthernThailand</Path>
    <Trashed>false</Trashed>
    <ContentType>basicCard</ContentType>
    <CreateDate>2024-03-11T18:10:33</CreateDate>
    <NodeName Default="Northern Thailand">
      <Name Culture="en">Northern Thailand</Name>
      <Name Culture="fr">Le nord de la Thaïlande</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Rural life, history, activities. The road to the North is full of discoveries</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La vie rurale, l'histoire, les activités. La route vers le Nord est pleine de découvertes</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </body>
    <image>
      <Value Culture="en"><![CDATA[[
  {
    "key": "93fefaef-89ba-472d-95f7-9d6bb2566282",
    "mediaKey": "4409a613-ca66-4c85-8461-773baf5b1ad4"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "93fefaef-89ba-472d-95f7-9d6bb2566282",
    "mediaKey": "4409a613-ca66-4c85-8461-773baf5b1ad4"
  }
]]]></Value>
    </image>
    <links>
      <Value Culture="en"><![CDATA[[
  {
    "name": "D'Ayutthaya à Ban Rak Thai",
    "udi": "umb://document/ee2ff54ffe62481d8d17f8adbe644819"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "name": "D'Ayutthaya à Ban Rak Thai",
    "udi": "umb://document/ee2ff54ffe62481d8d17f8adbe644819"
  }
]]]></Value>
    </links>
    <subtitle>
      <Value Culture="en"><![CDATA[Rural life, history, activities. The road to the North is full of discoveries]]></Value>
      <Value Culture="fr"><![CDATA[La vie rurale, l'histoire, les activités. La route vers le Nord est pleine de découvertes]]></Value>
    </subtitle>
    <title>
      <Value Culture="en"><![CDATA[From Ayutthaya to Ban Rak Thai]]></Value>
      <Value Culture="fr"><![CDATA[D'ayutthaya à Ban Rak Thai]]></Value>
    </title>
  </Properties>
</Content>