<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdabb4aa-6f3d-4a20-98ff-45d81075d4c7" Alias="Nos bracelets" Level="5">
  <Info>
    <Parent Key="2d59be34-cf88-441d-954a-4ed740dc1de6">bijoux</Parent>
    <Path>/Waaw/Accueil/Produits/bijoux/NosBracelets</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2025-08-21T14:48:00</CreateDate>
    <NodeName Default="Nos bracelets">
      <Name Culture="fr">Nos bracelets</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="3af73487-1617-4670-a0d2-d352791af8fa">ContentPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/29fc61dc378243429c8003cbb1ac911d"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/81acb9fe6d564d86aeb5786b70ef14a4"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/af64f140ec304ef5a69a23fb7e5f35b3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3ea901c9153a4747a743424d2fcaf3fe"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/dd83685b1ebd4c808b8b00dcf79419ae"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/3ea901c9153a4747a743424d2fcaf3fe",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "b42649bc-b4aa-4e34-8e33-ec94dd1275a7",
      "udi": "umb://element/29fc61dc378243429c8003cbb1ac911d",
      "template": "HeaderRollup",
      "customProperties": null,
      "customComponentDefinition": "umb://document/480ce40439e14a78a3d8e87105cdb9e5",
      "externalViewComponent": ""
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/81acb9fe6d564d86aeb5786b70ef14a4",
      "customComponentDefinition": "umb://document/dc319fd3f15d4b7a8d21099cee8cf84c"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/af64f140ec304ef5a69a23fb7e5f35b3",
      "customComponentDefinition": "umb://document/6d257caeec5843c6bcd9682a3a9475dd"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/dd83685b1ebd4c808b8b00dcf79419ae",
      "customComponentDefinition": "umb://document/8c0a654202d449a09420d1d4f9195f8a"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value Culture="fr"><![CDATA[]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "a383e3a8-fd36-4fcb-b144-9cee416c1575",
    "mediaKey": "0c14f3f1-bc50-46e2-bd24-714f57a5e563"
  }
]]]></Value>
    </image>
    <menuDisplayImage>
      <Value><![CDATA[[
  {
    "key": "400a1cee-4c4b-4e0c-b7fd-dee11212a3a7",
    "mediaKey": "0c14f3f1-bc50-46e2-bd24-714f57a5e563"
  }
]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="fr"><![CDATA[]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>