<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a7f3856-022d-43cc-82db-1f368ca3bdc2" Alias="On oublie pas derrière les oreilles!" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/OnOubliePasDerriereLesOreilles</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="On oublie pas derrière les oreilles!">
      <Name Culture="en">Don't forget behind the ears!</Name>
      <Name Culture="fr">On oublie pas derrière les oreilles!</Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/16b997e0dacd4887959c9c1254faca39"
      },
      {
        "contentUdi": "umb://element/76cd58aa008c469ab4e32ea9cd9401e4"
      },
      {
        "contentUdi": "umb://element/7f861eed885e4b0c92505c199d576aab"
      },
      {
        "contentUdi": "umb://element/18669321596347598d5ef19aa9231800"
      },
      {
        "contentUdi": "umb://element/d70b4899d8744fe38bb82d1661a82578"
      },
      {
        "contentUdi": "umb://element/1543a38eca9e43d7a03261dfe5b4536b"
      },
      {
        "contentUdi": "umb://element/7895507c7c3b466f80148015da1f3e51"
      },
      {
        "contentUdi": "umb://element/d92d1127c1f94112a1b69f9fa682bec5"
      },
      {
        "contentUdi": "umb://element/df937c0364a148dc94a2b1543e68d71b"
      },
      {
        "contentUdi": "umb://element/85c14dfca5434a5290e52a53c3e179da"
      },
      {
        "contentUdi": "umb://element/833bc777e5534b39956f349f6a0625f0"
      },
      {
        "contentUdi": "umb://element/cc6a581084d8449f9f4448a083ef7c30"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16b997e0dacd4887959c9c1254faca39",
      "value": "plein air",
      "confidence": "0.993617057800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/76cd58aa008c469ab4e32ea9cd9401e4",
      "value": "arbre",
      "confidence": "0.9904379844665527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f861eed885e4b0c92505c199d576aab",
      "value": "eau",
      "confidence": "0.9644916653633118"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/18669321596347598d5ef19aa9231800",
      "value": "éléphant",
      "confidence": "0.9575397372245789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d70b4899d8744fe38bb82d1661a82578",
      "value": "Cornac",
      "confidence": "0.9105319976806641"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1543a38eca9e43d7a03261dfe5b4536b",
      "value": "Éléphants et mammouths",
      "confidence": "0.9010362029075623"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7895507c7c3b466f80148015da1f3e51",
      "value": "Éléphant indien",
      "confidence": "0.8981569409370422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d92d1127c1f94112a1b69f9fa682bec5",
      "value": "éléphant d’Asie",
      "confidence": "0.8892978429794312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df937c0364a148dc94a2b1543e68d71b",
      "value": "jungle",
      "confidence": "0.8565562963485718"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85c14dfca5434a5290e52a53c3e179da",
      "value": "rivière",
      "confidence": "0.8354192972183228"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/833bc777e5534b39956f349f6a0625f0",
      "value": "équitation",
      "confidence": "0.8139356970787048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc6a581084d8449f9f4448a083ef7c30",
      "value": "personne",
      "confidence": "0.6850336790084839"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/07729186cf5541c2ae052bed79121b52"
      },
      {
        "contentUdi": "umb://element/be3d602795744a2bb4305dcf2a7c004f"
      },
      {
        "contentUdi": "umb://element/f59876f2fb414290a8df266bc1d37637"
      },
      {
        "contentUdi": "umb://element/6d64026fe8f44218bb07ce4caf22dfac"
      },
      {
        "contentUdi": "umb://element/c9b5fb9ecb9249a486a610ba747b6916"
      },
      {
        "contentUdi": "umb://element/0daf92861cd74ab6a26ed74166ae537a"
      },
      {
        "contentUdi": "umb://element/3733726ed86544ea9f776804c33b1c26"
      },
      {
        "contentUdi": "umb://element/7ca128327e384918b474667b7c488e50"
      },
      {
        "contentUdi": "umb://element/a58bbcf7821a41dfa1e28b04abef464b"
      },
      {
        "contentUdi": "umb://element/e41ec68849e34eb28bbcb5a586578a9d"
      },
      {
        "contentUdi": "umb://element/7dad4f404d9547d9b4f78255a6cb618a"
      },
      {
        "contentUdi": "umb://element/e2f0a3bfa0c14fec8f7ec22efed055e8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07729186cf5541c2ae052bed79121b52",
      "value": "plein air",
      "confidence": "0.993617057800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be3d602795744a2bb4305dcf2a7c004f",
      "value": "arbre",
      "confidence": "0.9904379844665527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f59876f2fb414290a8df266bc1d37637",
      "value": "eau",
      "confidence": "0.9644916653633118"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d64026fe8f44218bb07ce4caf22dfac",
      "value": "éléphant",
      "confidence": "0.9575397372245789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9b5fb9ecb9249a486a610ba747b6916",
      "value": "Cornac",
      "confidence": "0.9105319976806641"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0daf92861cd74ab6a26ed74166ae537a",
      "value": "Éléphants et mammouths",
      "confidence": "0.9010362029075623"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3733726ed86544ea9f776804c33b1c26",
      "value": "Éléphant indien",
      "confidence": "0.8981569409370422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ca128327e384918b474667b7c488e50",
      "value": "éléphant d’Asie",
      "confidence": "0.8892978429794312"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a58bbcf7821a41dfa1e28b04abef464b",
      "value": "jungle",
      "confidence": "0.8565562963485718"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e41ec68849e34eb28bbcb5a586578a9d",
      "value": "rivière",
      "confidence": "0.8354192972183228"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7dad4f404d9547d9b4f78255a6cb618a",
      "value": "équitation",
      "confidence": "0.8139356970787048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2f0a3bfa0c14fec8f7ec22efed055e8",
      "value": "personne",
      "confidence": "0.6850336790084839"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A special moment between a mahout and his elephant: the bath</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Moment privilégie entre un cornac et son éléphant : la baignade</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an elephant with a person sitting on its back, crossing a shallow river. The scene takes place in a lush natural environment, with trees and dense vegetation in the background. The person appears to be guiding the elephant through the water. The location is Chiang Mai, Thailand."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un éléphant avec une personne assise sur son dos, traversant une rivière peu profonde. La scène se déroule dans un environnement naturel luxuriant, avec des arbres et de la végétation dense en arrière-plan. La personne semble guider l'éléphant à travers l'eau. L'emplacement est Chiang Mai, Thaïlande."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#elephant #nature #Thailand #ChiangMai #river #forest]]></Value>
      <Value Culture="fr"><![CDATA[#éléphant #nature #Thaïlande #ChiangMai #aventure #voyage #faune]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d4aee8b2-473a-4fa2-9405-7feec7501503",
    "mediaKey": "e1045bbb-47b7-43dc-9453-a131586de870"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un moment de complicité entre un cornac et son éléphant dans les eaux de Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un moment de complicité entre un cornac et son éléphant dans les eaux de Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Don't forget behind the ears!]]></Value>
      <Value Culture="fr"><![CDATA[Un Bain Partagé en Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/dont-forget-behind-the-ears-crolow-pix.htm]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/dont-forget-behind-the-ears-crolow-pix.htm]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "elephant",
  "river",
  "nature",
  "Thailand",
  "Chiang Mai",
  "vegetation",
  "person",
  "animal"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "éléphant",
  "rivière",
  "nature",
  "Thaïlande",
  "Chiang Mai",
  "végétation",
  "personne",
  "animal"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un moment de complicité entre un cornac et son éléphant dans les eaux de Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Don't forget behind the ears!]]></Value>
      <Value Culture="fr"><![CDATA[Un Bain Partagé en Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>