<?xml version="1.0" encoding="utf-8"?>
<Content Key="94f3bc50-68a3-4e38-b2bb-783f1c9c3014" Alias="Oreiller" Level="4">
  <Info>
    <Parent Key="a7f86834-789d-423a-bacb-568c6115a2c0">Products</Parent>
    <Path>/Crolow/Data/Products/Oreiller</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-29T18:35:07</CreateDate>
    <NodeName Default="Oreiller">
      <Name Culture="en">Pillow</Name>
      <Name Culture="fr">Oreiller</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Our cushions are made from 100% spun polyester poplin fabric and add a touch of elegance to any room. The pillows are available in sizes ranging from 14\" x 14\" to 26\" x 26\". Each pillow is printed on both sides (same image) and includes a concealed zipper and a removable insert (if selected) for easy cleaning.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Nos coussins sont fabriqués à partir de tissu popeline 100 % polyester filé et ajoutent une touche d'élégance à n'importe quelle pièce. Les oreillers sont disponibles dans des tailles allant de 14\" x 14\" à 26\" x 26\". Chaque oreiller est imprimé des deux côtés (même image) et comprend une fermeture éclair dissimulée et un insert amovible (si sélectionné) pour un nettoyage facile.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[throw-pillow]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[25]]></Value>
    </price>
    <productId>
      <Value><![CDATA[T-PILLOW]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Oreiller]]></Value>
      <Value Culture="fr"><![CDATA[Oreiller]]></Value>
    </productName>
  </Properties>
</Content>