<?xml version="1.0" encoding="utf-8"?>
<Content Key="c40945f8-9346-4f35-9124-03fbaffd9834" Alias="Page elements" Level="4">
  <Info>
    <Parent Key="cb4120a1-dc64-400c-9326-49696ee54ad5">Custom components</Parent>
    <Path>/Waaw/Data/CustomComponents/PageElements</Path>
    <Trashed>false</Trashed>
    <ContentType>customComponentsFolder</ContentType>
    <CreateDate>2025-08-24T13:31:19</CreateDate>
    <NodeName Default="Page elements" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>