<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d42f65a-9940-4082-a944-9e91e1614a2d" Alias="Palette de couleuvres" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PaletteDeCouleuvres</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Palette de couleuvres">
      <Name Culture="en">Snake Palette</Name>
      <Name Culture="fr">Palette de couleuvres</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9d09127ec75c43aaba94f2366c05eb8e"
      },
      {
        "contentUdi": "umb://element/030d59e3b77d4edaa94992a9e9c23bfc"
      },
      {
        "contentUdi": "umb://element/b4f248b976db4dd99b0594d0e3eba4a8"
      },
      {
        "contentUdi": "umb://element/e69f3db7a3b34421823bc25738cdfba4"
      },
      {
        "contentUdi": "umb://element/ba38f4e7b66e49beaa0f36e0bbb6bbbd"
      },
      {
        "contentUdi": "umb://element/484c799e7c52468fbbee47da418341f6"
      },
      {
        "contentUdi": "umb://element/acfe66c97fd94e1eaca6c49be27eafb1"
      },
      {
        "contentUdi": "umb://element/b8a0c28fd4354da1be11c0e4534fc830"
      },
      {
        "contentUdi": "umb://element/ac45837231644ed597187f8b7ed45612"
      },
      {
        "contentUdi": "umb://element/b76cf30d3c4549c7a74b5e38cef45f61"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d09127ec75c43aaba94f2366c05eb8e",
      "value": "animal",
      "confidence": "0.9999145269393921"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/030d59e3b77d4edaa94992a9e9c23bfc",
      "value": "mammifère",
      "confidence": "0.9997323751449585"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4f248b976db4dd99b0594d0e3eba4a8",
      "value": "reptile",
      "confidence": "0.9974254965782166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e69f3db7a3b34421823bc25738cdfba4",
      "value": "serpent",
      "confidence": "0.9970028400421143"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba38f4e7b66e49beaa0f36e0bbb6bbbd",
      "value": "plein air",
      "confidence": "0.9699086546897888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/484c799e7c52468fbbee47da418341f6",
      "value": "arbre",
      "confidence": "0.9623860120773315"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/acfe66c97fd94e1eaca6c49be27eafb1",
      "value": "Reptile à écailles",
      "confidence": "0.919570803642273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8a0c28fd4354da1be11c0e4534fc830",
      "value": "Elapidae",
      "confidence": "0.8558655381202698"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac45837231644ed597187f8b7ed45612",
      "value": "Couleuvre à collier",
      "confidence": "0.8523176908493042"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b76cf30d3c4549c7a74b5e38cef45f61",
      "value": "plante",
      "confidence": "0.843609631061554"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d8546179c7d4da9b20b68fe419cc972"
      },
      {
        "contentUdi": "umb://element/6e547810b3c747589b13266bbd62c101"
      },
      {
        "contentUdi": "umb://element/74d057b539b5437bac451eb520a2f193"
      },
      {
        "contentUdi": "umb://element/94501c6843ca4027b4fab5d98d64a63b"
      },
      {
        "contentUdi": "umb://element/b5a309c99e824cbf9395f566fde41270"
      },
      {
        "contentUdi": "umb://element/cc19b9dc1c4f45c18e7d07698cb922d7"
      },
      {
        "contentUdi": "umb://element/4a7ac9930916409ca8d65efbde931431"
      },
      {
        "contentUdi": "umb://element/0d13afda9e3645e48dbebd6173d25c87"
      },
      {
        "contentUdi": "umb://element/7ca55c7778144837a338484407311f25"
      },
      {
        "contentUdi": "umb://element/02c67a8bedeb40c4a55b86d88e32c506"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d8546179c7d4da9b20b68fe419cc972",
      "value": "animal",
      "confidence": "0.9999145269393921"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e547810b3c747589b13266bbd62c101",
      "value": "mammifère",
      "confidence": "0.9997323751449585"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74d057b539b5437bac451eb520a2f193",
      "value": "reptile",
      "confidence": "0.9974254965782166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94501c6843ca4027b4fab5d98d64a63b",
      "value": "serpent",
      "confidence": "0.9970028400421143"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5a309c99e824cbf9395f566fde41270",
      "value": "plein air",
      "confidence": "0.9699086546897888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc19b9dc1c4f45c18e7d07698cb922d7",
      "value": "arbre",
      "confidence": "0.9623860120773315"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4a7ac9930916409ca8d65efbde931431",
      "value": "Reptile à écailles",
      "confidence": "0.919570803642273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d13afda9e3645e48dbebd6173d25c87",
      "value": "Elapidae",
      "confidence": "0.8558655381202698"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ca55c7778144837a338484407311f25",
      "value": "Couleuvre à collier",
      "confidence": "0.8523176908493042"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/02c67a8bedeb40c4a55b86d88e32c506",
      "value": "plante",
      "confidence": "0.843609631061554"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A lovely nest of snakes</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un joli nid de serpents</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a black and purple snake coiled around the branches of a tree in Chiang Mai, Thailand. The snake is well camouflaged among the green leaves of the tree."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un serpent noir et violet enroulé autour des branches d'un arbre à Chiang Mai, Thaïlande. Le serpent est bien camouflé parmi les feuilles vertes de l'arbre."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#snake #wildlife #nature #ChiangMai #Thailand #greenery]]></Value>
      <Value Culture="fr"><![CDATA[#serpent #nature #Thaïlande #ChiangMai #faune #animaux]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c242a750-2bb2-470f-8e37-bcc4f0b48927",
    "mediaKey": "6681f98d-dddd-40dc-b2a9-486bbf3ca02a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le camouflage impressionnant d'un serpent noir et violet parmi les feuilles vertes d'un arbre en Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le camouflage impressionnant d'un serpent noir et violet parmi les feuilles vertes d'un arbre en Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Snake Palette in Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Un Serpent Enveloppé dans la Nature de Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bunch-of-snakes-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bunch-of-snakes-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "snake",
  "tree",
  "leaves",
  "nature",
  "Thailand",
  "Chiang Mai"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "serpent",
  "arbre",
  "feuilles",
  "nature",
  "Thaïlande",
  "Chiang Mai"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le camouflage impressionnant d'un serpent noir et violet parmi les feuilles vertes d'un arbre en Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Snake Palette in Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Un Serpent Enveloppé dans la Nature de Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>