<?xml version="1.0" encoding="utf-8"?>
<Content Key="96c72dd5-eafa-42f2-8083-ac0bc86582ec" Alias="Panorama du sommet du Dragon Crest" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/PanoramaDuSommetDuDragonCrest</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Panorama du sommet du Dragon Crest">
      <Name Culture="en">Dragon Crest Summit Panorama</Name>
      <Name Culture="fr">Panorama du sommet du Dragon Crest</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5688074270b4bc68e121805cffbb9ab"
      },
      {
        "contentUdi": "umb://element/be224b9c62b44a05bfa00b6c5bb2ffbb"
      },
      {
        "contentUdi": "umb://element/adeb3aca539945d8b6e00a1dbc920261"
      },
      {
        "contentUdi": "umb://element/facf093ce7d041b09f8cb490d029d328"
      },
      {
        "contentUdi": "umb://element/7bc2b947da0e42ea96fa41b1fcb98bab"
      },
      {
        "contentUdi": "umb://element/0e3021ca66864bad91a5a6b58b694a21"
      },
      {
        "contentUdi": "umb://element/f3ee6bdcf4f54214aa667e0afe1c6e7d"
      },
      {
        "contentUdi": "umb://element/6dc68b1895ee4d34942fe54c798d9ea0"
      },
      {
        "contentUdi": "umb://element/72e1793510864c7ab8472cdf663abb60"
      },
      {
        "contentUdi": "umb://element/2cc5607760b64035b1d2fec78813a31d"
      },
      {
        "contentUdi": "umb://element/8ea061f14b4f4fd5844f89c5123a085f"
      },
      {
        "contentUdi": "umb://element/96338446bba54cec8313a0d8bed71e14"
      },
      {
        "contentUdi": "umb://element/77bc3541c4ec4e68bcaa95febf09bc80"
      },
      {
        "contentUdi": "umb://element/cb26b086082742dd9d427ca866e4c832"
      },
      {
        "contentUdi": "umb://element/ee7f49379e5c43e1a028512ecce339da"
      },
      {
        "contentUdi": "umb://element/ddfb9167f9914b5dab95239a65061874"
      },
      {
        "contentUdi": "umb://element/16e1c86871024fb3a3a7f8c1359496c9"
      },
      {
        "contentUdi": "umb://element/c4477e7f24774cb688d16db96b302299"
      },
      {
        "contentUdi": "umb://element/54d92e3964a64a83bd969c2472055391"
      },
      {
        "contentUdi": "umb://element/f8831697b7a64237b10adef49f358f02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f5688074270b4bc68e121805cffbb9ab",
      "value": "paysage",
      "confidence": "0.999701738357544"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be224b9c62b44a05bfa00b6c5bb2ffbb",
      "value": "plein air",
      "confidence": "0.9961250424385071"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adeb3aca539945d8b6e00a1dbc920261",
      "value": "nuage",
      "confidence": "0.9914254546165466"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/facf093ce7d041b09f8cb490d029d328",
      "value": "nature",
      "confidence": "0.9738288521766663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bc2b947da0e42ea96fa41b1fcb98bab",
      "value": "herbe",
      "confidence": "0.972240686416626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e3021ca66864bad91a5a6b58b694a21",
      "value": "ciel",
      "confidence": "0.9600261449813843"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3ee6bdcf4f54214aa667e0afe1c6e7d",
      "value": "région montagneuse",
      "confidence": "0.9491266012191772"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6dc68b1895ee4d34942fe54c798d9ea0",
      "value": "plante",
      "confidence": "0.9167919754981995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72e1793510864c7ab8472cdf663abb60",
      "value": "Chaîne de montagnes",
      "confidence": "0.9127897024154663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cc5607760b64035b1d2fec78813a31d",
      "value": "Colline",
      "confidence": "0.8956139087677002"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ea061f14b4f4fd5844f89c5123a085f",
      "value": "Station de montagne",
      "confidence": "0.88697350025177"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96338446bba54cec8313a0d8bed71e14",
      "value": "région sauvage",
      "confidence": "0.8847514986991882"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77bc3541c4ec4e68bcaa95febf09bc80",
      "value": "Massif",
      "confidence": "0.881501317024231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb26b086082742dd9d427ca866e4c832",
      "value": "crête",
      "confidence": "0.863558292388916"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee7f49379e5c43e1a028512ecce339da",
      "value": "Parc national",
      "confidence": "0.8590747117996216"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ddfb9167f9914b5dab95239a65061874",
      "value": "arbre",
      "confidence": "0.8590619564056396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16e1c86871024fb3a3a7f8c1359496c9",
      "value": "Paysage naturel",
      "confidence": "0.8497031927108765"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4477e7f24774cb688d16db96b302299",
      "value": "terrain",
      "confidence": "0.7268291711807251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54d92e3964a64a83bd969c2472055391",
      "value": "montagne",
      "confidence": "0.5874823331832886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8831697b7a64237b10adef49f358f02",
      "value": "colline",
      "confidence": "0.5696060061454773"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b015a1c6158e4e6da3da3d72ed7c30e2"
      },
      {
        "contentUdi": "umb://element/0afe32d8fe9e48cf9736f04ce3babecf"
      },
      {
        "contentUdi": "umb://element/4660ea8d45334e6eae5e621d89fbb5d4"
      },
      {
        "contentUdi": "umb://element/edad944c84e746f28e869fe937b97280"
      },
      {
        "contentUdi": "umb://element/80398c1c58144fea96ecc7af1d9ad135"
      },
      {
        "contentUdi": "umb://element/4014d5b33fc84e78a63f8d7e2433a0e9"
      },
      {
        "contentUdi": "umb://element/765772fc05b7478bb1df51d9b140a839"
      },
      {
        "contentUdi": "umb://element/3ff58b6c543a40e28b1e7fffcf8ce7aa"
      },
      {
        "contentUdi": "umb://element/3b19a14033414b51bfa438d2bb87d5d6"
      },
      {
        "contentUdi": "umb://element/c4e624c2f3a1494994cae0e6c1400349"
      },
      {
        "contentUdi": "umb://element/948ff118515a4bd4b973c074f898e94b"
      },
      {
        "contentUdi": "umb://element/eafb93691a5a49c29825915aee5f36b3"
      },
      {
        "contentUdi": "umb://element/de507a85ffb24729b34c31823841e626"
      },
      {
        "contentUdi": "umb://element/e31c470db0a84d0dbd067f6a0b31487f"
      },
      {
        "contentUdi": "umb://element/4a4149885f414af4881e48a39e0ee526"
      },
      {
        "contentUdi": "umb://element/d90c42c1b1be46459a18f11e0832a2ff"
      },
      {
        "contentUdi": "umb://element/33e73a0188214a06afd07e302293ef58"
      },
      {
        "contentUdi": "umb://element/8359f21623ce4f80b62a7ec2955c9cde"
      },
      {
        "contentUdi": "umb://element/9f573e78caf54c6884e0a44536e85c7b"
      },
      {
        "contentUdi": "umb://element/be5cd4f29e87468aa18b8eac6e3abe3d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b015a1c6158e4e6da3da3d72ed7c30e2",
      "value": "paysage",
      "confidence": "0.999701738357544"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0afe32d8fe9e48cf9736f04ce3babecf",
      "value": "plein air",
      "confidence": "0.9961250424385071"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4660ea8d45334e6eae5e621d89fbb5d4",
      "value": "nuage",
      "confidence": "0.9914254546165466"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/edad944c84e746f28e869fe937b97280",
      "value": "nature",
      "confidence": "0.9738288521766663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80398c1c58144fea96ecc7af1d9ad135",
      "value": "herbe",
      "confidence": "0.972240686416626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4014d5b33fc84e78a63f8d7e2433a0e9",
      "value": "ciel",
      "confidence": "0.9600261449813843"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/765772fc05b7478bb1df51d9b140a839",
      "value": "région montagneuse",
      "confidence": "0.9491266012191772"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ff58b6c543a40e28b1e7fffcf8ce7aa",
      "value": "plante",
      "confidence": "0.9167919754981995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b19a14033414b51bfa438d2bb87d5d6",
      "value": "Chaîne de montagnes",
      "confidence": "0.9127897024154663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4e624c2f3a1494994cae0e6c1400349",
      "value": "Colline",
      "confidence": "0.8956139087677002"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/948ff118515a4bd4b973c074f898e94b",
      "value": "Station de montagne",
      "confidence": "0.88697350025177"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eafb93691a5a49c29825915aee5f36b3",
      "value": "région sauvage",
      "confidence": "0.8847514986991882"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de507a85ffb24729b34c31823841e626",
      "value": "Massif",
      "confidence": "0.881501317024231"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e31c470db0a84d0dbd067f6a0b31487f",
      "value": "crête",
      "confidence": "0.863558292388916"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4a4149885f414af4881e48a39e0ee526",
      "value": "Parc national",
      "confidence": "0.8590747117996216"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d90c42c1b1be46459a18f11e0832a2ff",
      "value": "arbre",
      "confidence": "0.8590619564056396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33e73a0188214a06afd07e302293ef58",
      "value": "Paysage naturel",
      "confidence": "0.8497031927108765"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8359f21623ce4f80b62a7ec2955c9cde",
      "value": "terrain",
      "confidence": "0.7268291711807251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f573e78caf54c6884e0a44536e85c7b",
      "value": "montagne",
      "confidence": "0.5874823331832886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be5cd4f29e87468aa18b8eac6e3abe3d",
      "value": "colline",
      "confidence": "0.5696060061454773"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The magical view from the Dragon Crest Summit</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>La vue magique du sommet du Dragon Crest</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a vast, lush green landscape with dense forests and mountainous terrain under a partly cloudy sky. The mountains in the background are rugged and covered in greenery, creating a serene and natural atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage de montagnes verdoyantes sous un ciel partiellement nuageux. Les montagnes sont couvertes de végétation dense et la vallée en contrebas est également remplie de verdure. L'ensemble de la scène dégage une atmosphère paisible et naturelle."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#nature #landscape #mountains #forest #scenery #greenery #outdoors #wilderness]]></Value>
      <Value Culture="fr"><![CDATA[#montagnes #nature #paysage #verdure #végétation #ciel]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2e87a729-d16d-4dca-a802-838aab04d209",
    "mediaKey": "2b03c49e-3816-45b9-bb7b-928427d53a91"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la vue magique du sommet du Dragon Crest, où les montagnes verdoyantes rencontrent un ciel partiellement nuageux.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la vue magique du sommet du Dragon Crest, où les montagnes verdoyantes rencontrent un ciel partiellement nuageux.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Enchanting Panorama of Dragon Crest Summit]]></Value>
      <Value Culture="fr"><![CDATA[Panorama Époustouflant du Sommet Dragon Crest]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/panorama-view-from-the-top-of-dragon-crest-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/panorama-view-from-the-top-of-dragon-crest-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "landscape",
  "mountains",
  "forest",
  "nature",
  "scenery",
  "greenery",
  "sky",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "montagnes",
  "verdure",
  "nature",
  "paysage",
  "ciel",
  "végétation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la vue magique du sommet du Dragon Crest, où les montagnes verdoyantes rencontrent un ciel partiellement nuageux.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Enchanting Panorama of Dragon Crest Summit]]></Value>
      <Value Culture="fr"><![CDATA[Panorama Époustouflant du Sommet Dragon Crest]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>