<?xml version="1.0" encoding="utf-8"?>
<Content Key="5847ecd4-cf11-4b2d-909d-1c8b7232aed3" Alias="Panorama from the Heights of Pai #6" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/PanoramaFromTheHeightsOfPai6</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T16:53:36</CreateDate>
    <NodeName Default="Panorama from the Heights of Pai #6">
      <Name Culture="en">Panorama from the Heights of Pai #6</Name>
      <Name Culture="fr">Panorama du dessus des hauteurs de Pai #6</Name>
    </NodeName>
    <SortOrder>40</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1fa639ebc9364a1c9e8da055a33190a6"
      },
      {
        "contentUdi": "umb://element/9f8c72c86c8b4854b278f5221463cd5f"
      },
      {
        "contentUdi": "umb://element/b475ba8d5904465ebff554f27d024303"
      },
      {
        "contentUdi": "umb://element/6f90fdd0ab08428888ad3f4b613f5389"
      },
      {
        "contentUdi": "umb://element/7739e6c567cb4e0b9beccd2af84a0801"
      },
      {
        "contentUdi": "umb://element/5ae027925eae40d9abca63ab8fc5da91"
      },
      {
        "contentUdi": "umb://element/dc67891702f64525ba929b71ce0f0a7d"
      },
      {
        "contentUdi": "umb://element/337d981a201f4e9c816e9ccf9044d553"
      },
      {
        "contentUdi": "umb://element/ae108c2d4f8b486ab2d9102cd50e3a65"
      },
      {
        "contentUdi": "umb://element/7bc6295a5f6049719f626613e21dc026"
      },
      {
        "contentUdi": "umb://element/9d50b656de0f4910b6a4e6749372d6a6"
      },
      {
        "contentUdi": "umb://element/af15a354e23e40baaf8840d0043c4e8c"
      },
      {
        "contentUdi": "umb://element/a116dc2525e946f6b4aac20c3ffe90a7"
      },
      {
        "contentUdi": "umb://element/9c1dd2ad265a4d29ba97873884c8007b"
      },
      {
        "contentUdi": "umb://element/629b17e604cb41519f9604e9376602f7"
      },
      {
        "contentUdi": "umb://element/58e90ea356024b8f9025abdd50ea07eb"
      },
      {
        "contentUdi": "umb://element/15c8fc7034b14a6db0a2476cfb299f93"
      },
      {
        "contentUdi": "umb://element/835bde5a9f2548fc93104364ca202cd1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fa639ebc9364a1c9e8da055a33190a6",
      "value": "plein air",
      "confidence": "0.9974752068519592"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f8c72c86c8b4854b278f5221463cd5f",
      "value": "herbe",
      "confidence": "0.9853308200836182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b475ba8d5904465ebff554f27d024303",
      "value": "plante",
      "confidence": "0.9846846461296082"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f90fdd0ab08428888ad3f4b613f5389",
      "value": "nature",
      "confidence": "0.9824219942092896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7739e6c567cb4e0b9beccd2af84a0801",
      "value": "paysage",
      "confidence": "0.9813253879547119"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ae027925eae40d9abca63ab8fc5da91",
      "value": "nuage",
      "confidence": "0.9767650365829468"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc67891702f64525ba929b71ce0f0a7d",
      "value": "ciel",
      "confidence": "0.970323383808136"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/337d981a201f4e9c816e9ccf9044d553",
      "value": "montagne",
      "confidence": "0.9421643018722534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae108c2d4f8b486ab2d9102cd50e3a65",
      "value": "matin",
      "confidence": "0.9007865190505981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bc6295a5f6049719f626613e21dc026",
      "value": "lumière du jour",
      "confidence": "0.8946372270584106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d50b656de0f4910b6a4e6749372d6a6",
      "value": "coucher de soleil",
      "confidence": "0.8823612928390503"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/af15a354e23e40baaf8840d0043c4e8c",
      "value": "soleil",
      "confidence": "0.8689966201782227"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a116dc2525e946f6b4aac20c3ffe90a7",
      "value": "écorégion",
      "confidence": "0.8560981154441833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9c1dd2ad265a4d29ba97873884c8007b",
      "value": "lever de soleil",
      "confidence": "0.8558404445648193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/629b17e604cb41519f9604e9376602f7",
      "value": "région sauvage",
      "confidence": "0.8493616580963135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58e90ea356024b8f9025abdd50ea07eb",
      "value": "horizon",
      "confidence": "0.8459658622741699"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15c8fc7034b14a6db0a2476cfb299f93",
      "value": "terrain",
      "confidence": "0.8238059282302856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/835bde5a9f2548fc93104364ca202cd1",
      "value": "automne",
      "confidence": "0.459163099527359"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1fa639ebc9364a1c9e8da055a33190a6"
      },
      {
        "contentUdi": "umb://element/9f8c72c86c8b4854b278f5221463cd5f"
      },
      {
        "contentUdi": "umb://element/b475ba8d5904465ebff554f27d024303"
      },
      {
        "contentUdi": "umb://element/6f90fdd0ab08428888ad3f4b613f5389"
      },
      {
        "contentUdi": "umb://element/7739e6c567cb4e0b9beccd2af84a0801"
      },
      {
        "contentUdi": "umb://element/5ae027925eae40d9abca63ab8fc5da91"
      },
      {
        "contentUdi": "umb://element/dc67891702f64525ba929b71ce0f0a7d"
      },
      {
        "contentUdi": "umb://element/337d981a201f4e9c816e9ccf9044d553"
      },
      {
        "contentUdi": "umb://element/ae108c2d4f8b486ab2d9102cd50e3a65"
      },
      {
        "contentUdi": "umb://element/7bc6295a5f6049719f626613e21dc026"
      },
      {
        "contentUdi": "umb://element/9d50b656de0f4910b6a4e6749372d6a6"
      },
      {
        "contentUdi": "umb://element/af15a354e23e40baaf8840d0043c4e8c"
      },
      {
        "contentUdi": "umb://element/a116dc2525e946f6b4aac20c3ffe90a7"
      },
      {
        "contentUdi": "umb://element/9c1dd2ad265a4d29ba97873884c8007b"
      },
      {
        "contentUdi": "umb://element/629b17e604cb41519f9604e9376602f7"
      },
      {
        "contentUdi": "umb://element/58e90ea356024b8f9025abdd50ea07eb"
      },
      {
        "contentUdi": "umb://element/15c8fc7034b14a6db0a2476cfb299f93"
      },
      {
        "contentUdi": "umb://element/835bde5a9f2548fc93104364ca202cd1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fa639ebc9364a1c9e8da055a33190a6",
      "value": "plein air",
      "confidence": "0.9974752068519592"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f8c72c86c8b4854b278f5221463cd5f",
      "value": "herbe",
      "confidence": "0.9853308200836182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b475ba8d5904465ebff554f27d024303",
      "value": "plante",
      "confidence": "0.9846846461296082"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f90fdd0ab08428888ad3f4b613f5389",
      "value": "nature",
      "confidence": "0.9824219942092896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7739e6c567cb4e0b9beccd2af84a0801",
      "value": "paysage",
      "confidence": "0.9813253879547119"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ae027925eae40d9abca63ab8fc5da91",
      "value": "nuage",
      "confidence": "0.9767650365829468"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc67891702f64525ba929b71ce0f0a7d",
      "value": "ciel",
      "confidence": "0.970323383808136"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/337d981a201f4e9c816e9ccf9044d553",
      "value": "montagne",
      "confidence": "0.9421643018722534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae108c2d4f8b486ab2d9102cd50e3a65",
      "value": "matin",
      "confidence": "0.9007865190505981"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bc6295a5f6049719f626613e21dc026",
      "value": "lumière du jour",
      "confidence": "0.8946372270584106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d50b656de0f4910b6a4e6749372d6a6",
      "value": "coucher de soleil",
      "confidence": "0.8823612928390503"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/af15a354e23e40baaf8840d0043c4e8c",
      "value": "soleil",
      "confidence": "0.8689966201782227"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a116dc2525e946f6b4aac20c3ffe90a7",
      "value": "écorégion",
      "confidence": "0.8560981154441833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9c1dd2ad265a4d29ba97873884c8007b",
      "value": "lever de soleil",
      "confidence": "0.8558404445648193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/629b17e604cb41519f9604e9376602f7",
      "value": "région sauvage",
      "confidence": "0.8493616580963135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/58e90ea356024b8f9025abdd50ea07eb",
      "value": "horizon",
      "confidence": "0.8459658622741699"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15c8fc7034b14a6db0a2476cfb299f93",
      "value": "terrain",
      "confidence": "0.8238059282302856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/835bde5a9f2548fc93104364ca202cd1",
      "value": "automne",
      "confidence": "0.459163099527359"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panorama from the Heights of Pai #6</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama du dessus des hauteurs de Pai #6</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image captures a magnificent sunset over the mountains of Pai, Thailand. The sun slowly descends behind the hills, illuminating the sky with golden and orange hues. In the foreground, tall grasses and wild plants are bathed in the soft twilight light. The mountains and dense vegetation stretch as far as the eye can see, creating a peaceful and serene scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image capture un magnifique coucher de soleil sur les montagnes de Pai, en Thaïlande. Le soleil descend lentement derrière les collines, illuminant le ciel de teintes dorées et orangées. Au premier plan, des herbes hautes et des plantes sauvages sont baignées par la lumière douce du crépuscule. Les montagnes et la végétation dense s'étendent à perte de vue, créant une scène paisible et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #mountains #landscape #Pai #Thailand #nature #scenery #goldenhour #vegetation]]></Value>
      <Value Culture="fr"><![CDATA[#coucherdesoleil #montagnes #nature #Thaïlande #paysage #herbes #crépuscule]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "8aa55732-4b42-4f52-a494-4e9614b97198",
    "mediaKey": "51893bf8-4985-49c0-8f40-52d602d783f6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil sur les montagnes de Pai, où le ciel se pare de teintes dorées et orangées.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Hauteurs de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Dazzling Sunset over the Heights of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Hauteurs de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/5-from-the-heights-of-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/5-from-the-heights-of-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "mountains",
  "nature",
  "Thailand",
  "landscape",
  "grasses",
  "twilight"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "coucher de soleil",
  "montagnes",
  "nature",
  "Thaïlande",
  "paysage",
  "herbes",
  "crépuscule"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil sur les montagnes de Pai, où le ciel se pare de teintes dorées et orangées.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Dazzling Sunset over the Heights of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Hauteurs de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>