<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a8a4a43-d2df-4061-a19b-d5a3f4cda208" Alias="Panorama du haut du Dragon Crest" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/PanoramaDuHautDuDragonCrest</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Panorama du haut du Dragon Crest">
      <Name Culture="en">Panorama from the Top of Dragon Crest</Name>
      <Name Culture="fr">Panorama du haut du Dragon Crest</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/38ec7b1ff50944fe8555c42b8ccb33c7"
      },
      {
        "contentUdi": "umb://element/89a51f4632d24be2bf826ec9e7a420b5"
      },
      {
        "contentUdi": "umb://element/271467446b8445fbb43317c37ed53378"
      },
      {
        "contentUdi": "umb://element/5d1461567ddc4b14b96e7523efa2df5f"
      },
      {
        "contentUdi": "umb://element/66acb6b871424104ac0e37981af3866b"
      },
      {
        "contentUdi": "umb://element/7ac99eed090a4b59a78a5872cf7b2626"
      },
      {
        "contentUdi": "umb://element/b518d452f7334dfcb3dc85c37887bd77"
      },
      {
        "contentUdi": "umb://element/68cc2fb038fa49d28995f85eded31fa8"
      },
      {
        "contentUdi": "umb://element/2ddf9c19433a44d6ad34ac1b4c025cd5"
      },
      {
        "contentUdi": "umb://element/e299f66cdd224e6d9761fb8de2d82290"
      },
      {
        "contentUdi": "umb://element/6f67ef657967490581eabef37c4fc2cd"
      },
      {
        "contentUdi": "umb://element/846bab145bb74f339ad4313c2aff3e2d"
      },
      {
        "contentUdi": "umb://element/871aa8edb195478184f5ed4d2dd08073"
      },
      {
        "contentUdi": "umb://element/6b3fd07395bd4492bcfad8a9f9650ee1"
      },
      {
        "contentUdi": "umb://element/07fcf03f7dc6420987b3798ff3c0ff2a"
      },
      {
        "contentUdi": "umb://element/c14782b3a66046309d20d00f5c523be6"
      },
      {
        "contentUdi": "umb://element/d9b875c6d6d346b08a57f7b34d9d0656"
      },
      {
        "contentUdi": "umb://element/b4ca1407aa964e5d9cb8a0d57094dc38"
      },
      {
        "contentUdi": "umb://element/20df21b8f6914aa59d35df545b9ffc8b"
      },
      {
        "contentUdi": "umb://element/a5f74329c25640afb7b355a7a53f55ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38ec7b1ff50944fe8555c42b8ccb33c7",
      "value": "paysage",
      "confidence": "0.9996888637542725"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89a51f4632d24be2bf826ec9e7a420b5",
      "value": "nuage",
      "confidence": "0.995710015296936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/271467446b8445fbb43317c37ed53378",
      "value": "plein air",
      "confidence": "0.9947636127471924"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d1461567ddc4b14b96e7523efa2df5f",
      "value": "montagne",
      "confidence": "0.9942870140075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66acb6b871424104ac0e37981af3866b",
      "value": "nature",
      "confidence": "0.9847407341003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ac99eed090a4b59a78a5872cf7b2626",
      "value": "ciel",
      "confidence": "0.9792872667312622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b518d452f7334dfcb3dc85c37887bd77",
      "value": "herbe",
      "confidence": "0.9713919162750244"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68cc2fb038fa49d28995f85eded31fa8",
      "value": "région montagneuse",
      "confidence": "0.9437533617019653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ddf9c19433a44d6ad34ac1b4c025cd5",
      "value": "Chaîne de montagnes",
      "confidence": "0.8996434211730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e299f66cdd224e6d9761fb8de2d82290",
      "value": "Colline",
      "confidence": "0.8968613743782043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f67ef657967490581eabef37c4fc2cd",
      "value": "Massif",
      "confidence": "0.873093843460083"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/846bab145bb74f339ad4313c2aff3e2d",
      "value": "Station de montagne",
      "confidence": "0.8730879426002502"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/871aa8edb195478184f5ed4d2dd08073",
      "value": "crête",
      "confidence": "0.8539989590644836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b3fd07395bd4492bcfad8a9f9650ee1",
      "value": "Parc national",
      "confidence": "0.8473827838897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07fcf03f7dc6420987b3798ff3c0ff2a",
      "value": "Terrain",
      "confidence": "0.8459087610244751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c14782b3a66046309d20d00f5c523be6",
      "value": "région sauvage",
      "confidence": "0.8420376181602478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9b875c6d6d346b08a57f7b34d9d0656",
      "value": "nuages",
      "confidence": "0.6507286429405212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4ca1407aa964e5d9cb8a0d57094dc38",
      "value": "terrain",
      "confidence": "0.5778389573097229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20df21b8f6914aa59d35df545b9ffc8b",
      "value": "colline",
      "confidence": "0.5632306337356567"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5f74329c25640afb7b355a7a53f55ac",
      "value": "lever de soleil",
      "confidence": "0.559296727180481"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/01139798805c4bdaa68352481c3e3cfd"
      },
      {
        "contentUdi": "umb://element/399d8666f2c9418dbbfac832581ae473"
      },
      {
        "contentUdi": "umb://element/6426c5dea26c46c79fe6cdb4333b409b"
      },
      {
        "contentUdi": "umb://element/e83a4b7a9b4e49ba8d668ce281bcc8c7"
      },
      {
        "contentUdi": "umb://element/4767476c610146488fedf72e0c2f715e"
      },
      {
        "contentUdi": "umb://element/fec40c13adb74cb98dd4652e662ffd29"
      },
      {
        "contentUdi": "umb://element/372a824805d74369a3654648b45de92a"
      },
      {
        "contentUdi": "umb://element/13b22a85ab8844cd9a34712d3c5e6981"
      },
      {
        "contentUdi": "umb://element/30502079372544ad822ca71d24eec6cb"
      },
      {
        "contentUdi": "umb://element/a15a55002776451fb649dad7bb4ee983"
      },
      {
        "contentUdi": "umb://element/9ea3126cf89c46d7b9d2b92705e26688"
      },
      {
        "contentUdi": "umb://element/4caacc40ac184be899631e0b98dd393f"
      },
      {
        "contentUdi": "umb://element/6b922a63e5b3441d8a9f9eea82e9419c"
      },
      {
        "contentUdi": "umb://element/ccc6449600804908b24e9cc9b21bcbf4"
      },
      {
        "contentUdi": "umb://element/3b4aa9e8a543482e9f4169380e23068f"
      },
      {
        "contentUdi": "umb://element/5c464efe63c34f0282a2af973462de2f"
      },
      {
        "contentUdi": "umb://element/c9879ed412e443b18e7ea4388a5b0e05"
      },
      {
        "contentUdi": "umb://element/09157ee5fd014532b2d67aa31578934d"
      },
      {
        "contentUdi": "umb://element/ed0f21252da742b8a7e1ff1a0c085d9d"
      },
      {
        "contentUdi": "umb://element/2331f0b5f94e4a078673fcfd33ad57b2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01139798805c4bdaa68352481c3e3cfd",
      "value": "paysage",
      "confidence": "0.9996888637542725"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/399d8666f2c9418dbbfac832581ae473",
      "value": "nuage",
      "confidence": "0.995710015296936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6426c5dea26c46c79fe6cdb4333b409b",
      "value": "plein air",
      "confidence": "0.9947636127471924"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e83a4b7a9b4e49ba8d668ce281bcc8c7",
      "value": "montagne",
      "confidence": "0.9942870140075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4767476c610146488fedf72e0c2f715e",
      "value": "nature",
      "confidence": "0.9847407341003418"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fec40c13adb74cb98dd4652e662ffd29",
      "value": "ciel",
      "confidence": "0.9792872667312622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/372a824805d74369a3654648b45de92a",
      "value": "herbe",
      "confidence": "0.9713919162750244"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13b22a85ab8844cd9a34712d3c5e6981",
      "value": "région montagneuse",
      "confidence": "0.9437533617019653"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/30502079372544ad822ca71d24eec6cb",
      "value": "Chaîne de montagnes",
      "confidence": "0.8996434211730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a15a55002776451fb649dad7bb4ee983",
      "value": "Colline",
      "confidence": "0.8968613743782043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ea3126cf89c46d7b9d2b92705e26688",
      "value": "Massif",
      "confidence": "0.873093843460083"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4caacc40ac184be899631e0b98dd393f",
      "value": "Station de montagne",
      "confidence": "0.8730879426002502"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b922a63e5b3441d8a9f9eea82e9419c",
      "value": "crête",
      "confidence": "0.8539989590644836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ccc6449600804908b24e9cc9b21bcbf4",
      "value": "Parc national",
      "confidence": "0.8473827838897705"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b4aa9e8a543482e9f4169380e23068f",
      "value": "Terrain",
      "confidence": "0.8459087610244751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c464efe63c34f0282a2af973462de2f",
      "value": "région sauvage",
      "confidence": "0.8420376181602478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9879ed412e443b18e7ea4388a5b0e05",
      "value": "nuages",
      "confidence": "0.6507286429405212"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09157ee5fd014532b2d67aa31578934d",
      "value": "terrain",
      "confidence": "0.5778389573097229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ed0f21252da742b8a7e1ff1a0c085d9d",
      "value": "colline",
      "confidence": "0.5632306337356567"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2331f0b5f94e4a078673fcfd33ad57b2",
      "value": "lever de soleil",
      "confidence": "0.559296727180481"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panorama from the Top of Dragon Crest</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama du haut de Dragon Crest</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image showcases a breathtaking panoramic view of Dragon Crest in Thailand. The landscape is dominated by lush green forests and rolling hills that stretch into the distance. Majestic limestone mountains rise dramatically from the ground, creating a stunning contrast against the sky. The sky is painted with soft, wispy clouds, and the golden hues of the setting or rising sun add a warm glow to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un paysage spectaculaire de Dragon Crest en Thaïlande. On y voit une vaste étendue de verdure avec des montagnes et des collines recouvertes de végétation dense. Le ciel est partiellement nuageux avec des nuances de bleu et de jaune, suggérant un lever ou un coucher de soleil. La vue panoramique offre une perspective impressionnante de la nature luxuriante et des formations rocheuses distinctives."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#DragonCrest #Thailand #Nature #Landscape #Mountains #Forest #Sunset #Sunrise #Travel #Adventure]]></Value>
      <Value Culture="fr"><![CDATA[#DragonCrest #Thaïlande #Nature #Paysage #Montagnes #CoucherDeSoleil #Aventure]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "10152389-549f-4328-b774-5841b9abde31",
    "mediaKey": "6809281f-62d9-4fad-9310-1c183dc34778"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Dragon Crest, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Dragon Crest, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté spectaculaire de Dragon Crest en Thaïlande, où montagnes verdoyantes et ciels colorés se rencontrent.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté spectaculaire de Dragon Crest en Thaïlande, où montagnes verdoyantes et ciels colorés se rencontrent.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Breathtaking View from the Summit of Dragon Crest]]></Value>
      <Value Culture="fr"><![CDATA[Vue Panoramique du Sommet de Dragon Crest]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-panorama-view-from-the-top-of-dragon-crest-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-panorama-view-from-the-top-of-dragon-crest-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Dragon Crest",
  "Thailand",
  "landscape",
  "nature",
  "mountains",
  "forest",
  "sunset",
  "sunrise",
  "sky",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "paysage",
  "montagnes",
  "verdure",
  "ciel",
  "nuages",
  "Thaïlande",
  "nature",
  "panorama"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté spectaculaire de Dragon Crest en Thaïlande, où montagnes verdoyantes et ciels colorés se rencontrent.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Breathtaking View from the Summit of Dragon Crest]]></Value>
      <Value Culture="fr"><![CDATA[Vue Panoramique du Sommet de Dragon Crest]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>