<?xml version="1.0" encoding="utf-8"?>
<Content Key="7816024b-5587-4219-8628-af1c7a0090e3" Alias="Panorama de Gjirokaster" Level="104">
  <Info>
    <Parent Key="23eeceed-1a67-4bf9-bf95-93e46f6687c5">Albanie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Albanie/PanoramaDeGjirokaster</Path>
    <Trashed Parent="23eeceed-1a67-4bf9-bf95-93e46f6687c5">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Panorama de Gjirokaster">
      <Name Culture="en">Panorama of Gjirokaster</Name>
      <Name Culture="fr">Panorama de Gjirokaster</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Gjirokaster, a village perched on the mountainside, with Ottoman architecture.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Gjirokaster, village perché à flanc de montagne, à l'architecture ottomane.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a panoramic view of Gjirokastër, a historic town located in Albania. The town is built on a hill and is dominated by an imposing castle at the top. Traditional stone houses are scattered on the slopes of the hill, surrounded by greenery. In the background, arid mountains rise under a bright blue sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue panoramique de Gjirokastër, une ville historique située en Albanie. La ville est construite sur une colline et est dominée par un château imposant au sommet. Les maisons traditionnelles en pierre sont dispersées sur les pentes de la colline, entourées de verdure. En arrière-plan, des montagnes arides se dressent sous un ciel bleu éclatant."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Gjirokaster #Albania #ScenicView #Castle #TraditionalHouses #Mountains #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#Gjirokastër #Albanie #Château #VilleHistorique #Panorama #ArchitectureTraditionnelle]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "da715df5-41ee-4345-8683-caadf550c3db",
    "mediaKey": "82621da9-a41b-4432-a9e8-f4787185ad8d"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Gjirokaster, Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokaster, Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Gjirokaster, un village perché aux charmes ottomans.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama de Gjirokaster : Une Vue Époustouflante]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panorama of Gjirokaster: A Breathtaking View]]></Value>
      <Value Culture="fr"><![CDATA[Panorama de Gjirokaster : Une Vue Époustouflante]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/panorama-view-of-gjirokaster-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/panorama-view-of-gjirokaster-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Gjirokastër",
  "Albania",
  "castle",
  "traditional houses",
  "mountains",
  "panorama",
  "historic town"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Gjirokastër",
  "Albanie",
  "château",
  "maisons traditionnelles",
  "montagnes",
  "panorama",
  "ville historique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Gjirokaster, un village perché aux charmes ottomans.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panorama of Gjirokaster: A Breathtaking View]]></Value>
      <Value Culture="fr"><![CDATA[Panorama de Gjirokaster : Une Vue Époustouflante]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>