<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5cf1525-065b-4884-9446-23d53008a6e9" Alias="Panorama of the Business District" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/PanoramaOfTheBusinessDistrict</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T13:22:39</CreateDate>
    <NodeName Default="Panorama of the Business District">
      <Name Culture="en">Panorama of the Business District</Name>
      <Name Culture="fr">Panorama sur le quartier des affaires</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8afb01bdef1d4c2c8436833efbd76788"
      },
      {
        "contentUdi": "umb://element/36a20a64c8744734bf0cd226498a3825"
      },
      {
        "contentUdi": "umb://element/146a1c25766246dea21f893e5e25ca07"
      },
      {
        "contentUdi": "umb://element/223c3718d2914c9e9dfb8fd746f776ed"
      },
      {
        "contentUdi": "umb://element/f469e0b0e3824388b8cf60bec0129fed"
      },
      {
        "contentUdi": "umb://element/44387d89a7af463f9169b95fdad6c954"
      },
      {
        "contentUdi": "umb://element/4df57c54a59942ecbaccc11c6edf6bd7"
      },
      {
        "contentUdi": "umb://element/20a86b5b438945bf8d40ab194594b007"
      },
      {
        "contentUdi": "umb://element/c17a6c5a9a7148b8a53aa5db70a54ca5"
      },
      {
        "contentUdi": "umb://element/23fd96634d124f78b5fa4877162de383"
      },
      {
        "contentUdi": "umb://element/2ac78bdc67d744039811e08e8c618a94"
      },
      {
        "contentUdi": "umb://element/a874a607e8aa4a6eb77d4db56e36f1eb"
      },
      {
        "contentUdi": "umb://element/60e6af8869b74ab997d0abf032e0736a"
      },
      {
        "contentUdi": "umb://element/254371611f824b1fbbe50efa25e97a5d"
      },
      {
        "contentUdi": "umb://element/2afdf1d1f3cc4e4c86d6ae5bc85ee44a"
      },
      {
        "contentUdi": "umb://element/c80455f76a824fdf8a385f96e0a73301"
      },
      {
        "contentUdi": "umb://element/5e27cad172c8409b9bb599cf23747c4d"
      },
      {
        "contentUdi": "umb://element/78b859feac4643dc800f462c49397faf"
      },
      {
        "contentUdi": "umb://element/1cc93966b5ab4e02b71aaa5b7c18f05e"
      },
      {
        "contentUdi": "umb://element/b6a6e1c1f2d44ef9b2377427e2a565c2"
      },
      {
        "contentUdi": "umb://element/0d4bd853f43b44ef855d4b06e22f50d7"
      },
      {
        "contentUdi": "umb://element/77be125b43a74b31a4ae3566fb46c45d"
      },
      {
        "contentUdi": "umb://element/654c8ef9b5af448c8253aa0ce6989335"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8afb01bdef1d4c2c8436833efbd76788",
      "value": "plein air",
      "confidence": "0.9975547790527344"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36a20a64c8744734bf0cd226498a3825",
      "value": "nuage",
      "confidence": "0.9861315488815308"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/146a1c25766246dea21f893e5e25ca07",
      "value": "Tour de grande hauteur",
      "confidence": "0.9800392389297485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/223c3718d2914c9e9dfb8fd746f776ed",
      "value": "bâtiment",
      "confidence": "0.9676473736763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f469e0b0e3824388b8cf60bec0129fed",
      "value": "Zone métropolitaine",
      "confidence": "0.9664353132247925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44387d89a7af463f9169b95fdad6c954",
      "value": "arbre",
      "confidence": "0.9621298313140869"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4df57c54a59942ecbaccc11c6edf6bd7",
      "value": "ciel",
      "confidence": "0.9584487676620483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20a86b5b438945bf8d40ab194594b007",
      "value": "Bâtiment commercial",
      "confidence": "0.9552052021026611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c17a6c5a9a7148b8a53aa5db70a54ca5",
      "value": "Métropole",
      "confidence": "0.9498941898345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23fd96634d124f78b5fa4877162de383",
      "value": "Zone urbaine",
      "confidence": "0.9391968846321106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ac78bdc67d744039811e08e8c618a94",
      "value": "centre-ville",
      "confidence": "0.9367656707763672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a874a607e8aa4a6eb77d4db56e36f1eb",
      "value": "horizon",
      "confidence": "0.9334713816642761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60e6af8869b74ab997d0abf032e0736a",
      "value": "paysage urbain",
      "confidence": "0.9190042018890381"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/254371611f824b1fbbe50efa25e97a5d",
      "value": "Usage mixte",
      "confidence": "0.9094144701957703"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2afdf1d1f3cc4e4c86d6ae5bc85ee44a",
      "value": "Copropriété",
      "confidence": "0.9014919996261597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c80455f76a824fdf8a385f96e0a73301",
      "value": "heure du jour",
      "confidence": "0.8676820993423462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e27cad172c8409b9bb599cf23747c4d",
      "value": "Siège social",
      "confidence": "0.8514847755432129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/78b859feac4643dc800f462c49397faf",
      "value": "gratte-ciel",
      "confidence": "0.8430602550506592"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1cc93966b5ab4e02b71aaa5b7c18f05e",
      "value": "tour",
      "confidence": "0.7323148250579834"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6a6e1c1f2d44ef9b2377427e2a565c2",
      "value": "architecture",
      "confidence": "0.7121909260749817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d4bd853f43b44ef855d4b06e22f50d7",
      "value": "ville",
      "confidence": "0.6752520203590393"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77be125b43a74b31a4ae3566fb46c45d",
      "value": "paysage",
      "confidence": "0.47579917311668396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/654c8ef9b5af448c8253aa0ce6989335",
      "value": "rue",
      "confidence": "0.4586859941482544"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8afb01bdef1d4c2c8436833efbd76788"
      },
      {
        "contentUdi": "umb://element/36a20a64c8744734bf0cd226498a3825"
      },
      {
        "contentUdi": "umb://element/146a1c25766246dea21f893e5e25ca07"
      },
      {
        "contentUdi": "umb://element/223c3718d2914c9e9dfb8fd746f776ed"
      },
      {
        "contentUdi": "umb://element/f469e0b0e3824388b8cf60bec0129fed"
      },
      {
        "contentUdi": "umb://element/44387d89a7af463f9169b95fdad6c954"
      },
      {
        "contentUdi": "umb://element/4df57c54a59942ecbaccc11c6edf6bd7"
      },
      {
        "contentUdi": "umb://element/20a86b5b438945bf8d40ab194594b007"
      },
      {
        "contentUdi": "umb://element/c17a6c5a9a7148b8a53aa5db70a54ca5"
      },
      {
        "contentUdi": "umb://element/23fd96634d124f78b5fa4877162de383"
      },
      {
        "contentUdi": "umb://element/2ac78bdc67d744039811e08e8c618a94"
      },
      {
        "contentUdi": "umb://element/a874a607e8aa4a6eb77d4db56e36f1eb"
      },
      {
        "contentUdi": "umb://element/60e6af8869b74ab997d0abf032e0736a"
      },
      {
        "contentUdi": "umb://element/254371611f824b1fbbe50efa25e97a5d"
      },
      {
        "contentUdi": "umb://element/2afdf1d1f3cc4e4c86d6ae5bc85ee44a"
      },
      {
        "contentUdi": "umb://element/c80455f76a824fdf8a385f96e0a73301"
      },
      {
        "contentUdi": "umb://element/5e27cad172c8409b9bb599cf23747c4d"
      },
      {
        "contentUdi": "umb://element/78b859feac4643dc800f462c49397faf"
      },
      {
        "contentUdi": "umb://element/1cc93966b5ab4e02b71aaa5b7c18f05e"
      },
      {
        "contentUdi": "umb://element/b6a6e1c1f2d44ef9b2377427e2a565c2"
      },
      {
        "contentUdi": "umb://element/0d4bd853f43b44ef855d4b06e22f50d7"
      },
      {
        "contentUdi": "umb://element/77be125b43a74b31a4ae3566fb46c45d"
      },
      {
        "contentUdi": "umb://element/654c8ef9b5af448c8253aa0ce6989335"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8afb01bdef1d4c2c8436833efbd76788",
      "value": "plein air",
      "confidence": "0.9975547790527344"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/36a20a64c8744734bf0cd226498a3825",
      "value": "nuage",
      "confidence": "0.9861315488815308"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/146a1c25766246dea21f893e5e25ca07",
      "value": "Tour de grande hauteur",
      "confidence": "0.9800392389297485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/223c3718d2914c9e9dfb8fd746f776ed",
      "value": "bâtiment",
      "confidence": "0.9676473736763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f469e0b0e3824388b8cf60bec0129fed",
      "value": "Zone métropolitaine",
      "confidence": "0.9664353132247925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44387d89a7af463f9169b95fdad6c954",
      "value": "arbre",
      "confidence": "0.9621298313140869"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4df57c54a59942ecbaccc11c6edf6bd7",
      "value": "ciel",
      "confidence": "0.9584487676620483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20a86b5b438945bf8d40ab194594b007",
      "value": "Bâtiment commercial",
      "confidence": "0.9552052021026611"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c17a6c5a9a7148b8a53aa5db70a54ca5",
      "value": "Métropole",
      "confidence": "0.9498941898345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/23fd96634d124f78b5fa4877162de383",
      "value": "Zone urbaine",
      "confidence": "0.9391968846321106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ac78bdc67d744039811e08e8c618a94",
      "value": "centre-ville",
      "confidence": "0.9367656707763672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a874a607e8aa4a6eb77d4db56e36f1eb",
      "value": "horizon",
      "confidence": "0.9334713816642761"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60e6af8869b74ab997d0abf032e0736a",
      "value": "paysage urbain",
      "confidence": "0.9190042018890381"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/254371611f824b1fbbe50efa25e97a5d",
      "value": "Usage mixte",
      "confidence": "0.9094144701957703"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2afdf1d1f3cc4e4c86d6ae5bc85ee44a",
      "value": "Copropriété",
      "confidence": "0.9014919996261597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c80455f76a824fdf8a385f96e0a73301",
      "value": "heure du jour",
      "confidence": "0.8676820993423462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e27cad172c8409b9bb599cf23747c4d",
      "value": "Siège social",
      "confidence": "0.8514847755432129"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/78b859feac4643dc800f462c49397faf",
      "value": "gratte-ciel",
      "confidence": "0.8430602550506592"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1cc93966b5ab4e02b71aaa5b7c18f05e",
      "value": "tour",
      "confidence": "0.7323148250579834"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6a6e1c1f2d44ef9b2377427e2a565c2",
      "value": "architecture",
      "confidence": "0.7121909260749817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d4bd853f43b44ef855d4b06e22f50d7",
      "value": "ville",
      "confidence": "0.6752520203590393"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77be125b43a74b31a4ae3566fb46c45d",
      "value": "paysage",
      "confidence": "0.47579917311668396"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/654c8ef9b5af448c8253aa0ce6989335",
      "value": "rue",
      "confidence": "0.4586859941482544"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The buildings scrape the sky, while we scratch our butts when we go there.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les immeubles grattent le ciel, nous on se gratte le cul quand on y va.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a view of the business district of Brussels, Belgium. It features several modern skyscrapers with glass facades, contrasting with the bare trees in the foreground. The sky is blue with a few streaks of clouds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue du quartier d'affaires de Bruxelles, Belgique. On y voit plusieurs gratte-ciels modernes avec des façades en verre, contrastant avec les arbres dénudés au premier plan. Le ciel est bleu avec quelques traînées de nuages."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #Cityscape #ModernArchitecture #Skyscrapers #UrbanDevelopment #Skyline]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #gratteciel #quartierd'affaires #modernité #urbanisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "84cc48eb-5284-4dd6-9680-4c8c1517df77",
    "mediaKey": "4cf0fea3-fafb-43d2-b1e1-ba0a673012a6"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les immeubles grattent le ciel, nous on se gratte le cul quand on y va.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier des Affaires de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panorama of the Brussels Business District]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier des Affaires de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/financial-area-of-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/financial-area-of-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "skyscraper",
  "modern architecture",
  "business district",
  "buildings",
  "trees",
  "blue sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "gratte-ciel",
  "architecture moderne",
  "quartier d'affaires",
  "bâtiments",
  "arbres",
  "ciel bleu"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les immeubles grattent le ciel, nous on se gratte le cul quand on y va.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panorama of the Brussels Business District]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier des Affaires de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>