<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ec73443-d5f3-4757-a692-05d55fc468fe" Alias="Panorama du dessus des hauteurs de Pai #1" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PanoramaDuDessusDesHauteursDePai1</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Panorama du dessus des hauteurs de Pai #1">
      <Name Culture="en">Top View Panorama of Pai Heights #1</Name>
      <Name Culture="fr">Panorama du dessus des hauteurs de Pai #1</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e9d88a96b8d84b99b519c7760974ae48"
      },
      {
        "contentUdi": "umb://element/8b3bd3a3b3564d13bea203ae2974077e"
      },
      {
        "contentUdi": "umb://element/20402982f1814aeb994d7e8bda5fb64d"
      },
      {
        "contentUdi": "umb://element/f582288feff24de7a98ac9ceb7e48386"
      },
      {
        "contentUdi": "umb://element/9d10b37cf59c451c8ef5db171454f117"
      },
      {
        "contentUdi": "umb://element/c30f1ebba6ba47ffa2b67ee47f8e557b"
      },
      {
        "contentUdi": "umb://element/598210970bb343f18034504183eb771c"
      },
      {
        "contentUdi": "umb://element/861173691e05458dba8188c4163cf3af"
      },
      {
        "contentUdi": "umb://element/ac391bef2f7b4fc48dc9fb406b2d31d1"
      },
      {
        "contentUdi": "umb://element/7ff53527a42d41cf96d38fa93e3187da"
      },
      {
        "contentUdi": "umb://element/8cd23481a39f4ef9af7925293baa8533"
      },
      {
        "contentUdi": "umb://element/32d95a1c27224ee1ba64171ad22bbe50"
      },
      {
        "contentUdi": "umb://element/eb8e7df5aae84a5f907f3a8dc60dc23a"
      },
      {
        "contentUdi": "umb://element/701580a54a3b477d9742122a2700d30f"
      },
      {
        "contentUdi": "umb://element/4e9a25d7b56e4e43b9e78461a074d3e7"
      },
      {
        "contentUdi": "umb://element/3ef31ee7258e43df8784d26fa900b279"
      },
      {
        "contentUdi": "umb://element/86b9eaac59d049519f4dd692a7074411"
      },
      {
        "contentUdi": "umb://element/2e5b1c8ab18a422dacc828532805037f"
      },
      {
        "contentUdi": "umb://element/992776f1f4cf4291b8ce67fa0f80b321"
      },
      {
        "contentUdi": "umb://element/d2776636dd7343e684f52a650b8f1682"
      },
      {
        "contentUdi": "umb://element/712a39e409764d74b32245c33ef756d2"
      },
      {
        "contentUdi": "umb://element/ce2e52288a284f688e1df38c6d21834f"
      },
      {
        "contentUdi": "umb://element/0f68e5e217714246b13b598be685664d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9d88a96b8d84b99b519c7760974ae48",
      "value": "plein air",
      "confidence": "0.9992400407791138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b3bd3a3b3564d13bea203ae2974077e",
      "value": "paysage",
      "confidence": "0.996476948261261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20402982f1814aeb994d7e8bda5fb64d",
      "value": "arbre",
      "confidence": "0.9846490025520325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f582288feff24de7a98ac9ceb7e48386",
      "value": "nuage",
      "confidence": "0.9810839891433716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d10b37cf59c451c8ef5db171454f117",
      "value": "végétation",
      "confidence": "0.9711665511131287"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c30f1ebba6ba47ffa2b67ee47f8e557b",
      "value": "montagne",
      "confidence": "0.9702186584472656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/598210970bb343f18034504183eb771c",
      "value": "ciel",
      "confidence": "0.9693430662155151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/861173691e05458dba8188c4163cf3af",
      "value": "forêt",
      "confidence": "0.9542361497879028"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac391bef2f7b4fc48dc9fb406b2d31d1",
      "value": "région sauvage",
      "confidence": "0.9417129755020142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ff53527a42d41cf96d38fa93e3187da",
      "value": "jungle",
      "confidence": "0.936248779296875"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8cd23481a39f4ef9af7925293baa8533",
      "value": "herbe",
      "confidence": "0.935401439666748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32d95a1c27224ee1ba64171ad22bbe50",
      "value": "Communauté végétale",
      "confidence": "0.9180623292922974"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb8e7df5aae84a5f907f3a8dc60dc23a",
      "value": "Station de montagne",
      "confidence": "0.9122405052185059"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/701580a54a3b477d9742122a2700d30f",
      "value": "Réserve natuelle",
      "confidence": "0.9121099710464478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4e9a25d7b56e4e43b9e78461a074d3e7",
      "value": "région montagneuse",
      "confidence": "0.9051740765571594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ef31ee7258e43df8784d26fa900b279",
      "value": "Paysage naturel",
      "confidence": "0.8854151368141174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86b9eaac59d049519f4dd692a7074411",
      "value": "colline",
      "confidence": "0.8830280303955078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e5b1c8ab18a422dacc828532805037f",
      "value": "Chaparral",
      "confidence": "0.882556676864624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/992776f1f4cf4291b8ce67fa0f80b321",
      "value": "Parc national",
      "confidence": "0.8787709474563599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2776636dd7343e684f52a650b8f1682",
      "value": "nature",
      "confidence": "0.8495652675628662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/712a39e409764d74b32245c33ef756d2",
      "value": "terrain",
      "confidence": "0.7344580888748169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce2e52288a284f688e1df38c6d21834f",
      "value": "plante",
      "confidence": "0.7275463342666626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f68e5e217714246b13b598be685664d",
      "value": "luxuriant",
      "confidence": "0.525871753692627"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/89ec97410f6b4cbe9007a6dc8dd604a2"
      },
      {
        "contentUdi": "umb://element/a40a935565a14fcfb1cb2c3f029d590e"
      },
      {
        "contentUdi": "umb://element/c658f53af5804326be80c9146f6a1df9"
      },
      {
        "contentUdi": "umb://element/82b1ebd67ae1455db3e3b1b9c0bcc7a5"
      },
      {
        "contentUdi": "umb://element/38ecd724abee4b72861fea908647f252"
      },
      {
        "contentUdi": "umb://element/a1e64b7829024cefbf81a78e9048983d"
      },
      {
        "contentUdi": "umb://element/94adb47bd5744c18be6bfe800c1088c6"
      },
      {
        "contentUdi": "umb://element/c56436777a6141efaa8aa82e4e3ed027"
      },
      {
        "contentUdi": "umb://element/4eab0ca3a2ed4682beba6c4c95b706e7"
      },
      {
        "contentUdi": "umb://element/eb4f36373b2c440cbeb98264940ded7d"
      },
      {
        "contentUdi": "umb://element/ac533ac596af45878a6005f631b4aee2"
      },
      {
        "contentUdi": "umb://element/4b957f301cb848fc826d0786484c3821"
      },
      {
        "contentUdi": "umb://element/a4f2ddb2cc9242368aaadd4f5332e1f9"
      },
      {
        "contentUdi": "umb://element/45ff6213bfc548a08df2315f63d5b3b6"
      },
      {
        "contentUdi": "umb://element/3e09da89f31a48dbbebf31838a7ce5c4"
      },
      {
        "contentUdi": "umb://element/41dd11ea06604ad988648d3ee23c5c73"
      },
      {
        "contentUdi": "umb://element/c464bec25bec49db8d373e72fde9c710"
      },
      {
        "contentUdi": "umb://element/985adcb5e0e34460bd15a85393f64317"
      },
      {
        "contentUdi": "umb://element/d41defa882304d729411c02545d3dadb"
      },
      {
        "contentUdi": "umb://element/5b26a090d0dd40dc81e095eb8fd639d4"
      },
      {
        "contentUdi": "umb://element/3e2d229e55c1498d9208afe940b13c2a"
      },
      {
        "contentUdi": "umb://element/cb0c631b67ea494ca89bb7f432a553d4"
      },
      {
        "contentUdi": "umb://element/f6c5b7f4bb734a32b3f17cea28516e2a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89ec97410f6b4cbe9007a6dc8dd604a2",
      "value": "plein air",
      "confidence": "0.9992400407791138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a40a935565a14fcfb1cb2c3f029d590e",
      "value": "paysage",
      "confidence": "0.996476948261261"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c658f53af5804326be80c9146f6a1df9",
      "value": "arbre",
      "confidence": "0.9846490025520325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82b1ebd67ae1455db3e3b1b9c0bcc7a5",
      "value": "nuage",
      "confidence": "0.9810839891433716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38ecd724abee4b72861fea908647f252",
      "value": "végétation",
      "confidence": "0.9711665511131287"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1e64b7829024cefbf81a78e9048983d",
      "value": "montagne",
      "confidence": "0.9702186584472656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94adb47bd5744c18be6bfe800c1088c6",
      "value": "ciel",
      "confidence": "0.9693430662155151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c56436777a6141efaa8aa82e4e3ed027",
      "value": "forêt",
      "confidence": "0.9542361497879028"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4eab0ca3a2ed4682beba6c4c95b706e7",
      "value": "région sauvage",
      "confidence": "0.9417129755020142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb4f36373b2c440cbeb98264940ded7d",
      "value": "jungle",
      "confidence": "0.936248779296875"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac533ac596af45878a6005f631b4aee2",
      "value": "herbe",
      "confidence": "0.935401439666748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b957f301cb848fc826d0786484c3821",
      "value": "Communauté végétale",
      "confidence": "0.9180623292922974"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4f2ddb2cc9242368aaadd4f5332e1f9",
      "value": "Station de montagne",
      "confidence": "0.9122405052185059"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45ff6213bfc548a08df2315f63d5b3b6",
      "value": "Réserve natuelle",
      "confidence": "0.9121099710464478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e09da89f31a48dbbebf31838a7ce5c4",
      "value": "région montagneuse",
      "confidence": "0.9051740765571594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41dd11ea06604ad988648d3ee23c5c73",
      "value": "Paysage naturel",
      "confidence": "0.8854151368141174"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c464bec25bec49db8d373e72fde9c710",
      "value": "colline",
      "confidence": "0.8830280303955078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/985adcb5e0e34460bd15a85393f64317",
      "value": "Chaparral",
      "confidence": "0.882556676864624"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d41defa882304d729411c02545d3dadb",
      "value": "Parc national",
      "confidence": "0.8787709474563599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b26a090d0dd40dc81e095eb8fd639d4",
      "value": "nature",
      "confidence": "0.8495652675628662"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e2d229e55c1498d9208afe940b13c2a",
      "value": "terrain",
      "confidence": "0.7344580888748169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb0c631b67ea494ca89bb7f432a553d4",
      "value": "plante",
      "confidence": "0.7275463342666626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6c5b7f4bb734a32b3f17cea28516e2a",
      "value": "luxuriant",
      "confidence": "0.525871753692627"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The heights of Pai, a unique 360° view</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les hauteurs de Pai, vue unique à 360°</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a magnificent landscape in Pai, Thailand. It features a vast expanse of lush vegetation with tall trees and grasses in the foreground. In the background, mountains stretch to the horizon under a blue sky dotted with a few white clouds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage magnifique à Pai, en Thaïlande. On y voit une vaste étendue de végétation luxuriante avec des arbres et des herbes hautes au premier plan. À l'arrière-plan, des montagnes se succèdent à l'horizon sous un ciel bleu parsemé de quelques nuages blancs."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #Nature #Landscape #Greenery #Mountains #ScenicView #Travel #Adventure #Wilderness]]></Value>
      <Value Culture="fr"><![CDATA[#paysage #montagnes #nature #Thaïlande #végétation #ciel #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "80dc4003-8b04-41e7-9f95-fd35918f667c",
    "mediaKey": "44dc7451-a9a4-4903-8460-a03e51117a2f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue à 360° des hauteurs verdoyantes de Pai, en Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama Époustouflant des Hauteurs de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Breathtaking Panorama of Pai Heights]]></Value>
      <Value Culture="fr"><![CDATA[Panorama Époustouflant des Hauteurs de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/from-the-heights-of-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/from-the-heights-of-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "landscape",
  "mountains",
  "vegetation",
  "Thailand",
  "nature",
  "sky",
  "trees"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "paysage",
  "montagnes",
  "végétation",
  "Thaïlande",
  "nature",
  "ciel",
  "arbres"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue à 360° des hauteurs verdoyantes de Pai, en Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Breathtaking Panorama of Pai Heights]]></Value>
      <Value Culture="fr"><![CDATA[Panorama Époustouflant des Hauteurs de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>