<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6ba0b92-06f5-4d87-af1a-a6d67bfdcbc9" Alias="Panorama from the Heights of Pai #2" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/PanoramaFromTheHeightsOfPai2</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T16:41:38</CreateDate>
    <NodeName Default="Panorama from the Heights of Pai #2">
      <Name Culture="en">Panorama from the Heights of Pai #2</Name>
      <Name Culture="fr">Panorama du dessus des hauteurs de Pai #2</Name>
    </NodeName>
    <SortOrder>36</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d55ec603125490c8357e9c726a05dbc"
      },
      {
        "contentUdi": "umb://element/967fdd5497ba49489e277f394a5477fc"
      },
      {
        "contentUdi": "umb://element/b08b467eab4046bead3910e7ebf3eb43"
      },
      {
        "contentUdi": "umb://element/2f4d246ad8794b9cb8ca72cf1ad46df3"
      },
      {
        "contentUdi": "umb://element/0fb224df46f44c7fa80b24a883a4b8c8"
      },
      {
        "contentUdi": "umb://element/f84b272a851d41d18f95ab4f8ea5e264"
      },
      {
        "contentUdi": "umb://element/b003dab3154249cea0125bc2671cedc9"
      },
      {
        "contentUdi": "umb://element/179918c1339444c7bc48286a79984464"
      },
      {
        "contentUdi": "umb://element/940b677d0c3346e798b892cbd73e9625"
      },
      {
        "contentUdi": "umb://element/6e96be72c60f45c4a7a8956ace284ae4"
      },
      {
        "contentUdi": "umb://element/2ff0a76c525642ada336721ba7c940d0"
      },
      {
        "contentUdi": "umb://element/6091dfc12dc24331ad28fdf3fddfedeb"
      },
      {
        "contentUdi": "umb://element/75a2aa62b2204756831b48d6bedd7bda"
      },
      {
        "contentUdi": "umb://element/87c895d992e742f795129898b5fc6f98"
      },
      {
        "contentUdi": "umb://element/8184e7f8cd6d40da909613a0e8c8e5d9"
      },
      {
        "contentUdi": "umb://element/a6ff3b8e80ca430b94214c3c19d16713"
      },
      {
        "contentUdi": "umb://element/c12ae484db204671a1b1b27c3e61ec8d"
      },
      {
        "contentUdi": "umb://element/126c9acc11e3448cbd5a0d0fcdc6298a"
      },
      {
        "contentUdi": "umb://element/dfd6341acc31452d8b5f6dfa36187d81"
      },
      {
        "contentUdi": "umb://element/40427823fec24f3e965810c974239c86"
      },
      {
        "contentUdi": "umb://element/258d7151345742058e53876c4c573d29"
      },
      {
        "contentUdi": "umb://element/e8911b12bc154ef8ba52c40378193222"
      },
      {
        "contentUdi": "umb://element/1b357a776e00465280c848d6b9b01c56"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d55ec603125490c8357e9c726a05dbc",
      "value": "paysage",
      "confidence": "0.9986467957496643"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/967fdd5497ba49489e277f394a5477fc",
      "value": "plein air",
      "confidence": "0.9982194900512695"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b08b467eab4046bead3910e7ebf3eb43",
      "value": "nature",
      "confidence": "0.9970280528068542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f4d246ad8794b9cb8ca72cf1ad46df3",
      "value": "arbre",
      "confidence": "0.99045729637146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0fb224df46f44c7fa80b24a883a4b8c8",
      "value": "ciel",
      "confidence": "0.9884688854217529"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f84b272a851d41d18f95ab4f8ea5e264",
      "value": "nuage",
      "confidence": "0.9727731943130493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b003dab3154249cea0125bc2671cedc9",
      "value": "montagne",
      "confidence": "0.9689605832099915"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/179918c1339444c7bc48286a79984464",
      "value": "forêt",
      "confidence": "0.963520348072052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/940b677d0c3346e798b892cbd73e9625",
      "value": "région sauvage",
      "confidence": "0.9561132788658142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e96be72c60f45c4a7a8956ace284ae4",
      "value": "végétation",
      "confidence": "0.9354115724563599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ff0a76c525642ada336721ba7c940d0",
      "value": "Station de montagne",
      "confidence": "0.8967677354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6091dfc12dc24331ad28fdf3fddfedeb",
      "value": "plante",
      "confidence": "0.8934842944145203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75a2aa62b2204756831b48d6bedd7bda",
      "value": "Parc national",
      "confidence": "0.8931626081466675"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87c895d992e742f795129898b5fc6f98",
      "value": "région montagneuse",
      "confidence": "0.8916245698928833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8184e7f8cd6d40da909613a0e8c8e5d9",
      "value": "Chaparral",
      "confidence": "0.8671576380729675"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6ff3b8e80ca430b94214c3c19d16713",
      "value": "Paysage naturel",
      "confidence": "0.8668841123580933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c12ae484db204671a1b1b27c3e61ec8d",
      "value": "colline",
      "confidence": "0.8653934597969055"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/126c9acc11e3448cbd5a0d0fcdc6298a",
      "value": "Réserve natuelle",
      "confidence": "0.8649483323097229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfd6341acc31452d8b5f6dfa36187d81",
      "value": "Communauté végétale",
      "confidence": "0.8566359877586365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40427823fec24f3e965810c974239c86",
      "value": "jungle",
      "confidence": "0.8527092933654785"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/258d7151345742058e53876c4c573d29",
      "value": "Forêts de conifères tropicales et subtropicales",
      "confidence": "0.8440144062042236"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8911b12bc154ef8ba52c40378193222",
      "value": "herbe",
      "confidence": "0.7764590978622437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b357a776e00465280c848d6b9b01c56",
      "value": "terrain",
      "confidence": "0.6525722146034241"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d55ec603125490c8357e9c726a05dbc"
      },
      {
        "contentUdi": "umb://element/967fdd5497ba49489e277f394a5477fc"
      },
      {
        "contentUdi": "umb://element/b08b467eab4046bead3910e7ebf3eb43"
      },
      {
        "contentUdi": "umb://element/2f4d246ad8794b9cb8ca72cf1ad46df3"
      },
      {
        "contentUdi": "umb://element/0fb224df46f44c7fa80b24a883a4b8c8"
      },
      {
        "contentUdi": "umb://element/f84b272a851d41d18f95ab4f8ea5e264"
      },
      {
        "contentUdi": "umb://element/b003dab3154249cea0125bc2671cedc9"
      },
      {
        "contentUdi": "umb://element/179918c1339444c7bc48286a79984464"
      },
      {
        "contentUdi": "umb://element/940b677d0c3346e798b892cbd73e9625"
      },
      {
        "contentUdi": "umb://element/6e96be72c60f45c4a7a8956ace284ae4"
      },
      {
        "contentUdi": "umb://element/2ff0a76c525642ada336721ba7c940d0"
      },
      {
        "contentUdi": "umb://element/6091dfc12dc24331ad28fdf3fddfedeb"
      },
      {
        "contentUdi": "umb://element/75a2aa62b2204756831b48d6bedd7bda"
      },
      {
        "contentUdi": "umb://element/87c895d992e742f795129898b5fc6f98"
      },
      {
        "contentUdi": "umb://element/8184e7f8cd6d40da909613a0e8c8e5d9"
      },
      {
        "contentUdi": "umb://element/a6ff3b8e80ca430b94214c3c19d16713"
      },
      {
        "contentUdi": "umb://element/c12ae484db204671a1b1b27c3e61ec8d"
      },
      {
        "contentUdi": "umb://element/126c9acc11e3448cbd5a0d0fcdc6298a"
      },
      {
        "contentUdi": "umb://element/dfd6341acc31452d8b5f6dfa36187d81"
      },
      {
        "contentUdi": "umb://element/40427823fec24f3e965810c974239c86"
      },
      {
        "contentUdi": "umb://element/258d7151345742058e53876c4c573d29"
      },
      {
        "contentUdi": "umb://element/e8911b12bc154ef8ba52c40378193222"
      },
      {
        "contentUdi": "umb://element/1b357a776e00465280c848d6b9b01c56"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d55ec603125490c8357e9c726a05dbc",
      "value": "paysage",
      "confidence": "0.9986467957496643"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/967fdd5497ba49489e277f394a5477fc",
      "value": "plein air",
      "confidence": "0.9982194900512695"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b08b467eab4046bead3910e7ebf3eb43",
      "value": "nature",
      "confidence": "0.9970280528068542"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f4d246ad8794b9cb8ca72cf1ad46df3",
      "value": "arbre",
      "confidence": "0.99045729637146"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0fb224df46f44c7fa80b24a883a4b8c8",
      "value": "ciel",
      "confidence": "0.9884688854217529"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f84b272a851d41d18f95ab4f8ea5e264",
      "value": "nuage",
      "confidence": "0.9727731943130493"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b003dab3154249cea0125bc2671cedc9",
      "value": "montagne",
      "confidence": "0.9689605832099915"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/179918c1339444c7bc48286a79984464",
      "value": "forêt",
      "confidence": "0.963520348072052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/940b677d0c3346e798b892cbd73e9625",
      "value": "région sauvage",
      "confidence": "0.9561132788658142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e96be72c60f45c4a7a8956ace284ae4",
      "value": "végétation",
      "confidence": "0.9354115724563599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ff0a76c525642ada336721ba7c940d0",
      "value": "Station de montagne",
      "confidence": "0.8967677354812622"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6091dfc12dc24331ad28fdf3fddfedeb",
      "value": "plante",
      "confidence": "0.8934842944145203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/75a2aa62b2204756831b48d6bedd7bda",
      "value": "Parc national",
      "confidence": "0.8931626081466675"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87c895d992e742f795129898b5fc6f98",
      "value": "région montagneuse",
      "confidence": "0.8916245698928833"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8184e7f8cd6d40da909613a0e8c8e5d9",
      "value": "Chaparral",
      "confidence": "0.8671576380729675"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6ff3b8e80ca430b94214c3c19d16713",
      "value": "Paysage naturel",
      "confidence": "0.8668841123580933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c12ae484db204671a1b1b27c3e61ec8d",
      "value": "colline",
      "confidence": "0.8653934597969055"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/126c9acc11e3448cbd5a0d0fcdc6298a",
      "value": "Réserve natuelle",
      "confidence": "0.8649483323097229"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dfd6341acc31452d8b5f6dfa36187d81",
      "value": "Communauté végétale",
      "confidence": "0.8566359877586365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40427823fec24f3e965810c974239c86",
      "value": "jungle",
      "confidence": "0.8527092933654785"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/258d7151345742058e53876c4c573d29",
      "value": "Forêts de conifères tropicales et subtropicales",
      "confidence": "0.8440144062042236"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8911b12bc154ef8ba52c40378193222",
      "value": "herbe",
      "confidence": "0.7764590978622437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b357a776e00465280c848d6b9b01c56",
      "value": "terrain",
      "confidence": "0.6525722146034241"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panorama from the Heights of Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama du dessus des hauteurs de Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a magnificent mountainous landscape in Pai, Thailand. Verdant hills stretch as far as the eye can see, covered with dense forests. In the foreground, tall grasses and trees add depth to the scene. The sky is clear with a few white clouds, offering a spectacular panoramic view."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un magnifique paysage montagneux à Pai, en Thaïlande. On peut voir des collines verdoyantes s'étendre à perte de vue, recouvertes de forêts denses. Au premier plan, des herbes hautes et des arbres ajoutent de la profondeur à la scène. Le ciel est clair avec quelques nuages blancs, offrant une vue panoramique spectaculaire."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #Landscape #Nature #ScenicView #Mountains #Travel #Adventure #Wanderlust #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#montagnes #nature #paysage #Thaïlande #aventure #voyage #photographie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "fe1d78c5-0a72-4608-8f1b-3c80acc0cfb3",
    "mediaKey": "8fd59967-a27a-4a51-9ba6-ed5dd3b004b8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté naturelle de Pai, en Thaïlande, avec ses collines verdoyantes et ses forêts denses.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama du dessus des hauteurs de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panorama from the Heights of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Panorama du dessus des hauteurs de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-from-the-heights-of-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-from-the-heights-of-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "mountains",
  "forest",
  "nature",
  "landscape",
  "Thailand",
  "grasses",
  "trees",
  "sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "montagnes",
  "forêt",
  "nature",
  "paysage",
  "Thaïlande",
  "herbes",
  "arbres",
  "ciel"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté naturelle de Pai, en Thaïlande, avec ses collines verdoyantes et ses forêts denses.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panorama from the Heights of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Panorama du dessus des hauteurs de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>