<?xml version="1.0" encoding="utf-8"?>
<Content Key="1538b7ef-0d0d-4928-8543-bb6ff46658e9" Alias="Panorama du dessus des hauteurs de Pai #4" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PanoramaDuDessusDesHauteursDePai4</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Panorama du dessus des hauteurs de Pai #4">
      <Name Culture="en">Panorama from the Heights of Pai #4</Name>
      <Name Culture="fr">Panorama du dessus des hauteurs de Pai #4</Name>
    </NodeName>
    <SortOrder>38</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dad82512e2db49718d5cc47b91405fe0"
      },
      {
        "contentUdi": "umb://element/adde7845d7ac404da8ac785e16edbbff"
      },
      {
        "contentUdi": "umb://element/3f1a84dbc224428680ced8a8e6b975fb"
      },
      {
        "contentUdi": "umb://element/b72f9d510f04459d92dd477d3259f349"
      },
      {
        "contentUdi": "umb://element/9be9af386b994b1cb87df34060e17c9b"
      },
      {
        "contentUdi": "umb://element/65912b122ed14baf8c1f3f54d81278a9"
      },
      {
        "contentUdi": "umb://element/eb87a99bd4644f74a66d65e873b91202"
      },
      {
        "contentUdi": "umb://element/151e21f899bc44bfa501e6898a782030"
      },
      {
        "contentUdi": "umb://element/7816be6dc0724cd3a096ba5adb859ca5"
      },
      {
        "contentUdi": "umb://element/f6d8d196797b4a5aa3663d58f7fdc9a1"
      },
      {
        "contentUdi": "umb://element/373dffbe7f9b4ba2b1b78fa8fde66455"
      },
      {
        "contentUdi": "umb://element/76c45a6580ed4f1fbf3aa3defdf24dfc"
      },
      {
        "contentUdi": "umb://element/ce918516a67c47d081e52a9faf062f5a"
      },
      {
        "contentUdi": "umb://element/ff64a73e02fb4fc4975da0fd3ac9eddb"
      },
      {
        "contentUdi": "umb://element/fa19c99d89c24be98c4bfcbb5b9f60a0"
      },
      {
        "contentUdi": "umb://element/27102de8e9f54f00bc8df798eb06ff2e"
      },
      {
        "contentUdi": "umb://element/cbcc11e9ab3348998d0a9342bbb99834"
      },
      {
        "contentUdi": "umb://element/897d62eb25f0499a8b352256b799e180"
      },
      {
        "contentUdi": "umb://element/cfe51c5d1f5b483f9b92020fa370943d"
      },
      {
        "contentUdi": "umb://element/c077b556c8b84a67a8d8840a8fb5f0e9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dad82512e2db49718d5cc47b91405fe0",
      "value": "plein air",
      "confidence": "0.9986947774887085"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adde7845d7ac404da8ac785e16edbbff",
      "value": "paysage",
      "confidence": "0.9974873065948486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f1a84dbc224428680ced8a8e6b975fb",
      "value": "ciel",
      "confidence": "0.98133385181427"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b72f9d510f04459d92dd477d3259f349",
      "value": "herbe",
      "confidence": "0.9709587097167969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9be9af386b994b1cb87df34060e17c9b",
      "value": "plante",
      "confidence": "0.9622756242752075"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65912b122ed14baf8c1f3f54d81278a9",
      "value": "nature",
      "confidence": "0.9568384885787964"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb87a99bd4644f74a66d65e873b91202",
      "value": "montagne",
      "confidence": "0.9409475326538086"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/151e21f899bc44bfa501e6898a782030",
      "value": "arbre",
      "confidence": "0.9371689558029175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7816be6dc0724cd3a096ba5adb859ca5",
      "value": "région sauvage",
      "confidence": "0.916528582572937"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6d8d196797b4a5aa3663d58f7fdc9a1",
      "value": "Paysage naturel",
      "confidence": "0.8868272304534912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/373dffbe7f9b4ba2b1b78fa8fde66455",
      "value": "végétation",
      "confidence": "0.8736529350280762"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/76c45a6580ed4f1fbf3aa3defdf24dfc",
      "value": "écorégion",
      "confidence": "0.8628140687942505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce918516a67c47d081e52a9faf062f5a",
      "value": "région montagneuse",
      "confidence": "0.8616881370544434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ff64a73e02fb4fc4975da0fd3ac9eddb",
      "value": "terrain",
      "confidence": "0.7822532653808594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa19c99d89c24be98c4bfcbb5b9f60a0",
      "value": "nuages",
      "confidence": "0.7208232879638672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27102de8e9f54f00bc8df798eb06ff2e",
      "value": "coucher de soleil",
      "confidence": "0.7151875495910645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cbcc11e9ab3348998d0a9342bbb99834",
      "value": "nuage",
      "confidence": "0.6927176713943481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/897d62eb25f0499a8b352256b799e180",
      "value": "colline",
      "confidence": "0.6257984042167664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfe51c5d1f5b483f9b92020fa370943d",
      "value": "lever de soleil",
      "confidence": "0.44936421513557434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c077b556c8b84a67a8d8840a8fb5f0e9",
      "value": "automne",
      "confidence": "0.4387212097644806"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba7ba086b21743e4894a6effd9904913"
      },
      {
        "contentUdi": "umb://element/a16354be27f1407791bec0774c96074b"
      },
      {
        "contentUdi": "umb://element/83a3180ad1a54a008bfe4b8076b22336"
      },
      {
        "contentUdi": "umb://element/bf55889654c246098c004e2e455e4be8"
      },
      {
        "contentUdi": "umb://element/4aad2dd5d68647308507d97809c30c89"
      },
      {
        "contentUdi": "umb://element/e1014ac06a584bc6b6f831b1cf400466"
      },
      {
        "contentUdi": "umb://element/15e3f5f3703047638448011f61d3b01b"
      },
      {
        "contentUdi": "umb://element/28358e24b434466e9df68496ba433f6c"
      },
      {
        "contentUdi": "umb://element/d617800594ed45acb75f5a8a4f495452"
      },
      {
        "contentUdi": "umb://element/d429dc9670a54d3698231c8d980c2c1d"
      },
      {
        "contentUdi": "umb://element/ef161a5ed29e423fa8dca1f4d8e119a8"
      },
      {
        "contentUdi": "umb://element/b6d2c2a4200340c8ac0f57df2ddff570"
      },
      {
        "contentUdi": "umb://element/a36656f1c0cb4be0b0f391f7d9fbfc31"
      },
      {
        "contentUdi": "umb://element/0f4eb6a725b54511a86452cacdaef9c8"
      },
      {
        "contentUdi": "umb://element/5cc11d9fc9af43fa818f4b1a2d040cad"
      },
      {
        "contentUdi": "umb://element/6dba068b11bc40a38072a0435ffbf285"
      },
      {
        "contentUdi": "umb://element/cd6fd4eb59854febb5c5e198387f479c"
      },
      {
        "contentUdi": "umb://element/b07ff0ad15c54e1c9e0d03acc0e27c60"
      },
      {
        "contentUdi": "umb://element/116842b2443e460e9af299ffbed015b5"
      },
      {
        "contentUdi": "umb://element/f92d0b3a44fe4dfcba681c8f28289020"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba7ba086b21743e4894a6effd9904913",
      "value": "plein air",
      "confidence": "0.9986947774887085"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a16354be27f1407791bec0774c96074b",
      "value": "paysage",
      "confidence": "0.9974873065948486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83a3180ad1a54a008bfe4b8076b22336",
      "value": "ciel",
      "confidence": "0.98133385181427"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf55889654c246098c004e2e455e4be8",
      "value": "herbe",
      "confidence": "0.9709587097167969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4aad2dd5d68647308507d97809c30c89",
      "value": "plante",
      "confidence": "0.9622756242752075"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1014ac06a584bc6b6f831b1cf400466",
      "value": "nature",
      "confidence": "0.9568384885787964"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15e3f5f3703047638448011f61d3b01b",
      "value": "montagne",
      "confidence": "0.9409475326538086"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28358e24b434466e9df68496ba433f6c",
      "value": "arbre",
      "confidence": "0.9371689558029175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d617800594ed45acb75f5a8a4f495452",
      "value": "région sauvage",
      "confidence": "0.916528582572937"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d429dc9670a54d3698231c8d980c2c1d",
      "value": "Paysage naturel",
      "confidence": "0.8868272304534912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef161a5ed29e423fa8dca1f4d8e119a8",
      "value": "végétation",
      "confidence": "0.8736529350280762"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6d2c2a4200340c8ac0f57df2ddff570",
      "value": "écorégion",
      "confidence": "0.8628140687942505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a36656f1c0cb4be0b0f391f7d9fbfc31",
      "value": "région montagneuse",
      "confidence": "0.8616881370544434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f4eb6a725b54511a86452cacdaef9c8",
      "value": "terrain",
      "confidence": "0.7822532653808594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5cc11d9fc9af43fa818f4b1a2d040cad",
      "value": "nuages",
      "confidence": "0.7208232879638672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6dba068b11bc40a38072a0435ffbf285",
      "value": "coucher de soleil",
      "confidence": "0.7151875495910645"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd6fd4eb59854febb5c5e198387f479c",
      "value": "nuage",
      "confidence": "0.6927176713943481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b07ff0ad15c54e1c9e0d03acc0e27c60",
      "value": "colline",
      "confidence": "0.6257984042167664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/116842b2443e460e9af299ffbed015b5",
      "value": "lever de soleil",
      "confidence": "0.44936421513557434"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f92d0b3a44fe4dfcba681c8f28289020",
      "value": "automne",
      "confidence": "0.4387212097644806"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panorama from the Heights of Pai #4</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama du dessus des hauteurs de Pai #4</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque landscape in Pai, Thailand. It features lush green hills covered with dense vegetation, with mountains in the background. The sky is partially cloudy, creating a dramatic contrast with the sunlight illuminating parts of the landscape."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage pittoresque à Pai, en Thaïlande. On y voit des collines verdoyantes recouvertes de végétation dense, avec des montagnes en arrière-plan. Le ciel est partiellement nuageux, créant un contraste dramatique avec la lumière du soleil qui éclaire certaines parties du paysage."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #Nature #Mountains #Sunset #ScenicView #Travel #Wilderness]]></Value>
      <Value Culture="fr"><![CDATA[#paysage #nature #montagnes #Thaïlande #voyage #aventure #scenic]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d9fb9897-2945-4b68-b25f-21e014598c15",
    "mediaKey": "b93068ff-46db-4b32-b2fe-6439b8a91aae"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les collines verdoyantes et les montagnes majestueuses de Pai, en Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama des Hauteurs de Pai #4]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panorama from the Heights of Pai #4]]></Value>
      <Value Culture="fr"><![CDATA[Panorama des Hauteurs de Pai #4]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/3-from-the-heights-of-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/3-from-the-heights-of-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "landscape",
  "nature",
  "mountains",
  "hills",
  "vegetation",
  "sky",
  "clouds",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "paysage",
  "nature",
  "montagnes",
  "collines",
  "végétation",
  "ciel",
  "nuages",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les collines verdoyantes et les montagnes majestueuses de Pai, en Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panorama from the Heights of Pai #4]]></Value>
      <Value Culture="fr"><![CDATA[Panorama des Hauteurs de Pai #4]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>