<?xml version="1.0" encoding="utf-8"?>
<Content Key="864aac0f-dcf6-4ec4-a134-6dfb9c14be77" Alias="Panorama sur le quartier européen" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/PanoramaSurLeQuartierEuropeen</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Panorama sur le quartier européen">
      <Name Culture="en">Panorama of the European Quarter</Name>
      <Name Culture="fr">Panorama sur le quartier européen</Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/55d55c98623d44bab6858592bee5269f"
      },
      {
        "contentUdi": "umb://element/336e855a7335435e915c25712b9e93cf"
      },
      {
        "contentUdi": "umb://element/baf7c788cc3d4d98a01921007555375e"
      },
      {
        "contentUdi": "umb://element/f1f6b90f94fd42d596b49e2e28fc0271"
      },
      {
        "contentUdi": "umb://element/3f5222e6afa643ab90d7d0b35d10db9a"
      },
      {
        "contentUdi": "umb://element/bd09349d874b4cfdaa7a99da5b472561"
      },
      {
        "contentUdi": "umb://element/395244b7fefe4da39e4e0e1b69f01fdc"
      },
      {
        "contentUdi": "umb://element/f150b9ddd50649a786e41bcd89a3c23d"
      },
      {
        "contentUdi": "umb://element/bdb85ad7b1e64d3080b52a6b98623872"
      },
      {
        "contentUdi": "umb://element/1180d6d8b27748beaf84a376ea6d6ae4"
      },
      {
        "contentUdi": "umb://element/b4464cbc0efd4792a6e201f79c98e682"
      },
      {
        "contentUdi": "umb://element/c726878b5766466c83a61f0919ce2a8f"
      },
      {
        "contentUdi": "umb://element/182b3097c51d4d5a8cce3c0e27e79c1f"
      },
      {
        "contentUdi": "umb://element/3c4f5b325e1a49c7b2b1ad87296cf973"
      },
      {
        "contentUdi": "umb://element/ea10e1a4cd694f059b4684bbe0c3029c"
      },
      {
        "contentUdi": "umb://element/9a61b747a8e14c2f90d6c16640a8d309"
      },
      {
        "contentUdi": "umb://element/72a1faa4457742eb82056884e9bbb425"
      },
      {
        "contentUdi": "umb://element/a2aaf7c30fea445ea5d6a450048df0ac"
      },
      {
        "contentUdi": "umb://element/bce3b2b470a94dd9a8e1520687b48668"
      },
      {
        "contentUdi": "umb://element/a53af2187be4494c8b46d02daab1a863"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55d55c98623d44bab6858592bee5269f",
      "value": "plein air",
      "confidence": "0.9990488886833191"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/336e855a7335435e915c25712b9e93cf",
      "value": "nuage",
      "confidence": "0.9919549226760864"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/baf7c788cc3d4d98a01921007555375e",
      "value": "arbre",
      "confidence": "0.9772851467132568"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1f6b90f94fd42d596b49e2e28fc0271",
      "value": "Tour de grande hauteur",
      "confidence": "0.9680535793304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f5222e6afa643ab90d7d0b35d10db9a",
      "value": "ciel",
      "confidence": "0.9539195895195007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd09349d874b4cfdaa7a99da5b472561",
      "value": "horizon",
      "confidence": "0.9511368274688721"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/395244b7fefe4da39e4e0e1b69f01fdc",
      "value": "Zone urbaine",
      "confidence": "0.9468772411346436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f150b9ddd50649a786e41bcd89a3c23d",
      "value": "Zone métropolitaine",
      "confidence": "0.9465157985687256"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdb85ad7b1e64d3080b52a6b98623872",
      "value": "Métropole",
      "confidence": "0.9377970099449158"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1180d6d8b27748beaf84a376ea6d6ae4",
      "value": "paysage urbain",
      "confidence": "0.9258713722229004"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4464cbc0efd4792a6e201f79c98e682",
      "value": "Copropriété",
      "confidence": "0.9077738523483276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c726878b5766466c83a61f0919ce2a8f",
      "value": "Usage mixte",
      "confidence": "0.8975411653518677"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/182b3097c51d4d5a8cce3c0e27e79c1f",
      "value": "centre-ville",
      "confidence": "0.8944240808486938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c4f5b325e1a49c7b2b1ad87296cf973",
      "value": "Bâtiment commercial",
      "confidence": "0.889468252658844"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea10e1a4cd694f059b4684bbe0c3029c",
      "value": "appartement",
      "confidence": "0.8873404264450073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a61b747a8e14c2f90d6c16640a8d309",
      "value": "heure du jour",
      "confidence": "0.8723730444908142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72a1faa4457742eb82056884e9bbb425",
      "value": "bâtiment",
      "confidence": "0.8655182123184204"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a2aaf7c30fea445ea5d6a450048df0ac",
      "value": "Conception urbaine",
      "confidence": "0.8509377837181091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bce3b2b470a94dd9a8e1520687b48668",
      "value": "ville",
      "confidence": "0.5279772877693176"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a53af2187be4494c8b46d02daab1a863",
      "value": "gratte-ciel",
      "confidence": "0.40862518548965454"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c0ade439ba9c44a1b98e49482f6d0ebb"
      },
      {
        "contentUdi": "umb://element/bd692879db9641d896b5de1899615336"
      },
      {
        "contentUdi": "umb://element/af126f95e03944beb73e5c188091b693"
      },
      {
        "contentUdi": "umb://element/5d76a1ed36c84a1480014292ef939c1d"
      },
      {
        "contentUdi": "umb://element/8af88bae6d0f46b1ad4b2f9df65ed205"
      },
      {
        "contentUdi": "umb://element/8207bf661ac148d0810c6a07393feaaf"
      },
      {
        "contentUdi": "umb://element/633cfbebc01e40c989143ab2354491d2"
      },
      {
        "contentUdi": "umb://element/2233b61ad0f24caf9e41d42a962426e0"
      },
      {
        "contentUdi": "umb://element/f637a236454d43ad843be5c866f2f930"
      },
      {
        "contentUdi": "umb://element/da93f8bc58ae47f9a26ed68f7f379cea"
      },
      {
        "contentUdi": "umb://element/b7891238fbb24306b527069c5010a830"
      },
      {
        "contentUdi": "umb://element/fcc25f00320043ae99f7fb62299aa4d6"
      },
      {
        "contentUdi": "umb://element/63c253d0b8a443aaa161734b3c85d963"
      },
      {
        "contentUdi": "umb://element/35ff7da7d475445ab6aa4386903d7e2b"
      },
      {
        "contentUdi": "umb://element/ac3180a9c31a46688b34442dd38e1d6b"
      },
      {
        "contentUdi": "umb://element/639601ed05af407a829475f144b64a3c"
      },
      {
        "contentUdi": "umb://element/3f20ce3d7033497c91b33e9354445865"
      },
      {
        "contentUdi": "umb://element/1f34501171a8414fa591f2f66968fc1d"
      },
      {
        "contentUdi": "umb://element/2b47bd056f584d0e8e88c65b5f07aa8c"
      },
      {
        "contentUdi": "umb://element/ec16a11d97d74d3a817dec779f2b4e22"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c0ade439ba9c44a1b98e49482f6d0ebb",
      "value": "plein air",
      "confidence": "0.9990488886833191"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd692879db9641d896b5de1899615336",
      "value": "nuage",
      "confidence": "0.9919549226760864"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/af126f95e03944beb73e5c188091b693",
      "value": "arbre",
      "confidence": "0.9772851467132568"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d76a1ed36c84a1480014292ef939c1d",
      "value": "Tour de grande hauteur",
      "confidence": "0.9680535793304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8af88bae6d0f46b1ad4b2f9df65ed205",
      "value": "ciel",
      "confidence": "0.9539195895195007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8207bf661ac148d0810c6a07393feaaf",
      "value": "horizon",
      "confidence": "0.9511368274688721"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/633cfbebc01e40c989143ab2354491d2",
      "value": "Zone urbaine",
      "confidence": "0.9468772411346436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2233b61ad0f24caf9e41d42a962426e0",
      "value": "Zone métropolitaine",
      "confidence": "0.9465157985687256"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f637a236454d43ad843be5c866f2f930",
      "value": "Métropole",
      "confidence": "0.9377970099449158"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da93f8bc58ae47f9a26ed68f7f379cea",
      "value": "paysage urbain",
      "confidence": "0.9258713722229004"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7891238fbb24306b527069c5010a830",
      "value": "Copropriété",
      "confidence": "0.9077738523483276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fcc25f00320043ae99f7fb62299aa4d6",
      "value": "Usage mixte",
      "confidence": "0.8975411653518677"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/63c253d0b8a443aaa161734b3c85d963",
      "value": "centre-ville",
      "confidence": "0.8944240808486938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35ff7da7d475445ab6aa4386903d7e2b",
      "value": "Bâtiment commercial",
      "confidence": "0.889468252658844"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac3180a9c31a46688b34442dd38e1d6b",
      "value": "appartement",
      "confidence": "0.8873404264450073"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/639601ed05af407a829475f144b64a3c",
      "value": "heure du jour",
      "confidence": "0.8723730444908142"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3f20ce3d7033497c91b33e9354445865",
      "value": "bâtiment",
      "confidence": "0.8655182123184204"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f34501171a8414fa591f2f66968fc1d",
      "value": "Conception urbaine",
      "confidence": "0.8509377837181091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b47bd056f584d0e8e88c65b5f07aa8c",
      "value": "ville",
      "confidence": "0.5279772877693176"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec16a11d97d74d3a817dec779f2b4e22",
      "value": "gratte-ciel",
      "confidence": "0.40862518548965454"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Nest of Eurocrats!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Nid d'eurocrates !</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a panoramic view of Brussels, Belgium. You can see several modern buildings, including a large building with a glass facade and a dome-shaped structure. In the background, there are other skyscrapers and office buildings. In the foreground, there are trees and lower residential buildings."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue panoramique de Bruxelles, Belgique. On peut voir plusieurs bâtiments modernes, y compris un grand bâtiment avec une façade en verre et une structure en forme de dôme. En arrière-plan, il y a d'autres gratte-ciels et des immeubles de bureaux. Au premier plan, on aperçoit des arbres et des bâtiments résidentiels plus bas."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #Cityscape #EuropeanParliament #Architecture #ModernBuildings #Travel #UrbanLandscape]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #panorama #ville #gratteciel #dome #façadeenverre]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "ad5f43b0-f4b5-4f78-b61c-f895cb96c1d5",
    "mediaKey": "c09d0602-db4b-42de-b85e-4e1550759ed3"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Nid d'eurocrates !]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier Européen de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Panorama of the European Quarter of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier Européen de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/eu-area-of-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/eu-area-of-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "buildings",
  "panorama",
  "city",
  "skyscraper",
  "dome",
  "glass facade"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "bâtiments",
  "panorama",
  "ville",
  "gratte-ciel",
  "dôme",
  "façade en verre"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Nid d'eurocrates !]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Panorama of the European Quarter of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Panorama sur le Quartier Européen de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>