<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8627812-b527-454b-b6e0-ddc8351461bf" Alias="Parking de pirogues" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/ParkingDePirogues</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-02T13:20:58</CreateDate>
    <NodeName Default="Parking de pirogues">
      <Name Culture="en">Boat Parking</Name>
      <Name Culture="fr">Parking de pirogues</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74a2228c82c7452ca227cbfa54ba24c8"
      },
      {
        "contentUdi": "umb://element/0d1c450dd1a24753a9b7fc92b8ccc55f"
      },
      {
        "contentUdi": "umb://element/081d33d6a3c24b5c976e165d425ac602"
      },
      {
        "contentUdi": "umb://element/aa208245d24f460c8190e5b64931d7c7"
      },
      {
        "contentUdi": "umb://element/f912de125d934546abea736ccea5a79f"
      },
      {
        "contentUdi": "umb://element/1492b65416284d2bb3135e863e0e16d5"
      },
      {
        "contentUdi": "umb://element/cd972a00b8c347b3b92d209f978dd638"
      },
      {
        "contentUdi": "umb://element/6e5a6cb716fe4126b858b8c5a08d3f11"
      },
      {
        "contentUdi": "umb://element/297d2d51d8cf43a8a97be6527257a4ee"
      },
      {
        "contentUdi": "umb://element/4b19af2a6d4b49b5a0add2721879e6fb"
      },
      {
        "contentUdi": "umb://element/611de85b9eaf40fdbce53527a4cc636e"
      },
      {
        "contentUdi": "umb://element/0d9910b2c722458e9d649c9600894277"
      },
      {
        "contentUdi": "umb://element/5e2578ea8c2e475ea22c4305366fb6d4"
      },
      {
        "contentUdi": "umb://element/440f93a5b02f4694bd0ab1c7308e9e0a"
      },
      {
        "contentUdi": "umb://element/ea4af6f8e257409390e36826b097eeeb"
      },
      {
        "contentUdi": "umb://element/3eef44162c25469fb3cb1fe5144c4dda"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74a2228c82c7452ca227cbfa54ba24c8",
      "value": "plein air",
      "confidence": "0.9994430541992188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d1c450dd1a24753a9b7fc92b8ccc55f",
      "value": "nuage",
      "confidence": "0.9971091747283936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/081d33d6a3c24b5c976e165d425ac602",
      "value": "eau",
      "confidence": "0.9691672325134277"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa208245d24f460c8190e5b64931d7c7",
      "value": "coucher de soleil",
      "confidence": "0.9257045984268188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f912de125d934546abea736ccea5a79f",
      "value": "plage",
      "confidence": "0.9235162734985352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1492b65416284d2bb3135e863e0e16d5",
      "value": "nature",
      "confidence": "0.9218963980674744"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd972a00b8c347b3b92d209f978dd638",
      "value": "horizon",
      "confidence": "0.9127374291419983"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e5a6cb716fe4126b858b8c5a08d3f11",
      "value": "sol",
      "confidence": "0.901879072189331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/297d2d51d8cf43a8a97be6527257a4ee",
      "value": "bateau",
      "confidence": "0.8400896191596985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b19af2a6d4b49b5a0add2721879e6fb",
      "value": "soleil",
      "confidence": "0.8270610570907593"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/611de85b9eaf40fdbce53527a4cc636e",
      "value": "rive",
      "confidence": "0.8239220380783081"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d9910b2c722458e9d649c9600894277",
      "value": "paysage",
      "confidence": "0.7188848257064819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e2578ea8c2e475ea22c4305366fb6d4",
      "value": "personnes",
      "confidence": "0.6475780010223389"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/440f93a5b02f4694bd0ab1c7308e9e0a",
      "value": "groupe",
      "confidence": "0.6459588408470154"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea4af6f8e257409390e36826b097eeeb",
      "value": "ciel",
      "confidence": "0.5418193936347961"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3eef44162c25469fb3cb1fe5144c4dda",
      "value": "sable",
      "confidence": "0.42287176847457886"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74a2228c82c7452ca227cbfa54ba24c8"
      },
      {
        "contentUdi": "umb://element/0d1c450dd1a24753a9b7fc92b8ccc55f"
      },
      {
        "contentUdi": "umb://element/081d33d6a3c24b5c976e165d425ac602"
      },
      {
        "contentUdi": "umb://element/aa208245d24f460c8190e5b64931d7c7"
      },
      {
        "contentUdi": "umb://element/f912de125d934546abea736ccea5a79f"
      },
      {
        "contentUdi": "umb://element/1492b65416284d2bb3135e863e0e16d5"
      },
      {
        "contentUdi": "umb://element/cd972a00b8c347b3b92d209f978dd638"
      },
      {
        "contentUdi": "umb://element/6e5a6cb716fe4126b858b8c5a08d3f11"
      },
      {
        "contentUdi": "umb://element/297d2d51d8cf43a8a97be6527257a4ee"
      },
      {
        "contentUdi": "umb://element/4b19af2a6d4b49b5a0add2721879e6fb"
      },
      {
        "contentUdi": "umb://element/611de85b9eaf40fdbce53527a4cc636e"
      },
      {
        "contentUdi": "umb://element/0d9910b2c722458e9d649c9600894277"
      },
      {
        "contentUdi": "umb://element/5e2578ea8c2e475ea22c4305366fb6d4"
      },
      {
        "contentUdi": "umb://element/440f93a5b02f4694bd0ab1c7308e9e0a"
      },
      {
        "contentUdi": "umb://element/ea4af6f8e257409390e36826b097eeeb"
      },
      {
        "contentUdi": "umb://element/3eef44162c25469fb3cb1fe5144c4dda"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74a2228c82c7452ca227cbfa54ba24c8",
      "value": "plein air",
      "confidence": "0.9994430541992188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d1c450dd1a24753a9b7fc92b8ccc55f",
      "value": "nuage",
      "confidence": "0.9971091747283936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/081d33d6a3c24b5c976e165d425ac602",
      "value": "eau",
      "confidence": "0.9691672325134277"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa208245d24f460c8190e5b64931d7c7",
      "value": "coucher de soleil",
      "confidence": "0.9257045984268188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f912de125d934546abea736ccea5a79f",
      "value": "plage",
      "confidence": "0.9235162734985352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1492b65416284d2bb3135e863e0e16d5",
      "value": "nature",
      "confidence": "0.9218963980674744"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd972a00b8c347b3b92d209f978dd638",
      "value": "horizon",
      "confidence": "0.9127374291419983"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e5a6cb716fe4126b858b8c5a08d3f11",
      "value": "sol",
      "confidence": "0.901879072189331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/297d2d51d8cf43a8a97be6527257a4ee",
      "value": "bateau",
      "confidence": "0.8400896191596985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b19af2a6d4b49b5a0add2721879e6fb",
      "value": "soleil",
      "confidence": "0.8270610570907593"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/611de85b9eaf40fdbce53527a4cc636e",
      "value": "rive",
      "confidence": "0.8239220380783081"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d9910b2c722458e9d649c9600894277",
      "value": "paysage",
      "confidence": "0.7188848257064819"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e2578ea8c2e475ea22c4305366fb6d4",
      "value": "personnes",
      "confidence": "0.6475780010223389"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/440f93a5b02f4694bd0ab1c7308e9e0a",
      "value": "groupe",
      "confidence": "0.6459588408470154"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea4af6f8e257409390e36826b097eeeb",
      "value": "ciel",
      "confidence": "0.5418193936347961"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3eef44162c25469fb3cb1fe5144c4dda",
      "value": "sable",
      "confidence": "0.42287176847457886"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Boat parking, the smell of an imminent return, and the chance to round off the day for the friendly captains.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Parking de pirogues, l'odeur du retour imminent et l'occasion d'arrondir sa fin de journée pour les sympathiques capitaines.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The photo shows a beautiful beach in Rai Leh, Thailand, at sunset. The sky is partially cloudy with golden and orange hues. Several traditional Thai boats are anchored near the shore. A few people are strolling and playing on the wet sand, reflecting the light of the setting sun."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "La photo montre une plage magnifique à Rai Leh, en Thaïlande, au coucher du soleil. Le ciel est partiellement nuageux avec des teintes dorées et orangées. Plusieurs bateaux traditionnels thaïlandais sont ancrés près du rivage. Quelques personnes se promènent et jouent sur le sable humide, reflétant la lumière du soleil couchant."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #Sunset #BeachLife #Travel #Nature #Scenic #Peaceful #Vacation #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #Thaïlande #RaiLeh #bateaux #mer #vacances]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "580be6b4-1616-4607-8d8c-143aeab806af",
    "mediaKey": "87b42884-8837-4f7f-aed8-8b157b1c87ad"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme des plages thaïlandaises au coucher du soleil, où les pirogues traditionnelles attendent paisiblement leur prochain voyage.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme des plages thaïlandaises au coucher du soleil, où les pirogues traditionnelles attendent paisiblement leur prochain voyage.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Boat parking at sunset in Rai Leh]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil à Rai Leh: Le Parking des Pirogues]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/infinity-is-ahead-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/infinity-is-ahead-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "sunset",
  "boats",
  "Thailand",
  "Rai Leh",
  "sea",
  "clouds",
  "sand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "bateaux",
  "Thaïlande",
  "Rai Leh",
  "mer",
  "nuages",
  "sable"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme des plages thaïlandaises au coucher du soleil, où les pirogues traditionnelles attendent paisiblement leur prochain voyage.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Boat parking at sunset in Rai Leh]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil à Rai Leh: Le Parking des Pirogues]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>