<?xml version="1.0" encoding="utf-8"?>
<Content Key="21f64eec-5011-4609-a773-09e0529103fb" Alias="Passerelle vers un vivier de poissons-chats" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PasserelleVersUnVivierDePoissonsChats</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T17:51:45</CreateDate>
    <NodeName Default="Passerelle vers un vivier de poissons-chats">
      <Name Culture="en">Gateway to a Catfish Pond</Name>
      <Name Culture="fr">Passerelle vers un vivier de poissons-chats</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0bf33054ce3645efbeea17c9df34bbe6"
      },
      {
        "contentUdi": "umb://element/ad2e1e4a0db24535b267e1f011d211af"
      },
      {
        "contentUdi": "umb://element/92a28a2206d54c86baa77e25dae81791"
      },
      {
        "contentUdi": "umb://element/3ed5f09b31764dee809053be4a12b418"
      },
      {
        "contentUdi": "umb://element/24d70801a2be44cfae28e5513b7f7fd6"
      },
      {
        "contentUdi": "umb://element/788c76c18bb24b659a5e56e46ab9ab6e"
      },
      {
        "contentUdi": "umb://element/a84ac9caef33431499cb6dbb8c60f190"
      },
      {
        "contentUdi": "umb://element/cde057b16cc84649a11bf59e167a2487"
      },
      {
        "contentUdi": "umb://element/a5748ad2d895455bad765b1998a92ca7"
      },
      {
        "contentUdi": "umb://element/1845a8fe639f4220ad12e69a2ce3fdcf"
      },
      {
        "contentUdi": "umb://element/4dfcf7b81f9549a8bca5fce5792f8ede"
      },
      {
        "contentUdi": "umb://element/0405f5c9d39d43568489a3f1ee3916ef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bf33054ce3645efbeea17c9df34bbe6",
      "value": "plein air",
      "confidence": "0.9964295625686646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad2e1e4a0db24535b267e1f011d211af",
      "value": "ciel",
      "confidence": "0.9945247173309326"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92a28a2206d54c86baa77e25dae81791",
      "value": "arbre",
      "confidence": "0.9904215931892395"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ed5f09b31764dee809053be4a12b418",
      "value": "nuage",
      "confidence": "0.9866199493408203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24d70801a2be44cfae28e5513b7f7fd6",
      "value": "plante",
      "confidence": "0.9254213571548462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/788c76c18bb24b659a5e56e46ab9ab6e",
      "value": "palmier",
      "confidence": "0.8902426958084106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a84ac9caef33431499cb6dbb8c60f190",
      "value": "jaune",
      "confidence": "0.7871471643447876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cde057b16cc84649a11bf59e167a2487",
      "value": "plage",
      "confidence": "0.6889629364013672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5748ad2d895455bad765b1998a92ca7",
      "value": "pont",
      "confidence": "0.6549153923988342"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1845a8fe639f4220ad12e69a2ce3fdcf",
      "value": "vacances",
      "confidence": "0.640133798122406"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4dfcf7b81f9549a8bca5fce5792f8ede",
      "value": "sol",
      "confidence": "0.624850332736969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0405f5c9d39d43568489a3f1ee3916ef",
      "value": "promenade en planches",
      "confidence": "0.4850541949272156"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0bf33054ce3645efbeea17c9df34bbe6"
      },
      {
        "contentUdi": "umb://element/ad2e1e4a0db24535b267e1f011d211af"
      },
      {
        "contentUdi": "umb://element/92a28a2206d54c86baa77e25dae81791"
      },
      {
        "contentUdi": "umb://element/3ed5f09b31764dee809053be4a12b418"
      },
      {
        "contentUdi": "umb://element/24d70801a2be44cfae28e5513b7f7fd6"
      },
      {
        "contentUdi": "umb://element/788c76c18bb24b659a5e56e46ab9ab6e"
      },
      {
        "contentUdi": "umb://element/a84ac9caef33431499cb6dbb8c60f190"
      },
      {
        "contentUdi": "umb://element/cde057b16cc84649a11bf59e167a2487"
      },
      {
        "contentUdi": "umb://element/a5748ad2d895455bad765b1998a92ca7"
      },
      {
        "contentUdi": "umb://element/1845a8fe639f4220ad12e69a2ce3fdcf"
      },
      {
        "contentUdi": "umb://element/4dfcf7b81f9549a8bca5fce5792f8ede"
      },
      {
        "contentUdi": "umb://element/0405f5c9d39d43568489a3f1ee3916ef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bf33054ce3645efbeea17c9df34bbe6",
      "value": "plein air",
      "confidence": "0.9964295625686646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad2e1e4a0db24535b267e1f011d211af",
      "value": "ciel",
      "confidence": "0.9945247173309326"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92a28a2206d54c86baa77e25dae81791",
      "value": "arbre",
      "confidence": "0.9904215931892395"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ed5f09b31764dee809053be4a12b418",
      "value": "nuage",
      "confidence": "0.9866199493408203"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24d70801a2be44cfae28e5513b7f7fd6",
      "value": "plante",
      "confidence": "0.9254213571548462"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/788c76c18bb24b659a5e56e46ab9ab6e",
      "value": "palmier",
      "confidence": "0.8902426958084106"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a84ac9caef33431499cb6dbb8c60f190",
      "value": "jaune",
      "confidence": "0.7871471643447876"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cde057b16cc84649a11bf59e167a2487",
      "value": "plage",
      "confidence": "0.6889629364013672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5748ad2d895455bad765b1998a92ca7",
      "value": "pont",
      "confidence": "0.6549153923988342"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1845a8fe639f4220ad12e69a2ce3fdcf",
      "value": "vacances",
      "confidence": "0.640133798122406"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4dfcf7b81f9549a8bca5fce5792f8ede",
      "value": "sol",
      "confidence": "0.624850332736969"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0405f5c9d39d43568489a3f1ee3916ef",
      "value": "promenade en planches",
      "confidence": "0.4850541949272156"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bridge leading to a catfish pond</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Passerelle menant à un vivier de poissons-chats</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a wooden bridge decorated with hanging yellow lanterns, located in Sukhothai, Thailand. The bridge crosses a body of water and is surrounded by palm trees and traditional Thai buildings with red tile roofs. The sky is clear, adding a touch of serenity to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un pont en bois décoré de lanternes jaunes suspendues, situé à Sukhotai, en Thaïlande. Le pont traverse un plan d'eau et est entouré de palmiers et de bâtiments traditionnels thaïlandais avec des toits en tuiles rouges. Le ciel est dégagé, ajoutant une touche de sérénité à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #ScenicView #Lanterns #TraditionalArchitecture #Travel #Nature #Festive #ClearSky]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhotai #Thaïlande #lanternes #pontenbois #voyage #photographie #architecturetraditionnelle]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "68d4b767-5745-4b1e-b3f7-87be9ffc2126",
    "mediaKey": "42e3dc69-8ea6-4be3-b7e2-7c425da46131"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhotai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhotai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine d'un pont en bois orné de lanternes jaunes à Sukhotai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine d'un pont en bois orné de lanternes jaunes à Sukhotai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Enchanted Bridge to a Catfish Pond]]></Value>
      <Value Culture="fr"><![CDATA[Passerelle Enchantée vers un Vivier de Poissons-Chats]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bridge-to-the-catfishes-pond-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bridge-to-the-catfishes-pond-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "wooden bridge",
  "yellow lanterns",
  "Sukhothai",
  "Thailand",
  "palm trees",
  "traditional buildings",
  "body of water",
  "clear sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "pont en bois",
  "lanternes jaunes",
  "Sukhotai",
  "Thaïlande",
  "palmiers",
  "bâtiments traditionnels",
  "plan d'eau",
  "ciel dégagé"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine d'un pont en bois orné de lanternes jaunes à Sukhotai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Enchanted Bridge to a Catfish Pond]]></Value>
      <Value Culture="fr"><![CDATA[Passerelle Enchantée vers un Vivier de Poissons-Chats]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>