<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbd58fb8-1937-4e55-8ade-b7fe074aa691" Alias="Patrouille de couleuvres" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PatrouilleDeCouleuvres</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Patrouille de couleuvres">
      <Name Culture="en">Snake Patrol</Name>
      <Name Culture="fr">Patrouille de couleuvres</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84c077796cee4ebc91da6f12f503a438"
      },
      {
        "contentUdi": "umb://element/873f5f3bf2194ffba8e84c6da6606b4a"
      },
      {
        "contentUdi": "umb://element/7b2195263b874ff48a7aab0453d51479"
      },
      {
        "contentUdi": "umb://element/46b4a08c7bd04f30869141d5132b38ef"
      },
      {
        "contentUdi": "umb://element/f2e208446b014cc4a79fdeccc7338217"
      },
      {
        "contentUdi": "umb://element/da817bc7683746e78343274359542b99"
      },
      {
        "contentUdi": "umb://element/b3d3c24154a94e67a0d308019bad9f89"
      },
      {
        "contentUdi": "umb://element/bf53435217684eaeb0c48badd3c56da3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84c077796cee4ebc91da6f12f503a438",
      "value": "animal",
      "confidence": "0.9995675086975098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/873f5f3bf2194ffba8e84c6da6606b4a",
      "value": "mammifère",
      "confidence": "0.9970155954360962"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7b2195263b874ff48a7aab0453d51479",
      "value": "plein air",
      "confidence": "0.9904754757881165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/46b4a08c7bd04f30869141d5132b38ef",
      "value": "arbre",
      "confidence": "0.9859052896499634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f2e208446b014cc4a79fdeccc7338217",
      "value": "reptile",
      "confidence": "0.9791049957275391"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da817bc7683746e78343274359542b99",
      "value": "serpent",
      "confidence": "0.9629435539245605"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b3d3c24154a94e67a0d308019bad9f89",
      "value": "Reptile à écailles",
      "confidence": "0.9302588701248169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf53435217684eaeb0c48badd3c56da3",
      "value": "faune",
      "confidence": "0.6731799244880676"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1608187c3d34b84ac4646c5c26d82d2"
      },
      {
        "contentUdi": "umb://element/7231d631b5f446b9b943a9f1db655d64"
      },
      {
        "contentUdi": "umb://element/8848509e417f40aa9dfeb649c05b7a51"
      },
      {
        "contentUdi": "umb://element/2e88efc3924349e688961d4d40240a2d"
      },
      {
        "contentUdi": "umb://element/476b3443ce354f9f8fd193f9c649e24f"
      },
      {
        "contentUdi": "umb://element/55679124db2a436ca60f15de6f259e7b"
      },
      {
        "contentUdi": "umb://element/be91585839e14dcb9572fc04276debc5"
      },
      {
        "contentUdi": "umb://element/acd191dd63e74aafa3faf0941d218c1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1608187c3d34b84ac4646c5c26d82d2",
      "value": "animal",
      "confidence": "0.9995675086975098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7231d631b5f446b9b943a9f1db655d64",
      "value": "mammifère",
      "confidence": "0.9970155954360962"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8848509e417f40aa9dfeb649c05b7a51",
      "value": "plein air",
      "confidence": "0.9904754757881165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e88efc3924349e688961d4d40240a2d",
      "value": "arbre",
      "confidence": "0.9859052896499634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/476b3443ce354f9f8fd193f9c649e24f",
      "value": "reptile",
      "confidence": "0.9791049957275391"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55679124db2a436ca60f15de6f259e7b",
      "value": "serpent",
      "confidence": "0.9629435539245605"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be91585839e14dcb9572fc04276debc5",
      "value": "Reptile à écailles",
      "confidence": "0.9302588701248169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/acd191dd63e74aafa3faf0941d218c1a",
      "value": "faune",
      "confidence": "0.6731799244880676"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Adventure is adventure</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'aventure c'est l'aventure</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a snake moving through tree branches in dense vegetation. The snake has distinct patterned skin and appears to be actively engaged in its natural habitat. The photo was taken in Chiang Mai, Thailand."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un serpent se déplaçant à travers des branches d'arbres dans une végétation dense. Le serpent a une peau aux motifs distincts et semble être en pleine activité dans son habitat naturel. La photo a été prise à Chiang Mai, en Thaïlande."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#snake #wildlife #nature #ChiangMai #Thailand #foliage]]></Value>
      <Value Culture="fr"><![CDATA[#serpent #nature #Thaïlande #ChiangMai #végétation #faune]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "3c1937b7-304a-4bfc-a3e5-1c7aad5353c0",
    "mediaKey": "b47da441-b815-411a-9292-63e0a906a601"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'aventure c'est l'aventure]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'aventure c'est l'aventure]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Snake Patrol: An Adventure in the Wild]]></Value>
      <Value Culture="fr"><![CDATA[Patrouille Serpentine à Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/snake-farm-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/snake-farm-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "snake",
  "vegetation",
  "branches",
  "nature",
  "Thailand",
  "Chiang Mai"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "serpent",
  "végétation",
  "branches",
  "nature",
  "Thaïlande",
  "Chiang Mai"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'aventure c'est l'aventure]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Snake Patrol: An Adventure in the Wild]]></Value>
      <Value Culture="fr"><![CDATA[Patrouille Serpentine à Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>