<?xml version="1.0" encoding="utf-8"?>
<Content Key="346ae0b4-8745-4df0-a8f6-ca9d1cfe7f53" Alias="Pause clope" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/PauseClope</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Pause clope">
      <Name Culture="en">Smoke break</Name>
      <Name Culture="fr">Pause clope</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/06a5d0008f6e4b8eb43b4c5e2ce20d15"
      },
      {
        "contentUdi": "umb://element/7f19d719e095407cac455a44f82fa582"
      },
      {
        "contentUdi": "umb://element/3b6719e074ba4c1d881f8e8c2a4e41ab"
      },
      {
        "contentUdi": "umb://element/13e31551a822417f9c55d8c5964e3cd8"
      },
      {
        "contentUdi": "umb://element/9620c3df8d3e46b9986dc6b0e95e2f50"
      },
      {
        "contentUdi": "umb://element/004791bdd0764656b7bee7baa7dec952"
      },
      {
        "contentUdi": "umb://element/d36b7d6bf18a4649ba0b7d7b99cc332d"
      },
      {
        "contentUdi": "umb://element/892e99bc219b44aebe898ed9aed7b4a8"
      },
      {
        "contentUdi": "umb://element/b7946d6efa034fa9a6d076d757d90f0e"
      },
      {
        "contentUdi": "umb://element/d7a37e04eac746dab0185fa7dee9c0e5"
      },
      {
        "contentUdi": "umb://element/71faca3a3b10453abacdbe5ed4251056"
      },
      {
        "contentUdi": "umb://element/2969bb228dae4c63b1772da71a5884eb"
      },
      {
        "contentUdi": "umb://element/775018320e0e4bea82a196af78602142"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06a5d0008f6e4b8eb43b4c5e2ce20d15",
      "value": "bâtiment",
      "confidence": "0.986457347869873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f19d719e095407cac455a44f82fa582",
      "value": "Roue de vélo",
      "confidence": "0.9765793681144714"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b6719e074ba4c1d881f8e8c2a4e41ab",
      "value": "texte",
      "confidence": "0.9744951725006104"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13e31551a822417f9c55d8c5964e3cd8",
      "value": "Véhicule terrestre",
      "confidence": "0.9668921232223511"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9620c3df8d3e46b9986dc6b0e95e2f50",
      "value": "roue",
      "confidence": "0.9617599248886108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/004791bdd0764656b7bee7baa7dec952",
      "value": "plein air",
      "confidence": "0.9570932388305664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d36b7d6bf18a4649ba0b7d7b99cc332d",
      "value": "véhicule",
      "confidence": "0.9500168561935425"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/892e99bc219b44aebe898ed9aed7b4a8",
      "value": "vélo",
      "confidence": "0.9010766744613647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7946d6efa034fa9a6d076d757d90f0e",
      "value": "rue",
      "confidence": "0.6898525953292847"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7a37e04eac746dab0185fa7dee9c0e5",
      "value": "ville",
      "confidence": "0.6467363238334656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71faca3a3b10453abacdbe5ed4251056",
      "value": "garé",
      "confidence": "0.6095541715621948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2969bb228dae4c63b1772da71a5884eb",
      "value": "personne",
      "confidence": "0.6084997653961182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/775018320e0e4bea82a196af78602142",
      "value": "personnes",
      "confidence": "0.5641307830810547"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1fc98996dc054a499e7fb37cc5e9f308"
      },
      {
        "contentUdi": "umb://element/effb338b0a574f0bbc06ac183e12a4b4"
      },
      {
        "contentUdi": "umb://element/c47b35701dd74f57af098bb4e4cf22eb"
      },
      {
        "contentUdi": "umb://element/aef2eeaf99b2419786a6ab6cc32c6cfb"
      },
      {
        "contentUdi": "umb://element/c8c966bf3b31467eaa728c0ab03dbb32"
      },
      {
        "contentUdi": "umb://element/f03ace887329428c8c51ceca3afb360f"
      },
      {
        "contentUdi": "umb://element/b561042ead854292b9b4bfcc2f00378e"
      },
      {
        "contentUdi": "umb://element/2fb3e320861041be89027b8813c6534a"
      },
      {
        "contentUdi": "umb://element/0545cbfe76bb4f498141a5fb0b899ebb"
      },
      {
        "contentUdi": "umb://element/ae6bed1b4515498ab368a15331c3641a"
      },
      {
        "contentUdi": "umb://element/40f4a61c756949b6ab0e1707c236b2d9"
      },
      {
        "contentUdi": "umb://element/15b359a401f34c45a8b4fecfcb2141eb"
      },
      {
        "contentUdi": "umb://element/3c01e5cf6ce644719addae182ded6b63"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fc98996dc054a499e7fb37cc5e9f308",
      "value": "bâtiment",
      "confidence": "0.986457347869873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/effb338b0a574f0bbc06ac183e12a4b4",
      "value": "Roue de vélo",
      "confidence": "0.9765793681144714"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c47b35701dd74f57af098bb4e4cf22eb",
      "value": "texte",
      "confidence": "0.9744951725006104"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aef2eeaf99b2419786a6ab6cc32c6cfb",
      "value": "Véhicule terrestre",
      "confidence": "0.9668921232223511"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8c966bf3b31467eaa728c0ab03dbb32",
      "value": "roue",
      "confidence": "0.9617599248886108"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f03ace887329428c8c51ceca3afb360f",
      "value": "plein air",
      "confidence": "0.9570932388305664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b561042ead854292b9b4bfcc2f00378e",
      "value": "véhicule",
      "confidence": "0.9500168561935425"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fb3e320861041be89027b8813c6534a",
      "value": "vélo",
      "confidence": "0.9010766744613647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0545cbfe76bb4f498141a5fb0b899ebb",
      "value": "rue",
      "confidence": "0.6898525953292847"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ae6bed1b4515498ab368a15331c3641a",
      "value": "ville",
      "confidence": "0.6467363238334656"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40f4a61c756949b6ab0e1707c236b2d9",
      "value": "garé",
      "confidence": "0.6095541715621948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15b359a401f34c45a8b4fecfcb2141eb",
      "value": "personne",
      "confidence": "0.6084997653961182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c01e5cf6ce644719addae182ded6b63",
      "value": "personnes",
      "confidence": "0.5641307830810547"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A waiter takes a short break</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un garçon de café s'octroie une petite pause</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a street in Brussels, Belgium, with a café named 'L'Arenberg' in the background. In front of the café, several self-service bicycles are parked. Two people are visible, one of them is a waiter in uniform, and the other is a woman wearing a yellow coat. The café sign also displays beer brands like Stella Artois and Omer."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une rue à Bruxelles, Belgique, avec un café nommé 'L'Arenberg' en arrière-plan. Devant le café, plusieurs vélos en libre-service sont stationnés. Deux personnes sont visibles, l'une d'elles est un serveur en uniforme, et l'autre est une femme vêtue d'un manteau jaune. L'enseigne du café affiche également des marques de bière comme Stella Artois et Omer."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #Café #Bicycles #StreetScene #Architecture #European]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #café #vélos #rue #serveur #StellaArtois #Omer]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "59455e3f-bbf4-47a1-bc04-eec01d07399d",
    "mediaKey": "3e383a1d-0c69-48e0-8682-288b30ecf5c3"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un garçon de café s'accorde un moment de répit devant 'L'Arenberg'.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Pause clope à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Smoke break in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Pause clope à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/cigarette-pause-for-the-waiter-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/cigarette-pause-for-the-waiter-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "café",
  "bicycles",
  "street",
  "waiter",
  "pedestrian",
  "Stella Artois",
  "Omer"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "café",
  "vélos",
  "rue",
  "serveur",
  "piéton",
  "Stella Artois",
  "Omer"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un garçon de café s'accorde un moment de répit devant 'L'Arenberg'.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Smoke break in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Pause clope à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>