<?xml version="1.0" encoding="utf-8"?>
<Content Key="f43a193f-290a-4acb-a526-5ff8521057ce" Alias="pavots blancs #1" Level="104">
  <Info>
    <Parent Key="8583a9d2-380b-4c47-bec2-6f838f81eed8">Tchéquie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Tchequie/pavotsBlancs1</Path>
    <Trashed Parent="8583a9d2-380b-4c47-bec2-6f838f81eed8">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="pavots blancs #1">
      <Name Culture="en">white poppies #1</Name>
      <Name Culture="fr">pavots blancs #1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Sunrise over a field of white poppies</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lever de soleil sur un champ de pavots blancs</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a vast field of white flowers in full bloom, stretching as far as the eye can see. The landscape is hilly with lush green hills and a dense forest on the horizon. The sky is tinged with golden hues, suggesting a peaceful sunset."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un vaste champ de fleurs blanches en pleine floraison, s'étendant à perte de vue. Le paysage est vallonné avec des collines verdoyantes et une forêt dense à l'horizon. Le ciel est teinté de nuances dorées, suggérant un coucher de soleil paisible."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#nature #landscape #sunset #flowers #Tchéquie #serene #poppies]]></Value>
      <Value Culture="fr"><![CDATA[#nature #paysage #coucherdesoleil #fleurs #Tchéquie #serenité #photographie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "6ba00902-efa4-4733-8508-ded03966c126",
    "mediaKey": "22141615-af2a-45c3-9abe-7ae80ac6a090"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un champ de pavots blancs en pleine floraison sous un ciel doré.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil sur un Champ de Pavots Blancs]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunrise over a Field of White Poppies]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil sur un Champ de Pavots Blancs]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunrise-on-a-white-poppies-field-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunrise-on-a-white-poppies-field-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "field",
  "flowers",
  "hills",
  "forest",
  "sunset",
  "nature",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "champ",
  "fleurs",
  "collines",
  "forêt",
  "coucher de soleil",
  "nature",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un champ de pavots blancs en pleine floraison sous un ciel doré.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunrise over a Field of White Poppies]]></Value>
      <Value Culture="fr"><![CDATA[Lever de Soleil sur un Champ de Pavots Blancs]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>