<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a905af6-67ba-4cad-8a0b-65cf85be72b3" Alias="Petite pause salade" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PetitePauseSalade</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Petite pause salade">
      <Name Culture="en">Little Salad Break</Name>
      <Name Culture="fr">Petite pause salade</Name>
    </NodeName>
    <SortOrder>30</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/446de6993c89438aa16793de2a8d6a95"
      },
      {
        "contentUdi": "umb://element/19f4eda5ef9d465e9aa99da2d6a88ec8"
      },
      {
        "contentUdi": "umb://element/7a86ef20bb3f4ceea3acf2ba4e36e494"
      },
      {
        "contentUdi": "umb://element/277772344daa483f896de3fa60b7cd25"
      },
      {
        "contentUdi": "umb://element/d6a31dcfeb0d4299914c690e040491c5"
      },
      {
        "contentUdi": "umb://element/1218532ac4d24d669ee480b3948e05a5"
      },
      {
        "contentUdi": "umb://element/4e7ea5f838a94c289726fb181918e0b5"
      },
      {
        "contentUdi": "umb://element/4bda67155ace41fa86f7d4304d958de6"
      },
      {
        "contentUdi": "umb://element/dd18b523914d48b9b5474e67719717f7"
      },
      {
        "contentUdi": "umb://element/69c4c93a26314996b3c7b6ef397ca2e3"
      },
      {
        "contentUdi": "umb://element/1212d4c4ef1b401cb04739ccaf9e3135"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/446de6993c89438aa16793de2a8d6a95",
      "value": "plein air",
      "confidence": "0.99723219871521"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/19f4eda5ef9d465e9aa99da2d6a88ec8",
      "value": "éléphant",
      "confidence": "0.9781988859176636"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7a86ef20bb3f4ceea3acf2ba4e36e494",
      "value": "arbre",
      "confidence": "0.9736707210540771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/277772344daa483f896de3fa60b7cd25",
      "value": "équitation",
      "confidence": "0.9502407312393188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6a31dcfeb0d4299914c690e040491c5",
      "value": "eau",
      "confidence": "0.9296013116836548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1218532ac4d24d669ee480b3948e05a5",
      "value": "Éléphant indien",
      "confidence": "0.914423942565918"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4e7ea5f838a94c289726fb181918e0b5",
      "value": "Cornac",
      "confidence": "0.9136070013046265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4bda67155ace41fa86f7d4304d958de6",
      "value": "Éléphants et mammouths",
      "confidence": "0.9133226871490479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd18b523914d48b9b5474e67719717f7",
      "value": "éléphant d’Asie",
      "confidence": "0.9080672264099121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/69c4c93a26314996b3c7b6ef397ca2e3",
      "value": "personne",
      "confidence": "0.8176994919776917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1212d4c4ef1b401cb04739ccaf9e3135",
      "value": "rivière",
      "confidence": "0.8064972162246704"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0766291eeed8470798ccd7c2e4d5371e"
      },
      {
        "contentUdi": "umb://element/d1d64991f98e4af0a9c9d321a42b3ff7"
      },
      {
        "contentUdi": "umb://element/b2042a85ed794a6ca3801d0aff568cc7"
      },
      {
        "contentUdi": "umb://element/e7c4501fb16f439484eeb66137b17331"
      },
      {
        "contentUdi": "umb://element/99620c9bcd2e4eada874349366c1ab8d"
      },
      {
        "contentUdi": "umb://element/3611efc71f9249acaab16b050c43f261"
      },
      {
        "contentUdi": "umb://element/7254de1fc3064e2bb3c4c00459d6bdc4"
      },
      {
        "contentUdi": "umb://element/03ed9559ffee4db28dbce5b6e6fd0b55"
      },
      {
        "contentUdi": "umb://element/4d0f3b5df70042c4b70bace772f03ccd"
      },
      {
        "contentUdi": "umb://element/240dc4001a3943439ea14c8b6455b4c0"
      },
      {
        "contentUdi": "umb://element/376fe1da17144edfa4367ed83db863dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0766291eeed8470798ccd7c2e4d5371e",
      "value": "plein air",
      "confidence": "0.99723219871521"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d1d64991f98e4af0a9c9d321a42b3ff7",
      "value": "éléphant",
      "confidence": "0.9781988859176636"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2042a85ed794a6ca3801d0aff568cc7",
      "value": "arbre",
      "confidence": "0.9736707210540771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7c4501fb16f439484eeb66137b17331",
      "value": "équitation",
      "confidence": "0.9502407312393188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99620c9bcd2e4eada874349366c1ab8d",
      "value": "eau",
      "confidence": "0.9296013116836548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3611efc71f9249acaab16b050c43f261",
      "value": "Éléphant indien",
      "confidence": "0.914423942565918"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7254de1fc3064e2bb3c4c00459d6bdc4",
      "value": "Cornac",
      "confidence": "0.9136070013046265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03ed9559ffee4db28dbce5b6e6fd0b55",
      "value": "Éléphants et mammouths",
      "confidence": "0.9133226871490479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d0f3b5df70042c4b70bace772f03ccd",
      "value": "éléphant d’Asie",
      "confidence": "0.9080672264099121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/240dc4001a3943439ea14c8b6455b4c0",
      "value": "personne",
      "confidence": "0.8176994919776917"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/376fe1da17144edfa4367ed83db863dd",
      "value": "rivière",
      "confidence": "0.8064972162246704"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Elephant Ride</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Balade en éléphant</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an elephant walking in a shallow river with three people sitting on its back in a wooden chair. The elephant is guided by a mahout (elephant trainer) and is in a natural environment with dense vegetation in the background. The scene takes place in Chiang Mai, Thailand."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un éléphant marchant dans une rivière peu profonde avec trois personnes assises sur son dos dans une chaise en bois. L'éléphant est guidé par un mahout (dresseur d'éléphants) et se trouve dans un environnement naturel avec une végétation dense en arrière-plan. La scène se déroule à Chiang Mai, en Thaïlande."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#elephantride #ChiangMai #Thailand #nature #adventure #travel]]></Value>
      <Value Culture="fr"><![CDATA[#éléphant #rivière #ChiangMai #Thaïlande #nature #aventure #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f3169c2f-816a-49b1-82d9-3317dd8b3bdb",
    "mediaKey": "badb885c-9c33-49df-b57b-5fef8f85bfdf"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mail, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mail, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une scène pittoresque où un éléphant majestueux traverse une rivière peu profonde avec des passagers à bord, guidé par un mahout expérimenté.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une scène pittoresque où un éléphant majestueux traverse une rivière peu profonde avec des passagers à bord, guidé par un mahout expérimenté.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Elephant Escape in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Balade en Éléphant à Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/some-salad--crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/some-salad--crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "elephant",
  "river",
  "people",
  "wooden chair",
  "mahout",
  "vegetation",
  "nature",
  "Chiang Mai",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "éléphant",
  "rivière",
  "personnes",
  "chaise en bois",
  "mahout",
  "végétation",
  "nature",
  "Chiang Mai",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une scène pittoresque où un éléphant majestueux traverse une rivière peu profonde avec des passagers à bord, guidé par un mahout expérimenté.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Elephant Escape in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Balade en Éléphant à Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>