<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ee1cbc0-475f-4009-8aef-5975feedbfee" Alias="Petrified Male Fantasy" Level="7">
  <Info>
    <Parent Key="806cf339-aaa9-451c-b36d-e9c0a8cc377f">Parks and Nature</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/ParksAndNature/PetrifiedMaleFantasy</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T18:54:44</CreateDate>
    <NodeName Default="Petrified Male Fantasy">
      <Name Culture="en">Petrified Male Fantasy</Name>
      <Name Culture="fr">Fantasme masculin pétrifié</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/24b5666373ab44bc9e427e09aa2b69c7"
      },
      {
        "contentUdi": "umb://element/17bfc38f0aaf4e868a8cbf61d2dfca9e"
      },
      {
        "contentUdi": "umb://element/8dca06be2ceb4fcf8667b20d5a24d2fd"
      },
      {
        "contentUdi": "umb://element/a56f1d633cc44147ade11f2576ae80aa"
      },
      {
        "contentUdi": "umb://element/6d51bfe3fe654f00a027ebe1da8fbf8d"
      },
      {
        "contentUdi": "umb://element/d429980891b34d9db4395b5f9ed4b33d"
      },
      {
        "contentUdi": "umb://element/76d1715400da496ab3f93febe0b7f129"
      },
      {
        "contentUdi": "umb://element/d2c3e8611bf14350bcd29d9e4c18a7d2"
      },
      {
        "contentUdi": "umb://element/e5b21fbd5bc5485bb2c0da075d67ff8c"
      },
      {
        "contentUdi": "umb://element/27f65e55eac14fb59e6c33abe2968615"
      },
      {
        "contentUdi": "umb://element/aab88b0fd00c453cbe8f3ded62589ff1"
      },
      {
        "contentUdi": "umb://element/a5ce4a1429db41d793be3bb23f5c7477"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b5666373ab44bc9e427e09aa2b69c7",
      "value": "plein air",
      "confidence": "0.9933182001113892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17bfc38f0aaf4e868a8cbf61d2dfca9e",
      "value": "nuage",
      "confidence": "0.9902784824371338"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8dca06be2ceb4fcf8667b20d5a24d2fd",
      "value": "grave",
      "confidence": "0.9891316890716553"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a56f1d633cc44147ade11f2576ae80aa",
      "value": "cimetière",
      "confidence": "0.9840613603591919"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d51bfe3fe654f00a027ebe1da8fbf8d",
      "value": "ciel",
      "confidence": "0.980195164680481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d429980891b34d9db4395b5f9ed4b33d",
      "value": "arbre",
      "confidence": "0.9519521594047546"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/76d1715400da496ab3f93febe0b7f129",
      "value": "statue",
      "confidence": "0.9431938529014587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2c3e8611bf14350bcd29d9e4c18a7d2",
      "value": "bâtiment",
      "confidence": "0.9370872974395752"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5b21fbd5bc5485bb2c0da075d67ff8c",
      "value": "plante",
      "confidence": "0.9354320764541626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27f65e55eac14fb59e6c33abe2968615",
      "value": "mémorial",
      "confidence": "0.9237473011016846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aab88b0fd00c453cbe8f3ded62589ff1",
      "value": "monument",
      "confidence": "0.8982340097427368"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5ce4a1429db41d793be3bb23f5c7477",
      "value": "pierre tombale",
      "confidence": "0.5593774914741516"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/24b5666373ab44bc9e427e09aa2b69c7"
      },
      {
        "contentUdi": "umb://element/17bfc38f0aaf4e868a8cbf61d2dfca9e"
      },
      {
        "contentUdi": "umb://element/8dca06be2ceb4fcf8667b20d5a24d2fd"
      },
      {
        "contentUdi": "umb://element/a56f1d633cc44147ade11f2576ae80aa"
      },
      {
        "contentUdi": "umb://element/6d51bfe3fe654f00a027ebe1da8fbf8d"
      },
      {
        "contentUdi": "umb://element/d429980891b34d9db4395b5f9ed4b33d"
      },
      {
        "contentUdi": "umb://element/76d1715400da496ab3f93febe0b7f129"
      },
      {
        "contentUdi": "umb://element/d2c3e8611bf14350bcd29d9e4c18a7d2"
      },
      {
        "contentUdi": "umb://element/e5b21fbd5bc5485bb2c0da075d67ff8c"
      },
      {
        "contentUdi": "umb://element/27f65e55eac14fb59e6c33abe2968615"
      },
      {
        "contentUdi": "umb://element/aab88b0fd00c453cbe8f3ded62589ff1"
      },
      {
        "contentUdi": "umb://element/a5ce4a1429db41d793be3bb23f5c7477"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b5666373ab44bc9e427e09aa2b69c7",
      "value": "plein air",
      "confidence": "0.9933182001113892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17bfc38f0aaf4e868a8cbf61d2dfca9e",
      "value": "nuage",
      "confidence": "0.9902784824371338"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8dca06be2ceb4fcf8667b20d5a24d2fd",
      "value": "grave",
      "confidence": "0.9891316890716553"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a56f1d633cc44147ade11f2576ae80aa",
      "value": "cimetière",
      "confidence": "0.9840613603591919"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d51bfe3fe654f00a027ebe1da8fbf8d",
      "value": "ciel",
      "confidence": "0.980195164680481"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d429980891b34d9db4395b5f9ed4b33d",
      "value": "arbre",
      "confidence": "0.9519521594047546"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/76d1715400da496ab3f93febe0b7f129",
      "value": "statue",
      "confidence": "0.9431938529014587"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2c3e8611bf14350bcd29d9e4c18a7d2",
      "value": "bâtiment",
      "confidence": "0.9370872974395752"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5b21fbd5bc5485bb2c0da075d67ff8c",
      "value": "plante",
      "confidence": "0.9354320764541626"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27f65e55eac14fb59e6c33abe2968615",
      "value": "mémorial",
      "confidence": "0.9237473011016846"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aab88b0fd00c453cbe8f3ded62589ff1",
      "value": "monument",
      "confidence": "0.8982340097427368"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5ce4a1429db41d793be3bb23f5c7477",
      "value": "pierre tombale",
      "confidence": "0.5593774914741516"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Come on, madam, life goes on. Move your right hand if you hear me.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Allez madameke, la vie continue. Bougez la main droite si vous m'entendez.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a cemetery in Brussels, Belgium, with ornate graves and sculptures. In the center, a mourning woman statue leans over a grave. The cemetery is surrounded by greenery and trees, and the sky is partly cloudy."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un cimetière à Bruxelles, Belgique, avec des tombes ornées et des sculptures. Au centre, une statue de femme en deuil se penche sur une tombe. Le cimetière est entouré de verdure et d'arbres, et le ciel est partiellement nuageux."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#cemetery #Brussels #Belgium #tombstones #mausoleums #statue #weepingangel #greenery #peaceful #somber]]></Value>
      <Value Culture="fr"><![CDATA[#cimetière #Bruxelles #Belgique #tombes #sculptures #statue #nature #histoire]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "745973c8-25dd-4bae-9532-d2c4a11abc6a",
    "mediaKey": "e0924413-75a8-4859-86e1-4809d0325631"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Allez madameke, la vie continue. Bougez la main droite si vous m'entendez.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Fantasme masculin pétrifié]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Petrified Male Fantasy]]></Value>
      <Value Culture="fr"><![CDATA[Fantasme masculin pétrifié]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-royal-cemetery-of-laeken-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-royal-cemetery-of-laeken-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "cemetery",
  "graves",
  "sculptures",
  "statue",
  "Brussels",
  "Belgium",
  "greenery",
  "trees",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "cimetière",
  "tombes",
  "sculptures",
  "statue",
  "Bruxelles",
  "Belgique",
  "verdure",
  "arbres",
  "nuages"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Allez madameke, la vie continue. Bougez la main droite si vous m'entendez.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Petrified Male Fantasy]]></Value>
      <Value Culture="fr"><![CDATA[Fantasme masculin pétrifié]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>