<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ac3bf89-dd90-473c-acc9-ddb9cc3903a6" Alias="Picture for more money !" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PictureForMoreMoney</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T19:57:26</CreateDate>
    <NodeName Default="Picture for more money !">
      <Name Culture="en">Picture for more money!</Name>
      <Name Culture="fr">Picture for more money !</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8ec178e3195840a2b5b6d0ca53467dcd"
      },
      {
        "contentUdi": "umb://element/ab96974caaa14d0d92ec182c5414be23"
      },
      {
        "contentUdi": "umb://element/28cf84b1d19d475eb9ae05e9275dbffe"
      },
      {
        "contentUdi": "umb://element/cffe82ef03814068b90b61fa708f681f"
      },
      {
        "contentUdi": "umb://element/b975d421cd854a4fb8fdcf25542d600e"
      },
      {
        "contentUdi": "umb://element/dd8e3e61340b4eb68bd6482a73687752"
      },
      {
        "contentUdi": "umb://element/ead7bfcee47c4c778a452126b9c06c33"
      },
      {
        "contentUdi": "umb://element/fe837f2d5f2e4baa9e2e34eccc02a5f6"
      },
      {
        "contentUdi": "umb://element/dffea4ce150b47d18a375452faeb1aca"
      },
      {
        "contentUdi": "umb://element/93fc43a8dcb942a789594d9830e86573"
      },
      {
        "contentUdi": "umb://element/43e79baf066d4ee2bcf2d385e518bc90"
      },
      {
        "contentUdi": "umb://element/6c862126e0304dd1a226a0b4adb9f3da"
      },
      {
        "contentUdi": "umb://element/5a9063a37eec400d93e07f1ed206b48e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ec178e3195840a2b5b6d0ca53467dcd",
      "value": "habits",
      "confidence": "0.9885221719741821"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab96974caaa14d0d92ec182c5414be23",
      "value": "arbre",
      "confidence": "0.9730761051177979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28cf84b1d19d475eb9ae05e9275dbffe",
      "value": "plein air",
      "confidence": "0.9701329469680786"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cffe82ef03814068b90b61fa708f681f",
      "value": "chaussures",
      "confidence": "0.9374155402183533"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b975d421cd854a4fb8fdcf25542d600e",
      "value": "Visage humain",
      "confidence": "0.9262153506278992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd8e3e61340b4eb68bd6482a73687752",
      "value": "jeune enfant",
      "confidence": "0.9158133268356323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ead7bfcee47c4c778a452126b9c06c33",
      "value": "plante",
      "confidence": "0.8989636898040771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe837f2d5f2e4baa9e2e34eccc02a5f6",
      "value": "terrain de jeux",
      "confidence": "0.8441493511199951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dffea4ce150b47d18a375452faeb1aca",
      "value": "violet",
      "confidence": "0.7985713481903076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/93fc43a8dcb942a789594d9830e86573",
      "value": "personne",
      "confidence": "0.7653330564498901"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43e79baf066d4ee2bcf2d385e518bc90",
      "value": "fille",
      "confidence": "0.7272558212280273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c862126e0304dd1a226a0b4adb9f3da",
      "value": "jeune",
      "confidence": "0.6287988424301147"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a9063a37eec400d93e07f1ed206b48e",
      "value": "enfant",
      "confidence": "0.6062279939651489"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8ec178e3195840a2b5b6d0ca53467dcd"
      },
      {
        "contentUdi": "umb://element/ab96974caaa14d0d92ec182c5414be23"
      },
      {
        "contentUdi": "umb://element/28cf84b1d19d475eb9ae05e9275dbffe"
      },
      {
        "contentUdi": "umb://element/cffe82ef03814068b90b61fa708f681f"
      },
      {
        "contentUdi": "umb://element/b975d421cd854a4fb8fdcf25542d600e"
      },
      {
        "contentUdi": "umb://element/dd8e3e61340b4eb68bd6482a73687752"
      },
      {
        "contentUdi": "umb://element/ead7bfcee47c4c778a452126b9c06c33"
      },
      {
        "contentUdi": "umb://element/fe837f2d5f2e4baa9e2e34eccc02a5f6"
      },
      {
        "contentUdi": "umb://element/dffea4ce150b47d18a375452faeb1aca"
      },
      {
        "contentUdi": "umb://element/93fc43a8dcb942a789594d9830e86573"
      },
      {
        "contentUdi": "umb://element/43e79baf066d4ee2bcf2d385e518bc90"
      },
      {
        "contentUdi": "umb://element/6c862126e0304dd1a226a0b4adb9f3da"
      },
      {
        "contentUdi": "umb://element/5a9063a37eec400d93e07f1ed206b48e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ec178e3195840a2b5b6d0ca53467dcd",
      "value": "habits",
      "confidence": "0.9885221719741821"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab96974caaa14d0d92ec182c5414be23",
      "value": "arbre",
      "confidence": "0.9730761051177979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28cf84b1d19d475eb9ae05e9275dbffe",
      "value": "plein air",
      "confidence": "0.9701329469680786"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cffe82ef03814068b90b61fa708f681f",
      "value": "chaussures",
      "confidence": "0.9374155402183533"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b975d421cd854a4fb8fdcf25542d600e",
      "value": "Visage humain",
      "confidence": "0.9262153506278992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd8e3e61340b4eb68bd6482a73687752",
      "value": "jeune enfant",
      "confidence": "0.9158133268356323"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ead7bfcee47c4c778a452126b9c06c33",
      "value": "plante",
      "confidence": "0.8989636898040771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe837f2d5f2e4baa9e2e34eccc02a5f6",
      "value": "terrain de jeux",
      "confidence": "0.8441493511199951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dffea4ce150b47d18a375452faeb1aca",
      "value": "violet",
      "confidence": "0.7985713481903076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/93fc43a8dcb942a789594d9830e86573",
      "value": "personne",
      "confidence": "0.7653330564498901"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43e79baf066d4ee2bcf2d385e518bc90",
      "value": "fille",
      "confidence": "0.7272558212280273"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c862126e0304dd1a226a0b4adb9f3da",
      "value": "jeune",
      "confidence": "0.6287988424301147"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a9063a37eec400d93e07f1ed206b48e",
      "value": "enfant",
      "confidence": "0.6062279939651489"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Little Karen dressed traditionally begging at the foot of the stairs leading above Wat Phra That Doi Suthep</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Petite karen habillée traditionnellement mendiant au pied des escaliers qui mène au-dessus du Wat Phra That Doi Suthep</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a young girl in a colorful traditional costume, standing on a brick staircase at Wat Phra That Doi Suthep, Chiang Mai, Thailand. She is leaning against a balustrade adorned with green and yellow ceramic dragon motifs. In the background, lush vegetation can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une jeune fille en costume traditionnel coloré, debout sur un escalier en briques à Wat Phra That Doi Suthep, Chiang Mai, Thaïlande. Elle est appuyée contre une balustrade ornée de motifs de dragon en céramique verte et jaune. En arrière-plan, on peut voir une végétation luxuriante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Thailand #ChiangMai #WatPhraThatDoiSuthep #TraditionalClothing #CulturalHeritage #Travel #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#fille #costumetraditionnel #WatPhraThatDoiSuthep #ChiangMai #Thaïlande #culture #patrimoine #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "d6c88b40-2e30-4005-a5b9-520e94828512",
    "mediaKey": "2faabb8c-b88e-41ef-8d27-156d4d92cd91"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'une jeune fille en costume traditionnel au cœur de Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'une jeune fille en costume traditionnel au cœur de Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Little Karen in Traditional Costume at Wat Phra That Doi Suthep]]></Value>
      <Value Culture="fr"><![CDATA[Rencontre au Wat Phra That Doi Suthep]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/small-karen-girl-begging-tourists-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/small-karen-girl-begging-tourists-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "girl",
  "traditional costume",
  "staircase",
  "bricks",
  "balustrade",
  "dragon",
  "ceramic",
  "vegetation",
  "Wat Phra That Doi Suthep",
  "Chiang Mai",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "fille",
  "costume traditionnel",
  "escalier",
  "briquettes",
  "balustrade",
  "dragon",
  "céramique",
  "végétation",
  "Wat Phra That Doi Suthep",
  "Chiang Mai",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'une jeune fille en costume traditionnel au cœur de Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Little Karen in Traditional Costume at Wat Phra That Doi Suthep]]></Value>
      <Value Culture="fr"><![CDATA[Rencontre au Wat Phra That Doi Suthep]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>