<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9a4935a-3287-47ad-a2e0-24a3c268a8d6" Alias="Pirogue Formula one" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/PirogueFormulaOne</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T16:32:41</CreateDate>
    <NodeName Default="Pirogue Formula one">
      <Name Culture="en">Pirogue Formula one</Name>
      <Name Culture="fr">Pirogue Formula one</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce38eb2e0b114887a42f3b8424bdc8a7"
      },
      {
        "contentUdi": "umb://element/2d357ecb35ea4f7fa98040a6b079cb1a"
      },
      {
        "contentUdi": "umb://element/411d77b78ea74bf4982f2884c95a3fb0"
      },
      {
        "contentUdi": "umb://element/6207cfd86a134c8eb8d90c527f58569a"
      },
      {
        "contentUdi": "umb://element/802acaae826e431ea12be0fc6b2e86cc"
      },
      {
        "contentUdi": "umb://element/44434cc158724663826f66d8bfbc1e12"
      },
      {
        "contentUdi": "umb://element/a013c58547334eada1c5961d3a7134e5"
      },
      {
        "contentUdi": "umb://element/6d4377728c8c4080ae5626f5084c0c9c"
      },
      {
        "contentUdi": "umb://element/278fb85b51ca49449b72a1a44d989a01"
      },
      {
        "contentUdi": "umb://element/45e21dc337e64c24afcab8e78180f0f4"
      },
      {
        "contentUdi": "umb://element/638f83ad8e1a4efd90af9890d8ed8287"
      },
      {
        "contentUdi": "umb://element/bc8670dbdd9b4dda8baf462c034e4f4e"
      },
      {
        "contentUdi": "umb://element/2a1726296656434098dab6d0cea08e1a"
      },
      {
        "contentUdi": "umb://element/22ccd81a83d94a09bc4191b7dc54d043"
      },
      {
        "contentUdi": "umb://element/508ead84a3b24da9abaf9a483e23a4ee"
      },
      {
        "contentUdi": "umb://element/0a11180cb8aa43888eb4bb0c5b751bcf"
      },
      {
        "contentUdi": "umb://element/77668ff137274110b9eac7c34deca4f9"
      },
      {
        "contentUdi": "umb://element/858e9a36521e42699e10c7952ab11d16"
      },
      {
        "contentUdi": "umb://element/395c996117014310aad3e0103f8ad7c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce38eb2e0b114887a42f3b8424bdc8a7",
      "value": "plein air",
      "confidence": "0.9969117045402527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d357ecb35ea4f7fa98040a6b079cb1a",
      "value": "nuage",
      "confidence": "0.9946371912956238"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/411d77b78ea74bf4982f2884c95a3fb0",
      "value": "ciel",
      "confidence": "0.9866080284118652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6207cfd86a134c8eb8d90c527f58569a",
      "value": "eau",
      "confidence": "0.9709181785583496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/802acaae826e431ea12be0fc6b2e86cc",
      "value": "bâtiment",
      "confidence": "0.9379662275314331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44434cc158724663826f66d8bfbc1e12",
      "value": "coucher de soleil",
      "confidence": "0.9327141046524048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a013c58547334eada1c5961d3a7134e5",
      "value": "lac",
      "confidence": "0.9238565564155579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d4377728c8c4080ae5626f5084c0c9c",
      "value": "bateau",
      "confidence": "0.9218156933784485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/278fb85b51ca49449b72a1a44d989a01",
      "value": "Tour de grande hauteur",
      "confidence": "0.9205912351608276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45e21dc337e64c24afcab8e78180f0f4",
      "value": "arbre",
      "confidence": "0.8902336359024048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/638f83ad8e1a4efd90af9890d8ed8287",
      "value": "gratte-ciel",
      "confidence": "0.8764209747314453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc8670dbdd9b4dda8baf462c034e4f4e",
      "value": "horizon",
      "confidence": "0.8567704558372498"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a1726296656434098dab6d0cea08e1a",
      "value": "transport",
      "confidence": "0.809012770652771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22ccd81a83d94a09bc4191b7dc54d043",
      "value": "embarcation",
      "confidence": "0.7748575210571289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/508ead84a3b24da9abaf9a483e23a4ee",
      "value": "ville",
      "confidence": "0.7181569337844849"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a11180cb8aa43888eb4bb0c5b751bcf",
      "value": "grand",
      "confidence": "0.687942624092102"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77668ff137274110b9eac7c34deca4f9",
      "value": "rivière",
      "confidence": "0.6449596285820007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/858e9a36521e42699e10c7952ab11d16",
      "value": "lever de soleil",
      "confidence": "0.5871473550796509"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/395c996117014310aad3e0103f8ad7c6",
      "value": "paysage",
      "confidence": "0.4808349311351776"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce38eb2e0b114887a42f3b8424bdc8a7"
      },
      {
        "contentUdi": "umb://element/2d357ecb35ea4f7fa98040a6b079cb1a"
      },
      {
        "contentUdi": "umb://element/411d77b78ea74bf4982f2884c95a3fb0"
      },
      {
        "contentUdi": "umb://element/6207cfd86a134c8eb8d90c527f58569a"
      },
      {
        "contentUdi": "umb://element/802acaae826e431ea12be0fc6b2e86cc"
      },
      {
        "contentUdi": "umb://element/44434cc158724663826f66d8bfbc1e12"
      },
      {
        "contentUdi": "umb://element/a013c58547334eada1c5961d3a7134e5"
      },
      {
        "contentUdi": "umb://element/6d4377728c8c4080ae5626f5084c0c9c"
      },
      {
        "contentUdi": "umb://element/278fb85b51ca49449b72a1a44d989a01"
      },
      {
        "contentUdi": "umb://element/45e21dc337e64c24afcab8e78180f0f4"
      },
      {
        "contentUdi": "umb://element/638f83ad8e1a4efd90af9890d8ed8287"
      },
      {
        "contentUdi": "umb://element/bc8670dbdd9b4dda8baf462c034e4f4e"
      },
      {
        "contentUdi": "umb://element/2a1726296656434098dab6d0cea08e1a"
      },
      {
        "contentUdi": "umb://element/22ccd81a83d94a09bc4191b7dc54d043"
      },
      {
        "contentUdi": "umb://element/508ead84a3b24da9abaf9a483e23a4ee"
      },
      {
        "contentUdi": "umb://element/0a11180cb8aa43888eb4bb0c5b751bcf"
      },
      {
        "contentUdi": "umb://element/77668ff137274110b9eac7c34deca4f9"
      },
      {
        "contentUdi": "umb://element/858e9a36521e42699e10c7952ab11d16"
      },
      {
        "contentUdi": "umb://element/395c996117014310aad3e0103f8ad7c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce38eb2e0b114887a42f3b8424bdc8a7",
      "value": "plein air",
      "confidence": "0.9969117045402527"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d357ecb35ea4f7fa98040a6b079cb1a",
      "value": "nuage",
      "confidence": "0.9946371912956238"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/411d77b78ea74bf4982f2884c95a3fb0",
      "value": "ciel",
      "confidence": "0.9866080284118652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6207cfd86a134c8eb8d90c527f58569a",
      "value": "eau",
      "confidence": "0.9709181785583496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/802acaae826e431ea12be0fc6b2e86cc",
      "value": "bâtiment",
      "confidence": "0.9379662275314331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44434cc158724663826f66d8bfbc1e12",
      "value": "coucher de soleil",
      "confidence": "0.9327141046524048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a013c58547334eada1c5961d3a7134e5",
      "value": "lac",
      "confidence": "0.9238565564155579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d4377728c8c4080ae5626f5084c0c9c",
      "value": "bateau",
      "confidence": "0.9218156933784485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/278fb85b51ca49449b72a1a44d989a01",
      "value": "Tour de grande hauteur",
      "confidence": "0.9205912351608276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/45e21dc337e64c24afcab8e78180f0f4",
      "value": "arbre",
      "confidence": "0.8902336359024048"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/638f83ad8e1a4efd90af9890d8ed8287",
      "value": "gratte-ciel",
      "confidence": "0.8764209747314453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc8670dbdd9b4dda8baf462c034e4f4e",
      "value": "horizon",
      "confidence": "0.8567704558372498"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a1726296656434098dab6d0cea08e1a",
      "value": "transport",
      "confidence": "0.809012770652771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22ccd81a83d94a09bc4191b7dc54d043",
      "value": "embarcation",
      "confidence": "0.7748575210571289"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/508ead84a3b24da9abaf9a483e23a4ee",
      "value": "ville",
      "confidence": "0.7181569337844849"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a11180cb8aa43888eb4bb0c5b751bcf",
      "value": "grand",
      "confidence": "0.687942624092102"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77668ff137274110b9eac7c34deca4f9",
      "value": "rivière",
      "confidence": "0.6449596285820007"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/858e9a36521e42699e10c7952ab11d16",
      "value": "lever de soleil",
      "confidence": "0.5871473550796509"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/395c996117014310aad3e0103f8ad7c6",
      "value": "paysage",
      "confidence": "0.4808349311351776"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Sunset over Bangkok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Coucher de soleil sur BangKok</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a vibrant scene in Bangkok, Thailand, featuring a large high-rise building with the name 'Sheraton' prominently displayed. The building is situated along a river, with a colorful boat speeding across the water in the foreground. The sky is painted with dramatic hues of orange, pink, and purple, suggesting either a sunrise or sunset. Lush greenery and other buildings are visible around the riverbank, adding to the picturesque urban landscape."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un bateau coloré naviguant sur une rivière à Bangkok, Thaïlande, avec en arrière-plan un grand hôtel moderne sous un ciel dramatique aux couleurs vives du coucher de soleil."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bangkok #Thailand #Sheraton #River #Boat #Sunset #Sunrise #UrbanLandscape #Travel #Scenic]]></Value>
      <Value Culture="fr"><![CDATA[#Bangkok #Thaïlande #Voyage #CoucherDeSoleil #Architecture #Rivière]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "52e13c4b-f658-4c52-bd87-b44f043a19d9",
    "mediaKey": "c4746cf7-476c-4e11-9be9-bd09e2c3acfd"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un bateau coloré glisse sur une rivière à Bangkok, sous un ciel flamboyant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un bateau coloré glisse sur une rivière à Bangkok, sous un ciel flamboyant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunset over Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur Bangkok en Pirogue]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/long-tail-boat-formula-one-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/long-tail-boat-formula-one-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Bangkok",
  "Thailand",
  "Sheraton",
  "high-rise building",
  "river",
  "boat",
  "sunset",
  "sunrise",
  "urban landscape",
  "sky",
  "clouds",
  "greenery"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bangkok",
  "Thaïlande",
  "bateau",
  "rivière",
  "hôtel",
  "coucher de soleil",
  "architecture moderne"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un bateau coloré glisse sur une rivière à Bangkok, sous un ciel flamboyant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunset over Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur Bangkok en Pirogue]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>