<?xml version="1.0" encoding="utf-8"?>
<Content Key="0eb93b6b-03b2-48f1-9074-1a57e830a4b9" Alias="Poster" Level="4">
  <Info>
    <Parent Key="a7f86834-789d-423a-bacb-568c6115a2c0">Products</Parent>
    <Path>/Crolow/Data/Products/Poster</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-29T21:59:06</CreateDate>
    <NodeName Default="Poster">
      <Name Culture="en">Poster</Name>
      <Name Culture="fr">Poster</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Posters are produced on acid-free papers using archival inks to ensure they last a lifetime without fading. All posters include a 1\" white border around the image to allow for framing.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les posters sont produits sur des papiers sans acide en utilisant des encres d'archives pour garantir qu'elles durent toute une vie sans perte de couleur. Toutes les affiches comprennent une bordure blanche de 1\" autour de l'image pour permettre un cadrage</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[poster]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[13]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TPOSTER]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Poster]]></Value>
      <Value Culture="fr"><![CDATA[Poster]]></Value>
    </productName>
  </Properties>
</Content>