<?xml version="1.0" encoding="utf-8"?>
<Content Key="22a22f03-59d7-41bf-a6db-97f80796292a" Alias="Poster fine art" Level="4">
  <Info>
    <Parent Key="a7f86834-789d-423a-bacb-568c6115a2c0">Products</Parent>
    <Path>/Crolow/Data/Products/PosterFineArt</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-29T21:58:15</CreateDate>
    <NodeName Default="Poster fine art">
      <Name Culture="en">Fine Art Poster</Name>
      <Name Culture="fr">Poster fine art</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Posters are produced on acid-free papers using archival inks to ensure they last a lifetime without fading. All posters include a 1\" white border around the image to allow for framing.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les posters sont produits sur des papiers sans acide en utilisant des encres d'archives pour garantir qu'elles durent toute une vie sans perte de couleur. Toutes les affiches comprennent une bordure blanche de 1\" autour de l'image pour permettre un cadrage</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[art-print]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[11]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TFINEAR]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Poster fine art]]></Value>
      <Value Culture="fr"><![CDATA[Poster fine art]]></Value>
    </productName>
  </Properties>
</Content>