<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc3befbb-ffc4-4b53-a902-6c3d223d3da9" Alias="Pour quelques petites tours" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/PourQuelquesPetitesTours</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T17:33:53</CreateDate>
    <NodeName Default="Pour quelques petites tours">
      <Name Culture="en">For a Few Small Towers</Name>
      <Name Culture="fr">Pour quelques petites tours</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29b4ade4d2a94c32baf76500f0021f2b"
      },
      {
        "contentUdi": "umb://element/9e29185a04d149ea8d71efeace62acf7"
      },
      {
        "contentUdi": "umb://element/a7deb44e978a48498db5120d3da60363"
      },
      {
        "contentUdi": "umb://element/629ba716750d4ccbb15dc68de92efc3c"
      },
      {
        "contentUdi": "umb://element/17ec690b81524729b32d6a50ee2b4da1"
      },
      {
        "contentUdi": "umb://element/2eb7fd5f2b264770a28378ff2efcc331"
      },
      {
        "contentUdi": "umb://element/7e28fe3f20084b60bd17220237eb6498"
      },
      {
        "contentUdi": "umb://element/b8cd5352d5ed4181a65ebabcdb1036f3"
      },
      {
        "contentUdi": "umb://element/14408e4ee2be47e9aab874da40572e1b"
      },
      {
        "contentUdi": "umb://element/175defe94d0c45fc8280f8fade578d57"
      },
      {
        "contentUdi": "umb://element/99496d54af6b494bba495e737e82e9f6"
      },
      {
        "contentUdi": "umb://element/658ade9afc354b1697bb1265200d2f55"
      },
      {
        "contentUdi": "umb://element/228175bd553b4fa6a554e5d34b294332"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29b4ade4d2a94c32baf76500f0021f2b",
      "value": "ciel",
      "confidence": "0.9793115258216858"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e29185a04d149ea8d71efeace62acf7",
      "value": "nuage",
      "confidence": "0.9775916337966919"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7deb44e978a48498db5120d3da60363",
      "value": "plein air",
      "confidence": "0.9714759588241577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/629ba716750d4ccbb15dc68de92efc3c",
      "value": "bâtiment",
      "confidence": "0.918560266494751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17ec690b81524729b32d6a50ee2b4da1",
      "value": "Site historique",
      "confidence": "0.9054098725318909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2eb7fd5f2b264770a28378ff2efcc331",
      "value": "arbre",
      "confidence": "0.9015005230903625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e28fe3f20084b60bd17220237eb6498",
      "value": "repère",
      "confidence": "0.8910751342773438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8cd5352d5ed4181a65ebabcdb1036f3",
      "value": "temple",
      "confidence": "0.8753058910369873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14408e4ee2be47e9aab874da40572e1b",
      "value": "Ruines",
      "confidence": "0.8607124090194702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/175defe94d0c45fc8280f8fade578d57",
      "value": "lieu de culte",
      "confidence": "0.8565014600753784"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99496d54af6b494bba495e737e82e9f6",
      "value": "pierre",
      "confidence": "0.6728408336639404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/658ade9afc354b1697bb1265200d2f55",
      "value": "église",
      "confidence": "0.439853310585022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/228175bd553b4fa6a554e5d34b294332",
      "value": "ville",
      "confidence": "0.4336233139038086"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29b4ade4d2a94c32baf76500f0021f2b"
      },
      {
        "contentUdi": "umb://element/9e29185a04d149ea8d71efeace62acf7"
      },
      {
        "contentUdi": "umb://element/a7deb44e978a48498db5120d3da60363"
      },
      {
        "contentUdi": "umb://element/629ba716750d4ccbb15dc68de92efc3c"
      },
      {
        "contentUdi": "umb://element/17ec690b81524729b32d6a50ee2b4da1"
      },
      {
        "contentUdi": "umb://element/2eb7fd5f2b264770a28378ff2efcc331"
      },
      {
        "contentUdi": "umb://element/7e28fe3f20084b60bd17220237eb6498"
      },
      {
        "contentUdi": "umb://element/b8cd5352d5ed4181a65ebabcdb1036f3"
      },
      {
        "contentUdi": "umb://element/14408e4ee2be47e9aab874da40572e1b"
      },
      {
        "contentUdi": "umb://element/175defe94d0c45fc8280f8fade578d57"
      },
      {
        "contentUdi": "umb://element/99496d54af6b494bba495e737e82e9f6"
      },
      {
        "contentUdi": "umb://element/658ade9afc354b1697bb1265200d2f55"
      },
      {
        "contentUdi": "umb://element/228175bd553b4fa6a554e5d34b294332"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29b4ade4d2a94c32baf76500f0021f2b",
      "value": "ciel",
      "confidence": "0.9793115258216858"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e29185a04d149ea8d71efeace62acf7",
      "value": "nuage",
      "confidence": "0.9775916337966919"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7deb44e978a48498db5120d3da60363",
      "value": "plein air",
      "confidence": "0.9714759588241577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/629ba716750d4ccbb15dc68de92efc3c",
      "value": "bâtiment",
      "confidence": "0.918560266494751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17ec690b81524729b32d6a50ee2b4da1",
      "value": "Site historique",
      "confidence": "0.9054098725318909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2eb7fd5f2b264770a28378ff2efcc331",
      "value": "arbre",
      "confidence": "0.9015005230903625"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e28fe3f20084b60bd17220237eb6498",
      "value": "repère",
      "confidence": "0.8910751342773438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8cd5352d5ed4181a65ebabcdb1036f3",
      "value": "temple",
      "confidence": "0.8753058910369873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14408e4ee2be47e9aab874da40572e1b",
      "value": "Ruines",
      "confidence": "0.8607124090194702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/175defe94d0c45fc8280f8fade578d57",
      "value": "lieu de culte",
      "confidence": "0.8565014600753784"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99496d54af6b494bba495e737e82e9f6",
      "value": "pierre",
      "confidence": "0.6728408336639404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/658ade9afc354b1697bb1265200d2f55",
      "value": "église",
      "confidence": "0.439853310585022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/228175bd553b4fa6a554e5d34b294332",
      "value": "ville",
      "confidence": "0.4336233139038086"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>3 towers rising at the end of a gallery, or a place of contemplation.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>3 tours s'élevant au bout d'une galerie, ou d'une pièce de recueillement.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an ancient red brick temple located in Sukhothai, Thailand. The temple consists of three large towers adorned with sculptures and traditional architectural motifs. The surrounding walls are also made of red bricks, and green trees are visible in the background under a clear blue sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un ancien temple en briques rouges situé à Sukhothai, en Thaïlande. Le temple est composé de trois grandes tours ornées de sculptures et de motifs architecturaux traditionnels. Les murs environnants sont également en briques rouges, et des arbres verts sont visibles en arrière-plan sous un ciel bleu clair."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #AncientRuins #HistoricalArchitecture #Travel #HeritageSite]]></Value>
      <Value Culture="fr"><![CDATA[#temple #Sukhothai #Thaïlande #architecture #histoire #patrimoine #voyage #culture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c5b9e7f0-0a68-4462-a24b-76e1c6990407",
    "mediaKey": "fb261269-8909-4d88-81ee-9cd41c2fb126"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les trois tours imposantes d'un ancien temple en briques rouges à Sukhothai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les trois tours imposantes d'un ancien temple en briques rouges à Sukhothai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[For a Few Small Towers]]></Value>
      <Value Culture="fr"><![CDATA[Les Tours Majestueuses de Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/stupa-at-sukhothai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/stupa-at-sukhothai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "Sukhothai",
  "Thailand",
  "ancient architecture",
  "red bricks",
  "towers",
  "sculptures",
  "traditional motifs"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "Sukhothai",
  "Thaïlande",
  "architecture ancienne",
  "briques rouges",
  "tours",
  "sculptures",
  "motifs traditionnels"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les trois tours imposantes d'un ancien temple en briques rouges à Sukhothai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[For a Few Small Towers]]></Value>
      <Value Culture="fr"><![CDATA[Les Tours Majestueuses de Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>