<?xml version="1.0" encoding="utf-8"?>
<Content Key="180848b8-7e7d-4488-9da3-05b053442286" Alias="Prague Castle #1" Level="6">
  <Info>
    <Parent Key="0c0d5887-9759-4c4e-a9dc-37d86b305b0c">Czechia</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Czechia/PragueCastle1</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-04-24T14:45:02</CreateDate>
    <NodeName Default="Prague Castle #1">
      <Name Culture="en">Prague Castle #1</Name>
      <Name Culture="fr">Le château de Prague #1</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Prague Castle and its sunset</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le château de Prague et son coucher de soleil</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque view of Prague, Czech Republic, at sunset. You can see Prague Castle dominating the city with its iconic Gothic towers. The red roofs of historic buildings and the cobblestone streets add to the charm of the scene. The Vltava River flows through the city, with boats moored along its banks. The sky is tinged with warm colors, creating a romantic and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre une vue pittoresque de Prague, Tchéquie, au coucher du soleil. On peut voir le château de Prague dominant la ville avec ses tours gothiques emblématiques. Les toits rouges des bâtiments historiques et les rues pavées ajoutent au charme de la scène. Le fleuve Vltava traverse la ville, avec des bateaux amarrés le long de ses rives. Le ciel est teinté de couleurs chaudes, créant une atmosphère romantique et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Prague #CzechRepublic #PragueCastle #Sunset #VltavaRiver #HistoricBuildings #Cityscape]]></Value>
      <Value Culture="fr"><![CDATA[#Prague #Tchéquie #ChâteauDePrague #CoucherDeSoleil #ArchitectureHistorique #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "69e237b5-7f56-4a2e-afc2-11e6b1a721a8",
    "mediaKey": "f23c6c3b-8bf8-448f-b7e2-a0041bbb5ce0"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Prague, Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Prague, Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du château de Prague illuminé par les teintes chaudes du coucher de soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Prague au Coucher du Soleil]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Prague Castle at Sunset]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Prague au Coucher du Soleil]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunset-on-prague-castle-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunset-on-prague-castle-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Prague",
  "Czech Republic",
  "castle",
  "river",
  "sunset",
  "architecture",
  "historic",
  "red roofs"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Prague",
  "Tchéquie",
  "château",
  "fleuve",
  "coucher de soleil",
  "architecture",
  "historique",
  "toits rouges"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du château de Prague illuminé par les teintes chaudes du coucher de soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Prague Castle at Sunset]]></Value>
      <Value Culture="fr"><![CDATA[Le Château de Prague au Coucher du Soleil]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>