<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b11710c-fbb4-4a58-9499-e7b9a62607ac" Alias="Products" Level="4">
  <Info>
    <Parent Key="cb4120a1-dc64-400c-9326-49696ee54ad5">Custom components</Parent>
    <Path>/Waaw/Data/CustomComponents/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>customComponentsFolder</ContentType>
    <CreateDate>2025-08-22T10:47:54</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <empty>
      <Value><![CDATA[]]></Value>
    </empty>
  </Properties>
</Content>