<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef44b440-0f02-4ea1-a0f4-7cb31d6cf46c" Alias="Produits" Level="3">
  <Info>
    <Parent Key="a9891a91-3f67-487a-b33d-d262a45c3646">Accueil</Parent>
    <Path>/Waaw/Accueil/Produits</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2025-08-21T14:45:57</CreateDate>
    <NodeName Default="Produits">
      <Name Culture="fr">Produits</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="3af73487-1617-4670-a0d2-d352791af8fa">ContentPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/7431ae5e2bef42e89d075fa0a4d5492d"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e2bfcadbe79945178bced461622f077b"
              },
              {
                "contentUdi": "umb://element/79f402b222864763a6f4de34f5bd3e04",
                "areas": [
                  {
                    "key": "4f8e348d-980d-4210-9301-38182bdcf3f2",
                    "items": [
                      {
                        "contentUdi": "umb://element/7ca234a3978c41d899d42d27ef96cd27",
                        "areas": [],
                        "columnSpan": 7,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "73f56302-78d6-44b0-a391-f8783042c69e",
                    "items": [
                      {
                        "contentUdi": "umb://element/6e846f99ffaa46bd955186b9f0dcc928",
                        "areas": [],
                        "columnSpan": 5,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f9ef3b95b1c042e3935c6d0855037ef4"
      },
      {
        "contentUdi": "umb://element/3a37788728d8472cb4e7a64fd9f0a397",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/ff16f7a30ebb4342816ecdcd438e69b5"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b2c02a653a3e489788949ea7e1585b2d",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/bfc9332f410043bfb016dcc4bb388b16"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/f9ef3b95b1c042e3935c6d0855037ef4",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "b42649bc-b4aa-4e34-8e33-ec94dd1275a7",
      "udi": "umb://element/7431ae5e2bef42e89d075fa0a4d5492d",
      "template": "HeaderRollup",
      "customProperties": null,
      "customComponentDefinition": "umb://document/480ce40439e14a78a3d8e87105cdb9e5",
      "externalViewComponent": ""
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/e2bfcadbe79945178bced461622f077b",
      "customComponentDefinition": "umb://document/dc319fd3f15d4b7a8d21099cee8cf84c"
    },
    {
      "contentTypeKey": "09107b5b-32b5-437a-8712-88e47e77f920",
      "udi": "umb://element/bfc9332f410043bfb016dcc4bb388b16",
      "customComponentDefinition": "umb://document/8c0a654202d449a09420d1d4f9195f8a"
    },
    {
      "contentTypeKey": "93483c25-f6a9-45cf-8eca-5d2fcf6b4ca0",
      "udi": "umb://element/ff16f7a30ebb4342816ecdcd438e69b5",
      "cards": "umb://document/c81a618decfc4dc68545786d03638f98,umb://document/6b56afbe1fe64ace892e9647a053b405,umb://document/bdabb4aa6f3d4a2098ff45d81075d4c7,umb://document/08d6eb744edf4fa8b0ddacef59982224,umb://document/8d62b17fa9c24bc0aa97a7abd49145d7",
      "template": "slicker",
      "title": "",
      "propagateTemplate": "0"
    },
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/b2c02a653a3e489788949ea7e1585b2d",
      "title": "Tous nos produits",
      "description": ""
    },
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/3a37788728d8472cb4e7a64fd9f0a397",
      "title": "Nos types de produits",
      "description": ""
    },
    {
      "contentTypeKey": "cb34d2da-bcec-4b69-bdaf-debf48699b9b",
      "udi": "umb://element/79f402b222864763a6f4de34f5bd3e04",
      "title": "",
      "description": ""
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7ca234a3978c41d899d42d27ef96cd27",
      "title": "Bienvenue dans notre univers",
      "summary": "",
      "description": {
        "markup": "<p data-start=\"202\" data-end=\"434\">Bijoux, sacs et vêtements, créés avec soin par des artisans passionnés. Chaque pièce est unique et raconte une histoire de savoir-faire, de créativité et de tradition revisitée.</p>\n<p data-start=\"436\" data-end=\"707\">Notre mission : vous offrir des produits originaux et durables, alliant design authentique et commerce équitable. Porter ou offrir nos créations, c’est soutenir des artisans et choisir une consommation responsable, sans renoncer à l’élégance et à la variété des styles.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [],
      "links": null
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/6e846f99ffaa46bd955186b9f0dcc928",
      "title": "Du commerce équitable",
      "summary": "",
      "description": {
        "markup": "<p>Nos bijoux sont fabriqués à la main avec des matériaux de qualité, dans le respect du commerce équitable. Chaque création allie design et authenticité, pour vous offrir un accessoire unique qui accompagne vos instants de vie.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "4cafb0d0-c0d0-4513-99a9-a09c61a9064e",
          "mediaKey": "976afb45-962b-4a15-863e-e2ba1ce4ba0d"
        }
      ],
      "links": [
        {
          "name": "En savoir plus",
          "udi": "umb://document/241cc3f32a2f4ccfb9ca57345ab6ff73"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <description>
      <Value Culture="fr"><![CDATA[{
  "markup": "<h3 data-start=\"202\" data-end=\"434\">Bienvenue dans notre univers d’articles artisanaux</h3>\n<p data-start=\"202\" data-end=\"434\">Bijoux, sacs et vêtements, créés avec soin par des artisans passionnés. Chaque pièce est unique et raconte une histoire de savoir-faire, de créativité et de tradition revisitée.</p>\n<p data-start=\"436\" data-end=\"707\">Notre mission : vous offrir des produits originaux et durables, alliant design authentique et commerce équitable. Porter ou offrir nos créations, c’est soutenir des artisans et choisir une consommation responsable, sans renoncer à l’élégance et à la variété des styles.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <menuDisplayImage>
      <Value><![CDATA[[
  {
    "key": "5d18fbd5-1ba5-4ba2-b6f3-c4779ed23e1a",
    "mediaKey": "556a6c44-28d4-46e6-816a-e01f7c56d6f9"
  }
]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="fr"><![CDATA[Nos offres]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <summary>
      <Value Culture="fr"><![CDATA[]]></Value>
    </summary>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>