<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c0a6542-02d4-49a0-9420-d1d4f9195f8a" Alias="Product Search" Level="5">
  <Info>
    <Parent Key="c40945f8-9346-4f35-9124-03fbaffd9834">Page elements</Parent>
    <Path>/Waaw/Data/CustomComponents/PageElements/ProductSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>pageElementComponent</ContentType>
    <CreateDate>2025-08-27T17:02:07</CreateDate>
    <NodeName Default="Product Search">
      <Name Culture="fr">Product Search</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <component>
      <Value><![CDATA[ProductSearch]]></Value>
    </component>
    <customProperties>
      <Value Culture="fr"><![CDATA[]]></Value>
    </customProperties>
    <template>
      <Value><![CDATA[]]></Value>
    </template>
  </Properties>
</Content>