<?xml version="1.0" encoding="utf-8"?>
<Content Key="d14e9838-8917-4ff0-aed2-8219caf3ac8a" Alias="Produits" Level="5">
  <Info>
    <Parent Key="45facb9b-358d-488e-8418-25f63214ff3c">Main menu</Parent>
    <Path>/Waaw/Data/Menu/MainMenu/Produits</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-19T16:21:53</CreateDate>
    <NodeName Default="Produits">
      <Name Culture="fr">Produits</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[bi bi-shop]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Nos produits]]></Value>
    </title>
  </Properties>
</Content>