<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cb48550-6d7b-4e9c-a52e-f0f6814b1579" Alias="Promenade entre deux eaux" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/PromenadeEntreDeuxEaux</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-02T13:02:22</CreateDate>
    <NodeName Default="Promenade entre deux eaux">
      <Name Culture="en">Stroll Between Two Waters</Name>
      <Name Culture="fr">Promenade entre deux eaux</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c58f1101478943a5a063cb022491b844"
      },
      {
        "contentUdi": "umb://element/d888179b16ed4403a4ddb92f71254a0b"
      },
      {
        "contentUdi": "umb://element/b0bb1a5bff6a4cf598568c4bd0ea0fbe"
      },
      {
        "contentUdi": "umb://element/b4213063a6c9416dbc903cfaa0ad67c6"
      },
      {
        "contentUdi": "umb://element/1fce65de99d843008b003f754e51891f"
      },
      {
        "contentUdi": "umb://element/b5e1618902814d7294a96613e719cac0"
      },
      {
        "contentUdi": "umb://element/20b4058c91154e828b849a4191e79189"
      },
      {
        "contentUdi": "umb://element/00bd78767b9c4100ab103ddaddf3b386"
      },
      {
        "contentUdi": "umb://element/50d6788618734843ba4fa842a53f0b46"
      },
      {
        "contentUdi": "umb://element/07a408bc40ec4921997f5bd9516d5ae7"
      },
      {
        "contentUdi": "umb://element/b1f6b49bc12046dc8217c303823fc00c"
      },
      {
        "contentUdi": "umb://element/e83e29af768b4b33bdea104164d2ac35"
      },
      {
        "contentUdi": "umb://element/dcc8ec879e264b268d05bc257b2b343e"
      },
      {
        "contentUdi": "umb://element/92938293a24242168926c408e3c50739"
      },
      {
        "contentUdi": "umb://element/8595795c26d74671a02730110d3ef569"
      },
      {
        "contentUdi": "umb://element/d7f2f59b1d5b4d42a240046032f550bc"
      },
      {
        "contentUdi": "umb://element/bd019b4764f643b087285cad6f973d92"
      },
      {
        "contentUdi": "umb://element/342179e5af3942bc97d928ccd3bfb195"
      },
      {
        "contentUdi": "umb://element/2cbc48e693134ba0b88c492654f8b814"
      },
      {
        "contentUdi": "umb://element/c8f166a4562a43dd9f3fe823e5ec1fb8"
      },
      {
        "contentUdi": "umb://element/5d5030bad81845de9319827ec1e59086"
      },
      {
        "contentUdi": "umb://element/92b840c0bdaf4312932c374b2cccafec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c58f1101478943a5a063cb022491b844",
      "value": "plein air",
      "confidence": "0.9980902671813965"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d888179b16ed4403a4ddb92f71254a0b",
      "value": "eau",
      "confidence": "0.9944308400154114"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0bb1a5bff6a4cf598568c4bd0ea0fbe",
      "value": "lac",
      "confidence": "0.9748685359954834"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4213063a6c9416dbc903cfaa0ad67c6",
      "value": "nuage",
      "confidence": "0.9622966051101685"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fce65de99d843008b003f754e51891f",
      "value": "ciel",
      "confidence": "0.9615926742553711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5e1618902814d7294a96613e719cac0",
      "value": "horizon",
      "confidence": "0.9511582851409912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20b4058c91154e828b849a4191e79189",
      "value": "soleil",
      "confidence": "0.9335914850234985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00bd78767b9c4100ab103ddaddf3b386",
      "value": "Quiétude",
      "confidence": "0.931718111038208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50d6788618734843ba4fa842a53f0b46",
      "value": "lever de soleil",
      "confidence": "0.9299135804176331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07a408bc40ec4921997f5bd9516d5ae7",
      "value": "crépuscule",
      "confidence": "0.9099233150482178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1f6b49bc12046dc8217c303823fc00c",
      "value": "Dernières lueurs",
      "confidence": "0.8998957276344299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e83e29af768b4b33bdea104164d2ac35",
      "value": "soirée",
      "confidence": "0.899260401725769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dcc8ec879e264b268d05bc257b2b343e",
      "value": "plage",
      "confidence": "0.8751125335693359"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92938293a24242168926c408e3c50739",
      "value": "Rétroéclairage",
      "confidence": "0.8662559986114502"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8595795c26d74671a02730110d3ef569",
      "value": "lumière du jour",
      "confidence": "0.8640520572662354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7f2f59b1d5b4d42a240046032f550bc",
      "value": "Ciel rouge au matin",
      "confidence": "0.8566110134124756"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd019b4764f643b087285cad6f973d92",
      "value": "matin",
      "confidence": "0.8542258739471436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/342179e5af3942bc97d928ccd3bfb195",
      "value": "son",
      "confidence": "0.8467079401016235"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cbc48e693134ba0b88c492654f8b814",
      "value": "coucher de soleil",
      "confidence": "0.8443616628646851"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8f166a4562a43dd9f3fe823e5ec1fb8",
      "value": "nature",
      "confidence": "0.78681480884552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d5030bad81845de9319827ec1e59086",
      "value": "paysage",
      "confidence": "0.6968848705291748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92b840c0bdaf4312932c374b2cccafec",
      "value": "montagne",
      "confidence": "0.5719096064567566"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c58f1101478943a5a063cb022491b844"
      },
      {
        "contentUdi": "umb://element/d888179b16ed4403a4ddb92f71254a0b"
      },
      {
        "contentUdi": "umb://element/b0bb1a5bff6a4cf598568c4bd0ea0fbe"
      },
      {
        "contentUdi": "umb://element/b4213063a6c9416dbc903cfaa0ad67c6"
      },
      {
        "contentUdi": "umb://element/1fce65de99d843008b003f754e51891f"
      },
      {
        "contentUdi": "umb://element/b5e1618902814d7294a96613e719cac0"
      },
      {
        "contentUdi": "umb://element/20b4058c91154e828b849a4191e79189"
      },
      {
        "contentUdi": "umb://element/00bd78767b9c4100ab103ddaddf3b386"
      },
      {
        "contentUdi": "umb://element/50d6788618734843ba4fa842a53f0b46"
      },
      {
        "contentUdi": "umb://element/07a408bc40ec4921997f5bd9516d5ae7"
      },
      {
        "contentUdi": "umb://element/b1f6b49bc12046dc8217c303823fc00c"
      },
      {
        "contentUdi": "umb://element/e83e29af768b4b33bdea104164d2ac35"
      },
      {
        "contentUdi": "umb://element/dcc8ec879e264b268d05bc257b2b343e"
      },
      {
        "contentUdi": "umb://element/92938293a24242168926c408e3c50739"
      },
      {
        "contentUdi": "umb://element/8595795c26d74671a02730110d3ef569"
      },
      {
        "contentUdi": "umb://element/d7f2f59b1d5b4d42a240046032f550bc"
      },
      {
        "contentUdi": "umb://element/bd019b4764f643b087285cad6f973d92"
      },
      {
        "contentUdi": "umb://element/342179e5af3942bc97d928ccd3bfb195"
      },
      {
        "contentUdi": "umb://element/2cbc48e693134ba0b88c492654f8b814"
      },
      {
        "contentUdi": "umb://element/c8f166a4562a43dd9f3fe823e5ec1fb8"
      },
      {
        "contentUdi": "umb://element/5d5030bad81845de9319827ec1e59086"
      },
      {
        "contentUdi": "umb://element/92b840c0bdaf4312932c374b2cccafec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c58f1101478943a5a063cb022491b844",
      "value": "plein air",
      "confidence": "0.9980902671813965"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d888179b16ed4403a4ddb92f71254a0b",
      "value": "eau",
      "confidence": "0.9944308400154114"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0bb1a5bff6a4cf598568c4bd0ea0fbe",
      "value": "lac",
      "confidence": "0.9748685359954834"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4213063a6c9416dbc903cfaa0ad67c6",
      "value": "nuage",
      "confidence": "0.9622966051101685"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fce65de99d843008b003f754e51891f",
      "value": "ciel",
      "confidence": "0.9615926742553711"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5e1618902814d7294a96613e719cac0",
      "value": "horizon",
      "confidence": "0.9511582851409912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20b4058c91154e828b849a4191e79189",
      "value": "soleil",
      "confidence": "0.9335914850234985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/00bd78767b9c4100ab103ddaddf3b386",
      "value": "Quiétude",
      "confidence": "0.931718111038208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50d6788618734843ba4fa842a53f0b46",
      "value": "lever de soleil",
      "confidence": "0.9299135804176331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07a408bc40ec4921997f5bd9516d5ae7",
      "value": "crépuscule",
      "confidence": "0.9099233150482178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1f6b49bc12046dc8217c303823fc00c",
      "value": "Dernières lueurs",
      "confidence": "0.8998957276344299"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e83e29af768b4b33bdea104164d2ac35",
      "value": "soirée",
      "confidence": "0.899260401725769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dcc8ec879e264b268d05bc257b2b343e",
      "value": "plage",
      "confidence": "0.8751125335693359"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92938293a24242168926c408e3c50739",
      "value": "Rétroéclairage",
      "confidence": "0.8662559986114502"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8595795c26d74671a02730110d3ef569",
      "value": "lumière du jour",
      "confidence": "0.8640520572662354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d7f2f59b1d5b4d42a240046032f550bc",
      "value": "Ciel rouge au matin",
      "confidence": "0.8566110134124756"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd019b4764f643b087285cad6f973d92",
      "value": "matin",
      "confidence": "0.8542258739471436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/342179e5af3942bc97d928ccd3bfb195",
      "value": "son",
      "confidence": "0.8467079401016235"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2cbc48e693134ba0b88c492654f8b814",
      "value": "coucher de soleil",
      "confidence": "0.8443616628646851"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8f166a4562a43dd9f3fe823e5ec1fb8",
      "value": "nature",
      "confidence": "0.78681480884552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5d5030bad81845de9319827ec1e59086",
      "value": "paysage",
      "confidence": "0.6968848705291748"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/92b840c0bdaf4312932c374b2cccafec",
      "value": "montagne",
      "confidence": "0.5719096064567566"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stroll at the crossroads of high tide and the river</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Promenade à la croisée de la marée haute et la rivière</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stroll at the crossroads of high tide and the river. The image shows a beach at sunset with silhouettes of people walking along the shore. The sky is tinted with shades of orange and yellow, and the sun reflects on the calm water. In the background, dark hills can be seen.</p>"
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Promenade à la croisée de la marée haute et la rivière. L'image montre une plage au coucher du soleil avec des silhouettes de personnes marchant le long du rivage. Le ciel est teinté de nuances d'orange et de jaune, et le soleil se reflète sur l'eau calme. En arrière-plan, on peut voir des collines sombres.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #NopharatTharaBeach #goldenhour #serenity #travel #nature #landscape]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "#plage #coucherdesoleil #Thaïlande #NopharatTharaBeach #nature #voyage",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "13a0e50a-1f4a-4b63-8211-7f81f1308a1e",
    "mediaKey": "669fccdc-c6f4-485c-a162-e842a9c894e5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'une plage au coucher du soleil, où la marée haute rencontre la rivière.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'une plage au coucher du soleil, où la marée haute rencontre la rivière.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Stroll Between Two Waters]]></Value>
      <Value Culture="fr"><![CDATA[Promenade à la Croisée des Eaux]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/walking-between-2-waters-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/walking-between-2-waters-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "sunset",
  "silhouettes",
  "sea",
  "Thailand",
  "Nopharat Thara Beach"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "silhouettes",
  "mer",
  "Thaïlande",
  "Nopharat Thara Beach"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'une plage au coucher du soleil, où la marée haute rencontre la rivière.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Stroll Between Two Waters]]></Value>
      <Value Culture="fr"><![CDATA[Promenade à la Croisée des Eaux]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>