<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fd832f5-b9cf-4e4d-b502-9d4329bf8d82" Alias="Queue at the Food Truck" Level="7">
  <Info>
    <Parent Key="88deeb96-7ce1-4b5b-b3e1-97cd1b8e0879">Street life</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/StreetLife/QueueAtTheFoodTruck</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-16T12:17:40</CreateDate>
    <NodeName Default="Queue at the Food Truck">
      <Name Culture="en">Queue at the Food Truck</Name>
      <Name Culture="fr">Queue au Food truck</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c4084a5e0b94423967e9c661e7f57c2"
      },
      {
        "contentUdi": "umb://element/1a381712a5644e3eb4d00e0b73265843"
      },
      {
        "contentUdi": "umb://element/b817012b720b40f9a5a735186b350be2"
      },
      {
        "contentUdi": "umb://element/e2d4c43ccc0d4eec9f39a09ba660927b"
      },
      {
        "contentUdi": "umb://element/bb4d053181204a0c8cb94e5516d34b3a"
      },
      {
        "contentUdi": "umb://element/cb8a398e47fb44f680893636a57ce47f"
      },
      {
        "contentUdi": "umb://element/fea3616eb54c4721b33ad2b18616ff25"
      },
      {
        "contentUdi": "umb://element/471f5ef806084f42b94cfcd633e9e5f9"
      },
      {
        "contentUdi": "umb://element/1dcfbfcc347f42dfbc8fb728bf874606"
      },
      {
        "contentUdi": "umb://element/205ba3f7ccc34d2eb0394cb16fabaab0"
      },
      {
        "contentUdi": "umb://element/6efb660df7b14135a047e816f9560c8e"
      },
      {
        "contentUdi": "umb://element/5c3d1fd85dbd4d93a34275ee18a1461c"
      },
      {
        "contentUdi": "umb://element/f8532d68b0f146f9bc408a86c4e2a322"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c4084a5e0b94423967e9c661e7f57c2",
      "value": "plein air",
      "confidence": "0.9988662004470825"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a381712a5644e3eb4d00e0b73265843",
      "value": "bâtiment",
      "confidence": "0.995590090751648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b817012b720b40f9a5a735186b350be2",
      "value": "véhicule",
      "confidence": "0.9820249080657959"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2d4c43ccc0d4eec9f39a09ba660927b",
      "value": "Véhicule terrestre",
      "confidence": "0.9736665487289429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb4d053181204a0c8cb94e5516d34b3a",
      "value": "roue",
      "confidence": "0.9707133769989014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb8a398e47fb44f680893636a57ce47f",
      "value": "transport",
      "confidence": "0.9612389802932739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fea3616eb54c4721b33ad2b18616ff25",
      "value": "arbre",
      "confidence": "0.8927894830703735"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/471f5ef806084f42b94cfcd633e9e5f9",
      "value": "route",
      "confidence": "0.8895207643508911"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1dcfbfcc347f42dfbc8fb728bf874606",
      "value": "personne",
      "confidence": "0.8814932703971863"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/205ba3f7ccc34d2eb0394cb16fabaab0",
      "value": "habits",
      "confidence": "0.8694254159927368"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6efb660df7b14135a047e816f9560c8e",
      "value": "ville",
      "confidence": "0.7331749796867371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c3d1fd85dbd4d93a34275ee18a1461c",
      "value": "rue",
      "confidence": "0.720848023891449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8532d68b0f146f9bc408a86c4e2a322",
      "value": "personnes",
      "confidence": "0.7017524838447571"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c4084a5e0b94423967e9c661e7f57c2"
      },
      {
        "contentUdi": "umb://element/1a381712a5644e3eb4d00e0b73265843"
      },
      {
        "contentUdi": "umb://element/b817012b720b40f9a5a735186b350be2"
      },
      {
        "contentUdi": "umb://element/e2d4c43ccc0d4eec9f39a09ba660927b"
      },
      {
        "contentUdi": "umb://element/bb4d053181204a0c8cb94e5516d34b3a"
      },
      {
        "contentUdi": "umb://element/cb8a398e47fb44f680893636a57ce47f"
      },
      {
        "contentUdi": "umb://element/fea3616eb54c4721b33ad2b18616ff25"
      },
      {
        "contentUdi": "umb://element/471f5ef806084f42b94cfcd633e9e5f9"
      },
      {
        "contentUdi": "umb://element/1dcfbfcc347f42dfbc8fb728bf874606"
      },
      {
        "contentUdi": "umb://element/205ba3f7ccc34d2eb0394cb16fabaab0"
      },
      {
        "contentUdi": "umb://element/6efb660df7b14135a047e816f9560c8e"
      },
      {
        "contentUdi": "umb://element/5c3d1fd85dbd4d93a34275ee18a1461c"
      },
      {
        "contentUdi": "umb://element/f8532d68b0f146f9bc408a86c4e2a322"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c4084a5e0b94423967e9c661e7f57c2",
      "value": "plein air",
      "confidence": "0.9988662004470825"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a381712a5644e3eb4d00e0b73265843",
      "value": "bâtiment",
      "confidence": "0.995590090751648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b817012b720b40f9a5a735186b350be2",
      "value": "véhicule",
      "confidence": "0.9820249080657959"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2d4c43ccc0d4eec9f39a09ba660927b",
      "value": "Véhicule terrestre",
      "confidence": "0.9736665487289429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb4d053181204a0c8cb94e5516d34b3a",
      "value": "roue",
      "confidence": "0.9707133769989014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb8a398e47fb44f680893636a57ce47f",
      "value": "transport",
      "confidence": "0.9612389802932739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fea3616eb54c4721b33ad2b18616ff25",
      "value": "arbre",
      "confidence": "0.8927894830703735"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/471f5ef806084f42b94cfcd633e9e5f9",
      "value": "route",
      "confidence": "0.8895207643508911"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1dcfbfcc347f42dfbc8fb728bf874606",
      "value": "personne",
      "confidence": "0.8814932703971863"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/205ba3f7ccc34d2eb0394cb16fabaab0",
      "value": "habits",
      "confidence": "0.8694254159927368"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6efb660df7b14135a047e816f9560c8e",
      "value": "ville",
      "confidence": "0.7331749796867371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c3d1fd85dbd4d93a34275ee18a1461c",
      "value": "rue",
      "confidence": "0.720848023891449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8532d68b0f146f9bc408a86c4e2a322",
      "value": "personnes",
      "confidence": "0.7017524838447571"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Government worker or young student, everyone has their place</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Fonctionnaire ou jeune écolier, tout le monde a sa place</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a gray food truck parked on a street in Brussels, Belgium. In front of the food truck, several people are queuing to order food. A man in a blue suit is talking on the phone next to the truck. In the background, you can see modern buildings and trees trimmed into cone shapes."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un food truck gris stationné dans une rue de Bruxelles, Belgique. Devant le food truck, plusieurs personnes font la queue pour commander de la nourriture. Un homme en costume bleu parle au téléphone à côté du camion. En arrière-plan, on peut voir des bâtiments modernes et des arbres taillés en forme de cône."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#FoodTruck #Bruxelles #UrbanLife #StreetFood #ModernArchitecture]]></Value>
      <Value Culture="fr"><![CDATA[#FoodTruck #Bruxelles #Belgique #NourritureDeRue #Ville]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "1d510eb1-8ff7-4ebc-a7b2-65f793aaa231",
    "mediaKey": "d2aeaf0d-faa2-41e5-9c9d-cdb9757a5068"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Fonctionnaire ou jeune écolier, tout le monde a sa place.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Queue au Food Truck à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Queue at the Food Truck in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Queue au Food Truck à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/food-truck-in-the-eu-area-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/food-truck-in-the-eu-area-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "food truck",
  "Brussels",
  "Belgium",
  "food",
  "street",
  "modern buildings",
  "people",
  "queue"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "food truck",
  "Bruxelles",
  "Belgique",
  "nourriture",
  "rue",
  "bâtiments modernes",
  "personnes",
  "queue"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Fonctionnaire ou jeune écolier, tout le monde a sa place.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Queue at the Food Truck in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Queue au Food Truck à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>