<?xml version="1.0" encoding="utf-8"?>
<Content Key="03ed7489-256d-4933-b699-43df8c7ac28f" Alias="Qui sommes-nous" Level="5">
  <Info>
    <Parent Key="9701084e-661b-4c33-997a-9a228ae512aa">Accueil</Parent>
    <Path>/Crolow/Data/Menu/Accueil/QuiSommesNous</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-18T12:32:10</CreateDate>
    <NodeName Default="Qui sommes-nous">
      <Name Culture="fr">Qui sommes-nous</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[bi-shop]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[[
  {
    "name": "A propos",
    "udi": "umb://document/3f53d35f06e44b36ba9e1c408abc9df0"
  }
]]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Qui sommes-nous ?]]></Value>
    </title>
  </Properties>
</Content>