<?xml version="1.0" encoding="utf-8"?>
<Content Key="96861a05-1b1e-4b9e-9279-7182ca4d3725" Alias="Qui sommes-nous" Level="6">
  <Info>
    <Parent Key="c0c5de43-61dd-4e33-b44e-be5fed3f4849">Accueil</Parent>
    <Path>/Waaw/Data/Menu/MainMenu/Accueil/QuiSommesNous</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Qui sommes-nous">
      <Name Culture="fr">Qui sommes-nous</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[bi-people]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[[
  {
    "name": "A propos",
    "udi": "umb://document/241cc3f32a2f4ccfb9ca57345ab6ff73"
  }
]]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Qui sommes-nous ?]]></Value>
    </title>
  </Properties>
</Content>