<?xml version="1.0" encoding="utf-8"?>
<Content Key="bab820db-73d2-4723-99e4-20f938d05517" Alias="Railay beach en tout beauté" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/RailayBeachEnToutBeaute</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Railay beach en tout beauté">
      <Name Culture="en">Railay Beach in All Its Beauty</Name>
      <Name Culture="fr">Railay beach en tout beauté</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/312ee85a214e4c09978e8b4b151dd5eb"
      },
      {
        "contentUdi": "umb://element/f6fa19e4d2334448b42ad1f15170e5f4"
      },
      {
        "contentUdi": "umb://element/d64033f4bfca4000bac11ae9192ee9ad"
      },
      {
        "contentUdi": "umb://element/3d8cf7813e8741e881508ad642972c9d"
      },
      {
        "contentUdi": "umb://element/1298e41f486544ce82678253b5f356f5"
      },
      {
        "contentUdi": "umb://element/8be53443cbbb4c6fb8cfa53f7b7d409d"
      },
      {
        "contentUdi": "umb://element/af52e7ba943840568697926ea92f7eba"
      },
      {
        "contentUdi": "umb://element/54ba73d7ba934e2ba7ceaf16ddaf4906"
      },
      {
        "contentUdi": "umb://element/fafb72f69e6e485d9b61395f9f1f80e1"
      },
      {
        "contentUdi": "umb://element/bb415ff23cfc4649bc00cee20f7703fd"
      },
      {
        "contentUdi": "umb://element/dcce81a22c00484bb97a977cbfc0f5ed"
      },
      {
        "contentUdi": "umb://element/3c785f90d4b74058b5679f2ea167d58b"
      },
      {
        "contentUdi": "umb://element/6fd9a869f5414a8a91f0e8dd118df709"
      },
      {
        "contentUdi": "umb://element/7a27bfdcc1f242b492235cac9988af0d"
      },
      {
        "contentUdi": "umb://element/8822cca910e14eb5b0c9c28c79b35603"
      },
      {
        "contentUdi": "umb://element/91d2da2613274a20b9462f704ad3c86a"
      },
      {
        "contentUdi": "umb://element/0c827ca7c93a446a8c9e7974e87b42da"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/312ee85a214e4c09978e8b4b151dd5eb",
      "value": "nuage",
      "confidence": "0.9941202402114868"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6fa19e4d2334448b42ad1f15170e5f4",
      "value": "plein air",
      "confidence": "0.9927577972412109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d64033f4bfca4000bac11ae9192ee9ad",
      "value": "ciel",
      "confidence": "0.9915525317192078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d8cf7813e8741e881508ad642972c9d",
      "value": "eau",
      "confidence": "0.9755042791366577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1298e41f486544ce82678253b5f356f5",
      "value": "paysage",
      "confidence": "0.9663077592849731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8be53443cbbb4c6fb8cfa53f7b7d409d",
      "value": "nature",
      "confidence": "0.9136195182800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/af52e7ba943840568697926ea92f7eba",
      "value": "lac",
      "confidence": "0.8929295539855957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54ba73d7ba934e2ba7ceaf16ddaf4906",
      "value": "pile",
      "confidence": "0.8925009369850159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fafb72f69e6e485d9b61395f9f1f80e1",
      "value": "Îlot",
      "confidence": "0.8898972272872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb415ff23cfc4649bc00cee20f7703fd",
      "value": "Reliefs côtiers et océaniques",
      "confidence": "0.8840327858924866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dcce81a22c00484bb97a977cbfc0f5ed",
      "value": "falaise",
      "confidence": "0.8752700090408325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c785f90d4b74058b5679f2ea167d58b",
      "value": "Étendue d’eau",
      "confidence": "0.8463605642318726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fd9a869f5414a8a91f0e8dd118df709",
      "value": "rocher",
      "confidence": "0.834661602973938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7a27bfdcc1f242b492235cac9988af0d",
      "value": "île",
      "confidence": "0.8285766243934631"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8822cca910e14eb5b0c9c28c79b35603",
      "value": "montagne",
      "confidence": "0.5436884164810181"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91d2da2613274a20b9462f704ad3c86a",
      "value": "plage",
      "confidence": "0.5212709903717041"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c827ca7c93a446a8c9e7974e87b42da",
      "value": "mer",
      "confidence": "0.4503101706504822"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ec61a130a8124732a01289cc56920d67"
      },
      {
        "contentUdi": "umb://element/c9f84dd2f8194b8d94a469028e2001c1"
      },
      {
        "contentUdi": "umb://element/5c405c04696044449c3ab63c0f662706"
      },
      {
        "contentUdi": "umb://element/2dee0343a05b4d5685aa27ebb25775af"
      },
      {
        "contentUdi": "umb://element/71cf1022b4ce45fbb1628ab24a9537a5"
      },
      {
        "contentUdi": "umb://element/8a10eaee79484bc1a41208e7693a2e85"
      },
      {
        "contentUdi": "umb://element/f1f1d79b3025403287af6c6c875c26c8"
      },
      {
        "contentUdi": "umb://element/d58ceabd66e84ed89fb94977fadb94da"
      },
      {
        "contentUdi": "umb://element/5dfa84c258fe4d3ab99a45f5be5933fb"
      },
      {
        "contentUdi": "umb://element/9df8a58e01ad42e6afef2a8cc46caa8c"
      },
      {
        "contentUdi": "umb://element/ce314685ca9f4d3cad3a7f4e24636d8f"
      },
      {
        "contentUdi": "umb://element/6fad97b0f3694b69b4b0d3fc7f098b83"
      },
      {
        "contentUdi": "umb://element/c8895f0160dd4031b67291313d3cbd07"
      },
      {
        "contentUdi": "umb://element/2d26b27c7b2f45c5949d59939d9b4821"
      },
      {
        "contentUdi": "umb://element/c6f2123dde184a2897a3f5c5002aa04d"
      },
      {
        "contentUdi": "umb://element/538353449ea0488991edf98f14fe06ad"
      },
      {
        "contentUdi": "umb://element/5347974aa9fa4e43a4da8c98ba7fce4e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec61a130a8124732a01289cc56920d67",
      "value": "nuage",
      "confidence": "0.9941202402114868"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9f84dd2f8194b8d94a469028e2001c1",
      "value": "plein air",
      "confidence": "0.9927577972412109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5c405c04696044449c3ab63c0f662706",
      "value": "ciel",
      "confidence": "0.9915525317192078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2dee0343a05b4d5685aa27ebb25775af",
      "value": "eau",
      "confidence": "0.9755042791366577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71cf1022b4ce45fbb1628ab24a9537a5",
      "value": "paysage",
      "confidence": "0.9663077592849731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a10eaee79484bc1a41208e7693a2e85",
      "value": "nature",
      "confidence": "0.9136195182800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1f1d79b3025403287af6c6c875c26c8",
      "value": "lac",
      "confidence": "0.8929295539855957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d58ceabd66e84ed89fb94977fadb94da",
      "value": "pile",
      "confidence": "0.8925009369850159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5dfa84c258fe4d3ab99a45f5be5933fb",
      "value": "Îlot",
      "confidence": "0.8898972272872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9df8a58e01ad42e6afef2a8cc46caa8c",
      "value": "Reliefs côtiers et océaniques",
      "confidence": "0.8840327858924866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce314685ca9f4d3cad3a7f4e24636d8f",
      "value": "falaise",
      "confidence": "0.8752700090408325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6fad97b0f3694b69b4b0d3fc7f098b83",
      "value": "Étendue d’eau",
      "confidence": "0.8463605642318726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c8895f0160dd4031b67291313d3cbd07",
      "value": "rocher",
      "confidence": "0.834661602973938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d26b27c7b2f45c5949d59939d9b4821",
      "value": "île",
      "confidence": "0.8285766243934631"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c6f2123dde184a2897a3f5c5002aa04d",
      "value": "montagne",
      "confidence": "0.5436884164810181"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/538353449ea0488991edf98f14fe06ad",
      "value": "plage",
      "confidence": "0.5212709903717041"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5347974aa9fa4e43a4da8c98ba7fce4e",
      "value": "mer",
      "confidence": "0.4503101706504822"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Rock and water, what more could you ask for.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>De la roche et de l'eau, que demander de plus.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a panoramic view of Railay Beach in Thailand. You can see imposing and verdant rock formations emerging from the turquoise water under a blue sky dotted with white clouds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue panoramique de la plage de Railay en Thaïlande. On y voit des formations rocheuses imposantes et verdoyantes émergeant de l'eau turquoise sous un ciel bleu parsemé de nuages blancs."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #LimestoneCliffs #Nature #Travel #ScenicViews #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#RailayBeach #Thaïlande #Nature #Paysage #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "79816b91-1c5b-4013-9462-c8fc1c8ad11f",
    "mediaKey": "bac529de-2666-46fe-83f4-4236cf44f602"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Railay Beach: A Hidden Paradise]]></Value>
      <Value Culture="fr"><![CDATA[La Splendeur de la Plage de Railay]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/2-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/2-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "Railay",
  "Thailand",
  "rocks",
  "sea",
  "sky",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "Railay",
  "Thaïlande",
  "rochers",
  "mer",
  "ciel",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Railay Beach: A Hidden Paradise]]></Value>
      <Value Culture="fr"><![CDATA[La Splendeur de la Plage de Railay]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>