<?xml version="1.0" encoding="utf-8"?>
<Content Key="5917d2a2-cc26-4492-98f1-7e9130e38029" Alias="Railay beach pieds dans l'eau" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/RailayBeachPiedsDansLeau</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-03T07:47:19</CreateDate>
    <NodeName Default="Railay beach pieds dans l'eau">
      <Name Culture="en">Railay Beach feet in the water</Name>
      <Name Culture="fr">Railay beach pieds dans l'eau</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f9e286fb4784658bb87d75885dd3007"
      },
      {
        "contentUdi": "umb://element/500c5fac495e4c46b07af60adb8b51e9"
      },
      {
        "contentUdi": "umb://element/b3b84fb35e7941c0a881e50c3cb00cd0"
      },
      {
        "contentUdi": "umb://element/0ad1849c2e084777aa0adf61699858f7"
      },
      {
        "contentUdi": "umb://element/1524693e932f42689d8154acf9a5602d"
      },
      {
        "contentUdi": "umb://element/c131f6b25dac4283821a357ff5bfa1f8"
      },
      {
        "contentUdi": "umb://element/ce9c019584cc4bfdbdee7abf2e5f7ea6"
      },
      {
        "contentUdi": "umb://element/6a33cce95cda490d8bae269bc6811a81"
      },
      {
        "contentUdi": "umb://element/eeccbb0a26d24f97be24d486f4deaa7b"
      },
      {
        "contentUdi": "umb://element/f676affdcc544b80b4a37349d8ffd38f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f9e286fb4784658bb87d75885dd3007",
      "value": "plein air",
      "confidence": "0.9951550960540771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/500c5fac495e4c46b07af60adb8b51e9",
      "value": "arbre",
      "confidence": "0.9922930598258972"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b3b84fb35e7941c0a881e50c3cb00cd0",
      "value": "nature",
      "confidence": "0.9918822646141052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ad1849c2e084777aa0adf61699858f7",
      "value": "arc-en-ciel",
      "confidence": "0.9887657761573792"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1524693e932f42689d8154acf9a5602d",
      "value": "ciel",
      "confidence": "0.9639687538146973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c131f6b25dac4283821a357ff5bfa1f8",
      "value": "nuage",
      "confidence": "0.9638097286224365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce9c019584cc4bfdbdee7abf2e5f7ea6",
      "value": "eau",
      "confidence": "0.9077746868133545"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a33cce95cda490d8bae269bc6811a81",
      "value": "plage",
      "confidence": "0.9012376070022583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eeccbb0a26d24f97be24d486f4deaa7b",
      "value": "sol",
      "confidence": "0.8861979246139526"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f676affdcc544b80b4a37349d8ffd38f",
      "value": "coucher de soleil",
      "confidence": "0.7104520797729492"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f9e286fb4784658bb87d75885dd3007"
      },
      {
        "contentUdi": "umb://element/500c5fac495e4c46b07af60adb8b51e9"
      },
      {
        "contentUdi": "umb://element/b3b84fb35e7941c0a881e50c3cb00cd0"
      },
      {
        "contentUdi": "umb://element/0ad1849c2e084777aa0adf61699858f7"
      },
      {
        "contentUdi": "umb://element/1524693e932f42689d8154acf9a5602d"
      },
      {
        "contentUdi": "umb://element/c131f6b25dac4283821a357ff5bfa1f8"
      },
      {
        "contentUdi": "umb://element/ce9c019584cc4bfdbdee7abf2e5f7ea6"
      },
      {
        "contentUdi": "umb://element/6a33cce95cda490d8bae269bc6811a81"
      },
      {
        "contentUdi": "umb://element/eeccbb0a26d24f97be24d486f4deaa7b"
      },
      {
        "contentUdi": "umb://element/f676affdcc544b80b4a37349d8ffd38f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f9e286fb4784658bb87d75885dd3007",
      "value": "plein air",
      "confidence": "0.9951550960540771"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/500c5fac495e4c46b07af60adb8b51e9",
      "value": "arbre",
      "confidence": "0.9922930598258972"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b3b84fb35e7941c0a881e50c3cb00cd0",
      "value": "nature",
      "confidence": "0.9918822646141052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ad1849c2e084777aa0adf61699858f7",
      "value": "arc-en-ciel",
      "confidence": "0.9887657761573792"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1524693e932f42689d8154acf9a5602d",
      "value": "ciel",
      "confidence": "0.9639687538146973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c131f6b25dac4283821a357ff5bfa1f8",
      "value": "nuage",
      "confidence": "0.9638097286224365"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce9c019584cc4bfdbdee7abf2e5f7ea6",
      "value": "eau",
      "confidence": "0.9077746868133545"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a33cce95cda490d8bae269bc6811a81",
      "value": "plage",
      "confidence": "0.9012376070022583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eeccbb0a26d24f97be24d486f4deaa7b",
      "value": "sol",
      "confidence": "0.8861979246139526"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f676affdcc544b80b4a37349d8ffd38f",
      "value": "coucher de soleil",
      "confidence": "0.7104520797729492"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Another beach at Railay, a few trees wading in the water.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Une autre plage de Railay beach, quelques arbres pataugent dans l'eau.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a beach in Railay, Thailand, with trees growing in the shallow water. A beautiful rainbow is visible in the sky, adding a touch of magic to the scene. The sky is partially covered with clouds, creating a dramatic atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage à Railay, en Thaïlande, avec des arbres poussant dans l'eau peu profonde. Un magnifique arc-en-ciel est visible dans le ciel, ajoutant une touche de magie à la scène. Le ciel est partiellement couvert de nuages, créant une atmosphère dramatique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #CoastalScene #Rainbow #Sunset #NaturePhotography #Serene #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#plage #Railay #Thaïlande #arcenciel #nature #paysage #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "47679c3e-c5ff-43d9-8079-f00a2a96fdcf",
    "mediaKey": "3aaa4280-1aa6-4eef-b316-a79953475dcc"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Railay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Railay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté enchanteresse de Railay Beach, où les arbres se baignent dans les eaux peu profondes sous un arc-en-ciel captivant.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté enchanteresse de Railay Beach, où les arbres se baignent dans les eaux peu profondes sous un arc-en-ciel captivant.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Railay Beach: Feet in the Water]]></Value>
      <Value Culture="fr"><![CDATA[Magie Naturelle à Railay Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/4-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/4-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "Railay",
  "Thailand",
  "rainbow",
  "trees",
  "water",
  "sky",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "Railay",
  "Thaïlande",
  "arc-en-ciel",
  "arbres",
  "eau",
  "ciel",
  "nuages"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté enchanteresse de Railay Beach, où les arbres se baignent dans les eaux peu profondes sous un arc-en-ciel captivant.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Railay Beach: Feet in the Water]]></Value>
      <Value Culture="fr"><![CDATA[Magie Naturelle à Railay Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>