<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ecdb28-aad6-4a61-aeba-4845129e549f" Alias="Railay beach en tout beauté" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/RailayBeachEnToutBeaute</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-03T07:50:21</CreateDate>
    <NodeName Default="Railay beach en tout beauté">
      <Name Culture="en">Railay Beach in All Its Beauty</Name>
      <Name Culture="fr">Railay beach en tout beauté</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/438264faa36a4fd89fb88c3b214e1cb4"
      },
      {
        "contentUdi": "umb://element/dc8a52eda28b4c3582bce579bae60c97"
      },
      {
        "contentUdi": "umb://element/e21e88476fb349739ae13593f7b1b36b"
      },
      {
        "contentUdi": "umb://element/b38b2e88405844afa0e24ade0c7d4f29"
      },
      {
        "contentUdi": "umb://element/80690c69407e478cb046bb1b7fa800bd"
      },
      {
        "contentUdi": "umb://element/0801f5de6701402cbc05d84647079d67"
      },
      {
        "contentUdi": "umb://element/17c6619e26b342bdbc9ade70b0a7187e"
      },
      {
        "contentUdi": "umb://element/0f8f42a0401d4f93812f5b3ae841a399"
      },
      {
        "contentUdi": "umb://element/43a7da77e13742beae5be808bdf8aab6"
      },
      {
        "contentUdi": "umb://element/946ac2dd90ce491db94ab734706297a4"
      },
      {
        "contentUdi": "umb://element/40950ad265ab4eff881b3afcbc19ec6b"
      },
      {
        "contentUdi": "umb://element/6da05624bb0a4abc8a3e2e2f865b6e47"
      },
      {
        "contentUdi": "umb://element/1452207cf0f54550afca19fbbf5c0aee"
      },
      {
        "contentUdi": "umb://element/db5d6bce625b430f9d50ee851afe797f"
      },
      {
        "contentUdi": "umb://element/3a7c9cddd8fe4fe380ff0bb769af04c7"
      },
      {
        "contentUdi": "umb://element/9d07891286504633b3511a71d59276d1"
      },
      {
        "contentUdi": "umb://element/c91e371e3635411f9aa66a89e8eed3e7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/438264faa36a4fd89fb88c3b214e1cb4",
      "value": "nuage",
      "confidence": "0.9941202402114868"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc8a52eda28b4c3582bce579bae60c97",
      "value": "plein air",
      "confidence": "0.9927577972412109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e21e88476fb349739ae13593f7b1b36b",
      "value": "ciel",
      "confidence": "0.9915525317192078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b38b2e88405844afa0e24ade0c7d4f29",
      "value": "eau",
      "confidence": "0.9755042791366577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80690c69407e478cb046bb1b7fa800bd",
      "value": "paysage",
      "confidence": "0.9663077592849731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0801f5de6701402cbc05d84647079d67",
      "value": "nature",
      "confidence": "0.9136195182800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17c6619e26b342bdbc9ade70b0a7187e",
      "value": "lac",
      "confidence": "0.8929295539855957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f8f42a0401d4f93812f5b3ae841a399",
      "value": "pile",
      "confidence": "0.8925009369850159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43a7da77e13742beae5be808bdf8aab6",
      "value": "Îlot",
      "confidence": "0.8898972272872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/946ac2dd90ce491db94ab734706297a4",
      "value": "Reliefs côtiers et océaniques",
      "confidence": "0.8840327858924866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40950ad265ab4eff881b3afcbc19ec6b",
      "value": "falaise",
      "confidence": "0.8752700090408325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6da05624bb0a4abc8a3e2e2f865b6e47",
      "value": "Étendue d’eau",
      "confidence": "0.8463605642318726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1452207cf0f54550afca19fbbf5c0aee",
      "value": "rocher",
      "confidence": "0.834661602973938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db5d6bce625b430f9d50ee851afe797f",
      "value": "île",
      "confidence": "0.8285766243934631"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a7c9cddd8fe4fe380ff0bb769af04c7",
      "value": "montagne",
      "confidence": "0.5436884164810181"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d07891286504633b3511a71d59276d1",
      "value": "plage",
      "confidence": "0.5212709903717041"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c91e371e3635411f9aa66a89e8eed3e7",
      "value": "mer",
      "confidence": "0.4503101706504822"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/438264faa36a4fd89fb88c3b214e1cb4"
      },
      {
        "contentUdi": "umb://element/dc8a52eda28b4c3582bce579bae60c97"
      },
      {
        "contentUdi": "umb://element/e21e88476fb349739ae13593f7b1b36b"
      },
      {
        "contentUdi": "umb://element/b38b2e88405844afa0e24ade0c7d4f29"
      },
      {
        "contentUdi": "umb://element/80690c69407e478cb046bb1b7fa800bd"
      },
      {
        "contentUdi": "umb://element/0801f5de6701402cbc05d84647079d67"
      },
      {
        "contentUdi": "umb://element/17c6619e26b342bdbc9ade70b0a7187e"
      },
      {
        "contentUdi": "umb://element/0f8f42a0401d4f93812f5b3ae841a399"
      },
      {
        "contentUdi": "umb://element/43a7da77e13742beae5be808bdf8aab6"
      },
      {
        "contentUdi": "umb://element/946ac2dd90ce491db94ab734706297a4"
      },
      {
        "contentUdi": "umb://element/40950ad265ab4eff881b3afcbc19ec6b"
      },
      {
        "contentUdi": "umb://element/6da05624bb0a4abc8a3e2e2f865b6e47"
      },
      {
        "contentUdi": "umb://element/1452207cf0f54550afca19fbbf5c0aee"
      },
      {
        "contentUdi": "umb://element/db5d6bce625b430f9d50ee851afe797f"
      },
      {
        "contentUdi": "umb://element/3a7c9cddd8fe4fe380ff0bb769af04c7"
      },
      {
        "contentUdi": "umb://element/9d07891286504633b3511a71d59276d1"
      },
      {
        "contentUdi": "umb://element/c91e371e3635411f9aa66a89e8eed3e7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/438264faa36a4fd89fb88c3b214e1cb4",
      "value": "nuage",
      "confidence": "0.9941202402114868"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc8a52eda28b4c3582bce579bae60c97",
      "value": "plein air",
      "confidence": "0.9927577972412109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e21e88476fb349739ae13593f7b1b36b",
      "value": "ciel",
      "confidence": "0.9915525317192078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b38b2e88405844afa0e24ade0c7d4f29",
      "value": "eau",
      "confidence": "0.9755042791366577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80690c69407e478cb046bb1b7fa800bd",
      "value": "paysage",
      "confidence": "0.9663077592849731"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0801f5de6701402cbc05d84647079d67",
      "value": "nature",
      "confidence": "0.9136195182800293"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17c6619e26b342bdbc9ade70b0a7187e",
      "value": "lac",
      "confidence": "0.8929295539855957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f8f42a0401d4f93812f5b3ae841a399",
      "value": "pile",
      "confidence": "0.8925009369850159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43a7da77e13742beae5be808bdf8aab6",
      "value": "Îlot",
      "confidence": "0.8898972272872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/946ac2dd90ce491db94ab734706297a4",
      "value": "Reliefs côtiers et océaniques",
      "confidence": "0.8840327858924866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40950ad265ab4eff881b3afcbc19ec6b",
      "value": "falaise",
      "confidence": "0.8752700090408325"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6da05624bb0a4abc8a3e2e2f865b6e47",
      "value": "Étendue d’eau",
      "confidence": "0.8463605642318726"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1452207cf0f54550afca19fbbf5c0aee",
      "value": "rocher",
      "confidence": "0.834661602973938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db5d6bce625b430f9d50ee851afe797f",
      "value": "île",
      "confidence": "0.8285766243934631"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a7c9cddd8fe4fe380ff0bb769af04c7",
      "value": "montagne",
      "confidence": "0.5436884164810181"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d07891286504633b3511a71d59276d1",
      "value": "plage",
      "confidence": "0.5212709903717041"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c91e371e3635411f9aa66a89e8eed3e7",
      "value": "mer",
      "confidence": "0.4503101706504822"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Rock and water, what more could you ask for.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>De la roche et de l'eau, que demander de plus.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a panoramic view of Railay Beach in Thailand. You can see imposing and verdant rock formations emerging from the turquoise water under a blue sky dotted with white clouds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue panoramique de la plage de Railay en Thaïlande. On y voit des formations rocheuses imposantes et verdoyantes émergeant de l'eau turquoise sous un ciel bleu parsemé de nuages blancs."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #LimestoneCliffs #Nature #Travel #ScenicViews #BeautifulDestinations]]></Value>
      <Value Culture="fr"><![CDATA[#RailayBeach #Thaïlande #Nature #Paysage #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "79816b91-1c5b-4013-9462-c8fc1c8ad11f",
    "mediaKey": "bac529de-2666-46fe-83f4-4236cf44f602"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Railay Beach: A Hidden Paradise]]></Value>
      <Value Culture="fr"><![CDATA[La Splendeur de la Plage de Railay]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/2-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/2-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "Railay",
  "Thailand",
  "rocks",
  "sea",
  "sky",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "Railay",
  "Thaïlande",
  "rochers",
  "mer",
  "ciel",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[De la roche et de l'eau, que demander de plus.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Railay Beach: A Hidden Paradise]]></Value>
      <Value Culture="fr"><![CDATA[La Splendeur de la Plage de Railay]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>