<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cba066e-804d-46fb-8d16-f831c94b4954" Alias="Reflections on Ban Rak Thai Lake" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/ReflectionsOnBanRakThaiLake</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T17:08:47</CreateDate>
    <NodeName Default="Reflections on Ban Rak Thai Lake">
      <Name Culture="en">Reflections on Ban Rak Thai Lake</Name>
      <Name Culture="fr">Réflexions sur le lac de Ban Rak Thai</Name>
    </NodeName>
    <SortOrder>43</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e78c9fa537544a269f7bf2f26dce1aec"
      },
      {
        "contentUdi": "umb://element/1396ca27ca014bb7bafff5c2bf3877e2"
      },
      {
        "contentUdi": "umb://element/bada02ff8f924fc593a03ba3b0b288e7"
      },
      {
        "contentUdi": "umb://element/c1cc6a28ef974cf4b002f54789d1dd5c"
      },
      {
        "contentUdi": "umb://element/877e30f9d18c41bf88fd9b6d6234cf5e"
      },
      {
        "contentUdi": "umb://element/f03668efdd2645d9b3d4ca4f7050ca39"
      },
      {
        "contentUdi": "umb://element/77bdd41648324b7a806285dd997c9788"
      },
      {
        "contentUdi": "umb://element/d8ca11dc5f9b4f3686b6b5cb8472ce4c"
      },
      {
        "contentUdi": "umb://element/f442eef4c63b40a18081b2b6224b61a8"
      },
      {
        "contentUdi": "umb://element/88d2080da5c74a54aaacacfc7bdb287e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e78c9fa537544a269f7bf2f26dce1aec",
      "value": "plein air",
      "confidence": "0.9935380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1396ca27ca014bb7bafff5c2bf3877e2",
      "value": "nuage",
      "confidence": "0.9917752742767334"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bada02ff8f924fc593a03ba3b0b288e7",
      "value": "paysage",
      "confidence": "0.9841773509979248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1cc6a28ef974cf4b002f54789d1dd5c",
      "value": "arbre",
      "confidence": "0.9749346971511841"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/877e30f9d18c41bf88fd9b6d6234cf5e",
      "value": "eau",
      "confidence": "0.9722893238067627"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f03668efdd2645d9b3d4ca4f7050ca39",
      "value": "ciel",
      "confidence": "0.9713494777679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77bdd41648324b7a806285dd997c9788",
      "value": "nature",
      "confidence": "0.967066764831543"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8ca11dc5f9b4f3686b6b5cb8472ce4c",
      "value": "reflet",
      "confidence": "0.9159344434738159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f442eef4c63b40a18081b2b6224b61a8",
      "value": "montagne",
      "confidence": "0.7903287410736084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88d2080da5c74a54aaacacfc7bdb287e",
      "value": "lac",
      "confidence": "0.5384135842323303"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e78c9fa537544a269f7bf2f26dce1aec"
      },
      {
        "contentUdi": "umb://element/1396ca27ca014bb7bafff5c2bf3877e2"
      },
      {
        "contentUdi": "umb://element/bada02ff8f924fc593a03ba3b0b288e7"
      },
      {
        "contentUdi": "umb://element/c1cc6a28ef974cf4b002f54789d1dd5c"
      },
      {
        "contentUdi": "umb://element/877e30f9d18c41bf88fd9b6d6234cf5e"
      },
      {
        "contentUdi": "umb://element/f03668efdd2645d9b3d4ca4f7050ca39"
      },
      {
        "contentUdi": "umb://element/77bdd41648324b7a806285dd997c9788"
      },
      {
        "contentUdi": "umb://element/d8ca11dc5f9b4f3686b6b5cb8472ce4c"
      },
      {
        "contentUdi": "umb://element/f442eef4c63b40a18081b2b6224b61a8"
      },
      {
        "contentUdi": "umb://element/88d2080da5c74a54aaacacfc7bdb287e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e78c9fa537544a269f7bf2f26dce1aec",
      "value": "plein air",
      "confidence": "0.9935380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1396ca27ca014bb7bafff5c2bf3877e2",
      "value": "nuage",
      "confidence": "0.9917752742767334"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bada02ff8f924fc593a03ba3b0b288e7",
      "value": "paysage",
      "confidence": "0.9841773509979248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1cc6a28ef974cf4b002f54789d1dd5c",
      "value": "arbre",
      "confidence": "0.9749346971511841"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/877e30f9d18c41bf88fd9b6d6234cf5e",
      "value": "eau",
      "confidence": "0.9722893238067627"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f03668efdd2645d9b3d4ca4f7050ca39",
      "value": "ciel",
      "confidence": "0.9713494777679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77bdd41648324b7a806285dd997c9788",
      "value": "nature",
      "confidence": "0.967066764831543"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8ca11dc5f9b4f3686b6b5cb8472ce4c",
      "value": "reflet",
      "confidence": "0.9159344434738159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f442eef4c63b40a18081b2b6224b61a8",
      "value": "montagne",
      "confidence": "0.7903287410736084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88d2080da5c74a54aaacacfc7bdb287e",
      "value": "lac",
      "confidence": "0.5384135842323303"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Panorama of Ban Rak Thai Lake</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama sur le lac de Ban Rak Thai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a stunning landscape of Ban Rak Thai, Thailand. The village is surrounded by lush hills and is perfectly reflected in a calm lake, creating an almost perfect symmetry. The sky is a clear blue with a few scattered white clouds, adding to the tranquility of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un magnifique paysage de Ban Rak Thai, en Thaïlande. Le village est entouré de collines verdoyantes et se reflète parfaitement dans un lac calme, créant une symétrie presque parfaite. Le ciel est d'un bleu clair avec quelques nuages blancs épars, ajoutant à la tranquillité de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#BanRakThai #Thailand #SereneLandscape #MirrorReflection #TraditionalVillage #Nature #TravelPhotography]]></Value>
      <Value Culture="fr"><![CDATA[#BanRakThai #Thaïlande #Paysage #Lac #Nature #Reflet #Voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "904b6f3f-25c8-4ffd-be4e-1a871c48807f",
    "mediaKey": "4e6d00bb-48d7-4c5f-b773-451cebbde4a5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ban Rak Thai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ban Rak Thai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme serein de Ban Rak Thai, où le village et la nature se rencontrent en parfaite harmonie.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Tranquilles au Lac de Ban Rak Thai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Tranquil Reflections at Ban Rak Thai Lake]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Tranquilles au Lac de Ban Rak Thai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/ban-rak-thai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/ban-rak-thai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Ban Rak Thai",
  "Thailand",
  "landscape",
  "lake",
  "reflection",
  "hills",
  "village",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Ban Rak Thai",
  "Thaïlande",
  "paysage",
  "lac",
  "reflet",
  "collines",
  "village",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme serein de Ban Rak Thai, où le village et la nature se rencontrent en parfaite harmonie.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Tranquil Reflections at Ban Rak Thai Lake]]></Value>
      <Value Culture="fr"><![CDATA[Réflexions Tranquilles au Lac de Ban Rak Thai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>