<?xml version="1.0" encoding="utf-8"?>
<Content Key="75698010-af37-4c9a-a622-1d62288bf1a3" Alias="Rideau de douche" Level="4">
  <Info>
    <Parent Key="a7f86834-789d-423a-bacb-568c6115a2c0">Products</Parent>
    <Path>/Crolow/Data/Products/RideauDeDouche</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-29T18:31:59</CreateDate>
    <NodeName Default="Rideau de douche">
      <Name Culture="en">Shower Curtain</Name>
      <Name Culture="fr">Rideau de douche</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Our shower curtains are made from 100% polyester fabric and include 12 holes at the top of the curtain for easy hanging on your own shower curtain rings. The overall dimensions of each shower curtain are 71\" wide x 74\" tall.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Nos rideaux de douche sont fabriqués à partir de tissu 100 % polyester et comprennent 12 trous en haut du rideau pour une suspension simple à vos propres anneaux de rideau de douche. Les dimensions totales de chaque rideau de douche sont de 71\" de large x 74\" de haut.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[shower-curtain]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[54]]></Value>
    </price>
    <productId>
      <Value><![CDATA[T-CURTAIN]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Rideau de douche]]></Value>
      <Value Culture="fr"><![CDATA[Rideau de douche]]></Value>
    </productName>
  </Properties>
</Content>