<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c9da048-2900-4a90-a88b-27397f1dbd45" Alias="Rogier Square #2" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/RogierSquare2</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T14:03:54</CreateDate>
    <NodeName Default="Rogier Square #2">
      <Name Culture="en">Rogier Square #2</Name>
      <Name Culture="fr">La place Rogier #2</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a6e72d03f23431ebb61713169ef9569"
      },
      {
        "contentUdi": "umb://element/3fa53d5fa0d5421e83e69a0a735008ba"
      },
      {
        "contentUdi": "umb://element/558f3ac3b6534ccdb256618e9985ae16"
      },
      {
        "contentUdi": "umb://element/97fc07ee43754c709c60239f89aea169"
      },
      {
        "contentUdi": "umb://element/d531c8b113884af7ade8322a1dc6c10a"
      },
      {
        "contentUdi": "umb://element/094a1f573e5741b78552bf3b2702946e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a6e72d03f23431ebb61713169ef9569",
      "value": "nuage",
      "confidence": "0.9912024736404419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3fa53d5fa0d5421e83e69a0a735008ba",
      "value": "ciel",
      "confidence": "0.9836782217025757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/558f3ac3b6534ccdb256618e9985ae16",
      "value": "plein air",
      "confidence": "0.9729461669921875"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97fc07ee43754c709c60239f89aea169",
      "value": "bâtiment",
      "confidence": "0.9692009687423706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d531c8b113884af7ade8322a1dc6c10a",
      "value": "sol",
      "confidence": "0.9334847331047058"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/094a1f573e5741b78552bf3b2702946e",
      "value": "ville",
      "confidence": "0.5193935036659241"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a6e72d03f23431ebb61713169ef9569"
      },
      {
        "contentUdi": "umb://element/3fa53d5fa0d5421e83e69a0a735008ba"
      },
      {
        "contentUdi": "umb://element/558f3ac3b6534ccdb256618e9985ae16"
      },
      {
        "contentUdi": "umb://element/97fc07ee43754c709c60239f89aea169"
      },
      {
        "contentUdi": "umb://element/d531c8b113884af7ade8322a1dc6c10a"
      },
      {
        "contentUdi": "umb://element/094a1f573e5741b78552bf3b2702946e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a6e72d03f23431ebb61713169ef9569",
      "value": "nuage",
      "confidence": "0.9912024736404419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3fa53d5fa0d5421e83e69a0a735008ba",
      "value": "ciel",
      "confidence": "0.9836782217025757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/558f3ac3b6534ccdb256618e9985ae16",
      "value": "plein air",
      "confidence": "0.9729461669921875"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97fc07ee43754c709c60239f89aea169",
      "value": "bâtiment",
      "confidence": "0.9692009687423706"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d531c8b113884af7ade8322a1dc6c10a",
      "value": "sol",
      "confidence": "0.9334847331047058"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/094a1f573e5741b78552bf3b2702946e",
      "value": "ville",
      "confidence": "0.5193935036659241"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Urban Umbrella</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Parapluie urbain</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an urban scene in Brussels, Belgium, with a modern architectural structure in the shape of a disc at the center. The structure is surrounded by buildings and passersby. A metro entrance marked by a large blue 'M' can also be seen. The sky is clear and sunny, creating a bright atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène urbaine à Bruxelles, Belgique, avec une structure architecturale moderne en forme de disque au centre. La structure est entourée de bâtiments et de passants. On peut également voir une entrée de métro marquée par un grand 'M' bleu. Le ciel est dégagé et ensoleillé, créant une atmosphère lumineuse."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #ModernArchitecture #UrbanArea #GeometricPattern #SunnyDay]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #architecture #métro #urbain #ville]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "e0bdb525-2595-40e9-8acb-8fb7e3777c47",
    "mediaKey": "64252f60-5b6b-4e59-82a9-d16ed707017c"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la modernité architecturale de Bruxelles sous un ciel ensoleillé.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier #2 : Parapluie urbain]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Rogier Square #2: Urban Umbrella]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier #2 : Parapluie urbain]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-place-rogier-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-place-rogier-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "architecture",
  "modern structure",
  "metro",
  "urban",
  "passersby",
  "buildings"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture",
  "structure moderne",
  "métro",
  "urbain",
  "passants",
  "bâtiments"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la modernité architecturale de Bruxelles sous un ciel ensoleillé.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Rogier Square #2: Urban Umbrella]]></Value>
      <Value Culture="fr"><![CDATA[La place Rogier #2 : Parapluie urbain]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>