<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ab60650-103b-4fad-b143-4dbc2a2e5361" Alias="Rolling Hills" Level="6">
  <Info>
    <Parent Key="ceba3188-9498-43aa-bfb8-d4435dae7562">Albania</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Albania/RollingHills</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-05-05T16:16:21</CreateDate>
    <NodeName Default="Rolling Hills">
      <Name Culture="en">Rolling Hills</Name>
      <Name Culture="fr">Des rouleaux de collines</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Cultivated hills forming orange waves before hitting a mountain range&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Des collines cultivées formant des vagues orangées avant de buter sur une chaine de montagnes&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque landscape of Dhermi, Albania. It features rolling hills covered with varied vegetation, with touches of green and brown. In the background, majestic mountains rise under a clear blue sky. At the foot of the mountains, a small town or village can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage pittoresque de Dhermi, en Albanie. On y voit des collines ondulantes recouvertes de végétation variée, avec des touches de vert et de brun. À l'arrière-plan, des montagnes majestueuses s'élèvent sous un ciel bleu clair. Au pied des montagnes, on aperçoit une petite ville ou un village."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Dhermi #Albania #landscape #mountains #nature #scenery #travel #autumn]]></Value>
      <Value Culture="fr"><![CDATA[#Dhermi #Albanie #paysage #nature #montagnes #collines #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "d897b8ad-1715-48be-a435-ad15add93bbe",
    "mediaKey": "50aa5f1a-1ae2-46b0-bd5f-cab37096bd6a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Dhermi, Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Dhermi, Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les vagues orangées des collines de Dhermi, se heurtant à des montagnes majestueuses.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Des rouleaux de collines en Albanie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Rolling Hills in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Des rouleaux de collines en Albanie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/hills-and-mountains-of-albania-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/hills-and-mountains-of-albania-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Dhermi",
  "Albania",
  "landscape",
  "hills",
  "mountains",
  "nature",
  "vegetation",
  "village"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Dhermi",
  "Albanie",
  "paysage",
  "collines",
  "montagnes",
  "nature",
  "végétation",
  "village"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez les vagues orangées des collines de Dhermi, se heurtant à des montagnes majestueuses.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Rolling Hills in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Des rouleaux de collines en Albanie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>