<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fc96de1-d043-457c-a29d-43484c157458" Alias="Sac fourre-tout" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SacFourreTout</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Sac fourre-tout">
      <Name Culture="en">Tote Bag</Name>
      <Name Culture="fr">Sac fourre-tout</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Our tote bags are made from soft and durable poly-poplin fabric and include a 1\" black strap for easy carrying on your shoulder. All seams are double-stitched for added durability. Each tote bag is machine washable in cold water and printed on both sides using the same image.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Nos sacs fourre-tout sont fabriqués à partir de tissu poly-popline doux et durable et comprennent une sangle noire de 1\" pour un transport facile sur votre épaule. Toutes les coutures sont doubles pour une durabilité accrue. Chaque sac fourre-tout est lavable en machine à l'eau froide et est imprimé des deux côtés en utilisant la même image.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[tote-bag]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[18]]></Value>
    </price>
    <productId>
      <Value><![CDATA[T_TOTEBAG]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Sac fourre-tout]]></Value>
      <Value Culture="fr"><![CDATA[Sac fourre-tout]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>