<?xml version="1.0" encoding="utf-8"?>
<Content Key="e22949eb-b506-4438-91f2-4840638061cc" Alias="Sautera, sautera pas !" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/SauteraSauteraPas</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T21:00:34</CreateDate>
    <NodeName Default="Sautera, sautera pas !">
      <Name Culture="en">Will it jump or not?</Name>
      <Name Culture="fr">Sautera, sautera pas !</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aedd72e02ca64a22839ed56a33da66c1"
      },
      {
        "contentUdi": "umb://element/33d9299b5143416897364ef645b547b8"
      },
      {
        "contentUdi": "umb://element/eefb7273d3f34cbd8515e2879d57752e"
      },
      {
        "contentUdi": "umb://element/38d5ff26acba480ca737209f3b8534ad"
      },
      {
        "contentUdi": "umb://element/c797c1551cec41f09d47d0f06ac5f1f6"
      },
      {
        "contentUdi": "umb://element/b4f9ddd9560b41c7a45d8e8ab3e21dd6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aedd72e02ca64a22839ed56a33da66c1",
      "value": "plein air",
      "confidence": "0.971855640411377"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33d9299b5143416897364ef645b547b8",
      "value": "sol",
      "confidence": "0.8173272013664246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eefb7273d3f34cbd8515e2879d57752e",
      "value": "jouet",
      "confidence": "0.7235751152038574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38d5ff26acba480ca737209f3b8534ad",
      "value": "jaune",
      "confidence": "0.6638308167457581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c797c1551cec41f09d47d0f06ac5f1f6",
      "value": "animal",
      "confidence": "0.6625674962997437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4f9ddd9560b41c7a45d8e8ab3e21dd6",
      "value": "mammifère",
      "confidence": "0.5966360569000244"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aedd72e02ca64a22839ed56a33da66c1"
      },
      {
        "contentUdi": "umb://element/33d9299b5143416897364ef645b547b8"
      },
      {
        "contentUdi": "umb://element/eefb7273d3f34cbd8515e2879d57752e"
      },
      {
        "contentUdi": "umb://element/38d5ff26acba480ca737209f3b8534ad"
      },
      {
        "contentUdi": "umb://element/c797c1551cec41f09d47d0f06ac5f1f6"
      },
      {
        "contentUdi": "umb://element/b4f9ddd9560b41c7a45d8e8ab3e21dd6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aedd72e02ca64a22839ed56a33da66c1",
      "value": "plein air",
      "confidence": "0.971855640411377"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33d9299b5143416897364ef645b547b8",
      "value": "sol",
      "confidence": "0.8173272013664246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eefb7273d3f34cbd8515e2879d57752e",
      "value": "jouet",
      "confidence": "0.7235751152038574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38d5ff26acba480ca737209f3b8534ad",
      "value": "jaune",
      "confidence": "0.6638308167457581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c797c1551cec41f09d47d0f06ac5f1f6",
      "value": "animal",
      "confidence": "0.6625674962997437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4f9ddd9560b41c7a45d8e8ab3e21dd6",
      "value": "mammifère",
      "confidence": "0.5966360569000244"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Baby monkey in another one of those farms with I don't know what animal :-)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bébé singe dans un autre de ces fermes à je ne sais quel animal :-)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a small monkey dressed in colorful clothing, sitting on a wooden table in Chiang Mai, Thailand. Next to him, there is a large yellow stuffed animal lying on the table. The background is blurry, but you can make out trees and wooden structures."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un petit singe vêtu d'un vêtement coloré, assis sur une table en bois à Chiang Mai, Thaïlande. À côté de lui, il y a une grande peluche jaune allongée sur la table. L'arrière-plan est flou, mais on peut distinguer des arbres et des structures en bois."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#monkey #animal #stuffedtoy #outdoor #colorfuloutfit #ChiangMai #Thailand]]></Value>
      <Value Culture="fr"><![CDATA[#singe #ChiangMai #Thaïlande #animaux #extérieur #peluche #vêtementcoloré]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f17fc115-8c03-4630-a66d-0dc0a162cb90",
    "mediaKey": "53f50b24-259a-4337-9d4e-f39f1bae6a97"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Will it jump or not?]]></Value>
      <Value Culture="fr"><![CDATA[Bébé Singe à Chiang Mai : Une Rencontre Adorable]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/playful-little-monkey-in-another-whatever-animal-farm-crolow-pix.html?]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/playful-little-monkey-in-another-whatever-animal-farm-crolow-pix.html?]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "monkey",
  "colorful clothing",
  "stuffed animal",
  "wooden table",
  "Chiang Mai",
  "Thailand",
  "animals",
  "outdoors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "singe",
  "vêtement coloré",
  "peluche",
  "table en bois",
  "Chiang Mai",
  "Thaïlande",
  "animaux",
  "extérieur"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Will it jump or not?]]></Value>
      <Value Culture="fr"><![CDATA[Bébé Singe à Chiang Mai : Une Rencontre Adorable]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>