<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b067f5-469a-4679-9d08-5977f5c8f001" Alias="Sautera, sautera pas !" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/SauteraSauteraPas</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Sautera, sautera pas !">
      <Name Culture="en">Will it jump or not?</Name>
      <Name Culture="fr">Sautera, sautera pas !</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/76e8540e573a433faadf51fd12ca65ef"
      },
      {
        "contentUdi": "umb://element/c06943bea1a648a4aeb1845efa36fd43"
      },
      {
        "contentUdi": "umb://element/6d8921180d224eb091e660353e49c59e"
      },
      {
        "contentUdi": "umb://element/64da2e6b7ef84646ab4ffcd8ad95a713"
      },
      {
        "contentUdi": "umb://element/143091db21644da7be23eeea7f70b4b5"
      },
      {
        "contentUdi": "umb://element/7e5d0349fb0d4578b6c62d77b902c1d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/76e8540e573a433faadf51fd12ca65ef",
      "value": "plein air",
      "confidence": "0.971855640411377"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c06943bea1a648a4aeb1845efa36fd43",
      "value": "sol",
      "confidence": "0.8173272013664246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d8921180d224eb091e660353e49c59e",
      "value": "jouet",
      "confidence": "0.7235751152038574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/64da2e6b7ef84646ab4ffcd8ad95a713",
      "value": "jaune",
      "confidence": "0.6638308167457581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/143091db21644da7be23eeea7f70b4b5",
      "value": "animal",
      "confidence": "0.6625674962997437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e5d0349fb0d4578b6c62d77b902c1d0",
      "value": "mammifère",
      "confidence": "0.5966360569000244"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d910d1819eba48159a253832467212c8"
      },
      {
        "contentUdi": "umb://element/be6981d6442c480eb68100de88c8abfc"
      },
      {
        "contentUdi": "umb://element/932a4cb623e249dc8cbe26a6c291e07d"
      },
      {
        "contentUdi": "umb://element/289e0077a3e5423aaec15d61744a4dd4"
      },
      {
        "contentUdi": "umb://element/268a27c6b04843a7b31755768382319b"
      },
      {
        "contentUdi": "umb://element/feea170598ff4574bab931795a347569"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d910d1819eba48159a253832467212c8",
      "value": "plein air",
      "confidence": "0.971855640411377"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be6981d6442c480eb68100de88c8abfc",
      "value": "sol",
      "confidence": "0.8173272013664246"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/932a4cb623e249dc8cbe26a6c291e07d",
      "value": "jouet",
      "confidence": "0.7235751152038574"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/289e0077a3e5423aaec15d61744a4dd4",
      "value": "jaune",
      "confidence": "0.6638308167457581"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/268a27c6b04843a7b31755768382319b",
      "value": "animal",
      "confidence": "0.6625674962997437"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/feea170598ff4574bab931795a347569",
      "value": "mammifère",
      "confidence": "0.5966360569000244"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Baby monkey in another one of those farms with I don't know what animal :-)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Bébé singe dans un autre de ces fermes à je ne sais quel animal :-)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a small monkey dressed in colorful clothing, sitting on a wooden table in Chiang Mai, Thailand. Next to him, there is a large yellow stuffed animal lying on the table. The background is blurry, but you can make out trees and wooden structures."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un petit singe vêtu d'un vêtement coloré, assis sur une table en bois à Chiang Mai, Thaïlande. À côté de lui, il y a une grande peluche jaune allongée sur la table. L'arrière-plan est flou, mais on peut distinguer des arbres et des structures en bois."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#monkey #animal #stuffedtoy #outdoor #colorfuloutfit #ChiangMai #Thailand]]></Value>
      <Value Culture="fr"><![CDATA[#singe #ChiangMai #Thaïlande #animaux #extérieur #peluche #vêtementcoloré]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f17fc115-8c03-4630-a66d-0dc0a162cb90",
    "mediaKey": "53f50b24-259a-4337-9d4e-f39f1bae6a97"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Will it jump or not?]]></Value>
      <Value Culture="fr"><![CDATA[Bébé Singe à Chiang Mai : Une Rencontre Adorable]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/playful-little-monkey-in-another-whatever-animal-farm-crolow-pix.html?]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/playful-little-monkey-in-another-whatever-animal-farm-crolow-pix.html?]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "monkey",
  "colorful clothing",
  "stuffed animal",
  "wooden table",
  "Chiang Mai",
  "Thailand",
  "animals",
  "outdoors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "singe",
  "vêtement coloré",
  "peluche",
  "table en bois",
  "Chiang Mai",
  "Thaïlande",
  "animaux",
  "extérieur"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'adorable bébé singe vêtu de couleurs vives, assis à côté d'une grande peluche jaune dans une ferme exotique à Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Will it jump or not?]]></Value>
      <Value Culture="fr"><![CDATA[Bébé Singe à Chiang Mai : Une Rencontre Adorable]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>