<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f062a41-d28a-4613-a37f-ecb27d8b884a" Alias="Scènes de crime" Level="105">
  <Info>
    <Parent Key="19530df6-bde7-429f-a8c5-db14b895b153">Parcs et nature</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/ParcsEtNature/ScenesDeCrime</Path>
    <Trashed Parent="19530df6-bde7-429f-a8c5-db14b895b153">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Scènes de crime">
      <Name Culture="en">Crime Scenes</Name>
      <Name Culture="fr">Scènes de crime</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/437b0f3f73524a408f4e99d0e261c2ab"
      },
      {
        "contentUdi": "umb://element/6c56ead525084caf9a8ce80fec77fc32"
      },
      {
        "contentUdi": "umb://element/1e40c2793df74c32bf260689361d9026"
      },
      {
        "contentUdi": "umb://element/952f7827173e4366a69274a15a7fd950"
      },
      {
        "contentUdi": "umb://element/b00a970cd256421f8f5307755215d910"
      },
      {
        "contentUdi": "umb://element/be20896d616c428d84053ae44f815760"
      },
      {
        "contentUdi": "umb://element/341d53d929604abdbadfeef3086e988a"
      },
      {
        "contentUdi": "umb://element/0232f8c8fb554dd888e0bf64deea23b6"
      },
      {
        "contentUdi": "umb://element/db01c67f611e44aba646f19b68bdf373"
      },
      {
        "contentUdi": "umb://element/54e525e852ec4c14b4ca957d761dd002"
      },
      {
        "contentUdi": "umb://element/3239597d6f7b4330a894ec57a3157fcf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/437b0f3f73524a408f4e99d0e261c2ab",
      "value": "insecte",
      "confidence": "0.9682644605636597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6c56ead525084caf9a8ce80fec77fc32",
      "value": "herbe",
      "confidence": "0.9048240184783936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1e40c2793df74c32bf260689361d9026",
      "value": "plein air",
      "confidence": "0.8923994302749634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/952f7827173e4366a69274a15a7fd950",
      "value": "animal",
      "confidence": "0.8873400092124939"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b00a970cd256421f8f5307755215d910",
      "value": "invertébré",
      "confidence": "0.8566462397575378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be20896d616c428d84053ae44f815760",
      "value": "fleur",
      "confidence": "0.7295671105384827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/341d53d929604abdbadfeef3086e988a",
      "value": "scarabée",
      "confidence": "0.7036340236663818"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0232f8c8fb554dd888e0bf64deea23b6",
      "value": "coccinelle",
      "confidence": "0.6335276365280151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/db01c67f611e44aba646f19b68bdf373",
      "value": "plante",
      "confidence": "0.579990029335022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54e525e852ec4c14b4ca957d761dd002",
      "value": "flore",
      "confidence": "0.4947894215583801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3239597d6f7b4330a894ec57a3157fcf",
      "value": "rosacées",
      "confidence": "0.4022102653980255"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bc264074a3904d598f71649304b674db"
      },
      {
        "contentUdi": "umb://element/6bd0274d0ccf45a0a283bce183f22833"
      },
      {
        "contentUdi": "umb://element/b955846e419047f08d4d418cfd2a41f0"
      },
      {
        "contentUdi": "umb://element/68840afc10984ec58ac7a3923ad82ac4"
      },
      {
        "contentUdi": "umb://element/25d1f3edb2b84ed5880ab927e9b38d78"
      },
      {
        "contentUdi": "umb://element/e6572a0f55bf4b0bb215c7e78b43ada4"
      },
      {
        "contentUdi": "umb://element/a0239dc406034b43b6a1f06bf28013fc"
      },
      {
        "contentUdi": "umb://element/6efd2f441ca64ca2b851ecdeb058f6ac"
      },
      {
        "contentUdi": "umb://element/0d92b1ec63524b55967c2eabc5b9bd0e"
      },
      {
        "contentUdi": "umb://element/aa90cad039cd4c078763864a2a9e485e"
      },
      {
        "contentUdi": "umb://element/91c4be05add847a2a412f9802ab7206c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc264074a3904d598f71649304b674db",
      "value": "insecte",
      "confidence": "0.9682644605636597"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6bd0274d0ccf45a0a283bce183f22833",
      "value": "herbe",
      "confidence": "0.9048240184783936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b955846e419047f08d4d418cfd2a41f0",
      "value": "plein air",
      "confidence": "0.8923994302749634"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68840afc10984ec58ac7a3923ad82ac4",
      "value": "animal",
      "confidence": "0.8873400092124939"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25d1f3edb2b84ed5880ab927e9b38d78",
      "value": "invertébré",
      "confidence": "0.8566462397575378"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e6572a0f55bf4b0bb215c7e78b43ada4",
      "value": "fleur",
      "confidence": "0.7295671105384827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a0239dc406034b43b6a1f06bf28013fc",
      "value": "scarabée",
      "confidence": "0.7036340236663818"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6efd2f441ca64ca2b851ecdeb058f6ac",
      "value": "coccinelle",
      "confidence": "0.6335276365280151"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d92b1ec63524b55967c2eabc5b9bd0e",
      "value": "plante",
      "confidence": "0.579990029335022"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa90cad039cd4c078763864a2a9e485e",
      "value": "flore",
      "confidence": "0.4947894215583801"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91c4be05add847a2a412f9802ab7206c",
      "value": "rosacées",
      "confidence": "0.4022102653980255"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Mrs. Bee and Miss Ladybug have found a good spot</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a bee perched on a white flower, busy collecting nectar. To the left of the flower, a ladybug is visible on a stem. The background consists of green leaves, giving the scene a natural and fresh appearance."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une abeille posée sur une fleur blanche, en train de butiner. À gauche de la fleur, une coccinelle est visible sur une tige. Le fond est composé de feuilles vertes, ce qui donne un aspect naturel et frais à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#bee #flower #ladybug #nature #greenleaves #Bruxelles #Belgique]]></Value>
      <Value Culture="fr"><![CDATA[#abeille #fleur #coccinelle #nature #Bruxelles #Belgique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "b3e917a9-0bfb-4ce0-a62c-a7ec247ff2bc",
    "mediaKey": "2f8a15ef-6b8c-4b04-962b-707aacef9f69"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Crime Scenes]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bee-at-work-parc-baudouin-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "bee",
  "flower",
  "ladybug",
  "nature",
  "leaves",
  "nectar collection",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "abeille",
  "fleur",
  "coccinelle",
  "nature",
  "feuilles",
  "butinage",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Madame l'abeille, et demoiselle coccinelle ont trouvé un bon filon]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Crime Scenes]]></Value>
      <Value Culture="fr"><![CDATA[Scènes de crime]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>