<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3b60121-8b11-4bf2-b6eb-013b10673319" Alias="Settings" Level="3">
  <Info>
    <Parent Key="b1022f65-4212-4cbe-8f9a-8f884814d134">Data</Parent>
    <Path>/Crolow/Data/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsFolder</ContentType>
    <CreateDate>2024-02-28T23:09:24</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>