<?xml version="1.0" encoding="utf-8"?>
<Content Key="de4e87e8-fd7b-4234-acd1-fbac73b81910" Alias="Settings" Level="3">
  <Info>
    <Parent Key="003d13d0-23ba-4b52-83d7-2ed8e2a97289">Data</Parent>
    <Path>/Waaw/Data/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsFolder</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>