<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2c6f603-5265-4ffd-a472-a00615a76188" Alias="Silence on tourne!" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/SilenceOnTourne</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Silence on tourne!">
      <Name Culture="en">Quiet on set!</Name>
      <Name Culture="fr">Silence on tourne!</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/20c72371f1c34c3f8cd3858ed5b1bfb5"
      },
      {
        "contentUdi": "umb://element/80978e3c5729450f8254e3523dec7d56"
      },
      {
        "contentUdi": "umb://element/2130beb2c3434644bfb8c530b9440035"
      },
      {
        "contentUdi": "umb://element/f6dcd5a9593541a3a5064d009292124f"
      },
      {
        "contentUdi": "umb://element/4a8ce055727344b7b35ced12512343b4"
      },
      {
        "contentUdi": "umb://element/c4a70b25e5a64e6381a526cfd360e2ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20c72371f1c34c3f8cd3858ed5b1bfb5",
      "value": "plein air",
      "confidence": "0.9434080123901367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80978e3c5729450f8254e3523dec7d56",
      "value": "peinture",
      "confidence": "0.9196696877479553"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2130beb2c3434644bfb8c530b9440035",
      "value": "art",
      "confidence": "0.9050217270851135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6dcd5a9593541a3a5064d009292124f",
      "value": "plante",
      "confidence": "0.8605740666389465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4a8ce055727344b7b35ced12512343b4",
      "value": "graffiti",
      "confidence": "0.7677054405212402"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4a70b25e5a64e6381a526cfd360e2ba",
      "value": "pont",
      "confidence": "0.6862003803253174"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a6a68c1c8654cd79e313f0512a14ab9"
      },
      {
        "contentUdi": "umb://element/71de9d68bbdb4292adb761fc15a01c11"
      },
      {
        "contentUdi": "umb://element/ef415d1eebf3437e8c8b192d83ab5730"
      },
      {
        "contentUdi": "umb://element/ad214b0e13c84e05a84035808c63098c"
      },
      {
        "contentUdi": "umb://element/dccfcc98f1b34d7084479bc7bfc73849"
      },
      {
        "contentUdi": "umb://element/e165a32a245041eb99959d676d8f7d43"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a6a68c1c8654cd79e313f0512a14ab9",
      "value": "plein air",
      "confidence": "0.9434080123901367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71de9d68bbdb4292adb761fc15a01c11",
      "value": "peinture",
      "confidence": "0.9196696877479553"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef415d1eebf3437e8c8b192d83ab5730",
      "value": "art",
      "confidence": "0.9050217270851135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad214b0e13c84e05a84035808c63098c",
      "value": "plante",
      "confidence": "0.8605740666389465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dccfcc98f1b34d7084479bc7bfc73849",
      "value": "graffiti",
      "confidence": "0.7677054405212402"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e165a32a245041eb99959d676d8f7d43",
      "value": "pont",
      "confidence": "0.6862003803253174"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Colorful tunnel exit in the marshes of Jette</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Sortie de tunnel colorée dans les marais de Jette</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a tunnel in Brussels, Belgium, whose walls are decorated with colorful graffiti. At the exit of the tunnel, there is a sign indicating 'CAUTION TURNS AHEAD!' in red and blue letters. The tunnel opens onto a road surrounded by dense vegetation."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un tunnel à Bruxelles, Belgique, dont les murs sont décorés de graffitis colorés. À la sortie du tunnel, il y a un panneau indiquant 'ATTENTION AUX VIRAGES !' en lettres rouges et bleues. Le tunnel s'ouvre sur une route entourée de végétation dense."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #graffiti #tunnel #streetart #warning #urbanart]]></Value>
      <Value Culture="fr"><![CDATA[#tunnel #graffiti #Bruxelles #Belgique #arturbain #route #végétation]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "cbe1dd72-95dc-4bff-80d0-554d913c9afe",
    "mediaKey": "186df088-a3c5-4483-a785-2d3809eb9666"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un tunnel vibrant de couleurs et de graffitis dans les marais de Jette.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Silence on tourne! : Un tunnel coloré à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Quiet on set! : A colorful tunnel in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Silence on tourne! : Un tunnel coloré à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/read-the-wall-it-says-that-it-will-turn-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/read-the-wall-it-says-that-it-will-turn-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "tunnel",
  "graffiti",
  "sign",
  "road",
  "vegetation",
  "Brussels",
  "Belgium"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "tunnel",
  "graffiti",
  "panneau",
  "route",
  "végétation",
  "Bruxelles",
  "Belgique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un tunnel vibrant de couleurs et de graffitis dans les marais de Jette.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Quiet on set! : A colorful tunnel in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Silence on tourne! : Un tunnel coloré à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>