<?xml version="1.0" encoding="utf-8"?>
<Content Key="922ede70-fdb8-4ff0-83f5-3ba6b1458dda" Alias="Solitude enflammée" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/SolitudeEnflammee</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:06</CreateDate>
    <NodeName Default="Solitude enflammée">
      <Name Culture="en">Enflamed Solitude</Name>
      <Name Culture="fr">Solitude enflammée</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/910cb1d0e4ec4826873fc26ffcd8599b"
      },
      {
        "contentUdi": "umb://element/5be6ce92f3b9425ca273a2aa309af986"
      },
      {
        "contentUdi": "umb://element/4df84921f4114f189b429d1eb7296bed"
      },
      {
        "contentUdi": "umb://element/27fc1884af2f494db1958ec92ab06efd"
      },
      {
        "contentUdi": "umb://element/57364730c18c40cfa7b0a779b5780e5a"
      },
      {
        "contentUdi": "umb://element/f1fa63c5b2594e9794855a5a74318454"
      },
      {
        "contentUdi": "umb://element/562bb06cf13545c7877fea4dcab11862"
      },
      {
        "contentUdi": "umb://element/55d4f6da379c4e2bb09b23f3300e7545"
      },
      {
        "contentUdi": "umb://element/7c4980efa5ca458fa27e69439fec4577"
      },
      {
        "contentUdi": "umb://element/c34f217350254d2c9e4706f8089d66dd"
      },
      {
        "contentUdi": "umb://element/799f06339c104faca26b86965b14efdd"
      },
      {
        "contentUdi": "umb://element/e54beb9c4c3f4beca218f75e4b41a159"
      },
      {
        "contentUdi": "umb://element/8e51e80a948c4837a57e2320344c9525"
      },
      {
        "contentUdi": "umb://element/4e07699b5079407899268d27ec39cf94"
      },
      {
        "contentUdi": "umb://element/179db17d2b874b5bae767dbd959b5613"
      },
      {
        "contentUdi": "umb://element/e3242400658242aa9218f2a9cc36c17f"
      },
      {
        "contentUdi": "umb://element/0598bc66996948beb77940f65153f1c6"
      },
      {
        "contentUdi": "umb://element/cc109e15a5e64e498690c7e5bf714c4e"
      },
      {
        "contentUdi": "umb://element/587709f5013f439da7891fe5e62f2ed6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/910cb1d0e4ec4826873fc26ffcd8599b",
      "value": "plein air",
      "confidence": "0.9980551600456238"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5be6ce92f3b9425ca273a2aa309af986",
      "value": "nuage",
      "confidence": "0.9890352487564087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4df84921f4114f189b429d1eb7296bed",
      "value": "coucher de soleil",
      "confidence": "0.9883022904396057"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27fc1884af2f494db1958ec92ab06efd",
      "value": "eau",
      "confidence": "0.9838186502456665"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/57364730c18c40cfa7b0a779b5780e5a",
      "value": "paysage",
      "confidence": "0.9796459674835205"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1fa63c5b2594e9794855a5a74318454",
      "value": "ciel",
      "confidence": "0.9741590619087219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/562bb06cf13545c7877fea4dcab11862",
      "value": "arbre",
      "confidence": "0.9644232988357544"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/55d4f6da379c4e2bb09b23f3300e7545",
      "value": "bateau",
      "confidence": "0.9410388469696045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c4980efa5ca458fa27e69439fec4577",
      "value": "lac",
      "confidence": "0.9154397249221802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c34f217350254d2c9e4706f8089d66dd",
      "value": "embarcation",
      "confidence": "0.8941649794578552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/799f06339c104faca26b86965b14efdd",
      "value": "véhicule",
      "confidence": "0.8874225616455078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e54beb9c4c3f4beca218f75e4b41a159",
      "value": "lever de soleil",
      "confidence": "0.8746694326400757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e51e80a948c4837a57e2320344c9525",
      "value": "transport",
      "confidence": "0.8685163259506226"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4e07699b5079407899268d27ec39cf94",
      "value": "plage",
      "confidence": "0.7456439733505249"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/179db17d2b874b5bae767dbd959b5613",
      "value": "sol",
      "confidence": "0.7157070636749268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3242400658242aa9218f2a9cc36c17f",
      "value": "flottant",
      "confidence": "0.6376498937606812"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0598bc66996948beb77940f65153f1c6",
      "value": "paysage marin",
      "confidence": "0.6033169031143188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc109e15a5e64e498690c7e5bf714c4e",
      "value": "nature",
      "confidence": "0.5958460569381714"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/587709f5013f439da7891fe5e62f2ed6",
      "value": "rive",
      "confidence": "0.5434463620185852"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0435bc1d418f46fea35d4fcb5ae25764"
      },
      {
        "contentUdi": "umb://element/544d14e3a3de4a8baeb102e17668ccfa"
      },
      {
        "contentUdi": "umb://element/0f862929ae42435986e279d14127490e"
      },
      {
        "contentUdi": "umb://element/7224af8036e446f9b5786320707fd972"
      },
      {
        "contentUdi": "umb://element/25f4a064e5f643ff8a78cf15fa328ca4"
      },
      {
        "contentUdi": "umb://element/d17f814248d64887ba788d30cc7b207b"
      },
      {
        "contentUdi": "umb://element/6909ededb7d6415a929e69f0d3931681"
      },
      {
        "contentUdi": "umb://element/17d579f0428844dda332982a0add33dc"
      },
      {
        "contentUdi": "umb://element/5254aee6d4cc4d02a3d5105baa19bd1c"
      },
      {
        "contentUdi": "umb://element/b5f547dfa23f4925b099d42a60bb5436"
      },
      {
        "contentUdi": "umb://element/bcb29cda4508491696c5c059940bd2c3"
      },
      {
        "contentUdi": "umb://element/535eee0c490d4343a30ba3fec3ced400"
      },
      {
        "contentUdi": "umb://element/7f7ebbf632384186823ee02594714e54"
      },
      {
        "contentUdi": "umb://element/24902fbe58ac4279bc72987a6c9b40b1"
      },
      {
        "contentUdi": "umb://element/6f266571104349dfad673ff2eb5b86a7"
      },
      {
        "contentUdi": "umb://element/a39c6f47b9a94c7d91baefd6b820a785"
      },
      {
        "contentUdi": "umb://element/a630ac21477d4bc59bcfb0cdfa64010c"
      },
      {
        "contentUdi": "umb://element/94d770fa96004198b5da95fefd375578"
      },
      {
        "contentUdi": "umb://element/80f16c16aaef4a7b90ecb15ca5b49408"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0435bc1d418f46fea35d4fcb5ae25764",
      "value": "plein air",
      "confidence": "0.9980551600456238"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/544d14e3a3de4a8baeb102e17668ccfa",
      "value": "nuage",
      "confidence": "0.9890352487564087"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0f862929ae42435986e279d14127490e",
      "value": "coucher de soleil",
      "confidence": "0.9883022904396057"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7224af8036e446f9b5786320707fd972",
      "value": "eau",
      "confidence": "0.9838186502456665"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25f4a064e5f643ff8a78cf15fa328ca4",
      "value": "paysage",
      "confidence": "0.9796459674835205"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d17f814248d64887ba788d30cc7b207b",
      "value": "ciel",
      "confidence": "0.9741590619087219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6909ededb7d6415a929e69f0d3931681",
      "value": "arbre",
      "confidence": "0.9644232988357544"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17d579f0428844dda332982a0add33dc",
      "value": "bateau",
      "confidence": "0.9410388469696045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5254aee6d4cc4d02a3d5105baa19bd1c",
      "value": "lac",
      "confidence": "0.9154397249221802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5f547dfa23f4925b099d42a60bb5436",
      "value": "embarcation",
      "confidence": "0.8941649794578552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcb29cda4508491696c5c059940bd2c3",
      "value": "véhicule",
      "confidence": "0.8874225616455078"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/535eee0c490d4343a30ba3fec3ced400",
      "value": "lever de soleil",
      "confidence": "0.8746694326400757"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f7ebbf632384186823ee02594714e54",
      "value": "transport",
      "confidence": "0.8685163259506226"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24902fbe58ac4279bc72987a6c9b40b1",
      "value": "plage",
      "confidence": "0.7456439733505249"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f266571104349dfad673ff2eb5b86a7",
      "value": "sol",
      "confidence": "0.7157070636749268"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a39c6f47b9a94c7d91baefd6b820a785",
      "value": "flottant",
      "confidence": "0.6376498937606812"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a630ac21477d4bc59bcfb0cdfa64010c",
      "value": "paysage marin",
      "confidence": "0.6033169031143188"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/94d770fa96004198b5da95fefd375578",
      "value": "nature",
      "confidence": "0.5958460569381714"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80f16c16aaef4a7b90ecb15ca5b49408",
      "value": "rive",
      "confidence": "0.5434463620185852"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The trees have their feet in the water, and the canoes bathe on the sand.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les arbres sont les pieds dans l'eau, et les pirogues baignent sur le sable.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a serene beach at Ko Kwang Pier, Thailand, at sunset. The sky is tinged with shades of pink and orange, creating a peaceful atmosphere. A few boats are moored on the shore, and rock formations are visible in the foreground. Trees and lush vegetation line the beach in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage sereine à Ko Kwang Pier, Thaïlande, au coucher du soleil. Le ciel est teinté de nuances de rose et d'orange, créant une atmosphère paisible. Quelques bateaux sont amarrés sur le rivage, et des formations rocheuses sont visibles au premier plan. Des arbres et une végétation luxuriante bordent la plage à l'arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#KoKwangPier #Thailand #CoastalScene #Sunrise #Sunset #Boats #Nature #Serene #Picturesque]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #Thaïlande #KoKwangPier #nature #mer]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "06f74a50-a336-4ca1-989c-cb956423446c",
    "mediaKey": "59406909-78d2-4b2d-bb38-fdc6a993b9a2"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Ko Kwang Pier, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Ko Kwang Pier, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les arbres sont les pieds dans l'eau, et les pirogues baignent sur le sable.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les arbres sont les pieds dans l'eau, et les pirogues baignent sur le sable.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Enflamed Solitude: A Sunset at Ko Kwang Pier]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Ko Kwang Pier]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/trees-in-the-water-boats-on-earth-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/trees-in-the-water-boats-on-earth-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "sunset",
  "boats",
  "rocks",
  "Thailand",
  "Ko Kwang Pier",
  "nature",
  "sea"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "bateaux",
  "rochers",
  "Thaïlande",
  "Ko Kwang Pier",
  "nature",
  "mer"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les arbres sont les pieds dans l'eau, et les pirogues baignent sur le sable.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Enflamed Solitude: A Sunset at Ko Kwang Pier]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Ko Kwang Pier]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>