<?xml version="1.0" encoding="utf-8"?>
<Content Key="11824ca3-d15d-43e5-a3b7-12d08a9000c1" Alias="Stupa a Sukhothai" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/StupaASukhothai</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T17:03:39</CreateDate>
    <NodeName Default="Stupa a Sukhothai">
      <Name Culture="en">Stupa in Sukhothai</Name>
      <Name Culture="fr">Stupa a Sukhothai</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4c0d156fab6a483d970a748707c3c38a"
      },
      {
        "contentUdi": "umb://element/122dd9edf2164f5c9d3a13df1348f4eb"
      },
      {
        "contentUdi": "umb://element/4ee046879d734e21ac9920779fcfdd4a"
      },
      {
        "contentUdi": "umb://element/ec7def5dcd2d4280826dea16d3c80b79"
      },
      {
        "contentUdi": "umb://element/a9030737c2694b65acc6aaa3101ab9e9"
      },
      {
        "contentUdi": "umb://element/57b4c8fbe3ba446a81328a3e9f68f9e7"
      },
      {
        "contentUdi": "umb://element/20ca1e9ab08c4f0aa1e7ca6b9762578f"
      },
      {
        "contentUdi": "umb://element/841df0671c5b4a9db51b06f7de63db39"
      },
      {
        "contentUdi": "umb://element/b847cce632994a6589307d9d7e57b385"
      },
      {
        "contentUdi": "umb://element/08afb987e6804532bbcc043112912740"
      },
      {
        "contentUdi": "umb://element/5867d129e29a45fb97283b4b881f4512"
      },
      {
        "contentUdi": "umb://element/248e669942804b6b8a38d760994ee06f"
      },
      {
        "contentUdi": "umb://element/f25f247c781843e0b095f9a4ed411274"
      },
      {
        "contentUdi": "umb://element/a04f37d7492d449cb5bc4663ca81eb61"
      },
      {
        "contentUdi": "umb://element/194036f25db141478bdd33d87502670f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c0d156fab6a483d970a748707c3c38a",
      "value": "plein air",
      "confidence": "0.998188853263855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/122dd9edf2164f5c9d3a13df1348f4eb",
      "value": "bâtiment",
      "confidence": "0.9975574016571045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee046879d734e21ac9920779fcfdd4a",
      "value": "ciel",
      "confidence": "0.9960613250732422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec7def5dcd2d4280826dea16d3c80b79",
      "value": "nuage",
      "confidence": "0.9891771674156189"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9030737c2694b65acc6aaa3101ab9e9",
      "value": "arbre",
      "confidence": "0.9822802543640137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/57b4c8fbe3ba446a81328a3e9f68f9e7",
      "value": "herbe",
      "confidence": "0.9807095527648926"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20ca1e9ab08c4f0aa1e7ca6b9762578f",
      "value": "lieu de culte",
      "confidence": "0.9714366793632507"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/841df0671c5b4a9db51b06f7de63db39",
      "value": "repère",
      "confidence": "0.9305266737937927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b847cce632994a6589307d9d7e57b385",
      "value": "temple",
      "confidence": "0.8869988918304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/08afb987e6804532bbcc043112912740",
      "value": "plante",
      "confidence": "0.8863349556922913"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5867d129e29a45fb97283b4b881f4512",
      "value": "stupa",
      "confidence": "0.8620330095291138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/248e669942804b6b8a38d760994ee06f",
      "value": "monument",
      "confidence": "0.8551467657089233"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f25f247c781843e0b095f9a4ed411274",
      "value": "Site historique",
      "confidence": "0.849625289440155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a04f37d7492d449cb5bc4663ca81eb61",
      "value": "pagode",
      "confidence": "0.822392463684082"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/194036f25db141478bdd33d87502670f",
      "value": "tour",
      "confidence": "0.7665071487426758"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4c0d156fab6a483d970a748707c3c38a"
      },
      {
        "contentUdi": "umb://element/122dd9edf2164f5c9d3a13df1348f4eb"
      },
      {
        "contentUdi": "umb://element/4ee046879d734e21ac9920779fcfdd4a"
      },
      {
        "contentUdi": "umb://element/ec7def5dcd2d4280826dea16d3c80b79"
      },
      {
        "contentUdi": "umb://element/a9030737c2694b65acc6aaa3101ab9e9"
      },
      {
        "contentUdi": "umb://element/57b4c8fbe3ba446a81328a3e9f68f9e7"
      },
      {
        "contentUdi": "umb://element/20ca1e9ab08c4f0aa1e7ca6b9762578f"
      },
      {
        "contentUdi": "umb://element/841df0671c5b4a9db51b06f7de63db39"
      },
      {
        "contentUdi": "umb://element/b847cce632994a6589307d9d7e57b385"
      },
      {
        "contentUdi": "umb://element/08afb987e6804532bbcc043112912740"
      },
      {
        "contentUdi": "umb://element/5867d129e29a45fb97283b4b881f4512"
      },
      {
        "contentUdi": "umb://element/248e669942804b6b8a38d760994ee06f"
      },
      {
        "contentUdi": "umb://element/f25f247c781843e0b095f9a4ed411274"
      },
      {
        "contentUdi": "umb://element/a04f37d7492d449cb5bc4663ca81eb61"
      },
      {
        "contentUdi": "umb://element/194036f25db141478bdd33d87502670f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c0d156fab6a483d970a748707c3c38a",
      "value": "plein air",
      "confidence": "0.998188853263855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/122dd9edf2164f5c9d3a13df1348f4eb",
      "value": "bâtiment",
      "confidence": "0.9975574016571045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee046879d734e21ac9920779fcfdd4a",
      "value": "ciel",
      "confidence": "0.9960613250732422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec7def5dcd2d4280826dea16d3c80b79",
      "value": "nuage",
      "confidence": "0.9891771674156189"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9030737c2694b65acc6aaa3101ab9e9",
      "value": "arbre",
      "confidence": "0.9822802543640137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/57b4c8fbe3ba446a81328a3e9f68f9e7",
      "value": "herbe",
      "confidence": "0.9807095527648926"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20ca1e9ab08c4f0aa1e7ca6b9762578f",
      "value": "lieu de culte",
      "confidence": "0.9714366793632507"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/841df0671c5b4a9db51b06f7de63db39",
      "value": "repère",
      "confidence": "0.9305266737937927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b847cce632994a6589307d9d7e57b385",
      "value": "temple",
      "confidence": "0.8869988918304443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/08afb987e6804532bbcc043112912740",
      "value": "plante",
      "confidence": "0.8863349556922913"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5867d129e29a45fb97283b4b881f4512",
      "value": "stupa",
      "confidence": "0.8620330095291138"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/248e669942804b6b8a38d760994ee06f",
      "value": "monument",
      "confidence": "0.8551467657089233"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f25f247c781843e0b095f9a4ed411274",
      "value": "Site historique",
      "confidence": "0.849625289440155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a04f37d7492d449cb5bc4663ca81eb61",
      "value": "pagode",
      "confidence": "0.822392463684082"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/194036f25db141478bdd33d87502670f",
      "value": "tour",
      "confidence": "0.7665071487426758"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stupa in Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Stupa a Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an ancient Buddhist temple located in Sukhothai, Thailand. The temple is surrounded by ruins of brick columns and Buddha statues. The main structure is a large stupa with a circular base and a pointed spire at the top. The stupa is partially covered with a yellow cloth. In the background, green trees and a clear blue sky can be seen."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un ancien temple bouddhiste situé à Sukhothai, en Thaïlande. Le temple est entouré de ruines de colonnes en briques et de statues de Bouddha. La structure principale est un grand stupa avec une base circulaire et une flèche pointue au sommet. Le stupa est partiellement recouvert d'un tissu jaune. En arrière-plan, on peut voir des arbres verts et un ciel bleu clair."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #AncientTemple #HistoricalSite #Architecture #Stupa #CulturalHeritage #Travel #Tourism]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #templebouddhiste #ruines #histoire #architecture #patrimoine #voyage #culture #stupa]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "86c21cb0-abb8-4820-987f-de7e97f01090",
    "mediaKey": "32a53107-2c7a-47a5-9390-1744549fb0b7"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le majestueux stupa de Sukhothai, entouré de ruines historiques et de statues de Bouddha.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le majestueux stupa de Sukhothai, entouré de ruines historiques et de statues de Bouddha.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Stupa in Sukhothai: An Ancient Buddhist Treasure]]></Value>
      <Value Culture="fr"><![CDATA[Stupa Ancien à Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/stupa-a-sukhothai-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/stupa-a-sukhothai-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "temple",
  "buddhist",
  "Sukhothai",
  "Thailand",
  "ruins",
  "stupa",
  "statues",
  "bricks",
  "history",
  "architecture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "temple",
  "bouddhiste",
  "Sukhothai",
  "Thaïlande",
  "ruines",
  "stupa",
  "statues",
  "briques",
  "histoire",
  "architecture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le majestueux stupa de Sukhothai, entouré de ruines historiques et de statues de Bouddha.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Stupa in Sukhothai: An Ancient Buddhist Treasure]]></Value>
      <Value Culture="fr"><![CDATA[Stupa Ancien à Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>