<?xml version="1.0" encoding="utf-8"?>
<Content Key="f23979ce-34a5-45d2-84b6-c96b296e9c9e" Alias="Stupa et Bouddha a Sukhothai" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/StupaEtBouddhaASukhothai</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Stupa et Bouddha a Sukhothai">
      <Name Culture="en">Stupa and Buddha in Sukhothai</Name>
      <Name Culture="fr">Stupa et Bouddha a Sukhothai</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d47bf0796f754aacb05e101f8852c4d7"
      },
      {
        "contentUdi": "umb://element/f97e9bece9594734a2380499768eb1c0"
      },
      {
        "contentUdi": "umb://element/9141d5daa6ed41d6b466bfaa9b1968df"
      },
      {
        "contentUdi": "umb://element/0c80e8f69532471b96b3f3913a522869"
      },
      {
        "contentUdi": "umb://element/073574bb66cf49b3a2ffdecfd2e5d0f1"
      },
      {
        "contentUdi": "umb://element/5504b070d7f54dd4b4cdd1f0c77e53a3"
      },
      {
        "contentUdi": "umb://element/b9e012e392a2492f857ceaaad5f2ba28"
      },
      {
        "contentUdi": "umb://element/1c81cecf90034e12b2d702fd8f9ee16c"
      },
      {
        "contentUdi": "umb://element/a76b841defa84de89f5f2bea59facbb0"
      },
      {
        "contentUdi": "umb://element/4c5fcb6a8a8e4ea4ab691851bf40cae9"
      },
      {
        "contentUdi": "umb://element/bfb68dbf1e1c4e31a689164703bfeca3"
      },
      {
        "contentUdi": "umb://element/6934e3703fb54de9bd6e4e9756d21462"
      },
      {
        "contentUdi": "umb://element/c1b493ea78d640609156de2ad4d39362"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d47bf0796f754aacb05e101f8852c4d7",
      "value": "nuage",
      "confidence": "0.9937466382980347"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f97e9bece9594734a2380499768eb1c0",
      "value": "ciel",
      "confidence": "0.991213858127594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9141d5daa6ed41d6b466bfaa9b1968df",
      "value": "plein air",
      "confidence": "0.988650381565094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c80e8f69532471b96b3f3913a522869",
      "value": "arbre",
      "confidence": "0.9767013788223267"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/073574bb66cf49b3a2ffdecfd2e5d0f1",
      "value": "lieu de culte",
      "confidence": "0.9725437760353088"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5504b070d7f54dd4b4cdd1f0c77e53a3",
      "value": "bâtiment",
      "confidence": "0.9688259363174438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9e012e392a2492f857ceaaad5f2ba28",
      "value": "Site historique",
      "confidence": "0.8739587068557739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1c81cecf90034e12b2d702fd8f9ee16c",
      "value": "stupa",
      "confidence": "0.8667702674865723"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a76b841defa84de89f5f2bea59facbb0",
      "value": "pagode",
      "confidence": "0.8600051403045654"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4c5fcb6a8a8e4ea4ab691851bf40cae9",
      "value": "Temple hindou",
      "confidence": "0.8512569069862366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfb68dbf1e1c4e31a689164703bfeca3",
      "value": "repère",
      "confidence": "0.8488298654556274"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6934e3703fb54de9bd6e4e9756d21462",
      "value": "temple",
      "confidence": "0.8193582892417908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1b493ea78d640609156de2ad4d39362",
      "value": "paysage",
      "confidence": "0.4393124282360077"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/10d55960665a48838cd778b337c31f17"
      },
      {
        "contentUdi": "umb://element/1dc2b66f46ca4a3f9e99288e498f0f7b"
      },
      {
        "contentUdi": "umb://element/4abcfda33cc84de6a24fc406370bd6a6"
      },
      {
        "contentUdi": "umb://element/83b25bab52214a2783f92c9c7af7dca2"
      },
      {
        "contentUdi": "umb://element/89b9673757e04c65a2f53181acbf4972"
      },
      {
        "contentUdi": "umb://element/920e69ad285e4841a37c06ca4f9dcf13"
      },
      {
        "contentUdi": "umb://element/ba01d1cca1364559b58485e6f4e1fc40"
      },
      {
        "contentUdi": "umb://element/bb01fbbfbf5649efaaf5454b51098c0f"
      },
      {
        "contentUdi": "umb://element/a67659672f5e43a9b33de1f292e36c07"
      },
      {
        "contentUdi": "umb://element/13b04376bc5a436ebfb1f9d3086c9074"
      },
      {
        "contentUdi": "umb://element/a4fe975e600a4c82a7cfc62a96d176fd"
      },
      {
        "contentUdi": "umb://element/a76c358555494030a05cad5f1403dadf"
      },
      {
        "contentUdi": "umb://element/93a3a7c805ab4e97b767a05191205819"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/10d55960665a48838cd778b337c31f17",
      "value": "nuage",
      "confidence": "0.9937466382980347"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1dc2b66f46ca4a3f9e99288e498f0f7b",
      "value": "ciel",
      "confidence": "0.991213858127594"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4abcfda33cc84de6a24fc406370bd6a6",
      "value": "plein air",
      "confidence": "0.988650381565094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83b25bab52214a2783f92c9c7af7dca2",
      "value": "arbre",
      "confidence": "0.9767013788223267"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89b9673757e04c65a2f53181acbf4972",
      "value": "lieu de culte",
      "confidence": "0.9725437760353088"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/920e69ad285e4841a37c06ca4f9dcf13",
      "value": "bâtiment",
      "confidence": "0.9688259363174438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba01d1cca1364559b58485e6f4e1fc40",
      "value": "Site historique",
      "confidence": "0.8739587068557739"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb01fbbfbf5649efaaf5454b51098c0f",
      "value": "stupa",
      "confidence": "0.8667702674865723"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a67659672f5e43a9b33de1f292e36c07",
      "value": "pagode",
      "confidence": "0.8600051403045654"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13b04376bc5a436ebfb1f9d3086c9074",
      "value": "Temple hindou",
      "confidence": "0.8512569069862366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4fe975e600a4c82a7cfc62a96d176fd",
      "value": "repère",
      "confidence": "0.8488298654556274"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a76c358555494030a05cad5f1403dadf",
      "value": "temple",
      "confidence": "0.8193582892417908"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/93a3a7c805ab4e97b767a05191205819",
      "value": "paysage",
      "confidence": "0.4393124282360077"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stupa and Buddha in Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Stupa et Bouddha a Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-14T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a seated Buddha statue in front of a large brick stupa in the historical park of Sukhothai, Thailand. The sky is partly cloudy and the sun shines above, creating a peaceful and spiritual atmosphere. Green trees surround the site, adding to the serenity of the place."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une statue de Bouddha assis devant un grand stupa en briques dans le parc historique de Sukhothai, en Thaïlande. Le ciel est partiellement nuageux et le soleil brille au-dessus, créant une atmosphère paisible et spirituelle. Des arbres verts entourent le site, ajoutant à la sérénité de l'endroit."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #Buddha #HistoricSite #AncientArchitecture #Temple #Buddhism #Travel #CulturalHeritage #Serenity]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #Bouddha #stupa #statue #parchistorique #spiritualité #architectureancienne]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "b74a8424-b46b-4539-9a9e-f546e2d35f5f",
    "mediaKey": "bd50b53b-6f3c-494b-aa51-1c5e944cca47"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité du parc historique de Sukhothai avec une statue de Bouddha majestueuse devant un stupa en briques.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité du parc historique de Sukhothai avec une statue de Bouddha majestueuse devant un stupa en briques.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Spiritual Serenity in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Stupa et Bouddha à Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/buddha-and-stupa-together-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/buddha-and-stupa-together-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "Buddha",
  "stupa",
  "statue",
  "historical park",
  "spirituality",
  "ancient architecture"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "Bouddha",
  "stupa",
  "statue",
  "parc historique",
  "spiritualité",
  "architecture ancienne"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité du parc historique de Sukhothai avec une statue de Bouddha majestueuse devant un stupa en briques.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Spiritual Serenity in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Stupa et Bouddha à Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>