<?xml version="1.0" encoding="utf-8"?>
<Content Key="08465753-c19e-4ab4-8bf4-bd6c5e6373d0" Alias="Style to review" Level="7">
  <Info>
    <Parent Key="88deeb96-7ce1-4b5b-b3e1-97cd1b8e0879">Street life</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/StreetLife/StyleToReview</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-16T12:20:30</CreateDate>
    <NodeName Default="Style to review">
      <Name Culture="en">Style to review</Name>
      <Name Culture="fr">Style à revoir</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/433a358f7e8549ce8ea6ac1b17811c07"
      },
      {
        "contentUdi": "umb://element/65a19543b29c4ce493603d72eb57ccf5"
      },
      {
        "contentUdi": "umb://element/b6b0bae33bad44fead17e5c1b43feeae"
      },
      {
        "contentUdi": "umb://element/28d3b186234b43f69b50e97728436594"
      },
      {
        "contentUdi": "umb://element/5a924770251747578a3f49dee1988e7f"
      },
      {
        "contentUdi": "umb://element/b1f555e4e4434e74aa4698886dddab9e"
      },
      {
        "contentUdi": "umb://element/6a9355bcc4a5476385a6640164978222"
      },
      {
        "contentUdi": "umb://element/ad6559d60b374919882517ed3a763bc9"
      },
      {
        "contentUdi": "umb://element/4bbb54a97ff8497b9826af1e90d0e366"
      },
      {
        "contentUdi": "umb://element/60988946fc734c9f953aaa4d09770d55"
      },
      {
        "contentUdi": "umb://element/15f067081ece4885aadc7b5272d8d371"
      },
      {
        "contentUdi": "umb://element/e5fee642195341d28fa51779b669216d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/433a358f7e8549ce8ea6ac1b17811c07",
      "value": "dessin",
      "confidence": "0.9669424295425415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65a19543b29c4ce493603d72eb57ccf5",
      "value": "habits",
      "confidence": "0.963163435459137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6b0bae33bad44fead17e5c1b43feeae",
      "value": "peinture",
      "confidence": "0.9566779136657715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28d3b186234b43f69b50e97728436594",
      "value": "plein air",
      "confidence": "0.9336867332458496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a924770251747578a3f49dee1988e7f",
      "value": "art",
      "confidence": "0.9236999750137329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1f555e4e4434e74aa4698886dddab9e",
      "value": "mural",
      "confidence": "0.8953753709793091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a9355bcc4a5476385a6640164978222",
      "value": "chaussures",
      "confidence": "0.8909144997596741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad6559d60b374919882517ed3a763bc9",
      "value": "Art urbain",
      "confidence": "0.8877304792404175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4bbb54a97ff8497b9826af1e90d0e366",
      "value": "sol",
      "confidence": "0.8573663234710693"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60988946fc734c9f953aaa4d09770d55",
      "value": "personne",
      "confidence": "0.760931134223938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15f067081ece4885aadc7b5272d8d371",
      "value": "rue",
      "confidence": "0.6801367998123169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5fee642195341d28fa51779b669216d",
      "value": "graffiti",
      "confidence": "0.5972961783409119"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/433a358f7e8549ce8ea6ac1b17811c07"
      },
      {
        "contentUdi": "umb://element/65a19543b29c4ce493603d72eb57ccf5"
      },
      {
        "contentUdi": "umb://element/b6b0bae33bad44fead17e5c1b43feeae"
      },
      {
        "contentUdi": "umb://element/28d3b186234b43f69b50e97728436594"
      },
      {
        "contentUdi": "umb://element/5a924770251747578a3f49dee1988e7f"
      },
      {
        "contentUdi": "umb://element/b1f555e4e4434e74aa4698886dddab9e"
      },
      {
        "contentUdi": "umb://element/6a9355bcc4a5476385a6640164978222"
      },
      {
        "contentUdi": "umb://element/ad6559d60b374919882517ed3a763bc9"
      },
      {
        "contentUdi": "umb://element/4bbb54a97ff8497b9826af1e90d0e366"
      },
      {
        "contentUdi": "umb://element/60988946fc734c9f953aaa4d09770d55"
      },
      {
        "contentUdi": "umb://element/15f067081ece4885aadc7b5272d8d371"
      },
      {
        "contentUdi": "umb://element/e5fee642195341d28fa51779b669216d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/433a358f7e8549ce8ea6ac1b17811c07",
      "value": "dessin",
      "confidence": "0.9669424295425415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65a19543b29c4ce493603d72eb57ccf5",
      "value": "habits",
      "confidence": "0.963163435459137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b6b0bae33bad44fead17e5c1b43feeae",
      "value": "peinture",
      "confidence": "0.9566779136657715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/28d3b186234b43f69b50e97728436594",
      "value": "plein air",
      "confidence": "0.9336867332458496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a924770251747578a3f49dee1988e7f",
      "value": "art",
      "confidence": "0.9236999750137329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b1f555e4e4434e74aa4698886dddab9e",
      "value": "mural",
      "confidence": "0.8953753709793091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a9355bcc4a5476385a6640164978222",
      "value": "chaussures",
      "confidence": "0.8909144997596741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad6559d60b374919882517ed3a763bc9",
      "value": "Art urbain",
      "confidence": "0.8877304792404175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4bbb54a97ff8497b9826af1e90d0e366",
      "value": "sol",
      "confidence": "0.8573663234710693"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60988946fc734c9f953aaa4d09770d55",
      "value": "personne",
      "confidence": "0.760931134223938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15f067081ece4885aadc7b5272d8d371",
      "value": "rue",
      "confidence": "0.6801367998123169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5fee642195341d28fa51779b669216d",
      "value": "graffiti",
      "confidence": "0.5972961783409119"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A stinky tagger, punishing a poor little wall that just wants to warm up at sunrise</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un taggeur puant, et punissant un pauvre muret qui ne demande qu'à se chauffer au lever de soleil</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a street artist painting a colorful graffiti on a wall in Brussels, Belgium. The artist is wearing a green hoodie and jeans, and is surrounded by several spray paint cans. The wall is divided into two parts: on the left, an abstract drawing in black on a white background, and on the right, a complex and vibrant composition of geometric shapes and bright colors."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un artiste de rue en train de peindre un graffiti coloré sur un mur à Bruxelles, Belgique. L'artiste porte un sweat à capuche vert et des jeans, et est entouré de plusieurs bombes de peinture. Le mur est divisé en deux parties : à gauche, un dessin abstrait en noir sur un fond blanc, et à droite, une composition complexe et vibrante de formes géométriques et de couleurs vives."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#graffiti #streetart #Bruxelles #Belgique #art #mural #urbanart]]></Value>
      <Value Culture="fr"><![CDATA[#graffiti #artderue #Bruxelles #Belgique #artiste #peinture #couleurs]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "dd658dab-8166-481e-b897-34cd609ad8b6",
    "mediaKey": "bed11633-4d81-4542-8a14-72f374474fe9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un taggeur en action, transformant un mur en une toile vibrante au lever du soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The art of graffiti in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/not-sure-there-is-any-sense-of-style-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/not-sure-there-is-any-sense-of-style-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "graffiti",
  "street art",
  "Brussels",
  "Belgium",
  "artist",
  "painting",
  "wall",
  "colors",
  "spray paint cans"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "graffiti",
  "art de rue",
  "Bruxelles",
  "Belgique",
  "artiste",
  "peinture",
  "mur",
  "couleurs",
  "bombes de peinture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un taggeur en action, transformant un mur en une toile vibrante au lever du soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The art of graffiti in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>