<?xml version="1.0" encoding="utf-8"?>
<Content Key="f288e0a5-0737-477c-b0dc-d7a065796959" Alias="Style à revoir" Level="105">
  <Info>
    <Parent Key="1dd5143c-a246-4371-926d-00e643409e55">Street life</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/StreetLife/StyleARevoir</Path>
    <Trashed Parent="1dd5143c-a246-4371-926d-00e643409e55">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:12</CreateDate>
    <NodeName Default="Style à revoir">
      <Name Culture="en">Style to review</Name>
      <Name Culture="fr">Style à revoir</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a9410adaee824c2097db913f194e3900"
      },
      {
        "contentUdi": "umb://element/fac707532eac47b4b25ac88fee2cae09"
      },
      {
        "contentUdi": "umb://element/52dc07b08f784834a2eb1e7b9cb2701b"
      },
      {
        "contentUdi": "umb://element/56bf715771704adea3d813d939183462"
      },
      {
        "contentUdi": "umb://element/e01ef03655b740a498378910fc8f3d3e"
      },
      {
        "contentUdi": "umb://element/3a9fefca850a453a8bda80abd128daa5"
      },
      {
        "contentUdi": "umb://element/6272492b666549f79608732f3dac037c"
      },
      {
        "contentUdi": "umb://element/ea632e554a4e41cdb3da2b78de5bfe31"
      },
      {
        "contentUdi": "umb://element/013a9bf922904ad48ddfa03a48d42ca6"
      },
      {
        "contentUdi": "umb://element/1d33ee9175e7449d9ac93a2159f26e58"
      },
      {
        "contentUdi": "umb://element/71a79815fde8482eb123e7e7b2674a95"
      },
      {
        "contentUdi": "umb://element/3d3eb7f23fab4b12a6358577fe610cc3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9410adaee824c2097db913f194e3900",
      "value": "dessin",
      "confidence": "0.9669424295425415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fac707532eac47b4b25ac88fee2cae09",
      "value": "habits",
      "confidence": "0.963163435459137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52dc07b08f784834a2eb1e7b9cb2701b",
      "value": "peinture",
      "confidence": "0.9566779136657715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56bf715771704adea3d813d939183462",
      "value": "plein air",
      "confidence": "0.9336867332458496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e01ef03655b740a498378910fc8f3d3e",
      "value": "art",
      "confidence": "0.9236999750137329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a9fefca850a453a8bda80abd128daa5",
      "value": "mural",
      "confidence": "0.8953753709793091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6272492b666549f79608732f3dac037c",
      "value": "chaussures",
      "confidence": "0.8909144997596741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea632e554a4e41cdb3da2b78de5bfe31",
      "value": "Art urbain",
      "confidence": "0.8877304792404175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/013a9bf922904ad48ddfa03a48d42ca6",
      "value": "sol",
      "confidence": "0.8573663234710693"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d33ee9175e7449d9ac93a2159f26e58",
      "value": "personne",
      "confidence": "0.760931134223938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/71a79815fde8482eb123e7e7b2674a95",
      "value": "rue",
      "confidence": "0.6801367998123169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3d3eb7f23fab4b12a6358577fe610cc3",
      "value": "graffiti",
      "confidence": "0.5972961783409119"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a082f2a5fde04dddb0f3de1ab08819e0"
      },
      {
        "contentUdi": "umb://element/a4d1a3acb5d04cca8bb1c3d337b73da4"
      },
      {
        "contentUdi": "umb://element/c3f31ce8e5fd472faf20c0a215e1c80a"
      },
      {
        "contentUdi": "umb://element/15ca63d24d30464a939b37afe896bfc3"
      },
      {
        "contentUdi": "umb://element/f363f1e726d34bd28376be2ed43c06a3"
      },
      {
        "contentUdi": "umb://element/886cd4b4b9974209b98b01da445654c8"
      },
      {
        "contentUdi": "umb://element/dc515cd7211140d09cbe3dcae0f97599"
      },
      {
        "contentUdi": "umb://element/66ad85ece59b46e0854361981a90adf5"
      },
      {
        "contentUdi": "umb://element/ac11297addd6479f868138187c0a0d42"
      },
      {
        "contentUdi": "umb://element/0c69a01b3cc748e48f58a16bcc4cd798"
      },
      {
        "contentUdi": "umb://element/a1b1ff6e260d448c94458d6594e94a1d"
      },
      {
        "contentUdi": "umb://element/8dfd01ead5c8422fbd85f15179b1b020"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a082f2a5fde04dddb0f3de1ab08819e0",
      "value": "dessin",
      "confidence": "0.9669424295425415"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a4d1a3acb5d04cca8bb1c3d337b73da4",
      "value": "habits",
      "confidence": "0.963163435459137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c3f31ce8e5fd472faf20c0a215e1c80a",
      "value": "peinture",
      "confidence": "0.9566779136657715"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/15ca63d24d30464a939b37afe896bfc3",
      "value": "plein air",
      "confidence": "0.9336867332458496"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f363f1e726d34bd28376be2ed43c06a3",
      "value": "art",
      "confidence": "0.9236999750137329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/886cd4b4b9974209b98b01da445654c8",
      "value": "mural",
      "confidence": "0.8953753709793091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc515cd7211140d09cbe3dcae0f97599",
      "value": "chaussures",
      "confidence": "0.8909144997596741"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66ad85ece59b46e0854361981a90adf5",
      "value": "Art urbain",
      "confidence": "0.8877304792404175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac11297addd6479f868138187c0a0d42",
      "value": "sol",
      "confidence": "0.8573663234710693"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c69a01b3cc748e48f58a16bcc4cd798",
      "value": "personne",
      "confidence": "0.760931134223938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1b1ff6e260d448c94458d6594e94a1d",
      "value": "rue",
      "confidence": "0.6801367998123169"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8dfd01ead5c8422fbd85f15179b1b020",
      "value": "graffiti",
      "confidence": "0.5972961783409119"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A stinky tagger, punishing a poor little wall that just wants to warm up at sunrise</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un taggeur puant, et punissant un pauvre muret qui ne demande qu'à se chauffer au lever de soleil</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a street artist painting a colorful graffiti on a wall in Brussels, Belgium. The artist is wearing a green hoodie and jeans, and is surrounded by several spray paint cans. The wall is divided into two parts: on the left, an abstract drawing in black on a white background, and on the right, a complex and vibrant composition of geometric shapes and bright colors."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un artiste de rue en train de peindre un graffiti coloré sur un mur à Bruxelles, Belgique. L'artiste porte un sweat à capuche vert et des jeans, et est entouré de plusieurs bombes de peinture. Le mur est divisé en deux parties : à gauche, un dessin abstrait en noir sur un fond blanc, et à droite, une composition complexe et vibrante de formes géométriques et de couleurs vives."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#graffiti #streetart #Bruxelles #Belgique #art #mural #urbanart]]></Value>
      <Value Culture="fr"><![CDATA[#graffiti #artderue #Bruxelles #Belgique #artiste #peinture #couleurs]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "dd658dab-8166-481e-b897-34cd609ad8b6",
    "mediaKey": "bed11633-4d81-4542-8a14-72f374474fe9"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un taggeur en action, transformant un mur en une toile vibrante au lever du soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The art of graffiti in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/not-sure-there-is-any-sense-of-style-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/not-sure-there-is-any-sense-of-style-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "graffiti",
  "street art",
  "Brussels",
  "Belgium",
  "artist",
  "painting",
  "wall",
  "colors",
  "spray paint cans"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "graffiti",
  "art de rue",
  "Bruxelles",
  "Belgique",
  "artiste",
  "peinture",
  "mur",
  "couleurs",
  "bombes de peinture"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un taggeur en action, transformant un mur en une toile vibrante au lever du soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The art of graffiti in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[L'art du graffiti à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>