<?xml version="1.0" encoding="utf-8"?>
<Content Key="d533f495-95eb-4bc5-a871-d77122e1d97a" Alias="Style-Free Fitness" Level="7">
  <Info>
    <Parent Key="88deeb96-7ce1-4b5b-b3e1-97cd1b8e0879">Street life</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/StreetLife/StyleFreeFitness</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-16T11:59:31</CreateDate>
    <NodeName Default="Style-Free Fitness">
      <Name Culture="en">Style-Free Fitness</Name>
      <Name Culture="fr">Fitness sans style</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/99cbd298430c450bb7d96a327dc96ecf"
      },
      {
        "contentUdi": "umb://element/438a305c8d104e9d8ecc7c1667583921"
      },
      {
        "contentUdi": "umb://element/0e2d402919794b21808434291ae4c520"
      },
      {
        "contentUdi": "umb://element/a5b78a5d79a14ee3aa971cced0c6cc39"
      },
      {
        "contentUdi": "umb://element/f628c82820234a8999863ffc2e29b944"
      },
      {
        "contentUdi": "umb://element/70be365fe38c4ce89b606e43c6f6e476"
      },
      {
        "contentUdi": "umb://element/3ebe89b8b4634579913fd91ba2ddfa4c"
      },
      {
        "contentUdi": "umb://element/a3a1fd57f1a14f2898eac3a19472aad8"
      },
      {
        "contentUdi": "umb://element/d56189fa1d314c06816fd096e7da74d6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99cbd298430c450bb7d96a327dc96ecf",
      "value": "plein air",
      "confidence": "0.988406240940094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/438a305c8d104e9d8ecc7c1667583921",
      "value": "barrière",
      "confidence": "0.9832009673118591"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e2d402919794b21808434291ae4c520",
      "value": "bâtiment",
      "confidence": "0.9297195672988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5b78a5d79a14ee3aa971cced0c6cc39",
      "value": "sol",
      "confidence": "0.915911078453064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f628c82820234a8999863ffc2e29b944",
      "value": "Poubelle",
      "confidence": "0.8858996629714966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/70be365fe38c4ce89b606e43c6f6e476",
      "value": "noir",
      "confidence": "0.845232367515564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ebe89b8b4634579913fd91ba2ddfa4c",
      "value": "rue",
      "confidence": "0.5788613557815552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3a1fd57f1a14f2898eac3a19472aad8",
      "value": "portail",
      "confidence": "0.5602121949195862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d56189fa1d314c06816fd096e7da74d6",
      "value": "trottoir",
      "confidence": "0.5591228604316711"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/99cbd298430c450bb7d96a327dc96ecf"
      },
      {
        "contentUdi": "umb://element/438a305c8d104e9d8ecc7c1667583921"
      },
      {
        "contentUdi": "umb://element/0e2d402919794b21808434291ae4c520"
      },
      {
        "contentUdi": "umb://element/a5b78a5d79a14ee3aa971cced0c6cc39"
      },
      {
        "contentUdi": "umb://element/f628c82820234a8999863ffc2e29b944"
      },
      {
        "contentUdi": "umb://element/70be365fe38c4ce89b606e43c6f6e476"
      },
      {
        "contentUdi": "umb://element/3ebe89b8b4634579913fd91ba2ddfa4c"
      },
      {
        "contentUdi": "umb://element/a3a1fd57f1a14f2898eac3a19472aad8"
      },
      {
        "contentUdi": "umb://element/d56189fa1d314c06816fd096e7da74d6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99cbd298430c450bb7d96a327dc96ecf",
      "value": "plein air",
      "confidence": "0.988406240940094"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/438a305c8d104e9d8ecc7c1667583921",
      "value": "barrière",
      "confidence": "0.9832009673118591"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e2d402919794b21808434291ae4c520",
      "value": "bâtiment",
      "confidence": "0.9297195672988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5b78a5d79a14ee3aa971cced0c6cc39",
      "value": "sol",
      "confidence": "0.915911078453064"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f628c82820234a8999863ffc2e29b944",
      "value": "Poubelle",
      "confidence": "0.8858996629714966"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/70be365fe38c4ce89b606e43c6f6e476",
      "value": "noir",
      "confidence": "0.845232367515564"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ebe89b8b4634579913fd91ba2ddfa4c",
      "value": "rue",
      "confidence": "0.5788613557815552"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a3a1fd57f1a14f2898eac3a19472aad8",
      "value": "portail",
      "confidence": "0.5602121949195862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d56189fa1d314c06816fd096e7da74d6",
      "value": "trottoir",
      "confidence": "0.5591228604316711"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Every square meter is suitable for sports practice. Here, the Esplanade of the Unknown Soldier</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Chaque mètre carré est propice à la pratique sportive. Ici, L'esplanade du Soldat Inconnu</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-16T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a person doing plank exercises on a sidewalk in Brussels, Belgium. The person is wearing a black jacket, black pants, and white sneakers. They are lying on the ground, supported by their forearms and feet. In the background, you can see a metal barrier and a blurred urban space."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une personne en train de faire des exercices de planche sur un trottoir à Bruxelles, Belgique. La personne porte une veste noire, un pantalon noir et des baskets blanches. Elle est allongée sur le sol, soutenue par ses avant-bras et ses pieds. En arrière-plan, on peut voir une barrière métallique et un espace urbain flou."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#exercise #plank #urbanfitness #Bruxelles #Belgique #graffiti]]></Value>
      <Value Culture="fr"><![CDATA[#exercice #planche #sport #Bruxelles #Belgique #fitness #urbain]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "3db05a49-be0b-4472-88fa-974059fea75c",
    "mediaKey": "b9b04a35-4848-4c03-bdb2-2ba0c5aa9b78"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quand chaque coin de rue devient une salle de sport improvisée...]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Urban Sport in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/fitness-place-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/fitness-place-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "exercise",
  "plank",
  "sport",
  "Brussels",
  "Belgium",
  "black clothing",
  "white sneakers",
  "metal barrier",
  "urban space"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "exercice",
  "planche",
  "sport",
  "Bruxelles",
  "Belgique",
  "vêtements noirs",
  "baskets blanches",
  "barrière métallique",
  "espace urbain"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Quand chaque coin de rue devient une salle de sport improvisée...]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Urban Sport in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Sport Urbain à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>