<?xml version="1.0" encoding="utf-8"?>
<Content Key="901592ce-534a-47c1-9612-c184db1184ce" Alias="Suivez les ronds" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/SuivezLesRonds</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:11</CreateDate>
    <NodeName Default="Suivez les ronds">
      <Name Culture="en">Follow the Circles</Name>
      <Name Culture="fr">Suivez les ronds</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/07f1977493084db28ef2e017759babde"
      },
      {
        "contentUdi": "umb://element/0bc42407f3424c09bd78d9c3942debe0"
      },
      {
        "contentUdi": "umb://element/cfb8b8889f9d4ebea795775864a4fbd0"
      },
      {
        "contentUdi": "umb://element/b7b8776a774042d798a8ce4bbd58148b"
      },
      {
        "contentUdi": "umb://element/46a9ae63c0eb409eb8375d99e8755cad"
      },
      {
        "contentUdi": "umb://element/8536d889bfe0495088a8a90ad9c521fb"
      },
      {
        "contentUdi": "umb://element/2a3b60ea71ef4996af89c4882fcbdcfa"
      },
      {
        "contentUdi": "umb://element/0deddc0f409e490aa18bf75e0a75c1d9"
      },
      {
        "contentUdi": "umb://element/4f0b54b27a0045dc8edf9e145eaca822"
      },
      {
        "contentUdi": "umb://element/556f0e5e6df04f0ab5896e12e6045d7a"
      },
      {
        "contentUdi": "umb://element/51997cab8b6143718f6c5b38110f8e12"
      },
      {
        "contentUdi": "umb://element/8d8cd26367fc456e88f7c0f046986197"
      },
      {
        "contentUdi": "umb://element/e1596830b4cb4daa8fd563677e48f34f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/07f1977493084db28ef2e017759babde",
      "value": "plafond",
      "confidence": "0.9726471900939941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bc42407f3424c09bd78d9c3942debe0",
      "value": "intérieur",
      "confidence": "0.9503861665725708"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cfb8b8889f9d4ebea795775864a4fbd0",
      "value": "Plafonnier",
      "confidence": "0.8900371789932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7b8776a774042d798a8ce4bbd58148b",
      "value": "lobby",
      "confidence": "0.8847018480300903"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/46a9ae63c0eb409eb8375d99e8755cad",
      "value": "Revêtement de sol",
      "confidence": "0.8700013756752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8536d889bfe0495088a8a90ad9c521fb",
      "value": "éclairage",
      "confidence": "0.8650695085525513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a3b60ea71ef4996af89c4882fcbdcfa",
      "value": "aménagement",
      "confidence": "0.8586205244064331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0deddc0f409e490aa18bf75e0a75c1d9",
      "value": "Éclairage sur rail",
      "confidence": "0.8551345467567444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f0b54b27a0045dc8edf9e145eaca822",
      "value": "mur",
      "confidence": "0.8286159038543701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/556f0e5e6df04f0ab5896e12e6045d7a",
      "value": "sol",
      "confidence": "0.804716169834137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51997cab8b6143718f6c5b38110f8e12",
      "value": "hall",
      "confidence": "0.7224798202514648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d8cd26367fc456e88f7c0f046986197",
      "value": "vide",
      "confidence": "0.6351994872093201"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1596830b4cb4daa8fd563677e48f34f",
      "value": "léger",
      "confidence": "0.5762431025505066"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/96198c3860bc4c549e673b4583c77732"
      },
      {
        "contentUdi": "umb://element/f829a42b68074f878ebf788ea5fa428b"
      },
      {
        "contentUdi": "umb://element/01077441e003454999764d72cc0347e1"
      },
      {
        "contentUdi": "umb://element/b4cb331406ab4207801e36ca3a7c8964"
      },
      {
        "contentUdi": "umb://element/f99ca25d590643c4b4c267913e898980"
      },
      {
        "contentUdi": "umb://element/a5dd2ab874484fd0b1eb020b4a0ddd9c"
      },
      {
        "contentUdi": "umb://element/74241dfeebf34be6b16a44c6626343d5"
      },
      {
        "contentUdi": "umb://element/bdf509c9871246f39130010881416ad6"
      },
      {
        "contentUdi": "umb://element/8fcea1a350fa47019937ec6881dc035c"
      },
      {
        "contentUdi": "umb://element/37fc68a9299c4ad7afdfbe78aed3a28e"
      },
      {
        "contentUdi": "umb://element/e320debcf7204ab9a9cb54d2e9947519"
      },
      {
        "contentUdi": "umb://element/1a1dc553be934c7893d45476c37bffa0"
      },
      {
        "contentUdi": "umb://element/7bfa28be4ed64cecb69b1022295003c0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96198c3860bc4c549e673b4583c77732",
      "value": "plafond",
      "confidence": "0.9726471900939941"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f829a42b68074f878ebf788ea5fa428b",
      "value": "intérieur",
      "confidence": "0.9503861665725708"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01077441e003454999764d72cc0347e1",
      "value": "Plafonnier",
      "confidence": "0.8900371789932251"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b4cb331406ab4207801e36ca3a7c8964",
      "value": "lobby",
      "confidence": "0.8847018480300903"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f99ca25d590643c4b4c267913e898980",
      "value": "Revêtement de sol",
      "confidence": "0.8700013756752014"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5dd2ab874484fd0b1eb020b4a0ddd9c",
      "value": "éclairage",
      "confidence": "0.8650695085525513"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74241dfeebf34be6b16a44c6626343d5",
      "value": "aménagement",
      "confidence": "0.8586205244064331"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bdf509c9871246f39130010881416ad6",
      "value": "Éclairage sur rail",
      "confidence": "0.8551345467567444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fcea1a350fa47019937ec6881dc035c",
      "value": "mur",
      "confidence": "0.8286159038543701"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37fc68a9299c4ad7afdfbe78aed3a28e",
      "value": "sol",
      "confidence": "0.804716169834137"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e320debcf7204ab9a9cb54d2e9947519",
      "value": "hall",
      "confidence": "0.7224798202514648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a1dc553be934c7893d45476c37bffa0",
      "value": "vide",
      "confidence": "0.6351994872093201"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bfa28be4ed64cecb69b1022295003c0",
      "value": "léger",
      "confidence": "0.5762431025505066"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Cosmic architecture at Pannenhuis metro</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Architecture cosmique au métro Pannenhuis</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a metro station in Brussels, Belgium. The station is characterized by its modern design with circular luminous structures suspended from the ceiling, creating a futuristic ambiance. There are escalators in the center leading to another part of the station. The walls are decorated with posters and information panels."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une station de métro à Bruxelles, Belgique. La station est caractérisée par son design moderne avec des structures circulaires lumineuses suspendues au plafond, créant une ambiance futuriste. Il y a des escalators au centre menant à une autre partie de la station. Les murs sont décorés avec des affiches et des panneaux d'information."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #MetroStation #ModernDesign #PublicTransportation]]></Value>
      <Value Culture="fr"><![CDATA[#métro #Bruxelles #Belgique #station #designmoderne #lumièrescirculaires]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "6c5b9c28-df0e-4b06-963b-03d96736df8b",
    "mediaKey": "b0088cd8-7a41-44c5-8b8c-05738fa9d64b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la station de métro Pannenhuis à Bruxelles, où des structures circulaires lumineuses créent une ambiance futuriste.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Follow the Circles: A Dive into the Cosmic Architecture of Pannenhuis]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/pannenhuis-metro-station-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/pannenhuis-metro-station-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "metro",
  "Brussels",
  "Belgium",
  "station",
  "escalators",
  "modern design",
  "circular lights"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "métro",
  "Bruxelles",
  "Belgique",
  "station",
  "escalators",
  "design moderne",
  "lumières circulaires"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la station de métro Pannenhuis à Bruxelles, où des structures circulaires lumineuses créent une ambiance futuriste.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Follow the Circles: A Dive into the Cosmic Architecture of Pannenhuis]]></Value>
      <Value Culture="fr"><![CDATA[Suivez les ronds : Une plongée dans l'architecture cosmique de Pannenhuis]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>