<?xml version="1.0" encoding="utf-8"?>
<Content Key="12bc466b-3497-4799-8848-12b9be15caf8" Alias="Sukhothai Historical Park" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/SukhothaiHistoricalPark</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T17:42:10</CreateDate>
    <NodeName Default="Sukhothai Historical Park">
      <Name Culture="en">Sukhothai Historical Park</Name>
      <Name Culture="fr">Parc historique Sukhothai</Name>
    </NodeName>
    <SortOrder>50</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/004308451c1449d7a6845a8aa2cf611e"
      },
      {
        "contentUdi": "umb://element/13e6c5d73d0449c080583fdd2982313e"
      },
      {
        "contentUdi": "umb://element/dafae78854364c92bcd76883b0ca4c4d"
      },
      {
        "contentUdi": "umb://element/60315e4b45fc4a82b0438c699f37fecb"
      },
      {
        "contentUdi": "umb://element/eff634ec4a044c249035ac042a97ee0e"
      },
      {
        "contentUdi": "umb://element/117b962cf5ce4c76a27053e12dcbfac5"
      },
      {
        "contentUdi": "umb://element/03f07104141f4c9780c0617ede6c2d7f"
      },
      {
        "contentUdi": "umb://element/097b31dcfd224925a4a8ec551b6255d6"
      },
      {
        "contentUdi": "umb://element/deb6b5b210944cfe90d1ee893c07c7e2"
      },
      {
        "contentUdi": "umb://element/b7ed93f2e83f49b09f64b5db1a26ada9"
      },
      {
        "contentUdi": "umb://element/22bc6b1f958f4573b01e9a2f667095c3"
      },
      {
        "contentUdi": "umb://element/f461238561184e34bf02ba881212931e"
      },
      {
        "contentUdi": "umb://element/fd67bae33bae4750972178bd053d95cd"
      },
      {
        "contentUdi": "umb://element/a7ef82e18b7943e0ae1ac9ea6818ce2f"
      },
      {
        "contentUdi": "umb://element/2a41980025344458b7b678ebe464e814"
      },
      {
        "contentUdi": "umb://element/360909eabfa8471085dfe3226b4cbee5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/004308451c1449d7a6845a8aa2cf611e",
      "value": "plein air",
      "confidence": "0.9984943866729736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13e6c5d73d0449c080583fdd2982313e",
      "value": "nuage",
      "confidence": "0.9938295483589172"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dafae78854364c92bcd76883b0ca4c4d",
      "value": "eau",
      "confidence": "0.9860272407531738"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60315e4b45fc4a82b0438c699f37fecb",
      "value": "ciel",
      "confidence": "0.9787107110023499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eff634ec4a044c249035ac042a97ee0e",
      "value": "arbre",
      "confidence": "0.9673579931259155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/117b962cf5ce4c76a27053e12dcbfac5",
      "value": "plante",
      "confidence": "0.9345104694366455"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03f07104141f4c9780c0617ede6c2d7f",
      "value": "Bassin réfléchissant",
      "confidence": "0.9294919967651367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/097b31dcfd224925a4a8ec551b6255d6",
      "value": "reflet",
      "confidence": "0.9077916145324707"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/deb6b5b210944cfe90d1ee893c07c7e2",
      "value": "paysage",
      "confidence": "0.8898748755455017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7ed93f2e83f49b09f64b5db1a26ada9",
      "value": "banque",
      "confidence": "0.8668452501296997"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22bc6b1f958f4573b01e9a2f667095c3",
      "value": "nature",
      "confidence": "0.7242803573608398"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f461238561184e34bf02ba881212931e",
      "value": "bassin",
      "confidence": "0.6915614604949951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd67bae33bae4750972178bd053d95cd",
      "value": "lac",
      "confidence": "0.667818546295166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7ef82e18b7943e0ae1ac9ea6818ce2f",
      "value": "rive",
      "confidence": "0.6514785289764404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a41980025344458b7b678ebe464e814",
      "value": "temple",
      "confidence": "0.6433835625648499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/360909eabfa8471085dfe3226b4cbee5",
      "value": "parc",
      "confidence": "0.42547398805618286"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/004308451c1449d7a6845a8aa2cf611e"
      },
      {
        "contentUdi": "umb://element/13e6c5d73d0449c080583fdd2982313e"
      },
      {
        "contentUdi": "umb://element/dafae78854364c92bcd76883b0ca4c4d"
      },
      {
        "contentUdi": "umb://element/60315e4b45fc4a82b0438c699f37fecb"
      },
      {
        "contentUdi": "umb://element/eff634ec4a044c249035ac042a97ee0e"
      },
      {
        "contentUdi": "umb://element/117b962cf5ce4c76a27053e12dcbfac5"
      },
      {
        "contentUdi": "umb://element/03f07104141f4c9780c0617ede6c2d7f"
      },
      {
        "contentUdi": "umb://element/097b31dcfd224925a4a8ec551b6255d6"
      },
      {
        "contentUdi": "umb://element/deb6b5b210944cfe90d1ee893c07c7e2"
      },
      {
        "contentUdi": "umb://element/b7ed93f2e83f49b09f64b5db1a26ada9"
      },
      {
        "contentUdi": "umb://element/22bc6b1f958f4573b01e9a2f667095c3"
      },
      {
        "contentUdi": "umb://element/f461238561184e34bf02ba881212931e"
      },
      {
        "contentUdi": "umb://element/fd67bae33bae4750972178bd053d95cd"
      },
      {
        "contentUdi": "umb://element/a7ef82e18b7943e0ae1ac9ea6818ce2f"
      },
      {
        "contentUdi": "umb://element/2a41980025344458b7b678ebe464e814"
      },
      {
        "contentUdi": "umb://element/360909eabfa8471085dfe3226b4cbee5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/004308451c1449d7a6845a8aa2cf611e",
      "value": "plein air",
      "confidence": "0.9984943866729736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13e6c5d73d0449c080583fdd2982313e",
      "value": "nuage",
      "confidence": "0.9938295483589172"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dafae78854364c92bcd76883b0ca4c4d",
      "value": "eau",
      "confidence": "0.9860272407531738"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60315e4b45fc4a82b0438c699f37fecb",
      "value": "ciel",
      "confidence": "0.9787107110023499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eff634ec4a044c249035ac042a97ee0e",
      "value": "arbre",
      "confidence": "0.9673579931259155"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/117b962cf5ce4c76a27053e12dcbfac5",
      "value": "plante",
      "confidence": "0.9345104694366455"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/03f07104141f4c9780c0617ede6c2d7f",
      "value": "Bassin réfléchissant",
      "confidence": "0.9294919967651367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/097b31dcfd224925a4a8ec551b6255d6",
      "value": "reflet",
      "confidence": "0.9077916145324707"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/deb6b5b210944cfe90d1ee893c07c7e2",
      "value": "paysage",
      "confidence": "0.8898748755455017"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7ed93f2e83f49b09f64b5db1a26ada9",
      "value": "banque",
      "confidence": "0.8668452501296997"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22bc6b1f958f4573b01e9a2f667095c3",
      "value": "nature",
      "confidence": "0.7242803573608398"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f461238561184e34bf02ba881212931e",
      "value": "bassin",
      "confidence": "0.6915614604949951"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd67bae33bae4750972178bd053d95cd",
      "value": "lac",
      "confidence": "0.667818546295166"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7ef82e18b7943e0ae1ac9ea6818ce2f",
      "value": "rive",
      "confidence": "0.6514785289764404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a41980025344458b7b678ebe464e814",
      "value": "temple",
      "confidence": "0.6433835625648499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/360909eabfa8471085dfe3226b4cbee5",
      "value": "parc",
      "confidence": "0.42547398805618286"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Stunning view of the temples of Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Superbe perspective des temples de Sukhothai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a serene landscape of Sukhothai, Thailand. There is a calm pond with water lilies in the foreground and red lotus buds emerging from the water. In the background, there is a historic stupa surrounded by lush vegetation and tall trees. The sky is partially covered with clouds, adding a touch of tranquility to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un paysage serein de Sukhothai, en Thaïlande. On y voit un étang calme avec des nénuphars en premier plan et des bourgeons de lotus rouges émergeant de l'eau. En arrière-plan, il y a un stupa historique entouré de végétation luxuriante et de grands arbres. Le ciel est partiellement couvert de nuages, ajoutant une touche de tranquillité à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #Nature #Temple #Ancient #Scenic #Travel #Peaceful #WaterLilies #Reflection]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #paysage #nature #étang #nénuphars #lotus #stupa #histoire #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "edcf1ba0-967d-4521-832c-42e1a503d483",
    "mediaKey": "9079b3ac-f1e7-4fff-adba-c602b225a686"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité des temples de Sukhothai, où l'histoire et la nature se rencontrent dans une harmonie parfaite.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Parc Historique de Sukhothai : Un Voyage à Travers le Temps]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sukhothai Historical Park: A Journey Through Time]]></Value>
      <Value Culture="fr"><![CDATA[Parc Historique de Sukhothai : Un Voyage à Travers le Temps]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sukhothai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sukhothai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "landscape",
  "pond",
  "water lilies",
  "lotus",
  "stupa",
  "vegetation",
  "trees",
  "history"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "paysage",
  "étang",
  "nénuphars",
  "lotus",
  "stupa",
  "végétation",
  "arbres",
  "histoire"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité des temples de Sukhothai, où l'histoire et la nature se rencontrent dans une harmonie parfaite.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sukhothai Historical Park: A Journey Through Time]]></Value>
      <Value Culture="fr"><![CDATA[Parc Historique de Sukhothai : Un Voyage à Travers le Temps]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>