<?xml version="1.0" encoding="utf-8"?>
<Content Key="5def709f-9092-417f-9489-40da0475094c" Alias="Sunflowers Galore" Level="6">
  <Info>
    <Parent Key="0c0d5887-9759-4c4e-a9dc-37d86b305b0c">Czechia</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Czechia/SunflowersGalore</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-04-24T14:36:28</CreateDate>
    <NodeName Default="Sunflowers Galore">
      <Name Culture="en">Sunflowers Galore</Name>
      <Name Culture="fr">Tournesol à gogo</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A field of sunflowers</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un champ de tournesols</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a vast field of sunflowers in full bloom under a partly cloudy sky in Czechia. The sunflowers with their bright yellow petals and brown-orange centers stand out clearly against the green background of leaves and stems. In the background, a line of lush trees can be seen under a blue sky with a few white clouds."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un vaste champ de tournesols en pleine floraison sous un ciel partiellement nuageux en Tchéquie. Les tournesols aux pétales jaunes vifs et aux cœurs brun-orange se détachent nettement sur le fond vert des feuilles et des tiges. À l'arrière-plan, on peut voir une ligne d'arbres verdoyants sous un ciel bleu avec quelques nuages blancs."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunflowers #nature #flowers #landscape #scenery #Tchéquie #beautiful #outdoors #summer]]></Value>
      <Value Culture="fr"><![CDATA[#tournesols #nature #fleurs #champ #Tchéquie #paysage #été]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "0523367f-4b2f-4885-b2a1-6af361f382fa",
    "mediaKey": "4066fdb2-154c-40a1-9ab0-455599a00de3"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un champ éclatant de tournesols en pleine floraison sous un ciel partiellement nuageux.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un océan de Tournesols en Tchéquie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[An Ocean of Sunflowers in Czechia]]></Value>
      <Value Culture="fr"><![CDATA[Un océan de Tournesols en Tchéquie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sunflowers-field-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sunflowers-field-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunflowers",
  "field",
  "flowers",
  "nature",
  "sky",
  "clouds",
  "Czechia"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "tournesols",
  "champ",
  "fleurs",
  "nature",
  "ciel",
  "nuages",
  "Tchéquie"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un champ éclatant de tournesols en pleine floraison sous un ciel partiellement nuageux.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[An Ocean of Sunflowers in Czechia]]></Value>
      <Value Culture="fr"><![CDATA[Un océan de Tournesols en Tchéquie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>