<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dc5641b-554e-4133-8a21-b1959867cd30" Alias="Sunrise over Cinquantenaire Park" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/SunriseOverCinquantenairePark</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T12:04:23</CreateDate>
    <NodeName Default="Sunrise over Cinquantenaire Park">
      <Name Culture="en">Sunrise over Cinquantenaire Park</Name>
      <Name Culture="fr">Lever de soleil sur le parc du Cinquantenaire</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa62e9e5b84343adab919a568703b52d"
      },
      {
        "contentUdi": "umb://element/06325af25784476b9ab016e482e5dcd5"
      },
      {
        "contentUdi": "umb://element/5e9180367d08430599802d3db5f7481e"
      },
      {
        "contentUdi": "umb://element/278cc5022e6c4a9f84afa811327e54fa"
      },
      {
        "contentUdi": "umb://element/7c884ce35a16420fa81e2d4fd1888109"
      },
      {
        "contentUdi": "umb://element/1a8437b63b214414a49b7fb7df7a3b08"
      },
      {
        "contentUdi": "umb://element/04b8426dbb2647798006c06c87816af9"
      },
      {
        "contentUdi": "umb://element/b18ed20f5054467795a90783fd542ec7"
      },
      {
        "contentUdi": "umb://element/787163bc5d8f45abafa97a4e6c491ea3"
      },
      {
        "contentUdi": "umb://element/4f743bd9e7c64c0fa06f1adecd693a0c"
      },
      {
        "contentUdi": "umb://element/6d817e29feda4b9a86904e3c144b0d19"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa62e9e5b84343adab919a568703b52d",
      "value": "plein air",
      "confidence": "0.9976770877838135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06325af25784476b9ab016e482e5dcd5",
      "value": "herbe",
      "confidence": "0.9955464005470276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e9180367d08430599802d3db5f7481e",
      "value": "ciel",
      "confidence": "0.9891719222068787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/278cc5022e6c4a9f84afa811327e54fa",
      "value": "plante",
      "confidence": "0.9830744862556458"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c884ce35a16420fa81e2d4fd1888109",
      "value": "nuage",
      "confidence": "0.9705426692962646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a8437b63b214414a49b7fb7df7a3b08",
      "value": "arbre",
      "confidence": "0.9591386318206787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04b8426dbb2647798006c06c87816af9",
      "value": "terrain",
      "confidence": "0.816950798034668"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b18ed20f5054467795a90783fd542ec7",
      "value": "fleur",
      "confidence": "0.7076249122619629"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/787163bc5d8f45abafa97a4e6c491ea3",
      "value": "paysage",
      "confidence": "0.6144198179244995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f743bd9e7c64c0fa06f1adecd693a0c",
      "value": "jardin",
      "confidence": "0.5402703881263733"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d817e29feda4b9a86904e3c144b0d19",
      "value": "automne",
      "confidence": "0.4274328351020813"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa62e9e5b84343adab919a568703b52d"
      },
      {
        "contentUdi": "umb://element/06325af25784476b9ab016e482e5dcd5"
      },
      {
        "contentUdi": "umb://element/5e9180367d08430599802d3db5f7481e"
      },
      {
        "contentUdi": "umb://element/278cc5022e6c4a9f84afa811327e54fa"
      },
      {
        "contentUdi": "umb://element/7c884ce35a16420fa81e2d4fd1888109"
      },
      {
        "contentUdi": "umb://element/1a8437b63b214414a49b7fb7df7a3b08"
      },
      {
        "contentUdi": "umb://element/04b8426dbb2647798006c06c87816af9"
      },
      {
        "contentUdi": "umb://element/b18ed20f5054467795a90783fd542ec7"
      },
      {
        "contentUdi": "umb://element/787163bc5d8f45abafa97a4e6c491ea3"
      },
      {
        "contentUdi": "umb://element/4f743bd9e7c64c0fa06f1adecd693a0c"
      },
      {
        "contentUdi": "umb://element/6d817e29feda4b9a86904e3c144b0d19"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa62e9e5b84343adab919a568703b52d",
      "value": "plein air",
      "confidence": "0.9976770877838135"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06325af25784476b9ab016e482e5dcd5",
      "value": "herbe",
      "confidence": "0.9955464005470276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e9180367d08430599802d3db5f7481e",
      "value": "ciel",
      "confidence": "0.9891719222068787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/278cc5022e6c4a9f84afa811327e54fa",
      "value": "plante",
      "confidence": "0.9830744862556458"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c884ce35a16420fa81e2d4fd1888109",
      "value": "nuage",
      "confidence": "0.9705426692962646"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a8437b63b214414a49b7fb7df7a3b08",
      "value": "arbre",
      "confidence": "0.9591386318206787"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/04b8426dbb2647798006c06c87816af9",
      "value": "terrain",
      "confidence": "0.816950798034668"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b18ed20f5054467795a90783fd542ec7",
      "value": "fleur",
      "confidence": "0.7076249122619629"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/787163bc5d8f45abafa97a4e6c491ea3",
      "value": "paysage",
      "confidence": "0.6144198179244995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f743bd9e7c64c0fa06f1adecd693a0c",
      "value": "jardin",
      "confidence": "0.5402703881263733"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d817e29feda4b9a86904e3c144b0d19",
      "value": "automne",
      "confidence": "0.4274328351020813"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Historical and walking place, Cinquantenaire Park</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lieu historique et de promenade, le parc du Cinquantenaire</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a park in Brussels, Belgium, with a large historic building in the background and a triumphal arch. The sky is tinted with warm colors, creating a soothing atmosphere. Dead leaves are scattered on the green lawn, suggesting an autumn scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un parc à Bruxelles, Belgique, avec un grand bâtiment historique en arrière-plan et un arc de triomphe. Le ciel est teinté de couleurs chaudes, créant une ambiance apaisante. Des feuilles mortes sont éparpillées sur la pelouse verte, suggérant une scène automnale."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #ParcDuCinquantenaire #Architecture #Autumn #Sunset #Travel #Landmark]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #Parc #Architecture #Automne #FeuillesMortes]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "7ddb6b16-d452-402a-9a4a-fb9235b05794",
    "mediaKey": "cebf6813-d2d7-4929-ae9f-d27c8083de6b"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du parc du Cinquantenaire à Bruxelles au lever du soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Lever de soleil sur le parc du Cinquantenaire]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunrise over Cinquantenaire Park]]></Value>
      <Value Culture="fr"><![CDATA[Lever de soleil sur le parc du Cinquantenaire]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/parc-du-cinquantenaire-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/parc-du-cinquantenaire-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "park",
  "historic building",
  "triumphal arch",
  "sky",
  "autumn",
  "dead leaves"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "parc",
  "bâtiment historique",
  "arc de triomphe",
  "ciel",
  "automne",
  "feuilles mortes"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie du parc du Cinquantenaire à Bruxelles au lever du soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunrise over Cinquantenaire Park]]></Value>
      <Value Culture="fr"><![CDATA[Lever de soleil sur le parc du Cinquantenaire]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>