<?xml version="1.0" encoding="utf-8"?>
<Content Key="461e9889-5c98-4c93-8533-e95dbb0369e8" Alias="sunset over the plains of Pai #2" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/sunsetOverThePlainsOfPai2</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T16:58:35</CreateDate>
    <NodeName Default="sunset over the plains of Pai #2">
      <Name Culture="en">sunset over the plains of Pai #2</Name>
      <Name Culture="fr">coucher de soleil sur les plaines de Pai #2</Name>
    </NodeName>
    <SortOrder>42</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/22aa0a74656c42e0b63026850b9eb402"
      },
      {
        "contentUdi": "umb://element/041dc41214124d97b12e3c16d1306412"
      },
      {
        "contentUdi": "umb://element/d2f2142378894d8fb3358742b942e274"
      },
      {
        "contentUdi": "umb://element/95aa34ac849b4daba03395e562d5f516"
      },
      {
        "contentUdi": "umb://element/623bf178a2de48988982e2c8554e3cd2"
      },
      {
        "contentUdi": "umb://element/0a6c0fa2199d445090e1ab82bd57bf5a"
      },
      {
        "contentUdi": "umb://element/9685b7866c8044fbaa8dad43d423c15a"
      },
      {
        "contentUdi": "umb://element/045bf5f0af044c7f8e61bb2ca59e6d46"
      },
      {
        "contentUdi": "umb://element/1fb3585cc0d546ad926fe24278625418"
      },
      {
        "contentUdi": "umb://element/17e30de4bf2f4e13aa8a75f9603ef3f5"
      },
      {
        "contentUdi": "umb://element/bfb2650335b342b7b514661515507db5"
      },
      {
        "contentUdi": "umb://element/fc4e8ef9e566414ca3080eb90835df16"
      },
      {
        "contentUdi": "umb://element/4ee03b8a49f448b7bb65c668f1069381"
      },
      {
        "contentUdi": "umb://element/5b4e330c0c9545d59f0eeb836c21e828"
      },
      {
        "contentUdi": "umb://element/ef1c1430c1cd416b9c349aac960352f2"
      },
      {
        "contentUdi": "umb://element/3ab6b960debd46a88131e8e0dab3bb8e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22aa0a74656c42e0b63026850b9eb402",
      "value": "plein air",
      "confidence": "0.9959346652030945"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/041dc41214124d97b12e3c16d1306412",
      "value": "ciel",
      "confidence": "0.9879089593887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2f2142378894d8fb3358742b942e274",
      "value": "nuage",
      "confidence": "0.9820904731750488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/95aa34ac849b4daba03395e562d5f516",
      "value": "plante",
      "confidence": "0.9778155088424683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/623bf178a2de48988982e2c8554e3cd2",
      "value": "herbe",
      "confidence": "0.972996711730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a6c0fa2199d445090e1ab82bd57bf5a",
      "value": "arbre",
      "confidence": "0.9641396999359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9685b7866c8044fbaa8dad43d423c15a",
      "value": "montagne",
      "confidence": "0.9632450342178345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/045bf5f0af044c7f8e61bb2ca59e6d46",
      "value": "zone rurale",
      "confidence": "0.9606609344482422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fb3585cc0d546ad926fe24278625418",
      "value": "paysage",
      "confidence": "0.9301011562347412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17e30de4bf2f4e13aa8a75f9603ef3f5",
      "value": "coucher de soleil",
      "confidence": "0.9209813475608826"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfb2650335b342b7b514661515507db5",
      "value": "nature",
      "confidence": "0.917273223400116"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc4e8ef9e566414ca3080eb90835df16",
      "value": "ferme",
      "confidence": "0.8995044827461243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee03b8a49f448b7bb65c668f1069381",
      "value": "agriculture",
      "confidence": "0.8984551429748535"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b4e330c0c9545d59f0eeb836c21e828",
      "value": "lever de soleil",
      "confidence": "0.8436956405639648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef1c1430c1cd416b9c349aac960352f2",
      "value": "terrain",
      "confidence": "0.7628453969955444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ab6b960debd46a88131e8e0dab3bb8e",
      "value": "soleil",
      "confidence": "0.5934578776359558"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/22aa0a74656c42e0b63026850b9eb402"
      },
      {
        "contentUdi": "umb://element/041dc41214124d97b12e3c16d1306412"
      },
      {
        "contentUdi": "umb://element/d2f2142378894d8fb3358742b942e274"
      },
      {
        "contentUdi": "umb://element/95aa34ac849b4daba03395e562d5f516"
      },
      {
        "contentUdi": "umb://element/623bf178a2de48988982e2c8554e3cd2"
      },
      {
        "contentUdi": "umb://element/0a6c0fa2199d445090e1ab82bd57bf5a"
      },
      {
        "contentUdi": "umb://element/9685b7866c8044fbaa8dad43d423c15a"
      },
      {
        "contentUdi": "umb://element/045bf5f0af044c7f8e61bb2ca59e6d46"
      },
      {
        "contentUdi": "umb://element/1fb3585cc0d546ad926fe24278625418"
      },
      {
        "contentUdi": "umb://element/17e30de4bf2f4e13aa8a75f9603ef3f5"
      },
      {
        "contentUdi": "umb://element/bfb2650335b342b7b514661515507db5"
      },
      {
        "contentUdi": "umb://element/fc4e8ef9e566414ca3080eb90835df16"
      },
      {
        "contentUdi": "umb://element/4ee03b8a49f448b7bb65c668f1069381"
      },
      {
        "contentUdi": "umb://element/5b4e330c0c9545d59f0eeb836c21e828"
      },
      {
        "contentUdi": "umb://element/ef1c1430c1cd416b9c349aac960352f2"
      },
      {
        "contentUdi": "umb://element/3ab6b960debd46a88131e8e0dab3bb8e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22aa0a74656c42e0b63026850b9eb402",
      "value": "plein air",
      "confidence": "0.9959346652030945"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/041dc41214124d97b12e3c16d1306412",
      "value": "ciel",
      "confidence": "0.9879089593887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d2f2142378894d8fb3358742b942e274",
      "value": "nuage",
      "confidence": "0.9820904731750488"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/95aa34ac849b4daba03395e562d5f516",
      "value": "plante",
      "confidence": "0.9778155088424683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/623bf178a2de48988982e2c8554e3cd2",
      "value": "herbe",
      "confidence": "0.972996711730957"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0a6c0fa2199d445090e1ab82bd57bf5a",
      "value": "arbre",
      "confidence": "0.9641396999359131"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9685b7866c8044fbaa8dad43d423c15a",
      "value": "montagne",
      "confidence": "0.9632450342178345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/045bf5f0af044c7f8e61bb2ca59e6d46",
      "value": "zone rurale",
      "confidence": "0.9606609344482422"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fb3585cc0d546ad926fe24278625418",
      "value": "paysage",
      "confidence": "0.9301011562347412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/17e30de4bf2f4e13aa8a75f9603ef3f5",
      "value": "coucher de soleil",
      "confidence": "0.9209813475608826"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bfb2650335b342b7b514661515507db5",
      "value": "nature",
      "confidence": "0.917273223400116"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc4e8ef9e566414ca3080eb90835df16",
      "value": "ferme",
      "confidence": "0.8995044827461243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ee03b8a49f448b7bb65c668f1069381",
      "value": "agriculture",
      "confidence": "0.8984551429748535"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5b4e330c0c9545d59f0eeb836c21e828",
      "value": "lever de soleil",
      "confidence": "0.8436956405639648"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef1c1430c1cd416b9c349aac960352f2",
      "value": "terrain",
      "confidence": "0.7628453969955444"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ab6b960debd46a88131e8e0dab3bb8e",
      "value": "soleil",
      "confidence": "0.5934578776359558"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>After the mountain, the plains of Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Après la montagne, les plaines de Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque rural landscape in Pai, Thailand. It features agricultural fields with hay bales and traditional houses in the background. Majestic mountains rise on the horizon under a golden-hued sky, creating a peaceful and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage rural pittoresque à Pai, en Thaïlande. On y voit des champs agricoles avec des bottes de paille et des maisons traditionnelles en arrière-plan. Les montagnes majestueuses se dressent à l'horizon sous un ciel aux teintes dorées, créant une atmosphère paisible et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #RuralLife #Sunset #Nature #Mountains #Countryside]]></Value>
      <Value Culture="fr"><![CDATA[#Thaïlande #Pai #PaysageRural #Agriculture #Nature #Montagnes #CoucherDeSoleil]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "713eae29-15b4-4af4-b717-27ab53210f86",
    "mediaKey": "4fde3d42-b59c-4b35-a0a6-3ea9b25944e2"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Après la montagne, les plaines de Pai]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunset over the plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-fields-in-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-fields-in-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Thailand",
  "Pai",
  "rural landscape",
  "agricultural fields",
  "hay bales",
  "traditional houses",
  "mountains",
  "sunset"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Thaïlande",
  "Pai",
  "paysage rural",
  "champs agricoles",
  "bottes de paille",
  "maisons traditionnelles",
  "montagnes",
  "coucher de soleil"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Après la montagne, les plaines de Pai]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunset over the plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur les plaines de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>