<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd7e728f-48c2-486a-86cd-897b4b8ec5e4" Alias="Sunset over Sukhothai" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/SunsetOverSukhothai</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T17:36:18</CreateDate>
    <NodeName Default="Sunset over Sukhothai">
      <Name Culture="en">Sunset over Sukhothai</Name>
      <Name Culture="fr">Coucher de soleil sur Sukhothai</Name>
    </NodeName>
    <SortOrder>49</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e9deeb1e5d204966b91e21514b419555"
      },
      {
        "contentUdi": "umb://element/48091bba25c24c8096a349919562c76f"
      },
      {
        "contentUdi": "umb://element/8cf3b8699c7e4b0593adb52132294fe9"
      },
      {
        "contentUdi": "umb://element/0aa8ba8da25a4b54af32378aac8eaaf1"
      },
      {
        "contentUdi": "umb://element/e3afc42b464248eca241c925165e7384"
      },
      {
        "contentUdi": "umb://element/86db472e95714b698f02a2415956ad88"
      },
      {
        "contentUdi": "umb://element/9cb2a1db9977495ea7b24ea6aac541a8"
      },
      {
        "contentUdi": "umb://element/752b1b86907144be860bbd9f8cf6d714"
      },
      {
        "contentUdi": "umb://element/e76617433c484ebca16f8531e3732e66"
      },
      {
        "contentUdi": "umb://element/649fb7fed5974a82877bed6ee5b81116"
      },
      {
        "contentUdi": "umb://element/37922444f43442d69c6bd6786bfd7c98"
      },
      {
        "contentUdi": "umb://element/082a87219b6c4894b633c17be920f264"
      },
      {
        "contentUdi": "umb://element/4ad31285906f4b65a7789ea62eebd6ef"
      },
      {
        "contentUdi": "umb://element/215f137c2ead43ff82a00fee09bf0544"
      },
      {
        "contentUdi": "umb://element/2e5769062f6e4fa18eb8d78e7966e07f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9deeb1e5d204966b91e21514b419555",
      "value": "nuage",
      "confidence": "0.9986164569854736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/48091bba25c24c8096a349919562c76f",
      "value": "plein air",
      "confidence": "0.995934009552002"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8cf3b8699c7e4b0593adb52132294fe9",
      "value": "ciel",
      "confidence": "0.9844828844070435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0aa8ba8da25a4b54af32378aac8eaaf1",
      "value": "arbre",
      "confidence": "0.9826194047927856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3afc42b464248eca241c925165e7384",
      "value": "lac",
      "confidence": "0.9745090007781982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86db472e95714b698f02a2415956ad88",
      "value": "bâtiment",
      "confidence": "0.9652087688446045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9cb2a1db9977495ea7b24ea6aac541a8",
      "value": "lieu de culte",
      "confidence": "0.9407910108566284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/752b1b86907144be860bbd9f8cf6d714",
      "value": "eau",
      "confidence": "0.9385522603988647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e76617433c484ebca16f8531e3732e66",
      "value": "temple",
      "confidence": "0.9155632257461548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/649fb7fed5974a82877bed6ee5b81116",
      "value": "Bassin réfléchissant",
      "confidence": "0.8954651951789856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37922444f43442d69c6bd6786bfd7c98",
      "value": "pagode",
      "confidence": "0.8748230934143066"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/082a87219b6c4894b633c17be920f264",
      "value": "plante",
      "confidence": "0.8662011623382568"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ad31285906f4b65a7789ea62eebd6ef",
      "value": "reflet",
      "confidence": "0.8493855595588684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/215f137c2ead43ff82a00fee09bf0544",
      "value": "paysage",
      "confidence": "0.7626923322677612"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e5769062f6e4fa18eb8d78e7966e07f",
      "value": "coucher de soleil",
      "confidence": "0.6171743869781494"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e9deeb1e5d204966b91e21514b419555"
      },
      {
        "contentUdi": "umb://element/48091bba25c24c8096a349919562c76f"
      },
      {
        "contentUdi": "umb://element/8cf3b8699c7e4b0593adb52132294fe9"
      },
      {
        "contentUdi": "umb://element/0aa8ba8da25a4b54af32378aac8eaaf1"
      },
      {
        "contentUdi": "umb://element/e3afc42b464248eca241c925165e7384"
      },
      {
        "contentUdi": "umb://element/86db472e95714b698f02a2415956ad88"
      },
      {
        "contentUdi": "umb://element/9cb2a1db9977495ea7b24ea6aac541a8"
      },
      {
        "contentUdi": "umb://element/752b1b86907144be860bbd9f8cf6d714"
      },
      {
        "contentUdi": "umb://element/e76617433c484ebca16f8531e3732e66"
      },
      {
        "contentUdi": "umb://element/649fb7fed5974a82877bed6ee5b81116"
      },
      {
        "contentUdi": "umb://element/37922444f43442d69c6bd6786bfd7c98"
      },
      {
        "contentUdi": "umb://element/082a87219b6c4894b633c17be920f264"
      },
      {
        "contentUdi": "umb://element/4ad31285906f4b65a7789ea62eebd6ef"
      },
      {
        "contentUdi": "umb://element/215f137c2ead43ff82a00fee09bf0544"
      },
      {
        "contentUdi": "umb://element/2e5769062f6e4fa18eb8d78e7966e07f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9deeb1e5d204966b91e21514b419555",
      "value": "nuage",
      "confidence": "0.9986164569854736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/48091bba25c24c8096a349919562c76f",
      "value": "plein air",
      "confidence": "0.995934009552002"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8cf3b8699c7e4b0593adb52132294fe9",
      "value": "ciel",
      "confidence": "0.9844828844070435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0aa8ba8da25a4b54af32378aac8eaaf1",
      "value": "arbre",
      "confidence": "0.9826194047927856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e3afc42b464248eca241c925165e7384",
      "value": "lac",
      "confidence": "0.9745090007781982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86db472e95714b698f02a2415956ad88",
      "value": "bâtiment",
      "confidence": "0.9652087688446045"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9cb2a1db9977495ea7b24ea6aac541a8",
      "value": "lieu de culte",
      "confidence": "0.9407910108566284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/752b1b86907144be860bbd9f8cf6d714",
      "value": "eau",
      "confidence": "0.9385522603988647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e76617433c484ebca16f8531e3732e66",
      "value": "temple",
      "confidence": "0.9155632257461548"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/649fb7fed5974a82877bed6ee5b81116",
      "value": "Bassin réfléchissant",
      "confidence": "0.8954651951789856"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37922444f43442d69c6bd6786bfd7c98",
      "value": "pagode",
      "confidence": "0.8748230934143066"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/082a87219b6c4894b633c17be920f264",
      "value": "plante",
      "confidence": "0.8662011623382568"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ad31285906f4b65a7789ea62eebd6ef",
      "value": "reflet",
      "confidence": "0.8493855595588684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/215f137c2ead43ff82a00fee09bf0544",
      "value": "paysage",
      "confidence": "0.7626923322677612"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e5769062f6e4fa18eb8d78e7966e07f",
      "value": "coucher de soleil",
      "confidence": "0.6171743869781494"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A body of water illuminated by the sky, reflecting the temples in the background</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un plan d'eau illuminé par le ciel, et reflétant les temples de l'arrière-plan</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a picturesque landscape of Sukhothai, Thailand. It features ancient temples with majestic stupas surrounded by greenery. A calm lake in the foreground reflects the structures and trees, while a dramatic sky with colorful clouds adds a touch of mystery and beauty to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un paysage pittoresque de Sukhothai, en Thaïlande. On y voit des temples anciens avec des stupas majestueux entourés de verdure. Un lac calme au premier plan reflète les structures et les arbres, tandis qu'un ciel dramatique avec des nuages colorés ajoute une touche de mystère et de beauté à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Sukhothai #Thailand #HistoricalRuins #Temples #Stupas #Reflection #Nature #Travel #Photography #Scenic]]></Value>
      <Value Culture="fr"><![CDATA[#Sukhothai #Thaïlande #temples #architecture #nature #voyage #photographie #patrimoine]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "b5273fcc-2597-4295-9ace-805e5f0e3406",
    "mediaKey": "4409a613-ca66-4c85-8461-773baf5b1ad4"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un plan d'eau illuminé par le ciel, reflétant les temples majestueux de Sukhothai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil enchanteur sur Sukhothai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Enchanting Sunset over Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil enchanteur sur Sukhothai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/sukhothai-temple-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/sukhothai-temple-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Sukhothai",
  "Thailand",
  "temples",
  "stupas",
  "lake",
  "nature",
  "ancient architecture",
  "reflections",
  "dramatic sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Sukhothai",
  "Thaïlande",
  "temples",
  "stupas",
  "lac",
  "nature",
  "architecture ancienne",
  "reflets",
  "ciel dramatique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un plan d'eau illuminé par le ciel, reflétant les temples majestueux de Sukhothai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Enchanting Sunset over Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil enchanteur sur Sukhothai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>