<?xml version="1.0" encoding="utf-8"?>
<Content Key="76ee2390-0d50-4caf-8c59-b54534a1df5e" Alias="sunset over the plains of Pai" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/sunsetOverThePlainsOfPai</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T16:58:18</CreateDate>
    <NodeName Default="sunset over the plains of Pai">
      <Name Culture="en">sunset over the plains of Pai</Name>
      <Name Culture="fr">coucher de soleil sur les plaines de Pai</Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f86012e580fd4a8d8880d296ec3bfc78"
      },
      {
        "contentUdi": "umb://element/e03f8a90079048118575b634427f6368"
      },
      {
        "contentUdi": "umb://element/2f2cd8f257d8467b8cac6552ff99ef34"
      },
      {
        "contentUdi": "umb://element/fd98c6cf4ff94555869c2b26024ac40d"
      },
      {
        "contentUdi": "umb://element/de52e88d3fa5485f9ae05cfc49e34b43"
      },
      {
        "contentUdi": "umb://element/da7764cf49ca45f7a921f99a176e67fa"
      },
      {
        "contentUdi": "umb://element/fa0b49968d2e40aaaf41c97438a3ea38"
      },
      {
        "contentUdi": "umb://element/56179d5bf1b94246ad81de5db3f35a55"
      },
      {
        "contentUdi": "umb://element/26c42228d83148078c387efb5c51bf8c"
      },
      {
        "contentUdi": "umb://element/462c61dba1ae445f830ed38c88481917"
      },
      {
        "contentUdi": "umb://element/7556091ab5e94730910a9c089de47883"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f86012e580fd4a8d8880d296ec3bfc78",
      "value": "plein air",
      "confidence": "0.9973715543746948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e03f8a90079048118575b634427f6368",
      "value": "herbe",
      "confidence": "0.996609091758728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f2cd8f257d8467b8cac6552ff99ef34",
      "value": "nuage",
      "confidence": "0.9948754906654358"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd98c6cf4ff94555869c2b26024ac40d",
      "value": "ciel",
      "confidence": "0.9946388006210327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de52e88d3fa5485f9ae05cfc49e34b43",
      "value": "paysage",
      "confidence": "0.9935861229896545"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da7764cf49ca45f7a921f99a176e67fa",
      "value": "plante",
      "confidence": "0.9844323992729187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa0b49968d2e40aaaf41c97438a3ea38",
      "value": "arbre",
      "confidence": "0.9685949683189392"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56179d5bf1b94246ad81de5db3f35a55",
      "value": "zone rurale",
      "confidence": "0.9161698222160339"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26c42228d83148078c387efb5c51bf8c",
      "value": "nature",
      "confidence": "0.8157103657722473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/462c61dba1ae445f830ed38c88481917",
      "value": "bâtiment",
      "confidence": "0.7865811586380005"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7556091ab5e94730910a9c089de47883",
      "value": "terrain",
      "confidence": "0.6440637707710266"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f86012e580fd4a8d8880d296ec3bfc78"
      },
      {
        "contentUdi": "umb://element/e03f8a90079048118575b634427f6368"
      },
      {
        "contentUdi": "umb://element/2f2cd8f257d8467b8cac6552ff99ef34"
      },
      {
        "contentUdi": "umb://element/fd98c6cf4ff94555869c2b26024ac40d"
      },
      {
        "contentUdi": "umb://element/de52e88d3fa5485f9ae05cfc49e34b43"
      },
      {
        "contentUdi": "umb://element/da7764cf49ca45f7a921f99a176e67fa"
      },
      {
        "contentUdi": "umb://element/fa0b49968d2e40aaaf41c97438a3ea38"
      },
      {
        "contentUdi": "umb://element/56179d5bf1b94246ad81de5db3f35a55"
      },
      {
        "contentUdi": "umb://element/26c42228d83148078c387efb5c51bf8c"
      },
      {
        "contentUdi": "umb://element/462c61dba1ae445f830ed38c88481917"
      },
      {
        "contentUdi": "umb://element/7556091ab5e94730910a9c089de47883"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f86012e580fd4a8d8880d296ec3bfc78",
      "value": "plein air",
      "confidence": "0.9973715543746948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e03f8a90079048118575b634427f6368",
      "value": "herbe",
      "confidence": "0.996609091758728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f2cd8f257d8467b8cac6552ff99ef34",
      "value": "nuage",
      "confidence": "0.9948754906654358"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd98c6cf4ff94555869c2b26024ac40d",
      "value": "ciel",
      "confidence": "0.9946388006210327"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/de52e88d3fa5485f9ae05cfc49e34b43",
      "value": "paysage",
      "confidence": "0.9935861229896545"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/da7764cf49ca45f7a921f99a176e67fa",
      "value": "plante",
      "confidence": "0.9844323992729187"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa0b49968d2e40aaaf41c97438a3ea38",
      "value": "arbre",
      "confidence": "0.9685949683189392"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/56179d5bf1b94246ad81de5db3f35a55",
      "value": "zone rurale",
      "confidence": "0.9161698222160339"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/26c42228d83148078c387efb5c51bf8c",
      "value": "nature",
      "confidence": "0.8157103657722473"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/462c61dba1ae445f830ed38c88481917",
      "value": "bâtiment",
      "confidence": "0.7865811586380005"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7556091ab5e94730910a9c089de47883",
      "value": "terrain",
      "confidence": "0.6440637707710266"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>After the mountain, the plains of Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Après la montagne, les plaines de Pai</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a rural landscape in Pai, Thailand, at sunset. There are three large conical haystacks in the middle of a field. The sky is tinged with shades of pink and purple, and lush trees border the field. Mountains are visible on the horizon, adding a picturesque touch to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un paysage rural à Pai, en Thaïlande, au coucher du soleil. On y voit trois grandes meules de foin coniques au milieu d'un champ. Le ciel est teinté de nuances de rose et de violet, et des arbres verdoyants bordent le champ. Les montagnes sont visibles à l'horizon, ajoutant une touche pittoresque à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Pai #Thailand #RuralLife #LandscapePhotography #Nature #Sunset #Sunrise #ScenicView]]></Value>
      <Value Culture="fr"><![CDATA[#Thaïlande #Pai #PaysageRural #CoucherDeSoleil #Nature #Voyage #Aventure]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "105a250f-d340-4974-a112-62ba83aa00e3",
    "mediaKey": "0f959d83-7d1e-41da-bf5c-da138b41eb2c"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine des plaines de Pai au crépuscule.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur les Plaines de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Sunset Over the Plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur les Plaines de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/fields-in-pai-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/fields-in-pai-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Thailand",
  "Pai",
  "rural landscape",
  "sunset",
  "haystacks",
  "field",
  "trees",
  "mountains"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Thaïlande",
  "Pai",
  "paysage rural",
  "coucher de soleil",
  "meules de foin",
  "champ",
  "arbres",
  "montagnes"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la beauté sereine des plaines de Pai au crépuscule.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Sunset Over the Plains of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil sur les Plaines de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>