<?xml version="1.0" encoding="utf-8"?>
<Content Key="049e3c8d-7d48-44e2-9bea-c6c76615ea6b" Alias="Série Railay beach, de la pirogue" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachDeLaPirogue</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-03T07:40:40</CreateDate>
    <NodeName Default="Série Railay beach, de la pirogue">
      <Name Culture="en">Railay Beach Series, from the Canoe</Name>
      <Name Culture="fr">Série Railay beach, de la pirogue</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f28a47b9024a4e61a08ff90693c7835a"
      },
      {
        "contentUdi": "umb://element/860a3e8e5de246ab86a5555aa62f556a"
      },
      {
        "contentUdi": "umb://element/699ff91d14944c3b97b907b942377070"
      },
      {
        "contentUdi": "umb://element/e4dfb46501c24ebcbd08f2725df06bda"
      },
      {
        "contentUdi": "umb://element/34f6325fa0364099985e1f873b6fcb13"
      },
      {
        "contentUdi": "umb://element/0b28822ff1e941718b58567aecf83575"
      },
      {
        "contentUdi": "umb://element/8e4176b0d9f04becaf216512e7c21573"
      },
      {
        "contentUdi": "umb://element/42eba656c2b242fb9ce926e226fee9d3"
      },
      {
        "contentUdi": "umb://element/9ec1131137b74fceaab4450f4156cc5d"
      },
      {
        "contentUdi": "umb://element/01357433c5c848759e53973e763b9222"
      },
      {
        "contentUdi": "umb://element/50ec9f8259c94d13987ac7fc47bd79a8"
      },
      {
        "contentUdi": "umb://element/01517d6d0b5d4258abccbab068e86a18"
      },
      {
        "contentUdi": "umb://element/8970e27220914ab99c3f04b1aa7a0a0b"
      },
      {
        "contentUdi": "umb://element/e89ed80626bb4d5e9992ba2f3f4987fb"
      },
      {
        "contentUdi": "umb://element/7f8da67152044e0ca1e3e3d81e4056c6"
      },
      {
        "contentUdi": "umb://element/e4fbc130fbb1489ea7f4e34ceb28b396"
      },
      {
        "contentUdi": "umb://element/ca39fb865a204fa39fff4dffda043a76"
      },
      {
        "contentUdi": "umb://element/dc47cf26280d424f89c37b13590cafac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f28a47b9024a4e61a08ff90693c7835a",
      "value": "plein air",
      "confidence": "0.9975264072418213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/860a3e8e5de246ab86a5555aa62f556a",
      "value": "nuage",
      "confidence": "0.99456387758255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/699ff91d14944c3b97b907b942377070",
      "value": "ciel",
      "confidence": "0.9874606132507324"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4dfb46501c24ebcbd08f2725df06bda",
      "value": "eau",
      "confidence": "0.9873631000518799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f6325fa0364099985e1f873b6fcb13",
      "value": "embarcation",
      "confidence": "0.9644806385040283"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b28822ff1e941718b58567aecf83575",
      "value": "paysage",
      "confidence": "0.9514272212982178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e4176b0d9f04becaf216512e7c21573",
      "value": "lac",
      "confidence": "0.9470191597938538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42eba656c2b242fb9ce926e226fee9d3",
      "value": "transport",
      "confidence": "0.9461773633956909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ec1131137b74fceaab4450f4156cc5d",
      "value": "bateau",
      "confidence": "0.9334362745285034"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01357433c5c848759e53973e763b9222",
      "value": "véhicule",
      "confidence": "0.9310380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50ec9f8259c94d13987ac7fc47bd79a8",
      "value": "Plaisance",
      "confidence": "0.9229632616043091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01517d6d0b5d4258abccbab068e86a18",
      "value": "canoë",
      "confidence": "0.8519936800003052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8970e27220914ab99c3f04b1aa7a0a0b",
      "value": "montagne",
      "confidence": "0.8271903991699219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e89ed80626bb4d5e9992ba2f3f4987fb",
      "value": "rocher",
      "confidence": "0.7042479515075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f8da67152044e0ca1e3e3d81e4056c6",
      "value": "plage",
      "confidence": "0.6285297870635986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4fbc130fbb1489ea7f4e34ceb28b396",
      "value": "rivière",
      "confidence": "0.5822726488113403"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca39fb865a204fa39fff4dffda043a76",
      "value": "nature",
      "confidence": "0.5422810316085815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc47cf26280d424f89c37b13590cafac",
      "value": "île",
      "confidence": "0.5022919178009033"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f28a47b9024a4e61a08ff90693c7835a"
      },
      {
        "contentUdi": "umb://element/860a3e8e5de246ab86a5555aa62f556a"
      },
      {
        "contentUdi": "umb://element/699ff91d14944c3b97b907b942377070"
      },
      {
        "contentUdi": "umb://element/e4dfb46501c24ebcbd08f2725df06bda"
      },
      {
        "contentUdi": "umb://element/34f6325fa0364099985e1f873b6fcb13"
      },
      {
        "contentUdi": "umb://element/0b28822ff1e941718b58567aecf83575"
      },
      {
        "contentUdi": "umb://element/8e4176b0d9f04becaf216512e7c21573"
      },
      {
        "contentUdi": "umb://element/42eba656c2b242fb9ce926e226fee9d3"
      },
      {
        "contentUdi": "umb://element/9ec1131137b74fceaab4450f4156cc5d"
      },
      {
        "contentUdi": "umb://element/01357433c5c848759e53973e763b9222"
      },
      {
        "contentUdi": "umb://element/50ec9f8259c94d13987ac7fc47bd79a8"
      },
      {
        "contentUdi": "umb://element/01517d6d0b5d4258abccbab068e86a18"
      },
      {
        "contentUdi": "umb://element/8970e27220914ab99c3f04b1aa7a0a0b"
      },
      {
        "contentUdi": "umb://element/e89ed80626bb4d5e9992ba2f3f4987fb"
      },
      {
        "contentUdi": "umb://element/7f8da67152044e0ca1e3e3d81e4056c6"
      },
      {
        "contentUdi": "umb://element/e4fbc130fbb1489ea7f4e34ceb28b396"
      },
      {
        "contentUdi": "umb://element/ca39fb865a204fa39fff4dffda043a76"
      },
      {
        "contentUdi": "umb://element/dc47cf26280d424f89c37b13590cafac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f28a47b9024a4e61a08ff90693c7835a",
      "value": "plein air",
      "confidence": "0.9975264072418213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/860a3e8e5de246ab86a5555aa62f556a",
      "value": "nuage",
      "confidence": "0.99456387758255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/699ff91d14944c3b97b907b942377070",
      "value": "ciel",
      "confidence": "0.9874606132507324"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4dfb46501c24ebcbd08f2725df06bda",
      "value": "eau",
      "confidence": "0.9873631000518799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/34f6325fa0364099985e1f873b6fcb13",
      "value": "embarcation",
      "confidence": "0.9644806385040283"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b28822ff1e941718b58567aecf83575",
      "value": "paysage",
      "confidence": "0.9514272212982178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e4176b0d9f04becaf216512e7c21573",
      "value": "lac",
      "confidence": "0.9470191597938538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42eba656c2b242fb9ce926e226fee9d3",
      "value": "transport",
      "confidence": "0.9461773633956909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ec1131137b74fceaab4450f4156cc5d",
      "value": "bateau",
      "confidence": "0.9334362745285034"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01357433c5c848759e53973e763b9222",
      "value": "véhicule",
      "confidence": "0.9310380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50ec9f8259c94d13987ac7fc47bd79a8",
      "value": "Plaisance",
      "confidence": "0.9229632616043091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01517d6d0b5d4258abccbab068e86a18",
      "value": "canoë",
      "confidence": "0.8519936800003052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8970e27220914ab99c3f04b1aa7a0a0b",
      "value": "montagne",
      "confidence": "0.8271903991699219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e89ed80626bb4d5e9992ba2f3f4987fb",
      "value": "rocher",
      "confidence": "0.7042479515075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f8da67152044e0ca1e3e3d81e4056c6",
      "value": "plage",
      "confidence": "0.6285297870635986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e4fbc130fbb1489ea7f4e34ceb28b396",
      "value": "rivière",
      "confidence": "0.5822726488113403"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ca39fb865a204fa39fff4dffda043a76",
      "value": "nature",
      "confidence": "0.5422810316085815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc47cf26280d424f89c37b13590cafac",
      "value": "île",
      "confidence": "0.5022919178009033"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>In the Railay Beach series, here is a dream setting. All we need is our little house at the end of the beach.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Dans la série Railay beach, voilà un décor de rêve. Il nous manque plus notre petite maison au bout de la plage.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque beach at Railay Beach, Thailand. Traditional wooden boats are moored on the calm water, with towering and lush rock formations in the background. The sky is blue with a few clouds, adding to the natural beauty of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage pittoresque à Railay Beach, en Thaïlande. On y voit des bateaux traditionnels en bois amarrés sur l'eau calme, avec en arrière-plan des formations rocheuses imposantes et verdoyantes. Le ciel est bleu avec quelques nuages, ajoutant à la beauté naturelle de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #LimestoneCliffs #LongTailBoats #Nature #Travel #ScenicView #BeachLife #Adventure #Explore]]></Value>
      <Value Culture="fr"><![CDATA[#RailayBeach #Thaïlande #Nature #Paysage #Voyage #Aventure #Bateaux]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c4518268-70f7-4f96-b4b7-b3382e408b98",
    "mediaKey": "8c541fa1-7f83-4c1d-9fb0-7357e1486500"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Paradisiaque à Railay Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/3-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/3-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "boats",
  "rocks",
  "sea",
  "Thailand",
  "nature",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "bateaux",
  "rochers",
  "mer",
  "Thaïlande",
  "nature",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Paradisiaque à Railay Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>