<?xml version="1.0" encoding="utf-8"?>
<Content Key="91cee73a-41bb-4892-8771-4bdd96ce9446" Alias="Série Railay Beach, le moment critique" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachLeMomentCritique</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Série Railay Beach, le moment critique">
      <Name Culture="en">Railay Beach Series, The Critical Moment</Name>
      <Name Culture="fr">Série Railay Beach, le moment critique</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cc96ec4e21d4403fbdd1cec8a85a3132"
      },
      {
        "contentUdi": "umb://element/6b68d8178cec419c9207ae838c43d89c"
      },
      {
        "contentUdi": "umb://element/0e712050b4a04df29fb3cf4f7eea8ae9"
      },
      {
        "contentUdi": "umb://element/ebc84b0118db418ab37ffb708db0230a"
      },
      {
        "contentUdi": "umb://element/bf52225dd30347c5ae5944f9d892354a"
      },
      {
        "contentUdi": "umb://element/cb82769bd2484a80b739340325ec69ca"
      },
      {
        "contentUdi": "umb://element/43804372874941c8ba2a904747757dc5"
      },
      {
        "contentUdi": "umb://element/1f7d4a6e43aa4becb09638c7b71e0ca6"
      },
      {
        "contentUdi": "umb://element/33981091cf8940089f2920fa99f6bab1"
      },
      {
        "contentUdi": "umb://element/2f3228de0f4f49f1bf00480583d711e0"
      },
      {
        "contentUdi": "umb://element/46a98b6ef7d140f8b98a34b81664c738"
      },
      {
        "contentUdi": "umb://element/b0650ab150ba4c8f964484877d6aed80"
      },
      {
        "contentUdi": "umb://element/ba068fe62536467eb87c2491284a2f0e"
      },
      {
        "contentUdi": "umb://element/1a88683156264052a7a32597b3f0e308"
      },
      {
        "contentUdi": "umb://element/1d3eb94c50024061a19f3095c8f573d3"
      },
      {
        "contentUdi": "umb://element/2bec2287fd2843deb7fe49f6403b1a48"
      },
      {
        "contentUdi": "umb://element/1d26f475033947279ad72db90b430f60"
      },
      {
        "contentUdi": "umb://element/2854e1c3ec464f72a63867d20e8d7cf1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc96ec4e21d4403fbdd1cec8a85a3132",
      "value": "plein air",
      "confidence": "0.9983432292938232"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b68d8178cec419c9207ae838c43d89c",
      "value": "nuage",
      "confidence": "0.9872705936431885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e712050b4a04df29fb3cf4f7eea8ae9",
      "value": "ciel",
      "confidence": "0.9843107461929321"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ebc84b0118db418ab37ffb708db0230a",
      "value": "eau",
      "confidence": "0.9777624607086182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf52225dd30347c5ae5944f9d892354a",
      "value": "plage",
      "confidence": "0.9175127744674683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb82769bd2484a80b739340325ec69ca",
      "value": "vacances",
      "confidence": "0.884916365146637"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/43804372874941c8ba2a904747757dc5",
      "value": "rive",
      "confidence": "0.8420592546463013"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f7d4a6e43aa4becb09638c7b71e0ca6",
      "value": "bateau",
      "confidence": "0.820939302444458"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33981091cf8940089f2920fa99f6bab1",
      "value": "enfant",
      "confidence": "0.7482446432113647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f3228de0f4f49f1bf00480583d711e0",
      "value": "sol",
      "confidence": "0.7187017202377319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/46a98b6ef7d140f8b98a34b81664c738",
      "value": "embarcation",
      "confidence": "0.7112908959388733"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0650ab150ba4c8f964484877d6aed80",
      "value": "fille",
      "confidence": "0.6905999183654785"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba068fe62536467eb87c2491284a2f0e",
      "value": "personne",
      "confidence": "0.6678214073181152"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a88683156264052a7a32597b3f0e308",
      "value": "debout",
      "confidence": "0.5944640636444092"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d3eb94c50024061a19f3095c8f573d3",
      "value": "personnes",
      "confidence": "0.5638715028762817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2bec2287fd2843deb7fe49f6403b1a48",
      "value": "nature",
      "confidence": "0.5084237456321716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1d26f475033947279ad72db90b430f60",
      "value": "été",
      "confidence": "0.4368308484554291"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2854e1c3ec464f72a63867d20e8d7cf1",
      "value": "sable",
      "confidence": "0.4026469588279724"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4755fe95bc8e4566a1ba19dc15360376"
      },
      {
        "contentUdi": "umb://element/1388723499714363a56986ba2786c521"
      },
      {
        "contentUdi": "umb://element/67bc56f6888e44e092aa8b4051b439d2"
      },
      {
        "contentUdi": "umb://element/fd4339d3b2bf41089d62e2723a80b0a5"
      },
      {
        "contentUdi": "umb://element/6235479d302145d9bc222a78c62f46e1"
      },
      {
        "contentUdi": "umb://element/880d557df5024188bb456a35b02df513"
      },
      {
        "contentUdi": "umb://element/5ce3e7d154584765be49bf509013e99c"
      },
      {
        "contentUdi": "umb://element/0aabec4a29d6425ca9f2da5fdf72adf6"
      },
      {
        "contentUdi": "umb://element/2ebc4f47a5e143608400e0a96c3ae315"
      },
      {
        "contentUdi": "umb://element/ef6cfb11cf404f2dbe64924ba0d6c858"
      },
      {
        "contentUdi": "umb://element/2fbc32459a3549aebdec137f16aceb68"
      },
      {
        "contentUdi": "umb://element/359298415a434bc8bd1d0a72b8c7e058"
      },
      {
        "contentUdi": "umb://element/65cc34239be441a2bc40e2c3716e6a72"
      },
      {
        "contentUdi": "umb://element/ab515a3152d242279bb10ef4a4005a12"
      },
      {
        "contentUdi": "umb://element/7696772522dc42168398f7821d7ce9ce"
      },
      {
        "contentUdi": "umb://element/d3896029075040ab807443a997664b3c"
      },
      {
        "contentUdi": "umb://element/967a458c56604a87be2f864463ff2060"
      },
      {
        "contentUdi": "umb://element/85ca1614c5aa480db427f4621ec67b13"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4755fe95bc8e4566a1ba19dc15360376",
      "value": "plein air",
      "confidence": "0.9983432292938232"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1388723499714363a56986ba2786c521",
      "value": "nuage",
      "confidence": "0.9872705936431885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67bc56f6888e44e092aa8b4051b439d2",
      "value": "ciel",
      "confidence": "0.9843107461929321"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd4339d3b2bf41089d62e2723a80b0a5",
      "value": "eau",
      "confidence": "0.9777624607086182"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6235479d302145d9bc222a78c62f46e1",
      "value": "plage",
      "confidence": "0.9175127744674683"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/880d557df5024188bb456a35b02df513",
      "value": "vacances",
      "confidence": "0.884916365146637"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ce3e7d154584765be49bf509013e99c",
      "value": "rive",
      "confidence": "0.8420592546463013"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0aabec4a29d6425ca9f2da5fdf72adf6",
      "value": "bateau",
      "confidence": "0.820939302444458"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ebc4f47a5e143608400e0a96c3ae315",
      "value": "enfant",
      "confidence": "0.7482446432113647"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef6cfb11cf404f2dbe64924ba0d6c858",
      "value": "sol",
      "confidence": "0.7187017202377319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2fbc32459a3549aebdec137f16aceb68",
      "value": "embarcation",
      "confidence": "0.7112908959388733"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/359298415a434bc8bd1d0a72b8c7e058",
      "value": "fille",
      "confidence": "0.6905999183654785"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65cc34239be441a2bc40e2c3716e6a72",
      "value": "personne",
      "confidence": "0.6678214073181152"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab515a3152d242279bb10ef4a4005a12",
      "value": "debout",
      "confidence": "0.5944640636444092"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7696772522dc42168398f7821d7ce9ce",
      "value": "personnes",
      "confidence": "0.5638715028762817"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d3896029075040ab807443a997664b3c",
      "value": "nature",
      "confidence": "0.5084237456321716"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/967a458c56604a87be2f864463ff2060",
      "value": "été",
      "confidence": "0.4368308484554291"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85ca1614c5aa480db427f4621ec67b13",
      "value": "sable",
      "confidence": "0.4026469588279724"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Two young women waiting for the perfect moment to capture the scene</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Deux jeunes femmes attendant le meilleur instant pour immortaliser le moment</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows two women on a sandy beach at Rai Leh Beach, Thailand. One woman is sitting on the sand, wearing a red dress and a yellow hat, and appears to be taking a photograph. The other woman is standing, holding a hat in her hand, and looking out towards the sea. In the background, there are several traditional Thai long-tail boats on the water, with a mountainous landscape visible in the distance under a partly cloudy sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre deux femmes sur une plage de Rai Leh en Thaïlande. L'une est assise sur le sable, portant un chapeau jaune et une robe rouge, et prend des photos avec un appareil photo. L'autre femme est debout, tenant un chapeau blanc et regardant vers la mer. En arrière-plan, plusieurs bateaux sont ancrés dans l'eau calme, avec des montagnes visibles à l'horizon sous un ciel partiellement nuageux."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RaiLehBeach #Thailand #BeachLife #Photography #Travel #LongTailBoats #ScenicView]]></Value>
      <Value Culture="fr"><![CDATA[#plage #Thaïlande #RaiLeh #vacances #photographie #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "90f36630-c2cd-4589-a3a6-2326cf1915a1",
    "mediaKey": "ea3d99ab-b229-4dc7-a295-a9ea2d2654ac"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux jeunes femmes attendant le meilleur instant pour immortaliser le moment.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux jeunes femmes attendant le meilleur instant pour immortaliser le moment.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Railay Beach Series: The Critical Moment]]></Value>
      <Value Culture="fr"><![CDATA[Le Moment Critique à Railay Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/5-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/5-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "Thailand",
  "Rai Leh Beach",
  "women",
  "photography",
  "long-tail boats",
  "sea",
  "mountains",
  "cloudy sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "femmes",
  "bateaux",
  "mer",
  "sable",
  "photographie",
  "Thaïlande",
  "Rai Leh"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Deux jeunes femmes attendant le meilleur instant pour immortaliser le moment.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Railay Beach Series: The Critical Moment]]></Value>
      <Value Culture="fr"><![CDATA[Le Moment Critique à Railay Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>