<?xml version="1.0" encoding="utf-8"?>
<Content Key="da4bddb8-0886-4088-903c-bb86baf0de98" Alias="Série Railay beach, de la pirogue" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachDeLaPirogue</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Série Railay beach, de la pirogue">
      <Name Culture="en">Railay Beach Series, from the Canoe</Name>
      <Name Culture="fr">Série Railay beach, de la pirogue</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84dc066c5f2340209a5ef765549ade4f"
      },
      {
        "contentUdi": "umb://element/0250149f2ac4448891fb0e8b30eb5a33"
      },
      {
        "contentUdi": "umb://element/894122d23a7c4286bc6b53421d587eea"
      },
      {
        "contentUdi": "umb://element/2d5c1cbd1f5347aebf42bbd8b0e6715d"
      },
      {
        "contentUdi": "umb://element/386f83769e9840a7b876446f60694fd4"
      },
      {
        "contentUdi": "umb://element/920e1f03fc7d42f4ae2bc9b28e6f85a3"
      },
      {
        "contentUdi": "umb://element/591913518806428198027ab962a60d12"
      },
      {
        "contentUdi": "umb://element/4d44ca20ed4540b4b0bd01b28c8f34f1"
      },
      {
        "contentUdi": "umb://element/a9b6e766b25b4d2ea5a434bf222b5244"
      },
      {
        "contentUdi": "umb://element/fe6daf90546245599cb2a848b5e50630"
      },
      {
        "contentUdi": "umb://element/b722dd09725d483599a2b926f9ed0a77"
      },
      {
        "contentUdi": "umb://element/2afa0bc4be5445bbbcbc5691435dfa4d"
      },
      {
        "contentUdi": "umb://element/b2fa630663b24de0be131925594fdb1b"
      },
      {
        "contentUdi": "umb://element/b200da250fd14847ab2d13fd0c14d1b4"
      },
      {
        "contentUdi": "umb://element/9164ff5254d24424b35f93d6f7246bdf"
      },
      {
        "contentUdi": "umb://element/9d1b3ce6cd9c4ee9a88d84ec8165fd22"
      },
      {
        "contentUdi": "umb://element/2b147abb42044c7cb595a65aebd68529"
      },
      {
        "contentUdi": "umb://element/ec1d25daeaf24bf5a8ecf64e1aa4578c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/84dc066c5f2340209a5ef765549ade4f",
      "value": "plein air",
      "confidence": "0.9975264072418213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0250149f2ac4448891fb0e8b30eb5a33",
      "value": "nuage",
      "confidence": "0.99456387758255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/894122d23a7c4286bc6b53421d587eea",
      "value": "ciel",
      "confidence": "0.9874606132507324"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2d5c1cbd1f5347aebf42bbd8b0e6715d",
      "value": "eau",
      "confidence": "0.9873631000518799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/386f83769e9840a7b876446f60694fd4",
      "value": "embarcation",
      "confidence": "0.9644806385040283"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/920e1f03fc7d42f4ae2bc9b28e6f85a3",
      "value": "paysage",
      "confidence": "0.9514272212982178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/591913518806428198027ab962a60d12",
      "value": "lac",
      "confidence": "0.9470191597938538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4d44ca20ed4540b4b0bd01b28c8f34f1",
      "value": "transport",
      "confidence": "0.9461773633956909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9b6e766b25b4d2ea5a434bf222b5244",
      "value": "bateau",
      "confidence": "0.9334362745285034"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fe6daf90546245599cb2a848b5e50630",
      "value": "véhicule",
      "confidence": "0.9310380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b722dd09725d483599a2b926f9ed0a77",
      "value": "Plaisance",
      "confidence": "0.9229632616043091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2afa0bc4be5445bbbcbc5691435dfa4d",
      "value": "canoë",
      "confidence": "0.8519936800003052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2fa630663b24de0be131925594fdb1b",
      "value": "montagne",
      "confidence": "0.8271903991699219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b200da250fd14847ab2d13fd0c14d1b4",
      "value": "rocher",
      "confidence": "0.7042479515075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9164ff5254d24424b35f93d6f7246bdf",
      "value": "plage",
      "confidence": "0.6285297870635986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d1b3ce6cd9c4ee9a88d84ec8165fd22",
      "value": "rivière",
      "confidence": "0.5822726488113403"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b147abb42044c7cb595a65aebd68529",
      "value": "nature",
      "confidence": "0.5422810316085815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec1d25daeaf24bf5a8ecf64e1aa4578c",
      "value": "île",
      "confidence": "0.5022919178009033"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b9b90c510c0b4f78aeebd031fce1faa4"
      },
      {
        "contentUdi": "umb://element/616227cca6224fafbbb73388ab4a8256"
      },
      {
        "contentUdi": "umb://element/e8c02c733fa84e338e221e7a052864dc"
      },
      {
        "contentUdi": "umb://element/32cb68b0b3e54dc08294d5453ded2095"
      },
      {
        "contentUdi": "umb://element/01607e0869e2418aabd9f8f8a35713e3"
      },
      {
        "contentUdi": "umb://element/1926b7fbc6874d2d861ce9c29f7fb391"
      },
      {
        "contentUdi": "umb://element/1b320c353c7f43e59b33783b5ec3561f"
      },
      {
        "contentUdi": "umb://element/52e5a6354fae4107a0203f4f08c59a8d"
      },
      {
        "contentUdi": "umb://element/9848074f521945c5b3ce3abe21eb10cb"
      },
      {
        "contentUdi": "umb://element/5e5d5335adc643dbad0d0c5919988b34"
      },
      {
        "contentUdi": "umb://element/52aa72377ad14f44a2ef4102c7acc9b3"
      },
      {
        "contentUdi": "umb://element/f45fd1ab49fe494d8b0bb849e4f4ce8f"
      },
      {
        "contentUdi": "umb://element/aa80d7d554cf4200bce47de4367b80e7"
      },
      {
        "contentUdi": "umb://element/a6a9de83cee64253abc6d762614caf48"
      },
      {
        "contentUdi": "umb://element/fdbe3914fff747a78b882aa5a82e11f3"
      },
      {
        "contentUdi": "umb://element/6dc6c3f955a047149ad681ab824c7b20"
      },
      {
        "contentUdi": "umb://element/f6a28242feb4456884b4eab258acdc0c"
      },
      {
        "contentUdi": "umb://element/efa9b5788e514906959b55e8e6143409"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9b90c510c0b4f78aeebd031fce1faa4",
      "value": "plein air",
      "confidence": "0.9975264072418213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/616227cca6224fafbbb73388ab4a8256",
      "value": "nuage",
      "confidence": "0.99456387758255"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e8c02c733fa84e338e221e7a052864dc",
      "value": "ciel",
      "confidence": "0.9874606132507324"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32cb68b0b3e54dc08294d5453ded2095",
      "value": "eau",
      "confidence": "0.9873631000518799"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01607e0869e2418aabd9f8f8a35713e3",
      "value": "embarcation",
      "confidence": "0.9644806385040283"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1926b7fbc6874d2d861ce9c29f7fb391",
      "value": "paysage",
      "confidence": "0.9514272212982178"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b320c353c7f43e59b33783b5ec3561f",
      "value": "lac",
      "confidence": "0.9470191597938538"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52e5a6354fae4107a0203f4f08c59a8d",
      "value": "transport",
      "confidence": "0.9461773633956909"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9848074f521945c5b3ce3abe21eb10cb",
      "value": "bateau",
      "confidence": "0.9334362745285034"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e5d5335adc643dbad0d0c5919988b34",
      "value": "véhicule",
      "confidence": "0.9310380220413208"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52aa72377ad14f44a2ef4102c7acc9b3",
      "value": "Plaisance",
      "confidence": "0.9229632616043091"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f45fd1ab49fe494d8b0bb849e4f4ce8f",
      "value": "canoë",
      "confidence": "0.8519936800003052"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa80d7d554cf4200bce47de4367b80e7",
      "value": "montagne",
      "confidence": "0.8271903991699219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a6a9de83cee64253abc6d762614caf48",
      "value": "rocher",
      "confidence": "0.7042479515075684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fdbe3914fff747a78b882aa5a82e11f3",
      "value": "plage",
      "confidence": "0.6285297870635986"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6dc6c3f955a047149ad681ab824c7b20",
      "value": "rivière",
      "confidence": "0.5822726488113403"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f6a28242feb4456884b4eab258acdc0c",
      "value": "nature",
      "confidence": "0.5422810316085815"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/efa9b5788e514906959b55e8e6143409",
      "value": "île",
      "confidence": "0.5022919178009033"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>In the Railay Beach series, here is a dream setting. All we need is our little house at the end of the beach.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Dans la série Railay beach, voilà un décor de rêve. Il nous manque plus notre petite maison au bout de la plage.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque beach at Railay Beach, Thailand. Traditional wooden boats are moored on the calm water, with towering and lush rock formations in the background. The sky is blue with a few clouds, adding to the natural beauty of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage pittoresque à Railay Beach, en Thaïlande. On y voit des bateaux traditionnels en bois amarrés sur l'eau calme, avec en arrière-plan des formations rocheuses imposantes et verdoyantes. Le ciel est bleu avec quelques nuages, ajoutant à la beauté naturelle de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #LimestoneCliffs #LongTailBoats #Nature #Travel #ScenicView #BeachLife #Adventure #Explore]]></Value>
      <Value Culture="fr"><![CDATA[#RailayBeach #Thaïlande #Nature #Paysage #Voyage #Aventure #Bateaux]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c4518268-70f7-4f96-b4b7-b3382e408b98",
    "mediaKey": "8c541fa1-7f83-4c1d-9fb0-7357e1486500"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Rai!lay beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Paradisiaque à Railay Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/3-railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/3-railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "boats",
  "rocks",
  "sea",
  "Thailand",
  "nature",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "bateaux",
  "rochers",
  "mer",
  "Thaïlande",
  "nature",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le charme envoûtant de Railay Beach, où les formations rocheuses verdoyantes rencontrent les eaux tranquilles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: A Thai Paradise]]></Value>
      <Value Culture="fr"><![CDATA[Évasion Paradisiaque à Railay Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>