<?xml version="1.0" encoding="utf-8"?>
<Content Key="3af71f27-9af6-45b2-96ed-b3f58e808688" Alias="Série Railay beach, et son bateau resto" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachEtSonBateauResto</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-03T07:58:23</CreateDate>
    <NodeName Default="Série Railay beach, et son bateau resto">
      <Name Culture="en">Railay Beach Series, and its Restaurant Boat</Name>
      <Name Culture="fr">Série Railay beach, et son bateau resto</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d858e7f5310540c39216f60bd2cad399"
      },
      {
        "contentUdi": "umb://element/77373acf8b7043d2b088911d6915d8d2"
      },
      {
        "contentUdi": "umb://element/3c673f521b304c0990bb8e48299a05c2"
      },
      {
        "contentUdi": "umb://element/f0b47184762943e8b11d768c5c0eaf63"
      },
      {
        "contentUdi": "umb://element/b0015cff969d42648442d441c39ad1d5"
      },
      {
        "contentUdi": "umb://element/c21638b0e3484746a99f266008af16fd"
      },
      {
        "contentUdi": "umb://element/54d25012c40c4a79b379f4b842e7468b"
      },
      {
        "contentUdi": "umb://element/abab66b119b4484f99f89c78a69ea374"
      },
      {
        "contentUdi": "umb://element/b8d4d294d5284ad69875eda6a3c66d19"
      },
      {
        "contentUdi": "umb://element/2260be76f5c14a28abcc3c0ea042b247"
      },
      {
        "contentUdi": "umb://element/80da20b7b6ee4d6f806bf883b63a5d61"
      },
      {
        "contentUdi": "umb://element/e7910f3059da456dae20fc0a77485619"
      },
      {
        "contentUdi": "umb://element/e7eb08aa9f6b44dbb510af77129e7788"
      },
      {
        "contentUdi": "umb://element/3a0260e8434c4c27bf2c1395f195fd67"
      },
      {
        "contentUdi": "umb://element/f08037edd72b42238e3cd5e021eba46f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d858e7f5310540c39216f60bd2cad399",
      "value": "nuage",
      "confidence": "0.9945564866065979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77373acf8b7043d2b088911d6915d8d2",
      "value": "plein air",
      "confidence": "0.9940983057022095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c673f521b304c0990bb8e48299a05c2",
      "value": "eau",
      "confidence": "0.9887077808380127"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0b47184762943e8b11d768c5c0eaf63",
      "value": "ciel",
      "confidence": "0.9880977272987366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0015cff969d42648442d441c39ad1d5",
      "value": "embarcation",
      "confidence": "0.9685356020927429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c21638b0e3484746a99f266008af16fd",
      "value": "transport",
      "confidence": "0.9519137740135193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54d25012c40c4a79b379f4b842e7468b",
      "value": "bateau",
      "confidence": "0.9496685266494751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/abab66b119b4484f99f89c78a69ea374",
      "value": "coucher de soleil",
      "confidence": "0.9445658922195435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8d4d294d5284ad69875eda6a3c66d19",
      "value": "paysage",
      "confidence": "0.8937119245529175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2260be76f5c14a28abcc3c0ea042b247",
      "value": "véhicule",
      "confidence": "0.8921053409576416"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80da20b7b6ee4d6f806bf883b63a5d61",
      "value": "lac",
      "confidence": "0.8527470231056213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7910f3059da456dae20fc0a77485619",
      "value": "plage",
      "confidence": "0.7046209573745728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7eb08aa9f6b44dbb510af77129e7788",
      "value": "personnes",
      "confidence": "0.6740728616714478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a0260e8434c4c27bf2c1395f195fd67",
      "value": "nature",
      "confidence": "0.5990821719169617"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f08037edd72b42238e3cd5e021eba46f",
      "value": "lever de soleil",
      "confidence": "0.45732226967811584"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d858e7f5310540c39216f60bd2cad399"
      },
      {
        "contentUdi": "umb://element/77373acf8b7043d2b088911d6915d8d2"
      },
      {
        "contentUdi": "umb://element/3c673f521b304c0990bb8e48299a05c2"
      },
      {
        "contentUdi": "umb://element/f0b47184762943e8b11d768c5c0eaf63"
      },
      {
        "contentUdi": "umb://element/b0015cff969d42648442d441c39ad1d5"
      },
      {
        "contentUdi": "umb://element/c21638b0e3484746a99f266008af16fd"
      },
      {
        "contentUdi": "umb://element/54d25012c40c4a79b379f4b842e7468b"
      },
      {
        "contentUdi": "umb://element/abab66b119b4484f99f89c78a69ea374"
      },
      {
        "contentUdi": "umb://element/b8d4d294d5284ad69875eda6a3c66d19"
      },
      {
        "contentUdi": "umb://element/2260be76f5c14a28abcc3c0ea042b247"
      },
      {
        "contentUdi": "umb://element/80da20b7b6ee4d6f806bf883b63a5d61"
      },
      {
        "contentUdi": "umb://element/e7910f3059da456dae20fc0a77485619"
      },
      {
        "contentUdi": "umb://element/e7eb08aa9f6b44dbb510af77129e7788"
      },
      {
        "contentUdi": "umb://element/3a0260e8434c4c27bf2c1395f195fd67"
      },
      {
        "contentUdi": "umb://element/f08037edd72b42238e3cd5e021eba46f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d858e7f5310540c39216f60bd2cad399",
      "value": "nuage",
      "confidence": "0.9945564866065979"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77373acf8b7043d2b088911d6915d8d2",
      "value": "plein air",
      "confidence": "0.9940983057022095"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c673f521b304c0990bb8e48299a05c2",
      "value": "eau",
      "confidence": "0.9887077808380127"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0b47184762943e8b11d768c5c0eaf63",
      "value": "ciel",
      "confidence": "0.9880977272987366"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0015cff969d42648442d441c39ad1d5",
      "value": "embarcation",
      "confidence": "0.9685356020927429"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c21638b0e3484746a99f266008af16fd",
      "value": "transport",
      "confidence": "0.9519137740135193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/54d25012c40c4a79b379f4b842e7468b",
      "value": "bateau",
      "confidence": "0.9496685266494751"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/abab66b119b4484f99f89c78a69ea374",
      "value": "coucher de soleil",
      "confidence": "0.9445658922195435"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b8d4d294d5284ad69875eda6a3c66d19",
      "value": "paysage",
      "confidence": "0.8937119245529175"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2260be76f5c14a28abcc3c0ea042b247",
      "value": "véhicule",
      "confidence": "0.8921053409576416"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80da20b7b6ee4d6f806bf883b63a5d61",
      "value": "lac",
      "confidence": "0.8527470231056213"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7910f3059da456dae20fc0a77485619",
      "value": "plage",
      "confidence": "0.7046209573745728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7eb08aa9f6b44dbb510af77129e7788",
      "value": "personnes",
      "confidence": "0.6740728616714478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3a0260e8434c4c27bf2c1395f195fd67",
      "value": "nature",
      "confidence": "0.5990821719169617"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f08037edd72b42238e3cd5e021eba46f",
      "value": "lever de soleil",
      "confidence": "0.45732226967811584"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Thai food truck, besieged by some very pretty girls.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le foodtruck à la Thaïe, assailli par de bien jolies filles.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-03T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a stunning sunset at Railay Beach in Thailand. Traditional long-tail boats are anchored close to the shore, with people wading in the shallow water. A towering limestone cliff covered in lush greenery dominates the background, adding to the scenic beauty. The sky is painted with hues of orange, pink, and purple, reflecting on the calm sea."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage pittoresque à Railay Beach, en Thaïlande, au coucher du soleil. On y voit des bateaux traditionnels thaïlandais amarrés près du rivage, avec des panneaux de menus de nourriture. En arrière-plan, une grande formation rocheuse recouverte de végétation se dresse majestueusement. Des personnes se tiennent dans l'eau peu profonde, profitant de la beauté naturelle environnante."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #Sunset #LongTailBoats #LimestoneCliff #Travel #NaturePhotography #BeachLife]]></Value>
      <Value Culture="fr"><![CDATA[#RailayBeach #Thaïlande #CoucherDeSoleil #Voyage #Nature #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "fea636de-13e0-47d8-a582-5bc58ccc5861",
    "mediaKey": "e9037382-cc87-40ba-8547-3d6b20a0f12a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Railay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Railay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le foodtruck à la Thaïe, assailli par de bien jolies filles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le foodtruck à la Thaïe, assailli par de bien jolies filles.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Railay Beach Series: The Restaurant Boat in Action]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Le Paradis Thaïlandais et son Restaurant Flottant]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/food-boat-at-railay-beach-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/food-boat-at-railay-beach-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Railay Beach",
  "Thailand",
  "sunset",
  "long-tail boats",
  "limestone cliff",
  "sea",
  "tourists",
  "scenic",
  "nature"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "bateaux",
  "coucher de soleil",
  "formation rocheuse",
  "Thaïlande",
  "mer",
  "tourisme"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le foodtruck à la Thaïe, assailli par de bien jolies filles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Railay Beach Series: The Restaurant Boat in Action]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Le Paradis Thaïlandais et son Restaurant Flottant]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>