<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbee1c09-cbce-4ef5-8f41-d317ce3b0c1a" Alias="Série Railay beach, on ne s'en lasse pas" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachOnNeSenLassePas</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-02T22:12:41</CreateDate>
    <NodeName Default="Série Railay beach, on ne s'en lasse pas">
      <Name Culture="en">Railay Beach Series, We Never Get Tired of It</Name>
      <Name Culture="fr">Série Railay beach, on ne s'en lasse pas</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/268697a5926047419df8431966f85b9f"
      },
      {
        "contentUdi": "umb://element/82e4b76555b64000addf0f2caee58b2e"
      },
      {
        "contentUdi": "umb://element/bb04009c9d294c6e811f6e8d276e8d98"
      },
      {
        "contentUdi": "umb://element/0cabd96d73bb4fd4a8ee171cc179ada0"
      },
      {
        "contentUdi": "umb://element/85fb0a2bcefa4f978d6ab1d79a0890ed"
      },
      {
        "contentUdi": "umb://element/a59f694eb83042df812a76ef6cecb792"
      },
      {
        "contentUdi": "umb://element/bcf2e72852a94438b633c4be5cd3602e"
      },
      {
        "contentUdi": "umb://element/09974f2330454ad48b185160894efb21"
      },
      {
        "contentUdi": "umb://element/62607524519c4941bf5579a3a381e980"
      },
      {
        "contentUdi": "umb://element/6d633dee89f24cb4bb2e298125e7f0b2"
      },
      {
        "contentUdi": "umb://element/cf0e5d927b114d039d757f0b0d1d94da"
      },
      {
        "contentUdi": "umb://element/59955b6f02da43fea232c4c89a82cc6e"
      },
      {
        "contentUdi": "umb://element/f0cb8e7cd12947dbacf9b8ff410a9a59"
      },
      {
        "contentUdi": "umb://element/16ea27088b5e4b0cbae7a928f72bb192"
      },
      {
        "contentUdi": "umb://element/919eae75aa334eb8818b4cfbfd67d45c"
      },
      {
        "contentUdi": "umb://element/5ca38ff086e248bb8c4ed047146f34bf"
      },
      {
        "contentUdi": "umb://element/1eaf06fa91ff4d2d8dd23da71506f74f"
      },
      {
        "contentUdi": "umb://element/510cf827dd874aa68c2fab73f021df46"
      },
      {
        "contentUdi": "umb://element/1925e6a8e2424740bc4611783fa8c3ac"
      },
      {
        "contentUdi": "umb://element/22bd480d2b3846dd931c972975bbbb41"
      },
      {
        "contentUdi": "umb://element/8a25689aaf164987ba4078a7a08f0e81"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/268697a5926047419df8431966f85b9f",
      "value": "plein air",
      "confidence": "0.9992513060569763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82e4b76555b64000addf0f2caee58b2e",
      "value": "nuage",
      "confidence": "0.9943894147872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb04009c9d294c6e811f6e8d276e8d98",
      "value": "eau",
      "confidence": "0.9849715232849121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0cabd96d73bb4fd4a8ee171cc179ada0",
      "value": "ciel",
      "confidence": "0.9794778823852539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85fb0a2bcefa4f978d6ab1d79a0890ed",
      "value": "embarcation",
      "confidence": "0.9610227942466736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a59f694eb83042df812a76ef6cecb792",
      "value": "transport",
      "confidence": "0.9472494721412659"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcf2e72852a94438b633c4be5cd3602e",
      "value": "véhicule",
      "confidence": "0.9173375368118286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09974f2330454ad48b185160894efb21",
      "value": "paysage",
      "confidence": "0.9150561690330505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/62607524519c4941bf5579a3a381e980",
      "value": "lac",
      "confidence": "0.9136917591094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d633dee89f24cb4bb2e298125e7f0b2",
      "value": "bateau",
      "confidence": "0.9134851694107056"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf0e5d927b114d039d757f0b0d1d94da",
      "value": "île",
      "confidence": "0.8902543783187866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59955b6f02da43fea232c4c89a82cc6e",
      "value": "Plaisance",
      "confidence": "0.8897072076797485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0cb8e7cd12947dbacf9b8ff410a9a59",
      "value": "arbre",
      "confidence": "0.8869973421096802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16ea27088b5e4b0cbae7a928f72bb192",
      "value": "montagne",
      "confidence": "0.8638335466384888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/919eae75aa334eb8818b4cfbfd67d45c",
      "value": "Étendue d’eau",
      "confidence": "0.8608807325363159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ca38ff086e248bb8c4ed047146f34bf",
      "value": "Longtail boat",
      "confidence": "0.8599512577056885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1eaf06fa91ff4d2d8dd23da71506f74f",
      "value": "Tropiques",
      "confidence": "0.8472930192947388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/510cf827dd874aa68c2fab73f021df46",
      "value": "plage",
      "confidence": "0.761440634727478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1925e6a8e2424740bc4611783fa8c3ac",
      "value": "nature",
      "confidence": "0.655758261680603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22bd480d2b3846dd931c972975bbbb41",
      "value": "rive",
      "confidence": "0.58675616979599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a25689aaf164987ba4078a7a08f0e81",
      "value": "océan",
      "confidence": "0.4359157085418701"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/268697a5926047419df8431966f85b9f"
      },
      {
        "contentUdi": "umb://element/82e4b76555b64000addf0f2caee58b2e"
      },
      {
        "contentUdi": "umb://element/bb04009c9d294c6e811f6e8d276e8d98"
      },
      {
        "contentUdi": "umb://element/0cabd96d73bb4fd4a8ee171cc179ada0"
      },
      {
        "contentUdi": "umb://element/85fb0a2bcefa4f978d6ab1d79a0890ed"
      },
      {
        "contentUdi": "umb://element/a59f694eb83042df812a76ef6cecb792"
      },
      {
        "contentUdi": "umb://element/bcf2e72852a94438b633c4be5cd3602e"
      },
      {
        "contentUdi": "umb://element/09974f2330454ad48b185160894efb21"
      },
      {
        "contentUdi": "umb://element/62607524519c4941bf5579a3a381e980"
      },
      {
        "contentUdi": "umb://element/6d633dee89f24cb4bb2e298125e7f0b2"
      },
      {
        "contentUdi": "umb://element/cf0e5d927b114d039d757f0b0d1d94da"
      },
      {
        "contentUdi": "umb://element/59955b6f02da43fea232c4c89a82cc6e"
      },
      {
        "contentUdi": "umb://element/f0cb8e7cd12947dbacf9b8ff410a9a59"
      },
      {
        "contentUdi": "umb://element/16ea27088b5e4b0cbae7a928f72bb192"
      },
      {
        "contentUdi": "umb://element/919eae75aa334eb8818b4cfbfd67d45c"
      },
      {
        "contentUdi": "umb://element/5ca38ff086e248bb8c4ed047146f34bf"
      },
      {
        "contentUdi": "umb://element/1eaf06fa91ff4d2d8dd23da71506f74f"
      },
      {
        "contentUdi": "umb://element/510cf827dd874aa68c2fab73f021df46"
      },
      {
        "contentUdi": "umb://element/1925e6a8e2424740bc4611783fa8c3ac"
      },
      {
        "contentUdi": "umb://element/22bd480d2b3846dd931c972975bbbb41"
      },
      {
        "contentUdi": "umb://element/8a25689aaf164987ba4078a7a08f0e81"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/268697a5926047419df8431966f85b9f",
      "value": "plein air",
      "confidence": "0.9992513060569763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82e4b76555b64000addf0f2caee58b2e",
      "value": "nuage",
      "confidence": "0.9943894147872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb04009c9d294c6e811f6e8d276e8d98",
      "value": "eau",
      "confidence": "0.9849715232849121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0cabd96d73bb4fd4a8ee171cc179ada0",
      "value": "ciel",
      "confidence": "0.9794778823852539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85fb0a2bcefa4f978d6ab1d79a0890ed",
      "value": "embarcation",
      "confidence": "0.9610227942466736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a59f694eb83042df812a76ef6cecb792",
      "value": "transport",
      "confidence": "0.9472494721412659"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bcf2e72852a94438b633c4be5cd3602e",
      "value": "véhicule",
      "confidence": "0.9173375368118286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/09974f2330454ad48b185160894efb21",
      "value": "paysage",
      "confidence": "0.9150561690330505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/62607524519c4941bf5579a3a381e980",
      "value": "lac",
      "confidence": "0.9136917591094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d633dee89f24cb4bb2e298125e7f0b2",
      "value": "bateau",
      "confidence": "0.9134851694107056"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf0e5d927b114d039d757f0b0d1d94da",
      "value": "île",
      "confidence": "0.8902543783187866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59955b6f02da43fea232c4c89a82cc6e",
      "value": "Plaisance",
      "confidence": "0.8897072076797485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0cb8e7cd12947dbacf9b8ff410a9a59",
      "value": "arbre",
      "confidence": "0.8869973421096802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16ea27088b5e4b0cbae7a928f72bb192",
      "value": "montagne",
      "confidence": "0.8638335466384888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/919eae75aa334eb8818b4cfbfd67d45c",
      "value": "Étendue d’eau",
      "confidence": "0.8608807325363159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ca38ff086e248bb8c4ed047146f34bf",
      "value": "Longtail boat",
      "confidence": "0.8599512577056885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1eaf06fa91ff4d2d8dd23da71506f74f",
      "value": "Tropiques",
      "confidence": "0.8472930192947388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/510cf827dd874aa68c2fab73f021df46",
      "value": "plage",
      "confidence": "0.761440634727478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1925e6a8e2424740bc4611783fa8c3ac",
      "value": "nature",
      "confidence": "0.655758261680603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22bd480d2b3846dd931c972975bbbb41",
      "value": "rive",
      "confidence": "0.58675616979599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8a25689aaf164987ba4078a7a08f0e81",
      "value": "océan",
      "confidence": "0.4359157085418701"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>In the Railay Beach series: rocks and long-tail boats</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Dans la série Railay Beach : des rochers et des pirogues</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque beach at Railay Beach, Thailand. You can see traditional wooden boats moored near the shore. In the background, there is a large cliff covered with lush vegetation and palm trees lining the beach. The sky is blue with a few clouds, creating a tropical and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage pittoresque à Railay Beach, en Thaïlande. On peut voir des bateaux traditionnels en bois amarrés près du rivage. En arrière-plan, il y a une grande falaise couverte de végétation luxuriante et des palmiers qui bordent la plage. Le ciel est bleu avec quelques nuages, créant une atmosphère tropicale et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #TropicalParadise #BeachLife #LongTailBoats #Nature #Travel #Adventure #ScenicView]]></Value>
      <Value Culture="fr"><![CDATA[#plage #Thaïlande #tropical #bateaux #nature #voyage #RailayBeach]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1531921c-91a0-47c7-9516-be708bea3eec",
    "mediaKey": "6e0fc395-40e6-431f-878c-33ee685bdb88"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Railay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Railay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: Between Rocks and Long-Tail Boats]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Évasion Pittoresque en Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "boats",
  "cliff",
  "palm trees",
  "tropical",
  "sea",
  "Railay Beach",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "bateaux",
  "falaise",
  "palmiers",
  "tropical",
  "mer",
  "Railay Beach",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: Between Rocks and Long-Tail Boats]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Évasion Pittoresque en Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>