<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5757f21-e2d0-429b-832a-5326a0c7defc" Alias="Série Railay beach, on ne s'en lasse pas" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/SerieRailayBeachOnNeSenLassePas</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="Série Railay beach, on ne s'en lasse pas">
      <Name Culture="en">Railay Beach Series, We Never Get Tired of It</Name>
      <Name Culture="fr">Série Railay beach, on ne s'en lasse pas</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9493c65e077f4a4e9bacf601d5bf3171"
      },
      {
        "contentUdi": "umb://element/0b8b01de9b9d41d59532ce64fb7e06ff"
      },
      {
        "contentUdi": "umb://element/779f67fad74e403cbb0b100707531365"
      },
      {
        "contentUdi": "umb://element/32822be60fde43cca748d6327fae49c6"
      },
      {
        "contentUdi": "umb://element/d6ea51f18297454583b22ad7f24348ef"
      },
      {
        "contentUdi": "umb://element/37584b01acc844e19cf788e6382d662b"
      },
      {
        "contentUdi": "umb://element/925ac530af584ae790d495ea1bc8165f"
      },
      {
        "contentUdi": "umb://element/979ae0ee04694a9bb507c83fcaa173d4"
      },
      {
        "contentUdi": "umb://element/50b019875d7847a4b97ace298bb51882"
      },
      {
        "contentUdi": "umb://element/7e41aabfae0040a58e4e0acdcf71607f"
      },
      {
        "contentUdi": "umb://element/912696339624445392f1a331e6be3a4b"
      },
      {
        "contentUdi": "umb://element/87560ce6bb8c40abbac166489a8c65c4"
      },
      {
        "contentUdi": "umb://element/566681b3c02b4d668f97a7400f913e0c"
      },
      {
        "contentUdi": "umb://element/031a642e462b441cafa710cd287e5d7e"
      },
      {
        "contentUdi": "umb://element/4bf2eb05fce44d488f99cb1722108cf5"
      },
      {
        "contentUdi": "umb://element/1bef0b2803ed4ae1b61381644b7e2c8e"
      },
      {
        "contentUdi": "umb://element/733476e087954bb49763c14a333dce0e"
      },
      {
        "contentUdi": "umb://element/5ad44fc5fe5541f885799a08e4f0ccc0"
      },
      {
        "contentUdi": "umb://element/940c9bad29904860a259946a24fb14b2"
      },
      {
        "contentUdi": "umb://element/9f9ecc1e62e84d8e8bb8479116d1bb78"
      },
      {
        "contentUdi": "umb://element/a82d6925c3a6492eb58670502eaaa3b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9493c65e077f4a4e9bacf601d5bf3171",
      "value": "plein air",
      "confidence": "0.9992513060569763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b8b01de9b9d41d59532ce64fb7e06ff",
      "value": "nuage",
      "confidence": "0.9943894147872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/779f67fad74e403cbb0b100707531365",
      "value": "eau",
      "confidence": "0.9849715232849121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32822be60fde43cca748d6327fae49c6",
      "value": "ciel",
      "confidence": "0.9794778823852539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6ea51f18297454583b22ad7f24348ef",
      "value": "embarcation",
      "confidence": "0.9610227942466736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/37584b01acc844e19cf788e6382d662b",
      "value": "transport",
      "confidence": "0.9472494721412659"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/925ac530af584ae790d495ea1bc8165f",
      "value": "véhicule",
      "confidence": "0.9173375368118286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/979ae0ee04694a9bb507c83fcaa173d4",
      "value": "paysage",
      "confidence": "0.9150561690330505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50b019875d7847a4b97ace298bb51882",
      "value": "lac",
      "confidence": "0.9136917591094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7e41aabfae0040a58e4e0acdcf71607f",
      "value": "bateau",
      "confidence": "0.9134851694107056"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/912696339624445392f1a331e6be3a4b",
      "value": "île",
      "confidence": "0.8902543783187866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87560ce6bb8c40abbac166489a8c65c4",
      "value": "Plaisance",
      "confidence": "0.8897072076797485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/566681b3c02b4d668f97a7400f913e0c",
      "value": "arbre",
      "confidence": "0.8869973421096802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/031a642e462b441cafa710cd287e5d7e",
      "value": "montagne",
      "confidence": "0.8638335466384888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4bf2eb05fce44d488f99cb1722108cf5",
      "value": "Étendue d’eau",
      "confidence": "0.8608807325363159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1bef0b2803ed4ae1b61381644b7e2c8e",
      "value": "Longtail boat",
      "confidence": "0.8599512577056885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/733476e087954bb49763c14a333dce0e",
      "value": "Tropiques",
      "confidence": "0.8472930192947388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ad44fc5fe5541f885799a08e4f0ccc0",
      "value": "plage",
      "confidence": "0.761440634727478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/940c9bad29904860a259946a24fb14b2",
      "value": "nature",
      "confidence": "0.655758261680603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f9ecc1e62e84d8e8bb8479116d1bb78",
      "value": "rive",
      "confidence": "0.58675616979599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a82d6925c3a6492eb58670502eaaa3b5",
      "value": "océan",
      "confidence": "0.4359157085418701"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce6493d7e7e94445a6d84c61eaac834a"
      },
      {
        "contentUdi": "umb://element/a2cef1bf16274f1e99976dea73d3129f"
      },
      {
        "contentUdi": "umb://element/2c0716d07f254cdaaf188beb6367c08c"
      },
      {
        "contentUdi": "umb://element/249e68bfad1e42fe9d98333bb3ecdd88"
      },
      {
        "contentUdi": "umb://element/5ffb9addd4ab4f2eab8d2c5586828eaa"
      },
      {
        "contentUdi": "umb://element/bd183c4568a2474ea5396f8fb0ddbffa"
      },
      {
        "contentUdi": "umb://element/01714b42fed147cea1999e69a986400d"
      },
      {
        "contentUdi": "umb://element/ba63c63afaa748549383a95044908d27"
      },
      {
        "contentUdi": "umb://element/0b44800580ca43fcb45e88a921af077e"
      },
      {
        "contentUdi": "umb://element/6249d5f19c804c3dbf84c04d11186727"
      },
      {
        "contentUdi": "umb://element/ad0380d811b845c1b85ced5621b11636"
      },
      {
        "contentUdi": "umb://element/fc32be766e9d43ffba1bb749af556e7f"
      },
      {
        "contentUdi": "umb://element/3ac11a80233a40569eb89c556a399941"
      },
      {
        "contentUdi": "umb://element/d92bd9f23f82413a941856f746a621b7"
      },
      {
        "contentUdi": "umb://element/dffe048766794a159b179d8c11943785"
      },
      {
        "contentUdi": "umb://element/41c351570f744e1395794c399f20a68a"
      },
      {
        "contentUdi": "umb://element/b81102c750e948c4990ba2e7ffb0e391"
      },
      {
        "contentUdi": "umb://element/9ab6ae5aa957454280988388dca80719"
      },
      {
        "contentUdi": "umb://element/004b692f6edc4b51bb1c8179b2bea19e"
      },
      {
        "contentUdi": "umb://element/14b233de49ee48908b74f06051328806"
      },
      {
        "contentUdi": "umb://element/e768fd2e60024c78aaadf2c9f8be4a13"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ce6493d7e7e94445a6d84c61eaac834a",
      "value": "plein air",
      "confidence": "0.9992513060569763"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a2cef1bf16274f1e99976dea73d3129f",
      "value": "nuage",
      "confidence": "0.9943894147872925"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2c0716d07f254cdaaf188beb6367c08c",
      "value": "eau",
      "confidence": "0.9849715232849121"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/249e68bfad1e42fe9d98333bb3ecdd88",
      "value": "ciel",
      "confidence": "0.9794778823852539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ffb9addd4ab4f2eab8d2c5586828eaa",
      "value": "embarcation",
      "confidence": "0.9610227942466736"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bd183c4568a2474ea5396f8fb0ddbffa",
      "value": "transport",
      "confidence": "0.9472494721412659"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01714b42fed147cea1999e69a986400d",
      "value": "véhicule",
      "confidence": "0.9173375368118286"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba63c63afaa748549383a95044908d27",
      "value": "paysage",
      "confidence": "0.9150561690330505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b44800580ca43fcb45e88a921af077e",
      "value": "lac",
      "confidence": "0.9136917591094971"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6249d5f19c804c3dbf84c04d11186727",
      "value": "bateau",
      "confidence": "0.9134851694107056"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ad0380d811b845c1b85ced5621b11636",
      "value": "île",
      "confidence": "0.8902543783187866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc32be766e9d43ffba1bb749af556e7f",
      "value": "Plaisance",
      "confidence": "0.8897072076797485"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ac11a80233a40569eb89c556a399941",
      "value": "arbre",
      "confidence": "0.8869973421096802"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d92bd9f23f82413a941856f746a621b7",
      "value": "montagne",
      "confidence": "0.8638335466384888"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dffe048766794a159b179d8c11943785",
      "value": "Étendue d’eau",
      "confidence": "0.8608807325363159"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/41c351570f744e1395794c399f20a68a",
      "value": "Longtail boat",
      "confidence": "0.8599512577056885"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b81102c750e948c4990ba2e7ffb0e391",
      "value": "Tropiques",
      "confidence": "0.8472930192947388"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9ab6ae5aa957454280988388dca80719",
      "value": "plage",
      "confidence": "0.761440634727478"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/004b692f6edc4b51bb1c8179b2bea19e",
      "value": "nature",
      "confidence": "0.655758261680603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14b233de49ee48908b74f06051328806",
      "value": "rive",
      "confidence": "0.58675616979599"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e768fd2e60024c78aaadf2c9f8be4a13",
      "value": "océan",
      "confidence": "0.4359157085418701"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>In the Railay Beach series: rocks and long-tail boats</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Dans la série Railay Beach : des rochers et des pirogues</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-02T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque beach at Railay Beach, Thailand. You can see traditional wooden boats moored near the shore. In the background, there is a large cliff covered with lush vegetation and palm trees lining the beach. The sky is blue with a few clouds, creating a tropical and serene atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage pittoresque à Railay Beach, en Thaïlande. On peut voir des bateaux traditionnels en bois amarrés près du rivage. En arrière-plan, il y a une grande falaise couverte de végétation luxuriante et des palmiers qui bordent la plage. Le ciel est bleu avec quelques nuages, créant une atmosphère tropicale et sereine."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#RailayBeach #Thailand #TropicalParadise #BeachLife #LongTailBoats #Nature #Travel #Adventure #ScenicView]]></Value>
      <Value Culture="fr"><![CDATA[#plage #Thaïlande #tropical #bateaux #nature #voyage #RailayBeach]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "1531921c-91a0-47c7-9516-be708bea3eec",
    "mediaKey": "6e0fc395-40e6-431f-878c-33ee685bdb88"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Railay beach, Thailande]]></Value>
      <Value Culture="fr"><![CDATA[Railay beach, Thailande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: Between Rocks and Long-Tail Boats]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Évasion Pittoresque en Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/railay-beach-serie-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/railay-beach-serie-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "beach",
  "boats",
  "cliff",
  "palm trees",
  "tropical",
  "sea",
  "Railay Beach",
  "Thailand"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "bateaux",
  "falaise",
  "palmiers",
  "tropical",
  "mer",
  "Railay Beach",
  "Thaïlande"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité tropicale de Railay Beach avec ses pirogues traditionnelles et ses falaises majestueuses.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Escape to Railay Beach: Between Rocks and Long-Tail Boats]]></Value>
      <Value Culture="fr"><![CDATA[Railay Beach : Évasion Pittoresque en Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>