<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ca8da86-904b-4dd0-a02d-6f5e6c6fff87" Alias="Tableau avec cadre" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TableauAvecCadre</Path>
    <Trashed Parent="bf4e5fd2-d5a3-49f8-8f0b-0bb93061e965">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-08-18T12:35:14</CreateDate>
    <NodeName Default="Tableau avec cadre">
      <Name Culture="en">Framed Print</Name>
      <Name Culture="fr">Tableau avec cadre</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </categories>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Bring your print to life with hundreds of different frame and mat combinations. Our framed prints are assembled, packaged, and shipped by our experts and delivered 'ready to hang' with pre-attached hanging wire, mounting hooks, and nails.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Donnez vie à votre impression avec des centaines de combinaisons différentes de cadres et de passe-partout. Nos impressions encadrées sont assemblées, emballées et expédiées par nos experts et livrées « prêtes à être accrochées » avec du fil de suspension pré-attaché, des crochets de montage et des clous.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <externalReference>
      <Value><![CDATA[framed-print]]></Value>
    </externalReference>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <images>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </images>
    <price>
      <Value><![CDATA[54]]></Value>
    </price>
    <productId>
      <Value><![CDATA[TCADRE]]></Value>
    </productId>
    <productName>
      <Value Culture="en"><![CDATA[Tableau avec cadre]]></Value>
      <Value Culture="fr"><![CDATA[Tableau avec cadre]]></Value>
    </productName>
    <tags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>