<?xml version="1.0" encoding="utf-8"?>
<Content Key="bea96e93-0316-4d70-8e62-50d1ab04238f" Alias="T'as vu ma chambre ? Hou hou !" Level="6">
  <Info>
    <Parent Key="be4eeb35-d219-491c-8f7c-765b04f94bb0">Bangkok</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/Bangkok/TasVuMaChambreHouHou</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-09T19:53:57</CreateDate>
    <NodeName Default="T'as vu ma chambre ? Hou hou !">
      <Name Culture="en">Have you seen my room? Hoo hoo!</Name>
      <Name Culture="fr">T'as vu ma chambre ? Hou hou !</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a864b7df5054fd7bf090fc875152a91"
      },
      {
        "contentUdi": "umb://element/689ae00087304fc3863f05b1e0b277a4"
      },
      {
        "contentUdi": "umb://element/d77238a1cbfd42db90b75db85bfc6c28"
      },
      {
        "contentUdi": "umb://element/dd65bb0371154eda95af75297f08b8fe"
      },
      {
        "contentUdi": "umb://element/b97f8f78ea2d4e358cfd5d663e4ccc4c"
      },
      {
        "contentUdi": "umb://element/3449e4f154204654ada1e5049e847a4d"
      },
      {
        "contentUdi": "umb://element/fd4bd800ac224c90b6a46aa36a4778bf"
      },
      {
        "contentUdi": "umb://element/97d996e012d14ab7a3fe6f0f25d43aac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a864b7df5054fd7bf090fc875152a91",
      "value": "ciel",
      "confidence": "0.9652689695358276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/689ae00087304fc3863f05b1e0b277a4",
      "value": "nuage",
      "confidence": "0.9637548923492432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d77238a1cbfd42db90b75db85bfc6c28",
      "value": "dessin humoristique",
      "confidence": "0.8956754207611084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd65bb0371154eda95af75297f08b8fe",
      "value": "plein air",
      "confidence": "0.8645505905151367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b97f8f78ea2d4e358cfd5d663e4ccc4c",
      "value": "Poubelle",
      "confidence": "0.8501189947128296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3449e4f154204654ada1e5049e847a4d",
      "value": "magasin",
      "confidence": "0.7230587005615234"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd4bd800ac224c90b6a46aa36a4778bf",
      "value": "cage",
      "confidence": "0.7127411365509033"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97d996e012d14ab7a3fe6f0f25d43aac",
      "value": "peinture",
      "confidence": "0.6512145400047302"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a864b7df5054fd7bf090fc875152a91"
      },
      {
        "contentUdi": "umb://element/689ae00087304fc3863f05b1e0b277a4"
      },
      {
        "contentUdi": "umb://element/d77238a1cbfd42db90b75db85bfc6c28"
      },
      {
        "contentUdi": "umb://element/dd65bb0371154eda95af75297f08b8fe"
      },
      {
        "contentUdi": "umb://element/b97f8f78ea2d4e358cfd5d663e4ccc4c"
      },
      {
        "contentUdi": "umb://element/3449e4f154204654ada1e5049e847a4d"
      },
      {
        "contentUdi": "umb://element/fd4bd800ac224c90b6a46aa36a4778bf"
      },
      {
        "contentUdi": "umb://element/97d996e012d14ab7a3fe6f0f25d43aac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a864b7df5054fd7bf090fc875152a91",
      "value": "ciel",
      "confidence": "0.9652689695358276"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/689ae00087304fc3863f05b1e0b277a4",
      "value": "nuage",
      "confidence": "0.9637548923492432"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d77238a1cbfd42db90b75db85bfc6c28",
      "value": "dessin humoristique",
      "confidence": "0.8956754207611084"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd65bb0371154eda95af75297f08b8fe",
      "value": "plein air",
      "confidence": "0.8645505905151367"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b97f8f78ea2d4e358cfd5d663e4ccc4c",
      "value": "Poubelle",
      "confidence": "0.8501189947128296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3449e4f154204654ada1e5049e847a4d",
      "value": "magasin",
      "confidence": "0.7230587005615234"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd4bd800ac224c90b6a46aa36a4778bf",
      "value": "cage",
      "confidence": "0.7127411365509033"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97d996e012d14ab7a3fe6f0f25d43aac",
      "value": "peinture",
      "confidence": "0.6512145400047302"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Young chimpanzee in captivity</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Jeune chimpanzee en captivité</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-09T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a small, enclosed area in Bangkok, Thailand, where a young chimpanzee dressed in denim shorts is chained to a wooden table. The background features a colorful mural with pictures of people and some text in Thai. The area is cluttered with various items, including a refrigerator, plastic bottles, and bags. The chimpanzee appears to be reaching upwards, and there are green wire cages on either side of it."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un singe enchaîné portant un short en jean, debout sur une table en bois dans un environnement intérieur. À l'arrière-plan, il y a des cages en métal vert, des affiches avec des photos de personnes, et divers objets comme des bouteilles et des sacs. L'endroit semble être un marché ou un magasin à Bangkok, Thaïlande."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#chimpanzee #animalwelfare #Thailand #Bangkok #wildlife #captivity #urbanjungle]]></Value>
      <Value Culture="fr"><![CDATA[#singe #Bangkok #Thaïlande #animal #marché]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "c12d5ddf-d194-4da2-aae4-7c7400b2d3dd",
    "mediaKey": "0c6933b4-9e52-4b8d-a168-256c5cb248d2"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bangkok, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Bangkok, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'un jeune chimpanzé enchaîné dans un marché de Bangkok.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'un jeune chimpanzé enchaîné dans un marché de Bangkok.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A Monkey in Captivity in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Un Chimpanzé en Captivité à Bangkok]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/playful-young-chimpanzee-and-some-small-girlish-room-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/playful-young-chimpanzee-and-some-small-girlish-room-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "chimpanzee",
  "animal",
  "cage",
  "Thailand",
  "Bangkok",
  "denim shorts",
  "chain",
  "mural",
  "cluttered",
  "enclosure"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "singe",
  "cage",
  "intérieur",
  "Bangkok",
  "Thaïlande",
  "animal",
  "marché"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'histoire touchante d'un jeune chimpanzé enchaîné dans un marché de Bangkok.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A Monkey in Captivity in Bangkok]]></Value>
      <Value Culture="fr"><![CDATA[Un Chimpanzé en Captivité à Bangkok]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>