<?xml version="1.0" encoding="utf-8"?>
<Content Key="f390dbd8-66e7-440a-84a2-7d1b6d4f0936" Alias="Teck ou toc ?" Level="105">
  <Info>
    <Parent Key="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">Architecture</Parent>
    <Path>/[-20]/VoyagezEnImages/LaBelgique/Bruxelles/Architecture/TeckOuToc</Path>
    <Trashed Parent="24c7ea6e-d4a9-4fab-8401-172bacdd14bd">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Teck ou toc ?">
      <Name Culture="en">Teak or Fake?</Name>
      <Name Culture="fr">Teck ou toc ?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ac78e693f4d9419684bbaf55ba613eac"
      },
      {
        "contentUdi": "umb://element/1e69560ef500466cb243eb2eb21531c3"
      },
      {
        "contentUdi": "umb://element/172abd1c257148e691f23995da7c15d9"
      },
      {
        "contentUdi": "umb://element/b2e9547347894e77b04b563511cd91b4"
      },
      {
        "contentUdi": "umb://element/05133ba597d34e95aa086be8919f5da6"
      },
      {
        "contentUdi": "umb://element/50d6aec43a8442249230496eb296257a"
      },
      {
        "contentUdi": "umb://element/8b1b83573db345808fff602ee644ca82"
      },
      {
        "contentUdi": "umb://element/fca1e11916254f06bc69f7285ec7ed77"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac78e693f4d9419684bbaf55ba613eac",
      "value": "Symétrie",
      "confidence": "0.9097467064857483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1e69560ef500466cb243eb2eb21531c3",
      "value": "Éclairage naturel",
      "confidence": "0.8953136205673218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/172abd1c257148e691f23995da7c15d9",
      "value": "bâtiment",
      "confidence": "0.8935556411743164"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2e9547347894e77b04b563511cd91b4",
      "value": "architecture",
      "confidence": "0.8663949966430664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05133ba597d34e95aa086be8919f5da6",
      "value": "Faisceau",
      "confidence": "0.8653421401977539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/50d6aec43a8442249230496eb296257a",
      "value": "fenêtre",
      "confidence": "0.8132860064506531"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b1b83573db345808fff602ee644ca82",
      "value": "intérieur",
      "confidence": "0.7206442356109619"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fca1e11916254f06bc69f7285ec7ed77",
      "value": "art",
      "confidence": "0.7106400728225708"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/551bd5949fd149538f46ab8f0a6f3269"
      },
      {
        "contentUdi": "umb://element/d85991b1c8bd46b3b442cfadb0a2c84f"
      },
      {
        "contentUdi": "umb://element/d5ef8a5e1f5d48e1ad07f19f9cc3412f"
      },
      {
        "contentUdi": "umb://element/3e43f8fa60ed44c0b7613e21a56fa4fe"
      },
      {
        "contentUdi": "umb://element/9dc85844dae64906963f85fff7c570ba"
      },
      {
        "contentUdi": "umb://element/42caabe5b06845f3978295760eb38929"
      },
      {
        "contentUdi": "umb://element/90e17bc24f244944b7004560ecebe7bd"
      },
      {
        "contentUdi": "umb://element/c2b1dee227034193b795dd55bc840496"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/551bd5949fd149538f46ab8f0a6f3269",
      "value": "Symétrie",
      "confidence": "0.9097467064857483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d85991b1c8bd46b3b442cfadb0a2c84f",
      "value": "Éclairage naturel",
      "confidence": "0.8953136205673218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d5ef8a5e1f5d48e1ad07f19f9cc3412f",
      "value": "bâtiment",
      "confidence": "0.8935556411743164"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e43f8fa60ed44c0b7613e21a56fa4fe",
      "value": "architecture",
      "confidence": "0.8663949966430664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9dc85844dae64906963f85fff7c570ba",
      "value": "Faisceau",
      "confidence": "0.8653421401977539"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42caabe5b06845f3978295760eb38929",
      "value": "fenêtre",
      "confidence": "0.8132860064506531"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/90e17bc24f244944b7004560ecebe7bd",
      "value": "intérieur",
      "confidence": "0.7206442356109619"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2b1dee227034193b795dd55bc840496",
      "value": "art",
      "confidence": "0.7106400728225708"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The interior of the Tour and Taxi halls, all wooden on the wings.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'intérieur des halles de Tour et Taxi, tout en bois sur les ailes.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the interior of a modern building in Brussels, Belgium. The structure is mainly composed of wood with wooden railings and stairs. The ceiling is made of glass, allowing natural light to illuminate the interior. The architecture is open and airy, with clean lines and a contemporary design."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'intérieur d'un bâtiment moderne à Bruxelles, Belgique. La structure est principalement composée de bois avec des balustrades et des escaliers en bois. Le plafond est en verre, permettant à la lumière naturelle d'illuminer l'intérieur. L'architecture est ouverte et aérée, avec des lignes épurées et un design contemporain."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#architecture #interiordesign #woodwork #moderndesign #staircase #naturallight #glassceiling #Brussels #Belgium]]></Value>
      <Value Culture="fr"><![CDATA[#architecture #bois #intérieur #moderne #Bruxelles #Belgique #lumièrenaturelle #escalier]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2d9a9818-73f4-497e-b01c-0f90d99f95ba",
    "mediaKey": "aa41a4fd-d686-478c-9d25-d509557f3b0d"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur en bois des halles de Tour et Taxi à Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Teck ou toc ?]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Teak or Fake?]]></Value>
      <Value Culture="fr"><![CDATA[Teck ou toc ?]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/thurn-and-taxi-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/thurn-and-taxi-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "architecture",
  "wood",
  "interior",
  "modern",
  "Brussels",
  "Belgium",
  "natural light",
  "staircase"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "architecture",
  "bois",
  "intérieur",
  "moderne",
  "Bruxelles",
  "Belgique",
  "lumière naturelle",
  "escalier"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'intérieur en bois des halles de Tour et Taxi à Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Teak or Fake?]]></Value>
      <Value Culture="fr"><![CDATA[Teck ou toc ?]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>