<?xml version="1.0" encoding="utf-8"?>
<Content Key="273e279e-b600-4ecc-9466-1fab18d5a997" Alias="The Botanical Garden" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheBotanicalGarden</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T11:56:35</CreateDate>
    <NodeName Default="The Botanical Garden">
      <Name Culture="en">The Botanical Garden</Name>
      <Name Culture="fr">Le jardin botanique</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/109ebf1eb0814a97817f45f89aae87cb"
      },
      {
        "contentUdi": "umb://element/a99da96b25f7407abe96bb29b967edf2"
      },
      {
        "contentUdi": "umb://element/c9fd9fbfa979441eb008a97686c70cf7"
      },
      {
        "contentUdi": "umb://element/5a26e4ef65744a38b2746c8e72083aa0"
      },
      {
        "contentUdi": "umb://element/8f2b0a64cb14419b97be93424570d9bf"
      },
      {
        "contentUdi": "umb://element/caa15aa8304c488eb0c898b30307b025"
      },
      {
        "contentUdi": "umb://element/6a428bf9fb2549ccb210804e0ce25d59"
      },
      {
        "contentUdi": "umb://element/b0cf0a106d4c413a8d580538a28e82f0"
      },
      {
        "contentUdi": "umb://element/727fa4e15cec45a1beca3f2746ecd02a"
      },
      {
        "contentUdi": "umb://element/d6c090d887d44a8bb2e8c472d608b5a5"
      },
      {
        "contentUdi": "umb://element/2b4eb6f28a73464f90035e87792a1ec8"
      },
      {
        "contentUdi": "umb://element/59e625c4ea73403ea7d502ba0b729a60"
      },
      {
        "contentUdi": "umb://element/fdf9812ce4d74352a3f849927bb397be"
      },
      {
        "contentUdi": "umb://element/66bf863caff94ba78fec7758c6067fc6"
      },
      {
        "contentUdi": "umb://element/9531f0a3257d4ea483506e01c31757b2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/109ebf1eb0814a97817f45f89aae87cb",
      "value": "nuage",
      "confidence": "0.9976615905761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a99da96b25f7407abe96bb29b967edf2",
      "value": "plein air",
      "confidence": "0.9920153021812439"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9fd9fbfa979441eb008a97686c70cf7",
      "value": "plante",
      "confidence": "0.9893299341201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a26e4ef65744a38b2746c8e72083aa0",
      "value": "ciel",
      "confidence": "0.968001663684845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f2b0a64cb14419b97be93424570d9bf",
      "value": "arbre",
      "confidence": "0.9528238773345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/caa15aa8304c488eb0c898b30307b025",
      "value": "ville",
      "confidence": "0.9116013646125793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a428bf9fb2549ccb210804e0ce25d59",
      "value": "bâtiment",
      "confidence": "0.8750011920928955"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0cf0a106d4c413a8d580538a28e82f0",
      "value": "Aménagement paysager",
      "confidence": "0.8631234169006348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/727fa4e15cec45a1beca3f2746ecd02a",
      "value": "gratte-ciel",
      "confidence": "0.8627735376358032"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6c090d887d44a8bb2e8c472d608b5a5",
      "value": "parc",
      "confidence": "0.8414666652679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b4eb6f28a73464f90035e87792a1ec8",
      "value": "herbe",
      "confidence": "0.8314844369888306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59e625c4ea73403ea7d502ba0b729a60",
      "value": "architecture",
      "confidence": "0.7161413431167603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fdf9812ce4d74352a3f849927bb397be",
      "value": "jardin",
      "confidence": "0.6022726893424988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66bf863caff94ba78fec7758c6067fc6",
      "value": "paysage",
      "confidence": "0.5945351719856262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9531f0a3257d4ea483506e01c31757b2",
      "value": "sol",
      "confidence": "0.5672827959060669"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/109ebf1eb0814a97817f45f89aae87cb"
      },
      {
        "contentUdi": "umb://element/a99da96b25f7407abe96bb29b967edf2"
      },
      {
        "contentUdi": "umb://element/c9fd9fbfa979441eb008a97686c70cf7"
      },
      {
        "contentUdi": "umb://element/5a26e4ef65744a38b2746c8e72083aa0"
      },
      {
        "contentUdi": "umb://element/8f2b0a64cb14419b97be93424570d9bf"
      },
      {
        "contentUdi": "umb://element/caa15aa8304c488eb0c898b30307b025"
      },
      {
        "contentUdi": "umb://element/6a428bf9fb2549ccb210804e0ce25d59"
      },
      {
        "contentUdi": "umb://element/b0cf0a106d4c413a8d580538a28e82f0"
      },
      {
        "contentUdi": "umb://element/727fa4e15cec45a1beca3f2746ecd02a"
      },
      {
        "contentUdi": "umb://element/d6c090d887d44a8bb2e8c472d608b5a5"
      },
      {
        "contentUdi": "umb://element/2b4eb6f28a73464f90035e87792a1ec8"
      },
      {
        "contentUdi": "umb://element/59e625c4ea73403ea7d502ba0b729a60"
      },
      {
        "contentUdi": "umb://element/fdf9812ce4d74352a3f849927bb397be"
      },
      {
        "contentUdi": "umb://element/66bf863caff94ba78fec7758c6067fc6"
      },
      {
        "contentUdi": "umb://element/9531f0a3257d4ea483506e01c31757b2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/109ebf1eb0814a97817f45f89aae87cb",
      "value": "nuage",
      "confidence": "0.9976615905761719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a99da96b25f7407abe96bb29b967edf2",
      "value": "plein air",
      "confidence": "0.9920153021812439"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9fd9fbfa979441eb008a97686c70cf7",
      "value": "plante",
      "confidence": "0.9893299341201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a26e4ef65744a38b2746c8e72083aa0",
      "value": "ciel",
      "confidence": "0.968001663684845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f2b0a64cb14419b97be93424570d9bf",
      "value": "arbre",
      "confidence": "0.9528238773345947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/caa15aa8304c488eb0c898b30307b025",
      "value": "ville",
      "confidence": "0.9116013646125793"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a428bf9fb2549ccb210804e0ce25d59",
      "value": "bâtiment",
      "confidence": "0.8750011920928955"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0cf0a106d4c413a8d580538a28e82f0",
      "value": "Aménagement paysager",
      "confidence": "0.8631234169006348"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/727fa4e15cec45a1beca3f2746ecd02a",
      "value": "gratte-ciel",
      "confidence": "0.8627735376358032"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d6c090d887d44a8bb2e8c472d608b5a5",
      "value": "parc",
      "confidence": "0.8414666652679443"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b4eb6f28a73464f90035e87792a1ec8",
      "value": "herbe",
      "confidence": "0.8314844369888306"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/59e625c4ea73403ea7d502ba0b729a60",
      "value": "architecture",
      "confidence": "0.7161413431167603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fdf9812ce4d74352a3f849927bb397be",
      "value": "jardin",
      "confidence": "0.6022726893424988"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/66bf863caff94ba78fec7758c6067fc6",
      "value": "paysage",
      "confidence": "0.5945351719856262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9531f0a3257d4ea483506e01c31757b2",
      "value": "sol",
      "confidence": "0.5672827959060669"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Lost amidst skyscrapers, the botanical garden is a place for a peaceful stroll.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Perdu au milieu de gratte-ciel, le jardin botanique est un lieu de promenade tranquille.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a well-maintained garden with paved paths and statues, located in Brussels, Belgium. In the background, you can see modern glass and steel buildings, as well as a historic building with a glass dome. The sky is cloudy, giving a dramatic ambiance to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un jardin bien entretenu avec des allées pavées et des statues, situé à Bruxelles, Belgique. En arrière-plan, on peut voir des bâtiments modernes en verre et en acier, ainsi qu'un bâtiment historique avec un dôme en verre. Le ciel est nuageux, ce qui donne une ambiance dramatique à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #garden #architecture #modern #historic #scenic #greenery #overcast]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #jardin #architecture #histoire #modernité]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "c0f5d915-88f7-459a-bf6a-746e4361ad69",
    "mediaKey": "c4dea833-a116-4796-a9cd-1a0befacad4f"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un havre de paix au cœur de la ville.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Botanical Garden of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "garden",
  "statues",
  "modern buildings",
  "historic building",
  "dome",
  "cloudy sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "jardin",
  "statues",
  "bâtiments modernes",
  "bâtiment historique",
  "dôme",
  "ciel nuageux"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Un havre de paix au cœur de la ville.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Botanical Garden of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Jardin Botanique de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>