<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3651709-e370-4885-be9f-f99833248985" Alias="The poor lonely fisher" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/ThePoorLonelyFisher</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:07</CreateDate>
    <NodeName Default="The poor lonely fisher">
      <Name Culture="en">The poor lonely fisher</Name>
      <Name Culture="fr">The poor lonely fisher</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5dd2057d84f94855a310f7616def2bfc"
      },
      {
        "contentUdi": "umb://element/2f0c6cd2222842a884a79f1740cae35b"
      },
      {
        "contentUdi": "umb://element/ba13fb9175594c928fde2ba818497f2a"
      },
      {
        "contentUdi": "umb://element/1ebac6b1c5c749a6969e7c8b63abb9cb"
      },
      {
        "contentUdi": "umb://element/235a4b5538ec46ec8e428de79cb89008"
      },
      {
        "contentUdi": "umb://element/6e081a70bb9846bb84d419354ea845fe"
      },
      {
        "contentUdi": "umb://element/b3b3e8c9e828489392a7c72dcd2eb403"
      },
      {
        "contentUdi": "umb://element/ef0ab55d53e7430f8c61b95514c9bbb9"
      },
      {
        "contentUdi": "umb://element/b7b4ac04b1774e198626e9d31bdcef3b"
      },
      {
        "contentUdi": "umb://element/6a11a24723a84a64a4c8bb7c76603e38"
      },
      {
        "contentUdi": "umb://element/770ec02417bc448ab3d2c2ee430de49e"
      },
      {
        "contentUdi": "umb://element/5a147c2838a84ee8a62d792a4bdf1762"
      },
      {
        "contentUdi": "umb://element/c2985517d85a468c850b596ffb23db2a"
      },
      {
        "contentUdi": "umb://element/7c670df7fbaf45e58a7ee53df4ad4c0c"
      },
      {
        "contentUdi": "umb://element/3b58f6c110164fecb383364711d5260b"
      },
      {
        "contentUdi": "umb://element/1f09a1e6b3884e509bc412578a03b800"
      },
      {
        "contentUdi": "umb://element/5ad9ae89de8247ada5141093fb1c3ee4"
      },
      {
        "contentUdi": "umb://element/06e6777b4b074a03ab1e5d72d9a85ddf"
      },
      {
        "contentUdi": "umb://element/b64bed20ffec4ccebf28efa7982f144a"
      },
      {
        "contentUdi": "umb://element/a7ed0aa016db489abc01ea14b40170d1"
      },
      {
        "contentUdi": "umb://element/c10d3f3272034c78aab317a9f62538c2"
      },
      {
        "contentUdi": "umb://element/e64f149cd3804a8aa8dd8a561ac0bdb0"
      },
      {
        "contentUdi": "umb://element/a5331fef81bc47198ad5e2f6223af705"
      },
      {
        "contentUdi": "umb://element/1ba423e05c8b4ccba3d8147e20c0dbf6"
      },
      {
        "contentUdi": "umb://element/06eb143b82e14e42a295850ded813707"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5dd2057d84f94855a310f7616def2bfc",
      "value": "plein air",
      "confidence": "0.9981812238693237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f0c6cd2222842a884a79f1740cae35b",
      "value": "eau",
      "confidence": "0.9954803586006165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba13fb9175594c928fde2ba818497f2a",
      "value": "ciel",
      "confidence": "0.970618724822998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ebac6b1c5c749a6969e7c8b63abb9cb",
      "value": "arbre",
      "confidence": "0.9290114641189575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/235a4b5538ec46ec8e428de79cb89008",
      "value": "nature",
      "confidence": "0.9262685775756836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6e081a70bb9846bb84d419354ea845fe",
      "value": "Quiétude",
      "confidence": "0.9181735515594482"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b3b3e8c9e828489392a7c72dcd2eb403",
      "value": "nuage",
      "confidence": "0.9172536730766296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef0ab55d53e7430f8c61b95514c9bbb9",
      "value": "matin",
      "confidence": "0.9082523584365845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b7b4ac04b1774e198626e9d31bdcef3b",
      "value": "lumière du jour",
      "confidence": "0.9024158716201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a11a24723a84a64a4c8bb7c76603e38",
      "value": "Rétroéclairage",
      "confidence": "0.8990309238433838"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/770ec02417bc448ab3d2c2ee430de49e",
      "value": "soleil",
      "confidence": "0.8956595063209534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a147c2838a84ee8a62d792a4bdf1762",
      "value": "lever de soleil",
      "confidence": "0.8944024443626404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2985517d85a468c850b596ffb23db2a",
      "value": "horizon",
      "confidence": "0.8877184391021729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7c670df7fbaf45e58a7ee53df4ad4c0c",
      "value": "soirée",
      "confidence": "0.8812001943588257"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b58f6c110164fecb383364711d5260b",
      "value": "reflet",
      "confidence": "0.8690131902694702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1f09a1e6b3884e509bc412578a03b800",
      "value": "crépuscule",
      "confidence": "0.864669919013977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5ad9ae89de8247ada5141093fb1c3ee4",
      "value": "Ressources d’eau",
      "confidence": "0.8586013913154602"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06e6777b4b074a03ab1e5d72d9a85ddf",
      "value": "Étendue d’eau",
      "confidence": "0.8542560338973999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b64bed20ffec4ccebf28efa7982f144a",
      "value": "banque",
      "confidence": "0.8442206382751465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7ed0aa016db489abc01ea14b40170d1",
      "value": "Dernières lueurs",
      "confidence": "0.8425060510635376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c10d3f3272034c78aab317a9f62538c2",
      "value": "paysage",
      "confidence": "0.8331105709075928"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e64f149cd3804a8aa8dd8a561ac0bdb0",
      "value": "coucher de soleil",
      "confidence": "0.7430920600891113"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a5331fef81bc47198ad5e2f6223af705",
      "value": "rive",
      "confidence": "0.6584241390228271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ba423e05c8b4ccba3d8147e20c0dbf6",
      "value": "lac",
      "confidence": "0.5764867663383484"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/06eb143b82e14e42a295850ded813707",
      "value": "rivière",
      "confidence": "0.4043238162994385"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88338b92492a47d8af8d371129cc36e3"
      },
      {
        "contentUdi": "umb://element/6b21e5f639cd444fafb05d1ccf19989e"
      },
      {
        "contentUdi": "umb://element/1a922727cd754a5badff96299a642251"
      },
      {
        "contentUdi": "umb://element/f77423c461b44b0894cff641e147fa88"
      },
      {
        "contentUdi": "umb://element/afd2f59ae116432e80f0b0e720127b72"
      },
      {
        "contentUdi": "umb://element/901a9545d30640cd85cbd9b82ea97600"
      },
      {
        "contentUdi": "umb://element/ec42822612dd454db3e8716dc76abb42"
      },
      {
        "contentUdi": "umb://element/05147972ba9547baac9ba689a00a721a"
      },
      {
        "contentUdi": "umb://element/685094c824db4955b097ccb89af5e855"
      },
      {
        "contentUdi": "umb://element/0cf8f5ac48a740d59e67d1d218f0ce33"
      },
      {
        "contentUdi": "umb://element/90e5e2e4c1164052991f31b4aa3754dc"
      },
      {
        "contentUdi": "umb://element/2f1596aa14714501bbcda18936f4b768"
      },
      {
        "contentUdi": "umb://element/35c8fbb015d44278974c43d2a32cbe39"
      },
      {
        "contentUdi": "umb://element/6a93c88eadda41549be70966576902fb"
      },
      {
        "contentUdi": "umb://element/e9dae793492d4b9ab7f4f0cb090f4f87"
      },
      {
        "contentUdi": "umb://element/d01b2c9f2889417f85b204d43b3a1f5a"
      },
      {
        "contentUdi": "umb://element/12a0e20ab4d64bb6b77c473dc6509f7b"
      },
      {
        "contentUdi": "umb://element/141f1b266c73412696ed0356fc57c134"
      },
      {
        "contentUdi": "umb://element/0e4bc5561bdc442dbc38a433097fe88a"
      },
      {
        "contentUdi": "umb://element/c78faf7001b946bd986ee2e9d88aea5e"
      },
      {
        "contentUdi": "umb://element/88f309798a844b20af58a89a68e96b3c"
      },
      {
        "contentUdi": "umb://element/ab5a3eff9acf4b82972a39c73a4ff9f6"
      },
      {
        "contentUdi": "umb://element/8245c424a4844665a09e671d81cf1e8d"
      },
      {
        "contentUdi": "umb://element/df537b69dac143c7ada2eb90a6b1100d"
      },
      {
        "contentUdi": "umb://element/c5550aefdead41ff9eca523e3740a627"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88338b92492a47d8af8d371129cc36e3",
      "value": "plein air",
      "confidence": "0.9981812238693237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b21e5f639cd444fafb05d1ccf19989e",
      "value": "eau",
      "confidence": "0.9954803586006165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1a922727cd754a5badff96299a642251",
      "value": "ciel",
      "confidence": "0.970618724822998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f77423c461b44b0894cff641e147fa88",
      "value": "arbre",
      "confidence": "0.9290114641189575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afd2f59ae116432e80f0b0e720127b72",
      "value": "nature",
      "confidence": "0.9262685775756836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/901a9545d30640cd85cbd9b82ea97600",
      "value": "Quiétude",
      "confidence": "0.9181735515594482"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ec42822612dd454db3e8716dc76abb42",
      "value": "nuage",
      "confidence": "0.9172536730766296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05147972ba9547baac9ba689a00a721a",
      "value": "matin",
      "confidence": "0.9082523584365845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/685094c824db4955b097ccb89af5e855",
      "value": "lumière du jour",
      "confidence": "0.9024158716201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0cf8f5ac48a740d59e67d1d218f0ce33",
      "value": "Rétroéclairage",
      "confidence": "0.8990309238433838"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/90e5e2e4c1164052991f31b4aa3754dc",
      "value": "soleil",
      "confidence": "0.8956595063209534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2f1596aa14714501bbcda18936f4b768",
      "value": "lever de soleil",
      "confidence": "0.8944024443626404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/35c8fbb015d44278974c43d2a32cbe39",
      "value": "horizon",
      "confidence": "0.8877184391021729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6a93c88eadda41549be70966576902fb",
      "value": "soirée",
      "confidence": "0.8812001943588257"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e9dae793492d4b9ab7f4f0cb090f4f87",
      "value": "reflet",
      "confidence": "0.8690131902694702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d01b2c9f2889417f85b204d43b3a1f5a",
      "value": "crépuscule",
      "confidence": "0.864669919013977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/12a0e20ab4d64bb6b77c473dc6509f7b",
      "value": "Ressources d’eau",
      "confidence": "0.8586013913154602"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/141f1b266c73412696ed0356fc57c134",
      "value": "Étendue d’eau",
      "confidence": "0.8542560338973999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0e4bc5561bdc442dbc38a433097fe88a",
      "value": "banque",
      "confidence": "0.8442206382751465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c78faf7001b946bd986ee2e9d88aea5e",
      "value": "Dernières lueurs",
      "confidence": "0.8425060510635376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/88f309798a844b20af58a89a68e96b3c",
      "value": "paysage",
      "confidence": "0.8331105709075928"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ab5a3eff9acf4b82972a39c73a4ff9f6",
      "value": "coucher de soleil",
      "confidence": "0.7430920600891113"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8245c424a4844665a09e671d81cf1e8d",
      "value": "rive",
      "confidence": "0.6584241390228271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df537b69dac143c7ada2eb90a6b1100d",
      "value": "lac",
      "confidence": "0.5764867663383484"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c5550aefdead41ff9eca523e3740a627",
      "value": "rivière",
      "confidence": "0.4043238162994385"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Heading out to fish, or returning home?&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Départ à la pêche, ou retour maison ?&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene sunset at Nopharat Thara Beach in Thailand. The sun is low in the sky, casting a warm golden glow over the water and the beach. Silhouettes of rocky outcrops and a boat with a few people can be seen against the horizon, adding to the tranquil atmosphere. The sky is partly cloudy, and the calm water reflects the sunlight beautifully."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage tranquille au coucher du soleil à Nopharat Thara Beach, en Thaïlande. Le soleil se couche à l'horizon, créant une lumière dorée qui se reflète sur l'eau calme. À gauche, on peut voir des formations rocheuses couvertes de végétation, tandis qu'à droite, un petit bateau avec des personnes à bord navigue doucement sur l'eau."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #NopharatTharaBeach #serene #goldenhour #nature #travel]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #Thaïlande #NopharatTharaBeach #bateau #nature #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2655cb96-2cce-4976-9c83-3aecbef0ae28",
    "mediaKey": "3517b431-90b3-4794-8d0d-1cfc647754d5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The solitary fisherman at dusk]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Nopharat Thara Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/leaving-the-land-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/leaving-the-land-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Thailand",
  "Nopharat Thara Beach",
  "rocky outcrops",
  "boat",
  "reflection",
  "serene",
  "golden hour"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "Thaïlande",
  "Nopharat Thara Beach",
  "bateau",
  "formations rocheuses",
  "mer",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The solitary fisherman at dusk]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Nopharat Thara Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>