<?xml version="1.0" encoding="utf-8"?>
<Content Key="11609d99-3b16-4e28-bb08-23e50d6e7262" Alias="The Ice Crossing" Level="5">
  <Info>
    <Parent Key="3a2e3794-358f-4a46-aaee-fd7f3bdd33dc">Travel Memories</Parent>
    <Path>/Crolow/Accueil/TheVirtualWorld/TravelMemories/TheIceCrossing</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-06-16T20:23:39</CreateDate>
    <NodeName Default="The Ice Crossing">
      <Name Culture="en">The Ice Crossing</Name>
      <Name Culture="fr">La traversée des glaces</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A VW van crosses an icy landscape, dazzled, it takes in the sights.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un VW combi traverse un paysage glacé, ébloui, il en prend plein les yeux.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-06-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image depicts a fantastical winter landscape known as Iceworld. A colorful, vintage Volkswagen van adorned with vibrant decorations and toys is driving along a snowy road. The road winds through a surreal icy landscape with snow-covered trees and a frozen river. In the background, a majestic castle made of ice and snow towers over the scene, with a large clock embedded in its structure. The sky is filled with dramatic, colorful clouds, adding to the dreamlike atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image représente un paysage fantastique et hivernal appelé Iceworld. Un château majestueux et imposant, orné d'une grande horloge, se dresse au centre de la scène. Les montagnes et les arbres sont recouverts de neige, créant une atmosphère féerique. Un van Volkswagen coloré et décoré de motifs psychédéliques roule sur une route glacée, transportant des objets et des jouets sur son toit. Le ciel est spectaculaire, avec des nuages colorés et des lumières crépusculaires."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Iceworld #winter #fantasy #Volkswagen #snow #castle #ice #surreal #colorful #clouds]]></Value>
      <Value Culture="fr"><![CDATA[#Iceworld #paysageFantastique #hiver #château #neige #vanVolkswagen #psychédélique #routeGlacée]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "806f6f76-35eb-4976-a63a-3fedc3b5bd34",
    "mediaKey": "5e5c6a5c-ddc0-4a98-8f68-f517c00f21bd"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Iceworld]]></Value>
      <Value Culture="fr"><![CDATA[Iceworld]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://crolow.pixels.com/featured/journey-in-the-ice-world-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://crolow.pixels.com/featured/journey-in-the-ice-world-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Iceworld",
  "winter",
  "fantasy",
  "Volkswagen van",
  "snow",
  "castle",
  "ice",
  "surreal",
  "colorful",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "paysage",
  "fantastique",
  "hiver",
  "château",
  "horloge",
  "montagnes",
  "neige",
  "van",
  "Volkswagen",
  "psychédélique",
  "route glacée",
  "jouets",
  "ciel",
  "nuages"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>