<?xml version="1.0" encoding="utf-8"?>
<Content Key="173ed3d8-bcd9-4e0f-8c50-4fc0651676b2" Alias="The Brussels Canal #1" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheBrusselsCanal1</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T11:59:13</CreateDate>
    <NodeName Default="The Brussels Canal #1">
      <Name Culture="en">The Brussels Canal #1</Name>
      <Name Culture="fr">Le canal de Bruxelles #1</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b4ada58426a4614901b0bf615f17ff9"
      },
      {
        "contentUdi": "umb://element/7af6921de7a24cb2b3d4db4b56c28889"
      },
      {
        "contentUdi": "umb://element/eb022cf2edbd4e92968c713998d6bd06"
      },
      {
        "contentUdi": "umb://element/aba90625babb422da0f69d0fc7589e19"
      },
      {
        "contentUdi": "umb://element/87be707b84874021996d28c496f1a44b"
      },
      {
        "contentUdi": "umb://element/4da64071758d4c8e95993d52a977792a"
      },
      {
        "contentUdi": "umb://element/d580f39266a34bf7824a5ad4e3328687"
      },
      {
        "contentUdi": "umb://element/2e4f1a66e60345d786a1153fcb5e8b62"
      },
      {
        "contentUdi": "umb://element/4fbedd536c404d49b0f2585f0fc17792"
      },
      {
        "contentUdi": "umb://element/b0a6fe3aa9784736b8caa7ef89b879c2"
      },
      {
        "contentUdi": "umb://element/dd668635c4b44fc3be3fa490d6788c29"
      },
      {
        "contentUdi": "umb://element/e545cbccce9e4b1da00e2749a782d342"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b4ada58426a4614901b0bf615f17ff9",
      "value": "plein air",
      "confidence": "0.9977205991744995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7af6921de7a24cb2b3d4db4b56c28889",
      "value": "ciel",
      "confidence": "0.9900562763214111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb022cf2edbd4e92968c713998d6bd06",
      "value": "nuage",
      "confidence": "0.9700886011123657"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aba90625babb422da0f69d0fc7589e19",
      "value": "eau",
      "confidence": "0.9350171089172363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87be707b84874021996d28c496f1a44b",
      "value": "bâtiment",
      "confidence": "0.920945942401886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4da64071758d4c8e95993d52a977792a",
      "value": "pont",
      "confidence": "0.9107064008712769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d580f39266a34bf7824a5ad4e3328687",
      "value": "lac",
      "confidence": "0.9079844951629639"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e4f1a66e60345d786a1153fcb5e8b62",
      "value": "arbre",
      "confidence": "0.9020044803619385"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4fbedd536c404d49b0f2585f0fc17792",
      "value": "rivière",
      "confidence": "0.7623566389083862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0a6fe3aa9784736b8caa7ef89b879c2",
      "value": "hiver",
      "confidence": "0.7232246398925781"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd668635c4b44fc3be3fa490d6788c29",
      "value": "ville",
      "confidence": "0.6606349349021912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e545cbccce9e4b1da00e2749a782d342",
      "value": "tour",
      "confidence": "0.5151726007461548"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b4ada58426a4614901b0bf615f17ff9"
      },
      {
        "contentUdi": "umb://element/7af6921de7a24cb2b3d4db4b56c28889"
      },
      {
        "contentUdi": "umb://element/eb022cf2edbd4e92968c713998d6bd06"
      },
      {
        "contentUdi": "umb://element/aba90625babb422da0f69d0fc7589e19"
      },
      {
        "contentUdi": "umb://element/87be707b84874021996d28c496f1a44b"
      },
      {
        "contentUdi": "umb://element/4da64071758d4c8e95993d52a977792a"
      },
      {
        "contentUdi": "umb://element/d580f39266a34bf7824a5ad4e3328687"
      },
      {
        "contentUdi": "umb://element/2e4f1a66e60345d786a1153fcb5e8b62"
      },
      {
        "contentUdi": "umb://element/4fbedd536c404d49b0f2585f0fc17792"
      },
      {
        "contentUdi": "umb://element/b0a6fe3aa9784736b8caa7ef89b879c2"
      },
      {
        "contentUdi": "umb://element/dd668635c4b44fc3be3fa490d6788c29"
      },
      {
        "contentUdi": "umb://element/e545cbccce9e4b1da00e2749a782d342"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b4ada58426a4614901b0bf615f17ff9",
      "value": "plein air",
      "confidence": "0.9977205991744995"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7af6921de7a24cb2b3d4db4b56c28889",
      "value": "ciel",
      "confidence": "0.9900562763214111"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/eb022cf2edbd4e92968c713998d6bd06",
      "value": "nuage",
      "confidence": "0.9700886011123657"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aba90625babb422da0f69d0fc7589e19",
      "value": "eau",
      "confidence": "0.9350171089172363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87be707b84874021996d28c496f1a44b",
      "value": "bâtiment",
      "confidence": "0.920945942401886"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4da64071758d4c8e95993d52a977792a",
      "value": "pont",
      "confidence": "0.9107064008712769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d580f39266a34bf7824a5ad4e3328687",
      "value": "lac",
      "confidence": "0.9079844951629639"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e4f1a66e60345d786a1153fcb5e8b62",
      "value": "arbre",
      "confidence": "0.9020044803619385"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4fbedd536c404d49b0f2585f0fc17792",
      "value": "rivière",
      "confidence": "0.7623566389083862"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b0a6fe3aa9784736b8caa7ef89b879c2",
      "value": "hiver",
      "confidence": "0.7232246398925781"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dd668635c4b44fc3be3fa490d6788c29",
      "value": "ville",
      "confidence": "0.6606349349021912"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e545cbccce9e4b1da00e2749a782d342",
      "value": "tour",
      "confidence": "0.5151726007461548"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>View of the Brussels canal from the Trooz bridge.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Vue sur le canal de Bruxelles depuis le pont de Trooz.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an urban view of Brussels, Belgium, with a canal in the center. On the right, there are stacked shipping containers adorned with colorful graffiti. In the background, modern buildings can be seen, including a tall residential tower. The sky is cloudy, creating a gray and cold atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue urbaine de Bruxelles, Belgique, avec un canal au centre. À droite, il y a des conteneurs maritimes empilés, ornés de graffitis colorés. À l'arrière-plan, on peut voir des bâtiments modernes, y compris une tour résidentielle haute. Le ciel est nuageux, créant une atmosphère grise et froide."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Brussels #Belgium #UrbanArt #Graffiti #Industrial #RiverView #Cityscape]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #canal #graffitis #urbain #architecture]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "deeb4fbc-4f01-481e-ab15-5fe6674c4733",
    "mediaKey": "af5a41a0-c42a-4187-a40e-f8d1aea1e54e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue saisissante du canal de Bruxelles, encadrée par des conteneurs colorés et des bâtiments modernes.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Brussels Canal: An Urban Window]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/botanic-garden-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "canal",
  "containers",
  "graffiti",
  "buildings",
  "tower",
  "urban",
  "cloudy"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "canal",
  "conteneurs",
  "graffitis",
  "bâtiments",
  "tour",
  "urbain",
  "nuageux"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez une vue saisissante du canal de Bruxelles, encadrée par des conteneurs colorés et des bâtiments modernes.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Brussels Canal: An Urban Window]]></Value>
      <Value Culture="fr"><![CDATA[Le Canal de Bruxelles : Une Fenêtre Urbaine]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>