<?xml version="1.0" encoding="utf-8"?>
<Content Key="10f29fe6-81bf-4aa9-9612-52301d082e94" Alias="The Cinquantenaire Park #2" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheCinquantenairePark2</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T12:12:12</CreateDate>
    <NodeName Default="The Cinquantenaire Park #2">
      <Name Culture="en">The Cinquantenaire Park #2</Name>
      <Name Culture="fr">Le parc du Cinquantenaire #2</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a76ec1dc613546939d7fd4758cc099c7"
      },
      {
        "contentUdi": "umb://element/5f95b7db53e9457aa0a067fe1a1a589d"
      },
      {
        "contentUdi": "umb://element/acababf6cd18446297eb60519f9bb467"
      },
      {
        "contentUdi": "umb://element/0d062561b9f246ad8aa1f55448936f99"
      },
      {
        "contentUdi": "umb://element/c705437b87df416598830d6c089b384f"
      },
      {
        "contentUdi": "umb://element/20a29c97f0844376be3eee854f77bec8"
      },
      {
        "contentUdi": "umb://element/51c5a9c540ac432e9662772472a59741"
      },
      {
        "contentUdi": "umb://element/263a8f3fa5734817a65a0db653750a8d"
      },
      {
        "contentUdi": "umb://element/25f7ab89eb024c2ba32b416989d7c4e6"
      },
      {
        "contentUdi": "umb://element/c2f0bd309b3f4a9ba326da243a7b2528"
      },
      {
        "contentUdi": "umb://element/8ddf888e7cd245febdfe2f99c58fc9d6"
      },
      {
        "contentUdi": "umb://element/d137184389ec4ccfac19295b4ed466c4"
      },
      {
        "contentUdi": "umb://element/6b0fe45be05f4dc8a16427e5ee01d960"
      },
      {
        "contentUdi": "umb://element/69eaf97e94294ba99cc6d3f075678dee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a76ec1dc613546939d7fd4758cc099c7",
      "value": "nuage",
      "confidence": "0.9986956119537354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f95b7db53e9457aa0a067fe1a1a589d",
      "value": "bâtiment",
      "confidence": "0.9981197714805603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/acababf6cd18446297eb60519f9bb467",
      "value": "ciel",
      "confidence": "0.9950191378593445"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d062561b9f246ad8aa1f55448936f99",
      "value": "plein air",
      "confidence": "0.9927551746368408"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c705437b87df416598830d6c089b384f",
      "value": "herbe",
      "confidence": "0.9402729272842407"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20a29c97f0844376be3eee854f77bec8",
      "value": "repère",
      "confidence": "0.9338380098342896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51c5a9c540ac432e9662772472a59741",
      "value": "architecture",
      "confidence": "0.9111214876174927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/263a8f3fa5734817a65a0db653750a8d",
      "value": "Palais",
      "confidence": "0.8743714094161987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25f7ab89eb024c2ba32b416989d7c4e6",
      "value": "monument",
      "confidence": "0.8576575517654419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2f0bd309b3f4a9ba326da243a7b2528",
      "value": "Architecture classique",
      "confidence": "0.8476446866989136"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ddf888e7cd245febdfe2f99c58fc9d6",
      "value": "Arc de triomphe",
      "confidence": "0.8432559967041016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d137184389ec4ccfac19295b4ed466c4",
      "value": "ville",
      "confidence": "0.7696992754936218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b0fe45be05f4dc8a16427e5ee01d960",
      "value": "paysage",
      "confidence": "0.6022419333457947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/69eaf97e94294ba99cc6d3f075678dee",
      "value": "arche",
      "confidence": "0.567841112613678"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a76ec1dc613546939d7fd4758cc099c7"
      },
      {
        "contentUdi": "umb://element/5f95b7db53e9457aa0a067fe1a1a589d"
      },
      {
        "contentUdi": "umb://element/acababf6cd18446297eb60519f9bb467"
      },
      {
        "contentUdi": "umb://element/0d062561b9f246ad8aa1f55448936f99"
      },
      {
        "contentUdi": "umb://element/c705437b87df416598830d6c089b384f"
      },
      {
        "contentUdi": "umb://element/20a29c97f0844376be3eee854f77bec8"
      },
      {
        "contentUdi": "umb://element/51c5a9c540ac432e9662772472a59741"
      },
      {
        "contentUdi": "umb://element/263a8f3fa5734817a65a0db653750a8d"
      },
      {
        "contentUdi": "umb://element/25f7ab89eb024c2ba32b416989d7c4e6"
      },
      {
        "contentUdi": "umb://element/c2f0bd309b3f4a9ba326da243a7b2528"
      },
      {
        "contentUdi": "umb://element/8ddf888e7cd245febdfe2f99c58fc9d6"
      },
      {
        "contentUdi": "umb://element/d137184389ec4ccfac19295b4ed466c4"
      },
      {
        "contentUdi": "umb://element/6b0fe45be05f4dc8a16427e5ee01d960"
      },
      {
        "contentUdi": "umb://element/69eaf97e94294ba99cc6d3f075678dee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a76ec1dc613546939d7fd4758cc099c7",
      "value": "nuage",
      "confidence": "0.9986956119537354"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5f95b7db53e9457aa0a067fe1a1a589d",
      "value": "bâtiment",
      "confidence": "0.9981197714805603"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/acababf6cd18446297eb60519f9bb467",
      "value": "ciel",
      "confidence": "0.9950191378593445"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0d062561b9f246ad8aa1f55448936f99",
      "value": "plein air",
      "confidence": "0.9927551746368408"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c705437b87df416598830d6c089b384f",
      "value": "herbe",
      "confidence": "0.9402729272842407"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/20a29c97f0844376be3eee854f77bec8",
      "value": "repère",
      "confidence": "0.9338380098342896"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51c5a9c540ac432e9662772472a59741",
      "value": "architecture",
      "confidence": "0.9111214876174927"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/263a8f3fa5734817a65a0db653750a8d",
      "value": "Palais",
      "confidence": "0.8743714094161987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/25f7ab89eb024c2ba32b416989d7c4e6",
      "value": "monument",
      "confidence": "0.8576575517654419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c2f0bd309b3f4a9ba326da243a7b2528",
      "value": "Architecture classique",
      "confidence": "0.8476446866989136"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ddf888e7cd245febdfe2f99c58fc9d6",
      "value": "Arc de triomphe",
      "confidence": "0.8432559967041016"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d137184389ec4ccfac19295b4ed466c4",
      "value": "ville",
      "confidence": "0.7696992754936218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6b0fe45be05f4dc8a16427e5ee01d960",
      "value": "paysage",
      "confidence": "0.6022419333457947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/69eaf97e94294ba99cc6d3f075678dee",
      "value": "arche",
      "confidence": "0.567841112613678"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Historic and walking place, the Cinquantenaire Park</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Lieu historique et de promenade, le parc du Cinquantenaire</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the Cinquantenaire Arch in Brussels, Belgium. This imposing monument is surrounded by vast lawns and well-maintained gardens. The sky is partially cloudy with sunset hues, adding a dramatic ambiance to the scene. A few people are walking around the monument, and the overall architecture is beautifully captured."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'Arc de Triomphe du Cinquantenaire à Bruxelles, Belgique. Ce monument imposant est entouré de vastes pelouses et de jardins bien entretenus. Le ciel est partiellement nuageux avec des teintes de coucher de soleil, ajoutant une ambiance dramatique à la scène. Quelques personnes se promènent autour du monument, et l'ensemble de l'architecture est magnifiquement capturé."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Cinquantenaire #Brussels #Belgium #architecture #monument #travel #history #sunset #sunrise]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #Cinquantenaire #Architecture #MonumentHistorique #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "4fd07341-a542-4268-bd68-2e5dfaf0b20f",
    "mediaKey": "07b17bd2-4b46-48e2-a1b9-918ab26c33cc"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'Arc de Triomphe du Cinquantenaire, entouré de jardins luxuriants et baigné par la lumière du coucher de soleil.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le parc du Cinquantenaire : Un Joyau Historique à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire Park: A Historical Gem in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le parc du Cinquantenaire : Un Joyau Historique à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-parc-du-cinquantenaire-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-parc-du-cinquantenaire-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "Triumphal Arch",
  "Cinquantenaire",
  "monument",
  "architecture",
  "garden",
  "sunset"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "Arc de Triomphe",
  "Cinquantenaire",
  "monument",
  "architecture",
  "jardin",
  "coucher de soleil"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'Arc de Triomphe du Cinquantenaire, entouré de jardins luxuriants et baigné par la lumière du coucher de soleil.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire Park: A Historical Gem in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le parc du Cinquantenaire : Un Joyau Historique à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>