<?xml version="1.0" encoding="utf-8"?>
<Content Key="6129f278-b12c-4632-afb1-b8be89ee59d6" Alias="The Cinquantenaire at Ground Level" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheCinquantenaireAtGroundLevel</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T11:42:27</CreateDate>
    <NodeName Default="The Cinquantenaire at Ground Level">
      <Name Culture="en">The Cinquantenaire at Ground Level</Name>
      <Name Culture="fr">Le cinquantenaire aux ras des pâquerettes</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9966d4862e4e4cd79852ebfd710f8186"
      },
      {
        "contentUdi": "umb://element/060a6c45f4e3467885219d4c782e25f3"
      },
      {
        "contentUdi": "umb://element/f1ea1e3529164b2080344ad0d5bdec45"
      },
      {
        "contentUdi": "umb://element/bec828cd277d4f279e021ddd026db5c1"
      },
      {
        "contentUdi": "umb://element/243de54b06d3423c960ee390abef3c29"
      },
      {
        "contentUdi": "umb://element/0baf718e8648430b9dbb4dfa1c699910"
      },
      {
        "contentUdi": "umb://element/9b59493ee0434ad28e3be5dd90f02b52"
      },
      {
        "contentUdi": "umb://element/16776d4c299e4cf4b156de707ecbaf72"
      },
      {
        "contentUdi": "umb://element/ff8373ef508a403c84f6176ea131d03b"
      },
      {
        "contentUdi": "umb://element/a7c0b62478eb46fd856bbd2b7cd6c993"
      },
      {
        "contentUdi": "umb://element/c40782219a0b4e139560514cc2959297"
      },
      {
        "contentUdi": "umb://element/4f7a9051808d47d5a80b383982068cc7"
      },
      {
        "contentUdi": "umb://element/7d405b302db243e99dc5784ce0fdd12e"
      },
      {
        "contentUdi": "umb://element/38bb460d3f3d48f783b0c59a6fe50a1e"
      },
      {
        "contentUdi": "umb://element/3c41e51d822446f1af106fc6c8056ac5"
      },
      {
        "contentUdi": "umb://element/8ca26abcaf8b484aa7a260f699d6334d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9966d4862e4e4cd79852ebfd710f8186",
      "value": "ciel",
      "confidence": "0.9983237981796265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/060a6c45f4e3467885219d4c782e25f3",
      "value": "bâtiment",
      "confidence": "0.997174859046936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1ea1e3529164b2080344ad0d5bdec45",
      "value": "nuage",
      "confidence": "0.9952560663223267"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bec828cd277d4f279e021ddd026db5c1",
      "value": "plein air",
      "confidence": "0.9952447414398193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/243de54b06d3423c960ee390abef3c29",
      "value": "monument",
      "confidence": "0.9114185571670532"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0baf718e8648430b9dbb4dfa1c699910",
      "value": "repère",
      "confidence": "0.9101807475090027"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b59493ee0434ad28e3be5dd90f02b52",
      "value": "Arc de triomphe",
      "confidence": "0.8843508958816528"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16776d4c299e4cf4b156de707ecbaf72",
      "value": "pierre",
      "confidence": "0.8824867010116577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ff8373ef508a403c84f6176ea131d03b",
      "value": "arche",
      "confidence": "0.8702348470687866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7c0b62478eb46fd856bbd2b7cd6c993",
      "value": "Site historique",
      "confidence": "0.8657222986221313"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c40782219a0b4e139560514cc2959297",
      "value": "architecture",
      "confidence": "0.8615105748176575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f7a9051808d47d5a80b383982068cc7",
      "value": "ville",
      "confidence": "0.8501558303833008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d405b302db243e99dc5784ce0fdd12e",
      "value": "Architecture classique",
      "confidence": "0.8498849868774414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38bb460d3f3d48f783b0c59a6fe50a1e",
      "value": "Architecture de la Rome antique",
      "confidence": "0.8492332100868225"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c41e51d822446f1af106fc6c8056ac5",
      "value": "paysage",
      "confidence": "0.7519842386245728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ca26abcaf8b484aa7a260f699d6334d",
      "value": "sol",
      "confidence": "0.686046302318573"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9966d4862e4e4cd79852ebfd710f8186"
      },
      {
        "contentUdi": "umb://element/060a6c45f4e3467885219d4c782e25f3"
      },
      {
        "contentUdi": "umb://element/f1ea1e3529164b2080344ad0d5bdec45"
      },
      {
        "contentUdi": "umb://element/bec828cd277d4f279e021ddd026db5c1"
      },
      {
        "contentUdi": "umb://element/243de54b06d3423c960ee390abef3c29"
      },
      {
        "contentUdi": "umb://element/0baf718e8648430b9dbb4dfa1c699910"
      },
      {
        "contentUdi": "umb://element/9b59493ee0434ad28e3be5dd90f02b52"
      },
      {
        "contentUdi": "umb://element/16776d4c299e4cf4b156de707ecbaf72"
      },
      {
        "contentUdi": "umb://element/ff8373ef508a403c84f6176ea131d03b"
      },
      {
        "contentUdi": "umb://element/a7c0b62478eb46fd856bbd2b7cd6c993"
      },
      {
        "contentUdi": "umb://element/c40782219a0b4e139560514cc2959297"
      },
      {
        "contentUdi": "umb://element/4f7a9051808d47d5a80b383982068cc7"
      },
      {
        "contentUdi": "umb://element/7d405b302db243e99dc5784ce0fdd12e"
      },
      {
        "contentUdi": "umb://element/38bb460d3f3d48f783b0c59a6fe50a1e"
      },
      {
        "contentUdi": "umb://element/3c41e51d822446f1af106fc6c8056ac5"
      },
      {
        "contentUdi": "umb://element/8ca26abcaf8b484aa7a260f699d6334d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9966d4862e4e4cd79852ebfd710f8186",
      "value": "ciel",
      "confidence": "0.9983237981796265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/060a6c45f4e3467885219d4c782e25f3",
      "value": "bâtiment",
      "confidence": "0.997174859046936"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f1ea1e3529164b2080344ad0d5bdec45",
      "value": "nuage",
      "confidence": "0.9952560663223267"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bec828cd277d4f279e021ddd026db5c1",
      "value": "plein air",
      "confidence": "0.9952447414398193"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/243de54b06d3423c960ee390abef3c29",
      "value": "monument",
      "confidence": "0.9114185571670532"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0baf718e8648430b9dbb4dfa1c699910",
      "value": "repère",
      "confidence": "0.9101807475090027"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9b59493ee0434ad28e3be5dd90f02b52",
      "value": "Arc de triomphe",
      "confidence": "0.8843508958816528"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16776d4c299e4cf4b156de707ecbaf72",
      "value": "pierre",
      "confidence": "0.8824867010116577"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ff8373ef508a403c84f6176ea131d03b",
      "value": "arche",
      "confidence": "0.8702348470687866"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7c0b62478eb46fd856bbd2b7cd6c993",
      "value": "Site historique",
      "confidence": "0.8657222986221313"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c40782219a0b4e139560514cc2959297",
      "value": "architecture",
      "confidence": "0.8615105748176575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f7a9051808d47d5a80b383982068cc7",
      "value": "ville",
      "confidence": "0.8501558303833008"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d405b302db243e99dc5784ce0fdd12e",
      "value": "Architecture classique",
      "confidence": "0.8498849868774414"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38bb460d3f3d48f783b0c59a6fe50a1e",
      "value": "Architecture de la Rome antique",
      "confidence": "0.8492332100868225"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3c41e51d822446f1af106fc6c8056ac5",
      "value": "paysage",
      "confidence": "0.7519842386245728"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ca26abcaf8b484aa7a260f699d6334d",
      "value": "sol",
      "confidence": "0.686046302318573"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>The Cinquantenaire, a historic building in Brussels.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Le cinquantenaire, batîment historique de Bruxelles.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the Cinquantenaire Arch in Brussels, Belgium. This imposing monument is located in the Cinquantenaire Park and is distinguished by its three majestic arches and a quadriga sculpture at the top. The sky is blue with a few clouds, and the cobblestone ground in the foreground adds an interesting texture to the photo."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre l'Arc de Triomphe du Cinquantenaire à Bruxelles, Belgique. Ce monument imposant est situé dans le Parc du Cinquantenaire et se distingue par ses trois arches majestueuses et sa sculpture de quadrige au sommet. Le ciel est bleu avec quelques nuages, et le sol pavé au premier plan ajoute une texture intéressante à la photo."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#CinquantenaireArch #Brussels #Belgium #architecture #landmark #monument #historic #travel #tourism]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #Cinquantenaire #ArcDeTriomphe #architecture #monument #parc]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "25588f73-9f95-403b-a056-532fe9a8916b",
    "mediaKey": "3e70ab75-ae35-4f36-8d1b-ddc2328c0457"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'Arc de Triomphe du Cinquantenaire, un joyau architectural niché dans le Parc du Cinquantenaire à Bruxelles.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Cinquantenaire : Un Monument Majestueux au Cœur de Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire: A Majestic Monument in the Heart of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Cinquantenaire : Un Monument Majestueux au Cœur de Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/le-cinquantenaire-brussels-historical-building-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/le-cinquantenaire-brussels-historical-building-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "Triumphal Arch",
  "Cinquantenaire",
  "monument",
  "architecture",
  "park",
  "quadriga"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "Arc de Triomphe",
  "Cinquantenaire",
  "monument",
  "architecture",
  "parc",
  "quadrige"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'Arc de Triomphe du Cinquantenaire, un joyau architectural niché dans le Parc du Cinquantenaire à Bruxelles.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Cinquantenaire: A Majestic Monument in the Heart of Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Le Cinquantenaire : Un Monument Majestueux au Cœur de Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>