<?xml version="1.0" encoding="utf-8"?>
<Content Key="2231f9b5-f0cf-4725-83f9-1b3bf772153a" Alias="The Albert Bridge" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheAlbertBridge</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T14:14:55</CreateDate>
    <NodeName Default="The Albert Bridge">
      <Name Culture="en">The Albert Bridge</Name>
      <Name Culture="fr">Le pont Albert</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d724f0ba01514b62a8dd43797b2f4ae9"
      },
      {
        "contentUdi": "umb://element/bf7c29b5bd0f4dd19ddc485822bc6e4b"
      },
      {
        "contentUdi": "umb://element/2e573afcec684e05a897ccd9aa34da2d"
      },
      {
        "contentUdi": "umb://element/0c801e1136ee4495a524897a9fa97e49"
      },
      {
        "contentUdi": "umb://element/82a34968a6ad4a3d94a5dab02be3b8cb"
      },
      {
        "contentUdi": "umb://element/14a3f895b5474a9a9ad663eccfe979f6"
      },
      {
        "contentUdi": "umb://element/91b74e81a20d46d0917fe2fbc08ec7cb"
      },
      {
        "contentUdi": "umb://element/e2678659884f48178c38323faf8b6ad3"
      },
      {
        "contentUdi": "umb://element/b9e239d690b24e97ad8c54d0d4273c96"
      },
      {
        "contentUdi": "umb://element/e1bc16e780794ca5b9f18ad229597503"
      },
      {
        "contentUdi": "umb://element/8b024e67cdb945629bf826a2549a553c"
      },
      {
        "contentUdi": "umb://element/11b2ec6ae00c4d0bbe86b83dcca61c88"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d724f0ba01514b62a8dd43797b2f4ae9",
      "value": "nuage",
      "confidence": "0.9986511468887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf7c29b5bd0f4dd19ddc485822bc6e4b",
      "value": "plein air",
      "confidence": "0.9978097677230835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e573afcec684e05a897ccd9aa34da2d",
      "value": "ciel",
      "confidence": "0.997042179107666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c801e1136ee4495a524897a9fa97e49",
      "value": "bâtiment",
      "confidence": "0.987850546836853"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82a34968a6ad4a3d94a5dab02be3b8cb",
      "value": "route",
      "confidence": "0.9318480491638184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14a3f895b5474a9a9ad663eccfe979f6",
      "value": "infrastructure",
      "confidence": "0.8955485224723816"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91b74e81a20d46d0917fe2fbc08ec7cb",
      "value": "pont",
      "confidence": "0.8316419720649719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2678659884f48178c38323faf8b6ad3",
      "value": "sol",
      "confidence": "0.7919803857803345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9e239d690b24e97ad8c54d0d4273c96",
      "value": "piste",
      "confidence": "0.7133857607841492"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1bc16e780794ca5b9f18ad229597503",
      "value": "arche",
      "confidence": "0.6981819868087769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b024e67cdb945629bf826a2549a553c",
      "value": "paysage",
      "confidence": "0.6697649955749512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/11b2ec6ae00c4d0bbe86b83dcca61c88",
      "value": "rue",
      "confidence": "0.6403867602348328"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d724f0ba01514b62a8dd43797b2f4ae9"
      },
      {
        "contentUdi": "umb://element/bf7c29b5bd0f4dd19ddc485822bc6e4b"
      },
      {
        "contentUdi": "umb://element/2e573afcec684e05a897ccd9aa34da2d"
      },
      {
        "contentUdi": "umb://element/0c801e1136ee4495a524897a9fa97e49"
      },
      {
        "contentUdi": "umb://element/82a34968a6ad4a3d94a5dab02be3b8cb"
      },
      {
        "contentUdi": "umb://element/14a3f895b5474a9a9ad663eccfe979f6"
      },
      {
        "contentUdi": "umb://element/91b74e81a20d46d0917fe2fbc08ec7cb"
      },
      {
        "contentUdi": "umb://element/e2678659884f48178c38323faf8b6ad3"
      },
      {
        "contentUdi": "umb://element/b9e239d690b24e97ad8c54d0d4273c96"
      },
      {
        "contentUdi": "umb://element/e1bc16e780794ca5b9f18ad229597503"
      },
      {
        "contentUdi": "umb://element/8b024e67cdb945629bf826a2549a553c"
      },
      {
        "contentUdi": "umb://element/11b2ec6ae00c4d0bbe86b83dcca61c88"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d724f0ba01514b62a8dd43797b2f4ae9",
      "value": "nuage",
      "confidence": "0.9986511468887329"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bf7c29b5bd0f4dd19ddc485822bc6e4b",
      "value": "plein air",
      "confidence": "0.9978097677230835"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2e573afcec684e05a897ccd9aa34da2d",
      "value": "ciel",
      "confidence": "0.997042179107666"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0c801e1136ee4495a524897a9fa97e49",
      "value": "bâtiment",
      "confidence": "0.987850546836853"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82a34968a6ad4a3d94a5dab02be3b8cb",
      "value": "route",
      "confidence": "0.9318480491638184"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/14a3f895b5474a9a9ad663eccfe979f6",
      "value": "infrastructure",
      "confidence": "0.8955485224723816"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/91b74e81a20d46d0917fe2fbc08ec7cb",
      "value": "pont",
      "confidence": "0.8316419720649719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e2678659884f48178c38323faf8b6ad3",
      "value": "sol",
      "confidence": "0.7919803857803345"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b9e239d690b24e97ad8c54d0d4273c96",
      "value": "piste",
      "confidence": "0.7133857607841492"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e1bc16e780794ca5b9f18ad229597503",
      "value": "arche",
      "confidence": "0.6981819868087769"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8b024e67cdb945629bf826a2549a553c",
      "value": "paysage",
      "confidence": "0.6697649955749512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/11b2ec6ae00c4d0bbe86b83dcca61c88",
      "value": "rue",
      "confidence": "0.6403867602348328"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Sunset over the Albert Bridge overlooking the SNCB North line.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Coucher de soleil sur le pont Albert qui surplombe la ligne SNCB Nord.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a concrete bridge in Brussels, Belgium, with a series of arches and pillars. The bridge appears deserted and there are concrete blocks arranged on the road to prevent vehicle passage. In the background, you can see an industrial chimney emitting smoke and an electric tower. The sky is partially cloudy, creating a dramatic atmosphere."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un pont en béton à Bruxelles, Belgique, avec une série d'arches et de piliers. Le pont semble désert et il y a des blocs de béton disposés sur la route pour empêcher le passage des véhicules. En arrière-plan, on peut voir une cheminée industrielle émettant de la fumée et une tour électrique. Le ciel est partiellement nuageux, créant une atmosphère dramatique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Bruxelles #Belgique #bridge #abandoned #urban #graffiti #architecture #industrial #cloudy]]></Value>
      <Value Culture="fr"><![CDATA[#pont #Bruxelles #Belgique #architecture #industriel #ciel]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "23489c38-bdfc-4ef8-986f-be1120b4c351",
    "mediaKey": "48d5d973-a81b-4d8f-9513-56caee8a3724"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur le pont Albert qui surplombe la ligne SNCB Nord.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Albert au Crépuscule]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The Albert Bridge at Dusk]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Albert au Crépuscule]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/albert-bridge-schaerbeek-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/albert-bridge-schaerbeek-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "bridge",
  "concrete",
  "arches",
  "Brussels",
  "Belgium",
  "chimney",
  "industrial",
  "sky",
  "clouds"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "pont",
  "béton",
  "arches",
  "Bruxelles",
  "Belgique",
  "cheminée",
  "industriel",
  "ciel",
  "nuages"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de soleil sur le pont Albert qui surplombe la ligne SNCB Nord.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The Albert Bridge at Dusk]]></Value>
      <Value Culture="fr"><![CDATA[Le Pont Albert au Crépuscule]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>