<?xml version="1.0" encoding="utf-8"?>
<Content Key="68cc7c30-8fb7-4006-a122-5f4d0066298d" Alias="The BNP Offices #1" Level="7">
  <Info>
    <Parent Key="cf2e2dde-30b7-436d-a96e-476f5683de59">Architecture</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Belgium/Brussels/Architecture/TheBNPOffices1</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-15T13:08:21</CreateDate>
    <NodeName Default="The BNP Offices #1">
      <Name Culture="en">The BNP Offices #1</Name>
      <Name Culture="fr">Les bureaux de BNP #1</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/32f9b237c82a408d8f9d1cd082991862"
      },
      {
        "contentUdi": "umb://element/9bdd8329efc149b19e9526a196ba9bb0"
      },
      {
        "contentUdi": "umb://element/7f1d01e44d044daba21f75a5911126c3"
      },
      {
        "contentUdi": "umb://element/d9492f492c5a4b99ae35be208810f328"
      },
      {
        "contentUdi": "umb://element/f52a565d5edd4e03975c56999d7c7cc4"
      },
      {
        "contentUdi": "umb://element/33a5b4f5c0f4480e9e86d3dc808c3540"
      },
      {
        "contentUdi": "umb://element/8ec63d3c0aae427d91023ad5ca4cfc5f"
      },
      {
        "contentUdi": "umb://element/77f340b8308a4bf88f306999c8d06a87"
      },
      {
        "contentUdi": "umb://element/ee3f80f735f54720890f0ad1b7ee7049"
      },
      {
        "contentUdi": "umb://element/05abf5ad6ddc47cca52ccf694542d1f0"
      },
      {
        "contentUdi": "umb://element/592863c8492a44b5a2dfedf6406df15b"
      },
      {
        "contentUdi": "umb://element/fcc07ecc23a647a59b36caa768efdeeb"
      },
      {
        "contentUdi": "umb://element/029a09966749464a908e1a1562dba668"
      },
      {
        "contentUdi": "umb://element/d23ca6ec7bfa4028ae935287da58efad"
      },
      {
        "contentUdi": "umb://element/ee9af492224d483fa7c34820a17fdce4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32f9b237c82a408d8f9d1cd082991862",
      "value": "ciel",
      "confidence": "0.9857093095779419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9bdd8329efc149b19e9526a196ba9bb0",
      "value": "Bâtiment commercial",
      "confidence": "0.9668141603469849"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f1d01e44d044daba21f75a5911126c3",
      "value": "plein air",
      "confidence": "0.9188014268875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9492f492c5a4b99ae35be208810f328",
      "value": "architecture",
      "confidence": "0.9178069829940796"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f52a565d5edd4e03975c56999d7c7cc4",
      "value": "Zone métropolitaine",
      "confidence": "0.9173731803894043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33a5b4f5c0f4480e9e86d3dc808c3540",
      "value": "Zone urbaine",
      "confidence": "0.9104064702987671"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ec63d3c0aae427d91023ad5ca4cfc5f",
      "value": "Métropole",
      "confidence": "0.907250702381134"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77f340b8308a4bf88f306999c8d06a87",
      "value": "fenêtre",
      "confidence": "0.9052071571350098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3f80f735f54720890f0ad1b7ee7049",
      "value": "ville",
      "confidence": "0.8981202840805054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05abf5ad6ddc47cca52ccf694542d1f0",
      "value": "Usage mixte",
      "confidence": "0.8860106468200684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/592863c8492a44b5a2dfedf6406df15b",
      "value": "bâtiment",
      "confidence": "0.8800780773162842"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fcc07ecc23a647a59b36caa768efdeeb",
      "value": "Tour de grande hauteur",
      "confidence": "0.8607388734817505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/029a09966749464a908e1a1562dba668",
      "value": "grand",
      "confidence": "0.6221615076065063"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d23ca6ec7bfa4028ae935287da58efad",
      "value": "tour",
      "confidence": "0.6108337044715881"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee9af492224d483fa7c34820a17fdce4",
      "value": "rue",
      "confidence": "0.4544031322002411"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/32f9b237c82a408d8f9d1cd082991862"
      },
      {
        "contentUdi": "umb://element/9bdd8329efc149b19e9526a196ba9bb0"
      },
      {
        "contentUdi": "umb://element/7f1d01e44d044daba21f75a5911126c3"
      },
      {
        "contentUdi": "umb://element/d9492f492c5a4b99ae35be208810f328"
      },
      {
        "contentUdi": "umb://element/f52a565d5edd4e03975c56999d7c7cc4"
      },
      {
        "contentUdi": "umb://element/33a5b4f5c0f4480e9e86d3dc808c3540"
      },
      {
        "contentUdi": "umb://element/8ec63d3c0aae427d91023ad5ca4cfc5f"
      },
      {
        "contentUdi": "umb://element/77f340b8308a4bf88f306999c8d06a87"
      },
      {
        "contentUdi": "umb://element/ee3f80f735f54720890f0ad1b7ee7049"
      },
      {
        "contentUdi": "umb://element/05abf5ad6ddc47cca52ccf694542d1f0"
      },
      {
        "contentUdi": "umb://element/592863c8492a44b5a2dfedf6406df15b"
      },
      {
        "contentUdi": "umb://element/fcc07ecc23a647a59b36caa768efdeeb"
      },
      {
        "contentUdi": "umb://element/029a09966749464a908e1a1562dba668"
      },
      {
        "contentUdi": "umb://element/d23ca6ec7bfa4028ae935287da58efad"
      },
      {
        "contentUdi": "umb://element/ee9af492224d483fa7c34820a17fdce4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/32f9b237c82a408d8f9d1cd082991862",
      "value": "ciel",
      "confidence": "0.9857093095779419"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9bdd8329efc149b19e9526a196ba9bb0",
      "value": "Bâtiment commercial",
      "confidence": "0.9668141603469849"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7f1d01e44d044daba21f75a5911126c3",
      "value": "plein air",
      "confidence": "0.9188014268875122"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d9492f492c5a4b99ae35be208810f328",
      "value": "architecture",
      "confidence": "0.9178069829940796"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f52a565d5edd4e03975c56999d7c7cc4",
      "value": "Zone métropolitaine",
      "confidence": "0.9173731803894043"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/33a5b4f5c0f4480e9e86d3dc808c3540",
      "value": "Zone urbaine",
      "confidence": "0.9104064702987671"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8ec63d3c0aae427d91023ad5ca4cfc5f",
      "value": "Métropole",
      "confidence": "0.907250702381134"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77f340b8308a4bf88f306999c8d06a87",
      "value": "fenêtre",
      "confidence": "0.9052071571350098"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee3f80f735f54720890f0ad1b7ee7049",
      "value": "ville",
      "confidence": "0.8981202840805054"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/05abf5ad6ddc47cca52ccf694542d1f0",
      "value": "Usage mixte",
      "confidence": "0.8860106468200684"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/592863c8492a44b5a2dfedf6406df15b",
      "value": "bâtiment",
      "confidence": "0.8800780773162842"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fcc07ecc23a647a59b36caa768efdeeb",
      "value": "Tour de grande hauteur",
      "confidence": "0.8607388734817505"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/029a09966749464a908e1a1562dba668",
      "value": "grand",
      "confidence": "0.6221615076065063"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d23ca6ec7bfa4028ae935287da58efad",
      "value": "tour",
      "confidence": "0.6108337044715881"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ee9af492224d483fa7c34820a17fdce4",
      "value": "rue",
      "confidence": "0.4544031322002411"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Inflation curves transposed to architecture</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Les courbes inflationnelles transposées à l'architecture</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-15T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows modern buildings in Brussels, Belgium. The structures are curved and feature numerous windows, reflecting the clear blue sky. The buildings have a unique architectural design with fluid lines and glass surfaces. Leafless trees are visible in the foreground, adding a natural touch to the urban environment."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre des bâtiments modernes à Bruxelles, Belgique. Les structures sont courbées et présentent de nombreuses fenêtres, reflétant le ciel bleu clair. Les bâtiments ont un design architectural unique avec des lignes fluides et des surfaces vitrées. Des arbres sans feuilles sont visibles au premier plan, ajoutant une touche naturelle à l'environnement urbain."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#architecture #modern #building #Brussels #Belgium #urban #contemporary]]></Value>
      <Value Culture="fr"><![CDATA[#Bruxelles #Belgique #ArchitectureModerne #Bâtiments #CielBleu #DesignArchitectural]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "104b9eab-5951-485e-9012-324052777313",
    "mediaKey": "6b9eaf3b-88dd-4daf-8ef5-745027eecdfe"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Bruxelles, Belgique]]></Value>
      <Value Culture="fr"><![CDATA[Bruxelles, Belgique]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les courbes inflationnelles transposées à l'architecture]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP : Un chef-d'œuvre architectural à Bruxelles]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The BNP Offices: An Architectural Masterpiece in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP : Un chef-d'œuvre architectural à Bruxelles]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/bnp-offices-brussels-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/bnp-offices-brussels-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Brussels",
  "Belgium",
  "modern architecture",
  "buildings",
  "windows",
  "blue sky",
  "trees",
  "architectural design"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Bruxelles",
  "Belgique",
  "architecture moderne",
  "bâtiments",
  "fenêtres",
  "ciel bleu",
  "arbres",
  "design architectural"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Les courbes inflationnelles transposées à l'architecture]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The BNP Offices: An Architectural Masterpiece in Brussels]]></Value>
      <Value Culture="fr"><![CDATA[Les bureaux de BNP : Un chef-d'œuvre architectural à Bruxelles]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>