<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d274f5e-b07e-4579-b82a-b4cab14311b7" Alias="The poor lonely fisher" Level="6">
  <Info>
    <Parent Key="648a0650-32e2-4fa1-98e6-6ef7b0ee9185">Autour de Krabi</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/AutourDeKrabi/ThePoorLonelyFisher</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-04T12:10:24</CreateDate>
    <NodeName Default="The poor lonely fisher">
      <Name Culture="en">The poor lonely fisher</Name>
      <Name Culture="fr">The poor lonely fisher</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fde521132f4d467bb92c46d0e783207e"
      },
      {
        "contentUdi": "umb://element/f173cf10d35141c4b732e9daa8b66888"
      },
      {
        "contentUdi": "umb://element/a37ead57e97d4408a3e71555d0414ff5"
      },
      {
        "contentUdi": "umb://element/2b94de6654f64bbcbe843b9ebb6aed59"
      },
      {
        "contentUdi": "umb://element/3243b054601f4b2dbf8ab5f291e423b7"
      },
      {
        "contentUdi": "umb://element/0dd6079a1eaa47089e1a1bd2929142a2"
      },
      {
        "contentUdi": "umb://element/e35ea15a13ac40e3bbdc76470cd2d1a5"
      },
      {
        "contentUdi": "umb://element/f4b716aa5e1846d0bc2dcb0e8416d630"
      },
      {
        "contentUdi": "umb://element/89eece7286b043a6adae869a580ff725"
      },
      {
        "contentUdi": "umb://element/1c0e3581d77e4130ae4fa6e9bfea882d"
      },
      {
        "contentUdi": "umb://element/130e3a9f30e946628b9e0a5df1748e6b"
      },
      {
        "contentUdi": "umb://element/7206bc6500f94f0e94d053e03e15c2fd"
      },
      {
        "contentUdi": "umb://element/8098cfbc588345c7bd3ac17167f9622f"
      },
      {
        "contentUdi": "umb://element/9e1c2f03a05e43939ea61325cab6731f"
      },
      {
        "contentUdi": "umb://element/cd5d3b75fa524c0f87e0a2269d2001be"
      },
      {
        "contentUdi": "umb://element/1231ae99679b46bb81f137ee5fed476b"
      },
      {
        "contentUdi": "umb://element/2a63a8433ce94ccdb0ab83bbf0c1f6e8"
      },
      {
        "contentUdi": "umb://element/cb4f0ce1198b415aaacf37c65f0256bf"
      },
      {
        "contentUdi": "umb://element/cb467a2a7434461db8837eb8b7258ee8"
      },
      {
        "contentUdi": "umb://element/5a24738adabc4b15bed6d3c4d7bf964c"
      },
      {
        "contentUdi": "umb://element/296bf75949794644924d56c5caab88bb"
      },
      {
        "contentUdi": "umb://element/44ebad1c4ddb4de6bfa3623f023e57f2"
      },
      {
        "contentUdi": "umb://element/e7e2390f8dbe4aca9a1dae0f7d12078d"
      },
      {
        "contentUdi": "umb://element/40fa3f3dd49e4321a23180fa20bc9b87"
      },
      {
        "contentUdi": "umb://element/5e4d272370ed44d2b1d55ecc6abe6c0a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fde521132f4d467bb92c46d0e783207e",
      "value": "plein air",
      "confidence": "0.9981812238693237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f173cf10d35141c4b732e9daa8b66888",
      "value": "eau",
      "confidence": "0.9954803586006165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a37ead57e97d4408a3e71555d0414ff5",
      "value": "ciel",
      "confidence": "0.970618724822998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b94de6654f64bbcbe843b9ebb6aed59",
      "value": "arbre",
      "confidence": "0.9290114641189575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3243b054601f4b2dbf8ab5f291e423b7",
      "value": "nature",
      "confidence": "0.9262685775756836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0dd6079a1eaa47089e1a1bd2929142a2",
      "value": "Quiétude",
      "confidence": "0.9181735515594482"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e35ea15a13ac40e3bbdc76470cd2d1a5",
      "value": "nuage",
      "confidence": "0.9172536730766296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4b716aa5e1846d0bc2dcb0e8416d630",
      "value": "matin",
      "confidence": "0.9082523584365845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89eece7286b043a6adae869a580ff725",
      "value": "lumière du jour",
      "confidence": "0.9024158716201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1c0e3581d77e4130ae4fa6e9bfea882d",
      "value": "Rétroéclairage",
      "confidence": "0.8990309238433838"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/130e3a9f30e946628b9e0a5df1748e6b",
      "value": "soleil",
      "confidence": "0.8956595063209534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7206bc6500f94f0e94d053e03e15c2fd",
      "value": "lever de soleil",
      "confidence": "0.8944024443626404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8098cfbc588345c7bd3ac17167f9622f",
      "value": "horizon",
      "confidence": "0.8877184391021729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e1c2f03a05e43939ea61325cab6731f",
      "value": "soirée",
      "confidence": "0.8812001943588257"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd5d3b75fa524c0f87e0a2269d2001be",
      "value": "reflet",
      "confidence": "0.8690131902694702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1231ae99679b46bb81f137ee5fed476b",
      "value": "crépuscule",
      "confidence": "0.864669919013977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a63a8433ce94ccdb0ab83bbf0c1f6e8",
      "value": "Ressources d’eau",
      "confidence": "0.8586013913154602"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb4f0ce1198b415aaacf37c65f0256bf",
      "value": "Étendue d’eau",
      "confidence": "0.8542560338973999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb467a2a7434461db8837eb8b7258ee8",
      "value": "banque",
      "confidence": "0.8442206382751465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a24738adabc4b15bed6d3c4d7bf964c",
      "value": "Dernières lueurs",
      "confidence": "0.8425060510635376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/296bf75949794644924d56c5caab88bb",
      "value": "paysage",
      "confidence": "0.8331105709075928"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44ebad1c4ddb4de6bfa3623f023e57f2",
      "value": "coucher de soleil",
      "confidence": "0.7430920600891113"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7e2390f8dbe4aca9a1dae0f7d12078d",
      "value": "rive",
      "confidence": "0.6584241390228271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40fa3f3dd49e4321a23180fa20bc9b87",
      "value": "lac",
      "confidence": "0.5764867663383484"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e4d272370ed44d2b1d55ecc6abe6c0a",
      "value": "rivière",
      "confidence": "0.4043238162994385"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fde521132f4d467bb92c46d0e783207e"
      },
      {
        "contentUdi": "umb://element/f173cf10d35141c4b732e9daa8b66888"
      },
      {
        "contentUdi": "umb://element/a37ead57e97d4408a3e71555d0414ff5"
      },
      {
        "contentUdi": "umb://element/2b94de6654f64bbcbe843b9ebb6aed59"
      },
      {
        "contentUdi": "umb://element/3243b054601f4b2dbf8ab5f291e423b7"
      },
      {
        "contentUdi": "umb://element/0dd6079a1eaa47089e1a1bd2929142a2"
      },
      {
        "contentUdi": "umb://element/e35ea15a13ac40e3bbdc76470cd2d1a5"
      },
      {
        "contentUdi": "umb://element/f4b716aa5e1846d0bc2dcb0e8416d630"
      },
      {
        "contentUdi": "umb://element/89eece7286b043a6adae869a580ff725"
      },
      {
        "contentUdi": "umb://element/1c0e3581d77e4130ae4fa6e9bfea882d"
      },
      {
        "contentUdi": "umb://element/130e3a9f30e946628b9e0a5df1748e6b"
      },
      {
        "contentUdi": "umb://element/7206bc6500f94f0e94d053e03e15c2fd"
      },
      {
        "contentUdi": "umb://element/8098cfbc588345c7bd3ac17167f9622f"
      },
      {
        "contentUdi": "umb://element/9e1c2f03a05e43939ea61325cab6731f"
      },
      {
        "contentUdi": "umb://element/cd5d3b75fa524c0f87e0a2269d2001be"
      },
      {
        "contentUdi": "umb://element/1231ae99679b46bb81f137ee5fed476b"
      },
      {
        "contentUdi": "umb://element/2a63a8433ce94ccdb0ab83bbf0c1f6e8"
      },
      {
        "contentUdi": "umb://element/cb4f0ce1198b415aaacf37c65f0256bf"
      },
      {
        "contentUdi": "umb://element/cb467a2a7434461db8837eb8b7258ee8"
      },
      {
        "contentUdi": "umb://element/5a24738adabc4b15bed6d3c4d7bf964c"
      },
      {
        "contentUdi": "umb://element/296bf75949794644924d56c5caab88bb"
      },
      {
        "contentUdi": "umb://element/44ebad1c4ddb4de6bfa3623f023e57f2"
      },
      {
        "contentUdi": "umb://element/e7e2390f8dbe4aca9a1dae0f7d12078d"
      },
      {
        "contentUdi": "umb://element/40fa3f3dd49e4321a23180fa20bc9b87"
      },
      {
        "contentUdi": "umb://element/5e4d272370ed44d2b1d55ecc6abe6c0a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fde521132f4d467bb92c46d0e783207e",
      "value": "plein air",
      "confidence": "0.9981812238693237"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f173cf10d35141c4b732e9daa8b66888",
      "value": "eau",
      "confidence": "0.9954803586006165"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a37ead57e97d4408a3e71555d0414ff5",
      "value": "ciel",
      "confidence": "0.970618724822998"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b94de6654f64bbcbe843b9ebb6aed59",
      "value": "arbre",
      "confidence": "0.9290114641189575"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3243b054601f4b2dbf8ab5f291e423b7",
      "value": "nature",
      "confidence": "0.9262685775756836"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0dd6079a1eaa47089e1a1bd2929142a2",
      "value": "Quiétude",
      "confidence": "0.9181735515594482"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e35ea15a13ac40e3bbdc76470cd2d1a5",
      "value": "nuage",
      "confidence": "0.9172536730766296"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4b716aa5e1846d0bc2dcb0e8416d630",
      "value": "matin",
      "confidence": "0.9082523584365845"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89eece7286b043a6adae869a580ff725",
      "value": "lumière du jour",
      "confidence": "0.9024158716201782"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1c0e3581d77e4130ae4fa6e9bfea882d",
      "value": "Rétroéclairage",
      "confidence": "0.8990309238433838"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/130e3a9f30e946628b9e0a5df1748e6b",
      "value": "soleil",
      "confidence": "0.8956595063209534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7206bc6500f94f0e94d053e03e15c2fd",
      "value": "lever de soleil",
      "confidence": "0.8944024443626404"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8098cfbc588345c7bd3ac17167f9622f",
      "value": "horizon",
      "confidence": "0.8877184391021729"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e1c2f03a05e43939ea61325cab6731f",
      "value": "soirée",
      "confidence": "0.8812001943588257"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd5d3b75fa524c0f87e0a2269d2001be",
      "value": "reflet",
      "confidence": "0.8690131902694702"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1231ae99679b46bb81f137ee5fed476b",
      "value": "crépuscule",
      "confidence": "0.864669919013977"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2a63a8433ce94ccdb0ab83bbf0c1f6e8",
      "value": "Ressources d’eau",
      "confidence": "0.8586013913154602"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb4f0ce1198b415aaacf37c65f0256bf",
      "value": "Étendue d’eau",
      "confidence": "0.8542560338973999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cb467a2a7434461db8837eb8b7258ee8",
      "value": "banque",
      "confidence": "0.8442206382751465"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5a24738adabc4b15bed6d3c4d7bf964c",
      "value": "Dernières lueurs",
      "confidence": "0.8425060510635376"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/296bf75949794644924d56c5caab88bb",
      "value": "paysage",
      "confidence": "0.8331105709075928"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44ebad1c4ddb4de6bfa3623f023e57f2",
      "value": "coucher de soleil",
      "confidence": "0.7430920600891113"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e7e2390f8dbe4aca9a1dae0f7d12078d",
      "value": "rive",
      "confidence": "0.6584241390228271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40fa3f3dd49e4321a23180fa20bc9b87",
      "value": "lac",
      "confidence": "0.5764867663383484"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5e4d272370ed44d2b1d55ecc6abe6c0a",
      "value": "rivière",
      "confidence": "0.4043238162994385"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Heading out to fish, or returning home?&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Départ à la pêche, ou retour maison ?&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-04T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image captures a serene sunset at Nopharat Thara Beach in Thailand. The sun is low in the sky, casting a warm golden glow over the water and the beach. Silhouettes of rocky outcrops and a boat with a few people can be seen against the horizon, adding to the tranquil atmosphere. The sky is partly cloudy, and the calm water reflects the sunlight beautifully."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une plage tranquille au coucher du soleil à Nopharat Thara Beach, en Thaïlande. Le soleil se couche à l'horizon, créant une lumière dorée qui se reflète sur l'eau calme. À gauche, on peut voir des formations rocheuses couvertes de végétation, tandis qu'à droite, un petit bateau avec des personnes à bord navigue doucement sur l'eau."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #beach #Thailand #NopharatTharaBeach #serene #goldenhour #nature #travel]]></Value>
      <Value Culture="fr"><![CDATA[#plage #coucherdesoleil #Thaïlande #NopharatTharaBeach #bateau #nature #voyage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2655cb96-2cce-4976-9c83-3aecbef0ae28",
    "mediaKey": "3517b431-90b3-4794-8d0d-1cfc647754d5"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Nopharat Thara Beach, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[The solitary fisherman at dusk]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Nopharat Thara Beach]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/leaving-the-land-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/leaving-the-land-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "beach",
  "Thailand",
  "Nopharat Thara Beach",
  "rocky outcrops",
  "boat",
  "reflection",
  "serene",
  "golden hour"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "plage",
  "coucher de soleil",
  "Thaïlande",
  "Nopharat Thara Beach",
  "bateau",
  "formations rocheuses",
  "mer",
  "nature"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Départ à la pêche, ou retour maison ?]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[The solitary fisherman at dusk]]></Value>
      <Value Culture="fr"><![CDATA[Sérénité au Crépuscule à Nopharat Thara Beach]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>