<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5ada4c1-3a70-42ba-b2fc-2d230afcdbf1" Alias="Top View Panorama of Pai Heights #3" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/TopViewPanoramaOfPaiHeights3</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T16:44:10</CreateDate>
    <NodeName Default="Top View Panorama of Pai Heights #3">
      <Name Culture="en">Top View Panorama of Pai Heights #3</Name>
      <Name Culture="fr">Panorama du dessus des hauteurs de Pai #3</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/658e114a39f94ec4b98a27350f4ecc52"
      },
      {
        "contentUdi": "umb://element/8d9aed7648184c13a0efd6275b3ec841"
      },
      {
        "contentUdi": "umb://element/5eb14166de184bc59b2a4d00c5ccabab"
      },
      {
        "contentUdi": "umb://element/125f37d533244fe995af6cf25eebd100"
      },
      {
        "contentUdi": "umb://element/7de02e8ca8da47718783f4faf5bf9212"
      },
      {
        "contentUdi": "umb://element/24b0eb6f337c4e53a9d1e4bfcbfef245"
      },
      {
        "contentUdi": "umb://element/67927d39d0a9441bbc349e2d227c0c83"
      },
      {
        "contentUdi": "umb://element/693db9b48bbc48b1bb6eeb41212fc41a"
      },
      {
        "contentUdi": "umb://element/bab3a910fd344cb9a177a631914a2db7"
      },
      {
        "contentUdi": "umb://element/3ddbdba8b9a344558ddfd78a7ec8ec59"
      },
      {
        "contentUdi": "umb://element/97e0ba78febd490886caf86672a1b610"
      },
      {
        "contentUdi": "umb://element/c66bcf5f129945d39b2428819b509923"
      },
      {
        "contentUdi": "umb://element/fc320f4a5bc04969911eff0e376a89d9"
      },
      {
        "contentUdi": "umb://element/19e316872a804f00adc66d99aad58c6d"
      },
      {
        "contentUdi": "umb://element/8306cca3d38c438bb5bc8abf2f9cd94d"
      },
      {
        "contentUdi": "umb://element/52dcd727697247ef85fecc76a82ba715"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/658e114a39f94ec4b98a27350f4ecc52",
      "value": "plein air",
      "confidence": "0.9971694946289062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d9aed7648184c13a0efd6275b3ec841",
      "value": "paysage",
      "confidence": "0.9748284816741943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5eb14166de184bc59b2a4d00c5ccabab",
      "value": "arbre",
      "confidence": "0.9732120037078857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/125f37d533244fe995af6cf25eebd100",
      "value": "ciel",
      "confidence": "0.9616191387176514"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7de02e8ca8da47718783f4faf5bf9212",
      "value": "montagne",
      "confidence": "0.9539647698402405"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b0eb6f337c4e53a9d1e4bfcbfef245",
      "value": "lever de soleil",
      "confidence": "0.9400219917297363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67927d39d0a9441bbc349e2d227c0c83",
      "value": "lumière du jour",
      "confidence": "0.9323249459266663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/693db9b48bbc48b1bb6eeb41212fc41a",
      "value": "matin",
      "confidence": "0.9312973022460938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bab3a910fd344cb9a177a631914a2db7",
      "value": "nuage",
      "confidence": "0.9188300967216492"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ddbdba8b9a344558ddfd78a7ec8ec59",
      "value": "forêt",
      "confidence": "0.9087333679199219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97e0ba78febd490886caf86672a1b610",
      "value": "région sauvage",
      "confidence": "0.8805961608886719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c66bcf5f129945d39b2428819b509923",
      "value": "Rétroéclairage",
      "confidence": "0.8805114030838013"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc320f4a5bc04969911eff0e376a89d9",
      "value": "plante",
      "confidence": "0.8534929752349854"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/19e316872a804f00adc66d99aad58c6d",
      "value": "soleil",
      "confidence": "0.8358822464942932"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8306cca3d38c438bb5bc8abf2f9cd94d",
      "value": "coucher de soleil",
      "confidence": "0.7472007274627686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52dcd727697247ef85fecc76a82ba715",
      "value": "nature",
      "confidence": "0.6594011783599854"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/658e114a39f94ec4b98a27350f4ecc52"
      },
      {
        "contentUdi": "umb://element/8d9aed7648184c13a0efd6275b3ec841"
      },
      {
        "contentUdi": "umb://element/5eb14166de184bc59b2a4d00c5ccabab"
      },
      {
        "contentUdi": "umb://element/125f37d533244fe995af6cf25eebd100"
      },
      {
        "contentUdi": "umb://element/7de02e8ca8da47718783f4faf5bf9212"
      },
      {
        "contentUdi": "umb://element/24b0eb6f337c4e53a9d1e4bfcbfef245"
      },
      {
        "contentUdi": "umb://element/67927d39d0a9441bbc349e2d227c0c83"
      },
      {
        "contentUdi": "umb://element/693db9b48bbc48b1bb6eeb41212fc41a"
      },
      {
        "contentUdi": "umb://element/bab3a910fd344cb9a177a631914a2db7"
      },
      {
        "contentUdi": "umb://element/3ddbdba8b9a344558ddfd78a7ec8ec59"
      },
      {
        "contentUdi": "umb://element/97e0ba78febd490886caf86672a1b610"
      },
      {
        "contentUdi": "umb://element/c66bcf5f129945d39b2428819b509923"
      },
      {
        "contentUdi": "umb://element/fc320f4a5bc04969911eff0e376a89d9"
      },
      {
        "contentUdi": "umb://element/19e316872a804f00adc66d99aad58c6d"
      },
      {
        "contentUdi": "umb://element/8306cca3d38c438bb5bc8abf2f9cd94d"
      },
      {
        "contentUdi": "umb://element/52dcd727697247ef85fecc76a82ba715"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/658e114a39f94ec4b98a27350f4ecc52",
      "value": "plein air",
      "confidence": "0.9971694946289062"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8d9aed7648184c13a0efd6275b3ec841",
      "value": "paysage",
      "confidence": "0.9748284816741943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5eb14166de184bc59b2a4d00c5ccabab",
      "value": "arbre",
      "confidence": "0.9732120037078857"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/125f37d533244fe995af6cf25eebd100",
      "value": "ciel",
      "confidence": "0.9616191387176514"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7de02e8ca8da47718783f4faf5bf9212",
      "value": "montagne",
      "confidence": "0.9539647698402405"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/24b0eb6f337c4e53a9d1e4bfcbfef245",
      "value": "lever de soleil",
      "confidence": "0.9400219917297363"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67927d39d0a9441bbc349e2d227c0c83",
      "value": "lumière du jour",
      "confidence": "0.9323249459266663"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/693db9b48bbc48b1bb6eeb41212fc41a",
      "value": "matin",
      "confidence": "0.9312973022460938"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bab3a910fd344cb9a177a631914a2db7",
      "value": "nuage",
      "confidence": "0.9188300967216492"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3ddbdba8b9a344558ddfd78a7ec8ec59",
      "value": "forêt",
      "confidence": "0.9087333679199219"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97e0ba78febd490886caf86672a1b610",
      "value": "région sauvage",
      "confidence": "0.8805961608886719"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c66bcf5f129945d39b2428819b509923",
      "value": "Rétroéclairage",
      "confidence": "0.8805114030838013"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc320f4a5bc04969911eff0e376a89d9",
      "value": "plante",
      "confidence": "0.8534929752349854"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/19e316872a804f00adc66d99aad58c6d",
      "value": "soleil",
      "confidence": "0.8358822464942932"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8306cca3d38c438bb5bc8abf2f9cd94d",
      "value": "coucher de soleil",
      "confidence": "0.7472007274627686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/52dcd727697247ef85fecc76a82ba715",
      "value": "nature",
      "confidence": "0.6594011783599854"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Top View Panorama of Pai Heights #3</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Panorama du dessus des hauteurs de Pai #3</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image captures a magnificent sunset over the lush green hills of Pai, Thailand. The sun slowly descends behind the mountains, bathing the landscape in golden light and creating a peaceful and serene atmosphere. The trees and lush vegetation are illuminated by the last rays of the sun, adding a touch of magic to the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image capture un magnifique coucher de soleil sur les collines verdoyantes de Pai, en Thaïlande. Le soleil descend lentement derrière les montagnes, baignant le paysage d'une lumière dorée et créant une atmosphère paisible et sereine. Les arbres et la végétation luxuriante sont illuminés par les derniers rayons du soleil, ajoutant une touche de magie à la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#sunset #nature #landscape #Pai #Thailand #mountains #hills #scenic #travel]]></Value>
      <Value Culture="fr"><![CDATA[#coucherdesoleil #montagnes #forêt #Thaïlande #nature #paysage #lumièredorée]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "9eed3178-2ec4-42f8-988e-5d9b68c198d1",
    "mediaKey": "1fbdf2aa-ef77-419c-9e2e-689b7c88d743"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Pai,Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Pai,Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil doré sur les collines verdoyantes de Pai, en Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Collines de Pai]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Dazzling Sunset over the Hills of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Collines de Pai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/2-from-the-heights-of-pai-crolow-pix.htm]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/2-from-the-heights-of-pai-crolow-pix.htm]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "sunset",
  "mountains",
  "forest",
  "Thailand",
  "nature",
  "landscape",
  "golden light"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "coucher de soleil",
  "montagnes",
  "forêt",
  "Thaïlande",
  "nature",
  "paysage",
  "lumière dorée"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la magie d'un coucher de soleil doré sur les collines verdoyantes de Pai, en Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Dazzling Sunset over the Hills of Pai]]></Value>
      <Value Culture="fr"><![CDATA[Coucher de Soleil Éblouissant sur les Collines de Pai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>