<?xml version="1.0" encoding="utf-8"?>
<Content Key="b201d6c0-9222-4ccf-83d7-bb628bca7f8d" Alias="Tuk tuk family business" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/TukTukFamilyBusiness</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Tuk tuk family business">
      <Name Culture="en">Tuk tuk family business</Name>
      <Name Culture="fr">Tuk tuk family business</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f388f9257ddf4377a0df72d4fa5703fd"
      },
      {
        "contentUdi": "umb://element/e502ac95342449078ef42a22cfa84b90"
      },
      {
        "contentUdi": "umb://element/9d4d7720a09e4089a1abc6e00a402e6b"
      },
      {
        "contentUdi": "umb://element/11c2a797225340719a30233009477e9d"
      },
      {
        "contentUdi": "umb://element/7ed42b88534a4ef2a396a9e0498f2eaa"
      },
      {
        "contentUdi": "umb://element/e0bc89723f7641368d3ae046eef20fbd"
      },
      {
        "contentUdi": "umb://element/74b4791ca7554b2eaac37474bf0c24ee"
      },
      {
        "contentUdi": "umb://element/f394578b12074945ab1b0436f4f8b3ee"
      },
      {
        "contentUdi": "umb://element/83eaa82bf8364aa49df6eb615f92c1d2"
      },
      {
        "contentUdi": "umb://element/dc0ffcdc07144ab2a6be8cd9cb42e281"
      },
      {
        "contentUdi": "umb://element/ac3e060fa2c2442e9ff38b7eff1af590"
      },
      {
        "contentUdi": "umb://element/ac985ae3357b44569219a3735ea0125e"
      },
      {
        "contentUdi": "umb://element/cf01ff2d2e85425f96a42049698bca9e"
      },
      {
        "contentUdi": "umb://element/998e50785a1a4f8a8190a6e34f049af2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f388f9257ddf4377a0df72d4fa5703fd",
      "value": "plein air",
      "confidence": "0.9955539703369141"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e502ac95342449078ef42a22cfa84b90",
      "value": "véhicule",
      "confidence": "0.9880874752998352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9d4d7720a09e4089a1abc6e00a402e6b",
      "value": "Véhicule terrestre",
      "confidence": "0.982910692691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/11c2a797225340719a30233009477e9d",
      "value": "arbre",
      "confidence": "0.9808046221733093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7ed42b88534a4ef2a396a9e0498f2eaa",
      "value": "roue",
      "confidence": "0.9785318374633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e0bc89723f7641368d3ae046eef20fbd",
      "value": "route",
      "confidence": "0.9769089221954346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/74b4791ca7554b2eaac37474bf0c24ee",
      "value": "texte",
      "confidence": "0.9748512506484985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f394578b12074945ab1b0436f4f8b3ee",
      "value": "Moyen de transport",
      "confidence": "0.8910156488418579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/83eaa82bf8364aa49df6eb615f92c1d2",
      "value": "rue",
      "confidence": "0.8555015325546265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/dc0ffcdc07144ab2a6be8cd9cb42e281",
      "value": "truck",
      "confidence": "0.8535784482955933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac3e060fa2c2442e9ff38b7eff1af590",
      "value": "bus",
      "confidence": "0.8473365306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ac985ae3357b44569219a3735ea0125e",
      "value": "conduite",
      "confidence": "0.7381033897399902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf01ff2d2e85425f96a42049698bca9e",
      "value": "garé",
      "confidence": "0.5349098443984985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/998e50785a1a4f8a8190a6e34f049af2",
      "value": "ville",
      "confidence": "0.4512254297733307"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e048554a18d84b809375928109d11edb"
      },
      {
        "contentUdi": "umb://element/16983134fa384b528bae2eaf088f2ab9"
      },
      {
        "contentUdi": "umb://element/4f21c8170dd1465ea57d173290c4e1a3"
      },
      {
        "contentUdi": "umb://element/6ee539beeb504c37b8309bccf2d971e8"
      },
      {
        "contentUdi": "umb://element/d95f7bf215bc4b81aa25fff5e031a8e6"
      },
      {
        "contentUdi": "umb://element/e99ab470f92e4d12b884837f16e1b9b1"
      },
      {
        "contentUdi": "umb://element/67d285cb675749cf847fc91033737dc0"
      },
      {
        "contentUdi": "umb://element/954222a26f434788a6bbe38adc4ff099"
      },
      {
        "contentUdi": "umb://element/adf2861b03a5419d851c1bd0f236a340"
      },
      {
        "contentUdi": "umb://element/aef605abd40d4efdbaacc839389bb921"
      },
      {
        "contentUdi": "umb://element/29c8026411884c6aa82324fa10a8940c"
      },
      {
        "contentUdi": "umb://element/2ddec1c6693749b29aa5fc3f7609933d"
      },
      {
        "contentUdi": "umb://element/e240ca9a7fc24c18911a96b5480fdeed"
      },
      {
        "contentUdi": "umb://element/534a16a0641e48e797dd65972bc16a38"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e048554a18d84b809375928109d11edb",
      "value": "plein air",
      "confidence": "0.9955539703369141"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/16983134fa384b528bae2eaf088f2ab9",
      "value": "véhicule",
      "confidence": "0.9880874752998352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f21c8170dd1465ea57d173290c4e1a3",
      "value": "Véhicule terrestre",
      "confidence": "0.982910692691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ee539beeb504c37b8309bccf2d971e8",
      "value": "arbre",
      "confidence": "0.9808046221733093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d95f7bf215bc4b81aa25fff5e031a8e6",
      "value": "roue",
      "confidence": "0.9785318374633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e99ab470f92e4d12b884837f16e1b9b1",
      "value": "route",
      "confidence": "0.9769089221954346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/67d285cb675749cf847fc91033737dc0",
      "value": "texte",
      "confidence": "0.9748512506484985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/954222a26f434788a6bbe38adc4ff099",
      "value": "Moyen de transport",
      "confidence": "0.8910156488418579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/adf2861b03a5419d851c1bd0f236a340",
      "value": "rue",
      "confidence": "0.8555015325546265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aef605abd40d4efdbaacc839389bb921",
      "value": "truck",
      "confidence": "0.8535784482955933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/29c8026411884c6aa82324fa10a8940c",
      "value": "bus",
      "confidence": "0.8473365306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2ddec1c6693749b29aa5fc3f7609933d",
      "value": "conduite",
      "confidence": "0.7381033897399902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e240ca9a7fc24c18911a96b5480fdeed",
      "value": "garé",
      "confidence": "0.5349098443984985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/534a16a0641e48e797dd65972bc16a38",
      "value": "ville",
      "confidence": "0.4512254297733307"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Tuk-tuks parked at a taxi station, probably during lunch break. A family enjoys their meal in one of them.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Des tuk-tuk parqués dans une station de taxis, sans doute la pause déjeuner. Une famille savoure son repas dans un de ceux-ci</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a tuk-tuk station in Sukhothai, Thailand. Three tuk-tuks are parked under a shelter with a purple sign indicating 'TUK TUK service'. People are sitting inside the tuk-tuks, including a child with an adult. The scene takes place in a green environment with trees and buildings in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une station de tuk-tuk à Sukhothai, en Thaïlande. Trois tuk-tuks sont garés sous un abri avec un panneau violet indiquant 'TUK TUK service'. Des personnes sont assises à l'intérieur des tuk-tuks, dont un enfant avec un adulte. La scène se déroule dans un environnement verdoyant avec des arbres et des bâtiments en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#TukTuk #Thailand #Sukhothai #Transportation #Travel #LocalTransport]]></Value>
      <Value Culture="fr"><![CDATA[#TukTuk #Sukhothai #Thaïlande #Transport #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f72ea56b-1928-41f2-9adf-d0ab804e61c7",
    "mediaKey": "7f47762e-0b65-48b1-9618-5bdba2ce41ce"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Family lunch break in a tuk-tuk in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à la station de tuk-tuk]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/tuk-tuk-family-business-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/tuk-tuk-family-business-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "tuk-tuk",
  "station",
  "Thailand",
  "Sukhothai",
  "transport",
  "shelter",
  "people",
  "child",
  "buildings",
  "trees"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "tuk-tuk",
  "station",
  "Thaïlande",
  "Sukhothai",
  "transport",
  "abri",
  "personnes",
  "enfant",
  "bâtiments",
  "arbres"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Family lunch break in a tuk-tuk in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à la station de tuk-tuk]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>