<?xml version="1.0" encoding="utf-8"?>
<Content Key="794a8a58-d202-49fd-a362-4259147e02c3" Alias="Tuk tuk family business" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/TukTukFamilyBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T17:54:41</CreateDate>
    <NodeName Default="Tuk tuk family business">
      <Name Culture="en">Tuk tuk family business</Name>
      <Name Culture="fr">Tuk tuk family business</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9dcd64b80d9b4ba0ac853a901c97093b"
      },
      {
        "contentUdi": "umb://element/85bb0f2c0b954ab0aa4b11232a43205d"
      },
      {
        "contentUdi": "umb://element/d5c5f900f68d47c7902369c39fad929e"
      },
      {
        "contentUdi": "umb://element/bb1d9e1c009448c29d203e8bf69ae6e2"
      },
      {
        "contentUdi": "umb://element/0ead9f40a2194567a7449624e25b4f30"
      },
      {
        "contentUdi": "umb://element/492501b700434bc5b5258ce7dd88eae5"
      },
      {
        "contentUdi": "umb://element/f4da8a10479b4993b3059b4317d91748"
      },
      {
        "contentUdi": "umb://element/9555e7e983c94f88a6bb391600a97598"
      },
      {
        "contentUdi": "umb://element/3e77dde6cb1941868b9a07b1f816df5d"
      },
      {
        "contentUdi": "umb://element/552b1c42dc554d9f9e94440aad851ac8"
      },
      {
        "contentUdi": "umb://element/6bdbcfd4e77a430d9ea151755ceb24a7"
      },
      {
        "contentUdi": "umb://element/5fb59b7bfd1b4f999d68519890957448"
      },
      {
        "contentUdi": "umb://element/c97b9e12dceb4e9cb8dd9417be73610f"
      },
      {
        "contentUdi": "umb://element/e775749dff8244218a1e372893b93be8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9dcd64b80d9b4ba0ac853a901c97093b",
      "value": "plein air",
      "confidence": "0.9955539703369141"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85bb0f2c0b954ab0aa4b11232a43205d",
      "value": "véhicule",
      "confidence": "0.9880874752998352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d5c5f900f68d47c7902369c39fad929e",
      "value": "Véhicule terrestre",
      "confidence": "0.982910692691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb1d9e1c009448c29d203e8bf69ae6e2",
      "value": "arbre",
      "confidence": "0.9808046221733093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ead9f40a2194567a7449624e25b4f30",
      "value": "roue",
      "confidence": "0.9785318374633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/492501b700434bc5b5258ce7dd88eae5",
      "value": "route",
      "confidence": "0.9769089221954346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4da8a10479b4993b3059b4317d91748",
      "value": "texte",
      "confidence": "0.9748512506484985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9555e7e983c94f88a6bb391600a97598",
      "value": "Moyen de transport",
      "confidence": "0.8910156488418579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e77dde6cb1941868b9a07b1f816df5d",
      "value": "rue",
      "confidence": "0.8555015325546265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/552b1c42dc554d9f9e94440aad851ac8",
      "value": "truck",
      "confidence": "0.8535784482955933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6bdbcfd4e77a430d9ea151755ceb24a7",
      "value": "bus",
      "confidence": "0.8473365306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fb59b7bfd1b4f999d68519890957448",
      "value": "conduite",
      "confidence": "0.7381033897399902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c97b9e12dceb4e9cb8dd9417be73610f",
      "value": "garé",
      "confidence": "0.5349098443984985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e775749dff8244218a1e372893b93be8",
      "value": "ville",
      "confidence": "0.4512254297733307"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9dcd64b80d9b4ba0ac853a901c97093b"
      },
      {
        "contentUdi": "umb://element/85bb0f2c0b954ab0aa4b11232a43205d"
      },
      {
        "contentUdi": "umb://element/d5c5f900f68d47c7902369c39fad929e"
      },
      {
        "contentUdi": "umb://element/bb1d9e1c009448c29d203e8bf69ae6e2"
      },
      {
        "contentUdi": "umb://element/0ead9f40a2194567a7449624e25b4f30"
      },
      {
        "contentUdi": "umb://element/492501b700434bc5b5258ce7dd88eae5"
      },
      {
        "contentUdi": "umb://element/f4da8a10479b4993b3059b4317d91748"
      },
      {
        "contentUdi": "umb://element/9555e7e983c94f88a6bb391600a97598"
      },
      {
        "contentUdi": "umb://element/3e77dde6cb1941868b9a07b1f816df5d"
      },
      {
        "contentUdi": "umb://element/552b1c42dc554d9f9e94440aad851ac8"
      },
      {
        "contentUdi": "umb://element/6bdbcfd4e77a430d9ea151755ceb24a7"
      },
      {
        "contentUdi": "umb://element/5fb59b7bfd1b4f999d68519890957448"
      },
      {
        "contentUdi": "umb://element/c97b9e12dceb4e9cb8dd9417be73610f"
      },
      {
        "contentUdi": "umb://element/e775749dff8244218a1e372893b93be8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9dcd64b80d9b4ba0ac853a901c97093b",
      "value": "plein air",
      "confidence": "0.9955539703369141"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/85bb0f2c0b954ab0aa4b11232a43205d",
      "value": "véhicule",
      "confidence": "0.9880874752998352"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d5c5f900f68d47c7902369c39fad929e",
      "value": "Véhicule terrestre",
      "confidence": "0.982910692691803"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bb1d9e1c009448c29d203e8bf69ae6e2",
      "value": "arbre",
      "confidence": "0.9808046221733093"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ead9f40a2194567a7449624e25b4f30",
      "value": "roue",
      "confidence": "0.9785318374633789"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/492501b700434bc5b5258ce7dd88eae5",
      "value": "route",
      "confidence": "0.9769089221954346"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f4da8a10479b4993b3059b4317d91748",
      "value": "texte",
      "confidence": "0.9748512506484985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9555e7e983c94f88a6bb391600a97598",
      "value": "Moyen de transport",
      "confidence": "0.8910156488418579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3e77dde6cb1941868b9a07b1f816df5d",
      "value": "rue",
      "confidence": "0.8555015325546265"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/552b1c42dc554d9f9e94440aad851ac8",
      "value": "truck",
      "confidence": "0.8535784482955933"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6bdbcfd4e77a430d9ea151755ceb24a7",
      "value": "bus",
      "confidence": "0.8473365306854248"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5fb59b7bfd1b4f999d68519890957448",
      "value": "conduite",
      "confidence": "0.7381033897399902"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c97b9e12dceb4e9cb8dd9417be73610f",
      "value": "garé",
      "confidence": "0.5349098443984985"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e775749dff8244218a1e372893b93be8",
      "value": "ville",
      "confidence": "0.4512254297733307"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Tuk-tuks parked at a taxi station, probably during lunch break. A family enjoys their meal in one of them.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Des tuk-tuk parqués dans une station de taxis, sans doute la pause déjeuner. Une famille savoure son repas dans un de ceux-ci</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a tuk-tuk station in Sukhothai, Thailand. Three tuk-tuks are parked under a shelter with a purple sign indicating 'TUK TUK service'. People are sitting inside the tuk-tuks, including a child with an adult. The scene takes place in a green environment with trees and buildings in the background."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une station de tuk-tuk à Sukhothai, en Thaïlande. Trois tuk-tuks sont garés sous un abri avec un panneau violet indiquant 'TUK TUK service'. Des personnes sont assises à l'intérieur des tuk-tuks, dont un enfant avec un adulte. La scène se déroule dans un environnement verdoyant avec des arbres et des bâtiments en arrière-plan."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#TukTuk #Thailand #Sukhothai #Transportation #Travel #LocalTransport]]></Value>
      <Value Culture="fr"><![CDATA[#TukTuk #Sukhothai #Thaïlande #Transport #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "f72ea56b-1928-41f2-9adf-d0ab804e61c7",
    "mediaKey": "7f47762e-0b65-48b1-9618-5bdba2ce41ce"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Sukhothai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Sukhothai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Family lunch break in a tuk-tuk in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à la station de tuk-tuk]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/tuk-tuk-family-business-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/tuk-tuk-family-business-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "tuk-tuk",
  "station",
  "Thailand",
  "Sukhothai",
  "transport",
  "shelter",
  "people",
  "child",
  "buildings",
  "trees"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "tuk-tuk",
  "station",
  "Thaïlande",
  "Sukhothai",
  "transport",
  "abri",
  "personnes",
  "enfant",
  "bâtiments",
  "arbres"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Une famille profite d'un moment de répit dans un tuk-tuk à Sukhothai, Thaïlande.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Family lunch break in a tuk-tuk in Sukhothai]]></Value>
      <Value Culture="fr"><![CDATA[Pause déjeuner à la station de tuk-tuk]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>