<?xml version="1.0" encoding="utf-8"?>
<Content Key="3924bf00-19a9-4e97-8e24-d094bc5f4527" Alias="Un bateau passe,  et se retrouve dans la boîboîte !" Level="104">
  <Info>
    <Parent Key="f4e7fe17-e683-4394-965a-98ba13bbb70d">Autour de Krabi</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/AutourDeKrabi/UnBateauPasseEtSeRetrouveDansLaBoiboite</Path>
    <Trashed Parent="f4e7fe17-e683-4394-965a-98ba13bbb70d">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:06</CreateDate>
    <NodeName Default="Un bateau passe,  et se retrouve dans la boîboîte !">
      <Name Culture="en">A boat is passing by, and it's in the box.</Name>
      <Name Culture="fr">Un bateau passe,  et se retrouve dans la boîboîte !</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b65cbdb677c54936a00180b90c09306f"
      },
      {
        "contentUdi": "umb://element/a443608a451b4c76afe8c4454d709442"
      },
      {
        "contentUdi": "umb://element/4fd1d9cc0d1c46a5a803fdecf811ecee"
      },
      {
        "contentUdi": "umb://element/5cc458288e144ea9b2f48f9436bec21d"
      },
      {
        "contentUdi": "umb://element/1fc5f4f36acd4f35a3fd185df8857245"
      },
      {
        "contentUdi": "umb://element/96fd982f310e45459487432a8dc6a626"
      },
      {
        "contentUdi": "umb://element/d1f82db8f8694f46af4ae603acfd2e72"
      },
      {
        "contentUdi": "umb://element/1fbb9daea56141c3b17604aa7b42f89f"
      },
      {
        "contentUdi": "umb://element/7d60900c72814e3b87e9853b83f17e98"
      },
      {
        "contentUdi": "umb://element/6d7e418acf5e466c9b1d37477da3044b"
      },
      {
        "contentUdi": "umb://element/5661e5ad127d4170bf3d37dc92eeda22"
      },
      {
        "contentUdi": "umb://element/9a5bb110b2e042598aa00d4e63ffb0ea"
      },
      {
        "contentUdi": "umb://element/1b8fcfda067a4891bc514a619f092ebe"
      },
      {
        "contentUdi": "umb://element/d04846ac53634be3bab901eaa50e3857"
      },
      {
        "contentUdi": "umb://element/9f861ce8fbb740eabff466f2e0c38711"
      },
      {
        "contentUdi": "umb://element/bbd341d76d204659868cd6535600e4df"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b65cbdb677c54936a00180b90c09306f",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a443608a451b4c76afe8c4454d709442",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4fd1d9cc0d1c46a5a803fdecf811ecee",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5cc458288e144ea9b2f48f9436bec21d",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fc5f4f36acd4f35a3fd185df8857245",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96fd982f310e45459487432a8dc6a626",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d1f82db8f8694f46af4ae603acfd2e72",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fbb9daea56141c3b17604aa7b42f89f",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7d60900c72814e3b87e9853b83f17e98",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6d7e418acf5e466c9b1d37477da3044b",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5661e5ad127d4170bf3d37dc92eeda22",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9a5bb110b2e042598aa00d4e63ffb0ea",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1b8fcfda067a4891bc514a619f092ebe",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d04846ac53634be3bab901eaa50e3857",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9f861ce8fbb740eabff466f2e0c38711",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bbd341d76d204659868cd6535600e4df",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c16dba8aeec940bcbdb23298b1d59083"
      },
      {
        "contentUdi": "umb://element/475ea185e3a641bcba2131d6491d552b"
      },
      {
        "contentUdi": "umb://element/be23d4ecf5fd47078514e2e0af0548e9"
      },
      {
        "contentUdi": "umb://element/f706b8a6c3fd4373aecc4f79b5e9c780"
      },
      {
        "contentUdi": "umb://element/d80fe6fefcb0495abccf1b5ef09d6777"
      },
      {
        "contentUdi": "umb://element/a1eb9792ac9b473f8128828b1967d0cd"
      },
      {
        "contentUdi": "umb://element/d17a63f8f59843e7892369e71aec18b6"
      },
      {
        "contentUdi": "umb://element/97c9f8d3213b45d99022562e6342b6d7"
      },
      {
        "contentUdi": "umb://element/c9c13c2a15c642dbb3a013fc4e284908"
      },
      {
        "contentUdi": "umb://element/d35f5c98ac0d4b87a8bfac9e1844bab4"
      },
      {
        "contentUdi": "umb://element/c4c62ab02fdd4ffe8744c84f3b75890a"
      },
      {
        "contentUdi": "umb://element/6ee7393cfca24ae3995024630d96d289"
      },
      {
        "contentUdi": "umb://element/38fe0ef5e3ff48eab49bda31e6ccb555"
      },
      {
        "contentUdi": "umb://element/cd0e302adbe54bac8e38a46cb54cc0b9"
      },
      {
        "contentUdi": "umb://element/5105a9df38834b34b77c0979c5a2aaec"
      },
      {
        "contentUdi": "umb://element/419c960c2bd540bc852d6cd3bf0cead0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c16dba8aeec940bcbdb23298b1d59083",
      "value": "plein air",
      "confidence": "0.9964867830276489"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/475ea185e3a641bcba2131d6491d552b",
      "value": "eau",
      "confidence": "0.9949613213539124"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be23d4ecf5fd47078514e2e0af0548e9",
      "value": "ciel",
      "confidence": "0.9880850911140442"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f706b8a6c3fd4373aecc4f79b5e9c780",
      "value": "embarcation",
      "confidence": "0.9876308441162109"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d80fe6fefcb0495abccf1b5ef09d6777",
      "value": "nuage",
      "confidence": "0.9854903221130371"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a1eb9792ac9b473f8128828b1967d0cd",
      "value": "transport",
      "confidence": "0.9809108972549438"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d17a63f8f59843e7892369e71aec18b6",
      "value": "mer",
      "confidence": "0.9562476873397827"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/97c9f8d3213b45d99022562e6342b6d7",
      "value": "bateau",
      "confidence": "0.9435160756111145"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c9c13c2a15c642dbb3a013fc4e284908",
      "value": "coucher de soleil",
      "confidence": "0.9422006607055664"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d35f5c98ac0d4b87a8bfac9e1844bab4",
      "value": "véhicule",
      "confidence": "0.9191312789916992"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4c62ab02fdd4ffe8744c84f3b75890a",
      "value": "plage",
      "confidence": "0.9183606505393982"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6ee7393cfca24ae3995024630d96d289",
      "value": "lac",
      "confidence": "0.9181655645370483"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/38fe0ef5e3ff48eab49bda31e6ccb555",
      "value": "Plaisance",
      "confidence": "0.8918745517730713"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cd0e302adbe54bac8e38a46cb54cc0b9",
      "value": "paysage",
      "confidence": "0.8333302736282349"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5105a9df38834b34b77c0979c5a2aaec",
      "value": "nature",
      "confidence": "0.523982584476471"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/419c960c2bd540bc852d6cd3bf0cead0",
      "value": "océan",
      "confidence": "0.46371757984161377"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>End of the day on a lost beach of Koh Phi Phi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Fin de journée sur une plage perdue de Koh Phi Phi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-31T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a traditional Thai boat floating peacefully on the water near a rock formation in Koh Phi Phi, Thailand. The sky is tinged with golden and orange hues, suggesting a sunset or sunrise.",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un bateau traditionnel thaïlandais flottant paisiblement sur l'eau près d'une formation rocheuse à Koh Phi Phi, Thaïlande. Le ciel est teinté de nuances dorées et orangées, suggérant un coucher ou un lever de soleil."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[{
  "markup": "#KohPhiPhi #Thailand #LongTailBoat #Sunset #Sunrise #ScenicView #Travel #Nature #Serenity",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[#bateau #mer #coucherdesoleil #Thaïlande #KohPhiPhi #paysage]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "9e23c421-137b-49e0-8f8d-17610e9dcd5d",
    "mediaKey": "2ca2ebe1-de6a-4311-94d5-caa0c05a9163"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Koh Phi Phi, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un bateau traditionnel flottant près des rochers sous un ciel doré.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un bateau traditionnel flottant près des rochers sous un ciel doré.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A boat passes, and ends up in the box!]]></Value>
      <Value Culture="fr"><![CDATA[Un bateau thaïlandais au crépuscule de Koh Phi Phi]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/just-passing-by-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/just-passing-by-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "boat",
  "sea",
  "rock",
  "sunset",
  "Thailand",
  "Koh Phi Phi",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "bateau",
  "mer",
  "rocher",
  "coucher de soleil",
  "Thaïlande",
  "Koh Phi Phi",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité d'un bateau traditionnel flottant près des rochers sous un ciel doré.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A boat passes, and ends up in the box!]]></Value>
      <Value Culture="fr"><![CDATA[Un bateau thaïlandais au crépuscule de Koh Phi Phi]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>