<?xml version="1.0" encoding="utf-8"?>
<Content Key="b43f67aa-b45d-41fc-bc6f-437f9811c9b0" Alias="Une balade romantique ?" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/UneBaladeRomantique</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T12:58:50</CreateDate>
    <NodeName Default="Une balade romantique ?">
      <Name Culture="en">A romantic ride?</Name>
      <Name Culture="fr">Une balade romantique ?</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f2efa09f1534040893d838171a16ec6"
      },
      {
        "contentUdi": "umb://element/fbb2356951864282af005ca41c5d96a2"
      },
      {
        "contentUdi": "umb://element/bc4a83cbe15b406e97063f2c6b782ea4"
      },
      {
        "contentUdi": "umb://element/df93b0300175490c8b2da459beb34564"
      },
      {
        "contentUdi": "umb://element/aa899b5b81704c6b8d7e3a621157451b"
      },
      {
        "contentUdi": "umb://element/0bdbff11ed21456e953970998cd75ca9"
      },
      {
        "contentUdi": "umb://element/4b48b530ce534f81acf30c3bf1fa366b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f2efa09f1534040893d838171a16ec6",
      "value": "plein air",
      "confidence": "0.9975830316543579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbb2356951864282af005ca41c5d96a2",
      "value": "arbre",
      "confidence": "0.995319128036499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc4a83cbe15b406e97063f2c6b782ea4",
      "value": "animal",
      "confidence": "0.9918308258056641"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df93b0300175490c8b2da459beb34564",
      "value": "sol",
      "confidence": "0.9907479882240295"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa899b5b81704c6b8d7e3a621157451b",
      "value": "mammifère",
      "confidence": "0.9637017250061035"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bdbff11ed21456e953970998cd75ca9",
      "value": "chien",
      "confidence": "0.7656069993972778"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b48b530ce534f81acf30c3bf1fa366b",
      "value": "rouge",
      "confidence": "0.6000471115112305"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f2efa09f1534040893d838171a16ec6"
      },
      {
        "contentUdi": "umb://element/fbb2356951864282af005ca41c5d96a2"
      },
      {
        "contentUdi": "umb://element/bc4a83cbe15b406e97063f2c6b782ea4"
      },
      {
        "contentUdi": "umb://element/df93b0300175490c8b2da459beb34564"
      },
      {
        "contentUdi": "umb://element/aa899b5b81704c6b8d7e3a621157451b"
      },
      {
        "contentUdi": "umb://element/0bdbff11ed21456e953970998cd75ca9"
      },
      {
        "contentUdi": "umb://element/4b48b530ce534f81acf30c3bf1fa366b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8f2efa09f1534040893d838171a16ec6",
      "value": "plein air",
      "confidence": "0.9975830316543579"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fbb2356951864282af005ca41c5d96a2",
      "value": "arbre",
      "confidence": "0.995319128036499"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bc4a83cbe15b406e97063f2c6b782ea4",
      "value": "animal",
      "confidence": "0.9918308258056641"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/df93b0300175490c8b2da459beb34564",
      "value": "sol",
      "confidence": "0.9907479882240295"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa899b5b81704c6b8d7e3a621157451b",
      "value": "mammifère",
      "confidence": "0.9637017250061035"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0bdbff11ed21456e953970998cd75ca9",
      "value": "chien",
      "confidence": "0.7656069993972778"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b48b530ce534f81acf30c3bf1fa366b",
      "value": "rouge",
      "confidence": "0.6000471115112305"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Charioteer</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Conducteur de char</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a rural scene in Chiang Mai, Thailand. A man is sitting in a cart pulled by two oxen. The cart is equipped with a large red parasol to protect from the sun. The road is dusty and surrounded by dense vegetation, mainly trees and bushes."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une scène rurale à Chiang Mai, en Thaïlande. Un homme est assis dans une charrette tirée par deux bœufs. La charrette est équipée d'un grand parasol rouge pour se protéger du soleil. La route est poussiéreuse et entourée de végétation dense, principalement des arbres et des buissons."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#ChiangMai #Thailand #OxCart #TraditionalTransport #Nature #Forest #Travel]]></Value>
      <Value Culture="fr"><![CDATA[#Thaïlande #ChiangMai #rural #nature #charrette #bœufs]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "94552ade-701b-406f-a265-66b30a42b649",
    "mediaKey": "db38fcaa-79ff-458e-9369-8bb50e3ed301"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de la campagne thaïlandaise avec une promenade en charrette tirée par des bœufs, sous un grand parasol rouge.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de la campagne thaïlandaise avec une promenade en charrette tirée par des bœufs, sous un grand parasol rouge.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[A romantic ride in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Une balade romantique en charrette à Chiang Mai]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/any-romantic-ride--crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/any-romantic-ride--crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Thailand",
  "Chiang Mai",
  "cart",
  "oxen",
  "rural",
  "parasol",
  "nature",
  "vegetation"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Thaïlande",
  "Chiang Mai",
  "charrette",
  "bœufs",
  "rural",
  "parasole",
  "nature",
  "végétation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la sérénité de la campagne thaïlandaise avec une promenade en charrette tirée par des bœufs, sous un grand parasol rouge.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[A romantic ride in Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Une balade romantique en charrette à Chiang Mai]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>