<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccbaf20d-cd0f-481a-aa47-6082307ddb71" Alias="Vendeuse de barbe à papa" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/VendeuseDeBarbeAPapa</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-10T19:46:34</CreateDate>
    <NodeName Default="Vendeuse de barbe à papa">
      <Name Culture="en">Cotton Candy Vendor</Name>
      <Name Culture="fr">Vendeuse de barbe à papa</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa70d4b607a240fb9a023356e3e64bee"
      },
      {
        "contentUdi": "umb://element/4b85b2c5bb6c4d6cadb82259019685d7"
      },
      {
        "contentUdi": "umb://element/561b43e5f4ee4b58b135647a1a68e363"
      },
      {
        "contentUdi": "umb://element/cf3ba8f84167451883d260449a3881fd"
      },
      {
        "contentUdi": "umb://element/72791072006f4bbc808912cb61f80d0e"
      },
      {
        "contentUdi": "umb://element/776ad8fadd81468b9ed1ea9462965b8d"
      },
      {
        "contentUdi": "umb://element/aa8605f2b5c14a7299fc8baebed2a45e"
      },
      {
        "contentUdi": "umb://element/27199def58804468aa0582bb904766ed"
      },
      {
        "contentUdi": "umb://element/51910ae02af0476d986917c8d8869db7"
      },
      {
        "contentUdi": "umb://element/39387f6b96234fc0b18588c0e765018a"
      },
      {
        "contentUdi": "umb://element/01102b302fbf43a3bb5715822af9a641"
      },
      {
        "contentUdi": "umb://element/82712c9d6dd242f9a3a3f574235def75"
      },
      {
        "contentUdi": "umb://element/844bd6bcbc5e455c9c96b618190e2750"
      },
      {
        "contentUdi": "umb://element/262491d4fedc442a8b5fae864c3aa761"
      },
      {
        "contentUdi": "umb://element/68f78bf0ca00487e9739982f42215659"
      },
      {
        "contentUdi": "umb://element/5163b865776b43ed8b130ad23d2858ba"
      },
      {
        "contentUdi": "umb://element/fd33359d994e494e8508f46222114c4c"
      },
      {
        "contentUdi": "umb://element/896a1f659d424403abc3d60fcc47465f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa70d4b607a240fb9a023356e3e64bee",
      "value": "texte",
      "confidence": "0.9578662514686584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b85b2c5bb6c4d6cadb82259019685d7",
      "value": "habits",
      "confidence": "0.9438271522521973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/561b43e5f4ee4b58b135647a1a68e363",
      "value": "Commerce",
      "confidence": "0.9384195804595947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf3ba8f84167451883d260449a3881fd",
      "value": "Vente",
      "confidence": "0.9263266324996948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72791072006f4bbc808912cb61f80d0e",
      "value": "bâtiment",
      "confidence": "0.9222769737243652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/776ad8fadd81468b9ed1ea9462965b8d",
      "value": "personne",
      "confidence": "0.9221739172935486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa8605f2b5c14a7299fc8baebed2a45e",
      "value": "Commerçant",
      "confidence": "0.9139277935028076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27199def58804468aa0582bb904766ed",
      "value": "place de marché",
      "confidence": "0.8872072696685791"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51910ae02af0476d986917c8d8869db7",
      "value": "marché",
      "confidence": "0.8761664032936096"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39387f6b96234fc0b18588c0e765018a",
      "value": "Restauration rapide",
      "confidence": "0.8579248785972595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01102b302fbf43a3bb5715822af9a641",
      "value": "Magasin",
      "confidence": "0.8406839966773987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82712c9d6dd242f9a3a3f574235def75",
      "value": "menu",
      "confidence": "0.8406499624252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/844bd6bcbc5e455c9c96b618190e2750",
      "value": "nourriture",
      "confidence": "0.7856223583221436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/262491d4fedc442a8b5fae864c3aa761",
      "value": "plein air",
      "confidence": "0.7311408519744873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68f78bf0ca00487e9739982f42215659",
      "value": "magasin",
      "confidence": "0.7204514741897583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5163b865776b43ed8b130ad23d2858ba",
      "value": "rue",
      "confidence": "0.6813915967941284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd33359d994e494e8508f46222114c4c",
      "value": "intérieur",
      "confidence": "0.6201097965240479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/896a1f659d424403abc3d60fcc47465f",
      "value": "légume",
      "confidence": "0.5347716212272644"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa70d4b607a240fb9a023356e3e64bee"
      },
      {
        "contentUdi": "umb://element/4b85b2c5bb6c4d6cadb82259019685d7"
      },
      {
        "contentUdi": "umb://element/561b43e5f4ee4b58b135647a1a68e363"
      },
      {
        "contentUdi": "umb://element/cf3ba8f84167451883d260449a3881fd"
      },
      {
        "contentUdi": "umb://element/72791072006f4bbc808912cb61f80d0e"
      },
      {
        "contentUdi": "umb://element/776ad8fadd81468b9ed1ea9462965b8d"
      },
      {
        "contentUdi": "umb://element/aa8605f2b5c14a7299fc8baebed2a45e"
      },
      {
        "contentUdi": "umb://element/27199def58804468aa0582bb904766ed"
      },
      {
        "contentUdi": "umb://element/51910ae02af0476d986917c8d8869db7"
      },
      {
        "contentUdi": "umb://element/39387f6b96234fc0b18588c0e765018a"
      },
      {
        "contentUdi": "umb://element/01102b302fbf43a3bb5715822af9a641"
      },
      {
        "contentUdi": "umb://element/82712c9d6dd242f9a3a3f574235def75"
      },
      {
        "contentUdi": "umb://element/844bd6bcbc5e455c9c96b618190e2750"
      },
      {
        "contentUdi": "umb://element/262491d4fedc442a8b5fae864c3aa761"
      },
      {
        "contentUdi": "umb://element/68f78bf0ca00487e9739982f42215659"
      },
      {
        "contentUdi": "umb://element/5163b865776b43ed8b130ad23d2858ba"
      },
      {
        "contentUdi": "umb://element/fd33359d994e494e8508f46222114c4c"
      },
      {
        "contentUdi": "umb://element/896a1f659d424403abc3d60fcc47465f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa70d4b607a240fb9a023356e3e64bee",
      "value": "texte",
      "confidence": "0.9578662514686584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b85b2c5bb6c4d6cadb82259019685d7",
      "value": "habits",
      "confidence": "0.9438271522521973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/561b43e5f4ee4b58b135647a1a68e363",
      "value": "Commerce",
      "confidence": "0.9384195804595947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cf3ba8f84167451883d260449a3881fd",
      "value": "Vente",
      "confidence": "0.9263266324996948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/72791072006f4bbc808912cb61f80d0e",
      "value": "bâtiment",
      "confidence": "0.9222769737243652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/776ad8fadd81468b9ed1ea9462965b8d",
      "value": "personne",
      "confidence": "0.9221739172935486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/aa8605f2b5c14a7299fc8baebed2a45e",
      "value": "Commerçant",
      "confidence": "0.9139277935028076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/27199def58804468aa0582bb904766ed",
      "value": "place de marché",
      "confidence": "0.8872072696685791"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/51910ae02af0476d986917c8d8869db7",
      "value": "marché",
      "confidence": "0.8761664032936096"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39387f6b96234fc0b18588c0e765018a",
      "value": "Restauration rapide",
      "confidence": "0.8579248785972595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/01102b302fbf43a3bb5715822af9a641",
      "value": "Magasin",
      "confidence": "0.8406839966773987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82712c9d6dd242f9a3a3f574235def75",
      "value": "menu",
      "confidence": "0.8406499624252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/844bd6bcbc5e455c9c96b618190e2750",
      "value": "nourriture",
      "confidence": "0.7856223583221436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/262491d4fedc442a8b5fae864c3aa761",
      "value": "plein air",
      "confidence": "0.7311408519744873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/68f78bf0ca00487e9739982f42215659",
      "value": "magasin",
      "confidence": "0.7204514741897583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5163b865776b43ed8b130ad23d2858ba",
      "value": "rue",
      "confidence": "0.6813915967941284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd33359d994e494e8508f46222114c4c",
      "value": "intérieur",
      "confidence": "0.6201097965240479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/896a1f659d424403abc3d60fcc47465f",
      "value": "légume",
      "confidence": "0.5347716212272644"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Thai cotton candy? No idea what that is</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Barbe a papa Thaie ? Aucune idée de ce que c'est</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an elderly person wearing white clothes and a white hat, preparing fruits in a large white bowl. The scene takes place inside a building with red brick walls and grilled windows. There are several posters and pictures hanging on the wall, as well as a clock. A sign in English reads 'Donation for Worship Set'."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une personne âgée portant des vêtements blancs et un chapeau blanc, préparant des fruits dans un grand bol blanc. La scène se déroule à l'intérieur d'un bâtiment avec des murs en briques rouges et des fenêtres grillagées. Il y a plusieurs affiches et images accrochées au mur, ainsi qu'une horloge. Un panneau en anglais indique 'Donation for Worship Set'."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#WatPhraThatDoiSuthep #ChiangMai #Thailand #foodpreparation #donation #temple #culture #tradition #religion]]></Value>
      <Value Culture="fr"><![CDATA[#WatPhraThatDoiSuthep #ChiangMai #Thaïlande #culture #tradition #préparation #fruits #donation]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "96f5e390-5347-48b5-88cd-b2c4e483f5ae",
    "mediaKey": "a399fb77-7f04-473b-8707-fcd41060675a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Cotton Candy Vendor: An Intriguing Scene]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Barbe à Papa Thaïe]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/wat-phra-that-doi-suthep-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/wat-phra-that-doi-suthep-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "elderly person",
  " fruit preparation",
  " interior",
  " building",
  " brick walls",
  " posters",
  " clock",
  " donation"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "personne âgée",
  "préparation de fruits",
  "intérieur",
  "bâtiment",
  "murs en briques",
  "affiches",
  "horloge",
  "donation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Cotton Candy Vendor: An Intriguing Scene]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Barbe à Papa Thaïe]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>