<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6f350f0-5855-4d99-9c46-e60b094293b7" Alias="Vendeuse de barbe à papa" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/VendeuseDeBarbeAPapa</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Vendeuse de barbe à papa">
      <Name Culture="en">Cotton Candy Vendor</Name>
      <Name Culture="fr">Vendeuse de barbe à papa</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d300325095654020a7d655a00fa7be06"
      },
      {
        "contentUdi": "umb://element/561b959974014886b9d1aa3625ec12e3"
      },
      {
        "contentUdi": "umb://element/b2c2251913864ccaadd50fcef7d90eb1"
      },
      {
        "contentUdi": "umb://element/8e32956ecdbd4374a57db169c4c14e6a"
      },
      {
        "contentUdi": "umb://element/d8eaf5d3cb154b1593bae41145cc90e6"
      },
      {
        "contentUdi": "umb://element/262a7f62e01a457d8f69e1273908aac6"
      },
      {
        "contentUdi": "umb://element/86cef567d6cf46ee9b5a82dd0c00bcba"
      },
      {
        "contentUdi": "umb://element/80ffb52d41fd4e169da01aba6dcf9f41"
      },
      {
        "contentUdi": "umb://element/13c41b4ba21c49c6907cfa8f11acb159"
      },
      {
        "contentUdi": "umb://element/809cef08a8a545baa74afda8203ee163"
      },
      {
        "contentUdi": "umb://element/116000d34c3f4a358efa5baf910bf95c"
      },
      {
        "contentUdi": "umb://element/4b7565169dc6428dbdf9929fbcb7f14e"
      },
      {
        "contentUdi": "umb://element/d919632bd1d24ae896d9322e64b2241a"
      },
      {
        "contentUdi": "umb://element/40a6477b39634beeb5346bc9e3a1286a"
      },
      {
        "contentUdi": "umb://element/1eaf4876bb824abead2df96942e5de55"
      },
      {
        "contentUdi": "umb://element/b5f0aa63adfb4798b11af8dc4549f9d5"
      },
      {
        "contentUdi": "umb://element/8e86eea78f8340cb8dfd021a13219f7c"
      },
      {
        "contentUdi": "umb://element/631b44b683c549bf92d1ad6a5ac195f9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d300325095654020a7d655a00fa7be06",
      "value": "texte",
      "confidence": "0.9578662514686584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/561b959974014886b9d1aa3625ec12e3",
      "value": "habits",
      "confidence": "0.9438271522521973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b2c2251913864ccaadd50fcef7d90eb1",
      "value": "Commerce",
      "confidence": "0.9384195804595947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e32956ecdbd4374a57db169c4c14e6a",
      "value": "Vente",
      "confidence": "0.9263266324996948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d8eaf5d3cb154b1593bae41145cc90e6",
      "value": "bâtiment",
      "confidence": "0.9222769737243652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/262a7f62e01a457d8f69e1273908aac6",
      "value": "personne",
      "confidence": "0.9221739172935486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/86cef567d6cf46ee9b5a82dd0c00bcba",
      "value": "Commerçant",
      "confidence": "0.9139277935028076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/80ffb52d41fd4e169da01aba6dcf9f41",
      "value": "place de marché",
      "confidence": "0.8872072696685791"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/13c41b4ba21c49c6907cfa8f11acb159",
      "value": "marché",
      "confidence": "0.8761664032936096"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/809cef08a8a545baa74afda8203ee163",
      "value": "Restauration rapide",
      "confidence": "0.8579248785972595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/116000d34c3f4a358efa5baf910bf95c",
      "value": "Magasin",
      "confidence": "0.8406839966773987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4b7565169dc6428dbdf9929fbcb7f14e",
      "value": "menu",
      "confidence": "0.8406499624252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/d919632bd1d24ae896d9322e64b2241a",
      "value": "nourriture",
      "confidence": "0.7856223583221436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40a6477b39634beeb5346bc9e3a1286a",
      "value": "plein air",
      "confidence": "0.7311408519744873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1eaf4876bb824abead2df96942e5de55",
      "value": "magasin",
      "confidence": "0.7204514741897583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b5f0aa63adfb4798b11af8dc4549f9d5",
      "value": "rue",
      "confidence": "0.6813915967941284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e86eea78f8340cb8dfd021a13219f7c",
      "value": "intérieur",
      "confidence": "0.6201097965240479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/631b44b683c549bf92d1ad6a5ac195f9",
      "value": "légume",
      "confidence": "0.5347716212272644"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fd312bf7a80d4df1a948ce8317de9952"
      },
      {
        "contentUdi": "umb://element/4f6710eb562e4f0fbdefc7373ec3ae5f"
      },
      {
        "contentUdi": "umb://element/8016370a8011465d9febf754bb659b54"
      },
      {
        "contentUdi": "umb://element/be5b6de01ae84fe79d004d6c7e640b37"
      },
      {
        "contentUdi": "umb://element/8fd97eb784514eeb81c40e0168aa2ff2"
      },
      {
        "contentUdi": "umb://element/8fcd86396dd54a5daf5b9d93900e2e7b"
      },
      {
        "contentUdi": "umb://element/fa70aa27b3644c2a911280afdf8f156d"
      },
      {
        "contentUdi": "umb://element/6dc8520df1b6424784656ef05a186d53"
      },
      {
        "contentUdi": "umb://element/5374d9b3ff8d466e9c81099d91a47ac3"
      },
      {
        "contentUdi": "umb://element/b24d325ff62c4788a0fbbbb6abda57b6"
      },
      {
        "contentUdi": "umb://element/6286e2b4f5954dd4b5e40dcc71ced467"
      },
      {
        "contentUdi": "umb://element/7bc48896d3954b26ac4d361ebf5966ff"
      },
      {
        "contentUdi": "umb://element/42446288d9e946e9828b84a8c0e014e8"
      },
      {
        "contentUdi": "umb://element/6f61056445a8487486876edf71021565"
      },
      {
        "contentUdi": "umb://element/65315d7af35a4e64b643427184283b59"
      },
      {
        "contentUdi": "umb://element/93f220a130b348b089174556b07160d3"
      },
      {
        "contentUdi": "umb://element/888f5cffef6646028dee5d78e2fee613"
      },
      {
        "contentUdi": "umb://element/ba55f43e430d4923b75f51c8be5d7620"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fd312bf7a80d4df1a948ce8317de9952",
      "value": "texte",
      "confidence": "0.9578662514686584"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4f6710eb562e4f0fbdefc7373ec3ae5f",
      "value": "habits",
      "confidence": "0.9438271522521973"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8016370a8011465d9febf754bb659b54",
      "value": "Commerce",
      "confidence": "0.9384195804595947"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/be5b6de01ae84fe79d004d6c7e640b37",
      "value": "Vente",
      "confidence": "0.9263266324996948"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fd97eb784514eeb81c40e0168aa2ff2",
      "value": "bâtiment",
      "confidence": "0.9222769737243652"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fcd86396dd54a5daf5b9d93900e2e7b",
      "value": "personne",
      "confidence": "0.9221739172935486"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fa70aa27b3644c2a911280afdf8f156d",
      "value": "Commerçant",
      "confidence": "0.9139277935028076"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6dc8520df1b6424784656ef05a186d53",
      "value": "place de marché",
      "confidence": "0.8872072696685791"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/5374d9b3ff8d466e9c81099d91a47ac3",
      "value": "marché",
      "confidence": "0.8761664032936096"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b24d325ff62c4788a0fbbbb6abda57b6",
      "value": "Restauration rapide",
      "confidence": "0.8579248785972595"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6286e2b4f5954dd4b5e40dcc71ced467",
      "value": "Magasin",
      "confidence": "0.8406839966773987"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7bc48896d3954b26ac4d361ebf5966ff",
      "value": "menu",
      "confidence": "0.8406499624252319"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/42446288d9e946e9828b84a8c0e014e8",
      "value": "nourriture",
      "confidence": "0.7856223583221436"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6f61056445a8487486876edf71021565",
      "value": "plein air",
      "confidence": "0.7311408519744873"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/65315d7af35a4e64b643427184283b59",
      "value": "magasin",
      "confidence": "0.7204514741897583"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/93f220a130b348b089174556b07160d3",
      "value": "rue",
      "confidence": "0.6813915967941284"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/888f5cffef6646028dee5d78e2fee613",
      "value": "intérieur",
      "confidence": "0.6201097965240479"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ba55f43e430d4923b75f51c8be5d7620",
      "value": "légume",
      "confidence": "0.5347716212272644"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Thai cotton candy? No idea what that is</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Barbe a papa Thaie ? Aucune idée de ce que c'est</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows an elderly person wearing white clothes and a white hat, preparing fruits in a large white bowl. The scene takes place inside a building with red brick walls and grilled windows. There are several posters and pictures hanging on the wall, as well as a clock. A sign in English reads 'Donation for Worship Set'."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une personne âgée portant des vêtements blancs et un chapeau blanc, préparant des fruits dans un grand bol blanc. La scène se déroule à l'intérieur d'un bâtiment avec des murs en briques rouges et des fenêtres grillagées. Il y a plusieurs affiches et images accrochées au mur, ainsi qu'une horloge. Un panneau en anglais indique 'Donation for Worship Set'."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#WatPhraThatDoiSuthep #ChiangMai #Thailand #foodpreparation #donation #temple #culture #tradition #religion]]></Value>
      <Value Culture="fr"><![CDATA[#WatPhraThatDoiSuthep #ChiangMai #Thaïlande #culture #tradition #préparation #fruits #donation]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "96f5e390-5347-48b5-88cd-b2c4e483f5ae",
    "mediaKey": "a399fb77-7f04-473b-8707-fcd41060675a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Cotton Candy Vendor: An Intriguing Scene]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Barbe à Papa Thaïe]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/wat-phra-that-doi-suthep-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/wat-phra-that-doi-suthep-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "elderly person",
  " fruit preparation",
  " interior",
  " building",
  " brick walls",
  " posters",
  " clock",
  " donation"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "personne âgée",
  "préparation de fruits",
  "intérieur",
  "bâtiment",
  "murs en briques",
  "affiches",
  "horloge",
  "donation"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Barbe à papa Thaïe ? Aucune idée de ce que c'est.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Cotton Candy Vendor: An Intriguing Scene]]></Value>
      <Value Culture="fr"><![CDATA[Le Mystère de la Barbe à Papa Thaïe]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>