<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cee4ee4-42f5-49de-afcd-42eff4ee2c87" Alias="Village karen #4" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/VillageKaren4</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:10</CreateDate>
    <NodeName Default="Village karen #4">
      <Name Culture="en">Karen Village #4</Name>
      <Name Culture="fr">Village karen #4</Name>
    </NodeName>
    <SortOrder>45</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8fe7cb938c7342d69b52a6e3a955fac2"
      },
      {
        "contentUdi": "umb://element/fb9fd457be2643cd95b8cdae6eb252ba"
      },
      {
        "contentUdi": "umb://element/653c376d21744b8fb3420a97e91d1a5c"
      },
      {
        "contentUdi": "umb://element/212599e06930421d9524dd842e430882"
      },
      {
        "contentUdi": "umb://element/7a3f8abb7f9e4b75af99f74513a14cf1"
      },
      {
        "contentUdi": "umb://element/9e76cf92ca9b40c5a13898ef93ec5e38"
      },
      {
        "contentUdi": "umb://element/6578596754bc428ab8451f9da99ab452"
      },
      {
        "contentUdi": "umb://element/e761a508f2f04d2180b97bdb9013d88a"
      },
      {
        "contentUdi": "umb://element/c1dcb436a94c4a11804d44f926c51745"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8fe7cb938c7342d69b52a6e3a955fac2",
      "value": "habits",
      "confidence": "0.9868663549423218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fb9fd457be2643cd95b8cdae6eb252ba",
      "value": "instrument de musique",
      "confidence": "0.9822978973388672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/653c376d21744b8fb3420a97e91d1a5c",
      "value": "personne",
      "confidence": "0.9653887748718262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/212599e06930421d9524dd842e430882",
      "value": "Visage humain",
      "confidence": "0.9300862550735474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7a3f8abb7f9e4b75af99f74513a14cf1",
      "value": "guitare",
      "confidence": "0.8587242364883423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9e76cf92ca9b40c5a13898ef93ec5e38",
      "value": "textile",
      "confidence": "0.8473906517028809"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6578596754bc428ab8451f9da99ab452",
      "value": "intérieur",
      "confidence": "0.7670510411262512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e761a508f2f04d2180b97bdb9013d88a",
      "value": "femme",
      "confidence": "0.7344322204589844"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c1dcb436a94c4a11804d44f926c51745",
      "value": "musique",
      "confidence": "0.63612961769104"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4ab8f212bb1d4d668fc214b96f71fc05"
      },
      {
        "contentUdi": "umb://element/6231d98e79f9488c805b703d8837f96e"
      },
      {
        "contentUdi": "umb://element/369d67ee5c9745d3a89fce64e1f55a84"
      },
      {
        "contentUdi": "umb://element/672a5e755ced408eaa76ab27ddf9c1e8"
      },
      {
        "contentUdi": "umb://element/82c5e8b27cc24de3a88a3d2012fdbc69"
      },
      {
        "contentUdi": "umb://element/1014d1fc052f4c1e8adfdbdaea67acaf"
      },
      {
        "contentUdi": "umb://element/473110d7ebbd42a69acbf6847055f147"
      },
      {
        "contentUdi": "umb://element/2eefd74f2d514b23aa2accf8cbbfe3c4"
      },
      {
        "contentUdi": "umb://element/cafd69e457684357878ad33fe0145e70"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4ab8f212bb1d4d668fc214b96f71fc05",
      "value": "habits",
      "confidence": "0.9868663549423218"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/6231d98e79f9488c805b703d8837f96e",
      "value": "instrument de musique",
      "confidence": "0.9822978973388672"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/369d67ee5c9745d3a89fce64e1f55a84",
      "value": "personne",
      "confidence": "0.9653887748718262"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/672a5e755ced408eaa76ab27ddf9c1e8",
      "value": "Visage humain",
      "confidence": "0.9300862550735474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82c5e8b27cc24de3a88a3d2012fdbc69",
      "value": "guitare",
      "confidence": "0.8587242364883423"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1014d1fc052f4c1e8adfdbdaea67acaf",
      "value": "textile",
      "confidence": "0.8473906517028809"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/473110d7ebbd42a69acbf6847055f147",
      "value": "intérieur",
      "confidence": "0.7670510411262512"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2eefd74f2d514b23aa2accf8cbbfe3c4",
      "value": "femme",
      "confidence": "0.7344322204589844"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cafd69e457684357878ad33fe0145e70",
      "value": "musique",
      "confidence": "0.63612961769104"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Joyful Karen girl, happy to share her guitar talents</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Fille karen enjouée, et heureuse de partager ses talents de guitariste</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a smiling woman playing the guitar in a craft market in Chiang Mai, Thailand. She is wearing colorful traditional clothes and brass necklaces around her neck. Behind her, you can see colorful fabrics hanging and wooden craft items on a table."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une femme souriante jouant de la guitare dans un marché artisanal à Chiang Mai, Thaïlande. Elle porte des vêtements traditionnels colorés et des colliers en laiton autour du cou. Derrière elle, on peut voir des tissus colorés suspendus et des objets artisanaux en bois sur une table."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#ChiangMai #Thailand #TraditionalAttire #MarketStall #CulturalHeritage #Handcrafted #Textiles #WoodenCarvings]]></Value>
      <Value Culture="fr"><![CDATA[#femme #guitare #artisanat #marché #ChiangMai #Thaïlande #vêtementstraditionnels #colliersenlaiton #tissuscolorés #objetsenbois]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "0e2aa731-a106-426e-b742-20e6e7e300b9",
    "mediaKey": "258b8d4b-93b5-473c-b62d-979b8097a810"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la joie contagieuse d'une jeune femme Karen, guitare à la main, au cœur d'un marché artisanal à Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Harmonie au Marché: Une Fille Karen et sa Guitare]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Harmony at the Market: A Karen Girl and Her Guitar]]></Value>
      <Value Culture="fr"><![CDATA[Harmonie au Marché: Une Fille Karen et sa Guitare]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/3-karen-village-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/3-karen-village-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "woman",
  "guitar",
  "craft",
  "market",
  "Chiang Mai",
  "Thailand",
  "traditional clothes",
  "brass necklaces",
  "colorful fabrics",
  "wooden items"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "femme",
  "guitare",
  "artisanat",
  "marché",
  "Chiang Mai",
  "Thaïlande",
  "vêtements traditionnels",
  "colliers en laiton",
  "tissus colorés",
  "objets en bois"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la joie contagieuse d'une jeune femme Karen, guitare à la main, au cœur d'un marché artisanal à Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Harmony at the Market: A Karen Girl and Her Guitar]]></Value>
      <Value Culture="fr"><![CDATA[Harmonie au Marché: Une Fille Karen et sa Guitare]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>