<?xml version="1.0" encoding="utf-8"?>
<Content Key="655d0e2d-4fd0-4718-a1d9-7f1b78460873" Alias="Village de Berat #3" Level="104">
  <Info>
    <Parent Key="23eeceed-1a67-4bf9-bf95-93e46f6687c5">Albanie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Albanie/VillageDeBerat3</Path>
    <Trashed Parent="23eeceed-1a67-4bf9-bf95-93e46f6687c5">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Village de Berat #3">
      <Name Culture="en">Berat Village #3</Name>
      <Name Culture="fr">Village de Berat #3</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Ottoman Village</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Village ottoman</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows the picturesque city of Berat in Albania, often called the \"city of a thousand windows.\" The traditional Ottoman houses, with their red-tiled roofs and white facades, are stacked on top of each other on a green hill. At the bottom of the hill, a river runs through the city, with a bridge connecting the two banks. The sky is a bright blue, adding to the beauty of this historic landscape."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre la ville pittoresque de Berat en Albanie, souvent appelée la \"ville aux mille fenêtres\". Les maisons traditionnelles ottomanes, avec leurs toits en tuiles rouges et leurs façades blanches, sont empilées les unes sur les autres sur une colline verdoyante. En bas de la colline, une rivière traverse la ville, avec un pont reliant les deux rives. Le ciel est d'un bleu éclatant, ajoutant à la beauté de ce paysage historique."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Berat #Albania #Architecture #HistoricTown #ScenicView #Travel #OttomanStyle]]></Value>
      <Value Culture="fr"><![CDATA[#Berat #Albanie #ArchitectureOttomane #VilleHistorique #Paysage #Voyage #Tourisme]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "a24be381-86eb-4580-94b4-ec9939af4f75",
    "mediaKey": "c737184d-8432-4313-b157-4556c7f8624a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Berat, Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Berat, Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Berat, la pittoresque ville albanaise aux maisons ottomanes empilées sur une colline verdoyante.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Berat : La Ville aux Mille Fenêtres]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Berat: The City of a Thousand Windows]]></Value>
      <Value Culture="fr"><![CDATA[Berat : La Ville aux Mille Fenêtres]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/ottoman-houses-in-berat-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/ottoman-houses-in-berat-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Berat",
  "Albania",
  "city",
  "traditional houses",
  "Ottoman architecture",
  "river",
  "bridge",
  "hill",
  "landscape"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Berat",
  "Albanie",
  "ville",
  "maisons traditionnelles",
  "architecture ottomane",
  "rivière",
  "pont",
  "colline",
  "paysage"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Berat, la pittoresque ville albanaise aux maisons ottomanes empilées sur une colline verdoyante.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Berat: The City of a Thousand Windows]]></Value>
      <Value Culture="fr"><![CDATA[Berat : La Ville aux Mille Fenêtres]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>