<?xml version="1.0" encoding="utf-8"?>
<Content Key="106edcd6-b9e2-42d2-8c3b-deffbcca8595" Alias="Village de Berat #4" Level="104">
  <Info>
    <Parent Key="23eeceed-1a67-4bf9-bf95-93e46f6687c5">Albanie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Albanie/VillageDeBerat4</Path>
    <Trashed Parent="23eeceed-1a67-4bf9-bf95-93e46f6687c5">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Village de Berat #4">
      <Name Culture="en">Berat Village #4</Name>
      <Name Culture="fr">Village de Berat #4</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>View of an Ottoman village over the rooftops.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Vue d'un village ottoman par dessus les toits.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-06T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows the picturesque town of Berat in Albania. It features a suspension bridge crossing a river, with traditional houses with red-tiled roofs extending over the hills in the background. The town is surrounded by greenery, and the historic architecture is beautifully highlighted by the clear blue sky."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre la ville pittoresque de Berat en Albanie. On y voit un pont suspendu traversant une rivière, avec des maisons traditionnelles aux toits de tuiles rouges s'étendant sur les collines en arrière-plan. La ville est entourée de verdure, et l'architecture historique est bien mise en valeur par le ciel bleu clair."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Berat #Albania #ScenicView #TraditionalArchitecture #Travel #BeautifulDestinations #LandscapePhotography]]></Value>
      <Value Culture="fr"><![CDATA[#Berat #Albanie #Voyage #Tourisme #Architecture #Paysage #Culture #Histoire #Nature #Photographie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "6bd08696-726c-415d-aa00-a4d4c6cfbd96",
    "mediaKey": "1e5d004b-7256-4d19-a7be-8964ef460a5a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Berat, Albanie]]></Value>
      <Value Culture="fr"><![CDATA[Berat, Albanie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la vue imprenable sur Berat, un village ottoman niché entre collines et rivière.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Berat : Joyau Ottoman en Albanie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Berat: Ottoman Jewel in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Berat : Joyau Ottoman en Albanie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-berat-village-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-berat-village-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Berat",
  "Albania",
  "suspension bridge",
  "river",
  "traditional houses",
  "tiled roofs",
  "hills",
  "greenery",
  "historic architecture",
  "blue sky"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Berat",
  "Albanie",
  "pont suspendu",
  "rivière",
  "maisons traditionnelles",
  "toits de tuiles",
  "collines",
  "verdure",
  "architecture historique",
  "ciel bleu"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la vue imprenable sur Berat, un village ottoman niché entre collines et rivière.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Berat: Ottoman Jewel in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Berat : Joyau Ottoman en Albanie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>