<?xml version="1.0" encoding="utf-8"?>
<Content Key="21e4d3f2-88ce-4f4a-97be-314ede6fc257" Alias="Village de Gjirokaster" Level="104">
  <Info>
    <Parent Key="23eeceed-1a67-4bf9-bf95-93e46f6687c5">Albanie</Parent>
    <Path>/[-20]/VoyagezEnImages/Europe/Albanie/VillageDeGjirokaster</Path>
    <Trashed Parent="23eeceed-1a67-4bf9-bf95-93e46f6687c5">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:13</CreateDate>
    <NodeName Default="Village de Gjirokaster">
      <Name Culture="en">Gjirokastër Village</Name>
      <Name Culture="fr">Village de Gjirokaster</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Mountainside village and its Ottoman architecture</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Village a flan de montagne et son architecture ottomane</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a picturesque view of Gjirokastër, a historic town located in Albania. The traditional stone houses with slate roofs are built on the hillside, surrounded by lush vegetation and numerous trees. The sky is blue with a few clouds, adding to the beauty of the scene."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une vue pittoresque de Gjirokastër, une ville historique située en Albanie. Les maisons traditionnelles en pierre avec des toits en ardoise sont construites à flanc de colline, entourées de végétation luxuriante et de nombreux arbres. Le ciel est bleu avec quelques nuages, ajoutant à la beauté de la scène."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Gjirokaster #HillsideTown #TraditionalArchitecture #StoneHouses #OttomanStyle #HistoricTown #ScenicBeauty]]></Value>
      <Value Culture="fr"><![CDATA[#Gjirokaster #Albanie #ArchitectureTraditionnelle #Paysage #VilleHistorique]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "e3e0f525-9e56-431e-baef-7387dc17e6b7",
    "mediaKey": "fa78ac2d-aed4-4cdb-9bea-b673f078dfb0"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Gjirokaster]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokaster]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Gjirokastër, une ville historique aux maisons en pierre perchées sur les collines.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokastër : Un Joyau Ottoman en Albanie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Gjirokastër: An Ottoman Jewel in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokastër : Un Joyau Ottoman en Albanie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/gjirocastle-ottoman-houses-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/gjirocastle-ottoman-houses-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "Gjirokastër",
  "Albania",
  "traditional houses",
  "hill",
  "vegetation",
  "architecture",
  "historic"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "Gjirokastër",
  "Albanie",
  "maisons traditionnelles",
  "colline",
  "végétation",
  "architecture",
  "historique"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez Gjirokastër, une ville historique aux maisons en pierre perchées sur les collines.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Gjirokastër: An Ottoman Jewel in Albania]]></Value>
      <Value Culture="fr"><![CDATA[Gjirokastër : Un Joyau Ottoman en Albanie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>