<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa3eb109-bb26-4598-8516-70d194561412" Alias="Village karen #2" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/VillageKaren2</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Village karen #2">
      <Name Culture="en">Village karen #2</Name>
      <Name Culture="fr">Village karen #2</Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3966299f57e64952a561e75574ecd954"
      },
      {
        "contentUdi": "umb://element/44872a1d7f464e9bafa6cc633f246231"
      },
      {
        "contentUdi": "umb://element/e5535b179b6f4304a30f35b3585b8280"
      },
      {
        "contentUdi": "umb://element/89e48ba56de747e1aa7836bfee3ecfee"
      },
      {
        "contentUdi": "umb://element/ef403b89500141baaecb01c5f170c659"
      },
      {
        "contentUdi": "umb://element/f35fc87a036c418587521edbc467ccf2"
      },
      {
        "contentUdi": "umb://element/8e30477083a747499ee5a6287660ed7a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3966299f57e64952a561e75574ecd954",
      "value": "habits",
      "confidence": "0.9905710220336914"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/44872a1d7f464e9bafa6cc633f246231",
      "value": "Visage humain",
      "confidence": "0.9755794405937195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/e5535b179b6f4304a30f35b3585b8280",
      "value": "personne",
      "confidence": "0.974018931388855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/89e48ba56de747e1aa7836bfee3ecfee",
      "value": "Accessoire de mode",
      "confidence": "0.9560565948486328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef403b89500141baaecb01c5f170c659",
      "value": "femme",
      "confidence": "0.6892109513282776"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f35fc87a036c418587521edbc467ccf2",
      "value": "chapeau",
      "confidence": "0.6024585962295532"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e30477083a747499ee5a6287660ed7a",
      "value": "tissage",
      "confidence": "0.5357519388198853"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ec4ac215d9e4e8195cdc4edd5bcc287"
      },
      {
        "contentUdi": "umb://element/830b02c2739a451b94bc6074255bd72c"
      },
      {
        "contentUdi": "umb://element/a7c5755218f14a0c87c4dd3352b58549"
      },
      {
        "contentUdi": "umb://element/3927c3df6e1343cd85c1e255bc0a7135"
      },
      {
        "contentUdi": "umb://element/96426023db8844da9a91ebede265913d"
      },
      {
        "contentUdi": "umb://element/9822c12c6dbe478ab1764d0adb76beea"
      },
      {
        "contentUdi": "umb://element/40b65ae73234400d8b6c6b9eb8fa173f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1ec4ac215d9e4e8195cdc4edd5bcc287",
      "value": "habits",
      "confidence": "0.9905710220336914"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/830b02c2739a451b94bc6074255bd72c",
      "value": "Visage humain",
      "confidence": "0.9755794405937195"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a7c5755218f14a0c87c4dd3352b58549",
      "value": "personne",
      "confidence": "0.974018931388855"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3927c3df6e1343cd85c1e255bc0a7135",
      "value": "Accessoire de mode",
      "confidence": "0.9560565948486328"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/96426023db8844da9a91ebede265913d",
      "value": "femme",
      "confidence": "0.6892109513282776"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/9822c12c6dbe478ab1764d0adb76beea",
      "value": "chapeau",
      "confidence": "0.6024585962295532"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/40b65ae73234400d8b6c6b9eb8fa173f",
      "value": "tissage",
      "confidence": "0.5357519388198853"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Karen Handicrafts</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>L'artisanat karen</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-11T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a woman hand-weaving at a craft market in Chiang Mai. She is wearing traditional clothing and is surrounded by colorful fabrics hanging in the background. The scene is rich in colors and highlights the local craftsmanship."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une femme en train de tisser à la main dans un marché artisanal à Chiang Mai. Elle porte des vêtements traditionnels et est entourée de tissus colorés suspendus en arrière-plan. La scène est riche en couleurs et met en valeur l'artisanat local."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#Weaving #TraditionalCrafts #ChiangMai #Textiles #Handmade #CulturalHeritage]]></Value>
      <Value Culture="fr"><![CDATA[#femme #tissage #artisanat #ChiangMai #marché #traditionnel #tissus #couleurs]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "47b4f417-9ddf-4971-a64a-ce89ef7e7493",
    "mediaKey": "49ef7982-0253-4465-b9ab-2a3d2f68b3c3"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Chiang Mai]]></Value>
      <Value Culture="fr"><![CDATA[Chiang Mai]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'artisanat karen à travers une scène colorée de tissage traditionnel à Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'artisanat karen à travers une scène colorée de tissage traditionnel à Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Karen Handicrafts: A Colorful Tradition]]></Value>
      <Value Culture="fr"><![CDATA[L'Artisanat Karen : Une Tradition Vivante]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/1-karen-village-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/1-karen-village-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "woman",
  "weaving",
  "handicrafts",
  "Chiang Mai",
  "market",
  "traditional",
  "fabrics",
  "colors"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "femme",
  "tissage",
  "artisanat",
  "Chiang Mai",
  "marché",
  "traditionnel",
  "tissus",
  "couleurs"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez l'artisanat karen à travers une scène colorée de tissage traditionnel à Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Karen Handicrafts: A Colorful Tradition]]></Value>
      <Value Culture="fr"><![CDATA[L'Artisanat Karen : Une Tradition Vivante]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>