<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3ecc5e2-7f65-4525-b7bc-ffb6fef4250e" Alias="Votre panier" Level="5">
  <Info>
    <Parent Key="45facb9b-358d-488e-8418-25f63214ff3c">Main menu</Parent>
    <Path>/Waaw/Data/Menu/MainMenu/VotrePanier</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-08-19T16:28:15</CreateDate>
    <NodeName Default="Votre panier">
      <Name Culture="fr">Votre panier</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <card>
      <Value Culture="fr"><![CDATA[]]></Value>
    </card>
    <icon>
      <Value Culture="fr"><![CDATA[bi bi-basket]]></Value>
    </icon>
    <link>
      <Value Culture="fr"><![CDATA[]]></Value>
    </link>
    <title>
      <Value Culture="fr"><![CDATA[Votre panier]]></Value>
    </title>
  </Properties>
</Content>