<?xml version="1.0" encoding="utf-8"?>
<Content Key="230df739-f55f-4714-b718-26405c2c1e3c" Alias="Voyagez en images" Level="3">
  <Info>
    <Parent Key="a203332c-beb0-4246-9524-42778a471bfd">Accueil</Parent>
    <Path>/Crolow/Accueil/VoyagezEnImages</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaCollectionLandingPage</ContentType>
    <CreateDate>2024-02-29T12:58:38</CreateDate>
    <NodeName Default="Voyagez en images">
      <Name Culture="en">Travel in Pictures</Name>
      <Name Culture="fr">Voyagez en images</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="dcefb3b0-56eb-4ac6-80c8-7422be4e24dc">MediaCollectionLandingPage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/355f274091cb4281bc55a9d4cf1eee8f",
        "areas": [
          {
            "key": "c591a41d-59ca-4ffd-a92f-308c51aff036",
            "items": [
              {
                "contentUdi": "umb://element/a42745568a834b0a87efa49855860bb7",
                "areas": [
                  {
                    "key": "4ec379f0-889f-4cb8-b718-9eacfed941e5",
                    "items": [
                      {
                        "contentUdi": "umb://element/50515b849cdc408b9b1f25ade6ba8c5b",
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "90ecad5e-8207-455b-a389-fe8fe7354627",
                    "items": []
                  },
                  {
                    "key": "8bc687d2-be8e-464d-94cb-f06589a7d0ef",
                    "items": []
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12739e8b-6243-4c61-b483-315f0a03d28d",
      "udi": "umb://element/355f274091cb4281bc55a9d4cf1eee8f",
      "title": "This is content",
      "description": ""
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/50515b849cdc408b9b1f25ade6ba8c5b",
      "title": "Youhou",
      "subtitle": "Ploplop",
      "body": "",
      "image": [
        {
          "key": "52fc2935-6ec8-4c45-b41b-72f1a85f5ce1",
          "mediaKey": "df02ea8a-57ff-49c0-a594-8ffc99d392cf"
        }
      ],
      "links": null
    },
    {
      "contentTypeKey": "5078c49f-3946-43c6-bb96-034f9a0ca77a",
      "udi": "umb://element/a42745568a834b0a87efa49855860bb7",
      "title": "",
      "description": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <documentSummary>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Plongez dans une aventure visuelle où chaque image raconte une histoire unique. 'Voyage en Images' vous emmène aux quatre coins du globe, capturant la beauté et la diversité de notre planète. Préparez-vous à être émerveillé par des paysages à couper le souffle, des cultures fascinantes et des moments inoubliables.",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </documentSummary>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le monde à travers des clichés époustouflants.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le monde à travers des clichés époustouflants.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Travel in Pictures]]></Value>
      <Value Culture="fr"><![CDATA[Voyage en Images]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez le monde à travers des clichés époustouflants.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Travel in Pictures]]></Value>
      <Value Culture="fr"><![CDATA[Voyage en Images]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>