<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fac7052-f4bd-4203-8877-a005d1dbf61e" Alias="Wanna a photo ?" Level="104">
  <Info>
    <Parent Key="924c56d9-cae4-4390-b9aa-c4c6ddf68396">D'Ayutthaya à Ban Rak Thai</Parent>
    <Path>/[-20]/VoyagezEnImages/LaThailande/DAyutthayaABanRakThai/WannaAPhoto</Path>
    <Trashed Parent="924c56d9-cae4-4390-b9aa-c4c6ddf68396">true</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2025-08-18T12:35:09</CreateDate>
    <NodeName Default="Wanna a photo ?">
      <Name Culture="en">Want a photo?</Name>
      <Name Culture="fr">Wanna a photo ?</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b1f313f78d74a039e2e02c8d0a1c1d4"
      },
      {
        "contentUdi": "umb://element/ea8de548c20542e596b7cfae1977c40e"
      },
      {
        "contentUdi": "umb://element/7316156eddbf47d5925ecc2e8d048da3"
      },
      {
        "contentUdi": "umb://element/c4df2e05e73f44a68ce20f5285dc8d70"
      },
      {
        "contentUdi": "umb://element/409c3206e47f42dca0506d9161a954b0"
      },
      {
        "contentUdi": "umb://element/f8ec20619f654c1fa266fdbef9d2caf4"
      },
      {
        "contentUdi": "umb://element/a9252d80fc414da5bdd5f300219df12d"
      },
      {
        "contentUdi": "umb://element/1fc143b6fa004c5880290b0d216a8831"
      },
      {
        "contentUdi": "umb://element/f0605126f28d4f95bbec24232c0cd556"
      },
      {
        "contentUdi": "umb://element/f3e9488e0a8a4dcd891a2f6ac057142d"
      },
      {
        "contentUdi": "umb://element/77e88f9a1ec243b99469bb1a91e5ed20"
      },
      {
        "contentUdi": "umb://element/b975be88d54b45b49128f836c8930db0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0b1f313f78d74a039e2e02c8d0a1c1d4",
      "value": "habits",
      "confidence": "0.9955843687057495"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ea8de548c20542e596b7cfae1977c40e",
      "value": "personne",
      "confidence": "0.9726645946502686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/7316156eddbf47d5925ecc2e8d048da3",
      "value": "plein air",
      "confidence": "0.95811527967453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/c4df2e05e73f44a68ce20f5285dc8d70",
      "value": "Visage humain",
      "confidence": "0.9577641487121582"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/409c3206e47f42dca0506d9161a954b0",
      "value": "temple",
      "confidence": "0.9100222587585449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8ec20619f654c1fa266fdbef9d2caf4",
      "value": "plante",
      "confidence": "0.8994655013084412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a9252d80fc414da5bdd5f300219df12d",
      "value": "fleur",
      "confidence": "0.871943473815918"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1fc143b6fa004c5880290b0d216a8831",
      "value": "sourire",
      "confidence": "0.8626994490623474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f0605126f28d4f95bbec24232c0cd556",
      "value": "femme",
      "confidence": "0.7486361861228943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f3e9488e0a8a4dcd891a2f6ac057142d",
      "value": "fille",
      "confidence": "0.7145236730575562"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/77e88f9a1ec243b99469bb1a91e5ed20",
      "value": "s’asseoir",
      "confidence": "0.7098072171211243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b975be88d54b45b49128f836c8930db0",
      "value": "sol",
      "confidence": "0.5463187098503113"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/60e44929238b460d8561f83d3ea0e0a3"
      },
      {
        "contentUdi": "umb://element/fc74d50018cb4a9393adcc407a971485"
      },
      {
        "contentUdi": "umb://element/87deef68a0fd4d43ba7020e4a85d7821"
      },
      {
        "contentUdi": "umb://element/f8098974bda34efeb9650a233957829d"
      },
      {
        "contentUdi": "umb://element/afd7f683fa484bc9be868d865829e80a"
      },
      {
        "contentUdi": "umb://element/8e1de0fd3cca46a6b98c3eee78e8aea9"
      },
      {
        "contentUdi": "umb://element/2b8c782481eb4c16929284409372ae91"
      },
      {
        "contentUdi": "umb://element/560d060b55744b35aec697b277e6dc70"
      },
      {
        "contentUdi": "umb://element/0ca9ba1a1d31446d91681de0611c6715"
      },
      {
        "contentUdi": "umb://element/ef56a59f7e174ba6bb320fd53176264b"
      },
      {
        "contentUdi": "umb://element/f123bc3b8b9a4ab98a656f0d1745f026"
      },
      {
        "contentUdi": "umb://element/bafa0f2ea4294596a9a10485ec1b631e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/60e44929238b460d8561f83d3ea0e0a3",
      "value": "habits",
      "confidence": "0.9955843687057495"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/fc74d50018cb4a9393adcc407a971485",
      "value": "personne",
      "confidence": "0.9726645946502686"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/87deef68a0fd4d43ba7020e4a85d7821",
      "value": "plein air",
      "confidence": "0.95811527967453"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f8098974bda34efeb9650a233957829d",
      "value": "Visage humain",
      "confidence": "0.9577641487121582"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/afd7f683fa484bc9be868d865829e80a",
      "value": "temple",
      "confidence": "0.9100222587585449"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/8e1de0fd3cca46a6b98c3eee78e8aea9",
      "value": "plante",
      "confidence": "0.8994655013084412"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/2b8c782481eb4c16929284409372ae91",
      "value": "fleur",
      "confidence": "0.871943473815918"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/560d060b55744b35aec697b277e6dc70",
      "value": "sourire",
      "confidence": "0.8626994490623474"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/0ca9ba1a1d31446d91681de0611c6715",
      "value": "femme",
      "confidence": "0.7486361861228943"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/ef56a59f7e174ba6bb320fd53176264b",
      "value": "fille",
      "confidence": "0.7145236730575562"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/f123bc3b8b9a4ab98a656f0d1745f026",
      "value": "s’asseoir",
      "confidence": "0.7098072171211243"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/bafa0f2ea4294596a9a10485ec1b631e",
      "value": "sol",
      "confidence": "0.5463187098503113"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Little Karen begging at the foot of Wat Phra That Doi Suthep</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Petite karen mendiant au pied du Wat Phra That Doi Suthep</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-03-10T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a young girl in colorful traditional costume, sitting near a temple adorned with flowers and mosaics at Wat Phra That Doi Suthep, Chiang Mai, Thailand. She wears a headdress decorated with beads and holds a blue bag. The background is decorated with floral patterns and colorful sculptures."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre une jeune fille en costume traditionnel coloré, assise près d'un temple orné de fleurs et de mosaïques à Wat Phra That Doi Suthep, Chiang Mai, Thaïlande. Elle porte une coiffe ornée de perles et tient un sac bleu. L'arrière-plan est décoré de motifs floraux et de sculptures colorées."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#TraditionalAttire #WatPhraThatDoiSuthep #ChiangMai #Thailand #CulturalHeritage #BeautifulPlaces]]></Value>
      <Value Culture="fr"><![CDATA[#Thaïlande #ChiangMai #WatPhraThatDoiSuthep #CultureTraditionnelle #Voyage #Photographie]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <hint>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </hint>
    <image>
      <Value><![CDATA[[
  {
    "key": "2b702d2d-7409-4dc3-ae7f-a8c26b1f60cd",
    "mediaKey": "14d512a0-26ef-4c6c-acb4-4d01fce6f6f8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
      <Value Culture="fr"><![CDATA[Wat Phra That Doi Suthep, Chiang Mai, Thaïlande]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la touchante image d'une jeune fille en costume traditionnel coloré, assise près d'un temple magnifiquement décoré à Chiang Mai.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la touchante image d'une jeune fille en costume traditionnel coloré, assise près d'un temple magnifiquement décoré à Chiang Mai.]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Little Karen at Wat Phra That Doi Suthep]]></Value>
      <Value Culture="fr"><![CDATA[Rencontre au pied du Wat Phra That Doi Suthep]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/photo-for-money-crolow-pix.html?newartwork=true]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/photo-for-money-crolow-pix.html?newartwork=true]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "girl",
  "traditional costume",
  "temple",
  "flowers",
  "mosaics",
  "Thailand",
  "Wat Phra That Doi Suthep"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "fille",
  "costume traditionnel",
  "temple",
  "fleurs",
  "mosaïques",
  "Thaïlande",
  "Wat Phra That Doi Suthep"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez la touchante image d'une jeune fille en costume traditionnel coloré, assise près d'un temple magnifiquement décoré à Chiang Mai.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Little Karen at Wat Phra That Doi Suthep]]></Value>
      <Value Culture="fr"><![CDATA[Rencontre au pied du Wat Phra That Doi Suthep]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>