<?xml version="1.0" encoding="utf-8"?>
<Content Key="984cd053-7066-4e6e-ad49-a172c3e4c80f" Alias="white poppies #2" Level="6">
  <Info>
    <Parent Key="0c0d5887-9759-4c4e-a9dc-37d86b305b0c">Czechia</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Europe/Czechia/whitePoppies2</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-04-24T14:13:03</CreateDate>
    <NodeName Default="white poppies #2">
      <Name Culture="en">white poppies #2</Name>
      <Name Culture="fr">pavots blancs #2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>A field of white poppies</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Un champ de pavots blancs</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-04-24T00:00:00]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "This image shows a vast field of white flowers in full bloom, stretching as far as the eye can see. The rolling hills in the background are covered with dense green vegetation, creating a striking contrast with the white flowers. The sky is blue with a few scattered clouds, adding a touch of serenity to the scene. The place seems peaceful and natural, probably located in Czechia."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "Cette image montre un vaste champ de fleurs blanches en pleine floraison, s'étendant à perte de vue. Les collines ondulantes en arrière-plan sont couvertes de végétation verte et dense, créant un contraste saisissant avec les fleurs blanches. Le ciel est bleu avec quelques nuages épars, ajoutant une touche de sérénité à la scène. L'endroit semble paisible et naturel, probablement situé en Tchéquie."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#field #flowers #nature #landscape #countryside #Tchéquie #CzechRepublic #serene #picturesque]]></Value>
      <Value Culture="fr"><![CDATA[#champdefleurs #nature #paysage #Tchéquie #fleursblanches #serenité #végétation]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "96e36c65-00e2-45b0-8c33-daeb0c5f1942",
    "mediaKey": "e8a80cbc-2d31-481a-b16b-593b946f85c8"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[Tchéquie]]></Value>
      <Value Culture="fr"><![CDATA[Tchéquie]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un champ de pavots blancs en pleine floraison, contrastant magnifiquement avec des collines verdoyantes sous un ciel serein.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Éclat de Pavots Blancs en Tchéquie]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Burst of White Poppies in Czechia]]></Value>
      <Value Culture="fr"><![CDATA[Éclat de Pavots Blancs en Tchéquie]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/white-po-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/white-po-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "flower field",
  "white flowers",
  "hills",
  "vegetation",
  "landscape",
  "nature",
  "Czechia"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "champ de fleurs",
  "fleurs blanches",
  "collines",
  "végétation",
  "paysage",
  "nature",
  "Tchéquie"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un champ de pavots blancs en pleine floraison, contrastant magnifiquement avec des collines verdoyantes sous un ciel serein.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Burst of White Poppies in Czechia]]></Value>
      <Value Culture="fr"><![CDATA[Éclat de Pavots Blancs en Tchéquie]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>