<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5dab2f2-2e1e-4ba8-a8c1-3a072b63b057" Alias="Wooden Hotel" Level="6">
  <Info>
    <Parent Key="ee2ff54f-fe62-481d-8d17-f8adbe644819">From Ayutthaya to Ban Rak Thai</Parent>
    <Path>/Crolow/Accueil/TravelInPictures/Thailand/FromAyutthayaToBanRakThai/WoodenHotel</Path>
    <Trashed>false</Trashed>
    <ContentType>mediaPage</ContentType>
    <CreateDate>2024-03-11T15:01:28</CreateDate>
    <NodeName Default="Wooden Hotel">
      <Name Culture="en">Wooden Hotel</Name>
      <Name Culture="fr">Hôtel en bois</Name>
    </NodeName>
    <SortOrder>34</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1d7b7107-7ade-4a30-81a4-f7b9a3f21e40">MediaPage</Template>
  </Info>
  <Properties>
    <analyzedCaption>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCaption>
    <analyzedCondensedCaptions>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </analyzedCondensedCaptions>
    <analyzedTags>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/82f7ad09befe42a1b1bc91126c042bae"
      },
      {
        "contentUdi": "umb://element/b65552ea283d40adb3a659134f5a2ea3"
      },
      {
        "contentUdi": "umb://element/a27a3849fae74427a032080246a6e7f3"
      },
      {
        "contentUdi": "umb://element/3b6309bc49384a24ac233a0ab67d17d4"
      },
      {
        "contentUdi": "umb://element/39ba48c495bd464da3ff5f663cc6c4d0"
      },
      {
        "contentUdi": "umb://element/b97f0421528a488da8675d6aefce5444"
      },
      {
        "contentUdi": "umb://element/22469f1f2b734c12bae57d236b7b3d82"
      },
      {
        "contentUdi": "umb://element/1173c93e0b5546848d37e075814259f1"
      },
      {
        "contentUdi": "umb://element/cc0c04436b8f48528087c3849c690e62"
      },
      {
        "contentUdi": "umb://element/4daf378b9a5d44b49697c6578c0743d7"
      },
      {
        "contentUdi": "umb://element/99386afed7db4246a05e20433e98f0b7"
      },
      {
        "contentUdi": "umb://element/3dbef7ed15fa4b0b913e2dce9d2024b3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82f7ad09befe42a1b1bc91126c042bae",
      "value": "plein air",
      "confidence": "0.9969063997268677"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b65552ea283d40adb3a659134f5a2ea3",
      "value": "ciel",
      "confidence": "0.97099769115448"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a27a3849fae74427a032080246a6e7f3",
      "value": "arbre",
      "confidence": "0.9399493932723999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b6309bc49384a24ac233a0ab67d17d4",
      "value": "plante",
      "confidence": "0.9394192695617676"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39ba48c495bd464da3ff5f663cc6c4d0",
      "value": "terrain de jeux",
      "confidence": "0.9059242606163025"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b97f0421528a488da8675d6aefce5444",
      "value": "charrette",
      "confidence": "0.8486648797988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22469f1f2b734c12bae57d236b7b3d82",
      "value": "roue",
      "confidence": "0.845511794090271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1173c93e0b5546848d37e075814259f1",
      "value": "herbe",
      "confidence": "0.8234830498695374"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc0c04436b8f48528087c3849c690e62",
      "value": "en bois",
      "confidence": "0.7667044401168823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4daf378b9a5d44b49697c6578c0743d7",
      "value": "sol",
      "confidence": "0.6229420304298401"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99386afed7db4246a05e20433e98f0b7",
      "value": "parc",
      "confidence": "0.5771780610084534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3dbef7ed15fa4b0b913e2dce9d2024b3",
      "value": "chaise",
      "confidence": "0.5765091776847839"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/82f7ad09befe42a1b1bc91126c042bae"
      },
      {
        "contentUdi": "umb://element/b65552ea283d40adb3a659134f5a2ea3"
      },
      {
        "contentUdi": "umb://element/a27a3849fae74427a032080246a6e7f3"
      },
      {
        "contentUdi": "umb://element/3b6309bc49384a24ac233a0ab67d17d4"
      },
      {
        "contentUdi": "umb://element/39ba48c495bd464da3ff5f663cc6c4d0"
      },
      {
        "contentUdi": "umb://element/b97f0421528a488da8675d6aefce5444"
      },
      {
        "contentUdi": "umb://element/22469f1f2b734c12bae57d236b7b3d82"
      },
      {
        "contentUdi": "umb://element/1173c93e0b5546848d37e075814259f1"
      },
      {
        "contentUdi": "umb://element/cc0c04436b8f48528087c3849c690e62"
      },
      {
        "contentUdi": "umb://element/4daf378b9a5d44b49697c6578c0743d7"
      },
      {
        "contentUdi": "umb://element/99386afed7db4246a05e20433e98f0b7"
      },
      {
        "contentUdi": "umb://element/3dbef7ed15fa4b0b913e2dce9d2024b3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/82f7ad09befe42a1b1bc91126c042bae",
      "value": "plein air",
      "confidence": "0.9969063997268677"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b65552ea283d40adb3a659134f5a2ea3",
      "value": "ciel",
      "confidence": "0.97099769115448"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/a27a3849fae74427a032080246a6e7f3",
      "value": "arbre",
      "confidence": "0.9399493932723999"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3b6309bc49384a24ac233a0ab67d17d4",
      "value": "plante",
      "confidence": "0.9394192695617676"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/39ba48c495bd464da3ff5f663cc6c4d0",
      "value": "terrain de jeux",
      "confidence": "0.9059242606163025"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/b97f0421528a488da8675d6aefce5444",
      "value": "charrette",
      "confidence": "0.8486648797988892"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/22469f1f2b734c12bae57d236b7b3d82",
      "value": "roue",
      "confidence": "0.845511794090271"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/1173c93e0b5546848d37e075814259f1",
      "value": "herbe",
      "confidence": "0.8234830498695374"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/cc0c04436b8f48528087c3849c690e62",
      "value": "en bois",
      "confidence": "0.7667044401168823"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/4daf378b9a5d44b49697c6578c0743d7",
      "value": "sol",
      "confidence": "0.6229420304298401"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/99386afed7db4246a05e20433e98f0b7",
      "value": "parc",
      "confidence": "0.5771780610084534"
    },
    {
      "contentTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "udi": "umb://element/3dbef7ed15fa4b0b913e2dce9d2024b3",
      "value": "chaise",
      "confidence": "0.5765091776847839"
    }
  ],
  "settingsData": []
}]]></Value>
    </analyzedTags>
    <Canonical>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </Canonical>
    <caption>
      <Value Culture="en"><![CDATA[{
  "markup": "<p>Charming small hotel built entirely of wood in northern Thailand</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "<p>Charmant petit hôtel construit entièrement en bois au nord de la Thaïlande</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </caption>
    <content>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <description>
      <Value Culture="en"><![CDATA[{
  "markup": "The image shows a traditional village with wooden and thatched huts. The structures are made of natural materials like wood and branches. The village is surrounded by dense vegetation and trees, and the atmosphere seems misty, suggesting a humid or early morning climate."
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "markup": "L'image montre un village traditionnel avec des huttes en bois et en chaume. Les structures sont faites de matériaux naturels comme le bois et les branches. Le village est entouré de végétation dense et d'arbres, et l'atmosphère semble brumeuse, suggérant un climat humide ou matinal."
}]]></Value>
    </description>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hashtags>
      <Value Culture="en"><![CDATA[#rustic #outdoorliving #traditionalarchitecture #nature #serene #woodenstructures #bamboo #misty]]></Value>
      <Value Culture="fr"><![CDATA[#villageTraditionnel #huttesEnBois #nature #végétation #brume #climatHumide]]></Value>
    </hashtags>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "3f5038c6-b555-4f22-bd4b-398518d68cee",
    "mediaKey": "60dd956c-6ae4-4752-b874-dc26e0b3d150"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </location>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un charmant hôtel en bois niché dans un village traditionnel thaïlandais, entouré de végétation luxuriante et d'une atmosphère brumeuse.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Hôtel en Bois : Un Havre de Sérénité au Nord de la Thaïlande]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="en"><![CDATA[Wooden Hotel: A Haven of Serenity in Northern Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Hôtel en Bois : Un Havre de Sérénité au Nord de la Thaïlande]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </pageTitle>
    <saleUrl>
      <Value Culture="en"><![CDATA[https://fineartamerica.com/featured/cosy-hotel-made-in-wood-near-wat-tham-lod-crolow-pix.html]]></Value>
      <Value Culture="fr"><![CDATA[https://fineartamerica.com/featured/cosy-hotel-made-in-wood-near-wat-tham-lod-crolow-pix.html]]></Value>
    </saleUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <tags>
      <Value Culture="en"><![CDATA[[
  "traditional village",
  "wooden huts",
  "thatched",
  "natural materials",
  "vegetation",
  "trees",
  "mist"
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  "village traditionnel",
  "huttes en bois",
  "chaume",
  "matériaux naturels",
  "végétation",
  "arbres",
  "brume"
]]]></Value>
    </tags>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[Découvrez un charmant hôtel en bois niché dans un village traditionnel thaïlandais, entouré de végétation luxuriante et d'une atmosphère brumeuse.]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="en"><![CDATA[Wooden Hotel: A Haven of Serenity in Northern Thailand]]></Value>
      <Value Culture="fr"><![CDATA[Hôtel en Bois : Un Havre de Sérénité au Nord de la Thaïlande]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>