@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentPage>
@{
    Layout = "master.cshtml";
}

<section class="section section">
    @await Html.GetBlockGridHtmlAsync(Model.Content)
</section>
