@using Crolow.Cms.Core.HtmlHelpers.Dictionary
@using Crolow.Cms.Core.Models.ViewModel.Custom
@using Crolow.Cms.Core.Models.ViewModel.Media
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<object>>

@if (Model != null && Model.Any())
{
    var firstItem = Model?.FirstOrDefault() as HeaderRollupModel;

    <div class="rollup @(string.IsNullOrEmpty(firstItem.CssClass) ? "banner" : firstItem.CssClass)">
        <img src="@firstItem.Image" />
        <div class="punchline-container">
            @foreach (var s in firstItem.Items)
            {
                <div class="punchline">@s</div>
            }
        </div>
    </div>
}

