<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97dd0063-96ef-41fc-b7b8-5e9561d1b8a8" Alias="Analyzer result items" Level="2">
  <Info>
    <Name>Analyzer result items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d51bfc3a-1194-4edc-aca4-24b6ca97fc6d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{value}} - {{confidence}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>