<?xml version="1.0" encoding="utf-8"?>
<DataType Key="169e51ad-6d42-458a-b34e-155f143a9d55" Alias="Custom component selector" Level="2">
  <Info>
    <Name>Custom component selector</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Content+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "customComponent,pageElementComponent",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/dataFolder/customComponentsFolder",
    "type": "content"
  }
}]]></Config>
</DataType>