<?xml version="1.0" encoding="utf-8"?>
<DataType Key="628f2d5b-acaf-40c6-adc8-3f404b90562e" Alias="Product tags" Level="2">
  <Info>
    <Name>Product tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Product tags",
  "StorageType": 1
}]]></Config>
</DataType>