<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b3c34de-85a6-4e36-8323-c4b22bcb9942" Alias="Product category" Level="2">
  <Info>
    <Name>Product category</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "ProductCategory",
  "StorageType": 1
}]]></Config>
</DataType>