<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e9950d8-320d-4b38-a166-3371000f5792" Alias="SEO - Facebook Object Type - Dropdown" Level="1">
  <Info>
    <Name>SEO - Facebook Object Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "website"
    },
    {
      "id": 2,
      "value": "article"
    },
    {
      "id": 3,
      "value": "business.business"
    },
    {
      "id": 4,
      "value": "place"
    },
    {
      "id": 5,
      "value": "product"
    },
    {
      "id": 6,
      "value": "product.group"
    },
    {
      "id": 7,
      "value": "product.item"
    },
    {
      "id": 8,
      "value": "profile"
    },
    {
      "id": 9,
      "value": "video.other"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>