<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bf1af9e-b373-44cb-939a-901334d596d9" Alias="SEO - Facebook Locale - Dropdown" Level="1">
  <Info>
    <Name>SEO - Facebook Locale - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "en_GB"
    },
    {
      "id": 2,
      "value": "en_US"
    },
    {
      "id": 3,
      "value": "ar_AR"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>