<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa91b995-1756-4dd7-951f-9bf9278e44ee" Alias="SEO - Search Engine Relative Priority - Slider" Level="1">
  <Info>
    <Name>SEO - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>