<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb0b881d-65ac-4b82-b68b-8290da71559e" Alias="SEO - Twitter Card Type - Dropdown" Level="1">
  <Info>
    <Name>SEO - Twitter Card Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "summary"
    },
    {
      "id": 2,
      "value": "summary_large_image"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>