<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01544eef-487d-4275-a49a-56e39de7a13d" Alias="Upload Icon" Level="1">
  <Info>
    <Name>Upload Icon</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "ico"
    }
  ]
}]]></Config>
</DataType>