$tpt-yellow:#E8C529;
$tpt-brown: #6E2C18;

$white: #FFF;
$gray-100: darken($tpt-brown, 10%);
$gray-200: darken($tpt-brown, 20%);
$gray-300: darken($tpt-brown, 30%);
$gray-400: darken($tpt-brown, 40%);
$gray-500: darken($tpt-brown, 50%);
$gray-600: darken($tpt-brown, 60%);
$gray-700: darken($tpt-brown, 70%);
$gray-800: darken($tpt-brown, 80%);
$gray-900: darken($tpt-brown, 90%);
$black: #000;
$blue: #DF691A;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #f0ad4e;
$green: #5cb85c;
$teal: #20c997;
$cyan: #5bc0de;
$primary: $blue;
$secondary: $gray-200;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: lighten($gray-200, 35%);
$dark: $gray-200;
$yiq-contrasted-threshold: 185;
$body-bg: $tpt-brown;
$body-color: darken($white,30%);
$border-radius: 0.8rem;
$border-radius-lg: 0.8rem;
$border-radius-sm: 0.8rem;
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-muted: rgba(255,255,255,.4);
$table-accent-bg: rgba($white,.05);
$table-hover-bg: rgba($white,.075);
$table-border-color: rgba($black,.15);
$table-head-bg: $light;
$table-dark-bg: $light;
$table-dark-border-color: $gray-200;
$table-dark-color: $body-bg;
$input-border-color: transparent;
$input-group-addon-color: $body-color;
$custom-file-button-color: $white;
$custom-file-border-color: $gray-200;
$dropdown-bg: $gray-200;
$dropdown-divider-bg: rgba($black,.15);
$dropdown-link-color: $tpt-yellow;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $table-hover-bg;
$nav-link-disabled-color: rgba(255,255,255,.4);
$nav-tabs-border-color: $gray-200;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color: $gray-200;
$navbar-padding-y: 0.25rem;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;
$pagination-color: $white;
$pagination-bg: $gray-200;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: $nav-link-disabled-color;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-color: $nav-link-disabled-color;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-border-color;
$modal-content-bg: $gray-200;
$modal-header-border-color: rgba(0,0,0,.2);
$popover-bg: $gray-200;
$popover-header-bg: $table-hover-bg;
$list-group-bg: $gray-200;
$list-group-border-color: transparent;
$list-group-hover-bg: $nav-link-disabled-color;
$list-group-disabled-color: $nav-link-disabled-color;
$list-group-action-color: $white;
$list-group-action-hover-color: $white;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$pre-color: inherit;

$card-cap-color: $tpt-brown;
$card-cap-bg: rgba($tpt-yellow,0.5);
$card-bg: lighten($tpt-brown, 10%);
$card-color:white;

$carousel-background-caption-color: rgba($tpt-yellow,0.5);

