<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8376d5e-7eec-40e0-ad50-04036205f53d" Alias="cardFolder" Level="3">
  <Info>
    <Name>Card folder</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data/Cards</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a8376d5e-7eec-40e0-ad50-04036205f53d" SortOrder="0">cardFolder</ContentType>
    <ContentType Key="15f9e877-d905-4779-a6a0-bf20d9322465" SortOrder="1">basicCard</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>