<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eeeb6db0-b906-44aa-bc8f-770e90c169b9" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="46708a70-9d10-4ec8-aa6f-f97230ec95e8">basePage</Composition>
      <Composition Key="35d3d329-caad-4632-ba0b-153f3b84408b">blockGridContent</Composition>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">sEO</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b5ad370-db6a-43f6-9798-944106577190" SortOrder="0">redirectionsFolder</ContentType>
    <ContentType Key="ca01f2ad-4fde-42ff-9952-76629e8c1780" SortOrder="1">blockGrid</ContentType>
    <ContentType Key="f20ec6e5-d2c4-4bc9-b4b7-dbfdf12ae351" SortOrder="2">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>