<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7e12445-580a-4c50-9bc6-99c79ea8b7a1" Alias="menuFolder" Level="3">
  <Info>
    <Name>Menu folder</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data/Menus</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3418b3e1-b2c8-41d2-bf0d-a69d6fd7d202" SortOrder="0">menuItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>