<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d25884b7-7963-4b31-8814-cb417d839e87" Alias="settingsFolder" Level="2">
  <Info>
    <Name>SettingsFolder</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cfa16429-dc51-4145-af6b-28b1be43ae2d" SortOrder="0">layoutSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>