<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="298d9628-cdbc-4aa9-835f-6dc230e92b4c" Alias="webSite" Level="2">
  <Info>
    <Name>Web site</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Crolow+website</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="930321ef-bd32-4711-89d3-bd5abb6b5ae7" SortOrder="0">dataFolder</ContentType>
    <ContentType Key="eeeb6db0-b906-44aa-bc8f-770e90c169b9" SortOrder="1">homePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f7bc11e2-ea93-4c1b-8e55-336e2625ebf6</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2fdf3d79-4f34-4dc6-99d2-52676d87da14</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>