<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2085b78-a9f2-4592-9bee-e2ca079a8182" Alias="Crolow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Crolow</Path>
    <Trashed>false</Trashed>
    <ContentType>webSite</ContentType>
    <CreateDate>2024-12-30T19:21:55</CreateDate>
    <NodeName Default="Crolow" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <theme>
      <Value><![CDATA[crolow]]></Value>
    </theme>
  </Properties>
</Content>