.card {
    .calendar {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .card-body {
        padding: 5px 20px 1.25rem 20px;
    }
}

.card {
    img {
        display: block;
    }

    .card-body {
        p {
            margin: 0px;
        }
    }
}

// Fix IE 11 bug
* {
    min-height: 0.01px;
}

.card-img {
    img {
        width: 100%;
        height: auto;
        display: block !important;
    }
}


.card-img, .card-img-top, .card-img-bottom {
    border-radius:0px;
}

