

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .carousel-caption {
        bottom: auto;
        right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        h3 {
            font-size: 1.25rem;
        }
    }
}


.carousel-control-prev, .carousel-control-next {
    top: 0px;
    bottom: 100px;
}

.carousel-indicators {
    display: none;
}


header .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

