
.calendar {
    font-size: 0.75rem;
    width: 70px;
    padding: 5px;
    margin-right: 10px;

    position: absolute;
    top: 0px;
    left: 0px;

    .day {
        display: block;
        width: 50px;
        background-color: red;
        text-align: center;
    }

    .month {
        display: block;
        width: 50px;
        background-color: white;
        color: black;
        text-align: center
    }
}
