<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b40e3df-4ace-4f55-aef3-cace36a5c132" Alias="Crolow.Comments" Level="1">
  <Info>
    <Parent>Crolow</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Comments</Translation>
    <Translation Language="fr">Commentaires</Translation>
  </Translations>
</Dictionary>