<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d8441076-5557-49f2-b156-327291e9381d" Alias="Crolow.Comments.NewsLetter" Level="1">
  <Info>
    <Parent>Crolow</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Subscribe to our newsletter</Translation>
    <Translation Language="fr">Inscrivez-vous à notre newsletter</Translation>
  </Translations>
</Dictionary>