<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97bc7776-8bc6-4dd5-b216-c157c201206f" Alias="Crolow.Comments.YourEmail" Level="1">
  <Info>
    <Parent>Crolow</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Your e-mail</Translation>
    <Translation Language="fr">Votre e-mail</Translation>
  </Translations>
</Dictionary>