<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7eb7636-6145-4ca3-bbac-526d6013e9d9" Alias="Crolow.Comments.Message" Level="1">
  <Info>
    <Parent>Crolow</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Message</Translation>
    <Translation Language="fr">Message</Translation>
  </Translations>
</Dictionary>