<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="85914a33-9224-401f-9541-9f5cd064d56b" Alias="Crolow.BuyLabel" Level="1">
  <Info>
    <Parent>Crolow</Parent>
  </Info>
  <Translations>
    <Translation Language="en">Purchase a licence and download the image</Translation>
    <Translation Language="fr">Obtenez une licence et téléchargez l'image</Translation>
  </Translations>
</Dictionary>