<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8cde42c8-0e5f-485c-b655-94979e368162" Alias="Global.CTA.ViewDetail" Level="2">
  <Info>
    <Parent>Global.CTA</Parent>
  </Info>
  <Translations>
    <Translation Language="en">View detail</Translation>
    <Translation Language="en-US"></Translation>
    <Translation Language="fr">Voir le détail</Translation>
  </Translations>
</Dictionary>