<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4522d59a-4ea5-40fd-b080-968886608fea" Alias="Products.ViewAllProducts" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="fr">Parcourir tous nos produits</Translation>
  </Translations>
</Dictionary>