<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a8f9e41e-711f-4c5f-a9b2-6721ee445ec5" Alias="Products.ViewCategory" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en"></Translation>
    <Translation Language="fr">Notre offre</Translation>
  </Translations>
</Dictionary>