@using Crolow.Cms.Core.Models.Umbraco;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentPage>
@{
    Layout = "MasterTemplate.cshtml";
}

<section class="container">
@await Component.InvokeAsync("breadcrumb", Umbraco.AssignedContentItem)
    @await Html.GetBlockGridHtmlAsync(Model.Content)
</section>

