<?xml version="1.0" encoding="utf-8"?>
<Media Key="2723542a-96ce-4069-b46b-a69f1a2f1cd6" Alias="0 I Want A Background Using African Colors And Patte Esrgan V1 X2plus (4)" Level="4">
  <Info>
    <Parent Key="c931ac5c-44ae-4626-b224-9fcdeecb0c06">African dreams</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanDreams/IWantABackgroundUsingAfricanColorsAndPatteEsrganV1X2plus4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T23:39:38</CreateDate>
    <NodeName Default="0 I Want A Background Using African Colors And Patte Esrgan V1 X2plus (4)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/frkcgj4o/0_i-want-a-background-using-african-colors-and-patte_esrgan-v1-x2plus-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>