<?xml version="1.0" encoding="utf-8"?>
<Media Key="e78aef59-1703-40d6-8b3c-08ec504fa716" Alias="African Village 10" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanVillage10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-19T13:27:53</CreateDate>
    <NodeName Default="African Village 10" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l5xjvzyd/african-village-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>