<?xml version="1.0" encoding="utf-8"?>
<Media Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7" Alias="African villages" Level="3">
  <Info>
    <Parent Key="a8ec8844-d874-4031-a151-1c56bc35cf1d">Virtual world</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-19T13:27:39</CreateDate>
    <NodeName Default="African villages" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>