<?xml version="1.0" encoding="utf-8"?>
<Media Key="ead2a536-8f94-4e4a-ac7a-8d7e7734d2fa" Alias="African Desertt 7" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanDesertt7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-20T15:33:19</CreateDate>
    <NodeName Default="African Desertt 7" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gcsnf0uu/african-desertt-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>