<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e2a1aea-a7f1-4cc6-920d-ed06efbe50b3" Alias="African Village 14" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanVillage14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-19T13:27:52</CreateDate>
    <NodeName Default="African Village 14" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3qnculxr/african-village-14.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>