<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd9aab46-8887-48e2-9f13-a0a807c7d963" Alias="African Village 18" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanVillage18</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-19T13:27:56</CreateDate>
    <NodeName Default="African Village 18" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/icvjv5mh/african-village-18.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>