<?xml version="1.0" encoding="utf-8"?>
<Media Key="935bbc47-c057-4ddb-b73f-901ba8b64e47" Alias="African Village 3" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanVillage3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-19T13:27:56</CreateDate>
    <NodeName Default="African Village 3" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ig4fxe0x/african-village-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>