<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5816ccb-27c5-497c-99c1-bb51b48788e6" Alias="African Desertt 2" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanDesertt2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-20T15:33:19</CreateDate>
    <NodeName Default="African Desertt 2" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zvwid3of/african-desertt-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>