<?xml version="1.0" encoding="utf-8"?>
<Media Key="35263aa6-5fe0-4cf6-9794-46e6d130ecf7" Alias="African Desertt 8" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanDesertt8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-20T15:33:18</CreateDate>
    <NodeName Default="African Desertt 8" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ua3cmnpa/african-desertt-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>