<?xml version="1.0" encoding="utf-8"?>
<Media Key="7749f38e-90ec-4eb7-97a4-337c79948e5f" Alias="African Village 15" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanVillage15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-19T13:27:53</CreateDate>
    <NodeName Default="African Village 15" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rdzfs35m/african-village-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>