<?xml version="1.0" encoding="utf-8"?>
<Media Key="977a5c49-9977-4caf-acb6-e77fab8f2505" Alias="African Desertt 9" Level="4">
  <Info>
    <Parent Key="61ca565d-8e61-4079-a0a4-0f02e1c190e7">African villages</Parent>
    <Path>/Catalogue/VirtualWorld/AfricanVillages/AfricanDesertt9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-20T15:33:18</CreateDate>
    <NodeName Default="African Desertt 9" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3ohvf1x/african-desertt-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>