<?xml version="1.0" encoding="utf-8"?>
<Media Key="d69a941e-cdf0-4e36-a2fe-02b782cc01af" Alias="Albania" Level="2">
  <Info>
    <Parent Key="eaf3b73c-3918-460e-ac3c-8c887dfe0704">Catalogue</Parent>
    <Path>/Catalogue/Albania</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-24T13:24:14</CreateDate>
    <NodeName Default="Albania" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>