<?xml version="1.0" encoding="utf-8"?>
<Media Key="58072a34-1f21-4838-96cb-126fb963585d" Alias="Bague" Level="4">
  <Info>
    <Parent Key="d7ae1cac-2a4c-4b33-a626-f3d742be2f7f">Rings</Parent>
    <Path>/Waaw/Products/Rings/Bague</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T14:54:33</CreateDate>
    <NodeName Default="Bague" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/givaowbb/bague.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>