<?xml version="1.0" encoding="utf-8"?>
<Media Key="271a895d-042f-40c4-b65f-7ae531970722" Alias="Belgium" Level="2">
  <Info>
    <Parent Key="eaf3b73c-3918-460e-ac3c-8c887dfe0704">Catalogue</Parent>
    <Path>/Catalogue/Belgium</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-11T21:15:59</CreateDate>
    <NodeName Default="Belgium" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>