<?xml version="1.0" encoding="utf-8"?>
<Media Key="89638bc5-2081-4d69-a4d1-6101c0ee24e0" Alias="Bracelets" Level="3">
  <Info>
    <Parent Key="aa892549-9b2c-433d-aaab-57c18910315b">Products</Parent>
    <Path>/Waaw/Products/Bracelets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-21T15:08:13</CreateDate>
    <NodeName Default="Bracelets" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>