<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1ca18c5-cd1f-4c51-abaf-d2bafdbfcb3c" Alias="Cards" Level="2">
  <Info>
    <Parent Key="cf5b22f8-c56d-4ad5-b930-7ada35bd4378">Waaw</Parent>
    <Path>/Waaw/Cards</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-20T12:45:27</CreateDate>
    <NodeName Default="Cards" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>