<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaf3b73c-3918-460e-ac3c-8c887dfe0704" Alias="Catalogue" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Catalogue</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-11T21:15:34</CreateDate>
    <NodeName Default="Catalogue" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>