<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2a2eb76-a307-493c-b410-13b7666034f2" Alias="Chatgpt Image Aug 23, 2025, 10 04 05 AM" Level="4">
  <Info>
    <Parent Key="a11993fc-1aed-4670-8307-65c1ade8727c">earrings</Parent>
    <Path>/Waaw/Products/earrings/ChatgptImageAug232025100405AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-23T10:04:34</CreateDate>
    <NodeName Default="Chatgpt Image Aug 23, 2025, 10 04 05 AM" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/odvlfmqh/chatgpt-image-aug-23-2025-10_04_05-am.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>