<?xml version="1.0" encoding="utf-8"?>
<Media Key="85e473f3-6958-4f1e-a1b0-6e42f58b22fd" Alias="Chatgpt Image Aug 24, 2025, 12 40 37 PM 2" Level="2">
  <Info>
    <Parent Key="cf5b22f8-c56d-4ad5-b930-7ada35bd4378">Waaw</Parent>
    <Path>/Waaw/ChatgptImageAug242025124037PM2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T20:35:03</CreateDate>
    <NodeName Default="Chatgpt Image Aug 24, 2025, 12 40 37 PM 2" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4vzpjbky/chatgpt-image-aug-24-2025-12_40_37-pm-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>