<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c14f3f1-bc50-46e2-bd24-714f57a5e563" Alias="Chatgpt Image Aug 23, 2025, 10 07 24 AM" Level="4">
  <Info>
    <Parent Key="89638bc5-2081-4d69-a4d1-6101c0ee24e0">Bracelets</Parent>
    <Path>/Waaw/Products/Bracelets/ChatgptImageAug232025100724AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-23T10:08:45</CreateDate>
    <NodeName Default="Chatgpt Image Aug 23, 2025, 10 07 24 AM" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/45zbidcq/chatgpt-image-aug-23-2025-10_07_24-am.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>