<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ef9d5f8-2db9-45ce-914c-32883c8ca957" Alias="Chatgpt Image Aug 22, 2025, 11 41 01 AM" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ChatgptImageAug222025114101AM</Path>
    <Trashed Parent="89638bc5-2081-4d69-a4d1-6101c0ee24e0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-23T09:59:09</CreateDate>
    <NodeName Default="Chatgpt Image Aug 22, 2025, 11 41 01 AM" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/51kpsxvz/chatgpt-image-aug-22-2025-11_41_01-am.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>