<?xml version="1.0" encoding="utf-8"?>
<Media Key="90973592-b1ba-4603-8e62-65eea3ae214e" Alias="Chatgpt Image Aug 23, 2025, 09 58 14 AM" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ChatgptImageAug232025095814AM</Path>
    <Trashed Parent="89e7a3c3-c5ed-48c8-815f-60af7e0ba142">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-23T10:09:39</CreateDate>
    <NodeName Default="Chatgpt Image Aug 23, 2025, 09 58 14 AM" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sq0jpef0/chatgpt-image-aug-23-2025-09_58_14-am.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>