<?xml version="1.0" encoding="utf-8"?>
<Media Key="58df07e1-c29d-48ce-93cc-80358c75ce65" Alias="Collier" Level="4">
  <Info>
    <Parent Key="89e7a3c3-c5ed-48c8-815f-60af7e0ba142">necklaces</Parent>
    <Path>/Waaw/Products/necklaces/Collier</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T14:57:15</CreateDate>
    <NodeName Default="Collier" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22dn4we3/collier.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>