<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9b04a35-4848-4c03-bdb2-2ba0c5aa9b78" Alias="DSC 3484" Level="5">
  <Info>
    <Parent Key="67b126f3-e537-4067-939d-637c18ca2cae">street life</Parent>
    <Path>/Catalogue/Belgium/Brussels/streetLife/DSC3484</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:25</CreateDate>
    <NodeName Default="DSC 3484" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gnflboki/dsc_3484.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>