<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb5c4e9-2c95-4f2f-96da-dffe1632bb39" Alias="DSC 3474" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3474</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:26</CreateDate>
    <NodeName Default="DSC 3474" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/35clkxuv/dsc_3474.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>