<?xml version="1.0" encoding="utf-8"?>
<Media Key="f52f37dc-0f38-4496-a055-ef640b2e39f2" Alias="DSC 2117" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC2117</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:40</CreateDate>
    <NodeName Default="DSC 2117" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1i1d53jy/dsc_2117.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>