<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e133e35-f97e-4c57-9a13-5c4a528bcc41" Alias="DSC 3224" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3224</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:28</CreateDate>
    <NodeName Default="DSC 3224" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gm5bg1t4/dsc_3224.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>