<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f10c988-fd15-4bc6-972d-1e3741919299" Alias="DSC 2237 Nikexp" Level="5">
  <Info>
    <Parent Key="4fac3580-d940-4d89-ad2b-867e1feaff20">Parc et nature</Parent>
    <Path>/Catalogue/Belgium/Brussels/ParcEtNature/DSC2237Nikexp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:30</CreateDate>
    <NodeName Default="DSC 2237 Nikexp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r1ebadyv/dsc_2237_nikexp.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>