<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9528851-75a0-46bc-bb20-0db68c81686f" Alias="DSC 1850" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1850</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:37</CreateDate>
    <NodeName Default="DSC 1850" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k4effwna/dsc_1850.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>