<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93068ff-46db-4b32-b2fe-6439b8a91aae" Alias="DSC 3622" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3622</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:39</CreateDate>
    <NodeName Default="DSC 3622" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5fudboo1/dsc_3622.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>