<?xml version="1.0" encoding="utf-8"?>
<Media Key="a54b6b7e-fe75-4db4-b9ef-0cc4ed788d2b" Alias="DSC 3157" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:29</CreateDate>
    <NodeName Default="DSC 3157" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pbvfxjlv/dsc_3157.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>