<?xml version="1.0" encoding="utf-8"?>
<Media Key="de5289cc-9c85-4705-b928-24201ed97286" Alias="DSC 1823" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1823</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1823" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zkeffxuf/dsc_1823.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>