<?xml version="1.0" encoding="utf-8"?>
<Media Key="788b7a56-e1e8-40cb-bb9d-9269e2a77276" Alias="DSC 3637" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3637</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:37</CreateDate>
    <NodeName Default="DSC 3637" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kb3iw4hi/dsc_3637.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>