<?xml version="1.0" encoding="utf-8"?>
<Media Key="81882315-5b6b-47a4-8dc6-ab0a99767d26" Alias="DSC 2189" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2189</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:47</CreateDate>
    <NodeName Default="DSC 2189" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cmrjrall/dsc_2189.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>