<?xml version="1.0" encoding="utf-8"?>
<Media Key="abfcf591-133f-4b46-8a9b-fe0fdc2d4566" Alias="DSC 2290" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2290</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T17:41:07</CreateDate>
    <NodeName Default="DSC 2290" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s50pzkz5/dsc_2290.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>