<?xml version="1.0" encoding="utf-8"?>
<Media Key="74cf6b56-77da-4a9b-95e3-e7ac9009864e" Alias="DSC 1984" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1984</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1984" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kbvn43g0/dsc_1984.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>