<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e383a1d-0c69-48e0-8682-288b30ecf5c3" Alias="DSC 3414" Level="5">
  <Info>
    <Parent Key="67b126f3-e537-4067-939d-637c18ca2cae">street life</Parent>
    <Path>/Catalogue/Belgium/Brussels/streetLife/DSC3414</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:28</CreateDate>
    <NodeName Default="DSC 3414" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dm3dqptj/dsc_3414.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>