<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7b6998b-8be2-42e7-96e8-08b799812ebb" Alias="DSC 3419" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3419</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:40</CreateDate>
    <NodeName Default="DSC 3419" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwmlnv5c/dsc_3419.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>