<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4e3f7e8-85e8-4932-afa0-49b62c5eaa61" Alias="DSC 3143" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3143</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:41</CreateDate>
    <NodeName Default="DSC 3143" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/311phzhi/dsc_3143.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>