<?xml version="1.0" encoding="utf-8"?>
<Media Key="a05e2bdf-8e0b-4f63-b4dc-c2aee48f9533" Alias="DSC 2100" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC2100</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:39</CreateDate>
    <NodeName Default="DSC 2100" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1evf3ial/dsc_2100.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>