<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ca0ae9e-3d65-4adc-a659-9d02010d83fe" Alias="DSC 1720" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1720</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:37</CreateDate>
    <NodeName Default="DSC 1720" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tcxkbhdf/dsc_1720.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>