<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6e1cfa1-7c8e-4c26-91bc-2a7883f103cb" Alias="DSC 2346" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2346</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:42</CreateDate>
    <NodeName Default="DSC 2346" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u5hpd3uo/dsc_2346.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>