<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f47762e-0b65-48b1-9618-5bdba2ce41ce" Alias="DSC 2345" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2345</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:42</CreateDate>
    <NodeName Default="DSC 2345" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fb1eo51f/dsc_2345.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>