<?xml version="1.0" encoding="utf-8"?>
<Media Key="0242301f-3639-4b88-a6ef-c85bb8f36e29" Alias="DSC 3110" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3110</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:46</CreateDate>
    <NodeName Default="DSC 3110" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/deyeearz/dsc_3110.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>