<?xml version="1.0" encoding="utf-8"?>
<Media Key="856c4083-9a98-47d6-bc95-44e3fd28c5e9" Alias="DSC 4138" Level="4">
  <Info>
    <Parent Key="241db626-8e5e-4f1a-a93d-888f5a092fa1">East Thailand</Parent>
    <Path>/Catalogue/Thailand/EastThailand/DSC4138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:02:58</CreateDate>
    <NodeName Default="DSC 4138" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qvagzbmy/dsc_4138.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>