<?xml version="1.0" encoding="utf-8"?>
<Media Key="53fef607-11f0-4506-9a7d-7a3eb9b2dec2" Alias="DSC 1885" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1885</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1885" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ah1p2u5q/dsc_1885.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>