<?xml version="1.0" encoding="utf-8"?>
<Media Key="79cb08ea-df8c-4321-82b3-12a3e3e7dace" Alias="DSC 1806" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1806</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1806" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3qemw4mm/dsc_1806.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>