<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc5162a7-2fbb-418a-93d5-e98e2f2ddb7c" Alias="DSC 2235" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2235</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:48</CreateDate>
    <NodeName Default="DSC 2235" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ufrfd5f1/dsc_2235.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>