<?xml version="1.0" encoding="utf-8"?>
<Media Key="460ba7bc-db56-4d52-83b4-84be45063d69" Alias="DSC 3099" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3099</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:46</CreateDate>
    <NodeName Default="DSC 3099" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xktbwrsw/dsc_3099.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>