<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ae510f9-c33a-45bd-a71f-020b87e5b74b" Alias="DSC 1990" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1990</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1990" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/52iolgr0/dsc_1990.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>