<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0fcdd76-3614-4e70-9f6a-03111fd1a60e" Alias="DSC 2019" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC2019</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:39</CreateDate>
    <NodeName Default="DSC 2019" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/odopzqau/dsc_2019.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>