<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fb32cf8-5b43-485d-bcbe-7a7be46cf015" Alias="DSC 3226" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3226</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:28</CreateDate>
    <NodeName Default="DSC 3226" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ywlg10d/dsc_3226.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>