<?xml version="1.0" encoding="utf-8"?>
<Media Key="39c8fc64-04b3-4fb5-b5b3-052b89d245eb" Alias="DSC 3179" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3179</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:41</CreateDate>
    <NodeName Default="DSC 3179" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ml4mqont/dsc_3179.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>