<?xml version="1.0" encoding="utf-8"?>
<Media Key="db38fcaa-79ff-458e-9369-8bb50e3ed301" Alias="DSC 2930" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2930</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:44</CreateDate>
    <NodeName Default="DSC 2930" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vt4drw55/dsc_2930.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>