<?xml version="1.0" encoding="utf-8"?>
<Media Key="258b8d4b-93b5-473c-b62d-979b8097a810" Alias="DSC 3550" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3550</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:39</CreateDate>
    <NodeName Default="DSC 3550" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jwgjwjnv/dsc_3550.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>