<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad445f66-26d5-4167-8cfb-2bc95a9f5cd1" Alias="DSC 2263" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2263</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:48</CreateDate>
    <NodeName Default="DSC 2263" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbpfjlov/dsc_2263.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>