<?xml version="1.0" encoding="utf-8"?>
<Media Key="49ef7982-0253-4465-b9ab-2a3d2f68b3c3" Alias="DSC 2925" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC2925</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:44</CreateDate>
    <NodeName Default="DSC 2925" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qr2p4skt/dsc_2925.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>