<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb88e58-3b9d-489c-b244-b383d5d6b203" Alias="DSC 3420" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3420</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:27</CreateDate>
    <NodeName Default="DSC 3420" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l0hlqxu3/dsc_3420.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>