<?xml version="1.0" encoding="utf-8"?>
<Media Key="d332de32-87db-430c-9228-7c50b9a98b65" Alias="DSC 3018" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3018</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:45</CreateDate>
    <NodeName Default="DSC 3018" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gtpdfu41/dsc_3018.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>