<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6595791-f653-4e59-bf08-3a7946a7a4f3" Alias="DSC 3361" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3361</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:28</CreateDate>
    <NodeName Default="DSC 3361" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s3lftvst/dsc_3361.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>