<?xml version="1.0" encoding="utf-8"?>
<Media Key="44dc7451-a9a4-4903-8460-a03e51117a2f" Alias="DSC 3389" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/DSC3389</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:40</CreateDate>
    <NodeName Default="DSC 3389" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k30nyrfe/dsc_3389.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>