<?xml version="1.0" encoding="utf-8"?>
<Media Key="a347e6b5-dfeb-4510-8f7c-632d2798973e" Alias="DSC 3410" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/DSC3410</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:28</CreateDate>
    <NodeName Default="DSC 3410" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wptepi5l/dsc_3410.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>