<?xml version="1.0" encoding="utf-8"?>
<Media Key="d44a83a8-acc8-48e2-a1af-5e32c27fd667" Alias="DSC 1814" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC1814</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:38</CreateDate>
    <NodeName Default="DSC 1814" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v0bfvvgi/dsc_1814.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>