<?xml version="1.0" encoding="utf-8"?>
<Media Key="38f33815-5eb8-4237-97f7-07939487a07a" Alias="DSC 4145" Level="4">
  <Info>
    <Parent Key="241db626-8e5e-4f1a-a93d-888f5a092fa1">East Thailand</Parent>
    <Path>/Catalogue/Thailand/EastThailand/DSC4145</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:02:57</CreateDate>
    <NodeName Default="DSC 4145" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cm2pgofy/dsc_4145.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>