<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca80b6b7-ee33-4280-86c4-8026c922f1f6" Alias="DSC 4186" Level="4">
  <Info>
    <Parent Key="241db626-8e5e-4f1a-a93d-888f5a092fa1">East Thailand</Parent>
    <Path>/Catalogue/Thailand/EastThailand/DSC4186</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:02:57</CreateDate>
    <NodeName Default="DSC 4186" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wg1ibsrt/dsc_4186.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>