<?xml version="1.0" encoding="utf-8"?>
<Media Key="10184c60-f60e-4491-9632-2368a05e2f62" Alias="DSC 2103 2" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/DSC21032</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:39</CreateDate>
    <NodeName Default="DSC 2103 2" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mzgbqeao/dsc_2103-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>