<?xml version="1.0" encoding="utf-8"?>
<Media Key="a11993fc-1aed-4670-8307-65c1ade8727c" Alias="earrings" Level="3">
  <Info>
    <Parent Key="aa892549-9b2c-433d-aaab-57c18910315b">Products</Parent>
    <Path>/Waaw/Products/earrings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-21T15:06:27</CreateDate>
    <NodeName Default="earrings" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>