<?xml version="1.0" encoding="utf-8"?>
<Media Key="241db626-8e5e-4f1a-a93d-888f5a092fa1" Alias="East Thailand" Level="3">
  <Info>
    <Parent Key="b61f8c00-c5e7-4b82-a8f5-3034928ed425">Thailand</Parent>
    <Path>/Catalogue/Thailand/EastThailand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-28T23:00:24</CreateDate>
    <NodeName Default="East Thailand" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties />
</Media>