<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9d24396-0da8-49a3-8440-4bc1603fc5ec" Alias="IMG 20240304 162454" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/IMG20240304162454</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:24</CreateDate>
    <NodeName Default="IMG 20240304 162454" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sbbnf4ni/img_20240304_162454.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>