<?xml version="1.0" encoding="utf-8"?>
<Media Key="33d37754-27cf-4838-a3aa-0318e12f8ee1" Alias="Krabi" Level="3">
  <Info>
    <Parent Key="b61f8c00-c5e7-4b82-a8f5-3034928ed425">Thailand</Parent>
    <Path>/Catalogue/Thailand/Krabi</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-28T22:52:35</CreateDate>
    <NodeName Default="Krabi" />
    <SortOrder>181</SortOrder>
  </Info>
  <Properties />
</Media>