<?xml version="1.0" encoding="utf-8"?>
<Media Key="f507b16f-8316-4e55-ab8c-b83098f1b4b1" Alias="Micro2" Level="2">
  <Info>
    <Parent Key="7e2e2d08-985f-4341-bd3b-50f62da20b8c">misc</Parent>
    <Path>/misc/Micro2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T17:36:31</CreateDate>
    <NodeName Default="Micro2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ngybp3iw/micro2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>