<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e2e2d08-985f-4341-bd3b-50f62da20b8c" Alias="misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-11T17:36:20</CreateDate>
    <NodeName Default="misc" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>