<?xml version="1.0" encoding="utf-8"?>
<Media Key="be3cd152-cc03-4e6c-bacc-5cdc6c2fe7a0" Alias="OpenAI" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OpenAI</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-01T17:08:39</CreateDate>
    <NodeName Default="OpenAI" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>