<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fac3580-d940-4d89-ad2b-867e1feaff20" Alias="Parc et nature" Level="4">
  <Info>
    <Parent Key="df140f94-9671-4b39-af1e-988b0c42b3e6">Brussels</Parent>
    <Path>/Catalogue/Belgium/Brussels/ParcEtNature</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T11:32:28</CreateDate>
    <NodeName Default="Parc et nature" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties />
</Media>