<?xml version="1.0" encoding="utf-8"?>
<Media Key="9212a88a-2758-4e98-abe8-9b86af44d2ea" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-21T14:53:52</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>