<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7ae1cac-2a4c-4b33-a626-f3d742be2f7f" Alias="Rings" Level="3">
  <Info>
    <Parent Key="aa892549-9b2c-433d-aaab-57c18910315b">Products</Parent>
    <Path>/Waaw/Products/Rings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-21T14:54:24</CreateDate>
    <NodeName Default="Rings" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>