<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcf59f3f-4138-4fba-a0d4-339009b20d52" Alias="SEN 8205" Level="4">
  <Info>
    <Parent Key="bacc437c-a676-4ea1-88df-1456e34e57f6">Paris</Parent>
    <Path>/Catalogue/France/Paris/SEN8205</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:57</CreateDate>
    <NodeName Default="SEN 8205" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hgpplpby/sen_8205.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>