<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9bba931-825d-490d-93cf-b2583cc8a87b" Alias="T AF SENEGAL 12 10 2024 23 51 15 339" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235115339</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:52</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 51 15 339" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g4ulxsk3/t-af-senegal-12-10-2024-23-51-15-339.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>