<?xml version="1.0" encoding="utf-8"?>
<Media Key="b71d05a6-3fb3-4132-b1d8-c10bca4e53f9" Alias="T AF SENEGAL 12 10 2024 23 50 32 298" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235032298</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:02</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 32 298" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uacb1n3t/t-af-senegal-12-10-2024-23-50-32-298.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>