<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db0dc64-8adb-4597-946b-c63e6c60c60a" Alias="T AF SENEGAL 16 10 2024 13 34 37 253" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL16102024133437253</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:20</CreateDate>
    <NodeName Default="T AF SENEGAL 16 10 2024 13 34 37 253" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mlola1o1/t-af-senegal-16-10-2024-13-34-37-253.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>