<?xml version="1.0" encoding="utf-8"?>
<Media Key="012a995b-196f-4cfc-8044-050439472338" Alias="T AF SENEGAL 30 10 2024 14 12 55 98" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL3010202414125598</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:23</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 12 55 98" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwmdualp/t-af-senegal-30-10-2024-14-12-55-98.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>