<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcedd7b1-5d52-4c22-b48d-9a6d1135773a" Alias="T AF SENEGAL 20 10 2024 01 29 54 220" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL20102024012954220</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:23</CreateDate>
    <NodeName Default="T AF SENEGAL 20 10 2024 01 29 54 220" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w5lp15cs/t-af-senegal-20-10-2024-01-29-54-220.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>