<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cd9b5bc-4571-4207-9cb7-0356bb2485ec" Alias="T AF SENEGAL 30 10 2024 14 14 06 161" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL30102024141406161</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:00</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 14 06 161" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xk0nspdr/t-af-senegal-30-10-2024-14-14-06-161.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>