<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b8a6f8f-d459-45bb-bafa-3f40ea3720af" Alias="T AF SENEGAL 12 10 2024 11 00 08 384" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024110008384</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:43</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 11 00 08 384" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rfxjuk0z/t-af-senegal-12-10-2024-11-00-08-384.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>