<?xml version="1.0" encoding="utf-8"?>
<Media Key="e334d6c7-8c41-45e9-a267-384cd1f8fa27" Alias="T AF SENEGAL 13 10 2024 01 22 16 23" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL1310202401221623</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:31</CreateDate>
    <NodeName Default="T AF SENEGAL 13 10 2024 01 22 16 23" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yhldjy0b/t-af-senegal-13-10-2024-01-22-16-23.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>