<?xml version="1.0" encoding="utf-8"?>
<Media Key="958bab28-19d5-4bc9-b1e8-c663746795c4" Alias="T AF SENEGAL 23 10 2024 12 18 47 187" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL23102024121847187</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:27</CreateDate>
    <NodeName Default="T AF SENEGAL 23 10 2024 12 18 47 187" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f0vjxfov/t-af-senegal-23-10-2024-12-18-47-187.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>