<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c72317b-fa43-485b-b768-aa4d845458c8" Alias="T AF SENEGAL 30 10 2024 14 12 41 85" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL3010202414124185</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:16</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 12 41 85" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/puyhetcd/t-af-senegal-30-10-2024-14-12-41-85.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>