<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab829255-4a80-48ae-afc6-f696af9306dc" Alias="T AF SENEGAL 30 10 2024 14 16 51 419" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL30102024141651419</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:33</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 16 51 419" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kojifk2a/t-af-senegal-30-10-2024-14-16-51-419.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>