<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b392a8f-9e5f-4432-acf4-c6e838bf4c6a" Alias="T AF SENEGAL 30 10 2024 14 12 56 99" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL3010202414125699</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:13</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 12 56 99" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/revds005/t-af-senegal-30-10-2024-14-12-56-99.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>