<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8186cc9-47a2-4f3d-b1b9-a840c3e9a48c" Alias="T AF SENEGAL 12 10 2024 23 50 38 304" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235038304</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:07</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 38 304" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z3wbrwfc/t-af-senegal-12-10-2024-23-50-38-304.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>