<?xml version="1.0" encoding="utf-8"?>
<Media Key="75c2a259-3ace-4ebe-8b88-17483484f5b7" Alias="T AF SENEGAL 30 10 2024 14 11 33 25" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL3010202414113325</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:26</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 11 33 25" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l4rme3oo/t-af-senegal-30-10-2024-14-11-33-25.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>