<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb2feaca-4220-4f97-95e9-f513df972ff3" Alias="T AF SENEGAL 12 10 2024 11 00 31 360" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024110031360</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:42</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 11 00 31 360" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ztvc50za/t-af-senegal-12-10-2024-11-00-31-360.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>