<?xml version="1.0" encoding="utf-8"?>
<Media Key="c15bbf23-bbbb-49e4-ada2-ffa0490c40b1" Alias="T AF SENEGAL 16 10 2024 13 34 28 244" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL16102024133428244</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:10</CreateDate>
    <NodeName Default="T AF SENEGAL 16 10 2024 13 34 28 244" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ew5fxqn1/t-af-senegal-16-10-2024-13-34-28-244.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>