<?xml version="1.0" encoding="utf-8"?>
<Media Key="262dffe0-b413-4a00-8e67-80750f6fbeed" Alias="T AF SENEGAL 12 10 2024 23 50 53 318" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235053318</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:52</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 53 318" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/215d0jqt/t-af-senegal-12-10-2024-23-50-53-318.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>