<?xml version="1.0" encoding="utf-8"?>
<Media Key="10e46ed0-9f82-4d49-befb-85adbd3838cc" Alias="T AF SENEGAL 12 10 2024 11 00 06 385" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024110006385</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:38</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 11 00 06 385" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0zxoieec/t-af-senegal-12-10-2024-11-00-06-385.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>