<?xml version="1.0" encoding="utf-8"?>
<Media Key="0657532e-7476-4994-9650-0b2d92f6377f" Alias="T AF SENEGAL 12 10 2024 23 50 43 309" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235043309</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:01</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 43 309" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fbjfobtw/t-af-senegal-12-10-2024-23-50-43-309.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>