<?xml version="1.0" encoding="utf-8"?>
<Media Key="65eebd6e-3f33-4764-9ebb-3110d889418f" Alias="T AF SENEGAL 12 10 2024 23 50 47 312" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235047312</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:01</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 47 312" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nc4p2zjt/t-af-senegal-12-10-2024-23-50-47-312.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>