<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1c1eb90-8f1e-407c-855e-506072af9102" Alias="T AF SENEGAL 30 10 2024 14 14 10 165" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL30102024141410165</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:03</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 14 10 165" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s1vndui4/t-af-senegal-30-10-2024-14-14-10-165.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>