<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd25f82c-57b2-43f6-bb62-bbbbf5b69a64" Alias="T AF SENEGAL 30 10 2024 14 16 40 186" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL30102024141640186</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:29</CreateDate>
    <NodeName Default="T AF SENEGAL 30 10 2024 14 16 40 186" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fl2clpns/t-af-senegal-30-10-2024-14-16-40-186.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>