<?xml version="1.0" encoding="utf-8"?>
<Media Key="a91f4d07-0b27-479f-975a-0cbf1cb18ff3" Alias="T AF SENEGAL 20 10 2024 01 29 34 201" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL20102024012934201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:29</CreateDate>
    <NodeName Default="T AF SENEGAL 20 10 2024 01 29 34 201" />
    <SortOrder>123</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/afgb5kjh/t-af-senegal-20-10-2024-01-29-34-201.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>