<?xml version="1.0" encoding="utf-8"?>
<Media Key="935497db-0a4e-4da3-874f-05eb4ed4a4ac" Alias="T AF SENEGAL 12 10 2024 23 50 34 300" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235034300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:03</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 34 300" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1wlfje0o/t-af-senegal-12-10-2024-23-50-34-300.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>