<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd40ba45-7af9-420f-8dfd-aa1288b79ce8" Alias="T AF SENEGAL 12 10 2024 23 50 46 311" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024235046311</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:02</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 23 50 46 311" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/io3ebxpz/t-af-senegal-12-10-2024-23-50-46-311.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>