<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc989aee-4238-4ffd-9527-2973067bab98" Alias="T AF SENEGAL 16 10 2024 13 34 31 247" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL16102024133431247</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:57:19</CreateDate>
    <NodeName Default="T AF SENEGAL 16 10 2024 13 34 31 247" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3cnjrtby/t-af-senegal-16-10-2024-13-34-31-247.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>