<?xml version="1.0" encoding="utf-8"?>
<Media Key="73b2c10a-d799-45b3-a9a9-15b2a50fbf60" Alias="T AF SENEGAL 12 10 2024 11 00 03 388" Level="3">
  <Info>
    <Parent Key="096ec480-e51b-4785-9949-7bbf39767692">Senegal</Parent>
    <Path>/Catalogue/Senegal/TAFSENEGAL12102024110003388</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T22:56:39</CreateDate>
    <NodeName Default="T AF SENEGAL 12 10 2024 11 00 03 388" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/btale22z/t-af-senegal-12-10-2024-11-00-03-388.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>