<?xml version="1.0" encoding="utf-8"?>
<Media Key="33d33a17-e4d8-44a9-816f-c709d8485918" Alias="T ASIA 17 THAILAND 551.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND551Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:42</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 551.Jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ce3ngm4y/t-asia-17-thailand-551.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>