<?xml version="1.0" encoding="utf-8"?>
<Media Key="cac84e71-2115-48e8-a4c4-2290e00b0e81" Alias="T ASIA 17 THAILAND 334 2.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND3342Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:41</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 334 2.Jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o3hmrsqv/t-asia-17-thailand-334-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>