<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f3fc58d-e9e5-4d45-aac1-e4d42a86d841" Alias="T ASIA 17 THAILAND 266.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND266Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:41</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 266.Jpg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rpcd4t5f/t-asia-17-thailand-266jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>