<?xml version="1.0" encoding="utf-8"?>
<Media Key="720df167-4700-4b8c-b39a-0d5f1db5caeb" Alias="T ASIA 17 THAILAND 321.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND321Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:41</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 321.Jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mhyb02qa/t-asia-17-thailand-321jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>