<?xml version="1.0" encoding="utf-8"?>
<Media Key="0500ff0d-e00f-42fa-a4d2-eb3a2369c2ff" Alias="T ASIA 17 THAILAND 513.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND513Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:42</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 513.Jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bp5babip/t-asia-17-thailand-513.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>