<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9037382-cc87-40ba-8547-3d6b20a0f12a" Alias="T ASIA 17 THAILAND 227 Nik.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND227NikJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T08:44:41</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 227 Nik.Jpg" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qrzbh0mh/t-asia-17-thailand-227_nikjpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>