<?xml version="1.0" encoding="utf-8"?>
<Media Key="049d98a4-65a2-4920-bfdd-b7d5ed9242f6" Alias="T ASIA 17 THAILAND 227 Nik.Jpg (1)" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND227NikJpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:40</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 227 Nik.Jpg (1)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ukmj0bfc/t-asia-17-thailand-227_nikjpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>