<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5002740-96b9-4b39-b6b2-84fca866b1ca" Alias="T ASIA 17 THAILAND 453.Jpg (1)" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND453Jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:42</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 453.Jpg (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iytbbjnz/t-asia-17-thailand-453jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>