<?xml version="1.0" encoding="utf-8"?>
<Media Key="8493940f-cd50-4f27-afde-f885e27aae4a" Alias="T ASIA 17 THAILAND 853.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND853Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:43</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 853.Jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bgkjhbcq/t-asia-17-thailand-853jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>