<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd1def4b-f8c9-4e08-b0e5-a9063f840381" Alias="T ASIA 17 THAILAND 562.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND562Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:42</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 562.Jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jxxb1toj/t-asia-17-thailand-562jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>