<?xml version="1.0" encoding="utf-8"?>
<Media Key="57486d3e-1da6-45fd-bfc7-24fa5cc07f5b" Alias="T ASIA 17 THAILAND 450.Jpg" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/TASIA17THAILAND450Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-11T21:17:42</CreateDate>
    <NodeName Default="T ASIA 17 THAILAND 450.Jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.3941309005622103,
    "top": 0.7888787464583411
  },
  "src": "/media/hbwfqv3g/t-asia-17-thailand-450.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>