<?xml version="1.0" encoding="utf-8"?>
<Media Key="f15cdd40-6386-474e-b705-8d84091848a0" Alias="T EU ROUMANIA 17 04 2024 10 58 52 64" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202410585264</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:13</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 10 58 52 64" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i1ofz2mg/t-eu-roumania-17-04-2024-10-58-52-64.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>