<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d4273e8-f73a-492c-8e4f-58fe0d63f3cc" Alias="T EU 17 THAILAND 02" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/TEU17THAILAND02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:36</CreateDate>
    <NodeName Default="T EU 17 THAILAND 02" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3zzfedj0/t-eu-17-thailand-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>