<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cab2c06-63af-42e2-9bb1-780c103684f9" Alias="T EU ALBANIA 15 04 2024 05 43 50 3" Level="3">
  <Info>
    <Parent Key="d69a941e-cdf0-4e36-a2fe-02b782cc01af">Albania</Parent>
    <Path>/Catalogue/Albania/TEUALBANIA150420240543503</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T13:24:30</CreateDate>
    <NodeName Default="T EU ALBANIA 15 04 2024 05 43 50 3" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aawkwxfp/t-eu-albania-15-04-2024-05-43-50-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>