<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e02da94-9db4-440a-949b-3e0824a6cacd" Alias="T EU 17 THAILAND 79" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/TEU17THAILAND79</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:46</CreateDate>
    <NodeName Default="T EU 17 THAILAND 79" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/slnaepvu/t-eu-17-thailand-79.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>