<?xml version="1.0" encoding="utf-8"?>
<Media Key="e35117cd-d2c1-49d6-9c2b-b389cdd842e1" Alias="T EU ROUMANIA 17 04 2024 12 32 30 59" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202412323059</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:16</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 12 32 30 59" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zmlfdy4b/t-eu-roumania-17-04-2024-12-32-30-59.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>