<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0088cd8-7a41-44c5-8b8c-05738fa9d64b" Alias="T EU 3 BELGIUM BXL METRO 05 03 2023 12 12 46 6" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/TEU3BELGIUMBXLMETRO050320231212466</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:18</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL METRO 05 03 2023 12 12 46 6" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/10garmcb/t-eu-3-belgium-bxl-metro-05-03-2023-12-12-46-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>