<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f959d83-7d1e-41da-bf5c-da138b41eb2c" Alias="T EU 17 THAILAND 149" Level="4">
  <Info>
    <Parent Key="6c6c0a7e-39bc-4c37-a319-63a46add0d76">North Thailand</Parent>
    <Path>/Catalogue/Thailand/NorthThailand/TEU17THAILAND149</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T14:52:39</CreateDate>
    <NodeName Default="T EU 17 THAILAND 149" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qwojkdy4/t-eu-17-thailand-149.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>