<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4746cf7-476c-4e11-9be9-bd09e2c3acfd" Alias="T EU 17 THAILAND 03" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/TEU17THAILAND03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-09T17:05:04</CreateDate>
    <NodeName Default="T EU 17 THAILAND 03" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4fwhjrdm/t-eu-17-thailand-03.jpg",
  "crops": [
    {
      "alias": "Small and large",
      "coordinates": {
        "x1": 0,
        "y1": 0.24749816927706594,
        "x2": 0,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>