<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3658171-068b-4ec8-bfe1-6933650a7a8b" Alias="T EU 3 BELGIUM BXL JETTE 08 10 2023 14 36 08 5" Level="5">
  <Info>
    <Parent Key="4fac3580-d940-4d89-ad2b-867e1feaff20">Parc et nature</Parent>
    <Path>/Catalogue/Belgium/Brussels/ParcEtNature/TEU3BELGIUMBXLJETTE081020231436085</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:19</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL JETTE 08 10 2023 14 36 08 5" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o4ahlu2l/t-eu-3-belgium-bxl-jette-08-10-2023-14-36-08-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>