<?xml version="1.0" encoding="utf-8"?>
<Media Key="cabf7d59-5340-4c75-9b2e-879cab9f3f30" Alias="T EU CZECHIA 24 02 2023 01 43 09 16" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA2402202301430916</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:28</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 43 09 16" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l34l5ssa/t-eu-czechia-24-02-2023-01-43-09-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>