<?xml version="1.0" encoding="utf-8"?>
<Media Key="b25d4c7a-af18-43e0-bd11-062a180bdb03" Alias="T EU 3 BELGIUM BXL TOURETTAXI 28 05 2023 16 26 11 10" Level="5">
  <Info>
    <Parent Key="67b126f3-e537-4067-939d-637c18ca2cae">street life</Parent>
    <Path>/Catalogue/Belgium/Brussels/streetLife/TEU3BELGIUMBXLTOURETTAXI2805202316261110</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:19</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL TOURETTAXI 28 05 2023 16 26 11 10" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/prgf1mqy/t-eu-3-belgium-bxl-tourettaxi-28-05-2023-16-26-11-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>