<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9644a7a-4ab1-4b49-9768-2b2223c1b36e" Alias="T EU ROUMANIA 17 04 2024 16 00 54 53" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202416005453</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:16</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 16 00 54 53" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/prfgjonr/t-eu-roumania-17-04-2024-16-00-54-53.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>