<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3ea4a5e-15c9-4cbc-a779-d1f443117dcb" Alias="T EU ROUMANIA 17 04 2024 18 22 32 43" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202418223243</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:18</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 18 22 32 43" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lbfovu4j/t-eu-roumania-17-04-2024-18-22-32-43.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>