<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b9a0bf1-8bc4-459f-a532-1520217bc24f" Alias="T EU ROUMANIA 17 04 2024 14 38 43 54" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202414384354</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:16</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 14 38 43 54" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/42fju04e/t-eu-roumania-17-04-2024-14-38-43-54.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>