<?xml version="1.0" encoding="utf-8"?>
<Media Key="14f783a3-4a21-4d44-802b-368fd5c0673d" Alias="T EU ROUMANIA 17 04 2024 12 19 48 60" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202412194860</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:15</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 12 19 48 60" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uwbpofbb/t-eu-roumania-17-04-2024-12-19-48-60.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>