<?xml version="1.0" encoding="utf-8"?>
<Media Key="f23c6c3b-8bf8-448f-b7e2-a0041bbb5ce0" Alias="T EU CZECHIA 24 02 2023 01 40 47 27" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA2402202301404727</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:30</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 40 47 27" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hvwdz2xy/t-eu-czechia-24-02-2023-01-40-47-27.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>