<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ade52d-9a2d-4891-9984-ed5ea0b39548" Alias="T EU ALBANIA 14 04 2024 03 51 56 38" Level="3">
  <Info>
    <Parent Key="d69a941e-cdf0-4e36-a2fe-02b782cc01af">Albania</Parent>
    <Path>/Catalogue/Albania/TEUALBANIA1404202403515638</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T13:24:30</CreateDate>
    <NodeName Default="T EU ALBANIA 14 04 2024 03 51 56 38" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fpsl1mjn/t-eu-albania-14-04-2024-03-51-56-38.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>