<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa41a4fd-d686-478c-9d25-d509557f3b0d" Alias="T EU 3 BELGIUM BXL TOURETTAXI 28 05 2023 16 19 49 11" Level="5">
  <Info>
    <Parent Key="2c325913-6469-41b8-96a1-edbc261e26ff">Architecture</Parent>
    <Path>/Catalogue/Belgium/Brussels/Architecture/TEU3BELGIUMBXLTOURETTAXI2805202316194911</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:29:35</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL TOURETTAXI 28 05 2023 16 19 49 11" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5osedkug/t-eu-3-belgium-bxl-tourettaxi-28-05-2023-16-19-49-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>