<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1b9438b-5a76-4dab-ab1f-15da31000740" Alias="T EU CZECHIA 24 02 2023 01 40 27 24" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA2402202301402724</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:30</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 40 27 24" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rvbltulw/t-eu-czechia-24-02-2023-01-40-27-24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>