<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3415c5c-b449-4701-9ec0-d3ca3f9182e8" Alias="T EU 17 THAILAND 26" Level="4">
  <Info>
    <Parent Key="3f9c4c5f-1ed4-406f-acdb-6d50542b80d4">Bangkok</Parent>
    <Path>/Catalogue/Thailand/Bangkok/TEU17THAILAND26</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T13:53:37</CreateDate>
    <NodeName Default="T EU 17 THAILAND 26" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ljoedq0j/t-eu-17-thailand-26.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>