<?xml version="1.0" encoding="utf-8"?>
<Media Key="c22173af-c61f-4659-96dc-7457f280bd52" Alias="T EU ROUMANIA 17 04 2024 11 54 06 62" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202411540662</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:14</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 11 54 06 62" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vfzddqq5/t-eu-roumania-17-04-2024-11-54-06-62.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>