<?xml version="1.0" encoding="utf-8"?>
<Media Key="62509d86-ef4c-4e8b-b8bb-35d550873ac9" Alias="T EU 3 BELGIUM BXL CAMBRE 31 05 2023 14 12 22 3" Level="5">
  <Info>
    <Parent Key="67b126f3-e537-4067-939d-637c18ca2cae">street life</Parent>
    <Path>/Catalogue/Belgium/Brussels/streetLife/TEU3BELGIUMBXLCAMBRE310520231412223</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:20</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL CAMBRE 31 05 2023 14 12 22 3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qcofaysm/t-eu-3-belgium-bxl-cambre-31-05-2023-14-12-22-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>