<?xml version="1.0" encoding="utf-8"?>
<Media Key="6793906f-531d-4ab4-9c3b-ba09df36d8f1" Alias="T EU CZECHIA 24 02 2023 01 41 06 23" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA2402202301410623</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:30</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 41 06 23" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ngijgzy3/t-eu-czechia-24-02-2023-01-41-06-23.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>