<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8a4dd7e-3917-4c79-9713-d4b317bd5785" Alias="T EU ROUMANIA 17 04 2024 17 31 57 46" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202417315746</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:17</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 17 31 57 46" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pdoljwax/t-eu-roumania-17-04-2024-17-31-57-46.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>