<?xml version="1.0" encoding="utf-8"?>
<Media Key="8becbb59-b38e-4d10-a30b-4ec41220fea2" Alias="T EU ROUMANIA 17 04 2024 18 42 20 41" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202418422041</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:18</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 18 42 20 41" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l43pzc2o/t-eu-roumania-17-04-2024-18-42-20-41.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>