<?xml version="1.0" encoding="utf-8"?>
<Media Key="e19c5283-31f0-43ae-811d-7f5f9b4c605f" Alias="T EU CZECHIA 24 02 2023 01 44 20 9" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA240220230144209</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:29</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 44 20 9" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qvjjzypq/t-eu-czechia-24-02-2023-01-44-20-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>