<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5e8759f-b597-47c1-8791-46b4dac3333f" Alias="T EU 3 BELGIUM BXL BRUSSELS 20232607 2" Level="5">
  <Info>
    <Parent Key="67b126f3-e537-4067-939d-637c18ca2cae">street life</Parent>
    <Path>/Catalogue/Belgium/Brussels/streetLife/TEU3BELGIUMBXLBRUSSELS202326072</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-15T11:28:21</CreateDate>
    <NodeName Default="T EU 3 BELGIUM BXL BRUSSELS 20232607 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tf0prnmx/t-eu-3-belgium-bxl-brussels-20232607-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>