<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc16b3fb-edf2-4bbd-babe-8dbf826d0631" Alias="T EU ROUMANIA 17 04 2024 18 59 22 38" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202418592238</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:19</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 18 59 22 38" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wzbnphs/t-eu-roumania-17-04-2024-18-59-22-38.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>