<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cea9c60-e639-4277-bf3a-5585d2f7bf80" Alias="T EU ROUMANIA 17 04 2024 21 16 21 24" Level="3">
  <Info>
    <Parent Key="1e598f11-a634-48b9-91ee-644eb7907622">Romania</Parent>
    <Path>/Catalogue/Romania/TEUROUMANIA1704202421162124</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-15T19:12:23</CreateDate>
    <NodeName Default="T EU ROUMANIA 17 04 2024 21 16 21 24" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m0oou5bz/t-eu-roumania-17-04-2024-21-16-21-24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>