<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6ba333e-52a5-48fd-81db-7bc0a88b6cd9" Alias="T EU CZECHIA 24 02 2023 01 43 53 11" Level="3">
  <Info>
    <Parent Key="b7c1c949-8840-46da-a93a-53d3a70c1cda">Czechia</Parent>
    <Path>/Catalogue/Czechia/TEUCZECHIA2402202301435311</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-21T14:03:29</CreateDate>
    <NodeName Default="T EU CZECHIA 24 02 2023 01 43 53 11" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hazlvvvf/t-eu-czechia-24-02-2023-01-43-53-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>