<?xml version="1.0" encoding="utf-8"?>
<Media Key="32afd3fc-db3c-4cd6-a4b1-293013bc8d13" Alias="T EU ALBANIA 15 04 2024 01 26 07 40" Level="3">
  <Info>
    <Parent Key="d69a941e-cdf0-4e36-a2fe-02b782cc01af">Albania</Parent>
    <Path>/Catalogue/Albania/TEUALBANIA1504202401260740</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T13:24:26</CreateDate>
    <NodeName Default="T EU ALBANIA 15 04 2024 01 26 07 40" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ljl4mr2/t-eu-albania-15-04-2024-01-26-07-40.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>