<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac6e3aa4-d0f1-4fe2-93b8-482d9f8a5ea6" Alias="Temple 1" Level="3">
  <Info>
    <Parent Key="a8ec8844-d874-4031-a151-1c56bc35cf1d">Virtual world</Parent>
    <Path>/Catalogue/VirtualWorld/Temple1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-16T19:36:17</CreateDate>
    <NodeName Default="Temple 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ui3g3lhr/temple-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>