<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f1855de-c12f-431c-8fe4-9b7eebd32624" Alias="Thailand Sea 4 Modifier" Level="4">
  <Info>
    <Parent Key="33d37754-27cf-4838-a3aa-0318e12f8ee1">Krabi</Parent>
    <Path>/Catalogue/Thailand/Krabi/ThailandSea4Modifier</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-25T12:34:03</CreateDate>
    <NodeName Default="Thailand Sea 4 Modifier" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1bkbrhzp/thailand-sea-4-modifier.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>