<?xml version="1.0" encoding="utf-8"?>
<Media Key="976afb45-962b-4a15-863e-e2ba1ce4ba0d" Alias="View" Level="3">
  <Info>
    <Parent Key="c1ca18c5-cd1f-4c51-abaf-d2bafdbfcb3c">Cards</Parent>
    <Path>/Waaw/Cards/View</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-28T13:05:31</CreateDate>
    <NodeName Default="View" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ip3hvfzl/view.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>