<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8ec8844-d874-4031-a151-1c56bc35cf1d" Alias="Virtual world" Level="2">
  <Info>
    <Parent Key="eaf3b73c-3918-460e-ac3c-8c887dfe0704">Catalogue</Parent>
    <Path>/Catalogue/VirtualWorld</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-16T19:36:01</CreateDate>
    <NodeName Default="Virtual world" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>