<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e5c6a5c-ddc0-4a98-8f68-f517c00f21bd" Alias="Vw Can 14" Level="3">
  <Info>
    <Parent Key="a8ec8844-d874-4031-a151-1c56bc35cf1d">Virtual world</Parent>
    <Path>/Catalogue/VirtualWorld/VwCan14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-16T20:22:04</CreateDate>
    <NodeName Default="Vw Can 14" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ljvfyxwa/vw-can-14.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>