<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1ac14f2-147b-4209-bbbb-f074ed5a3ba9" Alias="Waaw Banner Home" Level="2">
  <Info>
    <Parent Key="cf5b22f8-c56d-4ad5-b930-7ada35bd4378">Waaw</Parent>
    <Path>/Waaw/WaawBannerHome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T12:18:58</CreateDate>
    <NodeName Default="Waaw Banner Home" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4qkkzil1/waaw-banner-home.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>