<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf5b22f8-c56d-4ad5-b930-7ada35bd4378" Alias="Waaw" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Waaw</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-20T12:45:10</CreateDate>
    <NodeName Default="Waaw" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>