<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d99e928-2a15-45f9-81ff-3521af8a53ee" Alias="Waaw Banner Content" Level="2">
  <Info>
    <Parent Key="cf5b22f8-c56d-4ad5-b930-7ada35bd4378">Waaw</Parent>
    <Path>/Waaw/WaawBannerContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T12:18:57</CreateDate>
    <NodeName Default="Waaw Banner Content" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f1ujthiv/waaw-banner-content.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>