@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<HeadlineBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Crolow.Cms.Core.HtmlHelpers.Dictionary
@using Crolow.Cms.Core.Models.Umbraco;

<h2>@Model.Content.Headline</h2>