@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<OneColumnSectionBlock, SectionSettingsBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Crolow.Cms.Core.HtmlHelpers.Dictionary
@using Crolow.Cms.Core.Models.Umbraco;
@using Umbraco.Community.BlockPreview.Extensions
@{
    var backgroundColor = Model.Settings.BackgroundColor;
    var noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
    var hasBrightContrast = Model.Settings.Contrast == "ffffff";
}

<section
    style="background-color:#@backgroundColor"
    @(noBackgroundColor ? "nobackgroundcolor" : null)
    @(hasBrightContrast ? "bright-contrast" : null)>
    @* @await Html.GetBlockGridItemAreasHtmlAsync(Model) *@
    @await Html.GetPreviewBlockGridItemAreasHtmlAsync(Model)
</section>
