@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Crolow.Cms.Core.HtmlHelpers.Dictionary
@using Crolow.Cms.Core.Models.Umbraco;

<div class="rich-text">@Model.Content.RichText</div>