
.carousel-footer {
  background-color: $gray-900;
}

.carousel-item {
    height: auto;
    min-height: unset;

    .carousel-footer {
        padding: 20px;
    }

    .carousel-caption {
        bottom: auto;
        top: 15px;
        left: 40%;
        right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        h3 {
            font-size: 1.25rem;
        }
    }
}


.carousel
{
    height:300px !important;
    overflow:hidden;
}

.carousel-indicators
{
    display:none !important;
}

header .carousel-item {
  .carousel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0 !important;
  }
}
