:root {
  --bs-border-color: #ee7908;
  /*3px solid #ee7908*/
}

:root, [data-bs-theme=light] {
  --bs-border-color: #ee7908;
}

/* Font sizes initialization */
html {
  font-size: 100%; /* 16px */
}

@media (max-width: 576px) {
  html {
    font-size: 90%; /* ~14.4px */
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 110%; /* ~17.6px */
  }
}

html {
  font-size: clamp(14px, 1.2vw, 16px);
}

/* --- Font sizes --- */



[data-bs-theme=dark] {
  --bs-border-color: #ee7908; /* optional, if you want same in dark mode */
}

/* --- Page layout --- */
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background-color: black;
}


.page-body {
  display: flex;
  flex-direction: column;
  /* modern mobile-safe viewport */
  min-height: 100vh;
  min-height: 100dvh;
}

.page-layout {
  display: grid;
  grid-template-rows: 1fr auto;
  flex: 1 1 auto; /* ← key: fills the column */
  min-height: 0; /* ← key: allow the 1fr row to shrink */
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  padding-left: 50px !important;
  padding: 0.5rem 1rem;
  background: #222;
  color: #fff;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  min-height: 0;
}

.content-body {
  padding: 1rem;
  overflow-y: auto;
}

section, .section {
  /*margin-bottom: 30px;*/
}

.footer {
  background: #333;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-align: center;
}

/* Main tags */

h1, h2, h3, h4, h5, h6 {
  color: $yellow;
}

h1, h2, h3 {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgb(234, 189, 84)));
  background: linear-gradient(-45deg, #ffffff, rgb(234, 189, 84));
  -webkit-background-clip: text; /* Needed for Safari and Chrome */
  -webkit-text-fill-color: transparent; /* Makes the text show the background */
}

h1, h2 {
  border-bottom: 3px solid var(--bs-border-color) !important;
  padding-bottom: 10px;
}

@media(min-width:568px) {
  .end {
    margin-left: auto;
  }
}



.bordered h3 {
  border-bottom: $red 3px solid;
  padding-bottom: 15px;
}

.cv-column-1 {
  img {
    margin-top: 20px;
    border-radius: 50%;
    width: 60%;
    margin-left: 20%;
  }
}

.timeline {

  .item {
    .card-header {
      padding-bottom: 0px;
    }

    .time {
      color: $red;
      font-weight: bold;
    }
  }
}



@media(max-width:768px) {
  #post {
    width: 100%;
  }
}


/* Backgrounds */

.wood {
  --h: 20; /* hue: 20–45 = oak/pine, 15–25 = teak, 8–15 = walnut */
  --s: 45%;
  --l1: 38%;
  --l2: 30%;
  background:
  /* fine grain only */
  repeating-linear-gradient(0deg, hsla(var(--h),20%,20%,.06) 0 2px, hsla(var(--h),20%,20%,0) 3px 6px), linear-gradient(to right, hsl(var(--h) var(--s) var(--l1)), hsl(var(--h) var(--s) var(--l2)), hsl(var(--h) var(--s) var(--l1)));
  background-blend-mode: overlay, normal;
}

.wood-dark {
  --h: 23; /* hue: 20–45 = oak/pine, 15–25 = teak, 8–15 = walnut */
  --s: 45%;
  --l1: 20%;
  --l2: 20%;
  background: repeating-linear-gradient(45deg, hsla(var(--h),20%,20%,.06) 0 9px, hsla(var(--h),20%,20%,0) 9px 18px), linear-gradient(to right, hsl(var(--h) var(--s) var(--l1)), hsl(var(--h) var(--s) var(--l2)), hsl(var(--h) var(--s) var(--l1)));
  background-blend-mode: overlay, normal;
}



  @import "_unused.scss";
  @import "_navigation.scss";
  @import "_sidebar.scss";
  @import "_banners.scss";
  @import "_slickers.scss";
  @import "_cards.scss";
  @import "_icons-buttons.scss";
