.carousel-item {
    height: auto;
    min-height: unset;

    .carousel-footer {
        padding: 20px;
    }

    .carousel-caption {
        bottom: unset;
        top: 15px;
        left: 40%;
        right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        h3 {
            font-size: 1.25rem;
        }
    }
}


header .carousel-item {
    .carousel-footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 0 !important;
    }
}
